
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\Mat }{\ensuremath {\operatorname {Mat}}}\)

\(\newcommand {\Kern }{\ensuremath {\operatorname {Kern}}}\)

\(\newcommand {\Bild }{\ensuremath {\operatorname {Im}}}\)

\(\newcommand {\ord }{\ensuremath {\operatorname {ord}}}\)

\(\newcommand {\ggT }{\ensuremath {\operatorname {ggT}}}\)

\(\newcommand {\Stab }{\ensuremath {\operatorname {Stab}}}\)

\(\newcommand {\sgn }{\ensuremath {\operatorname {sgn}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\grad }{\ensuremath {\operatorname {grad}}}\)

\(\renewcommand {\i }{\ensuremath {\text {i}}}\)

\(\newcommand {\Prim }{\ensuremath {\operatorname {Prim}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\Gal }{\ensuremath {\operatorname {Gal}}}\)

\(\newcommand {\Kon }{\ensuremath {\operatorname {Kon}}}\)

\(\renewcommand {\F }{\ensuremath {\mathbb {F}}}\)

\(\renewcommand {\U }{\ensuremath {\mathcal {U}}}\)

\(\newcommand {\Z }{\ensuremath {\mathcal {Z}}}\)

\(\newcommand {\Char }{\ensuremath {\operatorname {char}}}\)

\(\newcommand {\dcup }{\ensuremath {\mathbin {\dot {\cup }}}}\)

\(\newcommand {\bigdcup }{\ensuremath {\mathop {\dot {\bigcup }}}}\)

\(\newcommand {\nt }{\ensuremath {\mathbin {\vartriangleleft }}}\)

\(\newcommand {\teilt }{\ensuremath {\mathbin {|}}}\)

\(\newcommand {\notteilt }{\ensuremath {\mathbin {\!\not |}}}\)

\(\newcommand {\erzeugnis }[1]{\ensuremath {\left \langle #1\right \rangle }}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'(d)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'(e)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'(d)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'(e)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="zerfaellungskoerper">Zerfällungskörper</h2>

</p>


<p>
<em>Bemerkung</em>: In diesem Abschnitt sollen folgende Fragen gekla&#x0308;rt werden:<br />
Es gilt z.&#x202f;B. \((\rational (\sqrt {2}))(\sqrt {3}) = \rational (\sqrt {2} + \sqrt {3})\). Gilt dies fu&#x0308;r alle \(a_1, a_2 \in \rational \), d.&#x202f;h. gibt es immer ein \(a_3 \in \rational \)
mit \((\rational (a_1))(a_2) = \rational (a_3)\)?<br />
Der Satz von Kronecker konstruiert fu&#x0308;r ein irreduzibles Polynom \(f\) einen Ko&#x0308;rper \(K[x]/\erzeugnis {f(x)}\), sodass \(f(x)\) mindestens eine Lo&#x0308;sung hat. Gibt es einen Ko&#x0308;rper, der alle
Nullstellen entha&#x0308;lt?<br />
Was sind die Ko&#x0308;rpererweiterungen endlicher Ko&#x0308;rper? Dazu geho&#x0308;ren z.&#x202f;B. die Ko&#x0308;rper \(\integer /p\integer \) fu&#x0308;r \(p\) Primzahl (wenn \(n\) nicht prim ist, ist
\(\integer /n\integer \) kein Ko&#x0308;rper, da Nullteiler vorhanden sind).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Zerfa&#x0308;llungsko&#x0308;rper</b>:&#x2003; Seien \(K\) ein Ko&#x0308;rper, \(f(x) \in K[x] \ K\) ein nicht-konstantes Polynom und \(L/K\) eine Ko&#x0308;rpererweiterung.<br />
Dann heißt \(L\) <em><span class="dashuline" >Zerfa&#x0308;llungsko&#x0308;rper</span></em> von \(f(x)\) u&#x0308;ber \(K\), falls es \(a_1, \dotsc , a_n \in L\) und \(c \in K\) gibt mit<br />
\(f(x) = c \cdot \prod _{i=1}^n (x - a_i)\) und \(L = K(a_1, \dotsc , a_n)\).
</p>

<p>
<em>Bemerkung</em>: Das bedeutet, dass \(L\) erzeugt ist u&#x0308;ber \(K\) von den Nullstellen \(a_i\) von \(f(x)\). \(L\) existiert, denn \(K\) besitzt einen algebraischen Abschluss \(\overline {K}\), in dem alle Nullstellen
\(a_1, \dotsc , a_n\) existieren.<br />
Der Satz von Kronecker liefert nicht immer einen Zerfa&#x0308;llungsko&#x0308;rper, z.&#x202f;B. gilt fu&#x0308;r \(f(x) = x^3 - 2\), dass \(\rational [x]/\erzeugnis {x^3 - 2} \simeq \rational (\sqrt [3]{2})\).
Dabei ist \([\rational (\sqrt [3]{2}) : \rational ] = 3\) (Grad des Minimalpolynoms \(f(x)\)), allerdings ist die \(\rational \)-Dimension des Zerfa&#x0308;llungsko&#x0308;rpers gro&#x0308;ßer als \(3\).
</p>

<p>
<em>Bemerkung</em>: Der Zerfa&#x0308;llungsko&#x0308;rper \(L\) von \(f(x)\) ist eindeutig, denn es existiert ein Zerfa&#x0308;llungsko&#x0308;rper in \(\overline {K}\), d.&#x202f;h. \(K \subset L \subset
\overline {K} \subset \overline {L}\). Weil \(L/K\) algebraisch ist (jedes \(a_i\) ist Nullstelle von \(f(x)\)), ist in \(K \subset L \subset \overline {L}\) auch \(\overline {L}/K\) algebraisch. Da \(\overline
{K}/K\) ebenfalls algebraisch ist, muss auch \(\overline {L}/\overline {K}\) algebraisch sein (siehe U&#x0308;bungsblatt). Es gibt keine echte algebraische Ko&#x0308;rpererweiterung eines algebraisch abgeschlossenen
Ko&#x0308;rpers, d.&#x202f;h. es muss \(\overline {L} = \overline {K}\) gelten. Der algebraische Abschluss \(\overline {K} = \overline {L}\) ist eindeutig bis auf Isomorphie, also auch \(L\).
</p>

<p>
<em>Bemerkung</em>: \(f(x)\) muss nicht eindeutig sein, d.&#x202f;h. es gibt evtl. eventuell mehrere Polynome, sodass ein Ko&#x0308;rper Zerfa&#x0308;llungsko&#x0308;rper von jedem der Polynome ist.
</p>

<p>
<em>Beispiel</em>: Ein Beispiel ist \(f_1(x) = x^2 + 1 \in \real [x]\). Der Zerfa&#x0308;llungsko&#x0308;rper von \(f_1(x)\) ist \(\real (\i ) = \complex \). Man kann allerdings auch \(f_2(x) = (x^2 + 1)(x -
5)\) wa&#x0308;hlen (das Polynom muss nicht irreduzibel sein). Ein anderes Beispiel ist das irreduzible Polynom<br />
\(f_3(x) = (x - (1 + \i )) (x - (1 - \i )) = x^2 - 2x + 2 \in \real [x]\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Zerfa&#x0308;llungsko&#x0308;rper von Polynommenge</b>:&#x2003; Sei \(L/K\) eine Ko&#x0308;rpererweiterung und<br />
\(\Lambda \subset K[x] \setminus K\) eine Menge von nicht-konstanten Polynomen.<br />
Dann heißt \(L\) <em><span class="dashuline" >Zerfa&#x0308;llungsko&#x0308;rper</span></em> von \(\Lambda \) u&#x0308;ber \(K\), falls u&#x0308;ber \(L\) alle Polynome in \(\Lambda \) in Produkte von
Linearfaktoren zerfallen und \(L\) minimal mit dieser Eigenschaft ist, d.&#x202f;h. \(\forall _{L_0 \text { Körper},\; K \subset L_0 \subset L}\)<br />
\(((\text {über } L_0 \text { zerfallen alle Polynome in } \Lambda \text { in Produkte von Linearfaktoren}) \Rightarrow L_0 = L)\).
</p>

<p>
<b>normal</b>:&#x2003; Eine Ko&#x0308;rpererweiterung \(L/K\) heißt <em><span class="dashuline" >normal</span></em>, falls es eine Menge \(\Lambda \subset K[x] \setminus K\) von nicht-konstanten Polynomen
gibt, sodass \(L\) der Zerfa&#x0308;llungsko&#x0308;rper von \(\Lambda \) ist.
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >A&#x0308;quivalenzen zu normal</span>):</span> Fu&#x0308;r \(K \subset L \subset \overline {K}\) sind a&#x0308;quivalent:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(\forall _{f \in K[x]}\; ((f \text { irreduzibel, hat Nullstelle in } L) \Rightarrow (f \text { über } L \text { Produkt von Linearfaktoren}))\).
</p>
</li>
<li class="list-item-f1"><p>\(L/K\) ist normal.
</p>
</li>
<li class="list-item-f2"><p>Fu&#x0308;r jeden \(K\)-Homomorphismus \(\varphi \colon L \rightarrow \overline {K}\) gilt \(\varphi (L) = L\).
</p>
</li>
</ul>



<h2 id="separable-elemente">Separable Elemente</h2>
<em>Bemerkung</em>: Ein Problem ist, dass irreduzible Polynome theoretisch mehrfache Nullstellen haben ko&#x0308;nnen. Dieses Problem wird wegdefiniert.
</p>

<p>
<b>Separabilita&#x0308;tsgrad</b>:&#x2003; Sei \(K \subset L \subset \overline {K}\).<br />
Dann ist \([L:K]_S := \#\{\varphi \colon L \rightarrow \overline {K} \;|\; \varphi \; K\text {-Homom.}\}\) der <em><span class="dashuline" >Separabilita&#x0308;tsgrad</span></em> von \(L/K\).
</p>

<p>
<b>separabel</b>:&#x2003; Seien \(K \subset L \subset \overline {K}\) und \(L/K\) endlich.<br />
Dann heißt \(L/K\) <em><span class="dashuline" >separabel</span></em>, falls \([L:K]_S = [L:K]\).
</p>

<p>
<b>separables Element</b>:&#x2003; Sei \(K \subset L \subset \overline {K}\).<br />
Ein Element \(a \in L\) heißt <em><span class="dashuline" >separabel</span></em> u&#x0308;ber \(K\), falls \(m_{a,K}\) nur einfache Nullstellen in \(\overline {K}\) hat.
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(L/K\) normal ist \([L:K]_S = |\Aut _K(L)|\), da fu&#x0308;r \(\varphi \colon L \rightarrow \overline {K}\) \(K\)-Homom. \(\varphi (L) = L\) gilt und daher \(\varphi
|_L\colon L \rightarrow L\) nach obiger Proposition ein \(K\)-Automorphismus ist.<br />
Fu&#x0308;r \(K(a)/K\) algebraisch gilt \([K(a) : K]_S = \#\text {NS von } m_{a,K}\).<br />
Ist \(L/K\) eine endliche Ko&#x0308;rpererweiterung mit \(L = K(a_1, \dotsc , a_n)\), so kann man schrittweise die Elemente dazuadjungieren, d.&#x202f;h. mit \(L_0 = K\) und \(L_i = L_{i-1}(a_i)\) gilt \([L:K] =
\prod _{i=1}^n [L_i : L_{i-1}]\) und ebenso \([L:K]_S = \prod _{i=1}^n [L_i : L_{i-1}]_S\) nach dem letzten Theorem im letzten Abschnitt (Teil (a)). Da \(L_i / L_{i-1}\) einfach ist, gilt \(L_i \simeq
L_{i-1}[x]/\erzeugnis {m_{a_i,L_{i-1}}}\) mit \([L_i : L_{i-1}] = \grad (m_{a_i,L_{i-1}}) \ge \# \text {NS von } m_{a_i,L_{i-1}} = [L_i : L_{i-1}]_S\) nach Teil (b) der Proposition davor, d.&#x202f;h.
\([L:K]_S \le [L:K]\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Fu&#x0308;r \(f(x) \in \rational [x]\) und \(a\) Nullstelle von \(f(x)\) mit Vielfachheit \(\ell \) ist \(f(x) = (x - a)^\ell g(x)\) mit \(g(a) \not = 0\). Nach Produktregel gilt \(f’(x) = \ell (x
- a)^{\ell -1} g(x) + (x - a)^\ell g’(x)\).<br />
Ist \(\ell &gt; 1\), so ist \(f’(a) = 0\). Ist \(\ell = 1\), so ist \(f’(a) = g(a) \not = 0\).<br />
Daher hat \(f(x)\) die Nullstelle \(a\) mit Vielfachheit \(\ell &gt; 1\) genau dann, wenn \(f’(a) = 0\) ist.
</p>

<p>
<b>Ableitung von Polynomen</b>:&#x2003; Seien \(K\) ein Ko&#x0308;rper und \(f(x) \in K[x]\). Das Polynom \(f’(x)\) ist definiert durch \((x^n)’ := n x^{n-1}\) (dabei ist \(n := 1 + \dotsb + 1\)) und
Additivita&#x0308;t von \(’\).
</p>

<p>
<em>Bemerkung</em>: Somit gelten Produkt-/Kettenregel auch allgemein und obiges Argument la&#x0308;sst sich verallgemeinern.
</p>

<p>
<em>Beispiel</em>: Fu&#x0308;r \(K = \F _p := \integer /p\integer \) und \(f(x) = x^p\) gilt \(f’(x) = p x^{p-1} = 0\), aber \(f(x)\) nicht konstant.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Separabilita&#x0308;t und Ableitung</span>): Sei \(a \in \overline {K}\). Dann ist \(a\) separabel u&#x0308;ber \(K\) \(\iff \) \(m_{a,K}’ \not = 0\).
</p>

<p>
<b>Charakteristik</b>:&#x2003; Sei \(K\) ein Ko&#x0308;rper. Die <em><span class="dashuline" >Charakteristik</span></em> \(\Char (K)\) ist die kleinste natu&#x0308;rliche Zahl \(n \in \natural \) mit \(1 + \dotsb
+ 1 = 0\). Falls keine solche Zahl existiert, ist \(\Char (K) := 0\).
</p>

<p>
<em>Beispiel</em>: Es gilt \(\Char (\F _p) = p\) fu&#x0308;r \(p\) prim und \(\Char (\rational ) = 0\). \(\Char (K)\) ist immer eine Primzahl, denn fu&#x0308;r \(\Char (K) = n = ab\) mit \(a, b &gt; 1\) gilt \(0 =
\overset {n\text {-mal}}{1 + \dotsb + 1} = \overset {a\text {-mal}}{(1 + \dotsb + 1)} \cdot \overset {b\text {-mal}}{(1 + \dotsb + 1)}\), d.&#x202f;h. \(\overset {a\text {-mal}}{(1 + \dotsb +
1)} = 0\) oder \(\overset {b\text {-mal}}{(1 + \dotsb + 1)} = 0\), ein Widerspruch zur Minimalita&#x0308;t von \(n\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Separabilita&#x0308;t</span>):</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>\(L/K\) ist separabel genau dann, wenn \(\forall _{a \in L}\) (\(a\) ist separabel u&#x0308;ber \(K\)).
</p>
</li>
<li class="list-item-f4"><p>\(L/K\) ist separabel genau dann, wenn \(\exists _{a_1, \dotsc , a_n \in L \text { separabel über } K}\; L = K(a_1, \dotsc , a_n)\).
</p>
</li>
<li class="list-item-f5"><p>Fu&#x0308;r \(\Char (K) = 0\) und \(L/K\) endlich ist \(L/K\) separabel.
</p>
</li>
<li class="list-item-f6"><p>Fu&#x0308;r \(\Char (K) = p &gt; 0\), \(L/K\) endlich und \(p \notteilt [L:K]\) ist \(L/K\) separabel.
</p>
</li>
<li class="list-item-f7"><p>Fu&#x0308;r \(K \subset M \subset L\) ist \(L/K\) separabel genau dann, wenn \(L/M\) und \(M/K\) separabel sind.
</p>
</li>
</ul>

<p>
<span class="uline" ><em>Theorem</em> (<span class="textsl" >Satz vom primitiven Element</span>):</span> Sei \(L/K\) endlich und separabel.<br />
Dann gibt es ein \(a \in L\) mit \(L = K(a)\) (d.&#x202f;h. \(L/K\) ist einfach).
</p>



<h2 id="endliche-koerper">Endliche Körper</h2>

</p>


<p>
<span class="uline" ><em>Theorem</em> (<span class="textsl" >Klassifikation der endlichen Ko&#x0308;rper</span>):</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f8"><p>Seien \(n \in \natural \) und \(p\) eine Primzahl. Dann ist der Zerfa&#x0308;llungsko&#x0308;rper \(L\) von \(f(x) = x^{p^n} - x\) ein Erweiterungsko&#x0308;rper von \(\F _p = \integer /p\integer \) mit
\([L:\F _p] = n\).<br />
Es gilt \(|L| = p^n\) und \(L = \{\text {NS von } f(x)\}\). \(L/\F _p\) ist algebraisch, separabel und normal. Man bezeichnet \(L =: \F _q\) fu&#x0308;r \(q := p^n\) (es gilt i.&#x202f;A. \(L \not = \integer
/p^n\integer \) fu&#x0308;r \(n &gt; 1\)!).
</p>
</li>
<li class="list-item-f9"><p>\(\F _q\) ist bis auf Isomorphie der einzige Ko&#x0308;rper mit \(q = p^n\) Elementen.<br />
Jeder endliche Ko&#x0308;rper ist zu genau einem \(\F _q\) isomorph.
</p>
</li>
<li class="list-item-f10"><p>Die Gruppe \(\Aut _{\F _p}(\F _q)\) ist zyklisch von Ordnung \(n\) erzeugt von \(Fr\colon \F _q \rightarrow \F _q\), \(x \mapsto x^p\)<br />
(<em><span class="dashuline" ><span class="textsc" >Frobenius</span>-Automorphismus</span></em>).
</p>
</li>
</ul>



<h2 id="galoiserweiterungen-und-galoisgruppen"><span style="font-variant: small-caps;">Galois</span>erweiterungen und <span style="font-variant: small-caps;">Galois</span>gruppen</h2>

</p>


<p>
<em>Bemerkung</em>: Gesucht wird ein Zusammenhang zwischen den Ko&#x0308;rpererweiterungen \(L/K\) und den Automorphismengruppen \(\Aut _K(L)\) („Symmetrien“). Dabei sollen Aussagen u&#x0308;ber die eine Seite
Aussagen u&#x0308;ber die andere Seite ermo&#x0308;glichen. Ein Beispiel, dass fu&#x0308;r sinnvolle Aussagen allerdings Voraussetzungen notwendig sind, ist \(L/K\) mit \(K = \rational \) und \(L = \rational (\sqrt
[3]{2})\). \(x^3 - 2\) hat nur eine reelle Wurzel, es gilt \(\rational (\sqrt [3]{2}) \subset \real \), d.&#x202f;h. \(\Aut _\rational (\rational (\sqrt [3]{2})) = \{\id _{\sqrt [3]{2}}\}\), da \(\rational
\)-Automorphismen \(\rational \) punktweise festlassen und Nullstellen von \(x^3 - 2\) auf Nullstellen wieder abbilden (hier gibt es allerdings nur eine Wahl). Eine Voraussetzung muss also Normalita&#x0308;t sein.
</p>

<p>
<b><span class="textsc" >Galois</span>erweiterung, <span class="textsc" >Galois</span>gruppe</b>:&#x2003; Eine Ko&#x0308;rpererweiterung \(L/K\) heißt<br />
<em><span class="dashuline" ><span class="textsc" >Galois</span>erweiterung</span></em> oder <em><span class="dashuline" ><span class="textsc" >galois</span>sch</span></em>, falls \(L/K\) normal und
separabel ist.<br />
Die Gruppe \(\Aut _K(L) =: \Gal (L/K) = G(L/K)\) heißt dann <em><span class="dashuline" ><span class="textsc" >Galois</span>gruppe</span></em> von \(L/K\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(L/K\) normal und separabel gilt<br />
\(|\Aut _K(L)| = [L:K] = [L:K]_S = \{\varphi \colon L \rightarrow \overline {K} \;|\; \varphi \;K\text {-Homomorphismus}\}\).
</p>

<p>
<em>Beispiel</em>: Gesucht ist der Zerfa&#x0308;llungsko&#x0308;rper \(L\) von \(f(x) = x^3 - 2\) u&#x0308;ber \(K = \rational \). Die Nullstellen von \(f(x)\) sind \(\{\sqrt [3]{2}, \sqrt [3]{2} e^{2\pi \i
/3}, \sqrt [3]{2} e^{4\pi \i /3}\}\). Wa&#x0308;hlt man \(L = \rational (\sqrt [3]{2}, e^{2\pi \i /3})\), so sind alle Nullstellen von \(f(x)\) in \(L\) enthalten. Es ist \([\rational (\sqrt [3]{2}) :
\rational ] = 3\), da das Minimalpolynom von \(\sqrt [3]{2}\) gleich \(f(x)\) ist. \(e^{2\pi \i /3}\) ist eine Nullstelle von \(x^3 - 1 = (x - 1)(x^2 + x + 1)\), d.&#x202f;h. das Minimalpolynom von \(\sqrt
[3]{2}\) u&#x0308;ber \(\rational (\sqrt [3]{2})\) ist \(x^2 + x + 1\) (bei echt kleinerem Grad wa&#x0308;re \(e^{2\pi \i /3}\) in \(\rational (\sqrt [3]{2})\)).<br />
Somit ist \([\rational (\sqrt [3]{2}, e^{2\pi \i /3}) : \rational (\sqrt [3]{2})] = 2\) und \([L : \rational ] = 6\). Weil \(L/\rational \) galoissch ist, muss es \(|\Aut _\rational (L)| = [L:\rational ]
= 6\) Automorphismen geben.<br />
Ein \(\rational \)-Automorphismus permutiert immer die Nullstellen von jedem Polynom, d.&#x202f;h. fu&#x0308;r \(f(x)\) gilt \(\sqrt [3]{2} \mapsto \dotsb \in \{\sqrt [3]{2}, \sqrt [3]{2} e^{2\pi \i /3},
\sqrt [3]{2} e^{4\pi \i /3}\}\) und fu&#x0308;r \(x^2 + x + 1\) gilt \(e^{2\pi \i /3} \mapsto \dotsb \in \{e^{2\pi \i /3}, e^{4\pi \i /3}\}\).<br />
Jeder \(\rational \)-Automorphismus \(\sigma \colon L \rightarrow L\) ist durch die Bilder von \(\sqrt [3]{2}\) und \(e^{2\pi \i /3}\) festgelegt. Somit gibt es fu&#x0308;r jede Wahl der Bilder einen Automorphismus
und \(\Aut _K(L) \simeq \Sigma _3\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Fixko&#x0308;rper</b>:&#x2003; Seien \(L\) ein Ko&#x0308;rper und \(G &lt; \Aut (L)\) eine Untergruppe der Automorphismengruppe von \(L\). Dann heißt \(L^G := \{a \in L \;|\; \forall _{\varphi \in
G}\; \varphi (a) = a\}\) <em><span class="dashuline" >Fixko&#x0308;rper</span></em> von \(G\)<br />
(\(L^G\) ist in der Tat ein Ko&#x0308;rper).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >\(L^{\Gal (L/K)} = K\)</span>):</span> Sei \(L/K\) eine Galoiserweiterung mit Galoisgruppe \(G = \Gal (L/K)\).<br />
Dann gilt \(L^G = K\), d.&#x202f;h. \(K\) ist der Fixko&#x0308;rper der ganzen Galoisgruppe.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" ><span class="textsc" >Galois</span>erweiterung \(L/L^H\)</span>):</span><br />
Seien \(L\) ein Ko&#x0308;rper und \(H \subset \Aut (L)\) eine endliche Untergruppe.<br />
Dann ist \(L/L^H\) eine Galoiserweiterung mit Galoisgruppe \(\Gal (L/L^H) = H\) und \([L : L^H] = |H|\).
</p>



<h2 id="der-hauptsatz-der-galoistheorie">Der Hauptsatz der <span style="font-variant: small-caps;">Galois</span>theorie</h2>

</p>


<p>
<span class="uline" ><em>Theorem</em> (<span class="textsl" >Hauptsatz der <span class="textsc" >Galois</span>theorie</span>):</span><br />
Seien \(L/K\) eine endliche Galoiserweiterung, \(\U := \{H \text { Gruppe} \;|\; H &lt; \Gal (L/K)\}\) und<br />
\(\Z := \{M \text { Körper} \;|\; K \subset M \subset L\}\). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f11"><p>Dann gibt es zwei zueinander inverse Bijektionen \(\alpha \colon \Z \rightarrow \U \), \(M \mapsto \Gal (L/M)\) und \(\beta \colon \U \rightarrow \Z \), \(H \mapsto L^H\) (dabei ist \(L/M\)
tatsa&#x0308;chlich galoissch).
</p>
</li>
<li class="list-item-f12"><p>\(\alpha \) und \(\beta \) kehren Inklusionen um, d.&#x202f;h. aus \(M \subset M’\) folgt \(\alpha (M) \supset \alpha (M’)\) und aus \(H \subset H’\) folgt \(\beta (H) \supset \beta (H’)\).
</p>
</li>
<li class="list-item-f13"><p>Fu&#x0308;r \(H \in \U \) und \(\varphi \in \Gal (L/K)\) gilt \(\varphi (L^H) = L^{\varphi H \varphi ^{-1}}\).
</p>
</li>
<li class="list-item-f14"><p>Fu&#x0308;r \(M \in \Z \) ist \(M/K\) normal genau dann, wenn \(\Gal (L/M) \nt \Gal (L/K)\).
</p>
</li>
<li class="list-item-f15"><p>In diesem Fall gibt es einen surjektiven Gruppenhomomorphismus<br />
\(\gamma \colon \Gal (L/K) \rightarrow \Gal (M/K)\) mit \(\Kern (\gamma ) = \Gal (L/M)\) und es gilt<br />
\(\Gal (M/K) \simeq \Gal (L/K)/\Gal (L/M)\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Als Beispiel betrachtet man den Zerfa&#x0308;llungsko&#x0308;rper \(L\) von \(f(x) = x^4 - 2\) u&#x0308;ber \(\rational \). \(f(x)\) hat die vier Nullstellen \(\pm \sqrt [4]{2}\) und \(\pm \i
\sqrt [4]{2}\). Es gilt \([\rational (\sqrt [4]{2}):\rational ] = 4\), da \(f(x) = x^4 - 2\) das Minimalpolynom von \(\sqrt [4]{2}\) ist (irreduzibel). Es gilt \(L = \rational (\sqrt [4]{2}, \i )\), wie man sich
leicht u&#x0308;berlegt. Dabei ist \([\rational (\sqrt [4]{2}, \i ):\rational (\sqrt [4]{2})] = 2\), da \(x^2 + 1\) das Minimalpolynom von \(\i \) u&#x0308;ber \(\rational (\sqrt [4]{2})\) ist. Also gilt
fu&#x0308;r den Grad der Ko&#x0308;rpererweiterung \(L/\rational \), dass \([L:\rational ] = 8\). \(L/\rational \) ist eine Galoiserweiterung (jede Erweiterung u&#x0308;ber \(\rational \) ist wegen \(\Char
\rational = 0\) separabel) mit \(|\Gal (L/\rational )| = [L:\rational ] = 8\).
</p>

<p>
Wie sehen die acht Automorphismen aus? Automorphismen \(\sigma \in \Gal (L/\rational )\) sind durch \(\sigma (\sqrt [4]{2})\) und \(\sigma (\i )\) eindeutig festgelegt, da \(\{1, \sqrt [4]{2}, \sqrt {2},
\sqrt [4]{8}, \i , \i \sqrt [4]{2}, \i \sqrt {2}, \i \sqrt [4]{8}\}\) eine \(\rational \)-Basis von \(L\) ist.<br />
Fu&#x0308;r \(\sigma (\sqrt [4]{2})\) gibt es vier Mo&#x0308;glichkeiten, da Nullstellen von Polynomen (z.&#x202f;B. von \(f(x)\)) auf Nullstellen abgebildet werden mu&#x0308;ssen. Analog gibt es fu&#x0308;r
\(\sigma (\i )\) zwei Mo&#x0308;glichkeiten.
</p>

<p>
Man stellt fest, dass man alle Automorphismen in \(\Gal (L/\rational )\) als Komposition von zwei Automorphismen \(\sigma , \tau \) mit \(\sigma \colon \sqrt [4]{2} \mapsto \i \sqrt [4]{2}\) und \(\tau \colon
\i \mapsto -\i \) schreiben kann:<br />
Es gilt \(\sigma ^0 = \id \),&#x2003;&#x2003;\(\sigma ^1\colon \sqrt [4]{2} \mapsto \i \sqrt [4]{2}\),&#x2003;&#x2003;\(\sigma ^2\colon \sqrt [4]{2} \mapsto -\sqrt
[4]{2}\),&#x2003;&#x2003;\(\sigma ^3\colon \sqrt [4]{2} \mapsto -\i \sqrt [4]{2}\) sowie<br />
\(\tau \colon \i \mapsto -\i \),&#x2003;&#x2003;\(\tau \circ \sigma \colon \sqrt [4]{2} \mapsto -\i \sqrt [4]{2},\; \i \mapsto -\i \),&#x2003;&#x2003;\(\tau \circ \sigma ^2\colon \sqrt [4]{2}
\mapsto -\sqrt [4]{2},\; \i \mapsto -\i \),<br />
\(\tau \circ \sigma ^3\colon \sqrt [4]{2} \mapsto \i \sqrt [4]{2},\; \i \mapsto -\i \). Das sind die gesuchten acht Automorphismen.<br />
Die zyklische Untergruppe \(H_1 = \{\id = \sigma ^0, \sigma ^1, \sigma ^2, \sigma ^3\}\) von \(\Gal (L/\rational )\) ist ein Normalteiler, da sie Index \(2\) hat. Die Galoisgruppe \(\Gal (L/\rational )\) ist
isomorph zur Symmetriegruppe eines Quadrats (Diedergruppe), wobei \(\sigma \) die Drehung und \(\tau \) die Spiegelung ist.
</p>

<p>
Was sind die Untergruppen von \(\Gal (L/\rational )\)? Diese haben Ordnung \(1\), \(2\), \(4\) oder \(8\).<br />
Gruppen \(H = \{\id , g\}\) der Ordnung \(2\) besitzen zwei selbstinverse Elemente. Von den oben aufgeza&#x0308;hlten Elementen besitzen \(\id \) Ordnung \(1\), \(\sigma \) und \(\sigma ^3\) Ordnung \(4\) und alle
anderen Ordnung \(2\). Also gibt es \(5\) Untergruppen der Ordnung \(2\).<br />
Gruppen der Ordnung \(4\) sind zum einen \(H_1 = \erzeugnis {\sigma }\). Alle anderen Gruppen sind aufgrund der Primzahlquadratordnung abelsch, d.&#x202f;h. diese sind isomorph zu \(\integer /2\integer \times
\integer /2\integer \), erzeugt von kommutierenden Elementen der Ordnung \(2\).<br />
Dies sind z.&#x202f;B. \(\sigma ^2\) zusammen mit \(\tau \) und \(\sigma ^2\) zusammen mit \(\sigma \circ \tau \), also gibt es \(3\) Untergruppen der Ordnung \(H\).
</p>



<div class="displaymath" >

<a id="autoid-5" ></a >

<p>
<span
    id="lateximage-algebra-5"
    class="lateximagesource"
><!--
          Gal(L/Q)


     H2     H1       H3


J4   J2      J1      J3   J5


            {id}
--><img
   src="/class-notes/images/lectures/algebra/image-5.svg"
   alt="(4.1–4.0) \{begin}{align*} \begin{xy} \xymatrix { &amp; &amp; \Gal (L/\rational ) \\ &amp; H_2 \ar @{-}[ur] &amp; H_1 \ar @{-}[u] &amp; H_3 \ar @{-}[ul] \\ J_4 \ar @{-}[ur] &amp; J_2
\ar @{-}[u] &amp; J_1 \ar @{-}[ul] \ar @{-}[u] \ar @{-}[ur] &amp; J_3 \ar @{-}[u] &amp; J_5 \ar @{-}[ul] \\ &amp; &amp; \{\id \} \ar @{-}[ull] \ar @{-}[ul] \ar @{-}[u] \ar @{-}[ur] \ar
@{-}[urr] } \end {xy} \{end}{align*} "
   style=""
   class="lateximage"
></span>
</p>
</div>

<p>
Dabei ist \(J_4 = \{\id , \sigma ^2 \circ \tau \}\), \(J_2 = \{\id , \tau \}\), \(J_1 = \{\id , \sigma ^2\}\), \(J_3 = \{\id , \sigma \circ \tau \}\) und \(J_5 = \{\id , \sigma ^3 \circ \tau \}\) sowie
\(H_2 = \{\id , \sigma ^2, \tau , \sigma ^2 \circ \tau \}\), \(H_1 = \{\id , \sigma , \sigma ^2, \sigma ^3\}\) und \(H_3 = \{\id , \sigma ^2, \sigma \circ \tau , \sigma ^3 \circ \tau \}\).
</p>

<p>
Nun mu&#x0308;ssen die nach dem Hauptsatz der Galoistheorie entsprechenden Zwischenko&#x0308;rper zugeordnet werden. Fu&#x0308;r \(L^{H_1}\) gilt wegen \(H_1 = \erzeugnis {\sigma }\), \([L^{H_1}:\rational ]
= \frac {[L:\rational ]}{[L:L^{H_1}]} = \frac {[L:\rational ]}{|H_1|} = \frac {8}{4} = 2\) und \(\sigma (\i ) = \i \), d.&#x202f;h. \(\i \in L^{H_1}\) und somit \(L^{H_1} = \rational (\i )\).<br />
\(L^{H_2}\) kann aus obiger Basis berechnet werden (Koeffizientenvergleich): Analog gilt ebenfalls \([L^{H_2}:\rational ] = 2\) und \(\sqrt {2} \in L^{H_2}\), da \(\sqrt {2}\) fest unter \(\tau \) und \(\sigma ^2\)
bleibt. Also ist \(L^{H_2} = \rational (\sqrt {2})\).<br />
Auf analoge Weise ist \(L^{H_3} = \rational (\i \sqrt {2})\), da \(H_3\) das Basiselement \(\i \sqrt {2}\) festla&#x0308;sst.
</p>

<p>
\(L^{J_1}\) bestimmt man, indem man die Inklusionen betrachtet: Wegen \(L^{H_i} \subset L^{J_1}\) fu&#x0308;r \(i = 1, 2, 3\) ist \(\i , \sqrt {2} \in L^{J_1}\), d.&#x202f;h. \(\rational (\i , \sqrt {2})
\subset L^{J_1}\). Die Erweiterung \(\rational (\i , \sqrt {2})/\rational \) hat allerdings schon Grad \(4\) (und \([L^{J_1}:\rational ] = 4\)), weswegen \(L^{J_1} = \rational (\i , \sqrt {2})\) gilt.<br />
Da \(\rational (\sqrt [4]{2})\) ein echter Erweiterungsko&#x0308;rper von \(L^{H_2} = \rational (\sqrt {2})\) ist (und dieser Ko&#x0308;rper kein Erweiterungsko&#x0308;rper von \(L^{H_3}\) ist), muss
\(L^{J_2}\) oder \(L^{J_4}\) gleich \(\rational (\sqrt [4]{2})\) sein. Wegen \(\tau (\sqrt [4]{2}) = \sqrt [4]{2}\) und \(J_2 = \erzeugnis {\tau }\) gilt daher \(\rational (\sqrt [4]{2}) = L^{J_2}\).<br />
Der andere Ko&#x0308;rper \(L^{J_4}\) ist dann gleich \(\rational (\i \sqrt [4]{2})\) aus analogen Gru&#x0308;nden.
</p>

<p>
Wegen \(J_3 = \{\id , \sigma \circ \tau \}\) und \(\sigma \circ \tau \colon \i \mapsto -\i \), \(\sqrt [4]{2} \mapsto \i \sqrt [4]{2}\) gilt \(\i \sqrt [4]{2} \mapsto \sqrt [4]{2}\), also<br />
\(\sqrt [4]{2} + \i \sqrt [4]{2} \mapsto \sqrt [4]{2} + \i \sqrt [4]{2}\). Somit ist \((1 + \i )\sqrt [4]{2} \in L^{J_3}\). Da die Erweiterung \(\rational ((1 + \i )\sqrt [4]{2})/\rational \) bereits
Grad \(4\) besitzt (da \(((1 + \i )\sqrt [4]{2})^2 = 2\i \sqrt {2}\) und \((2\i \sqrt {2})^2 = -8 \in \rational \)), muss \(L^{J_3} = \rational ((1 + \i )\sqrt [4]{2})\) gelten.<br />
Der andere Ko&#x0308;rper ist \(L^{J_5} = \rational ((1 - \i )\sqrt [4]{2})\) aus analogen Gru&#x0308;nden.
</p>

<p>
Somit sieht das vollsta&#x0308;ndige Diagramm aller Zwischenko&#x0308;rper von \(L/\rational \) folgendermaßen aus:
</p>


<div class="displaymath" >

<a id="autoid-6" ></a >

<p>
<span
    id="lateximage-algebra-6"
    class="lateximagesource"
><!--
                      Q

           p                         p
         Q( 2)      Q(i)          Q(i 2)

   p       p          p                  p              p
Q(i 2)            Q(i, 2)       Q((1 + i) 2)   Q((1 − i) 2)
   4       4                             4              4
         Q( 2)

                       p
                 L = Q( 2, i)
                       4
--><img
   src="/class-notes/images/lectures/algebra/image-6.svg"
   alt="(4.1–4.0) \{begin}{align*} \begin{xy} \xymatrix { &amp; &amp; \rational \\ &amp; \rational (\sqrt {2}) \ar @{-}[ur] &amp; \rational (\i ) \ar @{-}[u] &amp; \rational (\i \sqrt {2})
\ar @{-}[ul] \\ \rational (\i \sqrt [4]{2}) \ar @{-}[ur] &amp; \rational (\sqrt [4]{2}) \ar @{-}[u] &amp; \rational (\i , \sqrt {2}) \ar @{-}[ul] \ar @{-}[u] \ar @{-}[ur] &amp; \rational ((1
+ \i )\sqrt [4]{2}) \ar @{-}[u] &amp; \rational ((1 - \i )\sqrt [4]{2}) \ar @{-}[ul] \\ &amp; &amp; L = \rational (\sqrt [4]{2}, \i ) \ar @{-}[ull] \ar @{-}[ul] \ar @{-}[u] \ar @{-}[ur] \ar
@{-}[urr] } \end {xy} \{end}{align*} "
   style=""
   class="lateximage"
></span>
</p>
</div>

{% endraw %}
</div>
{:/nomarkdown}
