
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\Mat }{\ensuremath {\operatorname {Mat}}}\)

\(\newcommand {\Kern }{\ensuremath {\operatorname {Kern}}}\)

\(\newcommand {\Bild }{\ensuremath {\operatorname {Im}}}\)

\(\newcommand {\ord }{\ensuremath {\operatorname {ord}}}\)

\(\newcommand {\ggT }{\ensuremath {\operatorname {ggT}}}\)

\(\newcommand {\Stab }{\ensuremath {\operatorname {Stab}}}\)

\(\newcommand {\sgn }{\ensuremath {\operatorname {sgn}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\grad }{\ensuremath {\operatorname {grad}}}\)

\(\renewcommand {\i }{\ensuremath {\text {i}}}\)

\(\newcommand {\Prim }{\ensuremath {\operatorname {Prim}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\Gal }{\ensuremath {\operatorname {Gal}}}\)

\(\newcommand {\Kon }{\ensuremath {\operatorname {Kon}}}\)

\(\renewcommand {\F }{\ensuremath {\mathbb {F}}}\)

\(\renewcommand {\U }{\ensuremath {\mathcal {U}}}\)

\(\newcommand {\Z }{\ensuremath {\mathcal {Z}}}\)

\(\newcommand {\Char }{\ensuremath {\operatorname {char}}}\)

\(\newcommand {\dcup }{\ensuremath {\mathbin {\dot {\cup }}}}\)

\(\newcommand {\bigdcup }{\ensuremath {\mathop {\dot {\bigcup }}}}\)

\(\newcommand {\nt }{\ensuremath {\mathbin {\vartriangleleft }}}\)

\(\newcommand {\teilt }{\ensuremath {\mathbin {|}}}\)

\(\newcommand {\notteilt }{\ensuremath {\mathbin {\!\not |}}}\)

\(\newcommand {\erzeugnis }[1]{\ensuremath {\left \langle #1\right \rangle }}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'(G1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'(G2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'(G3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  content:'(d)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'(O1)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'(O2)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  content:'(c)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="gruppen-homomorphismen-untergruppen">Gruppen, Homomorphismen, Untergruppen</h2>

</p>


<p>
<b>Gruppe</b>:&#x2003; Eine <em><span class="dashuline" >Gruppe</span></em> \((G, \ast )\) ist eine Menge \(G\) mit einer Abbildung<br />
\(\ast \colon G \times G \rightarrow G\), \((g_1, g_2) \mapsto g_1 \ast g_2\), sodass gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><em><span class="dashuline" >Assoziativita&#x0308;t</span></em>: \(\forall _{g_1, g_2, g_3 \in G}\; g_1 \ast (g_2 \ast g_3) = (g_1 \ast g_2) \ast g_3\)
</p>
</li>
<li class="list-item-f1"><p><em><span class="dashuline" >neutrales Element</span></em>: \(\exists _{e \in G} \forall _{g \in G}\; e \ast g = g = g \ast e\)
</p>
</li>
<li class="list-item-f2"><p><em><span class="dashuline" >inverse Elemente</span></em>: \(\forall _{g \in G} \exists _{h = g^{-1} \in G}\; g \ast h = e = h \ast g\)
</p>
</li>
</ul>

<p>
<b>endlich, abelsch, zyklisch</b>:&#x2003; Eine Gruppe \((G, \ast )\) heißt
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p><em><span class="dashuline"      >endlich</span></em>, falls \(G\) eine endliche Menge ist,
</p>
</li>
<li class="list-item-f4"><p><em><span class="dashuline"      >abelsch</span></em> (<em><span class="dashuline" >kommutativ</span></em>), falls \(\forall _{g_1, g_2 \in G}\; g_1 \ast g_2 = g_2 \ast g_1\), und
</p>
</li>
<li class="list-item-f5"><p><em><span class="dashuline"      >zyklisch</span></em>, falls \(\exists _{g \in G}\; G = \{g^n \;|\; n \in \integer \}\)<br />
(dabei ist \(g^n = g \ast \dotsb   \ast g\), \(g^0 = e\) und \(g^{-n} = g^{-1} \ast \dotsb \ast g^{-1}\) fu&#x0308;r \(n \in \natural \)).
</p>
</li>
</ul>

<p>
<b>Gruppenhomomorphismus</b>:&#x2003; Seien \((G, \ast _G)\) und \((H, \ast _H)\) Gruppen. Eine Abbildung<br />
\(\varphi \colon G \rightarrow H\) heißt <em><span class="dashuline" >Gruppenhomomorphismus</span></em>, falls \(\forall _{g, g’ \in G}\; \varphi (g \ast _G g’) = \varphi (g) \ast _H \varphi (g’)\).

</p>

<p>
<em>Bemerkung</em>: Das neutrale Element einer Gruppe \((G, \cdot )\) ist eindeutig, denn sind \(e\) und \(e’\) neutrale Elemente, so gilt \(e = e \cdot e’ = e’\).<br />
Genauso ist das zu \(g\) inverse Element eindeutig, denn sind \(h\) und \(h’\) invers zu \(g\), so gilt<br />
\(g \cdot h = e = h’ \cdot g\), daraus folgt \(h = e \cdot h = (h’ \cdot g) \cdot h = h’ \cdot (g \cdot h) = h’ \cdot e = h’\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Die kleinste Gruppe ist \(G = \{e\}\) mit \(e \cdot e := e\) (\(G = \emptyset \) ist keine Gruppe, da kein neutrales Element vorhanden ist).<br />
Eine bekannte Gruppe ist \((\integer , +)\) mit \(e := 0\) und \(g^{-1} := -g\). Sie ist zyklisch (z.&#x202f;B. mit \(g = 1\) in obiger Definition). Dagegen ist \((\integer , \cdot )\) keine Gruppe, weil \(0\) kein
inverses Element besitzt.<br />
Ist \(X\) eine Menge, dann ist \(S(X) := \{f \colon X \rightarrow X \;|\; f\text { bijektiv}\}\) eine Gruppe mit \(f \ast g := g \circ f\) und \(e := \id _X\). Speziell ergibt sich fu&#x0308;r \(X = \{1,
\dotsc , n\}\) die symmetrische Gruppe \(\Sigma _n := S(X)\) der Permutationen von \(n\) Elementen.<br />
Ist \(V\) ein \(K\)-Vektorraum, dann ist \(\GL (V) = \{f \colon V \rightarrow V \;|\; f\text { linear, bijektiv}\}\) eine Gruppe, a&#x0308;hnlich wie eben \(S(X)\). Fu&#x0308;r \(\dim V = n\) ist \(V \simeq
K^n\) und \(\GL (V) \simeq \GL _n\) mit \(\GL _n\) der Gruppe der invertierbaren \(n \times n\)-Matrizen mit Eintra&#x0308;gen in \(K\).<br />
Fu&#x0308;r ein gleichseitiges Dreieck entspricht die Symmetriegruppe (Drehungen und Spiegelungen an Mittelsenkrechten, die jeden Punkt wieder auf einen Punkt u&#x0308;berfu&#x0308;hren) \(\Sigma _3\). Die
Symmetriegruppe eines Quadrates ist dagegen eine echte Teilmenge von \(\Sigma _4\), d.&#x202f;h. es gibt Permutationen der Ecken, die man nicht mit Drehungen und Spiegelungen erreichen kann.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Untergruppe</b>:&#x2003; Sei \((G, \ast )\) eine Gruppe.<br />
Eine Teilmenge \(H \subset G\) heißt <em><span class="dashuline" >Untergruppe</span></em> von \((G, \ast )\) (\(H &lt; G\)), falls \((H, \ast )\) eine Gruppe ist.<br />
Das bedeutet: \(\forall _{h_1, h_2 \in H}\; h_1 \ast h_2 \in H\), \(e \in H\) und \(\forall _{h \in H}\; h^{-1} \in H\).
</p>

<p>
<em>Beispiel</em>: \(H = (n\integer , +)\) ist eine Untergruppe von \(G = (\integer , +)\) fu&#x0308;r festes \(n \in \natural \).<br />
Es gilt \(g \in H \iff n \;|\; g\). Ist \(a \in \integer \), so kann man Division mit Rest durchfu&#x0308;hren, d.&#x202f;h. \(a = bn + r\) mit \(0 \le |r| &lt; n\). Damit kann man \(\integer \) in disjunkte
Mengen aufteilen:<br />
\(\integer = (n\integer ) \dcup (n\integer + 1) \dcup \dotsb \dcup (n\integer + (n - 1))\).
</p>



<h2 id="nebenklassen-und-normalteiler">Nebenklassen und Normalteiler</h2>

</p>


<p>
<b>Nebenklasse</b>:&#x2003; Seien \((G, \ast )\) eine Gruppe, \(H &lt; G\) und \(x \in G\). Die Menge \(xH := \{x \ast h \;|\; h \in H\}\) heißt <em><span class="dashuline" >Linksnebenklasse</span></em>
von \(x\). Entsprechend heißt \(Hx := \{h \ast x \;|\; h \in H\}\) <em><span class="dashuline" >Rechtsnebenklasse</span></em>.
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(x \in H\) gilt \(xH = \{x \ast h \;|\; h \in H\} = H\).<br />
Fu&#x0308;r \(x \notin H\) gibt es eine Bijektion zwischen \(H\) und \(xH\) (\(h \mapsto xh\)). Damit sind alle Linksnebenklassen gleich groß (bijektiv aufeinander abbildbar).<br />
Fu&#x0308;r \(x, y \in G\) gilt \(xH = yH\) oder \(xH \cap yH = \emptyset \) (daraus folgt, dass es eine Partition von \(G = \bigdcup x_i H\) fu&#x0308;r gewisse \(x_i \in G\) gibt).<br />
Definiert man \(x \sim _H y\) fu&#x0308;r \(xH = yH\) (\(\!\!\iff y^{-1} x \in H\)), so ist \(\sim _H\) eine A&#x0308;quivalenzrelation, deren A&#x0308;quivalenzklassen genau die Linksnebenklassen von \(H\) sind
(analog Rechtsnebenklassen).<br />
Im Beispiel \(G = \integer \), \(H = n\integer \) ist \(x \sim _H y \iff x - y \in H \iff x \equiv y \mod n\).<br />
Hier ist \(\integer /n\integer \) wieder eine Gruppe (\(\overline {a} + \overline {b} := (a + b) + n\integer \) fu&#x0308;r \(\overline {a} = a + n\integer \) und \(\overline {b} = b + n\integer \)).<br
/>
Im Allgemeinen bilden die Linksnebenklassen jedoch keine Gruppe:<br />
Fu&#x0308;r \(H &lt; G\) ist \((xH) \ast (yH) := (x \ast y)H\) i.&#x202f;A. nicht wohldefiniert.
</p>

<p>
<em>Beispiel</em>: Ein Beispiel dafu&#x0308;r ist \(G = \Sigma _3\) und \(H = \{\id , (1 2)\}\).<br />
Es gibt die drei Linksnebenklassen \(H = \id H\), \((2 3)H = \{(2 3), (1 2 3)\}\) und \((1 3)H = \{(1 3), (1 3 2)\}\).<br />
Damit ist \(\Sigma _3 = H \dcup (2 3)H \dcup (1 3)H\). \((23)H \ast (13)H\) ist mit obiger Verknu&#x0308;pfung nicht wohldefiniert, denn \((23)(13) = (132) \in (13)H\) und \((123)(13) = (12) \in H\), aber
\((13)H \cap H = \emptyset \).<br />
Verschiedene Repra&#x0308;sentanten liefern also verschiedene Ergebnisse.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Normalteiler</b>:&#x2003; Sei \(H &lt; G\). \(H\) heißt <em><span class="dashuline" >normal</span></em> (<em><span class="dashuline" >Normalteiler</span></em>, \(H \nt G\)), falls \(\forall _{g \in G}\;
gH = Hg\).
</p>

<p>
<em>Bemerkung</em>: Es gilt \(gH = Hg \iff gHg^{-1} = H \iff \forall _{h \in H}\; ghg^{-1} \in H\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Faktorgruppe</span>):</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f6"><p>Seien \(N \nt G\) und \(G/N := \{gN \;|\; g \in G\}\) die Menge der Linksnebenklassen.<br />
Dann ist \(G/N\) eine Gruppe mit der Multiplikation \(g_1 N \ast g_2 N := (g_1 \ast g_2) N\).<br />
\(G/N\) heißt <em><span class="dashuline" >Faktorgruppe</span></em> oder <em><span class="dashuline" >Quotientengruppe</span></em>.
</p>
</li>
<li class="list-item-f7"><p>Seien \(\varphi \colon G \rightarrow G’\) surjektiver Gruppenhomomorphismus,<br />
\(H = \Kern (\varphi ) := \{g \in G \;|\; \varphi (g) = e_{G’}\}\). Dann ist \(H \nt G\) und \(G/H \simeq G’\).
</p>
</li>
</ul>

<p>
<em>Bemerkung</em>: Teil (a) besagt, dass \(G/H\) eine Gruppe ist, falls \(H \nt G\).<br />
Andersherum: Ist \(H &lt; G\), sodass \(G/H\) eine Gruppe ist, so ist \(\varphi \colon G \rightarrow G/H\), \(g \mapsto gH\) ein surjektiver Gruppenhomomorphismus, d.&#x202f;h. \(H = \Kern (\varphi ) \nt G\) nach
Teil (b).<br />
Also gilt: \(G/H\) ist eine Gruppe genau dann, wenn \(H \nt G\).
</p>

<p>
<em>Beispiel</em>: In einer abelschen Gruppe ist jede Untergruppe ein Normalteiler (z.&#x202f;B. \(n\integer \nt \integer \)).<br />
Ist \(H &lt; G\), sodass es genau zwei Nebenklassen gibt, so gilt ebenfalls \(H \nt G\), denn die Nebenklassen sind \(H\) und \(G \setminus H\). Fu&#x0308;r \(g \notin H\) gilt \(gH = G \setminus H = Hg\) und
fu&#x0308;r \(g \in H\) gilt \(gH = H = Hg\). Zum Beispiel folgt aus \(|G| &lt; \infty \) und \(|H| = \frac {|G|}{2}\), dass \(H \nt G\), da \(|H| = |gH|\).<br />
Ein Beispiel ist \(G = \Sigma _3\) mit \(H = \{\id , (123), (132)\}\). \(H\) hat halb so viele Elemente wie \(G\) (\(|G| = 3! = 6\), \(\ord (H) := |H| = 3\)), damit muss \(H \nt G\) gelten.
</p>



<h2 id="zyklische-gruppen">Zyklische Gruppen</h2>

</p>


<p>
<em>Bemerkung</em>: Jede zyklische Gruppe \(G = \{g^n \;|\; n \in \natural \}\) ist abelsch, da<br />
\(g^n g^\ell = g^{n+\ell } = g^{\ell +n} = g^\ell g^n\). \(|G|\) bestimmt \(G\) bis auf Isomorphie (siehe na&#x0308;chster Satz).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Klassifikation der zyklischen Gruppen</span>):</span> Jede zyklische Gruppe \(G\) ist isomorph zu genau einer der Gruppen \(\integer \) oder \(\integer
/m\integer \) fu&#x0308;r ein \(m \in \natural \) (dabei ist \(m = |G|\)).
</p>

<p>
<em>Beispiel</em>: Nicht jede abelsche Gruppe ist zyklisch. Sei \(G = \integer /4\integer \times \integer /2\integer \) die abelsche Gruppe mit komponentenweiser Multiplikation (\((g_1, h_1) \cdot (g_2, h_2) :=
(g_1 \cdot g_2, h_1 \cdot h_2)\)). Wa&#x0308;re \(G\) zyklisch, so wu&#x0308;rde es einen Isomorphismus \(\integer /8\integer \rightarrow \integer /4\integer \times \integer /2\integer \) geben, der
\(0\) auf \((0, 0)\), \(1\) auf \((a, b)\) und \(4\) auf \((4a, 4b)\) abbildet. Wegen \(a \in \integer /4\integer \), \(b \in \integer /2\integer \) gilt aber \(4a = 4b = 0\), d.&#x202f;h. \(4 \mapsto (0, 0)\), ein
Widerspruch.
</p>

<p>
<em>Bemerkung</em>: Welche Untergruppen hat die zyklische Gruppe \(G = (\integer , +)\)? Sei \(H &lt; G\) beliebig mit \(H \not = \{0\}\). Definiere \(n \in \natural \cap H\) minimal (\(n\) existiert, da
\(\widetilde {n} \in H\) existiert mit \(H \not = 0\), falls notwendig, invertiere \(\widetilde {n}\), damit \(n \in \natural \), \(n \in H\), da \(H &lt; G\)). Dann gilt \(n\integer \subset H\). Falls \(n\integer
\subsetneqq H\) gelten wu&#x0308;rde, ga&#x0308;be es ein minimales \(\ell \in \natural \cap (H \setminus n\integer )\) mit \(\ell &gt; n\) (analoge Argumentation wie eben). Teilen mit Rest ergibt \(\ell = kn
+ r\) mit \(0 \le r &lt; n\). Wegen \(\ell , kn \in H\) gilt \(r = \ell - kn \in H\). Aufgrund \(r &lt; n\) und \(n\) minimal mit \(n \in \natural \cap H\) gilt \(r = 0\), d.&#x202f;h. \(\ell = kn\), ein
Widerspruch, denn dann wa&#x0308;re \(\ell \in n\integer \). Daher sind alle Untergruppen von \((\integer , +)\) von der Form \(n\integer \).
</p>

<p>
<span
      class="textcolor"
      style="color:#808080"
>
</span>
</p>

<p>
<b>Ordnung</b>:&#x2003; Sei \(G\) eine Gruppe. Die <em><span class="dashuline" >Ordnung</span></em> von \(G\) ist \(\ord (G) := |G|\).<br />
Die <em><span class="dashuline" >Ordnung</span></em> von \(g \in G\) ist \(\ord (g) := \min \{\ell \in \natural \;|\; g^\ell = e\}\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >zyklische Gruppen</span>):</span> Sei \(G = \erzeugnis {g}\) eine zyklische Gruppe.
</p>
<ul style="list-style-type:none">

<li class="list-item-f8"><p>Es gilt \(\ord (G) = n \in \natural \cup \{\infty \}\) mit \(\ord (G) = \ord (g) = \min \{\ell \in \natural \;|\; g^\ell = e\}\).
</p>
</li>
<li class="list-item-f9"><p>Fu&#x0308;r \(|G| &lt; \infty \) und \(s \in \integer \) gilt \(\ord (g^s) = \frac {n}{\ggT (n, s)}\).
</p>
</li>
<li class="list-item-f10"><p>Jede Untergruppe \(H\) von \(G\) ist zyklisch.
</p>
</li>
<li class="list-item-f11"><p>Fu&#x0308;r \(|G| &lt; \infty \) und \(d \teilt n\) gibt es genau eine Untergruppe \(H &lt; G\) mit \(|H| = d\), na&#x0308;mlich \(H = \erzeugnis {g^{n/d}}\) (d.&#x202f;h. umgekehrt gibt es fu&#x0308;r
jedes \(H &lt; G\) ein \(d \teilt n\) mit \(H = \erzeugnis {g^{n/d}}\)).
</p>
</li>
</ul>

<p>
<em>Beispiel</em>: \(G = \integer /6\integer \) hat genau die Untergruppen \(\integer /6\integer \), \(\integer /3\integer \), \(\integer /2\integer \) und \(\integer /1\integer = \{e\}\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r zyklische Gruppen \(G\) und \(H &lt; G\) gilt \(|H| \teilt |G|\). Das gilt immer (siehe na&#x0308;chste Proposition).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Index</b>:&#x2003; Seien \(G\) eine Gruppe und \(H &lt; G\). Die Anzahl \(|G/H|\) der Linksnebenklassen von \(H\) heißt der <em><span class="dashuline" >Index</span></em> \([G:H]\) von \(H\) in \(G\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Satz von &#x202f;<span class="textsc" >Lagrange</span></span>):</span> Seien \(G\) eine Gruppe und \(H &lt; G\).<br />
Dann gilt \(|G| = [G:H] \cdot |H|\), d.&#x202f;h. insbesondere \(|H| \teilt |G|\) fu&#x0308;r \(|G| &lt; \infty \).
</p>

<p>
<em>Bemerkung</em>: Seien \(p\) eine Primzahl und \(G = (\integer /p\integer , +)\). Da \(|G| = p\) nur \(1\) und \(p\) als Teiler hat, hat \(G\) nur die triviale Untergruppe \(\{\overline {0}\}\) und die ganze Gruppe
\(G\) als Untergruppe. Insbesondere gibt es keinen nicht-trivialen Normalteiler.
</p>

<p>
<b>einfach</b>:&#x2003; Eine Gruppe \(G\) ohne nicht-triviale Normalteiler heißt <em><span class="dashuline" >einfach</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: \(\integer /n\integer \) ist keine Gruppe bzgl. \(\cdot \), denn \(\overline {0}\) hat kein Inverses. Fu&#x0308;r \(n = a \cdot b\) (\(a, b \not = 1\)) gilt \(\overline {0} = \overline {n} =
\overline {a} \cdot \overline {b}\), d.&#x202f;h. \(\overline {a}\) und \(\overline {b}\) haben ebenfalls kein Inverses. La&#x0308;sst man diese Elemente (also die nicht-trivialen Teiler von \(n\)) weg, so
erha&#x0308;lt man die multiplikative Gruppe<br />
\((\integer /n\integer )^\ast := \{x \in \integer /n\integer \;|\; x \text { in } \integer /n\integer \text { bzgl.} \cdot \text {invertierbar}\}\).<br />
Fu&#x0308;r Primzahlen \(p\) gilt \((\integer /p\integer )^\ast = \{\overline {1}, \overline {2}, \dotsc , \overline {p - 1}\}\), denn aus dem Lemma von Bézout folgt, dass es fu&#x0308;r jedes \(a \in \{1,
\dotsc , p - 1\}\) ganze Zahlen \(r, s \in \integer \) gibt, sodass \(1 = \ggT (a, p) = ra + sp\). Durch Bilden der Restklasse modulo \(p\) ergibt \(\overline {1} = \overline {r} \cdot \overline {a}\),
d.&#x202f;h. \(\overline {a}\) hat \(\overline {r}\) als inverses Element. Also gilt \(\ord (\integer /p\integer )^\ast = p - 1\). (Analog zeigt man so, dass \((\integer /n\integer )^\ast \) aus \(\integer
/n\integer \) durch Entfernen der Nebenklassen aller Zahlen entsteht, die nicht teilerfremd mit \(n\) sind.)
</p>

<p>
<em>Bemerkung</em>: Allgemein gilt nach dem Satz von Lagrange fu&#x0308;r eine endliche Gruppe \(G\), \(g \in G\) und \(H := \erzeugnis {g} &lt; G\), dass \(|H| \teilt |G|\). Fu&#x0308;r \(\ord (H) = n\) gilt
\(g^n = e\), d.&#x202f;h. es gilt \(g^{|G|} = e\) fu&#x0308;r endliche Gruppen \(G\) und \(g \in G\).
</p>

<p>
<b>Folgerung</b>: Seien \(p \in \natural \) eine Primzahl und \(x \in \integer \) mit \(p \notteilt x\).<br />
Dann gilt \(p \teilt x^{p-1} - 1\), d.&#x202f;h. \(x^{p-1} \equiv 1 \mod p\) (<em><span class="dashuline" >kleiner Satz von <span class="textsc" >Fermat</span></span></em>).
</p>

<p>
<em>Bemerkung</em>: Die Schreibweise \(a \equiv b \mod p\) ist erkla&#x0308;rt durch \(a - b \in p\integer \), d.&#x202f;h. \(p \teilt a - b\). Wegen \(\overline {x} \overline {x}^{p-2} = \overline {1}\)
ist somit \(\overline {x}^{p-2}\) invers zu \(\overline {x}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Ein Beispiel fu&#x0308;r die Anwendung in der Kodierungstheorie ist die ISBN. Sie hat die Form \(a_1 - a_2 a_3 a_4 - a_5 a_6 a_7 a_8 a_9 - a_{10}\) mit \(a_i \in \{0, \dotsc , 9\}\) fu&#x0308;r
\(i = 1, \dotsc 9\) und \(a_{10} \in \{0, \dotsc , 9, X\}\) (\(X\) steht fu&#x0308;r \(10\) als Ziffer). \(a_{10}\) ist eine sog. Pru&#x0308;fziffer, mit ihr ko&#x0308;nnen einfache Fehler (ein \(a_i\) falsch) erkannt
und eine unleserliche Stelle berechnet werden.<br />
\(a_{10}\) berechnet sich nach der Formel \(\sum _{k=1}^{10} (11 - k) a_k \equiv 0 \mod 11\). Sie kann umgeformt werden zu \(a_{10} \equiv \sum _{k=1}^9 k a_k\), da \((11 - k) \equiv -k \mod 11\) gilt. Ist ein
\(a_i\) falsch, dann ist bei gegebener Pru&#x0308;fziffer obige Formel nicht mehr erfu&#x0308;llt. Wenn ein \(a_i\) (bei bekannter Stelle \(i\)) unleserlich ist, kann dieses \(a_i\) bei Kenntnis aller anderen Ziffern berechnet
werden:<br />
Weil \((\integer /11\integer )^\ast \) eine multiplikative Gruppe ist, gibt es fu&#x0308;r jede der \(x_k := \overline {(11 - k)} \in (\integer /11\integer )^\ast \) ein Inverses \(x_k^{-1}\). Multipliziert man
die Formel mit \(x_i^{-1}\), so erha&#x0308;lt man \(\sum _{k=1}^{10} x_i^{-1} (11 - k) a_k \equiv 0\). Der Koeffizient vor \(a_i\) ist \(1\), daher ergibt sich eine Gleichung fu&#x0308;r \(a_i\). Daher ist die Formel
auch bei einem falschen \(a_i\) nicht erfu&#x0308;llt.
</p>



<h2 id="operationen-von-gruppen-auf-mengen">Operationen von Gruppen auf Mengen</h2>

</p>


<p>
<b>Gruppenoperation</b>:&#x2003; Eine <em><span class="dashuline" >(Links-)Operation</span></em> einer Gruppe \(G\) auf einer Menge \(M\) ist eine Abbildung \(G \times M \rightarrow M\), \((g, m) \mapsto
gm\) mit den Eigenschaften:
</p>
<ul style="list-style-type:none">

<li class="list-item-f12"><p>\(\forall _{g_1, g_2 \in G, m \in M}\; (g_1 g_2) m = g_1 (g_2 m)\)
</p>
</li>
<li class="list-item-f13"><p>\(\forall _{m \in M}\; em = m\)
</p>
</li>
</ul>

<p>
Man schreibt \(G \curvearrowright M\) dafu&#x0308;r, dass \(G\) auf \(M\) operiert, und man nennt \(M\) eine <em><span class="dashuline" >\(G\)-Menge</span></em>.
</p>

<p>
<em>Beispiel</em>: Ein triviales Beispiel ist \(M := G\) mit \(gm := g \cdot m\) (Multiplikation in \(G\)). (O1) ist das Assoziativgesetz und (O2) ist das Gesetz fu&#x0308;r das neutrale Element. Fu&#x0308;r \(g \in G\) ist die
Abbildung \(M \rightarrow M\), \(m \mapsto gm\) die Linksmultiplikation mit \(g\). Sie hat eine inverse Abbildung (Linksmultiplikation mit \(g^{-1}\)), d.&#x202f;h. \(G\) kann in \(\Sigma _G := \{\text {bij. Abb. } G
\rightarrow G\}\) eingebettet werden (d.&#x202f;h. fu&#x0308;r verschiedene \(g\) erha&#x0308;lt man verschiedene Abbildungen).
</p>

<p>
<em>Beispiel</em>: \(G = \Sigma _n \curvearrowright M = \{1, \dotsc , n\}\) durch \(g = \varphi \colon \{1, \dotsc , n\} \rightarrow \{1, \dotsc , n\}\), \(gm := g(m)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Fu&#x0308;r die Menge \(G = \GL _n(\complex )\) aller invertierbaren \(n \times n\)-Matrizen u&#x0308;ber \(\complex \) und die Menge \(M = \Mat _n(\complex )\) aller \(n \times n\)-Matrizen
u&#x0308;ber \(\complex \) operiert \(G\) auf \(M\) durch \(m \mapsto g^{-1} m g \in M\) fu&#x0308;r \(m \in M\) und \(g \in G\) (Basiswechsel mittels \(g\)). Betrachtet man nun die Bahn \(G \cdot m = \{g \cdot m
\;|\; g \in G\}\), so erha&#x0308;lt man alle zu \(m\) a&#x0308;hnlichen Matrizen. In der linearen Algebra ist nun eine „Normalform“ gesucht, d.&#x202f;h. eine Matrix mit „besonders einfacher“ Gestalt (Jordansche
Normalform).
</p>

<p>
<em>Beispiel</em>: Im allgemeineren Fall \(M = \Mat (\ell \times m, \complex )\) (bijektiv zur Menge aller linearen Abbildungen \(V \rightarrow U\) mit \(\dim V = m\) und \(\dim U = \ell \)) und \(G = \GL _\ell
(\complex ) \times \GL _m(\complex )\) definiert man \((g_1, g_2)m := g_1 m g_2^{-1}\), man fu&#x0308;hrt also einen Basiswechsel mit den Basiswechselmatrizen \(g_1\) und \(g_2\) durch. Hier ergibt sich als
Normalform die Zeilen-Stufen-Form (Gauß-Elimination).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Bahn</b>:&#x2003; Die Gruppe \(G\) operiere auf \(M\).<br />
Fu&#x0308;r \(m \in M\) heißt \(Gm := \{gm \;|\; g \in G\}\) die <em><span class="dashuline" >Bahn</span></em> von \(m\) unter der Operation von \(G\).<br />
Die Operation heißt <em><span class="dashuline" >transitiv</span></em>, falls \(\forall _{m \in M}\; Gm = M\) (\(\!\!\iff \forall _{m_1, m_2 \in M}\; \exists _{g \in G}\; g m_1 = m_2\)).
</p>

<p>
<b>linksregula&#x0308;re Permutationsdarstellung</b>:&#x2003; Ist \(M = G\) und die Operation die Linksmultiplikation von \(G\), so heißt \(M\) <em><span class="dashuline" >linksregula&#x0308;re
Permutationsdarstellung</span></em>.
</p>

<p>
<b>Konjugation</b>:&#x2003; Ist \(M = G\) und die Operation die <em><span class="dashuline" >Konjugation</span></em> (d.&#x202f;h. \(m \mapsto gmg^{-1}\)), so heißen die Bahnen <em><span class="dashuline"
>Konjugationsklassen</span></em> (oder <em><span class="dashuline" >Konjugiertenklassen</span></em>).
</p>

<p>
<b>Fixpunkt</b>:&#x2003; Ein \(m \in M\) heißt <em><span class="dashuline" >Fixpunkt</span></em>, falls \(Gm = \{m\}\) (\(\!\!\iff \forall _{g \in G}\; gm = m\)).
</p>

<p>
<b>Stabilisator</b>:&#x2003; Fu&#x0308;r \(m \in M\) heißt \(G_m := \{g \in G \;|\; gm = m\}\) <em><span class="dashuline" >Stabilisator</span></em> \(\Stab _G(m)\) von \(m\) (oder <em><span
class="dashuline" >Isotropiegruppe</span></em>). Es gilt \(G_m &lt; G\).
</p>

<p>
<b>treu</b>:&#x2003; Die Operation von \(G\) auf \(M\) heißt <em><span class="dashuline" >treu</span></em>, falls \(G \rightarrow \Sigma _M\), \(g \mapsto (M \rightarrow M,\; m \mapsto gm)\) injektiv ist (dabei
ist \(\Sigma _M = \{M \rightarrow M \text { bijektiv}\}\)).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Zentrum</b>:&#x2003; Fu&#x0308;r eine Gruppe \(G\) heißt \(Z(G) := \{g \in G \;|\; \forall _{h \in G}\; gh = hg\}\) <em><span class="dashuline" >Zentrum</span></em> von \(G\).<br />
Es gilt \(Z(G) \nt G\).
</p>

<p>
<b>Zentralisator</b>:&#x2003; Fu&#x0308;r eine Gruppe \(G\) und \(g \in G\) heißt \(C_G(g) := \{h \in G \;|\; gh = hg\}\)<br />
<em><span class="dashuline" >Zentralisator</span></em> von \(g\) in \(G\). Es gilt \(C_G(g) &lt; G\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Klassengleichung</span>):</span> Seien \(M\) eine \(G\)-Menge und \(m \in M\) mit Stabilisator \(G_m\).<br />
Dann gibt es eine Bijektion \(p\colon G/G_m \rightarrow Gm\). Insbesondere gilt \(|Gm| = [G:G_m]\).<br />
Im Spezialfall \(M = G\) mit der Konjugation als Operation gilt die <em><span class="dashuline" >Klassengleichung</span></em><br />
\(|G| = |Z(G)| + \sum _{g_i \in G,\; g_i \notin Z(G)} [G:C_G(g_i)]\) fu&#x0308;r bestimmte Repra&#x0308;sentanten \(g_i\).
</p>



<h2 id="p-gruppen-p-sylowuntergruppen-und-die-saetze-von-sylow">p-Gruppen, p-<span style="font-variant: small-caps;">Sylow</span>untergruppen und die Sätze von <span style="font-variant: small-caps;">Sylow</span></h2>

</p>


<p>
<em>Bemerkung</em>: Gilt \(\ord (G) = p\) mit \(p\) prim, ist dann \(G\) abelsch? (ja)<br />
Gilt \(\ord (G) = p^2\) mit \(p\) prim, ist dann \(G\) abelsch? (ja)<br />
Gilt \(\ord (G) = pq\) mit \(p, q\) prim, \(p \not = q\), ist dann \(G\) abelsch? (i.&#x202f;A. nein)<br />
Gilt \(\ord (G) = de\) mit \(d, e \in \natural \), gilt dann \(\exists _{H &lt; G}\; \ord (H) = d\)? (i.&#x202f;A. nein)
</p>

<p>
<em>Bemerkung</em>: Die Antwort auf die erste Frage kann man relativ einfach zeigen: Sei \(\ord (G) = p\) prim und \(g \in G\) mit \(g \not = e\). Dann ist \(G = \erzeugnis {g}\), da nach dem Satz von Lagrange
\(|\erzeugnis {g}| \teilt |G|\), aber \(G\) prim und somit \(|\erzeugnis {g}| = p\). Also ist \(G\) zyklisch (und somit abelsch) und \(G \simeq \integer /p\integer \).<br />
Die Antwort auf die zweite Frage ist schon schwieriger (siehe Proposition unten).
</p>

<p>
<em>Beispiel</em>: Fu&#x0308;r die dritte Frage gibt es das Gegenbeispiel \(G = \Sigma _3\) (\(\ord (G) = 3! = 2 \cdot 3\), aber \(G\) ist nicht abelsch). Fu&#x0308;r die vierte Frage gibt es das Gegenbeispiel \(A_4 =
\{\text {gerade Permutationen}\}\)<br />
\(= \prod _{\text {gerade Anzahl}} \text {Transpositionen} = \{\sigma \in \Sigma _4 \;|\; \sgn (\sigma ) = 1\}\). Es gilt \(A_4 = 12\), aber \(A_4\) hat keine Untergruppe der Ordnung \(6\).
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Gruppe mit Primzahl(quadrat)ordnung abelsch</span>):</span><br />
Sei \(G\) eine Gruppe mit \(\ord (G) \in \{p, p^2\}\), wobei \(p\) prim ist. Dann ist \(G\) abelsch.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>\(p\)-Gruppe</b>:&#x2003; Sei \(G\) eine endliche Gruppe mit \(\ord (G) = p^m\), wobei \(p\) prim und \(m \in \natural _0\) ist.<br />
Dann heißt \(G\) eine <em><span class="dashuline" >\(p\)-Gruppe</span></em>.
</p>

<p>
<b>\(p\)-<span class="textsc" >Sylow</span>untergruppe</b>:&#x2003; Seien \(G\) eine endliche Gruppe mit \(\ord (G) = p^m q\),<br />
\((p, q) := \ggT (p, q) = 1\) und \(H &lt; G\) mit \(\ord (H) = p^m\), wobei \(p\) prim ist.<br />
Dann heißt \(H\) eine <em><span class="dashuline" >\(p\)-<span class="textsc" >Sylow</span>untergruppe</span></em> von \(G\).
</p>

<p>
<span class="uline" ><em>Theorem</em> (<span class="textsl" ><span class="textsc" >Cauchy</span></span>):</span> Seien \(G\) eine endliche Gruppe und \(p\) prim mit \(p \teilt \ord (G)\).<br />
Dann existiert ein \(g \in G\) mit \(\ord (g) = p\).
</p>

<p>
<b>Folgerung</b>: Seien \(G\) eine endliche Gruppe und \(p\) eine Primzahl.<br />
Dann ist \(G\) eine \(p\)-Gruppe genau dann, wenn \(\forall _{g \in G} \exists _{n \in \natural _0} \ord (g) = p^n\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Proposition</em> (<span class="textsl" >Fixpunktzahl</span>):</span> Seien \(p\) eine Primzahl und \(G\) eine \(p\)-Gruppe.
</p>
<ul style="list-style-type:none">

<li class="list-item-f14"><p>Wenn \(G\) auf einer endlichen Menge \(X\) operiert, dann gilt \(|X^G| \equiv |X| \mod p\) mit<br />
\(X^G := \{x \in X \;|\; x \text { Fixpunkt}\}\).
</p>
</li>
<li class="list-item-f15"><p>Wenn \(G \not = \{e\}\) ist, dann gilt \(Z(G) \not = \{e\}\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Theorem</em> (<span class="textsl" ><span class="textsc" >Sylow</span></span>):</span><br />
Seien \(G\) eine endliche Gruppe und \(p\) eine Primzahl mit \(\ord (G) = p^m q\), \((p, q) = 1\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f16"><p>Fu&#x0308;r alle \(k = 1, \dotsc , m\) gibt es eine Untergruppe \(H &lt; G\) mit \(|H| = p^k\).
</p>
</li>
<li class="list-item-f17"><p>Seien \(S\) eine \(p\)-Sylowuntergruppe von \(G\) (d.&#x202f;h. \(\ord (S) = p^m\)) und \(H &lt; G\) eine \(p\)-Gruppe.<br />
Dann gibt es ein \(g \in G\) mit \(H &lt; gSg^{-1}\).
</p>
</li>
<li class="list-item-f18"><p>Sei \(s_0 := \text {Anzahl der } p\text {-Sylowuntergruppen von } G\). Dann gilt \(s_0 \teilt q\) und \(s_0 \equiv 1 \mod p\).
</p>
</li>
</ul>

<p>
<em>Bemerkung</em>: \(gSg^{-1}\) ist eine \(p\)-Sylowuntergruppe, wenn \(S\) eine \(p\)-Sylowuntergruppe ist.<br />
Aus (b) folgt, dass fu&#x0308;r \(p\)-Sylowuntergruppen \(S\) und \(H\) von \(G\) gilt, dass \(H = gSg^{-1}\) fu&#x0308;r ein \(g \in G\), d.&#x202f;h. alle \(p\)-Sylowuntergruppen sind zueinander konjugiert.<br />
Außerdem gilt, dass alle \(p\)-Untergruppen von \(G\) in \(p\)-Sylowuntergruppen enthalten sind.
</p>

<p>
<b>Folgerung</b>: Alle \(p\)-Sylowuntergruppen sind zueinander konjugiert.
</p>

<p>
<b>Folgerung</b>: Seien \(p\) und \(q\) prim mit \(p &lt; q\) und \(p \notteilt (q - 1)\) sowie \(G\) eine Gruppe mit \(|G| = p \cdot q\). Dann gilt \(G \simeq \integer /pq\integer \simeq \integer /p\integer
\times \integer /q\integer \), d.&#x202f;h. insbesondere ist \(G\) zyklisch und abelsch.
</p>

{% endraw %}
</div>
{:/nomarkdown}
