
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\newcommand {\B }{\mathcal {B}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\renewcommand {\N }{\mathcal {N}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\newcommand {\T }{\mathcal {T}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\newcommand {\X }{\mathcal {X}}\)

\(\newcommand {\Y }{\mathcal {Y}}\)

\(\newcommand {\Bin }{\operatorname {Bin}}\)

\(\newcommand {\Pois }{\operatorname {Pois}}\)

\(\newcommand {\Exp }{\operatorname {Exp}}\)

\(\newcommand {\BetaV }{\operatorname {Beta}}\)

\(\newcommand {\GammaV }{\operatorname {Gamma}}\)

\(\newcommand {\pot }{\mathfrak {P}}\)

\(\renewcommand {\1}{𝟙}\)

\(\newcommand {\id }{\mathrm {id}}\)

\(\renewcommand {\i }{\mathrm {i}}\)

\(\renewcommand {\theta }{\vartheta }\)

\(\newcommand {\Tu }{\underline {T}}\)

\(\newcommand {\To }{\overline {T}}\)

\(\newcommand {\Var }{\mathrm {Var}}\)

\(\newcommand {\Cov }{\mathrm {Cov}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="wahrscheinlichkeitsraeume">Wahrscheinlichkeitsräume</h2>

</p>


<p>
<b>W-Raum</b>:&#x2003; \((\Omega , \A , P)\) heißt <em><span class="dashuline" >Wahrscheinlichkeitsraum</span></em>, falls \(\Omega \not = \emptyset \), \(\A \) eine \(\sigma \)-Algebra u&#x0308;ber
\(\Omega \) und \(P\) ein W-Maß auf \((\Omega , \A )\) ist.
</p>

<p>
<b>bedingte W.keit</b>:&#x2003; Seien \(A, B \in \A \) mit \(P(A) &gt; 0\). Dann heißt \(P(B|A) := \frac {P(B \cap A)}{P(A)}\) <em><span class="dashuline" >bedingte Wahrscheinlichkeit</span></em> von \(B\)
gegeben \(A\). Es gilt \(P(A|B) = P(B|A) \cdot \frac {P(A)}{P(B)}\), wenn \(P(B) &gt; 0\) (<em><span class="dashuline" >Formel von <span class="textsc" >Bayes</span></span></em>). Außerdem gilt \(P(B) =
\sum _{i \in I} P(B|A_i) P(A_i)\), wenn die \(A_i \in \A \) (\(i \in I\)) mit \(I\) ho&#x0308;chstens abza&#x0308;hlbar eine Zerlegung von \(\Omega \) bilden und \(P(A_i) &gt; 0\) gilt (<em><span
class="dashuline" >Formel von der totalen Wahrscheinlichkeit</span></em>).
</p>

<p>
<b>stochastisch unabha&#x0308;ngig fu&#x0308;r Ereignisse</b>:&#x2003; Die Ereignisse \(A_i \in \A \) (\(i \in I\)) heißen<br />
<em><span class="dashuline" >(stochastisch) unabha&#x0308;ngig</span></em>, falls \(P(\bigcap _{i \in K} A_i) = \prod _{i \in K} P(A_i)\) fu&#x0308;r alle \(K \subset I\) endlich.
</p>



<h2 id="kombinatorik">Kombinatorik</h2>

</p>


<p>
<b>Urnenmodell</b>:&#x2003; Aus einer Urne mit \(n\) Kugeln werden \(k\) Kugeln gezogen.<br />
Dann gibt es je nach Ziehungsverfahren unterschiedlich viele mo&#x0308;gliche Stichproben:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><em><span   class="dashuline" >geordnete Stichprobe ohne Zuru&#x0308;cklegen</span></em>: \(\frac {n!}{(n - k)!}\)
</p>
</li>
<li class="list-item-f1"><p><em><span   class="dashuline" >geordnete Stichprobe mit Zuru&#x0308;cklegen</span></em>: \(n^k\)
</p>
</li>
<li class="list-item-f2"><p><em><span   class="dashuline" >ungeordnete Stichprobe ohne Zuru&#x0308;cklegen</span></em>: \(\binom {n}{k}\)
</p>
</li>
<li class="list-item-f3"><p><em><span   class="dashuline" >ungeordnete Stichprobe mit Zuru&#x0308;cklegen</span></em>: \(\binom {n + k - 1}{k}\)
</p>
</li>
</ul>



<h2 id="diskrete-zufallsvariablen">Diskrete Zufallsvariablen</h2>
<b>diskreter W-Raum</b>:&#x2003; Ein W-Raum \((\Omega , \A , P)\) heißt <em><span class="dashuline" >diskret</span></em>, falls \(\Omega \) ho&#x0308;chstens abza&#x0308;hlbar und \(\A = \pot (\Omega )\)
ist. In diesem Fall heißt \((p_\omega )_{\omega \in \Omega }\) <em><span class="dashuline" >Za&#x0308;hldichte</span></em>, wobei \(p_\omega := P(\{\omega \})\).
</p>

<p>
<b>diskrete Zufallsvariable</b>:&#x2003; Sei \(E\) eine Menge. Dann heißt eine Abbildung \(X\colon \Omega \rightarrow E\) <em><span class="dashuline" >Zufallsvariable</span></em>. Das W-Maß \(P_X\colon \pot
(E) \rightarrow [0, 1]\) mit \(P_X(B) := P(X \in B)\) heißt <em><span class="dashuline" >Verteilung</span></em> von \(X\). Die Funktion \(F_X\colon \real \rightarrow [0, 1]\) mit \(F_X(x) := P(X \le x)\)
heißt <em><span class="dashuline" >Verteilungsfunktion</span></em> von \(X\) (falls \(E = \real \)). Sie ist monoton wachsend, r.s. stetig und hat den GW \(1\) bzw. \(0\) fu&#x0308;r \(x \to \pm \infty \).
</p>

<p>
<b>stochastisch unabha&#x0308;ngig fu&#x0308;r diskrete ZV</b>:&#x2003; Die Zufallsvariablen \(X_i\colon \Omega \rightarrow E_i\) (\(i \in I\)) heißen <em><span class="dashuline" >(stochastisch)
unabha&#x0308;ngig</span></em>, falls fu&#x0308;r alle \(B_i \subset E_i\) (\(i \in I\)) \((\{X_i \in B_i\})_{i \in I}\) als Familie von Ereignissen unabha&#x0308;ngig ist.
</p>

<p>
<b>diskreter Erwartungswert</b>:&#x2003; Die Zahl \(\EE (X) := \sum _{\omega \in \Omega } X(\omega ) p_\omega \) heißt <em><span class="dashuline" >Erwartungswert</span></em> von \(X\) (falls \(X\) reell
und \(\sum _{\omega \in \Omega } |X(\omega )| p_\omega &lt; \infty \)). In diesem Fall gilt \(\EE (X) = \sum _{x \in X(\Omega )} x P_X(\{x\})\) (<em><span class="dashuline"
>Transformationssatz</span></em>). Es gilt \(\EE (X + Y) = \EE (X) + \EE (Y)\), \(\EE (\alpha X) = \alpha \EE (X)\) (<em><span class="dashuline" >Linearita&#x0308;t</span></em>),<br />
\(\EE (c) = c\), \(X \le Y \;\Rightarrow \; \EE (X) \le \EE (Y)\) und \(|\EE (X)| \le \EE (|X|)\).<br />
Sind \(X_1, \dotsc , X_n\) unabha&#x0308;ngig, so gilt \(\EE (X_1 \dotsm X_n) = \EE (X_1) \dotsm \EE (X_n)\).
</p>

<p>
<b>diskrete Varianz</b>:&#x2003; Die Zahl \(\Var (X) := \EE ((X - \EE (X))^2) = \EE (X^2) - \EE (X)^2\) heißt <em><span class="dashuline" >Varianz</span></em> von \(X\) (falls \(\EE (X^2) &lt; \infty \)).
Es gilt \(\Var (\alpha X) = \alpha ^2 \Var (X)\), \(\Var (X + c) = \Var (X)\) und<br />
\(\Var (X_1 + \dotsb + X_n) = \Var (X_1) + \dotsb + \Var (X_n)\), wenn \(X_1, \dotsc , X_n\) unabha&#x0308;ngig (<em><span class="dashuline" >Satz von <span class="textsc"
>Bienaymé</span></span></em>).
</p>



<h2 id="diskrete-verteilungen">Diskrete Verteilungen</h2>

</p>
<table>

<tr class="tbrule">
<td class="tdp">

<p>
<em>Name</em>
</p>
</td>
<td class="tdp">

<p>
<em>Parameter</em>
</p>
</td>
<td class="tdp">

<p>
<em>Za&#x0308;hldichte</em>
</p>
</td>
<td class="tdp">

<p>
<em>EW</em>
</p>
</td>
<td class="tdp">

<p>
<em>Varianz</em>
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Gleichverteilung</b>
</p>
</td>
<td class="tdp">

<p>
\(x_1, \dotsc , x_n\)
</p>
</td>
<td class="tdp">

<p>
\(p_{x_i} := \frac {1}{n}\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {1}{n} \sum _{i=1}^n x_i\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {n^2 - 1}{12}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit fu&#x0308;r eine markierte Seite beim Wurf eines fairen Wu&#x0308;rfels mit \(n\) Seiten und Werten \(x_1, \dotsc , x_n\)</td>
</tr>


<tr>
<td colspan="5" class="tdl"></td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Bernoulli-Verteilung \(\Bin (1, p)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(p \in [0, 1]\)
</p>
</td>
<td class="tdp">

<p>
\(p_0 := 1-p\), \(p_1 := p\)
</p>
</td>
<td class="tdp">

<p>
\(p\)
</p>
</td>
<td class="tdp">

<p>
\(p(1-p)\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit fu&#x0308;r Erfolg beim Wurf einer unfairen Mu&#x0308;nze (\(p\) Erfolgswahrscheinlichkeit)</td>
</tr>


<tr>
<td colspan="5" class="tdl"></td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Binomialverteilung \(\Bin (n, p)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(n \in \natural _0\), \(p \in [0, 1]\)
</p>
</td>
<td class="tdp">

<p>
\(p_k := \binom {n}{k} p^k (1-p)^{n-k}\), \(k = 0, \dotsc , n\)
</p>
</td>
<td class="tdp">

<p>
\(np\)
</p>
</td>
<td class="tdp">

<p>
\(np(1-p)\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit fu&#x0308;r \(k\) Erfolge bei \(n\)-fachem Wurf einer unfairen Mu&#x0308;nze</td>
</tr>


<tr>
<td colspan="5" class="tdl"></td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Poissonverteilung \(\Pois (\lambda )\)</b>
</p>
</td>
<td class="tdp">

<p>
\(\lambda \in \real ^+\)
</p>
</td>
<td class="tdp">

<p>
\(p_k := \frac {\lambda ^k}{k!} e^{-\lambda }\), \(k \in \natural _0\)
</p>
</td>
<td class="tdp">

<p>
\(\lambda \)
</p>
</td>
<td class="tdp">

<p>
\(\lambda \)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit fu&#x0308;r \(k\) Erfolge bei großer Anzahl an Durchfu&#x0308;hrungen eines Bernoulli-Experiments mit sehr niedriger</td>
</tr>


<tr>
<td colspan="5" class="tdl">Erfolgswahrscheinlichkeit, \(\lim _{n \to \infty } \binom {n}{k} (\lambda /n)^k (1-(\lambda /n))^{n-k} = \frac {\lambda ^k}{k!} e^{-\lambda }\)</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>geometrische Verteilung \(G(p)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(p \in (0, 1]\)
</p>
</td>
<td class="tdp">

<p>
\(p_k := p (1 - p)^{k-1}\), \(k \in \natural \)
</p>
</td>
<td class="tdp">

<p>
\(\frac {1}{p}\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {1-p}{p^2}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit, dass bei einem wiederholten Bernoulli-Experiment erst im \(k\)-ten Experiment ein Erfolg auftritt</td>
</tr>


<tr>
<td colspan="5" class="tdl">(z.&#x202f;B. \(p = 1/4\) fu&#x0308;r Wu&#x0308;rfe auf eine geviertelte Dartscheibe mit einem markierten Viertel)</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>hypergeometrische Verteilung \(H(n, s, k)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(n, k, s \in \natural _0\), \(s, k \le n\)
</p>
</td>
<td class="tdp">

<p>
\(p_\ell := \binom {s}{\ell } \binom {n-s}{k-\ell } \left /\binom {n}{k}\right .\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {ks}{n}\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {ks(n-k)}{n(n-1)}(1-\frac {s}{n})\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: W.keit, dass bei einer ungeordneten Ziehung von \(k\) Kugeln ohne Zuru&#x0308;cklegen aus einer Urne mit</td>
</tr>


<tr>
<td colspan="5" class="tdl">\(s\) schwarzen und \(n - s\) weißen Kugeln genau \(\ell \) schwarze Kugeln gezogen werden</td>
</tr>


<tr>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
</tr>

</table>



<h2 id="mass-und-integrationstheorie">Maß- und Integrationstheorie</h2>

</p>


<p>
<b>Dichte</b>:&#x2003; Eine <em><span class="dashuline" >Dichte</span></em> ist eine Funktion \(f\colon \real \rightarrow [0, \infty )\) mit \(\int _\real f(u)\du = 1\).<br />
Ein W-Maß \(P\) auf \(\real \) <em><span class="dashuline" >besitzt die Dichte</span></em> \(f\), falls \(P((-\infty , x]) = \int _{-\infty }^x f(u)\du \) fu&#x0308;r alle \(x \in \real \).
</p>

<p>
<b>messbare Abbildung</b>:&#x2003; Eine Abbildung \(f\colon (\Omega , \A ) \rightarrow (\Omega ’, \A ’)\) zwischen zwei Messra&#x0308;umen \((\Omega , \A )\) und \((\Omega ’, \A ’)\) heißt <em><span
class="dashuline" >messbar</span></em>, falls \(f^{-1}(A’) \in \A \) fu&#x0308;r alle \(A’ \in \A ’\).
</p>

<p>
<b>Bildmaß</b>:&#x2003; Ist \(f\colon (\Omega , \A ) \rightarrow (\Omega ’, \A ’)\) messbar und \(\mu \) ein Maß auf \((\Omega , \A )\), so ist \(\mu _f\colon \A ’ \rightarrow [0, \infty ]\) mit \(\mu
_f(A’) := \mu (f^{-1}(A’))\) das <em><span class="dashuline" >Bildmaß</span></em> von \(\mu \) unter \(f\). Es ist ein W-Maß genau dann, wenn \(\mu \) ein W-Maß ist.
</p>

<p>
<b>allgemeiner Transformationssatz</b>:&#x2003; Seien \((\Omega , \A , \mu )\) ein Maßraum, \((\Omega ’, \A ’)\) ein Messraum, \(f\colon \Omega ’ \rightarrow \real \) messbar und \(T\colon \Omega
\rightarrow \Omega ’\) messbar. Dann ist \(f \in L^1(\mu _T) \iff f \circ T \in L^1(\mu )\).<br />
In diesem Fall gilt \(\int _{\Omega ’} f d\mu _T = \int _\Omega (f \circ T)d\mu \).
</p>



<h2 id="kontinuierliche-zufallsvariablen">Kontinuierliche Zufallsvariablen</h2>

</p>


<p>
<b>Zufallsvariable</b>:&#x2003; Seien \((\Omega , \A , P)\) ein W-Raum und \((E, \A ’)\) ein Messraum. Dann heißt eine messbare Abbildung \(X\colon \Omega \rightarrow E\) <em><span class="dashuline"
>Zufallsvariable</span></em>. Das W-Maß \(P_X\colon \A ’ \rightarrow [0, 1]\) mit \(P_X(A’) := P(X \in A’)\) heißt <em><span class="dashuline" >Verteilung</span></em> von \(X\). \(P_X\) ist das Bildmaß von
\(P\) unter \(X\).<br />
Die Funktion \(F_X\colon \real \rightarrow [0, 1]\) mit \(F_X(x) := P(X \le x)\) heißt <em><span class="dashuline" >Verteilungsfunktion</span></em> von \(X\), falls \(X\) reell ist. Sie ist monoton wachsend,
rechtsseitig stetig und hat den Grenzwert \(1\) bzw. \(0\) fu&#x0308;r \(x \to \pm \infty \). Wenn \(F_X\) absolutstetig ist, dann ist \(f_X(x) = F_X’(x)\) die Dichte von \(X\).<br />
\(X\) heißt <em><span class="dashuline" >stetig/kontinuierlich</span></em>, falls \(P_X\) eine Dichte besitzt.
</p>

<p>
<b>stochastisch unabha&#x0308;ngig fu&#x0308;r ZV</b>:&#x2003; Die Zufallsvariablen \(X_i\colon \Omega \rightarrow (E_i, \A _i’)\) (\(i \in I\)) heißen <em><span class="dashuline" >(stochastisch)
unabha&#x0308;ngig</span></em>, falls fu&#x0308;r alle \(B_i \in \A _i’\) (\(i \in I\)) \((\{X_i \in B_i\})_{i \in I}\) als Familie von Ereignissen unabha&#x0308;ngig ist. Die Dichte von \(X = (X_1, \dotsc ,
X_n)\colon \Omega \rightarrow \real ^n\) ist \(f(x) = f_1(x) \dotsm f_n(x)\), wenn \(X_1, \dotsc , X_n\) unabha&#x0308;ngig sind und \(f_i\) die Dichte von \(X_i\) ist.
</p>

<p>
<b>Erwartungswert</b>:&#x2003; Die Zahl \(\EE (X) := \int _\Omega X dP\) heißt <em><span class="dashuline" >Erwartungswert</span></em> von \(X\) (falls \(X\) reell und \(X \in L^1(P)\)). In diesem Fall gilt \(\EE
(X) = \int _\real x dP_X = \int _\real xf(x)\dx \), wenn \(X\) die Dichte \(f\) besitzt (<em><span class="dashuline" >Transformationssatz</span></em>). Es gilt \(\EE (X + Y) = \EE (X) + \EE (Y)\), \(\EE
(\alpha X) = \alpha \EE (X)\) (<em><span class="dashuline" >Linearita&#x0308;t</span></em>), \(\EE (c) = c\), \(X \le Y \;\Rightarrow \; \EE (X) \le \EE (Y)\) und \(|\EE (X)| \le \EE (|X|)\).<br />
Sind \(X_1, \dotsc , X_n\) unabha&#x0308;ngig, so gilt \(\EE (X_1 \dotsm X_n) = \EE (X_1) \dotsm \EE (X_n)\).<br />
Ist \(g\colon \real \rightarrow \real \) messbar und besitzt \(X\) die Dichte \(f\), so gilt<br />
\(\EE (g(X)) = \int _\real g(x) dP_X = \int _\real g(x)f(x)\dx \), falls \(g(X) \in L^1(P)\) (<em><span class="dashuline" >Transformationssatz</span></em>).
</p>

<p>
<b>\(k\)-tes Moment</b>:&#x2003; Die Zahl \(\EE (X^k)\) heißt <em><span class="dashuline" >\(k\)-tes Moment</span></em> von \(X\) (falls \(X \in L^k(P)\)). Es gilt \(\EE (X^k) = \int _\real x^k dP_X = \int
_\real x^k f(x)\dx \), wenn \(X\) die Dichte \(f\) besitzt (<em><span class="dashuline" >Transformationssatz</span></em>).
</p>

<p>
<b>Varianz</b>:&#x2003; Die Zahl \(\Var (X) := \EE ((X - \EE (X))^2) = \EE (X^2) - \EE (X)^2\) heißt <em><span class="dashuline" >Varianz</span></em> von \(X\) (falls \(X \in L^2(P)\)). Es gilt \(\Var
(\alpha X) = \alpha ^2 \Var (X)\), \(\Var (X + c) = \Var (X)\) und \(\Var (X_1 + \dotsb + X_n) = \Var (X_1) + \dotsb + \Var (X_n)\), wenn \(X_1, \dotsc , X_n\) unabha&#x0308;ngig (<em><span
class="dashuline" >Satz von <span class="textsc" >Bienaymé</span></span></em>).
</p>

<p>
<b>Kovarianz</b>:&#x2003; Fu&#x0308;r zwei reelle ZV \(X, Y\) heißt \(\Cov (X, Y) := \EE (XY) - \EE (X)\EE (Y)\) <em><span class="dashuline" >Kovarianz</span></em>.<br />
Fu&#x0308;r \(\Cov (X, Y) = 0\) heißen \(X, Y\) <em><span class="dashuline" >unkorreliert</span></em>. Unabha&#x0308;ngige ZV sind unkorreliert.
</p>

<p>
<b>Transformationssatz</b>:&#x2003; Seien \(X\) eine reelle, stetige ZV mit Dichte \(f\) und \(h\colon \real \rightarrow \real \) sei bijektiv auf einer offenen Menge \(B\) mit \(\PP (X \in B) = 1\) und diffb. mit
\(h’(x) \not = 0\) fu&#x0308;r alle \(x \in B\).<br />
Dann ist \(Y := h(X)\) eine stetige ZV mit Dichte \(g(y) := \frac {f(h^{-1}(y))}{|h’(h^{-1}(y))|} \1_B(h^{-1}(y))\) fu&#x0308;r \(y \in \real \).
</p>



<h2 id="kontinuierliche-verteilungen">Kontinuierliche Verteilungen</h2>

</p>
<table>

<tr class="tbrule">
<td class="tdp">

<p>
<em>Name</em>
</p>
</td>
<td class="tdp">

<p>
<em>Parameter</em>
</p>
</td>
<td class="tdp">

<p>
<em>Dichte</em>
</p>
</td>
<td class="tdp">

<p>
<em>EW</em>
</p>
</td>
<td class="tdp">

<p>
<em>Varianz</em>
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Gleichverteilung \(\U ([a, b])\)</b>
</p>
</td>
<td class="tdp">

<p>
\(a, b \in \real \), \(a &lt; b\)
</p>
</td>
<td class="tdp">

<p>
\(f(x) := \frac {1}{b-a} \cdot \1_{[a,b]}(x)\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {a+b}{2}\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {(b-a)^2}{12}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: Bruch eines Stabes der La&#x0308;nge \(b - a\) an einer zufa&#x0308;lligen Stelle</td>
</tr>


<tr>
<td colspan="5" class="tdl"></td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Exponentialverteilung \(\Exp (\lambda )\)</b>
</p>
</td>
<td class="tdp">

<p>
\(\lambda &gt; 0\)
</p>
</td>
<td class="tdp">

<p>
\(f(x) := \lambda e^{-\lambda x} \cdot \1_{(0,\infty )}(x)\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {1}{\lambda }\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {1}{\lambda ^2}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: Zeit zwischen zwei Anrufen, Lebensdauer von Atomen beim radioaktiven Zerfall</td>
</tr>


<tr>
<td colspan="5" class="tdl"></td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Normalverteilung \(\N (\mu , \sigma ^2)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(\mu \in \real \), \(\sigma ^2 &gt; 0\)
</p>
</td>
<td class="tdp">

<p>
\(f(x) := \frac {1}{\sqrt {2\pi \sigma ^2}} \exp (-\frac {(x-\mu )^2}{2\sigma ^2})\)
</p>
</td>
<td class="tdp">

<p>
\(\mu \)
</p>
</td>
<td class="tdp">

<p>
\(\sigma ^2\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: physikalische Messwerte mit Messfehler, Brownsche Molekularbewegung, zentraler Grenzwertsatz:</td>
</tr>


<tr>
<td colspan="5" class="tdl">\(X_1, X_2, \dotsc \) i.i.d. mit endlichem EW und endlicher Varianz, dann gilt \(Z_n \to Z\) in Verteilung mit \(Z_n := \frac {1}{\sqrt {n\sigma ^2}} \sum _{k=1}^n (X_k - \mu )\)
und \(Z \sim \N (0, 1)\)</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Beta-Verteilung \(\BetaV (a, b)\)</b>
</p>
</td>
<td class="tdp">

<p>
\(a, b &gt; 0\)
</p>
</td>
<td class="tdp">

<p>
\(f(x) := \frac {x^{a-1} (1-x)^{b-1}}{B(a, b)} \cdot \1_{[0,1]}(x)\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {a}{a+b}\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {ab}{(a+b+1)(a+b)^2}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: konjugierte Familie von a-Priori-Verteilungen fu&#x0308;r Binomial- und Bernoulli-Verteilung (und geometrische Verteilung),</td>
</tr>


<tr>
<td colspan="5" class="tdl">\(B(a, b) := \int _0^1 t^{a-1} (1-t)^{b-1} \dt \)</td>
</tr>


<tr>
<td class="tdp">

<p>
<b>Gamma-Verteilung \(\GammaV (a, \lambda )\)</b>
</p>
</td>
<td class="tdp">

<p>
\(a, \lambda &gt; 0\)
</p>
</td>
<td class="tdp">

<p>
\(f(x) := \frac {\lambda ^a x^{a-1} e^{-\lambda x}}{\Gamma (a)} \cdot \1_{(0,\infty )}(x)\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {a}{\lambda }\)
</p>
</td>
<td class="tdp">

<p>
\(\frac {a}{\lambda ^2}\)
</p>
</td>
</tr>


<tr>
<td colspan="5" class="tdl"><em>Beispiel</em>: Bedienzeiten und Reparaturzeiten, Modellierung von kleinen bis mittleren Scha&#x0308;den in der Versicherungsmathematik,</td>
</tr>


<tr>
<td colspan="5" class="tdl">\(\Gamma (a) := \int _0^\infty t^{a-1} e^{-t}\dt \)</td>
</tr>


<tr>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
</tr>

</table>



<h2 id="schaetzer-fuer-erwartungswert-und-varianz">Schätzer für Erwartungswert und Varianz</h2>

</p>


<p>
<b>arithmetischer Mittelwert</b>:&#x2003;<br />
Der <em><span class="dashuline" >(arithmetische) Mittelwert</span></em> von \(X = (X_1, \dotsc , X_n)\) ist \(\overline {X} := \frac {1}{n} \sum _{i=1}^n X_i\).
</p>

<p>
<b>korrigierte Stichprobenvarianz</b>:&#x2003;<br />
Die <em><span class="dashuline" >(korrigierte) Stichprobenvarianz</span></em> von \(X = (X_1, \dotsc , X_n)\) ist \(S^2(X) := \frac {1}{n-1} \sum _{i=1}^n (X_i - \overline {X})^2\).<br />
Es gilt \(S^2(X) = \frac {1}{n-1} \sum _{i=1}^n X_i^2 - \frac {n}{n-1} (\overline {X})^2\).<br />
Sind \(X_1, \dotsc , X_n\) i.i.d. und \(\mu = \EE (X_1)\) bekannt, dann verwendet man normalerweise stattdessen \({S^\ast }^2(X) := \frac {1}{n} \sum _{i=1}^n (X_i - \mu )^2\).
</p>



<h2 id="weitere-kontinuierliche-verteilungen">Weitere kontinuierliche Verteilungen</h2>

</p>


<p>
<b>Chi-Quadrat-Verteilung \(\chi _n^2\)</b>:&#x2003; Fu&#x0308;r \(X_1, \dotsc , X_n \sim \N (0, 1)\) i.i.d. heißt die<br />
Verteilung von \(Y := \sum _{i=1}^n X_i^2\) <em><span class="dashuline" >Chi-Quadrat-Verteilung \(\chi _n^2\)</span></em> mit \(n\) Freiheitsgraden.<br />
Fu&#x0308;r \(X_1, \dotsc , X_n \sim \N (\mu , \sigma ^2)\) i.i.d. gilt \(\frac {(n-1)S^2}{\sigma ^2} \sim \chi _{n-1}^2\).
</p>

<p>
<b><span class="textsc" >student</span>sche \(t\)-Verteilung \(t_n\)</b>:&#x2003; Fu&#x0308;r \(X \sim \N (0, 1)\) und \(Y \sim \chi _n^2\) unabha&#x0308;ngig heißt die<br />
Verteilung von \(Z := \frac {X}{\sqrt {Y/n}}\) <em><span class="dashuline" ><span class="textsc" >student</span>sche \(t\)-Verteilung \(t_n\)</span></em> mit \(n\) Freiheitsgraden.
</p>

<p>
<b>\(F\)-Verteilung \(F_{(n,m)}\)</b>:&#x2003; Fu&#x0308;r \(X \sim \chi _n^2\) und \(Y \sim \chi _m^2\) unabha&#x0308;ngig heißt die<br />
Verteilung von \(Z := \frac {X/n}{Y/m}\) <em><span class="dashuline" >\(F\)-Verteilung \(F_{(n,m)}\)</span></em> mit \((n, m)\) Freiheitsgraden.
</p>



<h2 id="mehrdimensionale-zufallsvariablen">Mehrdimensionale Zufallsvariablen</h2>

</p>


<p>
<b>Zufallsvektor</b>:&#x2003; Ein <em><span class="dashuline" >Zufallsvektor (mehrdimensionale Zufallsvariable)</span></em> ist eine messbare Abbildung \(X\colon \Omega \rightarrow \real ^n\), d.&#x202f;h. ein
Vektor \(X = (X_1, \dotsc , X_n)\) von Zufallsvariablen \(X_i\colon \Omega \rightarrow \real \).<br />
Die Verteilung \(P_X\) von \(X\) heißt <em><span class="dashuline" >mehrdimensionale Verteilung</span></em>, die Verteilungen der \(X_i\) heißen <em><span class="dashuline" >Randverteilungen</span></em>.<br />
Die Funktion \(F_X\colon \real ^n \rightarrow [0, 1]\) mit \(F_X(x) := P(X \le x) = P(X_1 \le x_1, \dotsc , X_n \le x_n)\) heißt <em><span class="dashuline" >Verteilungsfunktion</span></em> von \(X\).
</p>

<p>
<b>diskreter Zufallsvektor</b>:&#x2003; Ist das Bild \(X(\Omega )\) ho&#x0308;chstens abza&#x0308;hlbar, so heißt \(X\) <em><span class="dashuline" >diskret</span></em>.<br />
In diesem Fall ist \(p_x := P(X = x) = P(X_1 = x_1, \dotsc , X_n = x_n)\) die Za&#x0308;hldichte von \(P_X\) (gemeinsame Za&#x0308;hldichte der \(X_1, \dotsc , X_n\)) und die Za&#x0308;hldichten der
Randverteilungen berechnen sich durch \(P(X_i = x_i’) = \sum _{x \in X(\Omega )} P(X = (x_1, \dotsc , x_i’, \dotsc , x_n))\).<br />
Die \(X_1, \dotsc , X_n\) sind unabha&#x0308;ngig genau dann, wenn \(P(X = x) = P(X_1 = x_1) \dotsm P(X_n = x_n)\).
</p>

<p>
<b>stetiger Zufallsvektor</b>:&#x2003; Besitzt \(X\) eine Dichte (<em><span class="dashuline" >gemeinsame Dichte</span></em> der \(X_1, \dotsc , X_n\)), d.&#x202f;h. eine Funktion \(f_X\colon \real ^n
\rightarrow \real \) mit<br />
\(P((-\infty , x_1] \times \dotsb \times (-\infty , x_n]) = \int _{-\infty }^{x_1} \dotsb \int _{-\infty }^{x_n} f_X(u)\du \), so heißt \(X\) <em><span class="dashuline"
>stetig/kontinuierlich</span></em>.<br />
In diesem Fall berechnen sich die Dichten der Randverteilungen (<em><span class="dashuline" >Randdichten</span></em>) durch<br />
\(f_{X_i}(x_i’) = \int _\real \dotsb \int _\real f(x_1, \dotsc , x_i’, \dotsc , x_n) \dx _1 \dotsb \dx _{i-1} \dx _{i+1} \dotsb \dx _n\).<br />
Die \(X_1, \dotsc , X_n\) sind unabha&#x0308;ngig genau dann, wenn \(f_X(x) = f_{X_1}(x_1) \dotsm f_{X_n}(x_n)\) fu&#x0308;r alle \(x \in \real ^n\)<br />
(was gilt genau dann, wenn \(F_X(x) = F_{X_1}(x_1) \dotsm F_{X_n}(x_n)\) fu&#x0308;r alle \(x \in \real ^n\)).
</p>



<h2 id="bedingte-verteilungen">Bedingte Verteilungen</h2>

</p>


<p>
<b>bedingte Verteilung</b>:&#x2003; Seien \(X\) und \(Y\) zwei Zufallsvariablen.<br />
Dann ist die <em><span class="dashuline" >bedingte Verteilung \(X|Y\)</span></em> von \(X\) gegeben \(Y\) wie folgt definiert:
</p>
<ul style="list-style-type:none">

<li class="list-item-f4"><p>Sind \(X\) und \(Y\) diskret mit gemeinsamer Za&#x0308;hldichte \(p(x, y)\), so hat die bedingte Verteilung<br />
\(X|Y\) die Za&#x0308;hldichte \(p(x|Y=y) := \frac {p(x,y)}{p_Y(y)} = P(X=x|Y=y)\) mit der Randdichte<br />
\(p_Y(y) := P(Y=y) = \sum _{x’ \in X(\Omega )} p(x’, y)\) von \(Y\) (falls \(p_Y(y) &gt; 0\)).
</p>
</li>
<li class="list-item-f5"><p>Sind \(X\) und \(Y\) stetig mit gemeinsamer Dichte \(f_{X,Y}(x, y)\), so hat die bedingte Verteilung<br />
\(X|Y\) die Dichte \(f_X(x|Y=y) := \frac {f_{X,Y}(x,y)}{f_Y(y)}\) mit der Randdichte<br />
\(f_Y(y) := \int _{X(\Omega )} f_{X,Y}(x’, y) \dx ’\) von \(Y\) (falls \(f_Y(y) &gt; 0\)).
</p>
</li>
</ul>

<p>
Im stetigen Fall ist \(f_X(x) = \int _{Y(\Omega )} f_Y(y) f_X(x|Y=y)\dy \) (<em><span class="dashuline" >Gesetz der totalen Wahrscheinlichkeit</span></em>).
</p>

<p>
<b>bedingter Erwartungswert</b>:&#x2003; Seien \(X\) und \(Y\) zwei Zufallsvariablen mit \(\EE (|X|) &lt; \infty \).<br />
Sind \(X\) und \(Y\) diskret mit gemeinsamer Za&#x0308;hldichte \(p(x,y)\), dann ist der <em><span class="dashuline" >bedingte Erwartungswert von \(X\) gegeben \(Y=y\)</span></em> gleich \(\EE (X|Y=y) := \sum _{x
\in X(\omega )} x \cdot p(x|y) = \sum _{x \in X(\Omega )} x \cdot P(X=x|Y=y)\).<br />
Sind \(X\) und \(Y\) stetig mit gemeinsamer Dichte \(f_{X,Y}(x,y)\), dann ist der <em><span class="dashuline" >bedingte Erwartungswert von \(X\) gegeben \(Y=y\)</span></em> gleich \(\EE (X|Y=y) := \int _\real x
\cdot f_X(x|Y=y) \dx \).<br />
Fu&#x0308;r \(X = (X_1, \dotsc , X_n)\) und \(Y = (Y_1, \dotsc , Y_m)\) ist der <em><span class="dashuline" >bedingte Erwartungswert von \(X\) gegeben \(Y=y\)</span></em> gleich \(\EE (X|Y=y) := (\EE
(X_1|Y=y), \dotsc , \EE (X_n|Y=y))\).<br />
Der <em><span class="dashuline" >bedingte Erwartungswert von \(X\) gegeben \(Y\)</span></em> ist definiert als die Zufallsvariable<br />
\(\EE (X|Y) := g(Y)\) mit \(g(y) := \EE (X|Y=y)\).<br />
Es gilt \(\EE (\EE (X|Y)) = \EE (X)\) (<em><span class="dashuline" >Satz vom iterierten Erwartungswert</span></em>).
</p>



<h2 id="ungleichungen">Ungleichungen</h2>

</p>


<p>
<b><span class="textsc" >Jensen</span>-Ungleichung</b>:&#x2003;<br />
Sei \(g\colon \real \rightarrow \real \) konvex (d.&#x202f;h. \(g(\lambda x + (1-\lambda ) y) \le \lambda g(x) + (1-\lambda ) g(y)\) fu&#x0308;r alle \(\lambda \in (0, 1)\) und \(x, y \in \real \)) und
\(X\) eine reelle Zufallsvariable mit \(\EE (|X|) &lt; \infty \). Dann gilt \(\EE (g(X)) \ge g(\EE (X))\).
</p>

<p>
<b><span class="textsc" >Markov</span>-Ungleichung</b>:&#x2003;<br />
Seien \(X\) eine reelle Zufallsvariable, \(h\colon \real ^+ \rightarrow \real ^+\) monoton wachsend und \(\varepsilon &gt; 0\).<br />
Dann gilt \(P(|X| \ge \varepsilon ) \le \frac {\EE (h(|X|))}{h(\varepsilon )}\).
</p>

<p>
<b><span class="textsc" >Tschebyscheff</span>-Ungleichung</b>:&#x2003;<br />
Seien \(X\) eine reelle Zufallsvariable mit \(\Var (X) &lt; \infty \) und \(\varepsilon &gt; 0\).<br />
Dann gilt \(P(|X - \EE (X)| \ge \varepsilon ) \le \frac {\Var (X)}{\varepsilon ^2}\) oder alternativ \(P(|X - \EE (X)| &lt; \varepsilon ) \ge 1 - \frac {\Var (X)}{\varepsilon ^2}\).
</p>



<h2 id="grenzwertbegriffe">Grenzwertbegriffe</h2>

</p>


<p>
<b>\(P\)-fast-sichere Konvergenz</b>:&#x2003; Seien \((X_n)_{n \in \natural }\) und \(X\) Zufallsvariablen. Dann konvergiert<br />
\((X_n)_{n \in \natural }\) <em><span class="dashuline" >\(P\)-fast-sicher</span></em> gegen \(X\) (\(X_n \xrightarrow {P\text {-f.s.}} X\)), falls \(P(\lim _{n \to \infty } X_n = X) = 1\).
</p>

<p>
<b>stochastische Konvergenz</b>:&#x2003; \((X_n)_{n \in \natural }\) konvergiert <em><span class="dashuline" >stochastisch</span></em> gegen \(X\) (\(X_n \xrightarrow {P} X\)), falls<br />
fu&#x0308;r jedes \(\varepsilon &gt; 0\) gilt, dass \(P(|X_n - X| \ge \varepsilon ) \xrightarrow {n \to \infty } 0\). Aus \(P\)-f.s. folgt stochastische Konvergenz.
</p>

<p>
<b>Konvergenz in Verteilung</b>:&#x2003; \((X_n)_{n \in \natural }\) konvergiert <em><span class="dashuline" >in Verteilung</span></em> gegen \(X\) (\(X_n \xrightarrow {\text {(d)}} X\)), falls<br />
fu&#x0308;r alle Punkte \(x\), an denen \(F_X\) stetig ist, gilt, dass \(F_{X_n}(x) \xrightarrow {n \to \infty } F_X(x)\).<br />
Aus stochastischer Konvergenz folgt Konvergenz in Verteilung.
</p>



<h2 id="grenzwertsaetze">Grenzwertsätze</h2>

</p>


<p>
<b>Null-Eins-Gesetz von <span class="textsc" >Kolmogorov</span></b>:&#x2003; Seien \((\A _n)_{n \in \natural }\) eine unabha&#x0308;ngige Folge von \(\sigma \)-Algebren \(\A _n \subset \A \) und \(\T
_\infty \) die terminale \(\sigma \)-Algebra von \((\A _n)_{n \in \natural }\).<br />
Dann gilt \(P(A) \in \{0, 1\}\) fu&#x0308;r alle \(A \in \T _\infty \).<br />
Insbesondere gilt \(P(A) \in \{0, 1\}\) fu&#x0308;r folgende Ereignisse \(A \in \A \), wenn \((X_n)_{n \in \natural }\) eine Folge unabha&#x0308;ngiger, reeller Zufallsvariablen ist:
</p>
<ul style="list-style-type:none">

<li class="list-item-f6"><p>\(\{\omega \in \Omega \;|\; (X_n(\omega ))_{n \in \natural } \text { konvergiert in } \real \}\)
</p>
</li>
<li class="list-item-f7"><p>\(\{\omega \in \Omega \;|\; \sum _{n=1}^\infty X_n(\omega ) \text { konvergiert in } \real \}\)
</p>
</li>
<li class="list-item-f8"><p>\(\{\omega \in \Omega \;|\; \limsup _{n \to \infty } X_n(\omega ) \le \alpha \}\) fu&#x0308;r \(\alpha \in \real \)
</p>
</li>
</ul>

<p>
<b>starkes Gesetz der großen Zahlen</b>:&#x2003; Seien \(X_1, X_2, \dotsc \) i.i.d. mit \(\EE (|X_1|) &lt; \infty \).<br />
Dann gilt \(\frac {1}{n} \sum _{i=1}^n X_i \xrightarrow {P\text {-f.s.}} \EE (X_1)\).
</p>

<p>
<b>schwaches Gesetz der großen Zahlen</b>:&#x2003;<br />
Seien \(X_1, X_2, \dotsc \) paarweise unkorreliert mit \(\exists _{M \in \real } \forall _{i \in \natural }\; \EE (X_i) = \EE (X_1),\, \Var (X_i) &lt; M\).<br />
Dann gilt \(\frac {1}{n} \sum _{i=1}^n X_i \xrightarrow {P} \EE (X_1)\).
</p>

<p>
<b>zentraler Grenzwertsatz</b>:&#x2003;<br />
Seien \(X_1, X_2, \dotsc \) i.i.d. mit \(\sigma ^2 &gt; 0\), wobei \(\mu := \EE (X_1)\) und \(\sigma ^2 := \Var (X_1) &lt; \infty \).<br />
Dann gilt \(Z_n := \frac {\overline {X}_n - \mu }{\sigma /\sqrt {n}} \xrightarrow {\text {(d)}} Z\) mit \(Z \sim \N (0, 1)\).
</p>

<p>
<b>Satz von <span class="textsc" >Slutsky</span></b>:&#x2003; Fu&#x0308;r \(X_n \xrightarrow {\text {(d)}} X\) sowie \(A_n \xrightarrow {P} a\) und \(B_n \xrightarrow {P} b\) gilt \(A_n + B_n X_n
\xrightarrow {\text {(d)}} a + bX\).
</p>



<h2 id="charakteristische-funktionen">Charakteristische Funktionen</h2>

</p>


<p>
<b>charakteristische Funktion</b>:&#x2003; Sei \(X\) eine reelle Zufallsvariable. Dann heißt die Funktion \(\varphi _X\colon \real \rightarrow \complex \) mit \(\varphi _X(t) := \int _\real e^{\i tx} dP_X =
\EE (e^{\i tX})\) <em><span class="dashuline" >charakteristische Funktion</span></em> von \(X\).<br />
Es gilt \(|\varphi (t)| \le 1\), \(\varphi (-t) = \overline {\varphi (t)}\) und \(\varphi \) ist gleichma&#x0308;ßig stetig.<br />
Außerdem ist \(\varphi _{aX+b}(t) = e^{\i tb} \varphi _X(at)\) fu&#x0308;r \(a, b \in \real \) (<em><span class="dashuline" >lineare Transformation</span></em>).<br />
Gilt \(\varphi _X = \varphi _Y\) fu&#x0308;r zwei Zufallsvariablen \(X\) und \(Y\), so gilt \(P_X = P_Y\) (<em><span class="dashuline" >Eindeutigkeitssatz</span></em>).<br />
Die charakteristischen Funktionen bekannter Verteilungen lauten wie folgt:
</p>
<table>

<tr class="tbrule">
<td class="tdp">

<p>
<em>Verteilung</em>
</p>
</td>
<td class="tdp">

<p>
<em>char. Funktion</em>
</p>
</td>
<td class="tdp">

<p>
<em>Verteilung</em>
</p>
</td>
<td class="tdp">

<p>
<em>char. Funktion</em>
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
diskr. Gleichv.
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \frac {1}{n} \sum _{i=1}^n e^{\i tx_i}\)
</p>
</td>
<td class="tdp">

<p>
\(X \sim \U ([a, b])\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = -\frac {\i }{t(b-a)} (e^{\i tb} - e^{\i ta})\) fu&#x0308;r \(t \not = 0\), \(\varphi _X(0) = 1\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(X \sim \Bin (1, p)\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = e^{\i t} p + 1 - p\)
</p>
</td>
<td class="tdp">

<p>
\(X \sim \Exp (\lambda )\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \frac {\lambda }{\lambda - \i t}\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(X \sim \Bin (n, p)\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = (e^{\i t} p + 1 - p)^n\)
</p>
</td>
<td class="tdp">

<p>
\(X \sim \N (\mu , \sigma ^2)\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = e^{\i \mu t} \cdot \exp \!\left (-\frac {\sigma ^2 t^2}{2}\right )\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(X \sim \Pois (\lambda )\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \exp (\lambda (e^{\i t} - 1))\)
</p>
</td>
<td class="tdp">

<p>
\(X \sim \chi _n^2\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \frac {1}{(1 - 2\i t)^{n/2}}\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(X \sim G(p)\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \frac {p e^{\i t}}{1 - (1 - p)e^{\i t}}\)
</p>
</td>
<td class="tdp">

<p>
\(X \sim \GammaV (a, \lambda )\)
</p>
</td>
<td class="tdp">

<p>
\(\varphi _X(t) = \left (\frac {\lambda }{\lambda - \i t}\right )^a\)
</p>
</td>
</tr>


<tr class="tbrule">
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
</tr>

</table>

<p>
<b>Summe von Zufallsvariablen</b>:&#x2003; Seien \(X_1, \dotsc , X_n\) unabha&#x0308;ngig und \(Y := X_1 + \dotsb + X_n\).<br />
Dann gilt \(\varphi _Y(t) = \varphi _{X_1}(t) \dotsm \varphi _{X_n}(t)\). Mit dem Eindeutigkeitssatz kann also die Verteilung von \(Y\) berechnet werden, wenn \(\varphi _{X_1}(t) \dotsm \varphi _{X_n}(t)\)
einer bekannten charakteristischen Funktion entspricht. Zum Beispiel gilt fu&#x0308;r \(X_i \sim \N (\mu _i, \sigma _i^2)\), dass \(Y \sim \N (\mu _1 + \dotsb + \mu _n, \sigma _1^2 + \dotsb + \sigma _n^2)\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
