
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\BB }{\mathbb {B}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\FF }{\mathbb {F}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\newcommand {\weakO }{\widetilde {\mathcal {O}}}\)

\(\newcommand {\teilt }{\mid }\)

\(\newcommand {\notteilt }{\nmid }\)

\(\newcommand {\ggT }{\operatorname {ggT}}\)

\(\newcommand {\Char }{\operatorname {char}}\)

\(\newcommand {\Rang }{\operatorname {Rang}}\)

\(\newcommand {\ZkZ }{\integer /k\integer }\)

\(\newcommand {\ZmZ }{\integer /m\integer }\)

\(\newcommand {\ZnZ }{\integer /n\integer }\)

\(\newcommand {\ZpZ }{\integer /p\integer }\)

\(\newcommand {\ZqZ }{\integer /q\integer }\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\xor }{\oplus }\)

\(\newcommand {\bigxor }{\bigoplus }\)

\(\newcommand {\IP }{\operatorname {IP}}\)

\(\newcommand {\PC }{\operatorname {PC}}\)

\(\newcommand {\DES }{\operatorname {DES}}\)

\(\newcommand {\smallbullet }{{\scriptstyle \bullet }}\)

\(\newcommand {\ord }{\operatorname {ord}}\)

\(\newcommand {\erzeugnis }[1]{\langle #1\rangle }\)

\(\newcommand {\true }{\texttt {true}}\)

\(\newcommand {\false }{\texttt {false}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\Pic }{\operatorname {Pic}}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="was-ist-kryptografie">Was ist Kryptografie?</h2>

</p>


<p>
<b>Ziele der Kryptografie</b>: Informationsschutz/-sicherheit
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><em>Vertraulichkeit</em> (Schutz vor Zugriff)
</p>
</li>
<li class="list-item-f1"><p><em>Integrita&#x0308;t</em> (Schutz vor Vera&#x0308;nderung)
</p>
</li>
<li class="list-item-f2"><p><em>Authentizita&#x0308;t</em> (Schutz vor Fa&#x0308;lschung)
</p>
</li>
<li class="list-item-f3"><p><em>Verbindlichkeit/Nichtabstreitbarkeit</em>
</p>
</li>
</ul>

<p>
<b>sehr alte Wissenschaft</b>: bis ca. 3000 v.&#x202f;Chr., enger Zusammenhang zu verschiedenen, eher neueren Wissenschaften wie Zahlentheorie, Algorithmentechnik, Statistik, Informationstheorie, Algebra usw.
</p>

<p>
<b>auch Zusammenhang zu</b>: Komplexita&#x0308;tstheorie (Geschwindigkeit von Algorithmen), Elektrotechnik (kryptografische Verfahren in Chips „gießen“), Quantenphysik (schnelle Faktorisierung von Zahlen) usw.
</p>



<h2 id="informationstheoretisches-schema-der-kryptografie">Informationstheoretisches Schema der Kryptografie</h2>

</p>



<div class="displaymath" >

<a id="autoid-1" ></a >

<p>
<span
    id="lateximage-cryptographic-procedures-1"
    class="lateximagesource"
><!--
                       Nachricht                            Nachricht
                                                                O
                               
                    Quellencodierung
                                                        Quellendecodierung
                   (Datenkompression)                            O

                               
Schlüssel ke   /   Verschlüsselung c                    Entschlüsselung d o   Schlüssel ks
                                                                     O
                           
                  Kanalcodierung
               (fehlerkorrigierende/    /   Kanal   /   Kanaldecodierung
                -erkennende Codes)
--><img
   src="/class-notes/images/lectures/cryptographic-procedures/image-1.svg"
   alt="(1.1–1.0) \{begin}{align*} \xymatrix @R=5mm@C=5mm{ &amp;{\text {Nachricht}}\ar [d]&amp;&amp; {\text {Nachricht}}\\ &amp;*++[F]{\txt {\textbf
{Quellencodierung}\\(Datenkompression)}}\ar [d]&amp;&amp; *++[F]{\text {\textbf {Quellendecodierung}}}\ar [u]\\ {\text {Schlüssel } k_e}\ar [r]&amp; *++[F]{\text {\textbf {Verschlüsselung}
} c}=&quot;a&quot;\ar [d]&amp;&amp; *++[F]{\text {\textbf {Entschlüsselung} } d}=&quot;b&quot;\ar [u]&amp; {\text {Schlüssel } k_s}\ar [l]\\ &amp;*++[F]{\txt {\textbf
{Kanalcodierung}\\(fehlerkorrigierende/\\-erkennende Codes)}}\ar [r]&amp; *++[F-:&lt;5mm&gt;]{\text {\textbf {Kanal}}}\ar [r]&amp; *++[F]{\text {\textbf {Kanaldecodierung}}}\ar [u]&amp; }
\{end}{align*} "
   style=""
   class="lateximage"
></span>
</p>
</div>

<p>
\(k_e\) steht fu&#x0308;r <em>encryption key</em> und \(k_s\) steht fu&#x0308;r <em>secret key</em>. Der Kanal kann z.&#x202f;B. eine DVD oder eine Telefonleitung sein. Einen Kanal zusammen mit einer Kanalcodierung und
-decodierung heißt <em><span class="dashuline" >fehlerfreier Kanal</span></em> (die u&#x0308;bertragenen Daten enthalten keinen Fehler). Ein fehlerfreier Kanal zusammen mit einer Ver- und einer Entschlu&#x0308;sselung
heißt <em><span class="dashuline" >sicherer Kanal</span></em> (die u&#x0308;bertragenen Daten wurden nicht abgeho&#x0308;rt oder vera&#x0308;ndert).
</p>



<h2 id="wiederholung-algebra-und-modulo-arithmetik">Wiederholung: Algebra und Modulo-Arithmetik</h2>

</p>


<h3 id="restklassenringe">Restklassenringe</h3>

</p>


<p>
<b>Teiler/Vielfaches</b>: Seien \(k, \ell \in \integer \).<br />
Dann ist \(k\) ein <em><span class="dashuline" >Teiler</span></em> von \(\ell \) und \(\ell \) ein <em><span class="dashuline" >Vielfaches</span></em> von \(k\) (\(k \teilt \ell \)), falls \(\exists _{m \in
\integer }\; km = \ell \).
</p>

<p>
<b>Restklassenring</b>: Sei \(n \in \natural \). Dann heißt \(\ZnZ := \{0 \bmod n, \dotsc , (n - 1) \bmod n\}\) mit<br />
\(a \bmod n := \big \{b \in \integer \;\big |\; n \teilt (a - b)\big \}\) fu&#x0308;r \(a \in \integer \) <em><span class="dashuline" >Restklassenring</span></em> modulo \(n\).<br />
\(\ZnZ \) ist ein Ring mit den (wohldefinierten) Operationen<br />
\((a \bmod n) + (b \bmod n) := (a + b) \bmod n\) und \((a \bmod n)(b \bmod n) := (ab) \bmod n\).<br />
Zur Vereinfachung la&#x0308;sst man die Nebenklassen weg: Aus jeder Nebenklasse wa&#x0308;hlt man stets den Repra&#x0308;sentanten, der in \(\{0, \dotsc , n - 1\}\) liegt. Man schreibt also \(\ZnZ = \{0, \dotsc ,
n - 1\}\) und definiert \(a \bmod n\) als diesen Repra&#x0308;sentanten (d.&#x202f;h. \(a \bmod n := a - \lfloor \frac {a}{n}\rfloor n\)).<br />
Man schreibt \(a \equiv b \pmod n\) oder \(a \equiv _n b\), falls \(n \teilt (a - b)\), d.&#x202f;h. falls \(a \bmod n = b \bmod n\).
</p>

<p>
<b>chinesischer Restsatz</b>: Seien \(m, n \in \natural \) teilerfremd.<br />
Dann ist \(\integer /mn\integer \rightarrow \integer /m\integer \times \integer /n\integer \), \(x \bmod mn \mapsto (x \bmod m, x \bmod n)\) ein Ringisomorphismus.<br />
Insbesondere ist die Abbildung wohldefiniert und fu&#x0308;r \(x, y \in \integer /mn\integer \) gilt \(x \equiv _{mn} y\) genau dann, wenn \(x \equiv _m y\) und \(x \equiv _n y\).<br />
Außerdem hat fu&#x0308;r vorgegebene \(y_1, y_2 \in \integer \) das Kongruenzsystem \(x \equiv _m y_1\) und \(x \equiv _n y_2\) genau eine Lo&#x0308;sung \(x \in \integer /mn\integer \). Diese
Lo&#x0308;sung ist gegeben durch \(x = y_1 a n + y_2 b m\), wobei \(a \in \integer /m\integer \) mit \(an \equiv _m 1\) und \(b \in \integer /n\integer \) mit \(bm \equiv _n 1\).<br />
Diese Aussagen ko&#x0308;nnen auf \(k\) Restklassenringe verallgemeinert werden.
</p>



<h3 id="groesster-gemeinsamer-teiler">Größter gemeinsamer Teiler</h3>

</p>


<p>
<b>gro&#x0308;ßter gemeinsamer Teiler</b>: Seien \(a, b \in \integer \) mit \((a, b) \not = (0, 0)\).<br />
Dann heißt \(k \in \natural \) mit \(k \teilt a\), \(k \teilt b\) und \(\forall _{\ell \in \natural ,\; \ell \teilt a,\; \ell \teilt b}\; \ell \teilt k\) <em><span class="dashuline" >gro&#x0308;ßter
gemeinsamer Teiler</span></em> \(\ggT (a, b)\) von \(a\) und \(b\). Fu&#x0308;r \(a = b = 0\) definiert man \(\ggT (0, 0) := 0\).
</p>

<p>
<b>teilerfremd</b>: \(a, b \in \integer \) heißen <em><span class="dashuline" >teilerfremd</span></em>, falls \(\ggT (a, b) = 1\).
</p>

<p>
<b>Lemma von <span class="textsc" >Bézout</span></b>: Seien \(a, b \in \integer \). Dann gibt es \(s, t \in \integer \) mit \(\ggT (a, b) = sa + tb\).
</p>

<p>
<b>erweiterter euklidischer Algorithmus</b>: Mit dem <em><span class="dashuline" >erweiterten euklidischen Algorithmus</span></em> kann man \(\ggT (a, b)\) in Zeit \(\O (\log \min \{a, b\})\) fu&#x0308;r \(a,
b \in \integer \setminus \{0\}\) berechnen.<br />
Anfangs sei \(u = t := 1\) und \(v = s := 0\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f4"><p>    Ist \(b = 0\), so ist \(\ggT (a, b) = |a|\) (analog bei \(a = 0\)).
</p>
</li>
<li class="list-item-f5"><p>    Berechne \(q, r\) mit \(a = qb + r\) und \(0 \le r &lt; b\) durch Division mit Rest.
</p>
</li>
<li class="list-item-f6"><p>    Setze \(a^\ast := b\), \(b^\ast := r\), \(u^\ast := s\) und \(v^\ast := t\).
</p>
</li>
<li class="list-item-f7"><p>    Berechne \(s^\ast := u - qs\) und \(t^\ast := v - qt\).
</p>
</li>
<li class="list-item-f8"><p>    Wiederhole mit \(a^\ast , b^\ast , u^\ast , v^\ast , s^\ast , t^\ast \), bis \(a = 0\) oder \(b = 0\).
</p>
</li>
</ul>

<p>
In jedem Schritt gilt \(a = ua_0 + vb_0\) und \(b = sa_0 + tb_0\) (mit den Eingabewerten \(a_0, b_0\)). Daher gilt \(\ggT (a_0, b_0) = sa_0 + tb_0\) mit \(s, t\) den Werten aus dem vorletzten Schritt (bevor \(r = 0\)
ist).
</p>



<h3 id="prime-restklassengruppen">Prime Restklassengruppen</h3>

</p>


<p>
<b>Primzahl</b>: \(p \in \natural \) heißt <em><span class="dashuline" >Primzahl</span></em> oder <em><span class="dashuline" >prim</span></em>, falls es genau zwei verschiedene natu&#x0308;rliche Zahlen
gibt, die Teiler von \(p\) sind (na&#x0308;mlich \(1\) und \(p\) selbst). \(\PP \subset \natural \) ist die <em><span class="dashuline" >Menge der Primzahlen</span></em>.
</p>

<p>
<b>zusammengesetzte Zahl</b>: Eine nicht-prime Zahl \(n \in \natural \) mit \(n &gt; 1\) heißt <em><span class="dashuline" >zusammengesetzt</span></em>.
</p>

<p>
<b>prime Restklassengruppe</b>: Sei \(n \in \natural \) mit \(n &gt; 1\).<br />
Dann heißt \((\ZnZ )^\ast := \{a \in \ZnZ \;|\; \exists _{b \in \ZnZ }\; ab \equiv _n 1\}\) <em><span class="dashuline" >prime Restklassengruppe</span></em> modulo \(n\) (sie ist eine Gruppe bzgl. der
Multiplikation in \(\ZnZ \)).<br />
Fu&#x0308;r \(a \in \ZnZ \) gilt \(a \in (\ZnZ )^{\ast } \iff \ggT (a, n) = 1\).<br />
Fu&#x0308;r \(p \in \natural \) prim ist \((\ZpZ )^\ast = \{1, \dotsc , p-1\}\) ein Ko&#x0308;rper.
</p>

<p>
<b>multiplikative Inverse</b>: Fu&#x0308;r \(a \in (\ZnZ )^\ast \) la&#x0308;sst sich das eindeutige \(b \in (\ZnZ )^\ast \) mit \(ab \equiv _n 1\) mit dem erweiterten euklidischen Algorithmus berechnen. Wegen
\(\ggT (a, n) = 1\) gilt mit dem Lemma von Bézout \(\exists _{s, t \in \integer }\; 1 = sn + ta\). Modulo \(n\) gilt daher \(1 = sn + ta \equiv _n ta\), d.&#x202f;h. \(b := t \bmod n\).
</p>

<p>
<b><span class="textsc" >Euler</span>sche \(\varphi \)-Funktion</b>: Die Abb. \(\varphi \colon \natural \rightarrow \natural \), \(\varphi (n) := \left |\{a \in \{1, \dotsc , n\} \;|\; \ggT (a, n)
= 1\}\right |\) heißt <em><span class="dashuline" ><span class="textsc" >Euler</span>sche \(\varphi \)-Funktion</span></em>. Es gilt \(\varphi (n) = |(\ZnZ )^\ast |\).<br />
Fu&#x0308;r \(p \in \natural \) prim gilt \(\varphi (p) = p - 1\). Fu&#x0308;r \(p, q \in \natural \) teilerfremd gilt \(\varphi (p \cdot q) = \varphi (p) \cdot \varphi (q)\).<br />
Insbesondere gilt \(\varphi (pq) = (p-1)(q-1)\) fu&#x0308;r verschiedene Primzahlen \(p, q\).
</p>

<p>
<b>Satz von <span class="textsc" >Euler</span></b>: Seien \(a \in \integer \) und \(n \in \natural \) mit \(\ggT (a, n) = 1\).<br />
Dann gilt \(a^{\varphi (n)} \equiv _n 1\).
</p>

<p>
<b>kleiner Satz von <span class="textsc" >Fermat</span></b>: Seien \(a \in \integer \) und \(p\) eine Primzahl mit \(\ggT (a, p) = 1\).<br />
Dann gilt \(a^{p-1} \equiv _p 1\).
</p>



<h3 id="gruppen">Gruppen</h3>

</p>


<p>
<b>Gruppe</b>: Eine <em><span class="dashuline" >Gruppe</span></em> \((G, \ast )\) ist eine Menge \(G\) mit einer Abbildung \(\ast \colon G \times G \rightarrow G\), sodass \(\ast \) assoziativ ist, ein neutrales
Element \(e\) existiert und inverse Elemente \(g^{-1}\) existieren.
</p>

<p>
<b>Untergruppe</b>: Eine Teilmenge \(H \subset G\) einer Gruppe \(G\) heißt <em><span class="dashuline" >Untergruppe</span></em> von \(G\) (\(H &lt; G\)), falls \(e \in H\) sowie \(\forall _{x, y \in H}\; x
\ast y \in H,\; x^{-1} \in H\). \((H, \ast )\) ist selbst eine Gruppe.
</p>

<p>
<b>zyklisch</b>: Eine Gruppe \(G\) heißt <em><span class="dashuline" >zyklisch</span></em>, falls \(\exists _{g \in G}\; G = \{g^n \;|\; n \in \integer \}\).<br />
In diesem Fall heißt jedes Element \(g \in G\) mit dieser Eigenschaft <em><span class="dashuline" >Erzeuger</span></em> von \(G\).<br />
\(\{g^n \;|\; n \in \integer \}\) ist eine Untergruppe von \(G\), die von \(g\) <em><span class="dashuline" >erzeugte zyklische Untergruppe</span></em> \(\erzeugnis {g}\) von \(G\).<br />
Ist \(G\) zyklisch und endlich, so ist \(G\) isomorph zu \((\ZnZ , +)\) mit \(n := |G|\).<br />
Ist \(G\) zyklisch und unendlich, so ist \(G\) isomorph zu \((\integer , +)\).<br />
\((\ZnZ , +)\) ist zyklisch, die Erzeuger sind genau die Restklassen, die teilerfremd zu \(n\) sind.<br />
\(((\ZnZ )^\ast , \cdot )\) ist zyklisch genau dann, wenn \(\exists _{p &gt; 2 \text { prim}} \exists _{k \in \natural }\; n \in \{2, 4, p^k, 2p^k\}\) (insbesondere ist \((\ZpZ )^\ast \) zyklisch
fu&#x0308;r \(p \in \natural \) prim).
</p>

<p>
<b>Primitivwurzel</b>:<br />
Ist \(((\ZnZ )^\ast , \cdot )\) zyklisch, dann heißen Erzeuger von \((\ZnZ )^\ast \) <em><span class="dashuline" >Primitivwurzeln</span></em> modulo \(n\).
</p>



<h3 id="ordnung">Ordnung</h3>

</p>


<p>
<b>Gruppenordnung</b>: Sei \(G\) eine Gruppe. Dann heißt \(\ord (G) := |G|\) <em><span class="dashuline" >Gruppenordnung</span></em> von \(G\).
</p>

<p>
<b>Ordnung</b>: Seien \(G\) eine Gruppe und \(g \in G\).<br />
Dann heißt \(\ord (g) = \ord _G(g) := \min \{k \in \natural \;|\; g^k = e\}\) <em><span class="dashuline" >Ordnung</span></em> von \(g\) in \(G\). Fu&#x0308;r \(G := (\integer /n\integer )^\ast \)
und \(a \in (\integer /n\integer )^\ast \) heißt \(\ord _n(a) := \min \{k \in \natural \;|\; a^k \equiv _n 1\}\) <em><span class="dashuline" >Ordnung</span></em> von \(a\) modulo \(n\).<br />
Es gilt \(\ord (g) = \ord (\erzeugnis {g})\). \(g\) ist ein Erzeuger von \(G\) genau dann, wenn \(\ord (g) = \ord (G)\).<br />
Fu&#x0308;r \(\ell \in \natural \) gilt \(g^\ell = e\) genau dann, wenn \(\ord (g) \teilt \ell \).
</p>

<p>
<b>Satz von <span class="textsc" >Lagrange</span></b>: Seien \(G\) eine endliche Gruppe und \(H &lt; G\). Dann gilt \(|H| \teilt |G|\).
</p>

<p>
<b>Index</b>: Seien \(G\) eine endliche Gruppe und \(H &lt; G\).<br />
Dann heißt \([G : H] := \frac {|G|}{|H|} \in \natural \) <em><span class="dashuline" >Index</span></em> von \(H\) in \(G\).
</p>



<h3 id="ringe-und-koerper">Ringe und Körper</h3>

</p>


<p>
<b>Ring</b>: Ein <em><span class="dashuline" >Ring</span></em> \((R, +, \cdot )\) ist eine Menge zusammen mit Abbildungen \(+, \cdot \colon K \times K \rightarrow K\), sodass \((K, +)\) eine abelsche
Gruppe mit neutralem Element \(0\) ist, \(\cdot \) assoziativ ist und das Distributivita&#x0308;tsgesetz gilt.
</p>

<p>
<b>Ko&#x0308;rper</b>: Ein <em><span class="dashuline" >Ko&#x0308;rper</span></em> \((K, +, \cdot )\) ist eine Menge zusammen mit Abbildungen \(+, \cdot \colon K \times K \rightarrow K\), sodass \((K,
+)\) eine abelsche Gruppe mit neutralem Element \(0\) ist, \((K \setminus \{0\}, \cdot )\) eine abelsche Gruppe mit neutralem Element \(1\) ist und das Distributivita&#x0308;tsgesetz gilt.<br />
Ein Ko&#x0308;rper ist ein kommutativer Ring mit Eins mit allen \(a \in K \setminus \{0\}\) multiplikativ invertierbar.<br />
Ein Ko&#x0308;rper ist nullteilerfrei, d.&#x202f;h. aus \(ab = 0\) fu&#x0308;r \(a, b \in K\) folgt \(a = 0\) oder \(b = 0\).<br />
Jedes Polynom vom Grad \(n \ge 1\) in \(K[x]\) hat ho&#x0308;chstens \(n\) Nullstellen.
</p>

<p>
<b>endlicher Ko&#x0308;rper</b>: Fu&#x0308;r jeden endlichen Ko&#x0308;rper \(\FF \) mit \(q := |\FF |\) gilt \(q = p^n\) fu&#x0308;r eine Primzahl \(p \in \natural \) und \(n \in \natural \). Bis auf
Isomorphie gibt es genau einen Ko&#x0308;rper mit \(q\) Elementen, der mit \(\FF _q\) bezeichnet wird. Fu&#x0308;r \(q = p\) prim gilt \(\FF _p \cong \ZpZ \). Fu&#x0308;r jeden endlichen Ko&#x0308;rper \(\FF _q\) ist
\(\FF _q^\ast \) zyklisch.
</p>

<p>
<b>Konstruktion von endlichen Ko&#x0308;rpern</b>: Seien \(p\) prim, \(\FF _p := \ZpZ \) und \(f(X) \in \FF _p[X]\) irreduzibel (nicht darstellbar als Produkt zweier nicht-konstanter Polynome) mit \(n := \deg f \ge
1\).<br />
Dann ist \(\KK := \FF _p[X]/\erzeugnis {f(X)}\) ein Ko&#x0308;rper mit \(|\KK | = p^n\), d.&#x202f;h. \(\KK \cong \FF _q\) mit \(q = p^n\). Man kann \(f\) auch als Polynom in \(\KK [Y]\) betrachten: \(\overline
{X} := X + \erzeugnis {f(X)}\) ist eine Nullstelle von \(f(Y) \in \KK [Y]\), insbesondere ist \(f(Y) \in \KK [Y]\) reduzibel fu&#x0308;r \(\deg f \ge 2\).
</p>

<p>
<b>Charakteristik</b>: Sei \(\FF \) ein Ko&#x0308;rper. Dann heißt die kleinste Zahl \(p \in \natural \) mit \(p \cdot 1_\FF = 0_\FF \) (\(p\)-fache Summe von \(1_\FF \)) <em><span class="dashuline"
>Charakteristik</span></em> von \(\FF \). Gilt \(\forall _{p \in \natural }\; p \cdot 1_\FF \not = 0_\FF \), dann hat \(\FF \) die Charakteristik \(0\). Die Charakteristik ist entweder \(0\) oder eine Primzahl \(p\).
Der endliche Ko&#x0308;rper \(\FF _q\) mit \(q = p^n\) hat die Charakteristik \(p\). (Ko&#x0308;rper mit Charakteristik \(0\) sind unendlich, die Umkehrung gilt i.&#x202f;A. nicht.)
</p>

{% endraw %}
</div>
{:/nomarkdown}
