
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\BB }{\mathbb {B}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\FF }{\mathbb {F}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\newcommand {\weakO }{\widetilde {\mathcal {O}}}\)

\(\newcommand {\teilt }{\mid }\)

\(\newcommand {\notteilt }{\nmid }\)

\(\newcommand {\ggT }{\operatorname {ggT}}\)

\(\newcommand {\Char }{\operatorname {char}}\)

\(\newcommand {\Rang }{\operatorname {Rang}}\)

\(\newcommand {\ZkZ }{\integer /k\integer }\)

\(\newcommand {\ZmZ }{\integer /m\integer }\)

\(\newcommand {\ZnZ }{\integer /n\integer }\)

\(\newcommand {\ZpZ }{\integer /p\integer }\)

\(\newcommand {\ZqZ }{\integer /q\integer }\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\xor }{\oplus }\)

\(\newcommand {\bigxor }{\bigoplus }\)

\(\newcommand {\IP }{\operatorname {IP}}\)

\(\newcommand {\PC }{\operatorname {PC}}\)

\(\newcommand {\DES }{\operatorname {DES}}\)

\(\newcommand {\smallbullet }{{\scriptstyle \bullet }}\)

\(\newcommand {\ord }{\operatorname {ord}}\)

\(\newcommand {\erzeugnis }[1]{\langle #1\rangle }\)

\(\newcommand {\true }{\texttt {true}}\)

\(\newcommand {\false }{\texttt {false}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\Pic }{\operatorname {Pic}}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
</style>
<p>

</p>


<p>
<b>Faktorisierungsproblem</b>: Gegeben sei eine zusammengesetzte Zahl \(n \in \natural \).<br />
Gesucht ist ein nicht-trivialer Teiler von \(n\).
</p>

<p>
Faktorisierung ist ein wichtiges Problem fu&#x0308;r die Kryptografie, weil z.&#x202f;B. das Knacken eines o&#x0308;ffentlichen RSA-Schlu&#x0308;ssels genauso schwierig ist wie Faktorisierung. Ist ein nicht-trivialer Teiler von
\(n\) gefunden, so kann dieser herausgeteilt werden und so die komplette Primfaktorzerlegung von \(n\) bestimmt werden.
</p>

<p>
<b>naive Methode</b>: Bei der <em><span class="dashuline" >Probedivision</span></em> probiert man alle Teiler bis \(\sqrt {n}\) durch.
</p>

<p>
<b>Laufzeiten</b>: Die Laufzeiten werden in Abha&#x0308;ngigkeit der La&#x0308;nge \(\log n\) der Zahl \(n\) angegeben.
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><em>Probedivison</em>: \(\O (\sqrt {2^{\log n}}) = \O (\sqrt {n})\)
</p>
</li>
<li class="list-item-f1"><p><em><span class="textsc" >Pollard</span>s \((p-1)\)-Methode</em>: \(\O (\sqrt [3]{2^{\log n}}) = \O (\sqrt [3]{n})\)
</p>
</li>
<li class="list-item-f2"><p><em><span class="textsc" >Pollard</span>s \(\varrho \)-Methode</em>: \(\weakO (\sqrt [4]{2^{\log n}}) = \weakO (\sqrt [4]{n})\)
</p>
</li>
<li class="list-item-f3"><p><em>quadratisches Sieb</em>: \(2^{\weakO (\sqrt {\log n})}\)
</p>
</li>
<li class="list-item-f4"><p><em>Zahlko&#x0308;rpersieb</em>: \(2^{\weakO (\sqrt [3]{\log n})}\) (aber mit gro&#x0308;ßerer Konstante als beim quadratischen Sieb)
</p>
</li>
</ul>

<p>
Dabei sind die letzten beiden Methoden subexponentiell in der La&#x0308;nge \(\log n\).
</p>



<h2 id="pollards-p-1-methode"><span style="font-variant: small-caps;">Pollard</span>s (p-1)-Methode</h2>

</p>


<p>
<b>Motivation</b>: Angenommen, \(n\) besitzt einen Primteiler \(p \in \natural \), sodass \(p - 1\) nur „kleine“ Primteiler besitzt, d.&#x202f;h. alle Primteiler sind aus einer <em><span class="dashuline"
>Basis</span></em> \(B \subset \PP \). Nach dem kleinen Satz von Fermat gilt \(a^k \equiv _p 1\) fu&#x0308;r alle \(a \in (\ZpZ )^\ast \) und \(k \in \natural \) mit \((p - 1) \teilt k\). Somit teilt \(p\) nicht
nur \(n\), sondern auch \(a^k - 1\) und damit \(\ggT (a^k - 1, n)\). Ist \(\ggT (a^k - 1, n) &lt; n\), so hat man einen nicht-trivialen Teiler von \(n\) gefunden.
</p>

<p>
<b>Problem</b>: \(p\) ist nicht bekannt, daher kann kein Vielfaches \(k\) von \(p - 1\) bestimmt werden.
</p>

<p>
<b>Lo&#x0308;sung</b>: Wa&#x0308;hle \(k\), sodass \((p - 1) \teilt k\) fu&#x0308;r jeden Primteiler \(p\) von \(n\), fu&#x0308;r den gilt, dass \(p - 1\) nur Primteiler aus der Basis \(B\) besitzt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Pollard</span>s \((p-1)\)-Methode</b>:<br />
<em><span class="dashuline" ><span class="textsc" >Pollard</span>s \((p-1)\)-Methode</span></em> ist ein Faktorisierungsverfahren und verla&#x0308;uft wie folgt.
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>   Wa&#x0308;hle eine Basis \(B \subset \PP \).
</p>
</li>
<li class="list-item-f6"><p>   Berechne \(k := \prod _{q \in B} q^{\lfloor \log _q n \rfloor }\).
</p>
</li>
<li class="list-item-f7"><p>   Wa&#x0308;hle \(a \in (\ZnZ )^\ast \) zufa&#x0308;llig und berechne \(\ggT (a^k - 1, n)\).
</p>
</li>
<li class="list-item-f8"><p>   Ist dies kein nicht-trivialer Teiler von \(n\), dann versuche es erneut mit einem anderen \(a\) oder einer gro&#x0308;ßeren Basis \(B\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Problem</b>: Wenn kein Primteiler \(p\) von \(n\) die Eigenschaft hat, dass \(p - 1\) nur kleine Primteiler besitzt, dann funktioniert das Verfahren nicht – dafu&#x0308;r ist das \(B\) zu klein. Wird aber \(B\) zu stark
vergro&#x0308;ßert, dann wird \(k\) sehr groß und die Berechnung von \(\ggT (a^k - 1, n)\) dauert zu lange.
</p>

<p>
<b>Lo&#x0308;sung</b>: Mit elliptischen Kurven gibt es fu&#x0308;r jedes \(n\) viele Kurven (die Struktur von \((\ZnZ )^\ast \) ist fest).
</p>



<h2 id="pollards-rho-methode"><span style="font-variant: small-caps;">Pollard</span>s ϱ-Methode</h2>

</p>


<p>
<b>Geburtstagsparadoxon</b>: Sei \(M\) eine endliche Menge mit \(|M| =: n \in \natural \) und \(k \in \natural \). Wa&#x0308;hlt man nun zufa&#x0308;llig (gleichverteilt) eine Folge aus \(M^k\), wie groß ist die
Wahrscheinlichkeit, dass zwei gleiche Eintra&#x0308;ge in der Folge vorkommen? Dazu sei \(E\) das Ereignis „in der Folge kommen nur verschiedene Elemente vor“. Dann gilt \(|E| = n \cdot (n - 1) \cdot \dotsb \cdot (n
- k + 1) = \prod _{i=0}^{k-1} (n-i) =: n^{\underline {k}}\) (<em><span class="dashuline" >fallende Faktorielle</span></em>). Fu&#x0308;r \(x \in \real \) gilt \(1 + x \le e^x\). Daher erha&#x0308;lt
man<br />
\(\Pr (E) = \frac {n^{\underline {k}}}{n^k} = \prod _{i=1}^{k-1} (1 - \frac {i}{n}) \le \prod _{i=1}^{k-1} \exp (-\frac {i}{n}) = \exp (-\sum _{i=1}^{k-1} \frac {i}{n}) = \exp (-\frac
{k(k-1)}{2n})\). Ist \(k \ge \sqrt {2n} + 1\), so gilt \(\Pr (E) \le \exp (-\frac {(k-1)^2}{2n}) \le \frac {1}{e} &lt; \frac {1}{2}\). Wa&#x0308;hlt man also \(k\) in der Gro&#x0308;ßenordnung von \(\sqrt
{n}\), dann gilt \(\Pr (\lnot E) \ge \frac {1}{2}\) und es ist wahrscheinlicher, dass die Folge zwei gleiche Elemente entha&#x0308;lt als dass sie nur verschiedene Elemente entha&#x0308;lt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Motivation</b>: Angenommen, \(n\) besitzt einen Primteiler \(p\). Die Idee von Pollards \(\varrho \)-Methode ist, dass jede Zufallssequenz in \(\ZpZ \) im Durchschnitt nach \(\sqrt {p}\)-vielen Folgengliedern zwei gleiche
Elemente entha&#x0308;lt (wie beim Geburtstagsparadoxon). Zur Erstellung einer solchen Folge wa&#x0308;hlt man eine Abb. \(f\colon \ZpZ \rightarrow \ZpZ \) und berechnet die Pseudozufallsfolge \(x_0, f(x_0),
f^2(x_0), \dotsc \) fu&#x0308;r einen Startwert \(x_0 \in \ZpZ \) (<em><span class="dashuline" >\(f\)-Folge</span></em>). U&#x0308;blicherweise verwendet man \(f\colon \ZpZ \rightarrow \ZpZ \), \(f(x) :=
(x^2 + a) \bmod p\) mit \(a \in \ZpZ \), wobei \(a \not \equiv _p 0\), \(a \not \equiv _p -1\), \(a \not \equiv _p -2\) (z.&#x202f;B. \(a = 1\)).
</p>

<p>
Weil man allerdings \(p\) nicht kennt, verwendet man Abbildungen \(F\colon \ZnZ \rightarrow \ZnZ \) und berechnet \(x_0, F(x_0), F^2(x_0), \dotsc \) (<em><span class="dashuline" >\(F\)-Folge</span></em>),
wobei \(f(x) := F(x) \bmod p\). U&#x0308;blicherweise benutzt man \(F(x) := (x^2 + a) \bmod n\) wie eben, z.&#x202f;B. mit \(a = 1\).
</p>

<p>
Gesucht sind zwei Indizes \(i \not = j\), sodass die Folgenglieder in der \(f\)-Folge u&#x0308;bereinstimmen, in der \(F\)-Folge jedoch nicht, d.&#x202f;h. \(x_i \equiv _p x_j\) und \(x_i \not \equiv _n x_j\) mit \(x_i
:= F^i(x_0)\). In diesem Fall gilt \(p \teilt (x_i - x_j)\), aber \(n \notteilt (x_i - x_j)\), d.&#x202f;h. \(\ggT (x_i - x_j, n)\) ist ein nicht-trivialer Teiler von \(n\).
</p>

<p>
Das Problem dabei ist, dass alle \(x_i\) gespeichert werden mu&#x0308;ssen. Dafu&#x0308;r nutzt man aus, dass aus \(\exists _{k \in \natural } \exists _{i \in \natural }\; x_i \equiv _p x_{i+k}\) folgt, dass
\(\exists _{j \in \natural }\; x_j \equiv _p x_{2j}\).<br />
(Aus \(x_i \equiv _p x_{i+k}\) folgt \(x_{i’} \equiv _p x_{i’+k}\) fu&#x0308;r alle \(i’ \ge i\), da \(x_{i’+k} \equiv _p F^{i’-i}(x_{i+k}) \equiv _p F^{i’-i}(x_i) \equiv _p x_{i’}\).<br />
Fu&#x0308;r \(j := ik\) ist damit \(x_{2j} = x_{2ik} = x_{(2i-1)k} \equiv _p \dotsb \equiv _p x_{ik} = x_j\).)<br />
Daher berechnet man zusa&#x0308;tzlich zu \(x_i\) die Folge \(y_i := F^{2i}(x_0) \bmod n\) und u&#x0308;berpru&#x0308;ft bloß Kollisionen zwischen der \(x_i\)- und der \(y_i\)-Folge, d.&#x202f;h. man berechnet
\(\ggT (y_i - x_i, n)\) und u&#x0308;berpru&#x0308;ft, ob dies ein nicht-trivialer Teiler von \(n\) ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Pollard</span>s \(\varrho \)-Methode</b>:<br />
<em><span class="dashuline" ><span class="textsc" >Pollard</span>s \(\varrho \)-Methode</span></em> ist ein Faktorisierungsverfahren und verla&#x0308;uft wie folgt.
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>Wa&#x0308;hle \(x_0 \in \ZnZ \), \(F\colon \ZnZ \rightarrow \ZnZ \) und setze \(i := 1\), \(y_0 := x_0\).
</p>
</li>
<li class="list-item-f10"><p>Berechne \(x_i := F(x_{i-1})\) und \(y_i := F(F(y_{i-1}))\).
</p>
</li>
<li class="list-item-f11"><p>Berechne \(d := \ggT (y_i - x_i, n)\) und u&#x0308;berpru&#x0308;fe, ob \(1 &lt; d &lt; n\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f12"><p>Falls ja, so ist \(d\) ein nicht-trivialer Teiler von \(n\).
</p>
</li>
<li class="list-item-f13"><p>Falls nein, erho&#x0308;he \(i\) um \(1\) und gehe zu <em>(2)</em>.
</p>
</li>
</ul>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Laufzeit</b>: Nach obiger Motivation ist \(d = \ggT (y_i - x_i, n)\) ein nicht-trivialer Teiler von \(n\), wenn \(x_i \equiv _p y_i = x_{2i}\), aber \(x_i \not \equiv _n y_i = x_{2i}\) mit einem Primteiler \(p\)
von \(n\). Weil ein solcher Zyklus im Mittel nach \(\sqrt {p}\) Schritten auftaucht, ist die erwartete Laufzeit \(\O (\sqrt {p})\) mit \(p\) dem gro&#x0308;ßten Primteiler von \(n\). Allerdings kann \(p \in \Theta (\sqrt
{n})\) sein (z.&#x202f;B. \(143 = 11 \cdot 13\)), d.&#x202f;h. die erwartete Laufzeit ist \(\O (\sqrt [4]{n})\).
</p>

<p>
Pollards \(\varrho \)-Methode arbeitet besonders schnell, wenn \(n\) nur kleine Primteiler besitzt (diese aber durchaus in hohen Potenzen).
</p>



<h2 id="quadratisches-sieb">Quadratisches Sieb</h2>

</p>


<p>
<b>Lemma</b>: Sei \(n \in \natural \) und \(x, y \in \integer \) mit \(x^2 \equiv _n y^2\), aber \(x \not \equiv _n \pm y\). Dann gilt \(1 &lt; \ggT (x \pm y, n) &lt; n\).
</p>

<p>
<b>Beweis</b>: Es gilt \(x^2 - y^2 = (x + y)(x - y) \equiv _n 0\), d.&#x202f;h. \(n \teilt (x + y)(x - y)\).<br />
Wa&#x0308;re \(\ggT (x \pm y, n) = n\), dann wa&#x0308;re \(x \pm y \equiv _n 0\), ein Widerspruch zu \(x \not \equiv _n \mp y\).<br />
Wa&#x0308;re \(\ggT (x \pm y, n) = 1\), dann wa&#x0308;re \(n \teilt (x \mp y)\) (da \(n \teilt (x + y)(x - y)\)), d.&#x202f;h. \(x \mp y \equiv _n 0\), ein Widerspruch wie eben. &#x2003;&#x2003;
</p>

<p>
<b>Idee</b>: Die Idee des quadratischen Siebs ist es daher, Zahlen \(x, y \in \integer \) mit \(x \not \equiv _n \pm y\) zu finden, sodass \(x^2 \equiv _n y^2\) (d.&#x202f;h. \(x^2 - y^2\) ist ein Vielfaches von \(n\)).
</p>

<p>
<b>Faktorbasis</b>:<br />
Eine Menge \(B \subset \natural \cup \{-1\}\) heißt <em><span class="dashuline" >Faktorbasis</span></em>, falls \(\exists _{B_0 \in \natural }\; B = \{-1\} \cup \{p \in \PP \;|\; p \le B_0\}\).
</p>

<p>
<b>\(B\)-glatt</b>: Seien \(B\) eine Faktorbasis und \(s \in \integer \).<br />
Dann heißt \(s\) <em><span class="dashuline" >\(B\)-glatt</span></em>, falls \(\forall _{p \in B} \exists _{e_p(s) \in \natural _0}\; s = \prod _{p \in B} p^{e_p(s)}\).
</p>

<p>
<b>Schema</b>: Das <em><span class="dashuline" >quadratische Sieb</span></em> ist ein Faktorisierungsverfahren und verla&#x0308;uft wie folgt.
</p>
<ul style="list-style-type:none">

<li class="list-item-f14"><p>Wa&#x0308;hle eine Faktorbasis \(B\).
</p>
</li>
<li class="list-item-f15"><p>Finde genu&#x0308;gend viele Zahlen \(z \in \integer \) mit \(g(z) := z^2 \bmod n\) \(B\)-glatt.
</p>
</li>
<li class="list-item-f16"><p>Wa&#x0308;hle eine Teilmenge der \(z\), sodass das Produkt \(r\) der \(g(z)\) nur gerade Exponenten bzgl. Faktoren aus \(B\) entha&#x0308;lt.
</p>
</li>
<li class="list-item-f17"><p>Definiere \(x\) als das Produkt der \(z\) und \(y\) als das Produkt der \(g(z)\), nur jeweils mit halbierten Exponenten. Dann gilt \(x^2 \equiv _n r = y^2\) und man erha&#x0308;lt eine Faktorisierung von \(n\)
(falls \(x \not \equiv _n \pm y\)).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>zu Schritt <em>(1)</em></b>: <em>„wu&#x0308;ste“ Zahlentheorie</em>
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>zu Schritt <em>(2)</em></b>: <em>Sieben</em>
</p>

<p>
Das Verfahren des quadratischen Siebs beschleunigt die Suche nach den Zahlen \(z \in \integer \) mit \(g(z) = z^2 \bmod n\) \(B\)-glatt, indem \(z\) in der Na&#x0308;he von \(\sqrt {n}\) gesucht wird. Man definiert
daher \(f(x) := (x + m)^2 - n\) mit \(m := \left \lfloor \sqrt {n}\right \rfloor \). Damit erha&#x0308;lt man fu&#x0308;r betragsma&#x0308;ßig kleine \(x\) Werte von \(z\) in der Na&#x0308;he von \(\sqrt
{n}\), außerdem bleibt \(f(x)\) dann betragsma&#x0308;ßig klein (d.&#x202f;h. die \(B\)-Glattheit von \(f(x)\) ist leichter zu untersuchen).
</p>

<p>
Die Ermittlung von Zahlen \(x\) mit \(f(x)\) \(B\)-glatt verla&#x0308;uft wie folgt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f18"><p>Wa&#x0308;hle ein <em><span class="dashuline" >Sieb</span></em> \(S := \{-c, \dotsc , c\}\) mit \(c \in \natural \).
</p>
</li>
<li class="list-item-f19"><p>Berechne \(f(s) := (s + m)^2 - n\) mit \(m := \left \lfloor \sqrt {n}\right \rfloor \) fu&#x0308;r alle \(s \in S\).
</p>
</li>
<li class="list-item-f20"><p>Fu&#x0308;r jede Primzahl \(p \in B \setminus \{-1\}\) wiederhole:
</p>
<ul style="list-style-type:none">

<li class="list-item-f21"><p>Berechne die (maximal zwei) Nullstellen \(s_{1,p}, s_{2,p} \in \FF _p\) von \((X + m)^2 - n \in \FF _p[X]\).
</p>
</li>
<li class="list-item-f22"><p>Fu&#x0308;r \(s \in S\) gilt \(p \teilt f(s) \iff s \in \{s_{1,p}, s_{2,p}\} + p\integer \). Ermittle daher fu&#x0308;r jedes \(s \in S \cap (\{s_{1,p}, s_{2,p}\} + p\integer )\) den
maximalen Exponenten \(e_p(f(s)) \in \natural \) von \(f(s)\) bzgl. des Faktors \(p\) und teile ihn in einer anderen Variable heraus.
</p>
</li>
</ul>
</li>
<li class="list-item-f23"><p>Die \(s \in S\) mit \(f(s)\) \(B\)-glatt sind genau die \(s \in S\), bei denen \(\pm 1\) in der anderen Variable u&#x0308;brig bleibt.
</p>
</li>
</ul>

<p>
(Es gilt \(p \teilt f(s) \iff f(s) \equiv _p 0 \iff (s \equiv _p s_{1,p}) \lor (s \equiv _p s_{2,p}) \iff s \in \{s_{1,p}, s_{2,p}\} + p\integer \).)
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>zu Schritt <em>(3)</em></b>: <em>Lo&#x0308;sung eines LGS</em>
</p>

<p>
Sei \(S = \{-c, \dotsc , c\}\) das eben benutzte Sieb und \(S’ := \{s \in S \;|\; f(s) \text { $B$-glatt}\}\). Um eine nicht-leere Teilmenge \(I \subset S’\) mit \(\forall _{p \in B}\; [\sum _{s \in I}
e_p(f(s)) \text { gerade}]\) zu erhalten, betrachtet man ein LGS u&#x0308;ber \(\FF _2\). Fu&#x0308;r jedes \(p \in B\) erha&#x0308;lt man eine Gleichung \(\sum _{s \in S’} e_p(f(s)) \cdot \lambda _s \equiv
_2 0\) des LGS mit \(\lambda _s \in \FF _2 = \{0, 1\}\). Hat man eine nicht-triviale Lo&#x0308;sung \((\lambda _s)_{s \in S’}\) berechnet, so erfu&#x0308;llt \(I := \{s \in S’ \;|\; \lambda _s \equiv _2
1\}\) die gewu&#x0308;nschte Eigenschaft.
</p>

<p>
Das LGS hat \(|B|\) Gleichungen und \(|S’|\) Unbekannte. Es muss also \(|B| &lt; |S’|\) gelten, damit eine nicht-triviale Lo&#x0308;sung auf jeden Fall existiert, d.&#x202f;h. man beno&#x0308;tigt auf jeden Fall mehr als
\(|B|\)-viele \(B\)-glatte Zahlen. (Normalerweise ist \(|B| \ll |S|\).)
</p>

<p>
Ist \(|B|\) klein, so beno&#x0308;tigt man also nur wenige \(B\)-glatte Zahlen. Dann braucht man allerdings ein großes Sieb, da sich nur wenige Zahlen mit kleinen Primfaktoren faktorisieren lassen. Wenn \(|B|\) dagegen groß ist,
findet man zwar leichte \(B\)-glatte Zahlen (d.&#x202f;h. mit kleineren Sieben), aber wegen der unteren Schranke im LGS braucht man viele davon.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>zu Schritt <em>(4)</em></b>: <em>Wahl von \(x\) und \(y\)</em>
</p>

<p>
Wa&#x0308;hle nun \(x := (\prod _{s \in I} (s + m)) \bmod n\), \(y := \prod _{p \in B} p^{(\sum _{s \in I} e_p(f(s)))/2}\) und \(r := \prod _{s \in I} f(s)\).<br />
Dann gilt \(x^2 \equiv _n r = y^2\) und im Fall \(x \not \equiv _n \pm y\) sind nicht-triviale Teiler von \(n\) gefunden.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel</b>: \(n = 7429\), \(m = 86\), \(c = 3\), \(B = \{-1, 2, 3, 5, 7\}\)
</p>
<div class="center" >
<table>

<tr class="tbrule">
<td class="tdp">

<p>
\(s\)
</p>
</td>
<td class="tdm">

<p>
\(-3\)
</p>
</td>
<td class="tdm">

<p>
\(-2\)
</p>
</td>
<td class="tdm">

<p>
\(-1\)
</p>
</td>
<td class="tdm">

<p>
\(0\)
</p>
</td>
<td class="tdm">

<p>
\(1\)
</p>
</td>
<td class="tdm">

<p>
\(2\)
</p>
</td>
<td class="tdm">

<p>
\(3\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
\(f(s)\)
</p>
</td>
<td class="tdm">

<p>
\(-540\)
</p>
</td>
<td class="tdm">

<p>
\(-373\)
</p>
</td>
<td class="tdm">

<p>
\(-204\)
</p>
</td>
<td class="tdm">

<p>
\(-33\)
</p>
</td>
<td class="tdm">

<p>
\(140\)
</p>
</td>
<td class="tdm">

<p>
\(315\)
</p>
</td>
<td class="tdm">

<p>
\(492\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
<em>\(2\) sieben</em>
</p>
</td>
<td class="tdm">

<p>
\(-135\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(-51\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(35\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(123\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>\(3\) sieben</em>
</p>
</td>
<td class="tdm">

<p>
\(-5\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(-17\)
</p>
</td>
<td class="tdm">

<p>
\(-11\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(35\)
</p>
</td>
<td class="tdm">

<p>
\(41\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>\(5\) sieben</em>
</p>
</td>
<td class="tdm">

<p>
\(-1\)
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(7\)
</p>
</td>
<td class="tdm">

<p>
\(7\)
</p>
</td>
<td class="tdm">

</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>\(7\) sieben</em>
</p>
</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

<p>
\(1\)
</p>
</td>
<td class="tdm">

<p>
\(1\)
</p>
</td>
<td class="tdm">

</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
<em>Ergebnis</em>
</p>
</td>
<td class="tdm">

<p>
<b>\(-1\)</b>
</p>
</td>
<td class="tdm">

<p>
\(-373\)
</p>
</td>
<td class="tdm">

<p>
\(-17\)
</p>
</td>
<td class="tdm">

<p>
\(-11\)
</p>
</td>
<td class="tdm">

<p>
<b>\(1\)</b>
</p>
</td>
<td class="tdm">

<p>
<b>\(1\)</b>
</p>
</td>
<td class="tdm">

<p>
\(41\)
</p>
</td>
</tr>


<tr class="tbrule">
<td class="tdp">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
<td class="tdm">

</td>
</tr>

</table>

</div>

<p>
Es gilt daher \(S’ = \{-3, 1, 2\}\). Wa&#x0308;hlt man \(I = \{1, 2\}\), dann gilt wegen \(f(1) = 140 = 2^2 \cdot 5 \cdot 7\) und \(f(2) = 315 = 3^2 \cdot 5 \cdot 7\), dass \(x := (1 + 86)(2 + 86) \equiv
227 \pmod {7429}\) und \(y := 2 \cdot 3 \cdot 5 \cdot 7 = 210\), d.&#x202f;h. \(x^2 \equiv 2^2 \cdot 3^2 \cdot 5^2 \cdot 7^2 = y^2 \pmod {7429}\) und \(\ggT (227 - 210, 7429) = 17\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
