
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\BB }{\mathbb {B}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\FF }{\mathbb {F}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\newcommand {\weakO }{\widetilde {\mathcal {O}}}\)

\(\newcommand {\teilt }{\mid }\)

\(\newcommand {\notteilt }{\nmid }\)

\(\newcommand {\ggT }{\operatorname {ggT}}\)

\(\newcommand {\Char }{\operatorname {char}}\)

\(\newcommand {\Rang }{\operatorname {Rang}}\)

\(\newcommand {\ZkZ }{\integer /k\integer }\)

\(\newcommand {\ZmZ }{\integer /m\integer }\)

\(\newcommand {\ZnZ }{\integer /n\integer }\)

\(\newcommand {\ZpZ }{\integer /p\integer }\)

\(\newcommand {\ZqZ }{\integer /q\integer }\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\xor }{\oplus }\)

\(\newcommand {\bigxor }{\bigoplus }\)

\(\newcommand {\IP }{\operatorname {IP}}\)

\(\newcommand {\PC }{\operatorname {PC}}\)

\(\newcommand {\DES }{\operatorname {DES}}\)

\(\newcommand {\smallbullet }{{\scriptstyle \bullet }}\)

\(\newcommand {\ord }{\operatorname {ord}}\)

\(\newcommand {\erzeugnis }[1]{\langle #1\rangle }\)

\(\newcommand {\true }{\texttt {true}}\)

\(\newcommand {\false }{\texttt {false}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\Pic }{\operatorname {Pic}}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f26::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f27::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f28::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f29::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f30::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f31::marker {
  font-style:italic;
  content:'(6)\00a0\00a0';
}
.lwarp-contents li.list-item-f32::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f33::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f34::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f35::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f36::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f37::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f38::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f39::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f40::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f41::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f42::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f43::marker {
  font-style:italic;
  content:'(6)\00a0\00a0';
}
.lwarp-contents li.list-item-f44::marker {
  font-style:italic;
  content:'(7)\00a0\00a0';
}
.lwarp-contents li.list-item-f45::marker {
  font-style:italic;
  content:'(8)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="elektronische-verpflichtung">Elektronische Verpflichtung</h2>

</p>


<p>
<b>elektronische Verpflichtung</b>: In gewissen Situationen ist es no&#x0308;tig, dass Alice vorab eine Wahl trifft und dann nach einem gewissen Zeitpunkt die Wahl von Bob so u&#x0308;berpru&#x0308;ft wird, ohne dass die
Entscheidung hinterher durch Alice beeinflusst werden ko&#x0308;nnte, siehe folgendes Beispiel.
</p>

<p>
Die Anlageberaterin Alice mo&#x0308;chte Bob Aktien empfehlen. Allerdings mo&#x0308;chte Bob sich zuna&#x0308;chst davon u&#x0308;berzeugen, dass die empfohlenen Aktien tatsa&#x0308;chlich auch steigen. Alice kann
Bob nicht einfach im Voraus die Aktien nennen, sonst investiert Bob in die Aktien, ohne Alice als Vermittlerin zu bezahlen. Alice kann Bob aber auch nicht hinterher die Aktien nennen, denn Alice ko&#x0308;nnte ja genau die Aktien
auswa&#x0308;hlen, die gestiegen sind (und gar nichts mit ihren urspru&#x0308;nglichen Empfehlungen zu tun haben).
</p>

<p>
Mit analogen Mitteln wu&#x0308;rde man die Empfehlungen in einem Briefumschlag an einem sicheren Ort verwahren. Die digitale Version dieser Methode ist die <em><span class="dashuline" >elektronische
Verpflichtung</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Im Folgenden wird angenommen, dass Alice sich auf ein einzelnes Bit \(t \in \BB \) festlegt.
</p>

<p>
<b>elektr. Verpfl. mit symm. Verschl.verf.</b>: Seien \((c_k)_{k \in K}\) und \((d_k)_{k \in K}\) die Ver- bzw. Entschlu&#x0308;sselungsfunktionen eines symmetrischen Kryptosystems mit Schlu&#x0308;sselmenge \(K\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>Alice wa&#x0308;hlt einen zufa&#x0308;lligen Schlu&#x0308;ssel \(k \in K\).
</p>
</li>
<li class="list-item-f1"><p>Bob erzeugt einen Zufallsstring \(x\) und sendet ihn an Alice.
</p>
</li>
<li class="list-item-f2"><p>Alice berechnet \(y := c_k(xt)\) und schickt \(y\) an Bob.
</p>
</li>
</ul>

<p>
Spa&#x0308;ter kann Bob die Wahl von Alice wie folgt u&#x0308;berpru&#x0308;fen:
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Alice schickt \(k\) an Bob.
</p>
</li>
<li class="list-item-f4"><p>Bob berechnet \(d_k(y)\) und testet, ob \(d_k(y) = xt’\) fu&#x0308;r ein \(t’ \in \BB \).
</p>
</li>
</ul>

<p>
<b>Angriffsmo&#x0308;glichkeiten</b>: Alice ko&#x0308;nnte nach einem Schlu&#x0308;ssel \(k’\) suchen, sodass \(y = c_{k’}(x\overline {t})\) gilt (mit \(\overline {t} := 1 - t\)). Das wu&#x0308;rde allerdings
\(d_{k’}(y) = x\overline {t}\) bedeuten, d.&#x202f;h. eine Known-Plaintext-Attacke, der ein gutes Verfahren widerstehen sollte. Bob hat eine noch schlechtere Position, denn er kennt nur den Geheimtext \(y\) und ein
Pra&#x0308;fix \(x\) des Klartextes. Um \(k\) und damit \(t\) herauszufinden, mu&#x0308;sste er zwei Known-Plaintext-Attacken (eine fu&#x0308;r jede Mo&#x0308;glichkeit fu&#x0308;r \(t\)) durchfu&#x0308;hren.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>elektr. Verpfl. mit Hashfunktion</b>: Sei \(h\) eine o&#x0308;ffentliche, kollisionsresistente Hashfunktion.
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>Alice wa&#x0308;hlt zwei Zufallsstrings \(x_1, x_2\).
</p>
</li>
<li class="list-item-f6"><p>Alice berechnet den Hashwert \(h(x_1 x_2 t)\) und schickt den Hashwert und \(x_1\) an Bob.
</p>
</li>
</ul>

<p>
Spa&#x0308;ter kann Bob die Wahl von Alice wie folgt u&#x0308;berpru&#x0308;fen:
</p>
<ul style="list-style-type:none">

<li class="list-item-f7"><p>Alice schickt \(x_1 x_2 t\) an Bob.
</p>
</li>
<li class="list-item-f8"><p>Bob testet, ob \(x_1 x_2 t\) mit dem vorher fu&#x0308;r \(x_1\) erhaltenen Wert beginnt und ob \(h(x_1 x_2 t)\) gleich dem vorher erhaltenen Hashwert ist.
</p>
</li>
</ul>

<p>
<b>Angriffsmo&#x0308;glichkeiten</b>: Durch Offenlegeung eines Teils der Zufallsinformation kann Bob pru&#x0308;fen, dass Alice keine speziellen Strings wa&#x0308;hlt, die es erleichtern wu&#x0308;rden, eine Kollision zu
finden. Andererseits kann Bob \(t\) nicht bestimmen, bevor er \(x_1 x_2 t\) erha&#x0308;lt (\(h\) ist schwierig zu invertieren).
</p>

<p>
<b>Hauptvorteil</b>: Bob verschickt keine Nachrichten, d.&#x202f;h. Alice kann Radio oder Zeitung benutzen.
</p>



<h2 id="teilen-von-geheimnissen">Teilen von Geheimnissen</h2>

</p>


<p>
Angenommen, eine Person kennt ein Geheimnis \(s\) und mo&#x0308;chte dieses Geheimnis so auf \(n\) Personen aufteilen, dass beliebige \(t\) dieser Personen das Geheimnis rekonstruieren ko&#x0308;nnen (mit \(n, t \in
\natural \) und \(t \le n\)). Weniger als \(t\) Personen sollen aber bei einem Zusammentreffen keine Informationen u&#x0308;ber \(s\) gewinnen ko&#x0308;nnen.
</p>

<p>
<b>Teilen von Geheimnissen nach <span class="textsc" >Shamir</span></b>:<br />
Fu&#x0308;r das <em><span class="dashuline" >Teilen von Geheimnissen nach <span class="textsc" >Shamir</span></span></em> nimmt man \(s \in \natural \) an.
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>  Wa&#x0308;hle eine große Primzahl \(p\) (mit \(p \gg n, s\)).
</p>
</li>
<li class="list-item-f10"><p>  Wa&#x0308;hle zufa&#x0308;llige Koeffizienten \(a_1, \dotsc , a_{t-1} \in \FF _p\).
</p>
</li>
<li class="list-item-f11"><p>  Setze \(a(X) := s + \sum _{i=1}^{t-1} a_i X^i \in \FF _p[X]\).
</p>
</li>
<li class="list-item-f12"><p>  Teile der \(j\)-ten Person den Schlu&#x0308;ssel \((j, a(j))\) mit (fu&#x0308;r \(j = 1, \dotsc , n\)).
</p>
</li>
</ul>

<p>
Wenn nun \(t\) Personen zusammenkommen, verla&#x0308;uft die Rekonstruktion von \(s\) wie folgt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f13"><p>Lo&#x0308;se das LGS \(s + \sum _{i=1}^{t-1} a_i j^i = a(j)\) mit \(t\) Gleichungen (fu&#x0308;r jedes \(j\) eine) und \(t\) Unbekannten (\(s, a_1, \dotsc , a_{t-1}\)).
</p>
</li>
<li class="list-item-f14"><p>Gebe \(s\) aus.
</p>
</li>
</ul>

<p>
<b>Vorteil</b>: Weitere Personen ko&#x0308;nnen leicht hinzugefu&#x0308;gt werden, indem zusa&#x0308;tzliche Schlu&#x0308;ssel ausgegeben werden (\(t\) bleibt allerdings fest, weil sich sonst die Auswertungen \(a(j)\)
a&#x0308;ndern wu&#x0308;rden).
</p>

<p>
<b>Lemma (\(t\) Personen ko&#x0308;nnen \(s\) rekonstruieren)</b>: Das LGS ist eindeutig lo&#x0308;sbar.
</p>

<p>
<b>Beweis</b>: Es gilt \(\deg (a(X)) \le t - 1\) und die \(t\) Stu&#x0308;tzstellen sind paarw. verschieden. Wegen eindeutig mo&#x0308;glicher Polynominterpolation im Ko&#x0308;rper \(\FF _p\) (Existenz mit
Lagrange-Polynomen, Eindeutigkeit, weil \(a(X) \not = 0\) ho&#x0308;chstens \(t - 1\) Nullstellen hat) folgt die Behauptung. &#x2003;&#x2003;
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Mit der Lagrange-Interpolation kann man nicht nur \(a\) rekonstruieren, sondern auch zeigen, dass eine Gruppe von weniger als \(t\) Personen keine Informationen u&#x0308;ber \(s\) gewinnen kann.
</p>

<p>
<b><span class="textsc" >Lagrange</span>-Polynom</b>: Seien \(x_1, \dotsc , x_t \in \FF _p\) paarweise verschiedene Stu&#x0308;tzstellen. Dann heißen die Polynome \(\ell _i(X) := \prod _{j=1,\dotsc
,t,\;j\not =i} \frac {X - x_j}{x_i - x_j} \in \FF _p[X]\) fu&#x0308;r \(i = 1, \dotsc , t\) <em><span class="dashuline" ><span class="textsc" >Lagrange</span>-Polynome</span></em>.
</p>

<p>
Es gilt \(\deg (\ell _i) = t - 1\) und \(\ell _i(x_j) = \delta _{ij}\) fu&#x0308;r \(i, j = 1, \dotsc , n\).
</p>

<p>
Sind \(t\) Stu&#x0308;tzstellen \(x_1, \dotsc , x_t\) mit Werten \(a(x_j)\) gegeben, so gilt fu&#x0308;r \(\widetilde {a}(X) := \sum _{i=1}^t a(x_i) \ell _i(X)\), dass \(a(X) - \widetilde {a}(X)\) die \(t\)
Nullstellen \(x_j\) besitzt und vom Grad \(\le t - 1\) ist, d.&#x202f;h. \(a(X) = \widetilde {a}(X)\). Somit ko&#x0308;nnen \(t\) Personen mit paarweise verschiedenen Stu&#x0308;tzstellen \(a(X)\) rekonstruieren.
</p>

<p>
<b>Lemma (weniger als \(t\) Personen)</b>:<br />
Eine Gruppe von weniger als \(t\) Personen kann keine Informationen u&#x0308;ber \(s\) gewinnen.
</p>

<p>
<b>Beweis</b>: Seien nur \(t - 1\) Stu&#x0308;tzstellen \(x_1, \dotsc , x_{t-1} \in \FF _p \setminus \{0\}\) mit Auswertungen \(a(x_j)\) bekannt (\(x_j \not = 0\), sonst wa&#x0308;re \(x_j = 0\) und
\(a(x_j) = s\) direkt bekannt).
</p>
<ul style="list-style-type:none">

<li class="list-item-f15"><p>Dann gibt es genau \(p\) verschiedene Polynome \(\widetilde {a}(X)\) mit Grad \(\le t - 1\) und \(\widetilde {a}(x_j) = a(x_j)\) fu&#x0308;r \(j = 1, \dotsc , t - 1\): Wa&#x0308;hle \(x_t \in
\FF _p \setminus \{0\}\) fest mit \(x_t \not = x_j\) fu&#x0308;r \(j = 1, \dotsc , t-1\), dann ist \(\widetilde {a}(X) := \sum _{i=1}^{t-1} a(x_i) \ell _i(X) + b\ell _t(X)\) verschieden fu&#x0308;r alle
\(b \in \FF _p\) (\(\ell _1(X), \dotsc , \ell _t(X)\) l.u.).
</p>
</li>
<li class="list-item-f16"><p>Jedes der \(p\) mo&#x0308;glichen \(\widetilde {a}(X)\) liefert ein anderes \(\widetilde {a}(0)\): Wa&#x0308;re \(\widetilde {a}(0) = \widetilde {a}’(0)\), dann ha&#x0308;tte \(\widetilde
{a}(X) - \widetilde {a}’(X)\) die \(t\) Nullstellen \(x_1, \dotsc , x_{t-1}, 0\), d.&#x202f;h. \(\widetilde {a}(X) - \widetilde {a}’(X) = 0\).
</p>
</li>
</ul>

<p>
Somit ist fu&#x0308;r die Gruppe jeder Wert in \(\FF _p\) fu&#x0308;r \(s\) gleichwahrscheinlich. &#x2003;&#x2003;
</p>



<h2 id="durchschnittsgehalt">Durchschnittsgehalt</h2>

</p>


<p>
<b>Durchschnittsgehalt</b>: Gegeben seien mindestens drei Mitarbeiter einer Firma, die ihr Durchschnittsgehalt berechnen wollen, jedoch ohne ihr eigenes Gehalt preiszugeben (wobei man annimmt, dass jeder ehrlich ist und
keine Personen sich zusammentun).
</p>

<p>
Im Folgenden seien oBdA drei Personen 1, 2, 3 mit Geha&#x0308;ltern \(g_1, g_2, g_3\) gegeben.
</p>
<ul style="list-style-type:none">

<li class="list-item-f17"><p>  Person 1 wa&#x0308;hlt eine Zufallszahl \(z\) und schickt \(z\) an Person 2.
</p>
</li>
<li class="list-item-f18"><p>  Person 2 schickt \(z + g_2\) an Person 3.
</p>
</li>
<li class="list-item-f19"><p>  Person 3 schickt \(z + g_2 + g_3\) an Person 1.
</p>
</li>
<li class="list-item-f20"><p>  Person 1 schickt \(\frac {1}{3} (g_1 + g_2 + g_3)\) an Person 2 und Person 3.
</p>
</li>
</ul>



<h2 id="wer-verdient-mehr">Wer verdient mehr?</h2>
<b>wer verdient mehr</b>: Es seien zwei Mitarbeiter Alice und Bob einer Firma gegeben, die herausfinden wollen, wer von beiden mehr verdient, natu&#x0308;rlich ohne ihr Gehalt preiszugeben (wieder angenommen, beide sind
ehrlich).
</p>

<p>
Im Folgenden seien \(w_1 &lt; \dotsb &lt; w_n\) die mo&#x0308;glichen (diskreten) Geha&#x0308;lter, \(a\) und \(b\) das Gehalt von Alice bzw. Bob, \(c_B\) und \(d_B\) Bobs o&#x0308;ffentliche Ver- bzw. geheime
Entschlu&#x0308;sselungsfunktion und \(f\) eine o&#x0308;ffentliche Einwegfunktion.
</p>
<ul style="list-style-type:none">

<li class="list-item-f21"><p>Alice wa&#x0308;hlt eine Zufallszahl \(x\) und sendet \(d := c_B(x) - a\) an Bob.
</p>
</li>
<li class="list-item-f22"><p>Bob berechnet \(y_i := d_B(d + w_i)\) fu&#x0308;r \(i = 1, \dotsc , n\).
</p>
</li>
<li class="list-item-f23"><p>Bob berechnet \(z_i := f(y_i)\). OBdA sei \(z_i \not = z_j + 1\) und \(z_i \not = z_j\) fu&#x0308;r \(i, j = 1, \dotsc , n\) mit \(i \not = j\) (andernfalls wa&#x0308;hle ein neues \(x\) oder eine
andere Einwegfunktion \(f\)).
</p>
</li>
<li class="list-item-f24"><p>Sei \(k \in \{1, \dotsc , n\}\) mit \(w_k = b\). Bob sendet \(z_1, \dotsc , z_k, z_{k+1} + 1, \dotsc , z_n + 1\) an Alice.
</p>
</li>
<li class="list-item-f25"><p>Es gilt nun \(a \le b\) genau dann, wenn \(f(x)\) in der Folge vorkommt, die Alice erha&#x0308;lt.
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (Korrektheit)</b>: Der Algorithmus arbeitet korrekt.
</p>

<p>
<b>Beweis</b>: Sei \(j \in \{1, \dotsc , n\}\) mit \(w_j = a\). Dann gilt \(y_j = d_B(d + a) = d_B(c_B(x)) = x\).
</p>

<p>
„\(\implies \)“: Sei \(a \le b\). Dann ist \(j \le k\), d.&#x202f;h. \(y_j = x\) kommt in der Folge \(y_1, \dotsc , y_k\) vor. Damit kommt auch \(z_j = f(y_j) = f(x)\) in der Folge \(z_1, \dotsc , z_k\) vor.
</p>

<p>
„\(\impliedby \)“: Sei \(a &gt; b\). Dann ist \(j &gt; k\), d.&#x202f;h. \(z_j = f(x)\) kommt in der Folge \(z_{k+1}, \dotsc , z_n\) vor. Damit kann \(f(x)\) nicht in der Folge \(z_1, \dotsc , z_k\) vorkommen
(sonst \(z_i = z_j\) fu&#x0308;r ein \(i \le k\)). In der Folge \(z_{k+1} + 1, \dotsc , z_n + 1\) kommt \(f(x)\) ebenfalls nicht vor (sonst \(z_i + 1 = z_j\) fu&#x0308;r ein \(i &gt; k\)). &#x2003;&#x2003;
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Nachteil</b>: Der Algorithmus beno&#x0308;tigt evtl. einen großen Datenaustausch. Dies kann mit einem Divide-and-Conquer-Ansatz behoben werden.
</p>



<h2 id="kaufen-von-geheimnissen">Kaufen von Geheimnissen</h2>

</p>


<p>
<b>Kaufen von Geheimnissen</b>: Bob und Carol wollen jeweils eines der Geheimnisse \(g_1, \dotsc , g_k\) von Alice kaufen (z.&#x202f;B. ein Passwort), jedoch soll keiner der anderen, auch nicht Alice, erfahren, welche
Geheimnisse von Bob bzw. Carol gekauft wurden. Alice, Bob und Carol verbu&#x0308;nden sich nicht, aber jeder Einzelne ist gierig, d.&#x202f;h. es soll nicht mo&#x0308;glich sein, dass Bob oder Carol mehr als „ihr“ Geheimnis
kaufen ko&#x0308;nnen.
</p>

<p>
Im Folgenden haben \(g_1, \dotsc , g_k\) jeweils \(n\) Bit und \(g_b\) und \(g_c\) seien die Geheimnisse, die Bob bzw. Carol kaufen will.
</p>
<ul style="list-style-type:none">

<li class="list-item-f26"><p>Alice erzeugt Schlu&#x0308;ssel \(s_1, s_2\) fu&#x0308;r ein asymmetrisches Kryptosystem und schickt die o&#x0308;ffentlichen Verschlu&#x0308;sselungsfunktionen \(c_{s_1}\) und \(c_{s_2}\) an Bob bzw.
Carol.
</p>
</li>
<li class="list-item-f27"><p>Bob und Carol erzeugen jeweils \(k\) Zufallszahlen \(z_1, \dotsc , z_k\) bzw. \(z_1’, \dotsc , z_k’\) mit je \(n\) Bit. Bob schickt \(z_1, \dotsc , z_k\) an Carol und Carol schickt \(z_1’, \dotsc ,
z_k’\) an Bob.
</p>
</li>
<li class="list-item-f28"><p>Bob schickt \(y’ := z_b’ \xor c_{s_1}(z_b’)\) an Carol und Carol schickt \(y := z_c \xor c_{s_2}(z_c)\) an Bob.
</p>
</li>
<li class="list-item-f29"><p>Bob und Carol schicken \(x_1, \dotsc , x_k\) mit \(x_i := y \xor z_i\) bzw.<br />
\(x_1’, \dotsc , x_k’\) mit \(x_i’ := y’ \xor z_i’\) an Alice.
</p>
</li>
<li class="list-item-f30"><p>Alice schickt \(t_1, \dotsc , t_k\) mit \(t_i := g_i \xor d_{s_1}(x_i’)\) an Bob bzw.<br />
\(t_1’, \dotsc , t_k’\) mit \(t_i’ := g_i \xor d_{s_2}(x_i)\) an Carol (\(d_{s_1}, d_{s_2}\) geheime Entschlu&#x0308;sselungsfunktionen).
</p>
</li>
<li class="list-item-f31"><p>Bob berechnet \(g_b = z_b’ \xor t_b\) und Carol berechnet \(g_c = z_c \xor t_c’\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (Korrektheit)</b>: Es gilt \(g_b = z_b’ \xor t_b\) und \(g_c = z_c \xor t_c’\).
</p>

<p>
<b>Beweis</b>: Es gilt \(z_b’ \xor t_b = z_b’ \xor g_b \xor d_{s_1}(x_b’) = z_b’ \xor g_b \xor d_{s_1}(y’ \xor z_b’) = z_b’ \xor g_b \xor d_{s_1}(c_{s_1}(z_b’)) = g_b\). Analog gilt \(z_c \xor t_c’ =
g_c\). &#x2003;&#x2003;
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Vorteile</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f32"><p>Bob und Carol erhalten jeweils ihr gewu&#x0308;nschtes Geheimnis und keine anderen: Wu&#x0308;rde Bob \(g_j\) fu&#x0308;r ein \(j \not = b\) ermitteln ko&#x0308;nnen, dann wu&#x0308;sste er \(d_{s_1}(x_j’) =
g_j \xor t_j\), d.&#x202f;h. er ha&#x0308;tte \(x_j’\) entschlu&#x0308;sselt. Damit ist dies genau so schwierig wie das Brechen der Verschlu&#x0308;sselung (\(x_j’\) kann durch \(z_j’\) zufa&#x0308;llig
gewa&#x0308;hlt werden).
</p>
</li>
<li class="list-item-f33"><p>Weil Carol weder \(b\) noch den geheimen Schlu&#x0308;ssel \(s_1\) von Bob kennt, ist \(y’\) zufa&#x0308;llig fu&#x0308;r Carol (durch Verknu&#x0308;pfung mit \(z_b’\)). Analog ist \(y\) zufa&#x0308;llig
fu&#x0308;r Bob.
</p>
</li>
<li class="list-item-f34"><p>Durch Verknu&#x0308;pfung mit \(z_i\) bzw. \(z_i’\) sind die \(x_i\) und \(x_i’\) sowie die \(t_i\) und \(t_i’\) zufa&#x0308;llig fu&#x0308;r Alice, d.&#x202f;h. Alice erfa&#x0308;hrt nicht, welche Geheimnisse Bob
und Carol kaufen.
</p>
</li>
</ul>

<p>
<b>Nachteile</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f35"><p>Wenn Bob und Carol sind verbu&#x0308;nden, dann erfahren sie alle Geheimnisse auf einmal, indem zuna&#x0308;chst Bob \(s_1\) an Carol schickt und anschließend Carol \(x_i’ := c_{s_1}(z_i)\) an Alice schickt.
</p>
</li>
<li class="list-item-f36"><p>Wenn Alice und Bob sich verbu&#x0308;nden, dann erfahren sie, welches Geheimnis Carol gekauft hat, indem Bob \(z_1, \dotsc , z_n\) an Alice schickt und Alice dann \(z_i \xor t_i’\) fu&#x0308;r \(i = 1, \dotsc ,
n\) berechnet. Gilt \(z_j \xor t_j’ = g_j\) fu&#x0308;r genau ein \(j\), dann ist \(j = c\).
</p>
</li>
<li class="list-item-f37"><p>Alice hat als vertrauenswu&#x0308;rdige Stelle zu viel Arbeit (weil es so wenig vertrauenswu&#x0308;rdige Stellen wie mo&#x0308;glich geben soll, mu&#x0308;ssen diese entlastet werden).
</p>
</li>
</ul>



<h2 id="mentales-pokern">Mentales Pokern</h2>
<b>mentales Pokern</b>: Drei Spieler (ohne Einschra&#x0308;nkung) Alice, Bob und Carol wollen eine Pokervariante spielen, bei der zuna&#x0308;chst fu&#x0308;nf Karten an jeden Spieler ausgeteilt werden.
</p>

<p>
Dazu wa&#x0308;hlen sich die Spieler jeweils einen Schlu&#x0308;ssel \(s_1, s_2, s_3\) fu&#x0308;r ein asymmetrisches Kryptosystem, sodass \(d_{s_i}(c_{s_j}(x)) = c_{s_j}(d_{s_i}(x))\) fu&#x0308;r alle
Nachrichten \(x\) und \(i, j = 1, 2, 3\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f38"><p>Alice erzeugt fu&#x0308;r jede Karte \(i\) eine Nachricht \(x_i\) (mit Zufallsbits zur Pra&#x0308;vention von Known-Plaintext-Angriffen) und sendet die \(y_i := c_{s_1}(x_i)\) in gemischter Reihenfolge an
Bob.
</p>
</li>
<li class="list-item-f39"><p>  Bob wa&#x0308;hlt fu&#x0308;nf Karten aus, verschlu&#x0308;sselt sie und schickt \(c_{s_2}(y_i)\) fu&#x0308;r jede gewa&#x0308;hlte Karte an Alice.
</p>
</li>
<li class="list-item-f40"><p>  Bob schickt die u&#x0308;brigen 47 Karten ohne erneute Verschlu&#x0308;sselung an Carol.
</p>
</li>
<li class="list-item-f41"><p>  Carol wa&#x0308;hlt fu&#x0308;nf Karten aus, verschlu&#x0308;sselt sie und schickt \(c_{s_3}(y_i)\) fu&#x0308;r jede gewa&#x0308;hlte Karte an Alice.
</p>
</li>
<li class="list-item-f42"><p>  Carol wa&#x0308;hlt aus den u&#x0308;brigen 42 Karten fu&#x0308;nf fu&#x0308;r Alice aus und schickt sie ohne erneute Verschlu&#x0308;sselung an Alice.
</p>
</li>
<li class="list-item-f43"><p>  Alice schickt \(d_{s_1}(c_{s_2}(y_i)) = c_{s_2}(x_i)\) an Bob und \(d_{s_1}(c_{s_3}(y_i)) = c_{s_3}(x_i)\) an Carol (jeweils fu&#x0308;r jede gewa&#x0308;hlte Karte).
</p>
</li>
<li class="list-item-f44"><p>  Bob und Carol berechnen \(d_{s_2}(c_{s_2}(x_i)) = x_i\) bzw. \(d_{s_3}(c_{s_3}(x_i)) = x_i\).
</p>
</li>
<li class="list-item-f45"><p>  Jeder kennt nun seine Karten und keine anderen und es kann geboten werden. Nach der Runde werden alle Schlu&#x0308;ssel vero&#x0308;ffentlicht und jeder u&#x0308;berpru&#x0308;ft die Kommunikation.
</p>
</li>
</ul>

{% endraw %}
</div>
{:/nomarkdown}
