
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\B }{\mathcal {B}}\)

\(\newcommand {\BB }{\mathbb {B}}\)

\(\newcommand {\DD }{\mathbb {D}}\)

\(\newcommand {\e }{\mathrm {e}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\newcommand {\Q }{\mathcal {Q}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\newcommand {\grad }{\operatorname {grad}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\const }{\operatorname {const}}\)

\(\newcommand {\supp }{\operatorname {supp}}\)

\(\newcommand {\dist }{\operatorname {dist}}\)

\(\newcommand {\trace }{\operatorname {trace}}\)

\(\renewcommand {\theta }{\vartheta }\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>


<p>
Der normale Ablauf einer FE-Simulation ist die Beschreibung des Rands, die Generierung des Netzes, die Auswahl von relevanten Elementen, die Assemblierung des Systems und schließlich die Lo&#x0308;sung des Systems. Bei der
WEB-Methode wird die meist sehr schwierige und zeitaufwendige Netzgenerierung sowie die Elementewahl ersetzt durch die Konstruktion der WEB-Basis. Dazu mu&#x0308;ssen zuna&#x0308;chst die Zelltypen bestimmt werden,
dann werden die B-Splines klassifiziert, anschließend werden die Erweiterungen berechnet und die Gewichtsfunktion definiert.
</p>



<h2 id="darstellung-des-rands">Darstellung des Rands</h2>

</p>


<p>
<b>rationale <span class="textsc" >Bézier</span>-Kurve</b>: Eine <em><span class="dashuline" >rationale <span class="textsc" >Bézier</span>-Kurve</span></em> mit Kontrollpunkten \(c_\nu \in \real ^m\)
und Gewichten \(\omega _\nu &gt; 0\) ist parametrisiert durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                         Pn
                                                                                                                                ν=0                  cν ων βνn (t)
                                                                                                                        p(t) = Pn                                                 ,           t ∈ [0, 1],
                                                                                                                                                   ν=0 ων βν (t)
                                                                                                                                                           n




-->


<p>

\begin{align*}
p(t) = \frac {\sum _{\nu =0}^n c_\nu \omega _\nu \beta _\nu ^n(t)} {\sum _{\nu =0}^n \omega _\nu \beta _\nu ^n(t)},\quad t \in [0, 1],
\end{align*}
wobei \(\beta _\nu ^n(t) = \binom {n}{\nu } (1 - t)^{n-\nu } t^\nu \) die Bernstein-Polynome vom Grad \(n\) sind.
</p>

<p>
<b>Eigenschaften von rationalen <span class="textsc" >Bézier</span>-Kurven</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><b>Endpunktinterpolation</b>: \(p(0) = c_0\), \(p(1) = c_n\) und das Kontrollpolygon bestimmt durch \(c_0, \dotsc , c_n\) ist tangential zu \(p\).
</p>
</li>
<li class="list-item-f1"><p><b>konvexe Hu&#x0308;lle</b>: Die Kurve \(p\) liegt in der konvexen Hu&#x0308;lle der Kontrollpunkte \(c_0, \dotsc , c_n\).
</p>
</li>
<li class="list-item-f2"><p><b>Einfluss der Gewichte</b>: Die Vergro&#x0308;ßerung eines Gewichts \(\omega _\nu \) zieht die Kurve in Richtung des Kontrollpunkts \(c_\nu \). Wenn \(\omega _\nu = 1\) fu&#x0308;r alle \(\nu \), dann ist der
Nenner \(\sum _\nu \omega _\nu \beta _\nu ^n(t)\) identisch gleich eins und \(p\) ist eine polynomiale Parametrisierung.
</p>
</li>
</ul>

<p>
<b>rationale <span class="textsc" >Bézier</span>-Fla&#x0308;che</b>: Eine <em><span class="dashuline" >rationale <span class="textsc" >Bézier</span>-Fla&#x0308;che</span></em> mit Kontrollpunkten
\(c_{\nu ,\mu } \in \real ^3\) und Gewichten \(\omega _{\nu ,\mu } &gt; 0\) ist parametrisiert durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                             Pn
                                                                                                                                     ν,µ=0 cν,µ ων,µ βν (s)βµ (t)
                                                                                                                                                      n     n
                                                                                                        p(s, t) =                   Pn                                                            ,        s, t ∈ [0, 1].
                                                                                                                                       ν,µ=0 ων,µ βν (s)βµ (t)
                                                                                                                                                   n     n




-->


<p>

\begin{align*}
p(s, t) = \frac {\sum _{\nu ,\mu =0}^n c_{\nu ,\mu } \omega _{\nu ,\mu } \beta _\nu ^n(s) \beta _\mu ^n(t)} {\sum _{\nu ,\mu =0}^n \omega _{\nu ,\mu } \beta _\nu ^n(s) \beta _\mu ^n(t)},\quad
s, t \in [0, 1].
\end{align*}

</p>



<h2 id="klassifikation-der-gitterzellen">Klassifikation der Gitterzellen</h2>

</p>


<p>
Die Gitterzellen mu&#x0308;ssen in innere, a&#x0308;ußere und Randzellen \(Q\) eingeteilt werden, je nachdem ob \(Q \subset \overline {D}\), \(Q \cap D = \emptyset \) oder das Innere von \(Q\) den Rand schneidet.
Am schwierigsten ist es, die Randzellen zu bestimmen. Die Unterscheidung zwischen inneren und a&#x0308;ußeren Zellen erfolgt anschließend durch Anwendung eines Standard-Tests auf einen einzigen Punkt in jeder Zelle.
</p>

<p>
<b>Charakterisierung planarer Gitterzellen</b>: Das Innere einer planaren Randzelle entha&#x0308;lt mindestens ein lokales Extremum von \(\partial D\) oder ein Segment zwischen zwei aufeinanderfolgenden
Schnittpunkten von \(\partial D\) mit Gitterlinien.
</p>

<p>
Ein Algorithmus sieht daher wie folgt aus: Zuerst werden die horizontalen und vertikalen (linearen) Randsegmente bestimmt und fu&#x0308;r jedes solches Segment ein Punkt einer Liste von Testpunkten hinzugefu&#x0308;gt.
Anschließend werden die isolierten Extrempunkte der Liste hinzugefu&#x0308;gt. Nun werden die Schnitte mit Gitterlinien bestimmt und jeweils ein Punkt zwischen aufeinanderfolgenden Schnitten als weitere Testpunkte
gewa&#x0308;hlt. Man muss nur u&#x0308;berpru&#x0308;fen, zu welchen Zellen die Testpunkte geho&#x0308;ren, wobei Punkte auf Gitterlinien ignoriert werden.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Die Verallgemeinerung auf drei Dimensionen ist mo&#x0308;glich, aber nicht trivial, weil mehr topologische Mo&#x0308;glichkeiten bestehen. Daher wird ein anderer Ansatz gewa&#x0308;hlt, der besonders fu&#x0308;r
Bézier-Darstellungen geeignet ist: Die Bézier-Fla&#x0308;che wird in sog. <em><span class="dashuline" >Bounding-Boxen</span></em> eingebettet, die zu einer uniformen Unterteilung des Parameterraums geho&#x0308;ren.
Die Mittelpunkte \(p(s_\nu , t_\mu )\) der Boxes liegen auf der Fla&#x0308;che, die Breite bestimmt sich durch die Hilfe von Schranken der Ableitungen der Parametrisierung.
</p>

<p>
<b>Bounding-Box</b>: Wenn \(d_{\ell ,s}\) und \(d_{\ell ,t}\) (\(\ell = 1, 2, 3\)) Schranken fu&#x0308;r den Betrag der Ableitungen \(\partial _s p_\ell \) und \(\partial _t p_\ell \) sind, dann ist das
Fla&#x0308;chenstu&#x0308;ck
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                  p(s + σ, t + τ),                   |σ| ≤ δs /2, |τ| ≤ δ t /2,



-->


<p>

\begin{align*}
p(s + \sigma , t + \tau ),\quad |\sigma | \le \delta _s/2, |\tau | \le \delta _t/2,
\end{align*}
vollsta&#x0308;ndig in der Box mit Mittelpunkt \(p(s, t)\) und Breite \(d_{\ell ,s}\delta _s + d_{\ell ,t}\delta _t\) in der \(\ell \)-ten Koordinatenrichtung enthalten.
</p>

<p>
Wenn \(\delta _s\) und \(\delta _t\) klein genug gewa&#x0308;hlt sind, dann enthalten die meisten Gitterzellen, die die Bézier-Fla&#x0308;che schneiden, einer der Punkte \(p(s_\nu , t_\mu )\) und sind somit leicht
identifizierbar. Nur wenige Gitterzellen werden eine Bounding-Box schneiden, aber keinen der Punkte \(p(s_\nu , t_\mu )\) enthalten. Fu&#x0308;r die Zellen kann man z.&#x202f;B. einen Optimierungsalgorithmus verwenden
oder einfach \(\delta _s\) und \(\delta _t\) kleiner wa&#x0308;hlen.
</p>



<h2 id="auswertung-von-gewichtsfunktionen">Auswertung von Gewichtsfunktionen</h2>

</p>


<p>
Fu&#x0308;r die Berechnung der Ritz-Galerkin-Integrale ist es notwendig, beteiligte Gewichtsfunktionen auswerten und ableiten zu ko&#x0308;nnen.
</p>

<p>
<b>Auswertung und Ableitung von Gewichtsfunktionen</b>: Die Evaluation und Differentiation von Gewichtsfunktionen, die mithilfe von R-Funktionen konstruiert wurden, kann rekursiv erfolgen. Ausgehend von vordefinierten
Gewichtsfunktionen
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                         w` ,        ` = 1, . . . , α,



-->


<p>

\begin{align*}
w_\ell ,\quad \ell = 1, \dotsc , \alpha ,
\end{align*}
berechnet man
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                       w` = r` (wν , wµ ),                       ` = α + 1, . . . , β,



-->


<p>

\begin{align*}
w_\ell = r_\ell (w_\nu , w_\mu ),\quad \ell = \alpha + 1, \dotsc , \beta ,
\end{align*}
wobei man zum Schluss \(w = w_\beta \) erha&#x0308;lt. Die R-Funktionen \(r_\ell \) geho&#x0308;ren dabei zu booleschen Operationen und haben ein oder zwei vorher definierte Gewichtsfunktionen als Argument (im Falle
eines Arguments wird die Abha&#x0308;ngigkeit von \(w_\mu \) ignoriert).
</p>

<p>
Der Gradient von \(w\) kann simultan durch Differentiation der Rekursion berechnet werden. Durch die Kettenregel erha&#x0308;lt man
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                grad w` = (∂1 r` ) grad wν + (∂2 r` ) grad wµ ,



-->


<p>

\begin{align*}
\grad w_\ell = (\partial _1 r_\ell ) \grad w_\nu + (\partial _2 r_\ell ) \grad w_\mu ,
\end{align*}
wobei \(\partial _k\) die Ableitung bzgl. der \(k\)-ten Variable darstellt. Dadurch erha&#x0308;lt man sukzessive
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                    (wα+1 , grad wα+1 ), . . . , (wβ , grad wβ ).



-->


<p>

\begin{align*}
(w_{\alpha +1}, \grad w_{\alpha +1}), \dotsc , (w_\beta , \grad w_\beta ).
\end{align*}

</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Fu&#x0308;r Gewichtsfunktionen, die nur durch R-Funktionen aufgebaut wurden, erha&#x0308;lt man so explizite Ausdru&#x0308;cke. U&#x0308;bergeblendete Gewichtsfunktionen mu&#x0308;ssen numerisch ausgewertet
werden, dazu geht man wie weiter oben beschrieben mithilfe der Abstandsfunktion \(d(x) = \dist (x, \Gamma )\) vor. Die Ableitung dieser Funktion erha&#x0308;lt man durch die negative Außeneinheitsnormale (intuitiv klar):
</p>

<p>
<b>Abstandsfunktion</b>: Fu&#x0308;r Punkte \(x\) in einem genu&#x0308;gend kleinen Streifen \(\Gamma _\delta \) nahe des Randes ist der Abstand
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                            d(x) = dist(x, Γ ) = kx − p(t)k



-->


<p>

\begin{align*}
d(x) = \dist (x, \Gamma ) = \norm {x - p(t)}
\end{align*}
von \(x\) zu einem Kurvensegment \(\Gamma \) mit regula&#x0308;rer Parametrisierung (z.&#x202f;B. in Bézier-Form)<br />
\(t \mapsto p(t) = (p_1(t), p_2(t))\), \(\norm {p’(t)} \not = 0\), bestimmt durch die Orthogonalita&#x0308;tsbeziehung
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                        (x − p(t))p0 (t) = 0.



-->


<p>

\begin{align*}
(x - p(t)) p’(t) = 0.
\end{align*}
Dabei gilt \(\grad d(x) = -\xi (t)\).
</p>

<p>
Fu&#x0308;r den Abstand zu einer Fla&#x0308;che \(\Gamma \) geht man analog vor.
</p>



<h2 id="numerische-integration">Numerische Integration</h2>

</p>


<p>
Fu&#x0308;r die Assemblierung der Ritz-Galerkin-Systeme mu&#x0308;ssen Integrale u&#x0308;ber Teilmengen des Gebiets \(D\) und seines Rands \(\partial D\) berechnet werden. Dies wird durch Summation u&#x0308;ber
die Beitra&#x0308;ge jeder Gitterzelle \(Q\) erledigt, d.&#x202f;h. die Integrale haben die Form \(\int _{Q \cap D} \varphi \) oder \(\int _{Q \cap \partial D} \psi \), wobei \(\varphi \) und \(\psi \) von den
Basisfunktionen etc. abha&#x0308;ngen. Weil nur in sehr wenigen Fa&#x0308;llen exakte analytische Lo&#x0308;sungen vorhanden sind, mu&#x0308;ssen numerische Verfahren benutzt werden.
</p>

<p>
Bei Integration von glatten Funktionen u&#x0308;ber kleine Mengen liefert <em><span class="dashuline" ><span class="textsc" >Gauß</span>-Quadratur</span></em> die effizientesten Approximationen. Die Knoten
\(t_\nu \) der \(\ell \)-Punkt-Gauß-Formel sind die Nullstellen der Legendre-Polynome \(\ell \)-ten Grades und die Gewichte \(\gamma _\nu \) sind die Integrale der zugeho&#x0308;rigen Lagrange-Polynome.
</p>

<p>
Integrale der Form \(\int _{Q \cap D} \varphi \) ko&#x0308;nnen fu&#x0308;r Gitterzellen \(Q = \ell h + [0, 1]^m h\), die den Rand nicht schneiden, einfach durch die Tensorprodukt-Gauß-Formel berechnet werden.
Zum Beispiel ist fu&#x0308;r \(m = 3\)
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                            X
                                                                                                                ϕ ≈ h3               γν γµ γσ ϕ(t ν0 , t µ0 , t σ0 ),
                                                                                                            Q                ν,µ,σ




-->


<p>

\begin{align*}
\int _Q \varphi \approx h^3 \sum _{\nu ,\mu ,\sigma } \gamma _\nu \gamma _\mu \gamma _\sigma \varphi (t_\nu ’, t_\mu ’, t_\sigma ’),
\end{align*}
wobei \(t’ = \ell h + (t_\nu , t_\mu , t_\sigma ) h\) die transformierten Gauß-Knoten sind. Fu&#x0308;r kleines \(h\) fallen die meisten Integrale in diese Kategorie. Dennoch gibt es eine Anzahl von Rand-Gitterzellen, bei
denen man anders verfahren muss. Wenn man naiverweise einfach \(\varphi = 0\) auf \(Q \setminus D\) setzt und die Integrationsformel anwendet, wu&#x0308;rde man viel Glattheit verlieren und die Lo&#x0308;sung
wu&#x0308;rde nur wenig genau sein. Durch Unterteilung von \(Q \cap D\) kann man abschnittsweise die Formeln anwenden. Dies ist in zwei Dimensionen schon kompliziert, wird in dreien aber noch komplizierter.
</p>

<p>
<b>Unterteilung fu&#x0308;r Gebiets-Integrale</b>: Durch Schnitte parallel zu den Koordinatenrichtungen an Kantenschnittpunkten, lokalen Extrema und Ecken von \(Q \cap \partial D\) kann die Menge \(Q \cap D\) in
glatt deformierte Rechtecke unterteilt werden.
</p>



<h2 id="matrix-assemblierung">Matrix-Assemblierung</h2>

</p>


<p>
<b><span class="textsc" >Ritz</span>-<span class="textsc" >Galerkin</span>-System fu&#x0308;r gewichtete B-Splines</b>:<br />
Die Matrix \(G\) und die rechte Seite \(F\) des Ritz-Galerkin-Systems fu&#x0308;r die Ra&#x0308;ume \(w\BB \) ko&#x0308;nnen durch folgenden Algorithmus assembliert werden.
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                 G = 0, F = 0
                                                                                                 for Q = αh + [0, 1]m h mit Q ∩ D 6= ;
                                                                                                            for k ∈ α − {0, . . . , n}m
                                                                                                                        f k = f k + λQ (wbk )
                                                                                                                        for ` ∈ α − {0, . . . , n}m
                                                                                                                                g k,` = g k,` + aQ (wb` , wbk )
                                                                                                                        end
                                                                                                            end
                                                                                                 end



-->


<p>

\begin{align*}
&amp;G = 0,\, F = 0\\ &amp;\mathbf {for}\; Q = \alpha h + [0, 1]^m h \text { mit } Q \cap D \not = \emptyset \\ &amp;\qquad \mathbf {for}\; k \in \alpha - \{0, \dotsc , n\}^m\\ &amp;\qquad
\qquad f_k = f_k + \lambda _Q(w b_k)\\ &amp;\qquad \qquad \mathbf {for}\; \ell \in \alpha - \{0, \dotsc , n\}^m\\ &amp;\qquad \qquad \qquad g_{k,\ell } = g_{k,\ell } + a_Q(w b_\ell , w b_k)\\
&amp;\qquad \qquad \mathbf {end}\\ &amp;\qquad \mathbf {end}\\ &amp;\mathbf {end}
\end{align*}

</p>

<p>
<b><span class="textsc" >Ritz</span>-<span class="textsc" >Galerkin</span>-System fu&#x0308;r WEB-Splines</b>:<br />
Die Ritz-Galerkin-Systeme \(GU = F\) und \({}^\e G{}^\e U = {}^\e F\) fu&#x0308;r die gewichteten Spline-Ra&#x0308;ume \(w\BB \) und \(w^\e \BB \) ha&#x0308;ngen zusammen durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                    e
                                                                                                                        G=E  et ,
                                                                                                                          eG E                           e
                                                                                                                                                             F=E
                                                                                                                                                               e F,



-->


<p>

\begin{align*}
{}^\e G = \widetilde {E} G \widetilde {E}^t,\quad {}^\e F = \widetilde {E} F,
\end{align*}
wobei
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                                                             k = i,
                                                                                                                            
                                                                                                                            1
                                                                                                                     1
                                                                                                       ei,k      :=        · ei, j                           k = j ∈ J(i),
                                                                                                                    w(x i ) 
                                                                                                       e
                                                                                                                             0                               sonst.


-->


<p>

\begin{align*}
\widetilde {e}_{i,k} := \frac {1}{w(x_i)} \cdot \begin{cases}1 &amp; k = i,\\e_{i,j} &amp; k = j \in J(i),\\0 &amp; \text {sonst}. \end {cases}
\end{align*}

</p>

{% endraw %}
</div>
{:/nomarkdown}
