
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\wahr }{\ensuremath {\text {w}}}\)

\(\newcommand {\falsch }{\ensuremath {\text {f}}}\)

\(\newcommand {\ur }{\ensuremath {\leqslant }}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\langle #1 \rangle }}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\newcommand {\basis }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\stdbasis }[1]{\ensuremath {\mathcal {E}_{\mathnormal {#1}}}}\)

\(\newcommand {\nk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\matrixm }{\mathcal {M}}\)

\(\newcommand {\hommatrix }[3]{\ensuremath {\matrixm _{#1}(\basis {#2},\basis {#3})}}\)

\(\newcommand {\enmatrix }[2]{\ensuremath {\matrixm _{#1}(\basis {#2})}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\End }{\ensuremath {\operatorname {End}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\SL }{\ensuremath {\operatorname {SL}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\perm }{\ensuremath {\mathfrak {S}}}\)

\(\newcommand {\sign }{\ensuremath {\operatorname {sign}}}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\tr }{\ensuremath {\operatorname {tr}}}\)

\(\newcommand {\adj }{\ensuremath {\operatorname {adj}}}\)

\(\newcommand {\lgs }[1]{\ensuremath {\mathfrak {#1}}}\)

\(\newcommand {\lgslsg }[1]{\ensuremath {\mathcal {L}_{\lgs {#1}}}}\)

\(\newcommand {\affin }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\TV }{\ensuremath {\operatorname {TV}}}\)

\(\newcommand {\kk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\eukl }{\ensuremath {\mathcal {E}}}\)

\(\newcommand {\euklebene }{\ensuremath {\mathcal {E}_2}}\)

\(\newcommand {\euklraum }{\ensuremath {\mathcal {E}_3}}\)

\(\newcommand {\strecke }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\vektor }[1]{\ensuremath {\overrightarrow {#1}}}\)

\(\newcommand {\pdim }{\ensuremath {\operatorname {p-dim}}}\)

\(\newcommand {\orth }{\ensuremath {\;\bot \;}}\)

\(\newcommand {\characteristic }{\ensuremath {\operatorname {char}}}\)

\(\newcommand {\grammatrix }{\ensuremath {\mathcal {G}}}\)

\(\newcommand {\rad }{\ensuremath {\operatorname {rad}}}\)

\(\newcommand {\ggT }{\ensuremath {\operatorname {ggT}}}\)

\(\newcommand {\kgV }{\ensuremath {\operatorname {kgV}}}\)

\(\newcommand {\mi }[1]{\ensuremath {{\boldsymbol{\underline {#1}}}}}\)

\(\newcommand {\alt }{\ensuremath {\mathcal {A}}}\)

\(\newcommand {\ann }{\ensuremath {\operatorname {ann}}}\)

\(\newcommand {\ordnung }{\ensuremath {\mathcal {O}}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<p>

</p>



<h2 id="endlich-erzeugte-abelsche-gruppen">Endlich erzeugte <span style="font-variant: small-caps;">abel</span>sche Gruppen</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >zyklische Gruppen sind genau die zyklischen \(\integer \)-Moduln</span>):</span><br />
Seien \(G\) eine Gruppe und \(x \in G\). Dann ist \(\aufspann {x} = \{x^i \;|\; i \in \integer \}\) eine abelsche Untergruppe von \(G\), die <em><span class="dashuline" >von \(x\) erzeugte zyklische Untergruppe von
\(G\)</span></em>. Die Abbildung \(\rho : \integer \rightarrow \aufspann {x}\), \(i \mapsto x^i\) ist ein Gruppenepimorphismus von \((\integer , +)\) auf \((\aufspann {x}, \cdot )\). Ist \(\ker \rho = (0)\),
so ist \(\integer \cong \aufspann {x}\) und die Ordnung \(|\aufspann {x}|\) (d.&#x202f;h. die Anzahl der Elemente von \(\aufspann {x}\)) ist abza&#x0308;hlbar unendlich.<br />
Ist \(\ker \rho \not = (0)\) und \(n \in \natural \) minimal mit \(x^n = 1\), dann ist \(\aufspann {x} = \{1, x, \dotsc , x^{n-1}\}\) und \(|\aufspann {x}| = n\). Die Ordnung \(|\aufspann {x}|\) von
\(\aufspann {x}\) heißt <em><span class="dashuline" >Ordnung \(|x|\) von \(x\)</span></em>. Ist \(n = |x| \in \natural \), so ist \(\aufspann {x} \cong (\integer /n\integer , +)\).<br />
Daher sind die zyklischen Gruppen genau die zyklischen \(\integer \)-Moduln und \((\integer , +)\) ist die einzige unendliche zykliche Gruppe.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Klassifikation der endlich erzeugten abelschen Gruppen</span>):</span><br />
Seien \(q_1, \dotsc , q_k \in \natural \) (Elementarteiler) mit \(q_k \;|\; \dotsb \;|\; q_1 \in \natural \) und \(\alpha \in \natural _0\).<br />
Sei \(M(q_1, \dotsc , q_k, \alpha ) := C_{q_1} \times \dotsb \times C_{q_k} \times C_\infty \times \overset {\alpha \text {-mal}}{\dotsb } \times C_\infty \) mit \(C_n := (\integer /n\integer ,
+)\) und \(C_\infty := (\integer , +)\).<br />
Dann ist \(\{M(q_1, \dotsc , q_k, \alpha ) \;|\; k \in \natural _0,\; q_1, \dotsc , q_k \in \natural ,\; q_k \;|\; \dotsb \;|\; q_1,\; \alpha \in \natural _0\}\) eine vollsta&#x0308;ndige Liste
paarweise nicht-isomorpher, endlich erzeugter abelscher Gruppen. Fu&#x0308;r \(\alpha = 0\) erha&#x0308;lt man mit \(M(q_1, \dotsc , q_k) := M(q_1, \dotsc , q_k, \alpha )\) und \(\{M(q_1, \dotsc , q_k)
\;|\; k \in \natural _0,\; q_1, \dotsc , q_k \in \natural ,\; q_k \;|\; \dotsb \;|\; q_1\}\) eine vollsta&#x0308;ndige Liste paarweise nicht-isomorpher, endlicher abelscher Gruppen.<br />
Dabei ist \(|M(q_1, \dotsc , q_k)| = q_1 \dotsb q_k \in \natural \).<br />
Seien \(p_1, \dotsc , p_k \in \natural \) Primzahlen, \(e_1^{(i)} \ge \dotsb \ge e_n^{(i)} \ge 0\) ganze Zahlen fu&#x0308;r \(i = 1, \dotsc , k\), \(\mi {e}_i = (e_1^{(i)}, \dotsc , e_n^{(i)})\) und
\(\alpha \in \natural _0\). Dann erha&#x0308;lt man durch<br />
\(M(p_1, \mi {e}_1, \dotsb , p_k, \mi {e}_k, \alpha ) = C_{p_1^{e_1^{(1)}}} \times \dotsb \times C_{p_1^{e_n^{(1)}}} \times \dotsb \times C_{p_k^{e_1^{(k)}}} \times \dotsb \times
C_{p_k^{e_n^{(k)}}} \times C_\infty \times \overset {\alpha \text {-mal}}{\dotsb } \times C_\infty \) eine vollsta&#x0308;ndige Liste paarweise nicht-isomorpher, endlich erzeugter abelscher Gruppen.
</p>

<p>
<em>Bemerkung</em>: Beispielsweise gibt es bis auf Isomorphie sieben abelsche Gruppen \(A\) mit \(|A| = 32\) (\(C_{32}\), \(C_{16} \times C_2\), \(C_8 \times C_4\), \(C_8 \times C_2 \times C_2\), \(C_4 \times C_4
\times 2\), \(C_4 \times C_2 \times C_2 \times C_2\), \(C_2 \times C_2 \times C_2 \times C_2 \times C_2\)), aber nur eine mit \(|A| = 15\) (\(C_{15}\)).
</p>

<p>
<em>Bemerkung</em>: Das Wiedererkennungsproblem fu&#x0308;r abelsche Gruppen ist schwierig zu lo&#x0308;sen, betrachtet man z.&#x202f;B. die \(\integer \)-Moduln \(M_1 = \integer /2\integer \oplus \integer
\) und \(M_2 = \integer \oplus \integer \). Es gilt \(M_1 = \aufspann {(1 + 2\integer , 1), (0, 1)}\) und \(M_2 = \aufspann {(1, 0), (0, 1)}\), jedoch ist die Ordnungen aller Elemente der beiden
Erzeugendensysteme \(\infty \). Aus der Ordnung der Elemente von einem Erzeugendensystem kann man also nicht auf die abelsche Gruppe schließen.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(\rational \otimes _\integer A = (0)\)</span>):</span> Sei \(A\) eine endliche abelsche Gruppe. Dann ist \(\rational \otimes _\integer A = (0)\).

</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(\rational \otimes _\integer \mathcal {F}\) als Vektorraum</span>):</span> Sei \(\mathcal {F}\) ein freier \(\integer \)-Modul.<br />
Dann ist \(\rational \otimes _\integer \mathcal {F}\) ein \(n\)-dimensionaler \(\rational \)-Vektorraum.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Rangbestimmung des freien Anteils</span>):</span><br />
Seien \(M\) eine endlich erzeugte abelsche Gruppe und \(n = \dim _\rational \rational \otimes _\integer M\).<br />
Dann ist \(M = T(M) \oplus \mathcal {F}\), wobei der freie Anteil \(\mathcal {F}\) von \(M\) vom Rang \(n\) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Anzahl abelscher Gruppen</span>):</span> Sei \(k \in \natural \). Dann gibt es nur endlich viele paarweise nicht-isomorphe abelsche Gruppen \(A\) mit
\(|A| = k\). Ist \(k\) multiplizita&#x0308;tenfrei (in der Primfaktorzerlegung kommt jede Primzahl nur mit Exponent \(1\) vor), so gibt es bis auf Isomorphie genau eine abelsche Gruppe \(A\) mit \(|A| = k\), na&#x0308;mlich
die zyklische Gruppe \(\integer /k\integer \) der Ordnung \(k\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Kriterium fu&#x0308;r abelsche Gruppe zyklisch</span>):</span> Sei \(A\) eine abelsche Gruppe. Dann ist \(A\) zyklisch genau dann, wenn \(A\) fu&#x0308;r
jeden Teiler \(d\) von \(|A|\) genau eine Untergruppe der Ordnung \(d\) besitzt.
</p>



<h2 id="die-kanonisch-rationale-form">Die kanonisch rationale Form</h2>

</p>


<p>
<em>Bemerkung</em>: Seien \(K\) ein Ko&#x0308;rper, \(V\) ein endlich-dimensionaler \(K\)-Vektorraum und \(f \in \End _K(V)\). Dann kann man den \(K[t]\)-Modul \(V_f = V\) betrachtet, wobei die \(K[t]\)-Operation
gegeben ist durch \(p(t) \cdot v = (p(f))(v)\). Fu&#x0308;r das Verschwindungsideal \(\mathcal {I}_f\) folgt sofort \(\mathcal {I}_f = \ann _{K[t]}(V_f)\) sowie \(\ordnung (V_f) = \mu _f(t)\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >\(V_f\) e.e. Torsionsmodul</span>): \(V_f\) ist endlich-erzeugter Torsionsmodul.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Unterraum von \(V\) \(f\)-invariant \(\Leftrightarrow \) Unterraum Untermodul von \(V_f\)</span>): Sei \(U \ur V\) ein Untervektorraum. Dann ist \(U\) \(f\)-invariant genau
dann, wenn \(U\) ein \(K[t]\)-Untermodul von \(V_f\) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(V_f\) und \(V_g\) isomorph fu&#x0308;r \(f, g\) konjugiert</span>):</span><br />
Seien \(f, g \in \End _K(V)\) konjugiert, d.&#x202f;h. es gibt ein \(d \in \Aut _K(V)\) mit \(f = d^{-1} g d\).<br />
Dann ist \(d: V_f \rightarrow V_g\) ein \(K[t]\)-Isomorphismus und daher ist \(V_f \cong V_g\) (als \(K[t]\)-Moduln).
</p>

<p>
<em>Bemerkung</em>: Also ist die Modulstruktur von \(V\) als \(K[t]\)-Modul fu&#x0308;r konjugierte Endomorphismen gleich, d.&#x202f;h. \(V_f\) und \(V_g\) sind zum selben Prototyp aus der obigen Liste isomorph. Weiter
unten wird gezeigt: Dieser Prototyp bestimmt eine kanonisch rationale \(K\)-Basis von \(V\), sodass konjugierte Endomorphismen dieselbe kanonisch rationale Form haben. Analog gilt dies fu&#x0308;r a&#x0308;hnliche Matrizen.
Weil jede Matrix bzw. jeder Endomorphismus zu ihrer kanonisch rationalen a&#x0308;hnlich bzw. konjugiert ist, sind dann Matrizen/Endomorphismen mit der gleichen kanonisch rationalen Form a&#x0308;hnlich/konjugiert.
</p>

<p>
<b>Folgerung</b>: Seien \(A, B \in M_n(K)\). Dann sind \(A\) und \(B\) a&#x0308;hnlich genau dann, wenn \(A\) und \(B\) dieselbe kanonisch rationale Form haben.
</p>

<p>
<em>Bemerkung</em>: Das Minimalpolynom \(\mu _f(t)\) als normiertes Polynom als Produkt normierter irreduzibler Polynome \(\mu _f(t) = p_1(t)^{\nu _1} \dotsm p_k(t)^{\nu _k}\) (\(p_1, \dotsc , p_k \in K[t]\)
paarweise verschieden, irreduzibel, normiert) dargestellt werden. So erha&#x0308;lt man die Prima&#x0308;rkomponentenzerlegung von \(V_f = M_{p_1} \oplus \dotsb \oplus M_{p_k}\) wegen \(\ordnung (V_f) = \mu
_f(t)\). Die Prima&#x0308;rkomponenten kann man folgendermaßen ausrechnen:
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Prima&#x0308;rkomponenten von \(V_f\)</span>):</span> Sei \(\mu _f(t) = p_1(t)^{\nu _1} \dotsm p_k(t)^{\nu _k}\) wie eben.<br />
Dann ist \(\ker (p_i(f)^{\nu _i-1}) \lneqq M_{p_i} = \ker (p_i(f)^{\nu _i}) \ur V\) fu&#x0308;r \(i = 1, \dotsc , k\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Bestimmung der \(\nu _i\)</span>):</span> Die aufsteigende Kette \(\ker p_i(f) \subseteq \dotsb \subseteq \ker p_i(f)^j \subseteq \dotsb \)
wird wegen \(\dim _K V\) stationa&#x0308;r. Sei \(m\) die kleinste natu&#x0308;rliche Zahl, sodass \(\ker (p_i(f)^m) = \ker (p_i(f)^{m+1})\) ist. Dann ist \(m = \nu _i\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Prima&#x0308;rkomponente von \(t - \lambda \) ist verallg. Eigenraum</span>):<br />
Seien \(\mu _f(t) = p_1(t)^{\nu _1} \dotsm p_k(t)^{\nu _k}\) wie eben und \(\lambda \in K\).<br />
Ist \(p_i(t) = t - \lambda \) ein lineares Polynom, so ist \(M_{p_i} = \mathcal {V}_f(\lambda )\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Basis des zyklischen \(K[t]\)-Moduls</span>):</span> Seien \(p \in K[t]\) ein Polynom mit \(\deg p = n\) und<br />
\(C_p = K[t]/K[t]p\) der zyklische \(K[t]\)-Modul. Dann ist \(\dim _K(C_p) = n\) und \(\{\nk {1}, \nk {t}, \dotsc , \nk {t}^{n-1}\}\) ist \(K\)-Basis von \(C_p\) (als \(K\)-Vektorraum), wobei \(\nk {t}^i = t^i +
K[t]p \in C_p\) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >von \(v\) erzeugter zyklischer Untermodul \(K[t] \cdot v\)</span>):</span> Sei \(v \in V_f\). Dann ist der von \(v\) erzeugte zyklische
\(K[t]\)-Untermodul \(K[t] \cdot v\) der von \(v\) erzeugte \(f\)-zyklische Unterraum von \(V\).<br />
Dieser ist \(f\)-invariant und \(f_{\aufspann {v}}\) sei die Einschra&#x0308;nkung \(f|_{K[t]v}\) von \(f\) auf \(K[t]v\).<br />
Sei \(\mu _{f_{\aufspann {v}}}(t) = p(t) = \alpha _0 + \dotsb + \alpha _{k-1} t^{k-1} + t^k\) das normierte Minimalpolynom von \(f_{\aufspann {v}}\).<br />
Dann ist \(\ordnung (v) = p(t)\) und \(\basis {B} = \{v, f(v), \dotsc , f^{k-1}(v)\}\) ist \(K\)-Basis von \(K[t]v\).<br />
Die Matrix \(\hommatrix {f_{\aufspann {v}}}{B}{B}\) ist die \(k \times k\)-Begleitmatrix von \(p(t)\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >kanonisch rationale Form I</span>):</span> Seien \(V\) ein \(K\)-Vektorraum mit \(\dim _K V = n\), \(f \in \End _K(V)\) und \(\mu _f(t) = p_1(t)^{\nu
_1} \dotsm p_k(t)^{\nu _k}\) die Primfaktorzerlegung von \(\mu _f(t)\) in \(K[t]\) mit paarweise verschiedenen, irreduziblen, normierten Polynomen. Sei außerdem \((p) \in M_{\deg p \times \deg p}(K)\) die
Begleitmatrix von \(p \in K[t]\).<br />
Dann gibt es eine Basis \(\basis {B}\) von \(V\) und natu&#x0308;rliche Zahlen \(e_1^{(i)} \ge \dotsb \ge e_m^{(i)} \ge 0\), \(i = 1, \dotsc , m\), \(m \in \natural \), sodass die \(n \times n\)-Matrix
\(\hommatrix {f}{B}{B}\) die Blockdiagonalform<br />
\(\diag \left \{\left (p_1^{e_1^{(1)}}\right ), \dotsc , \left (p_1^{e_m^{(1)}}\right ), \dotsc , \left (p_k^{e_1^{(k)}}\right ), \dotsc , \left (p_k^{e_m^{(k)}}\right )\right \}\) hat, wobei
\(\sum _{i=1}^k \sum _{j=1}^m e_j^{(i)} \deg p_i = n\) ist.<br />
Diese Form heißt <em><span class="dashuline" >kanonisch rationale Form</span></em> oder auch <em><span class="dashuline" ><span class="textsc" >Frobenius</span>-Normalform</span></em> von \(f\).<br />
Fu&#x0308;r \(n \times n\)-Matrizen ist sie analog definiert.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >kanonisch rationale Form II</span>):</span> \(V\) hat eine \(K\)-Basis, sodass \(\hommatrix {f}{B}{B} = \diag \{(q_1), \dotsc , (q_s)\}\) ist mit \(q_i
= p_1^{e_i^{(1)}} \dotsm p_k^{e_i^{(k)}}\), wobei \(\mu _f(t) = q_1 = p_1^{\nu _1} \dotsm p_k^{\nu _k}\) ist mit \(\nu _i = e_i^{(1)}\). Zusa&#x0308;tzlich ist dann \(\chi _f(t) = p_1^{e_1^{(1)} +
\dotsb + e_m^{(1)}} \dotsm p_k^{e_1^{(k)} + \dotsb + e_m^{(k)}}\). Insbesondere ist \(\mu _f(t) = \mu _f(t)\) genau dann, wenn \(V_f\) nur einen Elementarteiler hat, d.&#x202f;h. zyklischer \(K[t]\)-Modul ist.
</p>

<a id="linear-algebra-and-analytical-geometry-2-autofile-last"></a>
{% endraw %}
</div>
{:/nomarkdown}
