
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\renewcommand {\F }{\mathcal {F}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\renewcommand {\S }{\mathcal {S}}\)

\(\newcommand {\orth }{\mathbin {\bot }}\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\unif }{\text {unif}}\)

\(\newcommand {\supp }{\operatorname {supp}}\)

\(\newcommand {\Kern }{\text {Kern}}\)

\(\newcommand {\Bild }{\text {Bild}}\)

\(\newcommand {\Lin }{\operatorname {Lin}}\)

\(\newcommand {\id }{\text {id}}\)

\(\newcommand {\dist }{\operatorname {dist}}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\renewcommand {\graph }{\text {graph}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(6)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="abschaetzung-der-hoelder-halbnorm-zweiter-ordnung">Abschätzung der <span style="font-variant: small-caps;">Hölder</span>-Halbnorm zweiter Ordnung</h2>

</p>


<p>
<b>lokale <span class="textsc" >Ho&#x0308;lder</span>ra&#x0308;ume</b>:&#x2003; Seien \(\Omega \subset \real ^n\) offen oder kompakt, \(k \in \natural _0\) und \(\alpha \in (0, 1]\).<br />
Dann heißt \(\C ^{k,\alpha }_\loc (\Omega ) := \{f \in \C ^k_b(\Omega ) \;|\; \forall _{K \subset \Omega \text { kpkt.}}\; f \in \C ^{k,\alpha }(K)\}\) <em><span class="dashuline" >lokaler <span
class="textsc" >Ho&#x0308;lder</span>raum</span></em> der Ordnung \(k\) mit Exponent \(\alpha \).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Abscha&#x0308;tzung der \(\C ^{2,\alpha }\)-Halbnorm</span>):</span><br />
Sei \(u \in \C ^{2,\alpha }_\loc (\real ^n)\) fu&#x0308;r \(\alpha \in (0, 1)\) eine Lo&#x0308;sung von \(\Delta u = f\) in \(\real ^n\) mit<br />
\([u]_{\C ^{2,\alpha }(\real ^n)} := \sum _{|\alpha |=2} [\partial _x^\alpha u]_{\C ^{0,\alpha }(\real ^n)} &lt; \infty \) und \([f]_{\C ^{0,\alpha }(\real ^n)} &lt; \infty \).<br />
Dann gilt \([u]_{\C ^{2,\alpha }(\real ^n)} \le C [f]_{\C ^{0,\alpha }(\real ^n)}\) mit \(C = C(n, \alpha )\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r den Beweis des Satzes beno&#x0308;tigt man die sog. Cauchy-Abscha&#x0308;tzungen (fu&#x0308;r deren Beweis man die Mittelwertseigenschaft harm. Funktionen und Lemma von Weyl
braucht).
</p>

<p>
<b>harmonisch</b>:&#x2003; Seien \(\Omega \subset \real ^n\) offen und \(u \in \C ^2(\Omega )\).<br />
Dann heißt \(u\) <em><span class="dashuline" >harmonisch</span></em> in \(\Omega \), falls \(\Delta u = 0\).
</p>

<p>
<b>Mittelwert</b>:&#x2003; Sei \(\Omega \subset \real ^n\) offen. Dann heißen \(\fint _{\partial \Omega } udo := \frac {1}{|\partial \Omega |} \int _{\partial \Omega } udo\) und \(\fint _\Omega udx
:= \frac {1}{|\Omega |} \int _\Omega u\dx \) <em><span class="dashuline" >Mittelwerte</span></em> von \(u\) auf \(\partial \Omega \) bzw. \(\Omega \).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Mittelwertseigenschaft</span>):</span> Sei \(u\) harmonisch in \(B_R(x_0) \subset \real ^n\) fu&#x0308;r ein \(R &gt; 0\).<br />
Dann gilt \(\forall _{r \in (0, R)}\; u(x_0) = \fint _{\partial B_r(x_0)} udo = \fint _{B_r(x_0)} udx\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>kompakt enthalten</b>:&#x2003; Seien \(\Omega , \Omega ’ \subset \real ^n\) offen.<br />
Dann ist \(\Omega ’\) in \(\Omega \) <em><span class="dashuline" >kompakt enthalten</span></em> (\(\Omega ’ \subset \subset \Omega \)), falls \(\overline {\Omega ’} \subset \Omega \) und \(\overline
{\Omega ’}\) kompakt in \(\Omega \) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Cauchy</span>-Abscha&#x0308;tzungen</span>):</span> Seien \(\Omega \subset \real ^n\) offen und \(u \in \C ^2(\Omega
)\) harmonisch in \(\Omega \).<br />
Dann ist \(u \in \C ^\infty (\Omega )\) mit \(\forall _{\Omega ’ \subset \subset \Omega } \forall _{\alpha \in \natural _0^n}\; \norm {\partial ^\alpha _x u}_{\C ^0(\Omega ’)} \le \left (\frac
{n|\alpha |}{\dist (\Omega ’, \partial \Omega )}\right )^{|\alpha |} \norm {u}_{\C ^0(\Omega )}\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Lemma von <span class="textsc" >Weyl</span></span>): Seien \(\Omega \subset \real ^n\) offen und \(u \in L^1_\loc (\Omega )\) mit \(\forall _{v \in \C ^\infty
_c(\Omega )}\; \int _\Omega u \Delta v\dx = 0\) (d.&#x202f;h. \(u\) ist <em><span class="dashuline" >schwach harmonisch</span></em> in \(\Omega \)).<br />
Dann ist \(u \in \C ^\infty (\Omega )\) und \(u\) ist harmonisch in \(\Omega \).
</p>



<h2 id="elliptischer-hoelder-regularitaetssatz-fuer-den-ganzraum">Elliptischer <span style="font-variant: small-caps;">Hölder</span>-Regularitätssatz für den Ganzraum</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >elliptischer <span class="textsc" >Ho&#x0308;lder</span>-Regularita&#x0308;tssatz fu&#x0308;r den Ganzraum</span>):</span><br />
Seien \(\alpha \in (0, 1)\), \(a \in \C ^{0,\alpha }(\real ^n, \real ^{n \times n})\) gleichma&#x0308;ßig elliptisch auf \(\real ^n\), \(b \in \C ^{0,\alpha }(\real ^n, \real ^n)\),<br />
\(c \in \C ^{0,\alpha }(\real ^n)\) <em><span class="dashuline" >gleichma&#x0308;ßig positiv</span></em> auf \(\real ^n\) (d.&#x202f;h. \(\inf _{x \in \real ^n} c(x) &gt; 0\)), \(f \in \C ^{0,\alpha
}(\real ^n)\) und<br />
\(u \in \C ^\infty _c(\real ^n)\) Lo&#x0308;sung von \(-\sum _{i,j=1}^n a_{ij} \partial _{x_i} \partial _{x_j} u + b \nabla u + cu = f\).<br />
Dann ist \(u \in \C ^{2,\alpha }(\real ^n)\) mit \(\norm {u}_{\C ^{2,\alpha }(\real ^n)} \le C \norm {f}_{\C ^{0,\alpha }(\real ^n)}\) und \(C = C(n, \alpha , a, b, c)\).
</p>



<h2 id="existenz-von-loesungen-fuer-hoelder-stetige-rechte-seiten">Existenz von Lösungen für <span style="font-variant: small-caps;">Hölder</span>-stetige rechte Seiten</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Existenz von Lo&#x0308;sungen</span>):</span> Seien \(\alpha , a, b, c, f\) wie eben.<br />
Dann gibt es ein \(u \in \C ^{2,\alpha }(\real ^n)\) mit \(-\sum _{i,j=1}^n a_{ij} \partial _{x_i} \partial _{x_j} u + b \nabla u + cu = f\)<br />
und \(u\) erfu&#x0308;llt die Abscha&#x0308;tzung von eben.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Zum Beweis des letzten Satzes lo&#x0308;st man ein einfacheres Problem (siehe folgendes Lemma) mithilfe der Fouriertransformation und wendet dann die sog. <em><span class="dashuline"
>Kontinuita&#x0308;tsmethode</span></em> an.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Existenz von Lo&#x0308;sungen fu&#x0308;r modifizierte <span class="textsc" >Poisson</span>-Gleichung</span>):<br />
Seien \(\alpha \in (0, 1)\) und \(f \in \C ^{0,\alpha }(\real ^n)\). Dann gibt es ein \(u \in \C ^{2,\alpha }(\real ^n)\) mit \(-\Delta u + u = f\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Kontinuita&#x0308;tsmethode</span>):</span> Seien \(X, Y\) Banachra&#x0308;ume und \(L_t \in \Lin (X, Y)\) fu&#x0308;r \(t \in [0, 1]\) mit
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(L\colon [0,1] \rightarrow \Lin (X, Y)\) stetig mit \(t \mapsto L_t\),
</p>
</li>
<li class="list-item-f1"><p>\(\exists _{C &gt; 0} \forall _{t \in [0, 1]} \forall _{u \in X}\; \norm {u}_X \le C \norm {L_t u}_Y\) und
</p>
</li>
<li class="list-item-f2"><p>\(L_0\) surjektiv.
</p>
</li>
</ul>

<p>
Dann gilt \(\forall _{t \in [0, 1]}\; [\text {$L_t$ surjektiv}]\).
</p>

<p>
<em>Bemerkung</em>: Aus der zweiten Eigenschaft folgt insbesondere, dass \(L_t\) fu&#x0308;r alle \(t \in [0, 1]\) injektiv ist, d.&#x202f;h. sind die Voraussetzungen des Satzes erfu&#x0308;llt, so ist \(L_t\) fu&#x0308;r
alle \(t \in [0, 1]\) sogar bijektiv.
</p>



<h2 id="elliptischer-hoelder-regularitaetssatz-c2alpha-berandete-gebiete">Elliptischer <span style="font-variant: small-caps;">Hölder</span>-Regularitätssatz (C^{2,α}-berandete Gebiete)</h2>

</p>


<p>
<em>Bemerkung</em>: Mit derselben Strategie wie im Ganzraum erha&#x0308;lt man ein zu obiger Existenzaussage analoges Resultat fu&#x0308;r den Halbraum. Durch Partition der Eins und Ru&#x0308;ckfu&#x0308;hrung auf
den Ganz- und auf den Halbraum-Fall a&#x0308;hnlich wie bei der elliptischen \(L_2\)-Regularita&#x0308;tstheorie bekommt man dann folgenden Satz.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >elliptischer <span class="textsc" >Ho&#x0308;lder</span>-Regularita&#x0308;tssatz</span>):</span><br />
Seien \(\alpha \in (0, 1)\), \(\Omega \subset \real ^n\) offen, beschra&#x0308;nkt und \(\C ^{2,\alpha }\)-berandet, \(a \in \C ^{0,\alpha }(\overline {\Omega }, \real ^{n \times n})\)
gleichma&#x0308;ßig elliptisch auf \(\overline {\Omega }\), \(b \in \C ^{0,\alpha }(\overline {\Omega }, \real ^n)\), \(c \in \C ^{0,\alpha }(\overline {\Omega })\) gleichma&#x0308;ßig positiv auf
\(\overline {\Omega }\) und \(f \in \C ^{0,\alpha }(\overline {\Omega })\).<br />
Dann gibt es genau ein \(u \in \C ^{2,\alpha }(\overline {\Omega })\) mit \(-\sum _{i,j=1}^n a_{ij} \partial _{x_i} \partial _{x_j} u + b \nabla u + cu = f\) in \(\Omega \), \(u = 0\) auf \(\partial
\Omega \).<br />
Es gilt \(\norm {u}_{\C ^{2,\alpha }(\overline {\Omega })} \le C \norm {f}_{\C ^{0,\alpha }(\overline {\Omega })}\) mit \(C = C(\Omega , n, \alpha , a, b, c)\).
</p>



<h2 id="zusatz-fouriertransformation-und-anwendungen">Zusatz: <span style="font-variant: small-caps;">Fourier</span>transformation und Anwendungen</h2>

</p>


<p>
<b><span class="textsc" >Schwartz</span>raum</b>:&#x2003; \(\S = \S (\real ^n) := \{f \in \C ^\infty (\real ^n, \complex ) \;|\; \forall _{\alpha \in \natural _0^n} \forall _{\beta \in
\natural _0^n}\; \sup _{x \in \real ^n} |x^\alpha \partial _x^\beta f(x)| &lt; \infty \}\)<br />
\(= \{f \in \C ^\infty (\real ^n, \complex ) \;|\; \forall _{m \in \natural _0} \forall _{\beta \in \natural _0^n}\; \sup _{x \in \real ^n} |(1 + |x|^m) \partial _x^\beta f(x)| &lt; \infty
\}\)<br />
heißt <em><span class="dashuline" ><span class="textsc" >Schwartz</span>raum</span></em> oder <em><span class="dashuline" >Raum der schnellfallenden Funktionen</span></em> auf \(\real ^n\).
</p>

<p>
<em>Bemerkung</em>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Wenn \(p\colon \real ^n \rightarrow \complex \) ein (multivariates komplexes) Polynom ist, dann ist \(p \notin \S \), aber \(f \in \S \) mit \(f\colon \real ^n \rightarrow \complex \), \(f(x) :=
p(x) e^{-|x|^2}\).
</p>
</li>
<li class="list-item-f4"><p>Es gilt \(\C ^\infty _c(\real ^n, \complex ) \subset \S (\real ^n) \subset L^p(\real ^n, \complex )\) fu&#x0308;r alle \(p \in [1, \infty ]\).<br />
(Fu&#x0308;r \(p \in [1, \infty )\) ist \(\C ^\infty _c(\real ^n)\) dicht in \(L^p(\real ^n)\), d.&#x202f;h. dann ist auch \(\S (\real ^n)\) dicht in \(L^p(\real ^n)\).)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Fourier</span>transformation</b>:&#x2003; Fu&#x0308;r \(f \in \S (\real ^n)\) heißt \(\widehat {f}\colon \real ^n \rightarrow \complex \) mit<br />
\(\widehat {f}(k) := (2\pi )^{-n/2} \int _{\real ^n} e^{-\iu \innerproduct {k,x}} f(x)\dx \) <em><span class="dashuline" ><span class="textsc" >Fourier</span>transformierte</span></em> von \(f\). Der
Operator \(\F \) von \(\S (\real ^n)\) in den Raum der Abbildungen \(\real ^n \rightarrow \complex \) mit \(f \mapsto \widehat {f}\) heißt <em><span class="dashuline" ><span class="textsc"
>Fourier</span>transformation</span></em>.
</p>

<p>
<em>Bemerkung</em>: Die Normierung von \(\widehat {f}\) in der Literatur ist nicht einheitlich. Ha&#x0308;ufige alternative Normierungen sind \((2\pi )^{-n} \int _{\real ^n} e^{-\iu \innerproduct {k,x}} f(x)\dx
\) und \(\int _{\real ^n} e^{-2\pi \iu \innerproduct {k,x}} f(x)\dx \).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenschaften der <span class="textsc" >Fourier</span>transformation</span>):</span> \(\F \colon \S \rightarrow \S \) ist linear und bijektiv.<br
/>
Die inverse Abbildung ist gegeben durch \(\F ^{-1}\colon \S \rightarrow \S \) mit \(\F ^{-1} f \in \S \) der <em><span class="dashuline" >inversen <span class="textsc"
>Fourier</span>transformierten</span></em> gegeben durch \((\F ^{-1} f)(x) := (2\pi )^{-n/2} \int _{\real ^n} e^{\iu \innerproduct {k,x}} \widehat {f}(k)dk\) fu&#x0308;r \(x \in \real ^n\).<br />
Es gilt \((\F ^2 f)(x) = f(-x)\) und \((\F ^4 f)(x) = f(x)\) fu&#x0308;r \(x \in \real ^n\).
</p>

<p>
<em>Bemerkung</em>: Die Fouriertransformation ist das kontinuierliche Analog zu Fourierreihen.<br />
Ist beispielsweise \(f \in \C ^1([-\pi ,\pi ], \complex )\) mit \(f(-\pi ) = f(\pi )\), so gilt \(f(x) = (2\pi )^{-1/2} \sum _{k \in \integer } c_k e^{\iu kx}\) gleichma&#x0308;ßig auf \([-\pi , \pi ]\),
wobei \(c_k := (2\pi )^{-1/2} \int _{-\pi }^\pi e^{-\iu kx} f(x)\dx \).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Zum Beweis des letzten Satzes beno&#x0308;tigt man ein paar Rechenregeln.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Rechenregeln</span>):</span> Seien \(f, g \in \S \). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>  \(\int _{\real ^n} \widehat {f}(y)g(y)\dy = \int _{\real ^n} f(y)\widehat {g}(y)\dy \)
</p>
</li>
<li class="list-item-f6"><p>  \(\forall _{j=1,\dotsc ,n}\; \F (\partial _{x_j} f) = \iu k_j \widehat {f}\)
</p>
</li>
<li class="list-item-f7"><p>  \(\forall _{j=1,\dotsc ,n}\; \F (x_j f) = \iu \partial _{k_j} \widehat {f}\)
</p>
</li>
<li class="list-item-f8"><p>  Fu&#x0308;r \(f_a \in \S \) mit \(f_a(x) := f(x + a)\) gilt \(\widehat {f_a}(k) = e^{\iu \innerproduct {k,a}} \widehat {f}(k)\).
</p>
</li>
<li class="list-item-f9"><p>  Fu&#x0308;r \(A\colon \real ^n \rightarrow \real ^n\) linear und bijektiv gilt \(\F (f \circ A) = |\det A|^{-1} (\widehat {f} \circ (A^{-1})^T)\).
</p>
</li>
<li class="list-item-f10"><p>  \(\varphi \in \S \) mit \(\varphi (x) := e^{-|x|^2/2}\) ist ein Fixpunkt von \(\F \) (mit \(L^1\)-Norm \((2\pi )^{n/2}\)).
</p>
</li>
</ul>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Faltung</span>):</span> Seien \(f, g \in \S \). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f11"><p>\(\F (f \cdot g) = (2\pi )^{-n/2} (\widehat {f} \ast \widehat {g})\)
</p>
</li>
<li class="list-item-f12"><p>\(\widehat {f} \cdot \widehat {g} = (2\pi )^{-n/2} \F (f \ast g)\)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Plancherel</span>, <span class="textsc" >Parseval</span></span>):</span> Fu&#x0308;r alle \(f, g \in \S \) gilt
\(\innerproduct {f, g}_{L^2} = \langle \widehat {f}, \widehat {g}\rangle _{L^2}\).<br />
Insbesondere gilt \(\forall _{f \in \S }\; \norm {f}_{L^2} = \Vert \widehat {f}\Vert _{L^2}\) und<br />
\(\F \colon \S \rightarrow \S \) ist eine bijektive, lineare und stetige Isometrie bzgl. \(\norm {\cdot }_{L^2}\).
</p>

<p>
<b>Folgerung</b>: \(\F , \F ^{-1}\) lassen sich eindeutig zu bijektiven, linearen und stetigen Isometrien<br />
\(\F , \F ^{-1}\colon L^2 \rightarrow L^2\) fortsetzen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Fourier</span>transformation als Grenzwert</span>):</span><br />
Fu&#x0308;r \(f \in L^2\) gilt \(\widehat {f}(k) = \lim _{m \to \infty } (2\pi )^{-n/2} \int _{B_m(0)} e^{-\iu \innerproduct {k,x}}f(x)\dx \) f.u&#x0308;. in \(\real ^n\), wobei der Grenzwert
gleichma&#x0308;ßig in \(k\) bzgl. \(\norm {\cdot }_{L^2}\) angenommen wird.<br />
Fu&#x0308;r \(f \in L^1 \cap L^2\) gilt \(\widehat {f}(k) = (2\pi )^{-n/2} \int _{\real ^n} e^{-\iu \innerproduct {k,x}}f(x)\dx \) f.u&#x0308;. in \(\real ^n\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >U&#x0308;bertragbarkeit der Rechenregeln</span>):</span> Die Rechenregeln von oben und der Satz von Plancherel gelten auch fu&#x0308;r alle Funktionen
\(f, g \in L^2\), wenn man die Ableitungen durch schwache Ableitungen ersetzt.
</p>

<p>
<em>Bemerkung</em>: Ist \(f \in L^1\), so gelten <em>(2)</em> bis <em>(5)</em> der Rechenregeln.<br />
Fu&#x0308;r \(u, v \in L^1\) mit \(\widehat {u}, \widehat {v} \in L^1\) gilt \(u \cdot v \in L^1\) und <em>(1)</em> des Faltungssatzes.<br />
Aus \(u \in L^1\) folgt i.&#x202f;A. nicht \(\widehat {u} \in L^1\). \(\F \) ist aber eine Bijektion auf \(L^1 \cap \F (L^1)\). In diesem Fall (fu&#x0308;r \(u \in L^1 \cap \F (L^1)\)) gilt die explizite Formel
fu&#x0308;r \(\F ^{-1}\) aus dem ersten Satz.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Charakterisierung der <span class="textsc" >Sobolev</span>ra&#x0308;ume \(H^m(\real ^n)\)</span>):</span> Sei \(f \in L^2(\real ^n)\).<br />
Dann gilt \(f \in H^m(\real ^n) \iff \forall _{|\alpha | \le m}\; k^\alpha \widehat {f} \in L^2(\real ^n) \iff (1 + |k|)^m \widehat {f} \in L^2(\real ^n)\)<br />
\(\iff (1 + |k|^2)^{m/2} \widehat {f} \in L^2(\real ^n)\).
</p>

<p>
<em>Bemerkung</em>: Mittels diesen Charakterisierungen kann man \(H^m(\real ^n)\) fu&#x0308;r beliebige reelle Zahlen \(m \in \real \) wie folgt definieren.
</p>

<p>
<b>\(H^m(\real ^n)\) fu&#x0308;r \(m \in \real \)</b>:&#x2003; Seien \(m \in \real \) und \(\varrho \colon \real ^n \rightarrow \real \), \(\varrho (x) := 1 + |x|^2\).<br />
Definiere \(L^2_m(\real ^n) := \{u \in L^2(\real ^n) \;|\; \norm {u}_{L^2_m(\real ^n)} := \norm {\varrho ^{m/2} u}_{L^2(\real ^n)} &lt; \infty \}\).<br />
Dann ist \(H^m(\real ^n)\) fu&#x0308;r \(m \in \real \) definiert durch \(H^m(\real ^n) := \{u \in L^2(\real ^n) \;|\; \widehat {u} \in L^2_m(\real ^n)\}\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(m \in \natural _0\) stimmt diese Definition mit der bisherigen u&#x0308;berein.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Sei \(T \in \D ’\) eine Distribution (d.&#x202f;h. ein lineares Funktional \(T\colon \D \rightarrow \complex \) mit<br />
\(\forall _{K \subset \real ^n \text { kpkt.}} \exists _{m \in \natural _0} \exists _{C &gt; 0} \forall _{\varphi \in \D _K}\; |T\varphi | \le C \sup _{|\beta | \le m} \norm {\partial
_x^\beta \varphi }_{\C ^0(\real ^n)}\) und \(\D := \C ^\infty _c(\real ^n)\), \(\D _K := \C ^\infty _c(K)\)).<br />
Um die Fouriertransformation von Funktionen auf Distributionen zu verallgemeinern, wu&#x0308;rde man gerne die Fouriertransformation \(\F T \in \D ’\) von \(T\) definieren durch \((\F T)\varphi := T \widehat
{\varphi }\) fu&#x0308;r alle \(\varphi \in \D \). Allerdings folgt aus \(\supp \widehat {\varphi }\) kompakt nach dem Satz von Paley-Wiener, dass \(\varphi \) analytisch ist. Daraus folgt nach dem
Identita&#x0308;tssatz fu&#x0308;r Potenzreihen, dass \(\varphi \equiv 0\) oder \(\supp \varphi \) nicht kompakt. \(\widehat {\varphi }\) kann also fu&#x0308;r \(\varphi \in \D \setminus \{0\}\) keinen
kompakten Tra&#x0308;ger haben und \(T\widehat {\varphi }\) ist dann sinnlos (da dann \(\widehat {\varphi } \notin \D \)). Daher muss man zur Definition der Fouriertransformation fu&#x0308;r Distributionen den
Raum \(\D ’\) der Distributionen einschra&#x0308;nken.
</p>

<p>
<b>Raum der temperierten Distributionen</b>:&#x2003; Der <em><span class="dashuline" >Raum der temperierten Distributionen</span></em> \(\S ’ \subset \D ’\) ist definiert als der Dualraum von \(\S \),
d.&#x202f;h. der Raum aller linearen, stetigen Funktionale \(\S \rightarrow \complex \) mit der lokal-konvexen Topologie auf \(\S \), die von der Familie \((p_{\beta ,m})\) der Halbnormen \(p_{\beta ,m}(\varphi ) :=
\sup _{x \in \real ^n} |(1 + |x|^m) \partial _x^\beta \varphi (x)|\) erzeugt wird.
</p>

<p>
<em>Bemerkung</em>: Eine Folge \((\varphi _k)_{k \in \natural }\) in \(\S \) konvergiert gegen \(\varphi \in \S \) bzgl. dieser Topologie genau dann, wenn \(\forall _{\alpha , \beta \in \natural _0^n}\;
x^\alpha \partial _x^\beta \varphi _k(x) \xrightarrow {k \to \infty } x^\alpha \partial _x^\beta \varphi (x)\) gleichma&#x0308;ßig auf \(\real ^n\).<br />
Eine a&#x0308;quiv. Charakterisierung von \(\S ’\) ist \(T \in \S ’ \iff \exists _{\beta \in \natural _0^n} \exists _{m \in \natural _0} \exists _{C &gt; 0} \forall _{\varphi \in \S }\; |T\varphi |
\le C p_{\beta ,m}(\varphi )\).
</p>

<p>
<b><span class="textsc" >Fourier</span>transformation fu&#x0308;r Distributionen</b>:&#x2003; Die <em><span class="dashuline" ><span class="textsc" >Fourier</span>transformation</span></em> \(\F
\colon \S ’ \rightarrow \S ’\) ist definiert durch \((\F T)\varphi := T \widehat {\varphi }\) fu&#x0308;r alle \(T \in \S ’\) und \(\varphi \in \S \).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r alle \(u \in \S \) gibt es die <em><span class="dashuline" >assoz. temp. Distr.</span></em> \(T_u\) mit \((\F T_u) \varphi = \int _{\real ^n} (\F u)(x) \varphi (x)\dx \).
</p>

<p>
<em>Beispiel</em>:<br />
Fu&#x0308;r \(u(x) := (2\pi )^{-n/2} e^{\iu \innerproduct {k,x}}\) mit \(k \in \real ^n\) fest ist \((\F T_u)\varphi = \varphi (k)\) fu&#x0308;r alle \(\varphi \in \S \), d.&#x202f;h. \(\F T_u = \delta
_k\). Fu&#x0308;r \(u(x) := x^\alpha \) ist \(\F T_u = (2\pi )^{n/2} \iu ^{|\alpha |} \cdot \partial _k^\alpha \delta _0\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
