
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\wahr }{\ensuremath {\text {w}}}\)

\(\newcommand {\falsch }{\ensuremath {\text {f}}}\)

\(\newcommand {\ur }{\ensuremath {\leqslant }}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\langle #1 \rangle }}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\newcommand {\basis }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\stdbasis }[1]{\ensuremath {\mathcal {E}_{\mathnormal {#1}}}}\)

\(\newcommand {\nk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\matrixm }{\mathcal {M}}\)

\(\newcommand {\hommatrix }[3]{\ensuremath {\matrixm _{#1}(\basis {#2},\basis {#3})}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\End }{\ensuremath {\operatorname {End}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\SL }{\ensuremath {\operatorname {SL}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\perm }{\ensuremath {\mathfrak {S}}}\)

\(\newcommand {\sign }{\ensuremath {\operatorname {sign}}}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\tr }{\ensuremath {\operatorname {tr}}}\)

\(\newcommand {\adj }{\ensuremath {\operatorname {adj}}}\)

\(\newcommand {\lgs }[1]{\ensuremath {\mathfrak {#1}}}\)

\(\newcommand {\lgslsg }[1]{\ensuremath {\mathcal {L}_{\lgs {#1}}}}\)

\(\newcommand {\affin }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\TV }{\ensuremath {\operatorname {TV}}}\)

\(\newcommand {\kk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\eukl }{\ensuremath {\mathcal {E}}}\)

\(\newcommand {\euklebene }{\ensuremath {\mathcal {E}_2}}\)

\(\newcommand {\euklraum }{\ensuremath {\mathcal {E}_3}}\)

\(\newcommand {\strecke }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\vektor }[1]{\ensuremath {\overrightarrow {#1}}}\)

\(\newcommand {\orth }{\ensuremath {\;\bot \;}}\)

\(\newcommand {\xbegriff }[2]{\index {#2}\emph {\dashuline {#1}}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="schoene-matrizen">Schöne Matrizen</h2>

</p>


<p>
<b>\(f\)-invariant</b>:&#x2003; Sei \(f \in \End _K(V)\) sowie \(U\) ein Unterraum von \(V\).<br />
Dann heißt \(U\) <em><span class="dashuline" >invariant unter \(f\)</span></em> oder <em><span class="dashuline" >\(f\)-invariant</span></em>, falls \(f(u) \in U\) ist fu&#x0308;r alle \(u \in U\).
</p>



<h2 id="die-charakteristische-gleichung">Die charakteristische Gleichung</h2>

</p>


<p>
<b>Eigenvektor und Eigenwert</b>:&#x2003; Sei \(f \in \End _K(V)\). Ein Skalar \(\lambda \in K\) heißt <em><span class="dashuline" >Eigenwert</span></em> (EW) von \(f\), falls es einen Vektor \(v \in V\) (\(v
\not = 0\)) gibt, sodass \(f(v) = \lambda v\) ist.<br />
Ein Vektor \(v \in V\) (\(v \not = 0\)) heißt <em><span class="dashuline" >Eigenvektor</span></em> (EV) zum Eigenwert \(\lambda \in K\), falls \(f(v) = \lambda v\).<br />
Eigenvektoren/-werte einer Matrix \(A \in M_n(K)\) sind Eigenvektoren/-werte von \(f_A: K^n \rightarrow K^n\).
</p>

<p>
<b>Diagonalmatrix</b>:&#x2003; Seien \(\lambda _1, \ldots , \lambda _n \in K\).<br />
Die <em><span class="dashuline" >Diagonalmatrix</span></em> \(\begin {pmatrix}\lambda _1 &amp; \cdots &amp; 0 \\ \vdots &amp; \ddots &amp; \vdots \\ 0 &amp; \cdots &amp; \lambda _n\end
{pmatrix}\) wird mit \(\diag \{\lambda _1, \ldots , \lambda _n\}\) bezeichnet.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Diagonalmatrix und Eigenvektor</span>): Sei \(\basis {B} = (v_1, \ldots , v_n)\) eine geordnete Basis von \(V\). Dann ist \(\hommatrix {f}{B}{B} = \diag \{\lambda _1,
\ldots , \lambda _n\}\) genau dann, wenn \(v_i\) EV zum EW \(\lambda _i\) ist (\(1 \le i \le n\)).
</p>

<p>
<b>\(\ell _\lambda \)</b>:&#x2003; Seien \(\lambda \in K\) und \(\basis {B}\) eine beliebige Basis von \(V\) mit \(\dim V = n\). Durch \(\ell _\lambda : V \rightarrow V\), \(v \mapsto \lambda v\) wird ein
Endomorphismus \(\ell _\lambda \) von \(V\) definiert. Es gilt \(\hommatrix {\ell _\lambda }{B}{B} = \diag \{\lambda , \ldots , \lambda \} = \lambda \cdot E_n\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenwerte eines Endomorphismus</span>):</span><br />
\(\lambda \in K\) ist Eigenwert von \(f\) genau dann, wenn \(\det (f - \ell _\lambda ) = 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenwerte einer Matrix</span>):</span><br />
\(\lambda \in K\) ist Eigenwert von \(A \in M_n(K)\) genau dann, wenn \(\det (A - \lambda E_n) = 0\).
</p>

<p>
<b>charakteristische Gleichung</b>:&#x2003; \(\det (A - \lambda E) = 0\) bzw. \(\det (f - \ell _\lambda ) = 0\) ist eine <em><span class="dashuline" >Bestimmungsgleichung fu&#x0308;r \(\lambda
\)</span></em>, die sog. <em><span class="dashuline" >charakteristische Gleichung</span></em> von \(A\) bzw. \(f\), wenn man \(\lambda \in K\) als Unbestimmte auffasst. Diese Gleichung muss von \(\lambda \)
erfu&#x0308;llt werden, damit \(\lambda \) ein Eigenwert von \(A\) bzw. \(f\) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Polynom</span>):</span> Seien \(f \in \End _K(V)\) (\(\dim _K V = n\)) und \(t \in K\) eine Unbestimmte.<br />
Dann ist \((-1)^n \det (f - \ell _t) = \det (\ell _t - f)\) ein Polynom \(\chi _f(t) \in K[t]\) der Form<br />
\(\chi _f(t) = t^n + \beta _{n-1} t^{n-1} + \cdots + \beta _1 t + \beta _0\) fu&#x0308;r bestimmte Koeffizienten \(\beta _i \in K\) (\(0 \le i \le n - 1\)).<br />
Insbesondere ist \(\deg \chi _f(t) = n\).
</p>

<p>
<b>charakteristisches Polynom</b>:&#x2003; Das Polynom \(\chi _f(t)\) heißt <em><span class="dashuline" >charakteristisches Polynom</span></em> von \(f\). A&#x0308;hnlich wird das charakteristische Polynom
\(\chi _A(t)\) einer quadratischen Matrix \(A\) definiert.
</p>

<p>
<b>Folgerung</b>: A&#x0308;hnliche Matrizen besitzen dasselbe charakteristische Polynom.
</p>

<p>
<b>Spur</b>:&#x2003; Sei \(A = (\alpha _{ij}) \in M_{n \times n}(K)\). Dann heißt \(\tr (A) = \sum _{i=1}^n \alpha _{ii}\) die <em><span class="dashuline" >Spur</span></em> von \(A\).<br />
Fu&#x0308;r \(f \in \End _K(V)\) (\(\dim _K V = n\)) definiert man die Spur als \(\tr (f) = -\beta _{n-1}\) als den negierten Koeffizienten von \(t^{n-1}\) des charakteristischen Polynoms \(\chi _f(t)\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >niedrigster Koeffizient</span>):</span> Fu&#x0308;r den konstanten Term \(\beta _0\) von \(\chi _f(t)\) gilt \(\beta _0 = (-1)^n \det f\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >ho&#x0308;chster Koeffizient</span>):</span> Fu&#x0308;r \(\beta _{n-1}\) von \(\chi _A(t)\) gilt \(\beta _{n-1} = -\tr (A)\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spur als Homomorphismus</span>):</span> Die Abbildung \(\tr : \End _K(V) \rightarrow K\), \(f \mapsto \tr (f)\) ist \(K\)-linear und fu&#x0308;r
\(f, g \in \End _K(V)\) ist \(\tr (f \circ g) = \tr (g \circ f)\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenwerte = Nullstellen</span>):</span> Die Eigenwerte von \(f\) sind genau die Nullstellen von \(\chi _f(t)\).
</p>

<p>
<b>Eigenraum</b>:&#x2003; Die Gesamtheit der Eigenvektoren von \(f\) zum Eigenwert \(\lambda \) besteht aus allen Vektoren in \(\ker (f - \ell _\lambda ) \setminus \{0\}\). Der Unterraum \(\ker (f - \ell
_\lambda )\) von \(V\) wird <em><span class="dashuline" >Eigenraum</span></em> zum Eigenwert&nbsp;\(\lambda \) genannt und mit \(V_\lambda (f)\) oder \(V_\lambda \) bezeichnet.
</p>

<p>
<span class="uline" ><b><kbd>Prozedur</kbd> (Eigenra&#x0308;ume eines Homomorphismus ausrechnen)</b>:</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>Man wa&#x0308;hlt eine Basis von \(V\) und schreibt \(f\) als Matrix \(A\). Dann berechnet man das Polynom \(\det (A - tE)\) (bzw. von \(\chi _f(t) = \chi _A(t) = \det (tE - A) \in K[t]\)).
</p>
</li>
<li class="list-item-f1"><p>Man bestimmt die Nullstellen \(\lambda _1, \ldots , \lambda _k\) von \(\chi _f(t)\) (Eigenwerte).
</p>
</li>
<li class="list-item-f2"><p>Fu&#x0308;r jede Nullstelle \(\lambda _i\) lo&#x0308;st man das homogene LGS \((A - \lambda _i E) x = 0\).<br />
Der Kern \(\ker (A - \lambda _i E) = V_{\lambda _i}(f)\) ist der Eigenraum zum Eigenwert \(\lambda _i\), die Menge der Eigenvektoren zum Eigenwert \(\lambda _i\) ist dann \(V_{\lambda _i}(f) \setminus
\{0\}\).
</p>
</li>
</ul>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Dimension des Eigenraums</span>):</span> Die Dimension des Eigenraums von \(f\) zum Eigenwert \(\lambda \in K\) ist kleiner gleich der Vielfachheit von
\(\lambda \) als Nullstelle von \(\chi _f(t)\),<br />
d.&#x202f;h. \(\dim (\ker (f - \ell _\lambda )) \le m_\lambda (\chi _f(t))\).
</p>

<p>
<b>Dreiecksmatrix</b>:&#x2003; Eine <em><span class="dashuline" >(obere/untere) Dreiecksmatrix</span></em> ist eine quadratische Matrix, in der alle Eintra&#x0308;ge unterhalb/oberhalb der Hauptdiagonalen \(0\) sind.

</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Dreiecksmatrix \(\Leftrightarrow \) Zerfall in Linearfaktoren</span>):</span> Eine quadratische Matrix ist genau dann zu einer Dreiecksmatrix
a&#x0308;hnlich, wenn ihr charakteristisches Polynom in Linearfaktoren zerfa&#x0308;llt.
</p>

<p>
<b>Folgerung</b>: Sei \(K\) algebraisch abgeschlossen und \(A\) eine quadratische Matrix u&#x0308;ber \(K\).<br />
Dann ist \(A\) zu einer Dreiecksmatrix a&#x0308;hnlich.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenvektoren linear unabha&#x0308;ngig</span>):</span> Eigenvektoren \(v_1, \ldots , v_k \in V\) zu paarweise verschiedenen Eigenwerten \(\lambda
_1, \ldots , \lambda _k \in K\) eines Endomorphismus \(f\) von \(V\) sind linear unabha&#x0308;ngig.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Summe der Eigenra&#x0308;ume direkt</span>):</span> Seien \(f \in \End _K(V)\), \(\lambda _1, \ldots , \lambda _k \in K\) paarweise
verschiedene Eigenwerte von \(f\) und \(V_{\lambda _i}\) der \(i\)-te Eigenraum (\(1 \le i \le k\)). Dann ist die Summe der Eigenra&#x0308;ume direkt, d.&#x202f;h. \(\sum _{i=1}^k V_{\lambda _i} = \bigoplus
_{i=1}^k V_{\lambda _i}\). Insbesondere ist \(\dim \left (\sum _{i=1}^k V_{\lambda _i}\right ) = \sum _{i=1}^k \dim (V_{\lambda _i})\).
</p>

<p>
<b>diagonalisierbar (Matrix)</b>:&#x2003; Eine quadratische Matrix heißt <em><span class="dashuline" >diagonalisierbar</span></em>, falls sie zu einer Diagonalmatrix a&#x0308;hnlich ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >diagonalisierbar \(\Leftrightarrow \) Basis aus Eigenvektoren</span>):</span> Eine quadratische Matrix \(A \in M_n(K)\) ist genau dann diagonalisierbar,
wenn \(K^n\) eine aus Eigenvektoren von \(A\) bestehende Basis besitzt.
</p>

<p>
<b>diagonalisierbar (Endomorphismus)</b>:&#x2003; Ein Endomorphismus \(f\) von \(V\) ist <em><span class="dashuline" >diagonalisierbar</span></em>, falls \(V\) eine Basis aus Eigenvektoren von \(f\) hat.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Summe der Dimension der Eigenra&#x0308;ume</span>):</span> Seien \(\lambda _1, \ldots , \lambda _k\) die verschiedenen Eigenwerte von \(f \in
\End _K(V)\). Dann ist \(f\) diagonalisierbar genau dann, wenn<br />
\(\sum _{i=1}^k \dim (V_{\lambda _i}(f)) = n = \dim V\) ist. (Dann zerfa&#x0308;llt \(\chi _f\) automatisch in Linearfaktoren.)
</p>

<p>
<span class="uline" ><b><kbd>Prozedur</kbd> (quadratische Matrix diagonalisieren)</b>:</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Man berechnet das charakteristische Polynom \(\chi _A(t)\).
</p>
</li>
<li class="list-item-f4"><p>Man bestimmt die Nullstellen (also die Eigenwerte). Wenn \(A\) diagonalisierbar ist, dann zerfa&#x0308;llt \(\chi _A(t)\) in Linearfaktoren, d.&#x202f;h. \(\chi _A(t) = \prod _{i=1}^k (t - \lambda
_i)^{\nu _i}\), wobei die \(\lambda _i \in K\) die paarweise verschiedenen Eigenwerte mit \(\nu _i = m_{\lambda _i}(\chi _A(t))\) sind.
</p>
</li>
<li class="list-item-f5"><p>Man bestimmt eine Basis \(\basis {B}_i\) von \(\ker (A - \lambda _i E) = V_{\lambda _i}\) durch Lo&#x0308;sen des zugeho&#x0308;rigen homogenen LGS \((A - \lambda _i E)x = 0\).
</p>
</li>
<li class="list-item-f6"><p>Sei \(\basis {B} = \basis {B}_1 \cup \cdots \cup \basis {B}_k\). Wenn \(A\) diagonalisierbar ist, dann ist \(|B| = n\) und \(B\) ist daher Basis von \(K^n\). Sei \(P = \hommatrix {\id }{\stdbasis
{n}}{B}\). Dann ist \(P^{-1}AP = \diag \{\lambda _1, \ldots , \lambda _1, \lambda _2, \ldots , \lambda _k, \ldots , \lambda _k\}\), wobei \(\lambda _i\) genau \(m_{\lambda _i}(\chi _A(t)) = \dim
(V_{\lambda _i})\) oft als Eintrag in der Diagonalmatrix vorkommt.
</p>
</li>
</ul>



<h2 id="direkte-summen-und-blockdiagonalform">Direkte Summen und Blockdiagonalform</h2>
<b>direkte Summe von Endomorphismen</b>:&#x2003; Seien \(V_1, \ldots , V_k\) \(K\)-Vektorra&#x0308;ume und \(f_i: V_i \rightarrow V_i\) Endomorphismen fu&#x0308;r \(i = 1, \ldots , k\).<br />
Dann wird durch \(f: \bigoplus _{i=1}^k V_i \rightarrow \bigoplus _{i=1}^k V_i\), \(f(v_1, \ldots , v_k) \mapsto (f_1(v_1), \ldots , f_k(v_k))\) ein Endomorphismus \(f\) definiert. \(f = \bigoplus
_{i=1}^k f_i\) heißt <em><span class="dashuline" >direkte Summe der Endomorphismen</span></em> \(f_i\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Blockdiagonalmatrix</span>): Seien \(\basis {B}_i\) eine Basis fu&#x0308;r \(V_i\), \(n_i = \dim _K V_i\), \(A_i = \matrixm _{f_i}(\basis {B}_i, \basis {B}_i)\),<br
/>
\(f\) die direkte Summe der \(f_i\) und \(\basis {B} = \basis {B}_1 \cup \cdots \cup \basis {B}_k\) in der natu&#x0308;rlichen Ordnung.<br />
Dann ist \(\hommatrix {f}{B}{B} =\) \(\begin {pmatrix}A_1 &amp; \cdots &amp; 0 \\ \vdots &amp; \ddots &amp; \vdots \\ 0 &amp; \cdots &amp; A_k\end {pmatrix}\), wobei \(A_i \in M_{n_i}(K)\)
fu&#x0308;r \(i = 1, \ldots , k\).
</p>

<p>
<b>Blockdiagonalmatrix</b>:&#x2003; Diese Matrix \(\hommatrix {f}{B}{B}\) heißt <em><span class="dashuline" >Blockdiagonalmatrix</span></em> und wird auch mit \(\diag \{A_1, \ldots , A_k\}\) bezeichnet.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Det. einer Blockdiagonalmatrix</span>):</span> Es gilt \(\det f = \det (A_1) \cdots \det (A_k) = \prod _{i=1}^k \det f_i\).
</p>

<p>
<b>Folgerung</b>: Es gilt \(\chi _f(t) = \chi _{f_1}(t) \cdots \chi _{f_k}(t)\).
</p>

<p>
<b>Folgerung</b>: Seien \(f \in \End _K(V)\) (wobei \(V\) endlich-dimensional ist), \(V = V_1 \oplus \cdots \oplus V_k\) direkte Summe der \(f\)-invarianten Unterra&#x0308;ume \(V_i\) und \(f_i = f|_{V_i}\).<br
/>
Dann ist \(\det f = \prod _{i=1}^k \det f_i\) sowie \(\chi _f(t) = \prod _{i=1}^k \chi _{f_i}(t)\).
</p>

<p>
<b>Blockmatrix</b>:&#x2003; Eine quadratische Matrix \(A = (\alpha _{ij}) \in M_n(K)\) heißt <em><span class="dashuline" >(obere) Blockmatrix</span></em>, falls sie die Form \(A =\) \(\begin {pmatrix}B &amp;
C \\ 0 &amp; D\end {pmatrix}\) hat, wobei \(B \in M_r(K)\), \(C \in M_{r \times (n - r)}(K)\) und \(D \in M_{n - r}(K)\).<br />
Analog werden <em><span class="dashuline" >untere Blockmatrizen</span></em> definiert.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Determinante von Blockmatrizen</span>):</span> Sei \(A =\) \(\begin {pmatrix}B &amp; C \\ 0 &amp; D\end {pmatrix}\) eine Blockmatrix.<br />
Dann ist \(\det A = \det B \cdot \det D\) sowie \(\chi _A(t) = \chi _B(t) \cdot \chi _D(t)\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
