
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\wahr }{\ensuremath {\text {w}}}\)

\(\newcommand {\falsch }{\ensuremath {\text {f}}}\)

\(\newcommand {\ur }{\ensuremath {\leqslant }}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\langle #1 \rangle }}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\newcommand {\basis }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\stdbasis }[1]{\ensuremath {\mathcal {E}_{\mathnormal {#1}}}}\)

\(\newcommand {\nk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\matrixm }{\mathcal {M}}\)

\(\newcommand {\hommatrix }[3]{\ensuremath {\matrixm _{#1}(\basis {#2},\basis {#3})}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\End }{\ensuremath {\operatorname {End}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\SL }{\ensuremath {\operatorname {SL}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\perm }{\ensuremath {\mathfrak {S}}}\)

\(\newcommand {\sign }{\ensuremath {\operatorname {sign}}}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\tr }{\ensuremath {\operatorname {tr}}}\)

\(\newcommand {\adj }{\ensuremath {\operatorname {adj}}}\)

\(\newcommand {\lgs }[1]{\ensuremath {\mathfrak {#1}}}\)

\(\newcommand {\lgslsg }[1]{\ensuremath {\mathcal {L}_{\lgs {#1}}}}\)

\(\newcommand {\affin }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\TV }{\ensuremath {\operatorname {TV}}}\)

\(\newcommand {\kk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\eukl }{\ensuremath {\mathcal {E}}}\)

\(\newcommand {\euklebene }{\ensuremath {\mathcal {E}_2}}\)

\(\newcommand {\euklraum }{\ensuremath {\mathcal {E}_3}}\)

\(\newcommand {\strecke }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\vektor }[1]{\ensuremath {\overrightarrow {#1}}}\)

\(\newcommand {\orth }{\ensuremath {\;\bot \;}}\)

\(\newcommand {\xbegriff }[2]{\index {#2}\emph {\dashuline {#1}}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
</style>
<p>

</p>


<p>
<em>Bemerkung</em>: Geometrie hat mit „Messen“ zu tun. Wichtige Hilfsmittel sind La&#x0308;ngen- und Winkelmessung. Die La&#x0308;nge eines Vektors kann man mit Hilfe einer Norm definieren.
</p>

<p>
<b>Norm</b>:&#x2003; Sei \(V\) ein \(K\)-Vektorraum, wobei \(K = \real \) oder \(K = \complex \). Eine <em><span class="dashuline" >Norm</span></em> \(\norm {\cdot }\) auf \(V\) ist eine Abbildung \(\norm
{\cdot }: V \rightarrow \real \), falls fu&#x0308;r alle \(v, v_1, v_2 \in V\) und \(\alpha \in K\) gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(\norm {v} \ge 0\) &#x2003;sowie &#x2003;\(\norm {v} = 0 \;\Leftrightarrow \; v = 0\)
</p>
</li>
<li class="list-item-f1"><p>\(\norm {\alpha v} = |\alpha | \norm {v}\)
</p>
</li>
<li class="list-item-f2"><p>\(\norm {v_1 + v_2} \le \norm {v_1} + \norm {v_2}\)
</p>
</li>
</ul>

<p>
V zusammen mit einer Norm \(\norm {\cdot }\) heißt <em><span class="dashuline" >normierter Vektorraum</span></em>. \(V\) wird mit der von der Norm induzierten Metrik \(d(v_1, v_2) = \norm {v_1 - v_2}\)
(\(v_1, v_2 \in V\)) zum <em><span class="dashuline" >metrischen Raum</span></em>.
</p>



<h2 id="skalarprodukte">Skalarprodukte</h2>

</p>


<p>
<em>Bemerkung</em>: Zur Winkelmessung werden innere Produkte bzw. Skalarprodukte beno&#x0308;tigt.
</p>

<p>
<b>Bilinearform</b>:&#x2003; Sei \(K\) ein Ko&#x0308;rper und \(V\) ein \(K\)-Vektorraum. Eine Abbildung \(\innerproduct {\cdot , \cdot }: V \times V \rightarrow K\) heißt <em><span class="dashuline"
>bilinear</span></em>, falls fu&#x0308;r alle \(x, y, z \in V\) und \(\alpha \in K\) gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>\(\innerproduct {x + y, z} = \innerproduct {x, z} + \innerproduct {y, z}\)
</p>
</li>
<li class="list-item-f4"><p>\(\innerproduct {x, y + z} = \innerproduct {x, y} + \innerproduct {x, z}\)
</p>
</li>
<li class="list-item-f5"><p>\(\innerproduct {\alpha x, y} = \innerproduct {x, \alpha y} = \alpha \innerproduct {x, y}\)
</p>
</li>
</ul>

<p>
<b>Eigenschaften einer reellen Bilinearform</b>:&#x2003; Sei \(\innerproduct {\cdot , \cdot }\) eine Bilinearform auf dem reellen Vektorraum \(V\). Dann heißt \(\innerproduct {\cdot , \cdot }\) <em><span
class="dashuline" >symmetrisch</span></em>, falls \(\innerproduct {x, y} = \innerproduct {y, x}\) fu&#x0308;r alle \(x, y \in V\). \(\innerproduct {\cdot , \cdot }\) heißt <em><span class="dashuline"
>positiv semidefinit</span></em> und <em><span class="dashuline" >positiv definit</span></em>, falls \(\innerproduct {x, y} \ge 0\) und \(\innerproduct {x, x} = 0 \;\Leftrightarrow \; x = 0\) fu&#x0308;r alle
\(x \in V\).
</p>

<p>
<b>reelles Skalarprodukt</b>:&#x2003; Eine positiv definite symmetrische Bilinearform auf einem reellen Vektorraum \(V\) heißt <em><span class="dashuline" >(reelles) Skalarprodukt</span></em> auf \(V\).<br />
\(V\) zusammen mit einem reellen Skalarprodukt heißt <em><span class="dashuline" >euklidischer Vektorraum</span></em>.
</p>

<p>
<b>hermitesche Form</b>:&#x2003; Sei \(V\) ein komplexer Vektorraum. Eine Abbildung \(\innerproduct {\cdot , \cdot }: V \times V \rightarrow \complex \) heißt <em><span class="dashuline" >hermitesche
Form</span></em>, falls fu&#x0308;r alle \(x, y, z \in V\) und \(\lambda \in \complex \) gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f6"><p>\(\innerproduct {x + y, z} = \innerproduct {x, z} + \innerproduct {y, z}\)
</p>
</li>
<li class="list-item-f7"><p>\(\innerproduct {\lambda x, y} = \lambda \innerproduct {x, y}\)
</p>
</li>
<li class="list-item-f8"><p>\(\innerproduct {x, y} = \kk {\innerproduct {y, x}}\)
</p>
</li>
</ul>

<p>
<em>Lemma</em> (<span class="textsl" >Eigenschaften der hermiteschen Form</span>): Fu&#x0308;r eine hermitesche Form \(\innerproduct {\cdot , \cdot }\) gilt fu&#x0308;r alle \(x, y, z \in V\) und \(\lambda
\in \complex \), dass \(\innerproduct {x, y + z} = \innerproduct {x, y} + \innerproduct {x, z}\), \(\innerproduct {x, \lambda y} = \kk {\lambda } \innerproduct {x, y}\) und \(\innerproduct {x, x}
\in \real \).
</p>

<p>
<b>Eigenschaften einer hermiteschen Form</b>:&#x2003; Eine hermitesche Form heißt <em><span class="dashuline" >positiv semidefinit</span></em>, falls \(\innerproduct {x, x} \ge 0\) fu&#x0308;r alle \(x \in V\),
und <em><span class="dashuline" >positiv definit</span></em>, falls \(\innerproduct {x, x} &gt; 0\) fu&#x0308;r \(x \in V\), \(x \not = 0\).
</p>

<p>
<b>komplexes Skalarprodukt</b>:&#x2003; Eine positiv definite hermitesche Form auf einem komplexen Vektorraum \(V\) heißt <em><span class="dashuline" >(komplexes) Skalarprodukt</span></em> auf \(V\).<br />
\(V\) zusammen mit einem komplexen Skalarprodukt heißt <em><span class="dashuline" >unita&#x0308;rer Vektorraum</span></em>.
</p>

<p>
<em>Bemerkung</em>: Im Folgenden sei \(K = \real \)/\(K= \complex \), \(V\) ein \(K\)-Vektorraum und \(\innerproduct {\cdot , \cdot }\) eine bilineare/hermitesche Form auf \(V\), sodass \(V\) mit dieser Form einen
euklidischen/unita&#x0308;ren Raum bildet.
</p>

<p>
<b>vom Skalarprodukt induzierte Norm</b>:&#x2003; Sei \(x \in V\). Die <em><span class="dashuline" >Norm</span></em> oder <em><span class="dashuline" >La&#x0308;nge</span></em> von \(x\) ist die reelle
Zahl \(\norm {x} = \sqrt {\innerproduct {x, x}}\). Insbesondere ist \(\norm {x} = 0 \;\Leftrightarrow \; x = 0\).
</p>

<p>
<b>Einheitsvektoren</b>:&#x2003; Sei \(x \in V\), \(x \not = 0\). Dann hat \(\frac {x}{\norm {x}}\) die La&#x0308;nge 1.<br />
Vektoren der La&#x0308;nge \(1\) heißen <em><span class="dashuline" >normiert</span></em> oder <em><span class="dashuline" >Einheitsvektoren</span></em>.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Ungleichung von <span class="textsc" >Cauchy</span>-<span class="textsc" >Schwarz</span></span>):</span> Seien \(V\) ein euklidischer oder
unita&#x0308;rer Vektorraum und \(x, y \in V\). Dann ist \(|\innerproduct {x, y}| \le \norm {x} \cdot \norm {y}\).
</p>

<p>
<b>Folgerung</b>: Seien \(V\) ein euklidischer oder unita&#x0308;rer Vektorraum und \(\norm {\cdot }\) die vom Skalarprodukt induzierte Norm. Dann ist \(V\) zusammen mit \(\norm {\cdot }\) ein normierter Vektorraum
im Sinne der Definition der Norm, d.&#x202f;h. insbesondere ist die Dreiecksungleichung \(\norm {x + y} \le \norm {x} + \norm {y}\) fu&#x0308;r \(x, y \in V\) erfu&#x0308;llt.
</p>

<p>
<b>Folgerung</b>: Seien \(V\) ein euklidischer Vektorraum und \(\norm {\cdot }\) wie oben. Dann ist der Betrag von \(\cos (x, y) =\) \(\frac {\innerproduct {x, y}}{\norm {x} \cdot \norm {y}}\) eine reelle
nicht-negative Zahl \(\le 1\). Insbesondere ist \(\cos (x, y) \in [-1, 1]\).
</p>

<p>
<b>Winkel</b>:&#x2003; Seien \(V\) ein euklidischer Vektorraum und \(x, y \in V\). Dann ist der Winkel \(\alpha \) zwischen \(x\) und \(y\) (nicht eindeutig) gegeben durch \(\cos \alpha = \cos (x, y) =\) \(\frac
{\innerproduct {x, y}}{\norm {x} \cdot \norm {y}}\).
</p>

<p>
<em>Bemerkung</em>: Wie herum soll der Winkel orientiert werden, was macht man fu&#x0308;r unita&#x0308;re Vektorra&#x0308;ume (dort kann \(\cos (x, y)\) auch komplex sein)? Fu&#x0308;r viele Anwendungen
beno&#x0308;tigt man keine echten Winkel, sondern nur das Prinzip der Orthogonalita&#x0308;t.
</p>

<p>
<b>Orthogonalita&#x0308;t</b>:&#x2003; Sei \(V\) ein euklidischer/unita&#x0308;rer Vektorraum.<br />
\(x\) und \(y\) sind <em><span class="dashuline" >orthogonal</span></em> (\(x \orth y\)), falls \(\innerproduct {x, y} = 0\) ist (wobei \(x, y \in V\)).<br />
\(M\) und \(N\) sind <em><span class="dashuline" >orthogonal</span></em> (\(M \orth N\)), falls \(x \orth y\) fu&#x0308;r alle \(x \in M\), \(y \in N\) (wobei \(\emptyset \not = M, N \subseteq V\)).<br />
\(M^\bot = \{v \in V \;|\; \forall _{m \in M}\; \innerproduct {v, m} = 0\}\) ist die <em><span class="dashuline" >Menge der zu \(M\) orthogonalen Vektoren</span></em>.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >\(M^\bot \) als Unterraum</span>): \(M^\bot \) ist ein Unterraum von \(V\).
</p>

<p>
<b>orthogonales/orthonormales System</b>:&#x2003; Sei \(M \subseteq V\) mit \(M \not = \emptyset \). Dann heißt \(M\)<br />
<em><span class="dashuline" >orthogonales System</span></em> in \(V\), falls \(M\) aus paarweise orthogonalen Elementen \(\not =\) Nullvektor besteht.<br />
\(M\) heißt <em><span class="dashuline" >orthonormales System</span></em>, falls zusa&#x0308;tzlich alle Vektoren normiert sind.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >orthogonales System ist linear unabha&#x0308;ngig</span>):</span><br />
Ein System orthogonaler Vektoren in \(V\) ist linear unabha&#x0308;ngig.
</p>

<p>
<b>Orthonormalbasis (ONB)</b>:&#x2003;<br />
Ein orthonormales Erzeugendensystem von \(V\) heißt <em><span class="dashuline" >Orthonormalbasis (ONB)</span></em> von \(V\).
</p>

<p>
<span class="uline" ><b><kbd>Prozedur</kbd> (Orthonormalisierungsverfahren nach <span class="textsc" >Gram</span>-<span class="textsc" >Schmidt</span>)</b>:</span><br />
Seien \(V\) ein euklidischer/unita&#x0308;rer Vektorraum, \(\basis {B} = (v_1, v_2, \ldots )\) eine endliche oder abza&#x0308;hlbar unendliche, linear unabha&#x0308;ngige Teilmenge von \(V\). Dann ist \(\basis {E}
= (e_1, e_2, \ldots )\) von derselben Ma&#x0308;chtigkeit folgendermaßen definiert:<br />
1.&#x2003;\(e_1 =\) \(\frac {v_1}{\norm {v_1}}\) &#x2003;&#x2003;&#x2003;&#x2003;2.&#x2003;\(e_k =\) \(\frac {x_k}{\norm {x_k}}\) mit \(x_k = v_k - \sum _{i=1}^{k-1} \innerproduct {v_k, e_i}e_i\)

</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Gram</span>-<span class="textsc" >Schmidt</span></span>):</span> Seien \(\basis {E}\) definiert wie oben, \(\basis
{B}_k = (v_1, \ldots , v_k)\), \(U_k = \aufspann {\basis {B}_k}\) fu&#x0308;r ein \(k \le |\basis {B}|\) und \(\basis {B}\) Basis von \(V\). Dann ist \(\basis {E}_k = (e_1, \ldots , e_k)\) eine ONB von
\(U_k\) und \(\basis {E}\) ist eine ONB von \(V\).<br />
Die Basiswechselmatrix \(M_k = \matrixm _{\id _V}(\basis {E}_k, \basis {B}_k)\) ist eine obere Dreiecksmatrix mit \(\det (M_k) &gt; 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Koeffizienten eines Vektors bzgl. ONB</span>):</span><br />
Seien \(\basis {E} = (e_1, e_2, \ldots )\) eine ONB von \(V\) und \(x \in V\). Dann ist \(x = \innerproduct {x, e_1}e_1 + \innerproduct {x, e_2}e_2 + \cdots \).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Skalarprodukt zweier Vektoren bzgl. ONB</span>):</span> Seien \(x, y \in V\) mit \(x = \alpha _1 e_1 + \alpha _2 e_2 + \cdots \) und \(y = \beta
_1 e_1 + \beta _2 e_2 + \cdots \). Dann ist \(\innerproduct {x, y} = \alpha _1 \kk {\beta _1} + \alpha _2 \kk {\beta _2} + \cdots \).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Orthogonalisierung</span>):</span><br />
Seien \(V\) ein euklidischer/unita&#x0308;rer Vektorraum, \(\basis {B} = (v_1, v_2, \ldots )\) eine linear unabha&#x0308;ngige Teilmenge von \(V\). Dann ist \(\basis {E} = (x_1, x_2, \ldots )\) ein orthogonales
System in \(V\), wobei:<br />
1.&#x2003;\(x_1 = v_1\) &#x2003;&#x2003;&#x2003;&#x2003;2.&#x2003;\(x_k = v_k - \sum _{i=1}^{k-1}\) \(\frac {\innerproduct {v_k, x_i}}{\norm {x_i}^2}\) \(x_i\)
</p>

<p>
<b><span class="textsc" >Fourier</span>koeffizienten</b>:&#x2003; Seien \(V\) Vektorraum mit Skalarprodukt, \(\basis {B}\) orthonormales System und \(x \in V\). Dann heißen die Skalare \(\innerproduct {x,
b}\) mit \(b \in \basis {B}\) <em><span class="dashuline" ><span class="textsc" >Fourier</span>koeffizienten</span></em> von \(x\) bzgl. \(\basis {B}\).
</p>

<p>
<b><span class="textsc" >Schauder</span>basis</b>:&#x2003; Ein abza&#x0308;hlbares orthonormales System mit der Eigenschaft, dass sich jeder Vektor als unendliche Linearkombination schreiben la&#x0308;sst, heißt
<em><span class="dashuline" >Schauderbasis</span></em>.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(M^\bot \) als Komplement</span>):</span> Seien \(V\) ein Vektorraum mit Skalarprodukt und \(M, N \ur V\).<br />
Ist \(M \orth N\), dann ist \(M \cap N = (0)\) und daher die Summe \(M + N\) direkt (insbesondere ist \(M + M^\bot \) direkt). Ist \(M\) endlich-dimensional, dann ist \(V = M \oplus M^\bot \).<br />
Der Unterraum \(M^\bot \) ist das eindeutig bestimmte <em><span class="dashuline" >orthogonale Komplement</span></em> von \(M\) in \(V\).<br />
Jeder zu \(M\) orthogonale Unterraum von \(V\) ist in \(M^\bot \) enthalten.
</p>

<p>
<em>Bemerkung</em>: Ein Unterraum kann also viele Komplemente haben, aber nur ein orthogonales Komplement.
</p>

<p>
<b>Folgerung</b>: Seien \(V\) ein euklidischer/unita&#x0308;rer Vektorraum, \(W \ur V\) endlich-dimensional mit ONB \((e_1, ..., e_k)\) und \(y \in V\). Dann gibt es genau ein \(z \in W^\bot \) mit \(y = \sum
_{i=1}^k \innerproduct {y, e_i}e_i + z\).<br />
Der Vektor \(y_1 = y - z = \sum _{i=1}^k \innerproduct {y, e_i}e_i\) ist der eindeutig bestimmte Vektor von \(W\), der \(y\) am na&#x0308;chsten ist, d.&#x202f;h. \(\forall _{u \in W}\; \norm {y - y_1} \le
\norm {y - u}\).
</p>

<p>
<b>Folgerung</b>: Seien \(V\) endlich-dimensional und \((e_1, \ldots , e_k)\) ein orthonormales System in \(V\).<br />
Dann kann es zu einer ONB \((e_1, \ldots , e_k, e_{k+1}, \ldots , e_n)\) von \(V\) erga&#x0308;nzt werden und \((e_{k+1}, \ldots , e_n)\) ist ONB vom orthogonalen Komplement zu \(W = \aufspann {e_1,
\ldots , e_k}\).
</p>

<p>
<b>Folgerung</b>: Es gilt \(\dim _K(V) = \dim _K(W) + \dim _K(W^\bot )\) fu&#x0308;r alle Unterra&#x0308;ume \(W\) von \(V\).
</p>

<p>
<b>Folgerung</b>: Es gilt \((M^\bot )^\bot = M\) fu&#x0308;r jeden Unterraum \(M\) von \(V\).
</p>



<h2 id="euklidische-vektorraeume-orthogonale-abbildungen">Euklidische Vektorräume, orthogonale Abbildungen</h2>

</p>


<p>
<b>orthogonale Abbildung</b>:&#x2003;<br />
Seien \(V, W\) euklidische Vektorra&#x0308;ume und \(f: V \rightarrow W\) eine \(\real \)-lineare Abbildung.<br />
Dann ist \(f\) eine <em><span class="dashuline" >orthogonale Abbildung</span></em>, falls \(\innerproduct {f(x), f(y)} = \innerproduct {x, y}\) fu&#x0308;r alle \(x, y \in V\).
</p>

<p>
<b>Isometrie</b>:&#x2003; Ein orthogonaler Isomorphismus heißt auch <em><span class="dashuline" >Isometrie</span></em>.<br />
Euklidische Vektorra&#x0308;ume heißen <em><span class="dashuline" >isometrisch</span></em>, falls es eine Isometrie zwischen ihnen gibt.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >a&#x0308;quivalente Aussagen</span>):</span> Seien \(V\) ein euklidischer Vektorraum endlicher oder abza&#x0308;hlbar unendlicher Dimension, \(W\) ein
euklidischer Vektorraum und \(f: V \rightarrow W\) ein Homomorphismus. Dann sind folgende Aussagen a&#x0308;quivalent:<br />
1. \(f\) ist orthogonale Abbildung. &#x2003;&#x2003;2. Fu&#x0308;r \(x \in V\) gilt \(\norm {x} = 1 \;\Rightarrow \; \norm {f(x)} = 1\).<br />
3. Fu&#x0308;r \(x \in V\) gilt \(\norm {x} = \norm {f(x)}\). &#x2003;&#x2003;4. Fu&#x0308;r jedes orthonormale System \(\basis {E} = (e_1, e_2, \ldots )\) in \(V\) ist \(\basis {E}^f = (f(e_1), f(e_2),
\ldots )\) ebenfalls eines in \(W\).<br />
5. Es gibt eine ONB \(\basis {B}\) von \(V\), sodass \(\basis {B}^f\) Orthonormalsystem ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >orthogonale Abbildungen injektiv</span>):</span> Eine orthogonale Abbildung ist injektiv.<br />
Ist insbesondere \(\dim _\real (V) = \dim _\real (W)\) und \(f: V \rightarrow W\) orthogonal, so ist \(f\) eine Isometrie.
</p>

<p>
<b>orthogonale Gruppe</b>:&#x2003; Die Menge der Isometrien eines euklidischen Vektorraum in sich ist eine Untergruppe der linearen Gruppe \(\GL _\real (V)\) und wird <em><span class="dashuline" >orthogonale
Gruppe</span></em> \(O_\real (V)\) genannt.<br />
Fu&#x0308;r \(V = \real ^n\) mit dem natu&#x0308;rlichen Skalarprodukt ist \(O_n(\real )\) die Menge der reellen, orthogonalen \(n \times n\)-Matrizen.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Abbildung auf den \(\real ^n\)</span>):</span> Seien \(V\) ein euklidischer Vektorraum, \(\basis {B} = (x_1, \ldots , x_n)\) eine ONB von \(V\) und
\(f: V \rightarrow \real ^n\), \(\sum _{i=1}^n \alpha _i x_i \mapsto (\alpha _1, \ldots , \alpha _n)\).<br />
Dann ist \(f\) eine Isometrie sowie \(V\) und \(\real ^n\) isometrisch. \(f(\basis {B})\) ist die natu&#x0308;rliche Basis des \(\real ^n\).
</p>

<p>
<b>orthogonale Matrix</b>:&#x2003; Eine invertierbare Matrix \(A\) mit \(A^{-1} = A^t\) nennt man <em><span class="dashuline" >orthogonal</span></em>.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Matrizen und ONB von \(\real ^n\)</span>): Die Spalten- bzw. Zeilenvektoren einer reellen Matrix \(A \in M_n(\real )\) bilden genau dann eine ONB von \(\real ^n\), wenn
\(A\) orthogonal ist.
</p>

<p>
<b>Folgerung</b>: Seien \(A \in M_n(\real )\) und \(f_A: \real ^n \rightarrow \real ^n\), \(f_A(x) = Ax\). Dann ist die natu&#x0308;rliche Basis von \(\real ^n\) orthonormal und \(f_A\) ist orthogonal genau dann,
wenn \(A\) orthogonal ist.<br />
So ist \(O_\real (V) \cong O_n(\real ) = \{A \in \GL _n(\real ) \;|\; A^{-1} = A^t\}\).
</p>

<p>
<b>Folgerung</b>: Seien \(f\) ein Endomorphismus des euklidischen Vektorraums \(V\), \(\basis {B}\) eine ONB von \(V\) und \(A = \hommatrix {f}{B}{B}\). Dann ist \(f\) orthogonal genau dann, wenn \(A\) orthogonal
ist.
</p>

<p>
<b>Folgerung</b>: Sei \(\basis {E}\) eine endliche ONB des euklidischen Vektorraums \(V\). Dann ist eine Basis \(\basis {B}\) von \(V\) orthonormal genau dann, wenn \(A = \hommatrix {\id _V}{E}{B}\) orthogonal ist.
</p>

<p>
<b>Folgerung</b>: Die Determinante einer orthogonalen Abbildung \(f_A\) ist \(\pm 1\).
</p>



<h2 id="hauptachsentheorem">Hauptachsentheorem</h2>

</p>


<p>
<b>symmetrische Matrix</b>:&#x2003; Eine Matrix \(A\) mit \(A^t = A\) nennt man <em><span class="dashuline" >symmetrisch</span></em>.
</p>

<p>
<b>orthogonal-a&#x0308;quivalent</b>:&#x2003; Zwei Endomorphismen \(f\) und \(g\) eines euklidischen Vektorraums \(V\) heißen <em><span class="dashuline" >orthogonal-a&#x0308;quivalent</span></em>, falls es
einen orthogonalen Automorphismus \(p\) von \(V\) mit \(g = p^{-1} \circ f \circ p\) gibt. Analog sind orthogonal-a&#x0308;quivalente quadratische reelle Matrizen definiert.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Hauptachsentheorem 1</span>):</span> Symmetrische reelle Matrizen sind diagonalisierbar.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Hauptachsentheorem 2</span>):</span> Jede reelle symmetrische Matrix ist orthogonal-a&#x0308;quivalent zu einer Diagonalmatrix.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(x^t y = 0\) bei symmetrischen Matrizen</span>):</span> Seien \(A \in M_n(K)\) eine symmetrische Matrix und \(\lambda , \mu \in K\) verschiedene
Eigenwerte (\(\lambda \not = \mu \)) mit Eigenvektoren \(x =\) \(\begin {pmatrix}x_1 \\ \vdots \\ x_n\end {pmatrix}\) bzw. \(y =\) \(\begin {pmatrix}y_1 \\ \vdots \\ y_n\end {pmatrix}\).<br />
Dann ist \(x^t y = \sum _{i=1}^n x_i y_i = 0\).
</p>

<p>
<b>Folgerung</b>: Sei \(A \in M_n(\real )\) eine symmetrische reelle Matrix. Dann sind Eigenvektoren von \(A\) zu verschiedenen Eigenwerten orthogonal bzgl. des Standardskalarprodukts des \(\real ^n\).<br />
Eigenra&#x0308;ume zu verschiedenen Eigenwerten sind paarweise orthogonal.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >komplexes Konjugat als EV/EW</span>):</span> Seien \(A \in M_n(\real )\) und \(\lambda \in \complex \) ein komplexer Eigenwert mit Eigenvektor \(x
\in \complex ^n\) von \(A\). Dann ist \(\kk {x}\) Eigenvektor von \(A\) zum Eigenwert \(\kk {\lambda }\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >symmetrische, reelle Matrizen haben nur reelle EW</span>):</span><br />
Die Eigenwerte symmetrischer reeller \(n \times n\)-Matrizen sind alle reell.
</p>

<p>
<b>Folgerung</b>: Das charakteristische Polynom einer symmetrischen reellen \(n \times n\)-Matrix zerfa&#x0308;llt u&#x0308;ber den reellen Zahlen in Linearfaktoren.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(\real ^n\) besitzt eine Basis aus EV</span>):</span> Sei \(A\) eine symmetrische reelle \(n \times n\)-Matrix.<br />
Dann besitzt \(\real ^n\) eine Basis aus Eigenvektoren.
</p>

<p>
<span class="uline" ><b><kbd>Prozedur</kbd> (Symmetrische reelle Matrix mit orthogonaler Matrix diagonalisieren)</b>:</span><br />
Sei \(A\) eine symmetrische reelle \(n \times n\)-Matrix.
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>Man berechnet das charakteristische Polynom \(\chi _A(t)\) von \(A\). Es zerfa&#x0308;llt in reelle Linearfaktoren \(\chi _A(t) = (t - \lambda _1)^{\nu _1} \cdots (t - \lambda _k)^{\nu _k}\), wobei
die \(\lambda _i\) die paarweise verschiedenen Eigenwerte sind.
</p>
</li>
<li class="list-item-f10"><p>Fu&#x0308;r jeden Eigenwert \(\lambda _i\) berechnet man eine Basis \(\basis {B}_i\) des zugeho&#x0308;rigen Eigenraums \(V_{\lambda _i}\) durch Lo&#x0308;sen des LGS \((A - \lambda _i E_n)x =
0\). Fu&#x0308;r die Dimension gilt dann \(\dim V_{\lambda _i} = \nu _i\) und die \(V_{\lambda _i}\) sind paarweise orthogonal.
</p>
</li>
<li class="list-item-f11"><p>Jede Basis \(\basis {B}_i\) wird mithilfe des Verfahrens von <span class="textsc" >Gram</span>-<span class="textsc" >Schmidt</span> zu einer ONB \(\basis {C}_i\) von \(V_{\lambda _i}\)
orthonormalisiert.
</p>
</li>
<li class="list-item-f12"><p>\(\basis {C} = \bigcup _{i=1}^k \basis {C}_i\) ist eine ONB von \(\real ^n\), da die \(\basis {C}_i\) paarweise orthogonal sind. Die Basiswechselmatrix \(P = \matrixm _{\id }(\basis {E}_n, \basis
{C})\) ist eine orthogonale Matrix, daher ist \(P^{-1} = \matrixm _{\id }(\basis {C}, \basis {E}_n) = P^t\).<br />
Es gilt \(P^{-1} A P = D\), wobei in \(D = \diag \{\lambda _1, \ldots , \lambda _1, \lambda _2, \ldots , \lambda _2, \ldots , \lambda _k, \ldots , \lambda _k\}\) die \(\lambda _i\) jeweils \(\nu _i\) oft
vorkommen.
</p>
</li>
</ul>



<h2 id="unitaere-abb-und-hauptachsentheorem-fuer-normale-endom">Unitäre Abb. und Hauptachsentheorem für normale Endom.</h2>
<b>unita&#x0308;re Abbildung</b>:&#x2003;<br />
Seien \(V, W\) unita&#x0308;re Vektorra&#x0308;ume und \(f: V \rightarrow W\) eine \(\complex \)-lineare Abbildung.<br />
Dann ist \(f\) eine <em><span class="dashuline" >unita&#x0308;re Abbildung</span></em>, falls \(\innerproduct {f(x), f(y)} = \innerproduct {x, y}\) fu&#x0308;r alle \(x, y \in V\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >a&#x0308;quivalente Aussagen</span>):</span> Folgende Aussagen sind a&#x0308;quivalent:<br />
1. \(f\) ist unita&#x0308;re Abbildung. &#x2003;&#x2003;2. Fu&#x0308;r \(x \in V\) gilt \(\norm {x} = 1 \;\Rightarrow \; \norm {f(x)} = 1\).<br />
3. Fu&#x0308;r \(x \in V\) gilt \(\norm {x} = \norm {f(x)}\). &#x2003;&#x2003;4. Fu&#x0308;r jedes orthonormale System \(\basis {E} = (e_1, e_2, \ldots )\) in \(V\) ist \(\basis {E}^f = (f(e_1), f(e_2),
\ldots )\) ebenfalls eines in \(W\).<br />
5. Es gibt eine ONB \(\basis {B}\) von \(V\), sodass \(\basis {B}^f\) Orthonormalsystem ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Aussagen u&#x0308;ber unita&#x0308;re Abbildungen</span>):</span> Unita&#x0308;re Abbildungen sind injektiv.<br />
Jeder \(n\)-dimensionale unita&#x0308;re Raum ist durch Wahl einer ONB isometrisch zum \(\complex ^n\) mit Standardskalarprodukt. Die Menge der unita&#x0308;ren Isometrien von \(V\) in sich bildet eine Untergruppe von
\(\Aut _\complex (V)\) und heißt <em><span class="dashuline" >unita&#x0308;re Gruppe</span></em> \(U_\complex (V)\).<br />
Die <em><span class="dashuline" >konjugiert komplexe Matrix</span></em> \(\kk {A}\) einer Matrix \(A = (\alpha _{ij}) \in M_n(\complex )\) ist \(\kk {A} = (\kk {\alpha _{ij}})\).
</p>

<p>
<b>Adjungierte Matrix</b>:&#x2003; \(A^\ast = \kk {A}^t\) ist die <em><span class="dashuline" >adjungierte Matrix</span></em> von \(A\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >\(^\ast \) als semilinearer \(\complex \)-Algebraantiautomorphismus</span>): Seien \(A, B \in M_n(\complex )\) und \(\lambda \in \complex \).<br />
Dann gilt \({A^\ast }^\ast = A\), &#x2003;&#x2003;\((A + B)^\ast = A^\ast + B^\ast \), &#x2003;&#x2003;\((\lambda A)^\ast = \kk {\lambda } A^\ast \) &#x2003;sowie &#x2003;\((AB)^\ast = B^\ast
A^\ast \).
</p>

<p>
<b>unita&#x0308;re, hermitesche und normale Matrizen</b>:&#x2003; Sei \(A \in M_n(\complex )\).<br />
\(A\) ist <em><span class="dashuline" >unita&#x0308;r</span></em>, falls \(A^{-1} = A^\ast \) &#x2003;&#x2003;(\(\mathrel {\widehat {=}}\) orthogonale Matrix im Reellen).<br />
\(A\) ist <em><span class="dashuline" >hermitesch</span></em> oder <em><span class="dashuline" >selbstadjungiert</span></em>, falls \(A = A^\ast \) &#x2003;&#x2003;(\(\mathrel {\widehat {=}}\) symmetrische
Matrix im Reellen).<br />
\(A\) ist <em><span class="dashuline" >normal</span></em>, falls \(A A^\ast = A^\ast A\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >unita&#x0308;re/hermitesche Matrizen normal</span>): Unita&#x0308;re und hermitesche Matrizen sind normal.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Matrizen und ONB von \(\complex ^n\)</span>):</span> Die Spalten- bzw. Zeilenvektoren einer Matrix \(A \in M_n(\complex )\) bilden genau dann eine
ONB von \(\complex ^n\), wenn \(A\) unita&#x0308;r ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(f\) unita&#x0308;r \(\Leftrightarrow \hommatrix {f}{B}{B}\) unita&#x0308;r</span>):</span> Seien \(V\) endlich-dimensional, \(\basis {B}\) eine
ONB von \(V\) und<br />
\(f \in \End _\complex (V)\). Dann ist \(f\) unita&#x0308;r genau dann, wenn \(\hommatrix {f}{B}{B}\) unita&#x0308;r ist.
</p>

<p>
<b>adjungierter Endomorphismus</b>:&#x2003; Seien \(f \in \End _\complex (V)\), \(\basis {B} = (v_1, \ldots , v_n)\) eine ONB von \(V\) und \(A = (\alpha _{ij}) = \hommatrix {f}{B}{B}\). Dann heißt
\(f^\ast : V \rightarrow V\) definiert durch \(f^\ast (v_j) = \sum _{i=1}^n \kk {\alpha _{ji}} v_i\) der <em><span class="dashuline" >zu \(f\) adjungierte Endomorphismus</span></em>. Es gilt \(\hommatrix
{f^\ast }{B}{B} = A^\ast = \left (\hommatrix {f}{B}{B}\right )^\ast \).
</p>

<p>
<b>Folgerung</b>: Seien \(f \in \End _\complex (V)\) und \(x, y \in V\). Dann ist \(\innerproduct {f(x), y} = \innerproduct {x, f^\ast (y)}\).
</p>

<p>
<b>hermitesche und normale Endomorphismen</b>:&#x2003; Sei \(f \in \End _\complex (V)\). Dann ist \(f\) <em><span class="dashuline" >hermitesch</span></em>, falls \(f = f^\ast \), und <em><span
class="dashuline" >normal</span></em>, falls \(f \circ f^\ast = f^\ast \circ f\). Hermitesche/normale Endomorphismen sind genau die Endomorphismen, deren Matrizen bzgl. einer ONB hermitesch/normal sind.
</p>

<p>
<b>Folgerung</b>: Seien \(f \in \End _\complex (V)\) hermitesch und \(x, y \in V\). Dann ist \(\innerproduct {f(x), y} = \innerproduct {x, f(y)}\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >\(f\) normal \(\Leftrightarrow \innerproduct {f(x), f(y)} = \innerproduct {f^\ast (x), f^\ast (y)}\)</span>):</span> Sei \(f \in \End
_\complex (V)\).<br />
Dann ist \(f\) normal genau dann, wenn \(\innerproduct {f(x), f(y)} = \innerproduct {f^\ast (x), f^\ast (y)}\) fu&#x0308;r alle \(x, y \in V\) gilt.
</p>

<p>
<b>Folgerung</b>: Ist \(f\) normal, dann gilt insbesondere \(\norm {f(x)} = \norm {f^\ast (x)}\) und \(\ker f = \ker f^\ast \) fu&#x0308;r alle \(x \in V\). Ist \(x \in \ker f\), dann ist \(\innerproduct {f^\ast
(x), f^\ast (x)} = \innerproduct {f(x), f(x)} = 0\) und daher \(f^\ast (x) = 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenvektoren des adjungierten Endomorphismus</span>):</span> Seien \(f \in \End _\complex (V)\) normal und<br />
\(x \in V\) ein EV von \(f\) zum EW \(\lambda \in \complex \). Dann ist \(f^\ast (x) = \kk {\lambda }x\), d.&#x202f;h. \(x\) ist EV von \(f^\ast \) zum EW \(\kk {\lambda }\). Insbesondere ist \(V_\lambda (f) =
V_{\kk {\lambda }}(f^\ast )\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Hauptachsentheorem fu&#x0308;r normale Abbildungen</span>):</span> Seien \(V\) ein endlich-dimensionaler unita&#x0308;rer Raum und \(f \in \End
_\complex (V)\). Ist \(f\) normal, so besitzt \(V\) eine ONB aus Eigenvektoren von \(f\). Sind \(\basis {B}\) irgendeine ONB von \(V\) und \(A = \hommatrix {f}{B}{B}\), so ist \(A\) <em><span class="dashuline"
>unita&#x0308;r-a&#x0308;quivalent</span></em> zu einer Diagonalmatrix, d.&#x202f;h. es gibt eine unita&#x0308;re Matrix \(P\), sodass \(P^{-1} A P\) Diagonalmatrix ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spezialfall hermitesche Endomorphismen</span>):</span> Sei \(f \in \End _\complex (V)\) hermitesch. Dann sind alle Eigenwerte von \(f\) reell und \(V\)
hat eine ONB bestehend aus Eigenvektoren von \(f\).<br />
Ist \(A = \hommatrix {f}{B}{B}\) bzgl. einer ONB \(\basis {B}\) von \(V\), so ist \(A\) unita&#x0308;r-a&#x0308;quivalent zu einer reellen Diagonalmatrix.
</p>

<a id="linear-algebra-and-analytical-geometry-1-autofile-last"></a>
{% endraw %}
</div>
{:/nomarkdown}
