
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\wahr }{\ensuremath {\text {w}}}\)

\(\newcommand {\falsch }{\ensuremath {\text {f}}}\)

\(\newcommand {\ur }{\ensuremath {\leqslant }}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\langle #1 \rangle }}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\newcommand {\basis }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\stdbasis }[1]{\ensuremath {\mathcal {E}_{\mathnormal {#1}}}}\)

\(\newcommand {\nk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\matrixm }{\mathcal {M}}\)

\(\newcommand {\hommatrix }[3]{\ensuremath {\matrixm _{#1}(\basis {#2},\basis {#3})}}\)

\(\newcommand {\id }{\ensuremath {\operatorname {id}}}\)

\(\newcommand {\Hom }{\ensuremath {\operatorname {Hom}}}\)

\(\newcommand {\End }{\ensuremath {\operatorname {End}}}\)

\(\newcommand {\Aut }{\ensuremath {\operatorname {Aut}}}\)

\(\newcommand {\GL }{\ensuremath {\operatorname {GL}}}\)

\(\newcommand {\SL }{\ensuremath {\operatorname {SL}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\perm }{\ensuremath {\mathfrak {S}}}\)

\(\newcommand {\sign }{\ensuremath {\operatorname {sign}}}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\tr }{\ensuremath {\operatorname {tr}}}\)

\(\newcommand {\adj }{\ensuremath {\operatorname {adj}}}\)

\(\newcommand {\lgs }[1]{\ensuremath {\mathfrak {#1}}}\)

\(\newcommand {\lgslsg }[1]{\ensuremath {\mathcal {L}_{\lgs {#1}}}}\)

\(\newcommand {\affin }[1]{\ensuremath {\mathcal {#1}}}\)

\(\newcommand {\TV }{\ensuremath {\operatorname {TV}}}\)

\(\newcommand {\kk }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\eukl }{\ensuremath {\mathcal {E}}}\)

\(\newcommand {\euklebene }{\ensuremath {\mathcal {E}_2}}\)

\(\newcommand {\euklraum }{\ensuremath {\mathcal {E}_3}}\)

\(\newcommand {\strecke }[1]{\ensuremath {\overline {#1}}}\)

\(\newcommand {\vektor }[1]{\ensuremath {\overrightarrow {#1}}}\)

\(\newcommand {\orth }{\ensuremath {\;\bot \;}}\)

\(\newcommand {\xbegriff }[2]{\index {#2}\emph {\dashuline {#1}}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<p>

</p>



<h2 id="vektorraeume-und-unterraeume">Vektorräume und Unterräume</h2>

</p>


<p>
<b>Vektorraum</b>:&#x2003; Ein <em><span class="dashuline" >\(K\)-Vektorraum</span></em> (Vektorraum u&#x0308;ber \(K\), \(K\) Ko&#x0308;rper) ist eine Menge \(V\) mit einer bina&#x0308;ren Operation
\(\boldsymbol{+}: V \times V \rightarrow V\) (<em><span class="dashuline" >Vektoraddition</span></em>) und einer Operation \(\boldsymbol{\cdot }: K \times V \rightarrow V\) (<em><span
class="dashuline" >skalare Multiplikation</span></em>) mit den Eigenschaften (\(u, v \in V\), \(\lambda , \mu \in K\))
</p>
<table>

<tr>
<td class="tdp">

<p>
1) \(u + v = v + u\)
</p>
</td>
<td class="tdp">

<p>
5) \(1_K \cdot v = v\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
2) \(u + (v + w) = (u + v) + w\)
</p>
</td>
<td class="tdp">

<p>
6) \(\lambda (\mu v) = (\lambda \mu ) v\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
3) \(\exists _{0_V \in V} \forall _{v \in V}\; v + 0_V = v\)
</p>
</td>
<td class="tdp">

<p>
7) \((\lambda + \mu ) v = \lambda v + \mu v\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
4) \(\forall _{v \in V} \exists _{-v \in V}\; v + (-v) = 0_V\)
</p>
</td>
<td class="tdp">

<p>
8) \(\lambda (u + v) = \lambda u + \lambda v\).
</p>
</td>
</tr>

</table>

<p>
<em>Lemma</em> (<span class="textsl" >\(K[x]\) als Vektorraum</span>): \(K[x]\) wird zum \(K\)-Vektorraum mit \((f + g)(x) = \sum _{i=0}^n (\alpha _i + \beta _i) x^i\) und \((\lambda f)(x) = \sum
_{i=0}^n (\lambda \alpha _i) x^i\), wobei \(f(x) = \sum _{i=0}^n \alpha _i x^i\) sowie \(g(x) = \sum _{i=0}^n \beta _i x^i\).
</p>

<p>
<b>Unterraum</b>:&#x2003; Sei \(V\) ein \(K\)-Vektorraum. Eine nicht-leere Teilmenge \(U \subseteq V\) heißt <em><span class="dashuline" >Unterraum</span></em> von \(V\), falls \(U\) bzgl. der Addition und der
skalaren Multiplikation von \(V\) selbst wieder ein Vektorraum ist. Man schreibt dann \(U \ur V\) bzw. \(U &lt; V\) (<em><span class="dashuline" >echter Unterraum</span></em>) fu&#x0308;r \(U \not = V\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Kriterium fu&#x0308;r Unterraum</span>):</span> Sei \(U \subseteq V\) nicht-leer. \(U\) ist genau dann ein Unterraum von \(V\), wenn fu&#x0308;r \(u, v
\in U\), \(\lambda \in K\) gilt, dass auch \(u - v \in U\) sowie \(\lambda v \in U\) ist.
</p>

<p>
<b>linearer Aufspann</b>:&#x2003; Fu&#x0308;r eine nicht-leere Teilmenge \(T \subseteq V\) ist der <em><span class="dashuline" >lineare Aufspann</span></em><br />
\(\aufspann {T} = \left \{\left . \sum _{i=1}^k \lambda _i v_i \;\right |\; \lambda _i \in K,\; v_i \in T \right \} = \left \{\left . \sum _{t \in T} \lambda _t t \;\right |\; \lambda _t \in
K \text { fast alle } 0\right \}\). Es ist \(\aufspann {\emptyset } = (0)\).
</p>

<p>
<b>Folgerung</b>: Sei \(T \subseteq V\) nicht-leer. Dann ist \(\aufspann {T}\) ein Unterraum von \(V\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Durchschnitt/Vereinigung von Unterra&#x0308;umen</span>): Der Durchschnitt von beliebig vielen Unterra&#x0308;umen ist wieder ein Unterraum. Die Vereinigung ist i.&#x202f;A.
kein Unterraum.
</p>



<h2 id="erzeugende">Erzeugende</h2>

</p>


<p>
<b>Erzeugendensystem</b>:&#x2003; Eine nicht-leere Teilmenge \(T \subseteq V\) eines \(K\)-Vektorraums \(V\) heißt <em><span class="dashuline" >Erzeugendensystem</span></em> fu&#x0308;r \(V\), falls
\(\aufspann {T} = V\). Die Elemente von \(T\) heißen <em><span class="dashuline" >Erzeugende</span></em> von \(V\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >kleinster Unterraum</span>):</span> Sei \(T \subseteq V\) nicht-leer. Dann ist \(\aufspann {T}\) der kleinste Unterraum von V, der \(T\) als Teilmenge
entha&#x0308;lt, d.&#x202f;h. \(\aufspann {T} = \bigcap _{U \ur V,\; T \subseteq U} U\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Mengen und ihr Aufspann</span>): 1. \(T \subseteq \aufspann {T}\) &#x2003;(fu&#x0308;r \(T \subseteq V\))<br />
2. \(\aufspann {T} \ur \aufspann {S} \ur V\) &#x2003;(fu&#x0308;r \(T \subseteq S \subseteq V\)) &#x2003;&#x2003;3. \(\aufspann {\aufspann {T}} = \aufspann {T}\) &#x2003;(fu&#x0308;r \(T \subseteq
V\))
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Aufspann von Unterra&#x0308;umen</span>): Fu&#x0308;r \(U \ur V\) ist \(\aufspann {U} = U\).
</p>



<h2 id="summen-von-unterraeumen">Summen von Unterräumen</h2>

</p>


<p>
<b>Summe von Unterra&#x0308;umen</b>:&#x2003; Seien \(U, W \ur V\). Dann ist die Summe von \(U\) und \(W\) die Menge \(U + W = \{x + y \;|\; x \in U,\, y \in W\} \subseteq V\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Summe als Unterraum</span>):</span> \(U + W\) ist ein Unterraum von \(V\). Es gilt \(U + W = \aufspann {U \cup W}\) und \(U + W\) ist der kleinste
Unterraum von \(V\), der \(U\) und \(W\) entha&#x0308;lt, d.&#x202f;h. \(U + W = \bigcap _{X \ur V,\;\; U, W \ur X} X\).
</p>

<p>
<b>Folgerung</b>: Die Addition von Unterra&#x0308;umen ist eine bina&#x0308;re Operation auf der Menge der Unterra&#x0308;ume von \(V\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >fu&#x0308;r den Modulsatz</span>): Seien \(U, W, X \ur V\).<br />
Dann ist \(U \cap (W + (U \cap X)) = (U \cap W) + (U \cap X)\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Dedekind</span>scher Modulsatz</span>):</span> Seien \(U, W, X \ur V\).<br />
Fu&#x0308;r \(X \subseteq U\) gilt \(U \cap (W + X) = (U \cap W) + X\).
</p>

<p>
<b>Komplement</b>:&#x2003; \(U, W \ur V\) sind <em><span class="dashuline" >komplementa&#x0308;r</span></em>, falls \(U \cap W = (0)\) und \(U + W = V\).
</p>

<p>
<b>unendliche Durchschnitte und Summen</b>:&#x2003; Seien \(U_i\) fu&#x0308;r \(i \in I\) Unterra&#x0308;ume von \(V\).<br />
Dann ist \(\bigcap _{i \in I} = \{v \in V \;|\; \forall _{i \in I}\; v \in U_i\}\) sowie \(\sum _{i \in I} U_\nu = \left \{\left . \sum _{i \in I} v_i \in V \;\right |\; v_i \in U_i \text { fast
alle } 0 \right \}\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Durchschnitt und Summe von Unterra&#x0308;umen</span>):<br />
Durchschnitt und Summe beliebiger Unterra&#x0308;ume \(U_i\) (\(i \in I\)) von \(V\) sind Unterra&#x0308;ume.
</p>

<p>
<b>Folgerung</b>: Eine Teilmenge \(T \subseteq V\) ist genau dann ein Erzeugendensystem von \(V\), wenn sie in keinem echten Unterraum von \(V\) enthalten ist. Jede in \(V\) enthaltene Obermenge eines
Erzeugendensystems ist ebenfalls ein Erzeugendensystem.
</p>



<h2 id="minimale-erzeugendensysteme">Minimale Erzeugendensysteme</h2>

</p>


<p>
<b>minimales Erzeugendensystem</b>:&#x2003; Ein Erzeugendensystem \(T\) fu&#x0308;r \(V\) heißt <em><span class="dashuline" >minimal</span></em>, falls es minimal bzgl. der Mengeninklusion ist, d.&#x202f;h.
kein Vektor aus \(T\) kann entfernt werden, sodass die echte Teilmenge immer noch ein Erzeugendensystem ist.
</p>

<p>
<em>Beobachtung</em>: Fu&#x0308;r \(T \subseteq V\) ist \(0\) Linearkombination von \(T\).<br />
Ist \(T\) ein Erzeugendensystem und \(0 \in T\), so ist \(T\) nicht minimal.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Entfernen von linear abha&#x0308;ngigen Vektoren</span>):<br />
Sei \(T \subseteq V\) und \(t \in T\) eine Linearkombination von \(T’ = T \setminus \{t\}\). Dann ist \(\aufspann {T} = \aufspann {T’}\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >lineare Abha&#x0308;ngigkeit</span>): Seien \(T \subseteq V\) und \(t_0 \in T\) mit \(t_0 = \sum _{i=1}^k \alpha _i t_i\) (\(t_1, \ldots , t_k \in T\), \(\alpha _1,
\ldots , \alpha _k \in K^\ast \)). Dann ist jedes \(t_i\) (\(i = 1, \ldots , k\)) Linearkombination von \(T \setminus \{t_i\}\) und der Nullvektor ist eine nichttriviale Linearkombination von \(T\).
</p>

<p>
<b>lineare Abha&#x0308;ngigkeit</b>:&#x2003; \(T \subseteq V\) heißt <em><span class="dashuline" >linear abha&#x0308;ngig</span></em>, falls es eine nicht-triviale Darstellung des Nullvektors mit Vektoren aus \(T\)
gibt. Andernfalls heißt \(T\) <em><span class="dashuline" >linear unabha&#x0308;ngig</span></em>. \(\emptyset \) ist lin. un.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >linear abha&#x0308;ngige Teilmengen</span>):</span> Der Nullvektor ist von jeder Teilmenge von \(V\) linear abha&#x0308;ngig. Ist \(0 \in T \subseteq
V\), so ist \(T\) linear abha&#x0308;ngig.<br />
Jede Teilmenge einer linear unabha&#x0308;ngigen Menge ist linear unabha&#x0308;ngig.<br />
Jede Obermenge eines Erzeugendensystems ist ein Erzeugendensystem.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >minimale Erzeugendensysteme</span>):</span> Sei \(T\) ein Erzeugendensystem von \(V\).<br />
Dann ist \(T\) minimal genau dann, wenn \(T\) linear unabha&#x0308;ngig ist.
</p>

<p>
<b>Basis</b>:&#x2003; Ein minimales Erzeugendensystem von \(V\) heißt <em><span class="dashuline" >Basis</span></em> von \(V\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >maximale linear unabha&#x0308;ngige Teilmengen</span>):</span> Sei \(T \subseteq V\).<br />
\(T\) ist Basis genau dann, wenn \(T\) eine maximale, linear unabha&#x0308;ngige Teilmenge von \(V\) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Erzeugendensysteme enthalten Basis</span>):</span><br />
Jedes endliche Erzeugendensystem entha&#x0308;lt eine Basis.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eindeutigkeit</span>):</span> Sei \(T\) ein Erzeugendensystem von \(V\). Dann ist \(T\) eine Basis genau dann, wenn es sich jeder Vektor aus \(V\) eindeutig
als Linearkombination von \(T\) darstellen la&#x0308;sst.
</p>

<p>
<b>Folgerung</b>: \(K[x]\) hat die Basis \(\basis {E} = \{x^i \;|\; i \in \natural _0\}\). \(K_n[x]\) hat die Basis \(\basis {E}_n = \{x^i \;|\; i = 0, \ldots , n\}\).
</p>

<p>
<em>Bemerkung</em>: Sei \(V\) ein \(K\)-Vektorraum mit Basis \(\basis {B} = \{v_1, \ldots , v_n\}\). Dann kann jeder Vektor \(v \in V\) eindeutig als Linearkombination \(v = \sum _{i=1}^n \lambda _i v_i\)
geschrieben werden. Bei fester Basis gibt es also eine Bijektion zwischen \(V\) und \(K^n\) mit \(v \leftrightarrow (\lambda _1, \ldots , \lambda _n) \in K^n\) (\(V\), \(K^n\) sind isomorph). Man schreibt dann \(v =\)
\(\begin {pmatrix}\lambda _1 \\ \vdots \\ \lambda _n\end {pmatrix}_\basis {B}\). Dabei kommt es auf die Reihenfolge der Basisvektoren an!
</p>

<p>
<b>geordnete Basis</b>:&#x2003; Eine <em><span class="dashuline" >geordnete Basis</span></em> von \(V\) ist eine Basis \(\basis {B}\) zusammen mit einer vollsta&#x0308;ndigen Ordnung auf \(\basis {B}\) (Existenz
durch Wohlordnungssatz). Man schreibt \(\basis {B} = (v_1, \ldots , v_n)\).
</p>



<h2 id="basen-und-dimension">Basen und Dimension</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Existenz einer Basis</span>):</span> Mit dem Auswahlaxiom besitzt jeder Vektorraum eine Basis.<br />
Scha&#x0308;rfere Aussage: Mit dem Auswahlaxiom entha&#x0308;lt jedes Erzeugendensystem eine Basis.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Austauschsatz von <span class="textsc" >Steinitz</span></span>):</span> Seien \(\basis {B}\) ein Erzeugendensystem und \(T = \{x_1, \ldots ,
x_k\}\) eine linear unabha&#x0308;ngige Teilmenge von \(V\). Dann gibt es eine \(k\)-elementige Teilmenge \(\basis {C} \subseteq \basis {B}\), sodass \((\basis {B} \setminus \basis {C}) \cup T\) ein
Erzeugendensystem ist.
</p>

<p>
<b>Folgerung</b>: Sei \(V\) von einer \(n\)-elementigen Menge erzeugt.<br />
Dann hat jede linear unabha&#x0308;ngige Teilmenge von \(V\) ho&#x0308;chstens \(n\) Elemente.
</p>

<p>
<b>Folgerung</b>: In einem endlich erzeugten Vektorraum sind alle Basen endlich und haben gleich viele Elemente.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Basiserga&#x0308;nzungssatz</span>):</span> Seien \(\basis {C}\) eine \(n\)-elementige Basis und \(B = \{b_1, \ldots , b_k\}\) eine linear
unabha&#x0308;ngige Teilmenge von \(V\). Dann ist \(k \le n\) und es gibt \(c_1, \ldots , c_{n-k} \in \basis {C}\), sodass<br />
\(\tilde {B} = \{b_1, \ldots , b_k, c_1, \ldots , c_{n-k}\}\) eine Basis von \(V\) ist.
</p>

<p>
<b>Dimension</b>:&#x2003; Sei \(V\) endlich erzeugt. Dann hat jede Basis von \(V\) \(n \in \natural _0\) Elemente.<br />
\(n = \dim V = \dim _K V\) heißt <em><span class="dashuline" >Dimension</span></em> von \(V\). (\(n\) ist eindeutig!)
</p>

<p>
<b>Folgerung</b>: Sei \(V\) Vektorraum der Dimension \(n \in \natural _0\). Dann ist jede Teilmenge von \(V\) mit mehr als \(n\) Elementen linear abha&#x0308;ngig und eine \(n\)-elementige Teilmenge ist Basis genau
dann, wenn sie linear unabha&#x0308;ngig ist oder \(V\) erzeugt.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Basis von Unterra&#x0308;umen erga&#x0308;nzen</span>):</span> Seien \(V\) endlich erzeugt mit der Dimension \(n \in \natural _0\) und \(U \ur V\).
Dann ist \(U\) ebenfalls endlich-dimensional und \(\dim U \le \dim V\). Ist \(B = (b_1, \ldots , b_k)\) eine Basis von \(U\), so gibt es \(b_{k+1}, \ldots , b_n \in V\), sodass \(\tilde {B} = (b_1, \ldots , b_n)\)
eine Basis von \(V\) ist.
</p>



<h2 id="unterraeume-komplemente-und-direkte-summen">Unterräume, Komplemente und direkte Summen</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Dimensionsformel</span>):</span> Seien \(V\) ein endlich erzeugter Vektorraum und \(U, W \ur V\).<br />
Dann gibt es drei disjunkte Teilmengen \(\basis {A}, \basis {B}, \basis {C}\) von \(V\), sodass \(\basis {A}\) Basis von \(U \cap W\), \(\basis {A} \cup \basis {B}\) Basis von \(U\), \(\basis {A} \cup \basis
{C}\) Basis von \(W\) und \(\basis {A} \cup \basis {B} \cup \basis {C}\) Basis von \(U + W\) ist.<br />
Daraus folgt die <em><span class="dashuline" >Dimensionsformel</span></em>: \(\dim (U + W) + \dim (U \cap W) = \dim U + \dim W\).
</p>

<p>
<b>(innere) direkte Summe</b>:&#x2003; Sei \(\{U_i \;|\; i \in I\}\) ein mit der Menge \(I\) indiziertes System von Unterra&#x0308;umen von \(V\). Dann ist \(V\) die <em><span class="dashuline" >(innere/interne)
direkte Summe</span></em> der \(U_i\), falls \(V = \sum _{i \in I} U_i\) sowie \(\forall _{j \in I}\; U_j \cap \sum _{i \in I,\; i \not = j} U_i = (0)\). Man schreibt \(V = \bigoplus _{i \in I} U_i\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >direkte Summe \(\Leftrightarrow \) jeder Vektor eindeutige Summe</span>):</span> Seien \(U_i\) (\(i \in I\)) Unterra&#x0308;ume von \(V\).<br />
Dann ist \(V = \bigoplus _{i \in I} U_i\) genau dann, wenn sich jeder Vektor \(v \in V\) eindeutig als Summe<br />
\(v = \sum _{i \in I} v_i\) (\(v_i \in U_i\) fast alle \(0\)) schreiben la&#x0308;sst.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >direkte Summe einer Basis</span>):</span> Sei \(\basis {A}\) Basis von \(V\). Dann ist \(V = \bigoplus _{v \in \basis {A}} Kv\).
</p>

<p>
<b>(a&#x0308;ußere) direkte Summe</b>:&#x2003; Seien \(U, W\) \(K\)-Vektorra&#x0308;ume. Dann ist \(U \oplus W = U \times W\) die <em><span class="dashuline" >(a&#x0308;ußere) direkte Summe</span></em>
mit der Addition \((u_1, w_1) + (u_2, w_2) = (u_1 + u_2, w_1 + w_2)\) und der skalaren Multiplikation \(\lambda (u_1, w_1) = (\lambda u_1, \lambda w_1)\) mit \(u_1, u_2 \in U\), \(w_1, w_2 \in W\),
\(\lambda \in K\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >a&#x0308;ußere direkte Summe als Vektorraum</span>):</span> Die a&#x0308;ußere direkte Summe \(U \oplus W\) ist ein \(K\)-Vektorraum mit
Nullelement \((0_V, 0_W)\), das Inverse zu \((u, w)\) ist \((-u, -w)\).
</p>

<p>
<b>Folgerung</b>: Seien \(V\) die a&#x0308;ußere direkte Summe \(U \oplus W\) sowie \(\widetilde {U} = \{(u, 0_W) \;|\; u \in U\}\) und<br />
\(\widetilde {W} = \{(0_U, w) \;|\; w \in W\}\). Dann ist \(\widetilde {U}, \widetilde {W} \ur V\) und \(V\) ist innere direkte Summe \(\widetilde {U} \oplus \widetilde {W}\).
</p>

<p>
<b>Folgerung</b>: Sei \(V = U \oplus W\), dann ist \(\dim V = \dim U + \dim W\).
</p>

<p>
<b>direkte Summe</b>:&#x2003; Sei \(U_i\) (\(i \in I\)) ein System von \(K\)-Vektorra&#x0308;umen.<br />
Die <em><span class="dashuline" >direkte Summe</span></em> der \(U_i\) ist \(U = \bigoplus _{i \in I} U_i = \{(u_i)_{i \in I} \;|\; u_i \in U_i \text { fast alle } 0\}\) mit komponentenweiser Addition
und skalarer Multiplikation.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >direkte Summe als Vektorraum</span>):</span> Die direkte Summe \(U = \bigoplus _{i \in I} U_i\) der \(K\)-Vektorra&#x0308;ume \(U_i\) ist ein
\(K\)-Vektorraum mit Nullelement \((0_i)_{i \in I} \in U\), das Inverse von \((v_i)_{i \in I} \in U\) ist \((-v_i)_{i \in I}\). Fu&#x0308;r \(i \in I\) ist \(\widetilde {U_i} = \{(v_j)_{j \in I} \in U \;|\;
j \in I,\; v_j = 0 \text { für } j \not = i\}\) ein Unterraum von \(U\), der mit \(U_i\) identifiziert werden kann. \(U\) ist die interne direkte Summe der \(\widetilde {U_i}\) (\(i \in I\)).<br />
Es gilt \(\dim U = \sum _{i \in I} \dim U_i\).
</p>

<p>
<b>Folgerung</b>: Die Vereinigung der Basen der \(\widetilde {U_i}\) ist eine Basis von \(U = \bigoplus _{i \in I} U_i\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Existenz eines Komplements</span>):</span> Sei \(V\) ein \(K\)-Vektorraum. Ist \(V\) endlich erzeugt, so besitzt jeder Unterraum von \(V\) ein Komplement.
Andernfalls besitzt jeder Unterraum von \(V\) ein Komplement, wenn man das Auswahlaxiom voraussetzt.
</p>



<h2 id="faktorraeume">Faktorräume</h2>

</p>


<p>
<b>Nebenklassen</b>:&#x2003; Sei \(U \ur V\). Dann wird durch \(v \sim _U w \;\Leftrightarrow \; w - v \in U\) eine A&#x0308;quivalenzrelation auf \(V\) definiert (\(v, w \in V\)). Fu&#x0308;r \(v \sim _U w\)
schreibt man \(v \equiv w \mod U\) (\(v\) kongruent zu \(w\) modulo \(U\)). Die A&#x0308;quivalenzklassen von \(\sim _U\) (\(\nk {v} = v + U = \{v + u \;|\; u \in U\}\)) heißen <em><span class="dashuline"
>Neben-/Restklassen</span></em>. Die Menge aller Nebenklassen modulo \(U\) ist \(\nk {V} = \{v + U \;|\; v \in V\}\) und wird mit \(V/U\) bezeichnet.<br />
Die Liste von Elementen \(v + U\) ist redundant (entha&#x0308;lt viele Wiederholungen).
</p>

<p>
<b>Faktorraum</b>:&#x2003; Sei \(U \ur V\). Fu&#x0308;r die Nebenklassen \(\nk {v} = v + U\) und \(\nk {w} = w + U\) definiert man eine Addition mit \(\nk {v} + \nk {w} = \nk {v + w}\) und fu&#x0308;r
\(\lambda \in K\) eine skalare Multiplikation mit \(\lambda \nk {v} = \nk {\lambda v}\).<br />
Diese Operationen sind wohldefiniert. Mit ihnen wird \(V/U\) zum \(K\)-Vektorraum.<br />
Der Nullvektor in \(V/U\) ist die Nebenklasse \(\nk {0_V} = 0_V + U = U\), das Inverse von \(\nk {v}\) ist \(\nk {-v}\).<br />
Der \(K\)-Vektorraum \(V/U\) mit diesen Operationen wird als <em><span class="dashuline" >Faktor-/Quotientenraum</span></em> bezeichnet.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Komplemente</span>):</span> Sei \(U \ur V\) und \(W\) ein Komplement von \(U\) in \(V\) (also \(V = U \oplus W\)).<br />
Fu&#x0308;r \(w, w’ \in W\) ist \(w \equiv w’ \mod U\) genau dann, wenn \(w = w’\) ist. Jede Nebenklasse \(\nk {v}\) entha&#x0308;lt genau ein Element \(w = w_v \in W\). Fu&#x0308;r \(x, y \in V\), \(\lambda
\in K\) gilt \(\nk {x} + \nk {y} = \nk {w_x + w_y}\) sowie \(\lambda \nk {x} = \nk {\lambda w_x}\). Ist \(\basis {B}\) eine Basis von \(W\), dann ist \(\nk {\basis {B}} = \{b + U \;|\; b \in \basis {B}\}\)
eine Basis von \(V/U\).<br />
Fu&#x0308;r die Dimension von \(V/U\) gilt \(\dim V = \dim U + \dim V/U\).
</p>

<p>
<b>Repra&#x0308;sentantensystem</b>:&#x2003; Wa&#x0308;hlt man bei einer beliebigen A&#x0308;quivalenzrelation zu jeder A&#x0308;quivalenzklasse einen Repra&#x0308;sentanten, so nennt man deren
Zusammenfassung ein <em><span class="dashuline" >Repra&#x0308;sentantensystem</span></em>.
</p>



<h2 id="zusaetzliches-projekt-3-polynome-und-treppenfunktionen">Zusätzliches: Projekt 3 (Polynome und Treppenfunktionen)</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Zuordnung Polynom – polynomiale Funktion</span>):</span> Sei \(K\) ein Ko&#x0308;rper. Dann ist die Abbildung \(e: K[x] \rightarrow K^K: p(x)
\mapsto (f_p: K \rightarrow K: y \mapsto p(y))\) entweder injektiv oder surjektiv und zwar ist \(e\) injektiv, wenn \(K\) unendlich ist, und surjektiv, wenn \(K\) endlich ist.
</p>

<p>
<b>Treppenfunktionen</b>:&#x2003; <em><span class="dashuline" >Treppenfunktionen</span></em> auf dem Intervall \([0, 1] \subseteq \real \) sind abschnittsweise konstante Funktionen, d.&#x202f;h. Funktionen,
die als \(f(x) = \sum _{i=1}^n \left (\alpha _i \cdot \chi _{A_i}(x)\right )\) dargestellt werden ko&#x0308;nnen, wobei die \(A_i = [a_i, a_{i+1})\) eine Partition von \([0, 1]\) bilden (\(a_i \in \real \)
fu&#x0308;r \(1 \le i \le n + 1\)).<br />
Dabei ist \(\chi _M\) die charakteristische Funktion mit \(\chi _M(x) = 1\) fu&#x0308;r \(x \in M\) und \(\chi _M(x) = 0\) sonst.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Treppenfunktionen als Unterraum</span>):</span> Die Menge der Treppenfunktionen ist ein Unterraum von der Menge der Funktionen \(\real ^\real \),
d.&#x202f;h. Summe und skalares Produkt von Treppenfunktionen sind wieder Treppenfunktionen.<br />
Eine mo&#x0308;gliche Basis ist \(\left \{ \chi _{[0, t]} \;|\; 0 &lt; t \le 1,\; t \in \mathbb {R} \right \} \cup \left \{ \chi _{\{t\}} \;|\; 0 \le t \le 1,\; t \in \mathbb {R} \right \}\), je
nachdem, ob Treppenfunktionen auch endlich viele nicht-abschnittsweise Spru&#x0308;nge enthalten du&#x0308;rfen.
</p>



<h2 id="zusaetzliches-projekt-4-faktorgruppen">Zusätzliches: Projekt 4 (Faktorgruppen)</h2>

</p>


<p>
<b>Faktorgruppen</b>:&#x2003; A&#x0308;hnlich wie bei Vektorra&#x0308;umen kann man auch bei Gruppen eine A&#x0308;quivalenzrelation \(\sim _H\) einfu&#x0308;hren mit \(a \sim _H b \;\Leftrightarrow \;
a^{-1} \ast b \in H\), wobei \(H\) eine Untergruppe der Gruppe \(G\) und \(a, b \in G\) ist. Die A&#x0308;quivalenzklasse von \(a \in G\) ist dann \(aH = \{a \ast u \;|\; u \in H\}\) und wird <em><span
class="dashuline" >Linksnebenklasse</span></em> genannt.<br />
Allerdings kann man bei nicht-abelschen Gruppen auch analog die A&#x0308;quivalenzrelation definieren als \(a \sim _H b \;\Leftrightarrow \; a \ast b^{-1} \in H\). Die A&#x0308;quivalenzklasse \(Ha = \{u \ast a
\;|\; u \in H\}\) heißt dann <em><span class="dashuline" >Rechtsnebenklasse</span></em>.<br />
Fu&#x0308;r gewo&#x0308;hnliche nicht-abelsche Gruppen \(G\) ist \(G/H\) nicht sinnvoll definiert, falls \(H\) eine beliebige Untergruppe ist, da Links- und Rechtsnebenklasse eines Elements \(a \in G\) nicht
u&#x0308;bereinstimmen mu&#x0308;ssen.<br />
Fu&#x0308;r eine bestimmte Untergruppe \(H\) kann es jedoch sein, dass \(aH = Ha\) fu&#x0308;r alle \(a \in G\). Dann nennt man \(H\) <em><span class="dashuline" >Normalteiler</span></em> von \(G\). Man kann
zeigen, dass dann die Menge aller Nebenklassen \(G/H = \{aH \;|\; a \in G\} = \{Ha \;|\; a \in G\}\) wieder eine Gruppe bildet, die sog. <em><span class="dashuline" >Faktorgruppe</span></em>.<br />
In einer abelschen Gruppe \(G\) ist jede Untergruppe \(H\) Normalteiler und daher ist \(G/H\) auch immer eine Faktorgruppe.
</p>

{% endraw %}
</div>
{:/nomarkdown}
