
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\newcommand {\B }{\mathcal {B}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\newcommand {\E }{\mathcal {E}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\diag }{\operatorname {diag}}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\newcommand {\Kern }{\operatorname {Kern}}\)

\(\newcommand {\Eig }{\operatorname {Eig}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\trace }{\operatorname {trace}}\)

\(\newcommand {\rg }{\operatorname {rg}}\)

\(\newcommand {\psd }{\succcurlyeq 0}\)

\(\newcommand {\pd }{\succ 0}\)

\(\newcommand {\nsd }{\preccurlyeq 0}\)

\(\newcommand {\nd }{\prec 0}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\GL }{\text {GL}}\)

\(\newcommand {\const }{\text {const}}\)

\(\newcommand {\esssup }{\operatorname {ess\,sup}}\)

\(\newcommand {\Spur }{\operatorname {Spur}}\)

\(\newcommand {\cov }{\operatorname {cov}}\)

\(\newcommand {\opt }{{\text {opt}}}\)

\(\newcommand {\dotwidehat }[1]{{\dot {\widehat {#1}}}}\)

\(\newcommand {\dotwidetilde }[1]{{\dot {\widetilde {#1}}}}\)

\(\newcommand {\modelscale }{0.85}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
</style>
<h2 id="beobachtbarkeit-und-dualitaet">Beobachtbarkeit und Dualität</h2>
<b>Rekonstruktion des Zustands</b>: Bei linearen System \(\dot {x} = Ax + Bu\) kann in der Praxis eigentlich nie davon ausgegangen werden, dass alle Komponenten des Zustands messbar sind und zur Verfu&#x0308;gung
stehen. Daher kennt man normalerweise nur den Ausgang \(y = Cx + Du\) als dem Regler verfu&#x0308;gbare Information. Ist es mo&#x0308;glich, nur aus dem Wissen von \(u\) und \(y\) den Zustand \(x\) zu rekonstruieren?
Kann mit dem rekonstruierten Zustand ein Regler implementiert werden?
</p>

<p>
<b>beobachtbar</b>: Das lineare System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) heißt <em><span class="dashuline" >beobachtbar (observable)</span></em>, falls es fu&#x0308;r jedes \(T &gt; 0\) mo&#x0308;glich ist,
\(x(t)\) fu&#x0308;r \(t \in [0, T]\) aus \(u(t)\) und \(y(t)\) fu&#x0308;r \(t \in [0, T]\) zu rekonstruieren.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
\(y\) hat normalerweise viel weniger Komponenten als \(x\). Daher ist die Rekonstruktion direkt aus \(y\) unmo&#x0308;glich. Allerdings kann man \(y\) ableiten, um \(y(t), \dot {y}(t), \dotsc , y^{(n-1)}(t)\) zu
erhalten (zumindest in der Theorie, in der Praxis ist das kaum mo&#x0308;glich). Es gilt \(Y(t) = W x(t) + \D U(t)\) mit<br />
\(Y(t) := \smallpmatrix {y(t) \\ \dot {y}(t) \\ \vdots \\ y^{(n-1)}(t)}\), \(W := \smallpmatrix {C \\ CA \\ \vdots \\ CA^{n-1}}\), \(\D := \smallpmatrix {D &amp; &amp; &amp; 0 \\ CB &amp; D &amp;
&amp; \\ \vdots &amp; \ddots &amp; \ddots &amp; \\ C A^{n-2} B &amp; \cdots &amp; CB &amp; D}\) und \(U(t) := \smallpmatrix {u(t) \\ \dot {u}(t) \\ \vdots \\ u^{(n-1)}(t)}\).
</p>

<p>
<b>Beobachtbarkeitsmatrix</b>: \(W\) heißt <em><span class="dashuline" >Beobachtbarkeitsmatrix (observability matrix)</span></em> des Systems \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) oder des Paars \((A, C)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Wenn \(W\) vollen Spaltenrang hat, dann gibt es eine Matrix \(W^+\) mit \(W^+ W = I\), d.&#x202f;h.<br />
\(W^+ Y(t) = x(t) + W^+ \D U(t) \iff x(t) = W^+ Y(t) - W^+ \D U(t)\), also kann man \(x(t)\) aus \(Y(t)\) und \(U(t)\) rekonstruieren. Es gilt aber auch die Umkehrung.
</p>

<p>
<b>Satz (<span class="textsc" >Kalman</span>-Test zur Beobachtbarkeit)</b>: Das lineare System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) ist beobachtbar genau dann, wenn die Beobachtbarkeitsmatrix \(W\) vollen
Spaltenrang hat.
</p>

<p>
\(W^T = \smallpmatrix {C^T &amp; A^T C^T &amp; \cdots &amp; (A^T)^{n-1} C^T}\) ist die Kalman-Matrix von \((A^T, C^T)\). Daher gilt \((A, C)\) beobachtbar \(\iff \) \(W\) hat vollen Spaltenrang \(\iff \) \(W^T\)
hat vollen Zeilenrang \(\iff \) \((A^T, C^T)\) ist regelbar. Man kann also alle Sa&#x0308;tze und Eigenschaften u&#x0308;ber die Regelbarkeit von \((A^T, C^T)\) auf die Beobachtbarkeit von \((A, C)\) u&#x0308;bertragen.
</p>

<p>
<b>Dualita&#x0308;tsprinzip</b>: Das <em><span class="dashuline" >Dualita&#x0308;tsprinzip (duality principle)</span></em> der linearen Kontrolltheorie ist die U&#x0308;bersetzung von Fragen der Beobachtbarkeit von
\((A, B, C, D)\) in Fragen der Regelbarkeit von \((A^T, C^T, B^T, D^T)\) (oder umgekehrt).
</p>

<p>
<b>Satz (<span class="textsc" >Hautus</span>-Test zur Beobachtbarkeit)</b>: \((A, C)\) ist beobachtbar genau dann, wenn fu&#x0308;r jeden Eigenvektor \(e\) von \(A\) gilt, dass \(Ce \not = 0\). A&#x0308;quivalent
dazu ist, dass die Matrix \(\smallpmatrix {A - \lambda I \\ C}\) vollen Spaltenrang fu&#x0308;r alle \(\lambda \in \complex \) besitzt.
</p>



<h2 id="unbeobachtbarer-unterraum-und-eigenwert">Unbeobachtbarer Unterraum und Eigenwert</h2>

</p>


<p>
Wenn \(W\) nicht vollen Spaltenrang hat, dann ist \(N(W) \not = \{0\}\). Nicht-verschwindende Trajektorien in diesem Raum werden von \(W\) „verschluckt“ und ko&#x0308;nnen daher im Ausgang nicht beobachtet werden.
</p>

<p>
<b>unbeobachtbarer Unterraum</b>:<br />
\(N(W)\) heißt <em><span class="dashuline" >unbeobachtbarer Unterraum (unobservable subspace)</span></em> von \((A, C)\).
</p>

<p>
<b>unbeobachtbarer Eigenwert</b>: Ein <em><span class="dashuline" >unbeobachtbarer Eigenwert (unobservable mode)</span></em> von \((A, C)\) ist \(\lambda \in \complex \), sodass \(\smallpmatrix {A - \lambda
I \\ C}\) nicht vollen Spaltenrang hat.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (geometrische Charakterisierung von \(N(W)\))</b>: Der unbeobachtbare Unterraum von \((A, C)\) ist der gro&#x0308;ßte \(A\)-invariante Unterraum, der in \(N(C)\) enthalten ist.
</p>

<p>
<b>Satz (Beobachtbarkeits-Normalform)</b>: Es gibt eine Zustandskoordinaten-Transformation \(z = Tx\) mit \(T\) invertierbar, die \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) in \(\smallpmatrix {\dot {z}_1 \\ \dot
{z}_2} = \smallpmatrix {A_{11} &amp; 0 \\ A_{21} &amp; A_{22}} \smallpmatrix {z_1 \\ z_2} + \smallpmatrix {B_1 \\ B_2} u =: \widetilde {A}z + \widetilde {B}u\), \(y = \smallpmatrix {C_1 &amp;
0} \smallpmatrix {z_1 \\ z_2} + Du =: \widetilde {C} z + Du\) transformiert, wobei \((A_{11}, C_1)\) beobachtbar ist. Diese Form heißt <em><span class="dashuline" >Beobachtbarkeits-Normalform (observability
normal form)</span></em> oder <em><span class="dashuline" >BNF</span></em>.
</p>

<p>
Ausgeschrieben bedeutet das \(\dot {z}_1 = A_{11} z_1 + B_1 u\), \(\dot {z}_2 = A_{21} z_1 + A_{22} z_2 + B_2 u\), \(y = C_1 z_1 + Du\), d.&#x202f;h. \(z_1\) und daher auch \(y\) werden von \(z_2\) nicht
beeinflusst. Beispielsweise la&#x0308;sst sich eine Vera&#x0308;nderung der Anfangsbedingung \(z_2(0)\) nicht in \(y\) beobachten.
</p>

<p>
<b>Folgerung</b>: Der unbeobachtbare Unterraum von \((\widetilde {A}, \widetilde {C})\) ist \(\{(0, z_2) \;|\; z_2 \in \real ^{\dim (z_2)}\}\) und die unbeobachtbaren Eigenwerte sind die Eigenwerte von
\(A_{22}\).
</p>

<p>
Es gibt viele Gru&#x0308;nde fu&#x0308;r Unbeobachtbarkeit. Wenn man z.&#x202f;B. zwei identische, beobachtbare Systeme \((A_S, B_S, C_S, D_S)\) durch Parallelschaltung (mit unterschiedlichen Einga&#x0308;ngen)
verknu&#x0308;pft, erha&#x0308;lt man \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) mit \(A := \smallpmatrix {A_S &amp; 0 \\ 0 &amp; A_S}\), \(B := \smallpmatrix {B_S &amp; 0 \\ 0 &amp; B_S}\), \(C :=
\smallpmatrix {C_S &amp; C_S}\) und \(D := \smallpmatrix {D_S &amp; D_S}\). Die Beobachtbarkeitsmatrix von \((A, C)\) hat zwei identische Blockspalten und kann daher keinen vollen Spaltenrang haben. Wenn \(A_S\)
die Dimension \(n\) hat, dann ist der unbeobachtbare Unterraum von \((A, C)\) gleich \(\left \{\left .\smallpmatrix {x \\ -x} \;\right | x \in \real ^n\right \}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (beobachtbar-kanonische Form)</b>: Wenn \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) nur einen Ausgang hat (d.&#x202f;h. \(y\) ist skalar) und beobachtbar ist, dann gibt es einen Koordinatenwechsel \(z = Tx\) mit
\(T\) invertierbar, der das System in \(\dot {z} = \smallpmatrix {-\alpha _1 &amp; 1 &amp; &amp; &amp; 0 \\ -\alpha _2 &amp; 0 &amp; 1 &amp; &amp; \\ \vdots &amp; &amp; \ddots &amp; \ddots &amp; \\
-\alpha _{n-1} &amp; &amp; &amp; 0 &amp; 1 \\ -\alpha _n &amp; &amp; &amp; &amp; 0} z + \widetilde {B} u := \widetilde {A} z + \widetilde {B} u\), \(y = \smallpmatrix {1 &amp; 0 &amp; 0 &amp;
\cdots &amp; 0} z + Du = \widetilde {C} z + Du\) transformiert.<br />
Diese Form heißt <em><span class="dashuline" >beobachtbar-kanonische Form (observability canonical form)</span></em> oder <em><span class="dashuline" >BKF</span></em>.
</p>



<h2 id="beobachter-und-entdeckbarkeit">Beobachter und Entdeckbarkeit</h2>

</p>


<p>
Die sofortige Rekonstruktion des Zustands ist praktisch nicht mo&#x0308;glich, da Rauschen durch die Differentiation versta&#x0308;rkt wird. Außerdem kann die Beobachtbarkeitsmatrix schlecht konditioniert sein. Daher versucht
man, den Zustand asymptotisch zu rekonstruieren.
</p>

<p>
<b>Beobachter</b>: Ein <em><span class="dashuline" >Beobachter (observer)</span></em> fu&#x0308;r das lineare System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) ist das dynamische System \(\dotwidehat {x} =
A\widehat {x} + Bu + L(y - \widehat {y})\), \(\widehat {y} = C\widehat {x} + Du\).
</p>

<p>
Ein Beobachter ist eine Kopie des Originalsystems mit einem Korrekturterm \(L(y - \widehat {y})\), der dazu dient, dass der gescha&#x0308;tzte Zustand \(\widehat {x}\) in Richtung \(x\) geregelt wird (fu&#x0308;r den
Fall, dass sich der gemessene Ausgang \(y\) vom gescha&#x0308;tzten Ausgang \(\widehat {y}\) unterscheidet).
</p>

<p>
<b>Bestimmung von \(L\)</b>: Natu&#x0308;rlich sollte der <em><span class="dashuline" >Scha&#x0308;tzfehler</span></em> \(\widetilde {x} := x - \widehat {x}\) schnell gegen Null konvergieren. Fu&#x0308;r
seine Dynamik gilt \(\dotwidetilde {x} = \dot {x} - \dotwidehat {x} = Ax + Bu - A\widehat {x} - Bu - L(y - \widehat {y})\)<br />
\(= A\widetilde {x} - L(Cx + Du - C\widehat {x} - Du) = (A - LC) \widetilde {x}\) (<em><span class="dashuline" >Fehlerdynamik</span></em>). Daher sollte \(L\) so gewa&#x0308;hlt werden, dass \(A - LC\)
eine Hurwitz-Matrix ist, damit \(\lim _{t \to \infty } \widetilde {x}(t) = 0\). Die Konvergenzgeschwindigkeit und die Art der Antwort (z.&#x202f;B. das U&#x0308;berschwingen) ha&#x0308;ngt von den Eigenwerten
von \(A - LC\) ab und von \(e^{(A - LC)t}\).
</p>

<p>
<b>Satz (Polvorgabe fu&#x0308;r Beobachter)</b>:<br />
Seien \((A, C)\) beobachtbar und \(\alpha \) ein reelles, normiertes Polynom vom Grad \(n\).<br />
Dann gibt es eine reelle Matrix \(L\) mit \(\chi _{A - LC} = \alpha \).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>entdeckbar</b>: Das System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) (oder das Paar \((A, C\)) heißt <em><span class="dashuline" >entdeckbar (detectable)</span></em>, falls es eine Matrix \(L\) gibt, sodass \(A -
LC\) eine Hurwitz-Matrix ist.
</p>

<p>
<b>Satz (<span class="textsc" >Hautus</span>-Test zur Entdeckbarkeit)</b>: \((A, C)\) ist entdeckbar genau dann, wenn die unbeobachtbaren Eigenwerte alle negative Realteile besitzen. A&#x0308;quivalent dazu ist, dass
\(\smallpmatrix {A - \lambda I \\ C}\) vollen Spaltenrang fu&#x0308;r alle \(\lambda \in \complex \) mit \(\Re (\lambda ) \ge 0\) besitzt.
</p>

<p>
<b>Satz (Trajektorien-basierte Charakterisierung)</b>: Das System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) ist entdeckbar genau dann, wenn \(u(t) \equiv 0\) und \(y(t) \equiv 0\) fu&#x0308;r \(t \ge 0\)
implizieren, dass<br />
\(\lim _{t \to \infty } x(t) = 0\).
</p>



<h2 id="zusatz-zusammenfassung-der-dualitaet">Zusatz: Zusammenfassung der Dualität</h2>

</p>
<table>

<tr class="tbrule">
<td class="tdp">

</td>
<td class="tdp">

<p>
<b>Regelbarkeit</b>
</p>
</td>
<td class="tdp">

<p>
<b>Beobachtbarkeit</b>
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
<em>Traj.-Definition</em>
</p>
</td>
<td class="tdp">

<p>
fu&#x0308;r jedes \(x_f \in \real ^n\) existiert \(u\) stetig, sodass \(x(T) = x_f\)<br />
fu&#x0308;r \(x(0) = 0\) und \(T &gt; 0\) fest
</p>
</td>
<td class="tdp">

<p>
fu&#x0308;r jedes \(T &gt; 0\) ist die Rekonstruktion von \(x(t)\) fu&#x0308;r \(t \in [0, T]\)<br />
aus \(u(t)\) und \(y(t)\) fu&#x0308;r \(t \in [0, T]\) mo&#x0308;glich
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Dualita&#x0308;t</em>
</p>
</td>
<td colspan="2" class="tdc">\((A^T, C^T)\) regelbar \(\iff \) \((A, C)\) beobachtbar</td>
</tr>


<tr>
<td class="tdp">

<p>
<em><span class="textsc" >Kalman</span>-Test</em>
</p>
</td>
<td class="tdp">

<p>
\(K = \smallpmatrix {B &amp; AB &amp; \cdots &amp; A^{n-1}B}\) hat vollen Zeilenrang
</p>
</td>
<td class="tdp">

<p>
\(W = \smallpmatrix {C \\ CA \\ \vdots \\ CA^{n-1}}\) hat vollen Spaltenrang
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Unterraum</em>
</p>
</td>
<td class="tdp">

<p>
\(R(K)\) regelbarer Unterraum
</p>
</td>
<td class="tdp">

<p>
\(N(W)\) unbeobachtbarer Unterraum
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>geom. Charakter.</em>
</p>
</td>
<td class="tdp">

<p>
kleinster \(A\)-invarianter Unterraum, der \(R(B)\) entha&#x0308;lt
</p>
</td>
<td class="tdp">

<p>
gro&#x0308;ßter \(A\)-invarianter Unterraum, der in \(N(C)\) enthalten ist
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em><span class="textsc" >Hautus</span>-Test</em>
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {A - \lambda I &amp; B}\) hat vollen Zeilenrang fu&#x0308;r alle \(\lambda \in \complex \)
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {A - \lambda I \\ C}\) hat vollen Spaltenrang fu&#x0308;r alle \(\lambda \in \complex \)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Eigenwerte</em>
</p>
</td>
<td class="tdp">

<p>
\(\lambda \in \complex \) mit Rangverlust unregelbare Eigenwerte
</p>
</td>
<td class="tdp">

<p>
\(\lambda \in \complex \) mit Rangverlust unbeobachtbare Eigenwerte
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Polvorgabe</em>
</p>
</td>
<td class="tdp">

<p>
fu&#x0308;r regelbare Systeme fu&#x0308;r \(A - BF\) mo&#x0308;glich
</p>
</td>
<td class="tdp">

<p>
fu&#x0308;r beobachtbare Systeme fu&#x0308;r \(A - LC\) mo&#x0308;glich
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>kanonische Form<br />
(\(m = 1\) bzw. \(k = 1\))</em>
</p>
</td>
<td class="tdp">

<p>
\(\dot {z} = \smallpmatrix {-\alpha _1 &amp; -\alpha _2 &amp; \cdots &amp; -\alpha _n \\ 1 &amp; 0 &amp; &amp; &amp; \\ &amp; \ddots &amp; \ddots &amp; &amp; \\ 0 &amp; &amp; 1 &amp; 0} z +
\smallpmatrix {1 \\ 0 \\ \vdots \\ 0} u\)
</p>
</td>
<td class="tdp">

<p>
\(\dot {z} = \smallpmatrix {-\alpha _1 &amp; 1 &amp; &amp; &amp; 0 \\ -\alpha _2 &amp; 0 &amp; 1 &amp; &amp; \\ \vdots &amp; &amp; \ddots &amp; \ddots &amp; \\ -\alpha _{n-1} &amp; &amp;
&amp; 0 &amp; 1 \\ -\alpha _n &amp; &amp; &amp; &amp; 0} z + \widetilde {B} u\), \(y = \smallpmatrix {1 &amp; 0 &amp; 0 &amp; \cdots &amp; 0} z + Du\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Normalform</em>
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {\widetilde {A} &amp; \widetilde {B} \\ \widetilde {C} &amp; \widetilde {D}} = \smallpmatrix {A_{11} &amp; A_{12} &amp; B_1 \\ 0 &amp; A_{22} &amp; 0 \\ C_1 &amp; C_2 &amp;
D}\), \((A_{11}, B_1)\) regelbar
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {\widetilde {A} &amp; \widetilde {B} \\ \widetilde {C} &amp; \widetilde {D}} = \smallpmatrix {A_{11} &amp; 0 &amp; B_1 \\ A_{21} &amp; A_{22} &amp; B_2 \\ C_1 &amp; 0 &amp;
D}\), \((A_{11}, C_1)\) beobachtbar
</p>
</td>
</tr>


<tr>
<td class="tdp">

</td>
<td class="tdp">

<p>
<b>Stabilisierbarkeit</b>
</p>
</td>
<td class="tdp">

<p>
<b>Entdeckbarkeit</b>
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
<em>Traj.-Definition</em>
</p>
</td>
<td class="tdp">

<p>
fu&#x0308;r jedes \(\xi \in \real ^n\) existiert \(u\) stu&#x0308;ckweise stetig, sodass<br />
\(\lim _{t \to \infty } x(t) = 0\) fu&#x0308;r \(x(0) = \xi \)
</p>
</td>
<td class="tdp">

<p>
aus \(u(t) \equiv 0\) und \(y(t) \equiv 0\) fu&#x0308;r \(t \ge 0\) folgt \(\lim _{t \to \infty } x(t) = 0\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Dualita&#x0308;t</em>
</p>
</td>
<td colspan="2" class="tdc">\((A^T, C^T)\) stabilisierbar \(\iff \) \((A, C)\) entdeckbar</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>Verallgemeinerung</em>
</p>
</td>
<td class="tdp">

<p>
regelbar impliziert stabilisierbar
</p>
</td>
<td class="tdp">

<p>
beobachtbar impliziert entdeckbar
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em><span class="textsc" >Hautus</span>-Test</em>
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {A - \lambda I &amp; B}\) hat vollen Zeilenrang fu&#x0308;r alle \(\lambda \in \complex \) mit \(\Re (\lambda ) \ge 0\)
</p>
</td>
<td class="tdp">

<p>
\(\smallpmatrix {A - \lambda I \\ C}\) hat vollen Spaltenrang fu&#x0308;r alle \(\lambda \in \complex \) mit \(\Re (\lambda ) \ge 0\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
<em>alg. Charakter.</em>
</p>
</td>
<td class="tdp">

<p>
es gibt eine Matrix \(F\) mit \(A - BF\) Hurwitz-Matrix
</p>
</td>
<td class="tdp">

<p>
es gibt eine Matrix \(L\) mit \(A - LC\) Hurwitz-Matrix
</p>
</td>
</tr>


<tr>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
</tr>

</table>



<h2 id="das-separationsprinzip">Das Separationsprinzip</h2>

</p>


<p>
Es wurde schon gezeigt, wie man ein System durch lineare Zustandsru&#x0308;ckfu&#x0308;hrung stabilisieren kann. Allerdings beno&#x0308;tigt diese Regelung den kompletten Zustand zu jeder Zeit. Es wurde ebenfalls schon
gezeigt, wie man den Zustand durch den gemessenen Ausgang asymptotisch rekonstruieren kann. Diese Techniken lassen sich enorm effizient miteinander verbinden:
</p>

<p>
Fu&#x0308;r ein stabilisierbares und entdeckbares LTI-System \(\dot {x} = Ax + Bu\), \(y = Cx + Du\) seien \(F\) und \(L\), sodass \(A - BF\) und \(A - LC\) Hurwitz-Matrizen sind. Dann stabilisiert \(u = -Fx\) das System
und der Beobachter mit Versta&#x0308;rkung \(L\) erzeugt eine Zustandsscha&#x0308;tzung \(\widehat {x}\), die \(x\) asymptotisch rekonstruiert. Die Schlu&#x0308;sselidee ist es nun, das nicht verfu&#x0308;gbare \(x\)
durch die verfu&#x0308;gbare Scha&#x0308;tzung \(\widehat {x}\) zu ersetzen, d.&#x202f;h. \(u = -F\widehat {x}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>beobachterbasierter Ausgangsru&#x0308;ckfu&#x0308;hrungs-Regler</b>: Fu&#x0308;r die Design-Parameter \(F\) und \(L\) ist das lineare System \(\dotwidehat {x} = A\widehat {x} + Bu + L(y - \widehat
{y})\), \(\widehat {y} = C\widehat {x} + Du\), \(u = -F\widehat {x}\) ein<br />
<em><span class="dashuline" >beobachterbasierter Ausgangsru&#x0308;ckfu&#x0308;hrungs-Regler (observer-based output-feedback controller)</span></em>.
</p>

<p>
A&#x0308;quivalente Implementierungen sind \(\dotwidehat {x} = (A - LC) \widehat {x} + (B - LD)u + Ly\), \(u = -F\widehat {x}\) und \(\dotwidehat {x} = (A - LC - BF + LDF) \widehat {x} + Ly\), \(u =
-F\widehat {x}\).
</p>

<p>
<b>Satz (geschlossener Regelkreis)</b>: Die Verbindung des beobachterbasierten Ausgangsru&#x0308;ckfu&#x0308;hrungs-Regler mit dem urspru&#x0308;nglichen System fu&#x0308;hrt zum geschlossenen Regelkreis<br />
\(\dot {x} = Ax - BF\widehat {x}\), \(\dotwidehat {x} = (A - LC - BF) \widehat {x} + LCx\). Dieses System ist asymptotisch stabil genau dann, wenn \(A - BF\) und \(A - LC\) Hurwitz-Matrizen sind.
</p>

<p>
Den Satz sieht man sehr schnell durch die Transformation \(\smallpmatrix {x \\ \widetilde {x}} = T \smallpmatrix {x \\ \widehat {x}}\) mit \(T := \smallpmatrix {I &amp; 0 \\ I &amp; -I} = T^{-1}\). Damit
ergibt sich \(T \smallpmatrix {A &amp; -BF \\ LC &amp; A - LC - BF} T^{-1} = \A := \smallpmatrix {A - BF &amp; BF \\ 0 &amp; A - LC}\), d.&#x202f;h. die Eigenwerte des Systems \(\smallpmatrix {\dot {x}
\\ \dotwidetilde {x}} = \A \smallpmatrix {x \\ \widetilde {x}}\) sind gleich denen von \(A - BF\) vereinigt mit denen von \(A - LC\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>statische Ausgangsru&#x0308;ckfu&#x0308;hrung</b>:<br />
Bei der <em><span class="dashuline" >statischen Ausgangsru&#x0308;ckfu&#x0308;hrung (static output-feedback)</span></em> des Systems \(\dot {x} = Ax + Bu\), \(y = Cx\) setzt man \(u = -Ky\). Man erha&#x0308;lt
also \(\dot {x} = (A - BKC)x\) als geschlossenen Regelkreis. Bis heute existiert kein einfacher Test, unter welchen Bedingungen \(A - BKC\) Hurwitz ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Zusammenfassung</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>U&#x0308;berpru&#x0308;fe, ob \((A, B)\) stabilisierbar und \((A, C)\) entdeckbar ist. Falls nicht, so kann man zeigen, dass kein linearer, stabilisierender Regler existiert.
</p>
</li>
<li class="list-item-f1"><p>Falls ja, bestimme \(F\) und \(L\), sodass \(A - BF\) und \(A - LC\) Hurwitz-Matrizen sind.
</p>
</li>
<li class="list-item-f2"><p>Der beobachterbasierte Regler fu&#x0308;hrt zu einem System mit Eigenwerten<br />
\(\Eig (A - BF) \cup \Eig (A - LC)\).
</p>
</li>
<li class="list-item-f3"><p>Wenn \((A, B)\) sogar regelbar und \((A, C)\) beobachtbar ist, dann kann man alle Eigenwerte des geschlossenen Regelkreises an beliebige (symmetrische) Stellen setzen.
</p>
</li>
</ul>

<p>
<b>Separationsprinzip</b>: Weil man \(F\) und \(L\) unabha&#x0308;ngig voneinander konstruieren (und somit die Zustandsru&#x0308;ckfu&#x0308;hrung und den Beobachter getrennt gestalten) kann, spricht man davon,
dass der entstehende Regler auf dem <em><span class="dashuline" >Separationsprinzip (separation principle)</span></em> basiert.
</p>

<p>
Allerdings sind die Eigenwerte von \(A\) (System), \(A - LC - BF + LDF\) (Regler) und \(\A \) i.&#x202f;A. verschieden, d.&#x202f;h. der Regler selbst ist evtl. instabil. In diesem Fall muss man in der Praxis bei der
Implementation eines solchen Reglers vorsichtig sein.
</p>

<p>
Es ist naiv, die Eigenwerte von \(L\) sehr „schnell“ zu wa&#x0308;hlen: Zum einen versta&#x0308;rkt sich dann Messrauschen, zum anderen verringern hohe Beobachter-Versta&#x0308;rkungen die Robustheit.
</p>



<h2 id="rauschen-und-bode-plots">Rauschen und <span style="font-variant: small-caps;">Bode</span>-Plots</h2>

</p>


<p>
Schnellere Eigenwerte von \(L\) fu&#x0308;hren zu einer schnelleren Konvergenz des Fehlers durch den Beobachter gegen Null. Allerdings vergro&#x0308;ßern zu große Eintra&#x0308;ge von \(L\) die Empfindlichkeit
gegenu&#x0308;ber Rauschen, was man mithilfe der U&#x0308;bertragungsmatrix erkennt.
</p>

<p>
<b>Einfluss von Rauschen</b>: Sei \(v\) ein Rauschsignal und \(\dot {x} = Ax + Bu\), \(y = Cx + Du + v\) das durch das Rauschen gesto&#x0308;rte System. Der beobachterbasierte
Ausgangsru&#x0308;ckfu&#x0308;hrungs-Regler soll aber gleich bleiben, weil er keinen Zugriff auf \(v\) hat, d.&#x202f;h. \(\dotwidehat {x} = A_c \widehat {x} + Ly\), \(u = -F\widehat {x}\) mit \(A_c := A - LC -
BF + LDF\). Mit der U&#x0308;bertragungsmatrix \(G(s) = C (sI - A)^{-1} B + D\) des Systems und \(K(s) = -F(sI - A_c)^{-1} L\) der U&#x0308;bertragungsmatrix des Reglers erha&#x0308;lt man \(\widehat
{y}(s) = G(s) \widehat {u}(s) + \widehat {v}(s)\) und \(\widehat {u}(s) = K(s) \widehat {y}(s)\) (wenn man Null-Anfangsbedingungen annimmt).
</p>

<p>
Man kann die 2. Gleichung in die 1. einsetzen, man bekommt dann \(\widehat {y}(s) = G(s)K(s) \widehat {y}(s) + \widehat {v}(s)\). Nach \(\widehat {y}(s)\) aufgelo&#x0308;st ergibt dies \(\widehat {y}(s) = (I
- G(s)K(s))^{-1} \widehat {v}(s)\). Setzt man das in die 2. Gleichung ein, so erha&#x0308;lt man \(\widehat {u}(s) = K(s) (I - G(s)K(s))^{-1} \widehat {v}(s)\).
</p>

<p>
Mit dieser Gleichung kann man den Einfluss des Messrauschens auf die Steuergro&#x0308;ße im geschlossenen Regelkreis analysieren, wenn das System ein SISO-System ist (z.&#x202f;B. mit dem sog. Bode-Amplitudengang des
Bode-Plots, siehe unten).
</p>

<p>
<b>Invertierbarkeit von \(I - G(s)K(s)\)</b>: \(G(s) = C(sI - A)^{-1} B + D\) ist (\(|s|\) hinreichend groß) beschra&#x0308;nkt und \(K(s) = -F(sI - A_c)^{-1} L \to 0\) fu&#x0308;r \(|s| \to \infty \), damit
auch \(G(s)K(s) \to 0\) bzw. \(I - G(s)K(s) \to I\) fu&#x0308;r \(|s| \to \infty \). Weil \(\det (I - G(s)K(s))\) eine rationale Funktion ist, ist sie entweder konstant gleich Null oder sie hat sie nur endlich viele
Nullstellen. Allerdings ist wegen \(\det (I - G(s)K(s)) \to \det (I) = 1\) der erste Fall nicht mo&#x0308;glich, d.&#x202f;h. \((I - G(s)K(s))^{-1}\) existiert fu&#x0308;r fast alle \(s \in \complex \).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Bode</span>-Plot</b>: Sei \(H\colon D \subset \real \rightarrow \real \) eine reellwertige, rationale Funktion. Dann heißt der Plot von \(|H(\iu \omega )|\) u&#x0308;ber die Frequenz
\(\omega \ge 0\) <em><span class="dashuline" ><span class="textsc" >Bode</span>-Amplitudengang (<span class="textsc" >Bode</span> magnitude plot)</span></em> von \(H(s)\). Der Plot von \(\arg (H(\iu
\omega ))\) u&#x0308;ber die Frequenz \(\omega \ge 0\) heißt <em><span class="dashuline" ><span class="textsc" >Bode</span>-Phasengang (<span class="textsc" >Bode</span> phase plot)</span></em> von
\(H(s)\). Beide Plots zusammen werden <em><span class="dashuline" ><span class="textsc" >Bode</span>-Plot</span></em> genannt, mit ihnen wird \(\omega \mapsto H(\iu \omega )\) fu&#x0308;r \(\omega \ge
0\) vollsta&#x0308;ndig dargestellt.
</p>

<p>
Es ist u&#x0308;blich, beim Bode-Plot die Frequenzachsen logarithmisch darzustellen (Einteilung in 10er-Logarithmen). Zusa&#x0308;tzlich wird die Amplitude auch logarithmisch dargestellt. Manchmal erfolgt eine Umrechnung in
Dezibel (dB) durch die Formel \(|H|_{\text {dB}} := 20 \log _{10} |H|\), in diesem Fall erfolgt die Darstellung der Amplitude in Dezibel natu&#x0308;rlich linear.
</p>

<p>
Mithilfe des Bode-Amplitudengangs von \(K(s) (I - G(s)K(s))^{-1}\) kann man erkennen, dass schnellere Eigenwerte zu einer gro&#x0308;ßeren Versta&#x0308;rkung von Rauschen fu&#x0308;hren.
</p>

{% endraw %}
</div>
{:/nomarkdown}
