
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\newcommand {\B }{\mathcal {B}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\newcommand {\E }{\mathcal {E}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\diag }{\operatorname {diag}}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\newcommand {\Kern }{\operatorname {Kern}}\)

\(\newcommand {\Eig }{\operatorname {Eig}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\trace }{\operatorname {trace}}\)

\(\newcommand {\rg }{\operatorname {rg}}\)

\(\newcommand {\psd }{\succcurlyeq 0}\)

\(\newcommand {\pd }{\succ 0}\)

\(\newcommand {\nsd }{\preccurlyeq 0}\)

\(\newcommand {\nd }{\prec 0}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\GL }{\text {GL}}\)

\(\newcommand {\const }{\text {const}}\)

\(\newcommand {\esssup }{\operatorname {ess\,sup}}\)

\(\newcommand {\Spur }{\operatorname {Spur}}\)

\(\newcommand {\cov }{\operatorname {cov}}\)

\(\newcommand {\opt }{{\text {opt}}}\)

\(\newcommand {\dotwidehat }[1]{{\dot {\widehat {#1}}}}\)

\(\newcommand {\dotwidetilde }[1]{{\dot {\widetilde {#1}}}}\)

\(\newcommand {\modelscale }{0.85}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="die-h2-norm-und-ihre-deterministische-interpretation">Die H₂-Norm und ihre deterministische Interpretation</h2>

</p>


<p>
Gegeben sei das LTI-System \(\dot {x} = Ax + Bw\), \(z = Cx\) mit der U&#x0308;bertragungsmatrix<br />
\(T(s) = C(sI - A)^{-1}B\) der Dimension \(p \times q\). Hier ist \(w\) ein Sto&#x0308;reingang und \(z\) ein Ausgang, der mo&#x0308;glichst klein sein soll. Eine Quantifizierung des Einflusses des Eingangs \(w\) auf den
Ausgang \(z\) kann mithilfe der sog. \(H_2\)-Norm der U&#x0308;bertragungsmatrix erfolgen.
</p>

<p>
<b>\(H_2\)-Norm</b>: Sei \(T\) eine stabile U&#x0308;bertragungsmatrix.<br />
Dann ist \(\norm {T}_2 := \sqrt {\frac {1}{2\pi } \int _{-\infty }^\infty \norm {T(\iu \omega )}_F^2 d\omega }\) die <em><span class="dashuline" >\(H_2\)-Norm</span></em> von \(T\).
</p>

<p>
Dabei ist \(\norm {\cdot }_F\) die <em><span class="dashuline" ><span class="textsc" >Frobenius</span>-Matrixnorm</span></em>, d.&#x202f;h. \(\norm {A}_F := \sqrt {\sum _{i,j} |a_{ij}|^2}\) fu&#x0308;r
\(A := (a_{ij})_{i,j}\).<br />
Es gilt \(\Spur (A^\ast A) = \sum _j (A^\ast A)_{j,j} = \sum _j (\sum _i \overline {a_{ij}} a_{ij}) = \norm {A}_F^2\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Hardy</span>-Raum \(H_2^{p \times q}\)</b>: Der <em><span class="dashuline" ><span class="textsc" >Hardy</span>-Raum</span></em> \(H_2^{p \times q}\) besteht aus allen
Matrizen \(S\) der Dimension \(p \times q\), deren Elemente analytische Funktionen auf \(\complex ^+\) sind, sodass<br />
\(\norm {S}_2^2 := \sup _{r &gt; 0} \frac {1}{2\pi } \int _{-\infty }^\infty \norm {S(r + \iu \omega )}_F^2 d\omega &lt; \infty \).
</p>

<p>
Fu&#x0308;r solche Funktionen kann man zeigen, dass \(\widehat {T}(\iu \omega ) := \lim _{r \to 0+0} S(r + \iu \omega )\) fu&#x0308;r fast alle \(\omega \in \real \) existiert, dass \(\omega \mapsto \widehat
{T}(\iu \omega )\) u&#x0308;ber \(\real \) quadrat-integrierbar ist und dass \(\norm {S}_2\) gleich der \(H_2\)-Norm \(\lVert \widehat {T}\rVert _2\) von \(\widehat {T}\) ist.
</p>

<p>
<b>\(RH_2^{p \times q}\)</b>: Mit \(RH_2^{p \times q}\) wird der Vektorraum aller reellen, rationalen, echt properen und stabilen U&#x0308;bertragungsmatrizen der Gro&#x0308;ße \(p \times q\) bezeichnet. \(RH_2^{p
\times q}\) ist ein dichter Unterraum von \(H_2^{p \times q}\).
</p>

<p>
Fu&#x0308;r alle \(F \in L_2^{p \times q}[0, \infty ) := L_2([0, \infty ), \real ^{p \times q})\) ist die Fourier-Transformation definiert durch<br />
\(\widehat {F}(\iu \omega ) := \int _0^\infty e^{-\iu \omega t} F(t)\dt \). Man kann zeigen, dass \(\widehat {F} \in H_2^{p \times q}\). Nach dem Satz von Plancherel gilt<br />
\(\int _0^\infty \norm {F(t)}_F^2 \dt = \frac {1}{2\pi } \int _{-\infty }^\infty \lVert \widehat {F}(\iu \omega )\rVert _F^2 d\omega \). Mit anderen Worten ist die Fouriertransformation eine lineare
Isometrie \(L_2^{p \times q}[0, \infty ) \rightarrow H_2^{p \times q}\). Eine Version des Satzes von Paley-Wiener besagt, dass diese Abbildung sogar surjektiv ist. Daher ist die Fourier-Transformation eine isometrische
Isomorphie zwischen \(L_2^{p \times q}[0, \infty )\) und \(H_2^{p \times q}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Man kann die \(H_2\)-Norm einer stabilen U&#x0308;bertragungsmatrix algebraisch anhand einer Zustandsraum-Realisierung berechnen.
</p>

<p>
<b>Satz (algebraische Berechnung der \(H_2\)-Norm)</b>:<br />
Seien \(A\) eine Hurwitz-Matrix und \(T(s) = C(sI - A)^{-1}B\). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(\norm {T}_2^2 = \Spur (C P_c C^T)\), wobei \(P_c\) die Regelbarkeits-Gram-Matrix ist<br />
(d.&#x202f;h. die Lo&#x0308;sung von \(AP_c + P_c A^T + BB^T = 0\) bzw. \(P_c = \int _0^\infty e^{At} B B^T e^{A^T t} \dt \))
</p>
</li>
<li class="list-item-f1"><p>\(\norm {T}_2^2 = \Spur (B^T P_o B)\), wobei \(P_c\) die Beobachtbarkeits-Gram-Matrix ist<br />
(d.&#x202f;h. die Lo&#x0308;sung von \(A^T P_o + P_o A + C^T C = 0\) bzw. \(P_o = \int _0^\infty e^{A^T t} C^T C e^{At} \dt \))
</p>
</li>
</ul>

<p>
<b>Satz (Ungleichungs-Charakterisierung)</b>: \(A\) ist eine Hurwitz-Matrix und \(\norm {T}_2^2 &lt; \gamma \) genau dann, wenn \(\exists _{X \pd }\; A^T X + XA + C^T C \nd ,\; \Spur (B^T X B) \prec
\gamma \).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>deterministische Interpretation</b>: Seien \(B_1, \dotsc , B_q\) die Spalten von \(B\) und \(z_k(t) = Ce^{At} B_k\) die Antworten von \(\dot {x} = Ax + Bw\), \(z = Cx\) auf einen Impuls im \(k\)-ten Eingang.<br
/>
Es gilt \(\sum _{k=1}^q \int _0^\infty \norm {z_k(t)}^2 \dt = \sum _{k=1}^q B_k^T \left [\int _0^\infty e^{A^T t} C^T C e^{At} \dt \right ] B_k = \sum _{k=1}^q B_k^T P_o B_k = \Spur (B^T P_o
B)\).<br />
Daher ist \(\sum _{k=1}^q \int _0^\infty \norm {z_k(t)}^2 \dt = \norm {T}_2^2\) nach dem obigen Satz, also ist das Quadrat der \(H_2\)-Norm die Summe der Energien der Einschwinganteile der Impulsantworten.
</p>



<h2 id="wiederholung-grundbegriffe-der-statistik">Wiederholung: Grundbegriffe der Statistik</h2>

</p>


<p>
<b>Zufallsvektor</b>: Ergebnisse von Zufallsexperimenten werden durch <em><span class="dashuline" >Zufallsvektoren (random vectors)</span></em> \(x = \smallpmatrix {x_1 &amp; \cdots &amp; x_n}^T\) modelliert,
die Vektoren von Zufallsvariablen \(x_1, \dotsc , x_n\) sind.
</p>

<p>
<b>Verteilungsfunktion</b>: Die <em><span class="dashuline" >Verteilungsfunktion (distribution function)</span></em> \(F_x\colon \real ^n \rightarrow \real \) eines Zufallsvektors \(x\) bestimmt diesen
vollsta&#x0308;ndig. Dabei gilt fu&#x0308;r alle \(\smallpmatrix {\xi _1 &amp; \cdots &amp; \xi _n}^T \in \real ^n\), dass die Wahrscheinlichkeit fu&#x0308;r das Ereignis \(x_1 \le \xi _1, \dotsc , x_n \le
\xi _n\) gleich \(F_x(\xi _1, \dotsc , \xi _n)\) ist.
</p>

<p>
<b>Dichte</b>: Eine Verteilungsfunktion \(F_x(\xi _1, \dotsc , \xi _n)\) besitzt die <em><span class="dashuline" >Dichte (density)</span></em> \(f_x\colon \real ^n \rightarrow \real \), falls \(F_x(\xi _1,
\dotsc , \xi _n) = \int _{-\infty }^{\xi _1} \!\!\!\dotsb \int _{-\infty }^{\xi _n} f_x(\tau _1, \dotsc , \tau _n) \d \tau _n \dotsb \d \tau _1\) fu&#x0308;r alle \(\xi \in \real ^n\).
</p>

<p>
<b>normalverteilt</b>: Ein Zufallsvektor \(x\) heißt <em><span class="dashuline" >normalverteilt/<span class="textsc" >Gauß</span>-verteilt (<span class="textsc" >Gauß</span>ian)</span></em>, falls seine
Verteilungsfunktion die Dichte \(f_x(\tau ) = \frac {1}{\sqrt {(2\pi )^n \det (R)}} \exp \!\left (\frac {1}{2} (\tau - m)^T R^{-1} (\tau - m)\right )\) besitzt, wobei \(m \in \real ^n\) und \(R \in \real
^{n \times n}\) symmetrisch und positiv definit.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Erwartungswert</b>: Sei \(g\colon \real ^n \rightarrow \real ^{k \times \ell }\) Borel-messbar. Wenn \(x = \smallpmatrix {x_1 &amp; \cdots &amp; x_n}^T\) die Dichte<br />
\(f_x(\tau _1, \dotsc , \tau _n)\) besitzt, dann ist der <em><span class="dashuline" >Erwartungswert (expectation)</span></em> von \(g(x_1, \dotsc , x_n)\) definiert als<br />
\(\EE [g(x_1, \dotsc , x_n)] := \int _{-\infty }^{+\infty } \!\!\!\dotsb \int _{-\infty }^{+\infty } g(\tau _1, \dotsc , \tau _n) f_x(\tau _1, \dotsc , \tau _n) \d \tau _n \dotsb \d \tau _1
\in \real ^{k \times \ell }\).
</p>

<p>
Fu&#x0308;r \(g(\tau ) = \tau \) erha&#x0308;lt man den Erwartungswert \(\EE [x]\) von \(x\). Fu&#x0308;r \(g(\tau , \sigma ) = (\tau - \EE [x]) (\sigma - \EE [y])^T\) erha&#x0308;lt man die
Kovarianz-Matrix.
</p>

<p>
<b>Kovarianz-Matrix</b>: \(\cov (x, y) := \EE [(x - \EE [x]) (y - \EE [y])^T]\) heißt <em><span class="dashuline" >Kovarianz-Matrix (covariance matrix)</span></em> der Zufallsvektoren \(x\) und \(y\).
</p>

<p>
<b>Autokovarianz-Matrix</b>: \(\cov (x, x) = \EE [(x - \EE [x]) (x - \EE [x])^T] = \EE [xx^T] - \EE [x]\EE [x]^T \psd \) heißt <em><span class="dashuline" >Autokovarianz-Matrix (auto-covariance
matrix)</span></em> von \(x\).
</p>

<p>
<b>Varianz</b>: \(\Spur (\cov (x, x)) = \EE [x^T x] - \EE [x]^T \EE [x] \ge 0\) heißt <em><span class="dashuline" >Varianz (variance)</span></em> von \(x\).
</p>



<h2 id="wiener-prozesse"><span style="font-variant: small-caps;">Wiener</span>-Prozesse</h2>

</p>


<p>
<b><span class="textsc" >Wiener</span>-Prozess</b>: Ein <em><span class="dashuline" ><span class="textsc" >Wiener</span>-Prozess (<span class="textsc" >Wiener</span> process)</span></em> \(W(\cdot
)\) mit Intensita&#x0308;t \(1\) ist eine Abbildung \(t \mapsto W(t)\), sodass fu&#x0308;r alle \(t \ge 0\) das Bild \(W(t)\) eine Zufallsvariable ist und gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f2"><p><em>Initialisierung bei \(0\)</em>: \(W(0) = 0\) fast sicher
</p>
</li>
<li class="list-item-f3"><p><em>unabha&#x0308;ngige Zuwa&#x0308;chse</em>: Fu&#x0308;r alle \(0 \le t_1 \le t_2 \le t_3 \le t_4\) sind die Zufallsvariablen<br />
\(W(t_2) - W(t_1)\) und \(W(t_4) - W(t_3)\) unabha&#x0308;ngig.
</p>
</li>
<li class="list-item-f4"><p><em>normalverteilte Zuwa&#x0308;chse</em>: Fu&#x0308;r alle \(0 \le t_1 \le t_2\) ist der Zuwachs \(W(t_2) - W(t_1)\) normalverteilt mit Erwartungswert \(0\) und Varianz \(1 \cdot (t_2 - t_1)\).
</p>
</li>
</ul>

<p>
<b>Eigenschaften eines <span class="textsc" >Wiener</span>-Prozesses</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>Die Pfade sind stetig mit Wahrscheinlichkeit \(1\).
</p>
</li>
<li class="list-item-f6"><p>\(W(t)\) ist fu&#x0308;r \(t &gt; 0\) normalverteilt mit Dichte \(f_{W(t)}(\tau ) = \frac {1}{\sqrt {2\pi t}} e^{-\frac {\tau ^2}{2t}}\) (EW \(0\), Varianz \(t\)).
</p>
</li>
<li class="list-item-f7"><p>Der Prozess \(W\) ist ebenfalls normalverteilt, d.&#x202f;h. fu&#x0308;r alle \(k \in \natural \) und \(t_1, \dotsc , t_k &gt; 0\) paarweise verschieden ist der Zufallsvektor \(\smallpmatrix {W(t_1) &amp; \cdots
&amp; W(t_k)}^T\) normalverteilt.
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Integral mit <span class="textsc" >Wiener</span>-Prozessen</b>: Fu&#x0308;r \(f \in L_2([a, b], \real )\) mit \(0 \le a \le b\) ist \(\int _a^b f(t) dW(t)\) analog zum Lebesgue-Stieltjes-Integral wie folgt
definiert:
</p>
<ul style="list-style-type:none">

<li class="list-item-f8"><p>Fu&#x0308;r Treppenfunktionen \(s(\cdot )\) mit Werten \(s_1, \dotsc , s_N\) auf den Intervallen \([t_k, t_{k+1})\),<br />
\(k = 1, \dotsc , N\) (mit \(a = t_1 &lt; \dotsb &lt; t_{N+1} = b\)) sei \(\int _a^b s(t) dW(t) := \sum _{k=1}^N s_k [W(t_{k+1}) - W(t_k)]\).
</p>
</li>
<li class="list-item-f9"><p>Fu&#x0308;r \(s_\nu \to f\) in \(L_2([a, b], \real )\) sei \(I := \int _a^b f(t) dW(t) := \lim _{n \to \infty } I_\nu \) mit \(I_\nu := \int _a^b s_\nu (t) dW(t)\) in dem Sinne, dass \(\EE [(I - I_\nu
)^2] \to 0\) fu&#x0308;r \(\nu \to \infty \).
</p>
</li>
</ul>

<p>
<b>Eigenschaften des Integrals</b>: Das Integral ist eine normalverteilte Zufallsvariable.<br />
Fu&#x0308;r \(x, y \in L_2([a, b], \real )\) gilt \(\EE [\int _a^b x(t) dW(t)] = 0\) und<br />
\(\EE [(\int _a^b x(t) dW(t)) (\int _a^b y(t) dW(t))] = \int _a^b x(t) y(t) \dt \). Wenn \(\widehat {W}\) ein von \(W\) unabha&#x0308;ngiger Wiener-Prozess ist, dann gilt \(\EE [(\int _a^b x(t) d\widehat
{W}(t)) (\int _a^b y(t) dW(t))] = 0\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>mehrdimensionaler <span class="textsc" >Wiener</span>-Prozess</b>: Ein <em><span class="dashuline" >\(q\)-dimensionaler <span class="textsc" >Wiener</span>-Prozess</span></em><br />
\(W = \smallpmatrix {W_1 &amp; \cdots &amp; W_q}^T\) ist ein Vektor von \(q\) Wiener-Prozessen \(W_1, \dotsc , W_q\), die paarweise unabha&#x0308;ngig sind.
</p>

<p>
<b>mehrdimensionale Integrale</b>: Wenn \(X\) und \(Y\) matrixwertige Abbildungen von Dimension \(p \times q\) sind, die quadratintegrierbare Elemente auf \([a, b]\) haben (\(0 \le a \le b\)), dann sind die
Zufallsvektoren \(x = \int _a^b X(t) dW(t)\) und \(y = \int _a^b Y(t) dW(t)\) der Dimension \(p\) elementweise definiert. Es gilt \(\EE [x] = \EE [y] = 0\) und \(\EE [xy^T] = \int _a^b X(t) Y(t)^T \dt \).
</p>



<h2 id="weisses-rauschen-und-die-stochastische-interpretation-der-h2-norm">Weißes Rauschen und die stochastische Interpretation der H₂-Norm</h2>

</p>


<p>
<b>weißes Rauschen</b>: Sei wieder \(\dot {x} = Ax + Bw\), \(z = Cx\) gegeben. Man betrachtet die Sto&#x0308;rung \(w\) oft als <em><span class="dashuline" >weißes Rauschen</span></em>, d.&#x202f;h. als ein
nicht-regula&#x0308;res Signal mit einem flachem Spektrum (alle Frequenzen kommen gleich oft vor). \(w\) kann man dann als Ableitung \(\dot {W}\) eines Wiener-Prozesses verstehen. In diesem Sinne kann man \(W\) durch
Integration von weißem Rauschen erhalten, d.&#x202f;h. \(W(t) = \text {„}\int _0^t \dot {W}(\tau ) \d \tau \text {“} = \int _0^t dW(\tau )\) fu&#x0308;r \(t \ge 0\). Der mittlere Ausdruck ist
mathematisch sinnlos, allerdings kann man nun definieren, was die Zustandsantwort eines linearen Systems zu einem Weißen-Rauschen-Eingang und einer Zufalls-Anfangsbedingung \(\xi \) ist.
</p>

<p>
<b>Antwort auf weißes Rauschen</b>: Sei \(\xi \) normalverteilt und unabha&#x0308;ngig von \(W(t)\) fu&#x0308;r alle \(t \ge 0\). Dann ist die <em><span class="dashuline" >Antwort (response)</span></em> des
linearen Systems \(\dot {x} = Ax + B\dot {W}\), \(x(0) = \xi \) definiert durch \(x(t) := e^{At}\xi + \int _0^t e^{A(t-\tau )}B dW(\tau )\) fu&#x0308;r \(t \ge 0\).
</p>

<p>
\(x(\cdot )\) ist nach obigen Bemerkungen ein normalverteilter Prozess.
</p>

<p>
<b>Satz (Antwort auf weißes Rauschen)</b>: Sei \(x(\cdot )\) die Antwort von \(\dot {x} = Ax + B\dot {W}\), \(x(0) = \xi \). Dann gilt \(\EE [x(t)] = e^{At}\EE [\xi ]\) fu&#x0308;r \(t \ge 0\) und<br />
\(\cov (x(t_1), x(t_2)) = e^{At_1} \cov (\xi , \xi ) e^{A^T t_2} + \int _0^{t_1} e^{A(t_1 - \tau )} BB^T e^{A^T (t_2 - \tau )} \d \tau \) fu&#x0308;r \(0 \le t_1 \le t_2\).
</p>

<p>
Fu&#x0308;r \(A = 0\) und \(\xi = 0\) erha&#x0308;lt man \(x(t) = BW(t)\) und daher \(\EE [BW(t)] = 0\) sowie<br />
\(\EE [BW(t) W(t)^T B^T] = tBB^T\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Folgerung (stochastische Interpretation der \(H_2\)-Norm)</b>: Seien \(A\) eine Hurwitz-Matrix und \(x(\cdot ), z(\cdot )\) die Zustands- und Ausgangsantworten von \(\dot {x} = Ax + B\dot {W}\), \(z = Cx\),
\(x(0) = \xi \).<br />
Dann gilt \(\EE [x(t)] \to 0\) und \(\EE [z(t)] \to 0\) fu&#x0308;r \(t \to \infty \). Außerdem gilt<br />
\(\lim _{t \to \infty } \cov (x(t), x(t)) = P_c\) (asym. Autokovarianz-Matrix des Zustands) sowie<br />
\(\lim _{t \to \infty } \Spur (\cov (z(t), z(t))) = \norm {T}_2^2\) (asym. Varianz des Ausgangs).
</p>

<p>
Somit ist \(\norm {T}_2^2\) die asymptotische Varianz \(\lim _{t \to \infty } (\EE [z(t)^T z(t)] - \EE [z(t)]^T \EE [z(t)])\) des Ausgangs eines stabilen linearen Systems, das durch weißes Rauschen angetrieben
wird.
</p>



<h2 id="farbiges-rauschen-und-spektralfaktorisierung">Farbiges Rauschen und Spektralfaktorisierung</h2>

</p>


<p>
<b>farbiges Rauschen</b>: \(\widetilde {w}\) heißt <em><span class="dashuline" >farbiges Rauschen (colored noise)</span></em>, falls es \((\widetilde {A}, \widetilde {B}, \widetilde {C})\) gibt mit
\(\widetilde {A}\) einer Hurwitz-Matrix, sodass \(\widetilde {w}\) der Ausgang von \(\dotwidetilde {x} = \widetilde {A} \widetilde {x} + \widetilde {B} \dot {W}\), \(\widetilde {w} = \widetilde {C}
\widetilde {x}\), \(\widetilde {x}(0) = 0\) ist.
</p>

<p>
Man spricht auch davon, dass man \(\widetilde {w}\) durch <em><span class="dashuline" >Filterung (filtering)</span></em> von weißem Rauschen mit dem <em><span class="dashuline" >Farbfilter (coloring
filter)</span></em> \(\widetilde {T}(s) = \widetilde {C} (sI - \widetilde {A})^{-1} \widetilde {B}\) erha&#x0308;lt.<br />
Weil \(\widetilde {w}(t) = \int _0^t \widetilde {C} e^{\widetilde {A}(t - \tau )} \widetilde {B} dW(\tau )\) unabha&#x0308;ngig von der Realisierung ist, kann man annehmen, dass \((\widetilde {A},
\widetilde {B}, \widetilde {C})\) minimal ist, d.&#x202f;h. \(\widetilde {T}\) legt die Eigenschaften von \(\widetilde {w}\) fest (und nicht die Realisierung).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Fu&#x0308;r \(t \ge 0\) gilt \(\EE [\widetilde {w}(t)] = 0\). Wenn \(\tau \in \real \) fest ist, dann betrachtet man die asymptotische Kovarianz-Matrix von \(\widetilde {w}(t)\) und \(\widetilde {w}(t + \tau
)\), d.&#x202f;h. \(R(\tau ) := \lim _{t \to \infty } \EE [\widetilde {w}(t + \tau ) \widetilde {w}(t)^T]\).
</p>

<p>
<b>Satz (algebraische Berechnung von \(R(\tau )\))</b>: Seien \(\widetilde {A}\) eine Hurwitz-Matrix und \(\widetilde {P}\) die Regelbarkeits-Gram-Matrix von \((\widetilde {A}, \widetilde {B})\) (d.&#x202f;h.
die eindeutige Lo&#x0308;sung von \(\widetilde {A} \widetilde {P} + \widetilde {P} \widetilde {A}^T + \widetilde {B} \widetilde {B}^T = 0\)).<br />
Dann gilt \(R(\tau ) = \widetilde {C} e^{\widetilde {A}\tau } \widetilde {P} \widetilde {C}^T\) fu&#x0308;r \(\tau \ge 0\) und \(R(\tau ) = \widetilde {C} \widetilde {P} e^{-\widetilde {A}^T\tau }
\widetilde {C}^T\) fu&#x0308;r \(\tau &lt; 0\).
</p>

<p>
Insbesondere gilt \(R(-\tau )^T = R(\tau )\). Weil \(\widetilde {A}\) eine Hurwitz-Matrix ist, fa&#x0308;llt \(R(\tau )\) fu&#x0308;r \(\tau \rightarrow \pm \infty \) exponentiell ab und hat daher eine
wohldefinierte Fourier-Transformierte.
</p>

<p>
<b>Spektraldichte</b>:<br />
Die Fourier-Transformierte \(\widehat {R}\) von \(R\) heißt <em><span class="dashuline" >Spektraldichte (spectral density)</span></em> des Prozesses \(\widetilde {w}\).
</p>

<p>
<b>Satz (Spektraldichte)</b>: Die Spektraldichte von \(\widetilde {w}\) ist gegeben durch \(\widehat {R}(\iu \omega ) = \widetilde {T}(\iu \omega ) \widetilde {T}(\iu \omega )^\ast \).<br />
Insbesondere ist \(\widehat {R}(\iu \omega )\) hermitesch und positiv semidefinit fu&#x0308;r alle \(\omega \in \real \).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Bestimmung von Farbfiltern</b>: Die Bestimmung von Farbfiltern in der Praxis la&#x0308;uft folgendermaßen ab. Zuna&#x0308;chst scha&#x0308;tzt man durch Messungen statistisch die Spektraldichte \(\widehat
{R}(\iu \omega )\) des Prozesses. Anschließend approximiert man die experimentell ermittelte Spektraldichte durch \(G(\iu \omega )\), wobei \(G(s)\) eine reell-rationale, echt propere Funktion ohne Pole auf \(\complex ^0\)
ist, sodass \(G(\iu \omega ) = G(\iu \omega )^\ast \) und \(G(\iu \omega ) \psd \) fu&#x0308;r alle \(\omega \in \real \). Schließlich erha&#x0308;lt man den Farbfilter durch <em><span class="dashuline"
>Spektralfaktorisierung (spectral factorization)</span></em>.
</p>

<p>
<b>Satz (Spektralfaktorisierung)</b>: Sei \(G(s)\) eine reell-rationale, echt propere Funktion ohne Pole auf \(\complex ^0\), sodass \(G(\iu \omega ) = G(\iu \omega )^\ast \) und \(G(\iu \omega ) \psd \)
fu&#x0308;r alle \(\omega \in \real \).<br />
Dann gibt es eine echt propere und stabile U&#x0308;bertragungsmatrix \(T\) mit \(G(s) = T(s) T(-s)^T\).
</p>

<p>
Insbesondere gilt also \(G(\iu \omega ) = T(\iu \omega ) T(\iu \omega )^\ast \), d.&#x202f;h. \(T\) ist ein Farbfilter zur Modellierung von Rauschen mit der Spektraldichte \(G\), wie gewu&#x0308;nscht. Man nennt \(T\)
einen <em><span class="dashuline" >Spektralfaktor (spectral factor)</span></em> von \(G\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Antwort auf farbiges Rauschen</b>: Die Antwort des linearen Systems<br />
\(\dot {x} = Ax + B\widetilde {w}\), \(z = Cx + D\widetilde {w}\), \(x(0) = \xi \), das durch farbiges Rauschen betrieben wird, ist definiert durch den Ausgang von \(\smallpmatrix {\dot {x} \\ \dotwidetilde
{x}} = \smallpmatrix {A &amp; B\widetilde {C} \\ 0 &amp; \widetilde {A}} \smallpmatrix {x \\ \widetilde {x}} + \smallpmatrix {0 \\ \widetilde {B}} \dot {W}\), \(z = \smallpmatrix {C &amp;
D\widetilde {C}} \smallpmatrix {x \\ \widetilde {x}}\), \(\smallpmatrix {x(0) \\ \widetilde {x}(0)} = \smallpmatrix {\xi \\ 0}\).
</p>

<p>
Die Antwort eines linearen Systems auf farbiges Rauschen wird also auf die Antwort auf weißes Rauschen und auf die Reihenschaltung des Systems und des Farbfilters reduziert.
</p>



<h2 id="das-h2-regelungsproblem-und-lqg-regelung">Das H₂-Regelungsproblem und LQG-Regelung</h2>

</p>


<p>
Gegeben sei wieder die verallgemeinerte Anlage \(\dot {x} = Ax + B_w w + Bu\), \(z = C_z x + D_{zw} w + D_z u\), \(y = Cx + D_w w + Du\) mit einem Sto&#x0308;reingang \(w\) (der nicht beeinflusst werden kann),
einem Steuereingang \(u\), einem Leistungsausgang \(z\) (der gegen Null gehen soll) und einem Messausgang \(y\). Das Ziel ist es, einen Ru&#x0308;ckfu&#x0308;hrungsregler zu finden, der das System stabilisiert und die
\(H_2\)-Norm der U&#x0308;bertragungsmatrix des geschlossenen Regelkreises minimiert. Der Einfachheit halber nimmt man \(D_{zw} = 0\) und \(D = 0\) an.
</p>

<p>
<b>\(H_2\)-Regelungsproblem</b>: Seien ein System durch \(\dot {x} = Ax + B_w w + Bu\), \(z = C_z x + D_z u\), \(y = Cx + D_w w\) und ein Regler durch \(\dot {x}_K = A_K x_K + B_K y\), \(u = C_K x_K\)
gegeben. Das geregelte System \(\dot {\xi } = \A \xi + \B w\), \(z = \C \xi \) la&#x0308;sst sich mit \(\A := \smallpmatrix {A &amp; BC_K \\ B_K C &amp; A_K}\), \(B := \smallpmatrix {B_w \\ B_K D_w}\) und
\(C := \smallpmatrix {C_z &amp; D_z C_K}\) beschreiben. Die Aufgabe ist es, \(A_K, B_K, C_K\) so zu finden, dass \(\A \) eine Hurwitz-Matrix ist und \(\norm {\C (sI - \A )^{-1} \B }_2\) minimal ist. Dieses Problem
heißt <em><span class="dashuline" >\(H_2\)-Regelungsproblem (\(H_2\)-control problem)</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Herleitung der LQG-Regelung</b>: Sei das System \(\dot {x} = Ax + B_1 \dot {W}_1 + Bu\) mit Steuereingang \(u\) und Prozessrauschen \(B_1 \dot {W}_1\) gegeben, außerdem seien die Messungen \(Cx\) durch
weißes Rauschen \(\dot {W}_2\) gesto&#x0308;rt, d.&#x202f;h. \(y = Cx + D_2 \dot {W}_2\) (mit unabha&#x0308;ngigen Wiener-Prozessen \(W_1, W_2\)). Wie bei der LQ-Regelung will man Linearkombinationen \(C_1 x\)
und \(D_1 u\) der Zusta&#x0308;nde bzw. der Steuerung klein halten, d.&#x202f;h. man wa&#x0308;hlt \(z = \smallpmatrix {C_1 x \\ D_1 u}\) als Leistungsausgang. Das Ziel der LQG-Regelung ist es, einen stabilisierenden
Regler zu finden, der die asymptotische Varianz<br />
\(\lim _{t \to \infty } \Spur (\cov (z(t), z(t)))\) des Leistungsausgangs minimiert.
</p>

<p>
<b>LQG-Regelung</b>:<br />
Sei das System \(\dot {x} = Ax + \smallpmatrix {B_1 &amp; 0} w + Bu\), \(z = \smallpmatrix {C_1 \\ 0} x + \smallpmatrix {0 \\ D_1} u\), \(y = Cx + \smallpmatrix {0 &amp; D_2} w\) gegeben.<br />
Die Aufgabe ist es, einen stabilisierenden Ausgangsru&#x0308;ckfu&#x0308;hrungs-Regler zu finden, der die asymptotische Varianz von \(z\) fu&#x0308;r weißes Rauschen \(w\) minimiert.<br />
Dieses Problem heißt <em><span class="dashuline" >LQG-optimales Regelungsproblem (linear-quadratic-<span class="textsc" >Gauß</span>ian)</span></em>.
</p>

<p>
Nach obiger Folgerung gilt \(\lim _{t \to \infty } \Spur (\cov (z(t), z(t))) = \norm {T}_2^2\) mit \(T\) der U&#x0308;bertragungsmatrix des geschlossenen Regelkreises, d.&#x202f;h. LQG-Regelung ist im
\(H_2\)-Regelungsproblem enthalten.
</p>

<p>
Wenn \(\dot {W}_1\) kein weißes, sondern farbiges Rauschen \(\widetilde {w}_1\) ist, dann muss man den Farbfilter<br />
\(T(s) = \widetilde {C} (sI - \widetilde {A})^{-1} \widetilde {B}\) in die verallgemeinerte Anlage einbauen und dann das \(H_2\)-Problem fu&#x0308;r die entstehende gewichtete verallgemeinerte Anlage
lo&#x0308;sen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Herleitung eines Zustandsru&#x0308;ckfu&#x0308;hrungs-Reglers</b>: Sei zuna&#x0308;chst \(y = x\), d.&#x202f;h.<br />
\(\dot {x} = Ax + B_w w + Bu\), \(z = C_z x + D_z u\). Der Regler \(u = -Fx\) fu&#x0308;hrt zum geschlossenen Regelkreis \(\dot {x} = (A - BF)x + B_w w\), \(z = (C_z - D_z F)x\). Das Ziel ist die Minimierung
von<br />
\(\norm {(C_z - D_z F)(sI - A + BF)^{-1} B_w}_2\) u&#x0308;ber alle \(F\), sodass \(\Eig (A - BF) \subset \complex ^-\).
</p>

<p>
<b>Satz (\(H_2\)-optimale Regelung durch Zustandsru&#x0308;ckfu&#x0308;hrung)</b>: Seien
</p>
<ul style="list-style-type:none">

<li class="list-item-f10"><p>\((A, B)\) stabilisierbar,
</p>
</li>
<li class="list-item-f11"><p>\((A, C_z)\) habe keine unbeobachtbaren Eigenwerte in \(\complex ^0\) und
</p>
</li>
<li class="list-item-f12"><p>\(D_z^T \smallpmatrix {C_z &amp; D_z} = \smallpmatrix {0 &amp; I}\).
</p>
</li>
</ul>

<p>
Außerdem sei \(P\) die stabilisierende Lo&#x0308;sung der ARE \(A^T P + PA - PBB^T P + C_z^T C_z = 0\).<br />
Dann gilt fu&#x0308;r \(\gamma _\opt := \min _{F,\;\Eig (A-BF)\subset \complex ^-} \norm {(C_z - D_z F)(sI - A + BF)^{-1} B_w}_2^2\), dass<br />
\(\gamma _\opt = \Spur (B_w^T P B_w)\), wobei der optimale Wert fu&#x0308;r \(F = B^T P\) angenommen wird.
</p>



<h2 id="kalman-filter-und-h2-optimale-beobachter"><span style="font-variant: small-caps;">Kalman</span>-Filter und H₂-optimale Beobachter</h2>

</p>


<p>
Gegeben sei wieder \(\dot {x} = Ax + B_w w + Bu\), \(z = C_z x + D_z u\), \(y = Cx + D_w w\). Wenn \(w = 0\) gilt, dann ist \(\dotwidehat {x} = A\widehat {x} + Bu + L(y - \widehat {y})\), \(\widehat {z} =
C_z \widehat {x} + D_z u\), \(\widehat {y} = C\widehat {x}\) ein Beobachter fu&#x0308;r dieses System, wobei \(L\) so gewa&#x0308;hlt ist, dass \(A - LC\) eine Hurwitz-Matrix ist (dann rekonstruiert der Beobachter
den Zustand des Systems asymptotisch).
</p>

<p>
<b><span class="textsc" >Kalman</span>-Filter</b>: Wenn \(w\) nicht verschwindet und stattdessen weißes Rauschen ist, dann ist \(\text {(err)} := \lim _{t \to \infty } \EE [(z(t) - \widehat {z}(t))^T (z(t)
- \widehat {z}(t))]\) ein Maß dafu&#x0308;r, wie gut \(\widehat {z}\) den Leistungsausgang \(z(t)\) fu&#x0308;r \(t \to \infty \) approximiert. Ein Beobachter, der (err) minimiert, heißt <em><span
class="dashuline" ><span class="textsc" >Kalman</span>-Filter</span></em> fu&#x0308;r die verallgemeinerte Anlage.
</p>

<p>
Indem man den Zustandsfehler \(\xi = x - \widehat {x}\) betrachtet, kann man leicht die Beschreibung<br />
\(\dot {\xi } = (A - LC)\xi + (B_w - LD_w) w\), \(z - \widehat {z} = C_z \xi \) fu&#x0308;r die U&#x0308;bertragungsmatrix von \(w\) nach \(z - \widehat {z}\) herleiten.
</p>

<p>
<b>\(H_2\)-Beobachterproblem</b>: Die Aufgabe ist es, \(L\) so zu finden, dass \(A - LC\) eine Hurwitz-Matrix ist und die \(H_2\)-Norm der U&#x0308;bertragungsmatrix von \(w\) nach \(z - \widehat {z}\) minimal ist.<br
/>
Dieses Problem heißt <em><span class="dashuline" >\(H_2\)-Beobachterproblem (\(H_2\)-optimal observer synthesis problem)</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (\(H_2\)-optimaler Beobachter)</b>: Seien
</p>
<ul style="list-style-type:none">

<li class="list-item-f13"><p>\((A, C)\) entdeckbar,
</p>
</li>
<li class="list-item-f14"><p>\((A, B_w)\) habe keine unregelbaren Eigenwerte in \(\complex ^0\) und
</p>
</li>
<li class="list-item-f15"><p>\(D_w \smallpmatrix {B_w^T &amp; D_w^T} = \smallpmatrix {0 &amp; I}\).
</p>
</li>
</ul>

<p>
Außerdem sei \(Q\) die stabilisierende Lo&#x0308;sung der ARE \(AQ + QA^T - QC^T CQ + B_w B_w^T = 0\).<br />
Dann gilt fu&#x0308;r \(\gamma _\opt := \min _{L,\;\Eig (A-LC)\subset \complex ^-} \norm {C_z (sI - A + LC)^{-1} (B_w - LD_w)}_2^2\), dass<br />
\(\gamma _\opt = \Spur (C_z Q C_z^T)\), wobei der optimale Wert fu&#x0308;r \(L = QC^T\) angenommen wird.
</p>

<p>
Wegen der stochastischen Interpretation der \(H_2\)-Norm minimieren \(H_2\)-optimale Beobachter die asymptotische Varianz von \(z - \widehat {z}\), wenn \(w\) weißes Rauschen ist. Damit ist der optimale Beobachter der
Kalman-Filter.
</p>



<h2 id="h2-optimale-regelung-mit-ausgangsrueckfuehrung">H₂-optimale Regelung mit Ausgangsrückführung</h2>

</p>


<p>
<b>Satz (Lo&#x0308;sung des \(H_2\)-Regelungsproblems)</b>: Seien
</p>
<ul style="list-style-type:none">

<li class="list-item-f16"><p>\((A, B)\) stabilisierbar und \((A, C)\) entdeckbar,
</p>
</li>
<li class="list-item-f17"><p>\((A, C_z)\) habe keine unbeobachtbaren Eigenwerte in \(\complex ^0\) und<br />
\((A, B_w)\) habe keine unregelbaren Eigenwerte in \(\complex ^0\) und
</p>
</li>
<li class="list-item-f18"><p>\(D_z^T \smallpmatrix {C_z &amp; D_z} = \smallpmatrix {0 &amp; I}\) und \(D_w \smallpmatrix {B_w^T &amp; D_w^T} = \smallpmatrix {0 &amp; I}\).
</p>
</li>
</ul>

<p>
Außerdem sei \(P\) die stabilisierende Lo&#x0308;sung der ARE \(A^T P + PA - PBB^T P + C_z^T C_z = 0\) sowie \(Q\) die stabilisierende Lo&#x0308;sung der ARE \(AQ + QA^T - QC^T CQ + B_w B_w^T = 0\)<br />
Dann lo&#x0308;st der Regler \(\dot {x}_K = (A - BB^T P - QC^T C) x_K + QC^T y\), \(u = -B^T P x_K\) das \(H_2\)-Regelungsproblem und die zugeho&#x0308;rige optimale \(H_2\)-Norm des geschlossenen Regelkreises
ist gleich<br />
\(\sqrt {\Spur (B_w^T P B_w) + \Spur (B^T PQPB)}\).
</p>

<p>
Die erste Voraussetzung ist notwendig fu&#x0308;r die Existenz eines stabilisierenden Reglers. Die zweite Voraussetzung ist notwendig fu&#x0308;r die Existenz der stabilisierenden Lo&#x0308;sungen \(P\) und \(Q\) der AREs.
Bei der dritten Voraussetzung ist nur wichtig, dass \(D_z\) und \(D_w\) vollen Spalten- bzw. Zeilenrang besitzen (die anderen Eigenschaften vereinfachen nur die Formeln).
</p>

<a id="linear-control-theory-autofile-last"></a>
{% endraw %}
</div>
{:/nomarkdown}
