
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\newcommand {\B }{\mathcal {B}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\newcommand {\E }{\mathcal {E}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\diag }{\operatorname {diag}}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\newcommand {\Kern }{\operatorname {Kern}}\)

\(\newcommand {\Eig }{\operatorname {Eig}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\trace }{\operatorname {trace}}\)

\(\newcommand {\rg }{\operatorname {rg}}\)

\(\newcommand {\psd }{\succcurlyeq 0}\)

\(\newcommand {\pd }{\succ 0}\)

\(\newcommand {\nsd }{\preccurlyeq 0}\)

\(\newcommand {\nd }{\prec 0}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\GL }{\text {GL}}\)

\(\newcommand {\const }{\text {const}}\)

\(\newcommand {\esssup }{\operatorname {ess\,sup}}\)

\(\newcommand {\Spur }{\operatorname {Spur}}\)

\(\newcommand {\cov }{\operatorname {cov}}\)

\(\newcommand {\opt }{{\text {opt}}}\)

\(\newcommand {\dotwidehat }[1]{{\dot {\widehat {#1}}}}\)

\(\newcommand {\dotwidetilde }[1]{{\dot {\widetilde {#1}}}}\)

\(\newcommand {\modelscale }{0.85}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="konstruktion-von-realisationen">Konstruktion von Realisationen</h2>

</p>


<p>
<b>Realisationsproblem</b>: Sei eine <em><span class="dashuline" >U&#x0308;bertragungsmatrix (transfer matrix)</span></em> \(G(s)\) gegeben, d.&#x202f;h. eine \((k \times m)\)-Matrix von properen, reellen,
rationalen Funkionen.<br />
Das <em><span class="dashuline" >Realisationsproblem (realization problem)</span></em> besteht darin, Matrizen \(A \in \real ^{n \times n}\), \(B \in \real ^{n \times m}\), \(C \in \real ^{k \times n}\) und
\(D \in \real ^{k \times m}\) zu finden, sodass \(G(s) = C(sI - A)^{-1} B + D\).
</p>

<p>
Die Bestimmung von \(D\) ist trivial: Weil \((sI - A)^{-1}\) echt proper ist, gilt \(\lim _{\omega \to \infty } C(\iu \omega - A)^{-1} B = 0\), d.&#x202f;h. man muss \(D := \lim _{\omega \to \infty } G(\iu
\omega )\) wa&#x0308;hlen. Durch das so bestimmte \(D\) muss nur noch eine Realisierung der echt properen U&#x0308;bertragungsmatrix \(G(s) - D\) als \(C(sI - A)^{-1} B\) gefunden werden, d.&#x202f;h. ohne
Einschra&#x0308;nkung reicht es, nur Realisierungen fu&#x0308;r echt propere U&#x0308;bertragungsmatrizen \(G(s)\) zu konstruieren. In der Praxis gilt sowieso oft \(D = 0\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>SISO-U&#x0308;bertragungsfunktionen</b>: Wenn \(g(s)\) eine propere U&#x0308;bertragungsfunktion ist<br />
(also \(k = m = 1\)), dann gilt \(g(s) = \frac {\beta _1 s^{n-1} + \dotsb + \beta _{n-1} s + \beta _n} {s^n + \alpha _1 s^{n-1} + \dotsb + \alpha _{n-1} s + \alpha _n} + d\). Man kann direkt
nachrechnen, dass die folgenden beiden Formen tatsa&#x0308;chlich Realisierungen sind. In der Praxis sollten sie jedoch nicht verwendet werden, da sie fu&#x0308;r große Systeme schlecht zu berechnen sind.
</p>

<p>
<b>Satz (regelbar-kanonische Realisierung)</b>:<br />
\(A := \smallpmatrix {-\alpha _1 &amp; -\alpha _2 &amp; \cdots &amp; -\alpha _n \\ 1 &amp; 0 &amp; &amp; &amp; \\ &amp; \ddots &amp; \ddots &amp; &amp; \\ 0 &amp; &amp; 1 &amp; 0}\), \(B :=
\smallpmatrix {1 \\ 0 \\ \vdots \\ 0}\), \(C := \smallpmatrix {\beta _1 &amp; \beta _2 &amp; \cdots &amp; \beta _n}\), \(D := d\)<br />
ist eine Realisierung der U&#x0308;bertragungsfunktion \(g(s)\) und heißt<br />
<em><span class="dashuline" >regelbar-kanonische Realisierung (controllability canonical realization)</span></em>.
</p>

<p>
<b>Satz (beobachtbar-kanonische Realisierung)</b>:<br />
\(A := \smallpmatrix {-\alpha _1 &amp; 1 &amp; &amp; &amp; 0 \\ -\alpha _2 &amp; 0 &amp; 1 &amp; &amp; \\ \vdots &amp; &amp; \ddots &amp; \ddots &amp; \\ -\alpha _{n-1} &amp; &amp; &amp; 0
&amp; 1 \\ -\alpha _n &amp; &amp; &amp; &amp; 0}\), \(B := \smallpmatrix {\beta _1 \\ \beta _2 \\ \vdots \\ \beta _{n-1} \\ \beta _n}\), \(C := \smallpmatrix {1 &amp; 0 &amp; \cdots &amp; 0}\),
\(D := d\)<br />
ist eine Realisierung der U&#x0308;bertragungsfunktion \(g(s)\) und heißt<br />
<em><span class="dashuline" >beobachtbar-kanonische Realisierung (observability canonical realization)</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Im Folgenden bedeutet \(G(s) \rightsquigarrow (A, B, C, D)\), dass \(G(s) = C(sI - A)^{-1} B + D\), d.&#x202f;h. \((A, B, C, D)\) ist eine Realisierung von \(G(s)\).
</p>

<p>
<b>Reihen-/Parallelschaltung</b>:<br />
Wenn \(G_1(s) \rightsquigarrow (A_1, B_1, C_1, D_1)\) und \(G_2(s) \rightsquigarrow (A_2, B_2, C_2, D_2)\), dann gilt
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(G_2(s) G_1(s) \rightsquigarrow \left (\smallpmatrix {A_1 &amp; 0 \\ B_2 C_1 &amp; A_2}, \smallpmatrix {B_1 \\ B_2 D_1}, \smallpmatrix {D_2 C_1 &amp; C_2}, D_2 D_1\right )\) (<em><span
class="dashuline" >Reihenschaltung</span></em>),
</p>
</li>
<li class="list-item-f1"><p>\(G_1(s) + G_2(s) \rightsquigarrow \left (\smallpmatrix {A_1 &amp; 0 \\ 0 &amp; A_2}, \smallpmatrix {B_1 \\ B_2}, \smallpmatrix {C_1 &amp; C_2}, D_1 + D_2\right )\) (<em><span
class="dashuline" >Parallelschaltung</span></em>),
</p>
</li>
<li class="list-item-f2"><p>\(\smallpmatrix {G_1(s) \\ G_2(s)} \rightsquigarrow \left (\smallpmatrix {A_1 &amp; 0 \\ 0 &amp; A_2}, \smallpmatrix {B_1 \\ B_2}, \smallpmatrix {C_1 &amp; 0 \\ 0 &amp; C_2}, \smallpmatrix
{D_1 \\ D_2}\right )\) (<em><span class="dashuline" >Stapelung</span></em>) und
</p>
</li>
<li class="list-item-f3"><p>\(\smallpmatrix {G_1(s) &amp; G_2(s)} \rightsquigarrow \left (\smallpmatrix {A_1 &amp; 0 \\ 0 &amp; A_2}, \smallpmatrix {B_1 &amp; 0 \\ 0 &amp; B_2}, \smallpmatrix {C_1 &amp; C_2},
\smallpmatrix {D_1 &amp; D_2}\right )\) (<em><span class="dashuline" >Konkatenation</span></em>).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>MIMO-U&#x0308;bertragungsmatrizen</b>: Eine allgemeine U&#x0308;bertragungsmatrix \(G(s)\) la&#x0308;sst sich schreiben als Matrix \(G(s) = (g_{\nu \mu }(s))_{\nu =1,\dotsc ,k,\;\mu =1,\dotsc ,m}\)
von U&#x0308;bertragungsfunktionen \(g_{\nu \mu }(s)\). Dies la&#x0308;sst sich auch schreiben als \(G(s) = \sum _\nu \sum _\mu e_\nu g_{\nu \mu }(s) e_\mu ^T\) mit \(e_i\) dem \(i\)-ten Einheitsvektor. Mit
obigen Realisierungen bestimmt man \(g_{\nu \mu }(s) \rightsquigarrow (A_{\nu \mu }, B_{\nu \mu }, C_{\nu \mu }, D_{\nu \mu })\). Dann bestimmt sich eine Realisierung von \(e_\nu g_{\nu \mu }(s) e_\mu
^T\) durch Reihenschaltung eines hohen, statischen SIMO-Systems, einer SISO-Transferfunktion und eines breiten, statischen MISO-Systems: \((A_{\nu \mu }, B_{\nu \mu } e_\mu ^T, e_\nu C_{\nu \mu }, e_\nu D_{\nu
\mu } e_\mu ^T)\) (damit gilt \(e_\nu C_{\nu \mu } (sI - A_{\nu \mu })^{-1} B_{\nu \mu } e_\mu ^T + e_\nu D_{\nu \mu } e_\mu ^T = e_\nu g_{\nu \mu }(s) e_\mu ^T\)). Durch Parallelschaltung
la&#x0308;sst sich dann eine Realisierung der Summe \(G(s)\) bestimmen. Die resultierende Realisierung hat die Systemmatrix \(A := \diag (A_{11}, \dotsc , A_{km})\) mit Dimension \(\dim (A) = \sum _{\nu ,\mu }
n_{\nu \mu }\) mit \(n_{\nu \mu } := \dim (A_{\nu \mu })\) dem Nennergrad von \(g_{\nu \mu }(s)\).
</p>

<p>
<b>Variante</b>: Eine Variante mit kleinerer Systemmatrix ist folgende. Seien \(d_1(s), \dotsc , d_k(s)\) die Hauptnenner der Zeilen von \(G(s)\), d.&#x202f;h. \(G(s) = (n_{\nu \mu }(s)/d_\nu (s))_{\nu =1,\dotsc
,k,\;\mu =1,\dotsc ,m}\). Falls man eine Realisierung \(\frac {n_{\nu \mu }(s)}{d_\nu (s)} \rightsquigarrow (A_\nu , B_{\nu \mu }, C_\nu , D_{\nu \mu })\) konstruiert (\(C_\nu \) unabha&#x0308;ngig von
\(\mu \) mit der beobachtbar-kanonischen Form), dann gilt \(G(s) \rightsquigarrow (\diag (A_1, \dotsc , A_k), (B_{\nu \mu })_{\nu ,\mu }, \diag (C_1, \dotsc , C_k), (D_{\nu \mu })_{\nu ,\mu })\).<br />
Diese Realisierung hat die Dimension \(\dim (A) = \sum _\nu n_\nu \) mit \(n_\nu := \dim (A_\nu )\) dem Nennergrad der \(\nu \)-ten Zeile. Sie ist also i.&#x202f;A. kleiner wie obige Realisierung (na&#x0308;mlich
genau dann, wenn in einer Zeile mehrere Polstellen in verschiedenen Eintra&#x0308;gen auftauchen).
</p>



<h2 id="minimale-realisierungen">Minimale Realisierungen</h2>

</p>


<p>
Es wurde schon gezeigt, dass es immer Realisierungen von properen U&#x0308;bertragungsmatrizen gibt. Allerdings sind die Realisierungen hochgradig uneindeutig, selbst die Dimension der Systemmatrix kann variieren. Jedoch
existieren stets minimale Realisierungen von \(G(s)\), da es fu&#x0308;r jede U&#x0308;bertragungsmatrix Realisierungen gibt.
</p>

<p>
<b>minimale Realisierung</b>: Eine Realisierung \((A, B, C, D)\) einer U&#x0308;bertragungsmatrix \(G(s)\) heißt <em><span class="dashuline" >minimal</span></em>, falls \(A\) die kleinstmo&#x0308;gliche
Dimension unter allen Realisierungen besitzt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Konstruktion einer minimalen Realisierung</b>: Sei \((A, B, C, D)\) eine Realisierung von \(G(s)\). OBdA kann man nach einer Zustandskoordinaten-Transformation annehmen, dass \((A, B, C, D)\) in RNF ist,
d.&#x202f;h. \(A = \smallpmatrix {A_1 &amp; A_{12} \\ 0 &amp; A_2}\), \(B = \smallpmatrix {B_1 \\ 0}\), \(C = \smallpmatrix {C_1 &amp; C_2}\) mit \((A_1, B_1)\) regelbar (\(G(s)\) a&#x0308;ndert sich
nicht). Es gilt \(G(s) = C_1 (sI - A_1)^{-1} B_1 + D\), d.&#x202f;h. die unregelbaren Eigenwerte fallen weg.
</p>

<p>
Durch eine weitere Transformation ist oBdA \((A_1, B_1, C_1, D)\) in BNF, d.&#x202f;h.<br />
\(A_1 = \smallpmatrix {A_{11} &amp; 0 \\ A_{21} &amp; A_{22}}\), \(B_1 = \smallpmatrix {B_{11} \\ B_{21}}\), \(C_1 = \smallpmatrix {C_{11} &amp; 0}\) mit \((A_{11}, C_{11})\) beobachtbar. Wiederum
gilt<br />
\(G(s) = C_{11} (sI - A_{11})^{-1} B_{11} + D\), d.&#x202f;h. die unbeobachtbaren Eigenwerte fallen weg.
</p>

<p>
Das System \((A_{11}, B_{11}, C_{11}, D)\) ist nicht nur beobachtbar, sondern auch regelbar, denn die Kalman-Matrix \(\smallpmatrix {B_{11} &amp; A_{11} B_{11} &amp; \cdots &amp; A_{11}^{\dim (A_1)-1}
B_{11} \\ \ast &amp; \ast &amp; \cdots &amp; \ast }\) von \((A_1, B_1)\) hat vollen Zeilenrang (weil \((A_1, B_1)\) regelbar ist). Daher muss insbesondere die erste Blockzeile vollen Zeilenrang haben, also auch die
Kalman-Matrix \(\smallpmatrix {B_{11} &amp; A_{11} B_{11} &amp; \cdots &amp; A_{11}^{\dim (A_{11})-1} B_{11}}\) von \((A_{11}, B_{11})\) (wegen \(\dim (A_{11}) \le \dim (A_1)\)).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (Konstruktion von minimalen Realisierungen)</b>: Sei \((A, B, C, D)\) eine Realisierung von \(G(s)\), sodass \((A, B)\) nicht regelbar oder \((A, C)\) nicht beobachtbar ist. Dann kann man eine neue Realisierung
\((A_r, B_r, C_r, D)\) mit \(\dim (A_r) &lt; \dim (A)\) konstruieren, sodass \((A_r, B_r)\) regelbar und \((A_r, C_r)\) beobachtbar ist.
</p>

<p>
<b>Satz (minimale Realisierungen)</b>: Eine Realisierung \((A, B, C, D)\) von \(G(s)\) ist minimal genau dann, wenn \((A, B)\) regelbar und \((A, C)\) beobachtbar ist. Wenn \((\widetilde {A}, \widetilde {B},
\widetilde {C}, \widetilde {D})\) eine weitere minimale Realisierung von \(G(s)\) ist, dann gibt es genau ein \(T\) invertierbar mit \(\widetilde {A} = TAT^{-1}\), \(\widetilde {B} = TB\) und \(\widetilde {C} =
CT^{-1}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >McMillan</span>-Grad/Ordnung</b>:<br />
Sei \((A, B, C, D)\) eine minimale Realisierung der U&#x0308;bertragungsmatrix \(G(s)\).<br />
Die Dimension von \(A\) heißt <em><span class="dashuline" ><span class="textsc" >McMillan</span>-Grad/Ordnung (<span class="textsc" >McMillan</span> degree/order)</span></em> von \(G(s)\).
</p>

<p>
<b>Satz (Pole gleich Eigenwerte einer minimalen Realisierung)</b>:<br />
Sei \((A, B, C, D)\) eine minimale Realisierung der U&#x0308;bertragungsmatrix \(G(s)\).<br />
Dann ist \(\Eig (A)\) gleich der Menge der Polstellen von \(G(s)\).
</p>

<p>
Fu&#x0308;r allgemeine Realisierungen \((A, B, C, D)\) gilt nur \(\text {Polstellen}(G(s)) \subset \Eig (A)\). Weil nur unregelbare oder unbeobachtbare Eigenwerte wegfallen ko&#x0308;nnen, gilt folgendes Korollar.
</p>

<p>
<b>Folgerung</b>: Sei \(G(s) = C(sI - A)^{-1} B + D\). Wenn \(A\) eine Hurwitz-Matrix ist, dann ist \(G(s)\) stabil. Umgekehrt: Wenn \(G(s)\) stabil ist und die Realisierung stabilisierbar und entdeckbar ist, dann ist \(A\)
eine Hurwitz-Matrix.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz (<span class="textsc" >Kalman</span>-Zerlegung)</b>: Jedes System \(\dot {x} = Ax + Bu\), \(y = Cx\) kann durch einen Zustandskoordinaten-Wechsel transformiert werden in<br />
\(\dot {z} = \smallpmatrix {A_1 &amp; 0 &amp; 0 &amp; A_{14} \\ A_{21} &amp; A_2 &amp; A_{23} &amp; A_{24} \\ 0 &amp; 0 &amp; A_3 &amp; A_{34} \\ 0 &amp; 0 &amp; 0 &amp; A_4} z +
\smallpmatrix {B_1 \\ B_2 \\ 0 \\ 0} u\), \(y = \smallpmatrix {C_1 &amp; 0 &amp; 0 &amp; C_4} z\), sodass<br />
\(\left \{\left .\smallpmatrix {z_1 \\ z_2 \\ 0 \\ 0} \;\right |\; z_1, z_2 \in \real \right \}\) der regelbare und \(\left \{\left .\smallpmatrix {0 \\ z_2 \\ z_3 \\ 0} \;\right |\; z_2, z_3 \in
\real \right \}\) der unbeobachtbare Unterraum ist. Die Eigenwerte von \(A_3\) sind sowohl unregelbar als auch unbeobachtbar. Eine minimale Realisierung der entsprechenden U&#x0308;bertragungsmatrix ist gegeben durch
\((A_1, B_1, C_1)\). Diese Zerlegung heißt <em><span class="dashuline" ><span class="textsc" >Kalman</span>-Zerlegung (<span class="textsc" >Kalman</span> decomposition)</span></em>.
</p>

<p>
Genauer sind die EWe von \(A_2, A_3\) unbeobachtbar und die EWe von \(A_3, A_4\) unregelbar.
</p>

<p>
Eine Transformationsmatrix \(S\) mit \(S^{-1} AS\), \(S^{-1} B\) und \(CS\) in der angegebenen Form la&#x0308;sst sich wie folgt konstruieren: Seien die Spalten von \(S_2\) eine Basis von \(N(W) \cap R(K)\). Diese wird mit
\(S_1\) zu einer Basis \(\smallpmatrix {S_1 &amp; S_2}\) von \(R(K)\) und mit \(S_3\) zu einer Basis \(\smallpmatrix {S_2 &amp; S_3}\) von \(N(W)\) erweitert. Dann sind die Spalten von \(\smallpmatrix {S_1 &amp;
S_2 &amp; S_3}\) linear unabha&#x0308;ngig (die Spalten sind aus Dimensionsgru&#x0308;nden eine Basis von \(N(W) + R(K)\)) und ko&#x0308;nnen daher zu einer nicht-singula&#x0308;ren Matrix \(S := \smallpmatrix
{S_1 &amp; S_2 &amp; S_3 &amp; S_4}\) erga&#x0308;nzt werden.
</p>



<h2 id="gram-matrizen-und-hankel-singulaerwerte"><span style="font-variant: small-caps;">Gram</span>-Matrizen und <span style="font-variant: small-caps;">Hankel</span>-Singulärwerte</h2>

</p>


<p>
Sei \(\dot {x} = Ax + Bu\), \(y = Cx\) ein asymptotisch stabiles System. Die Matrizen ko&#x0308;nnen so groß sein, dass man es selbst nicht einmal numerisch simulieren kann. Das Ziel ist es nun, die Dimension von \(A\) zu
verringern, ohne das System zu stark zu vera&#x0308;ndern. Wenn das reduzierte Modell durch<br />
\(\dot {\xi } = A_r x + B_r u\), \(y = C_r x\) beschrieben wird, dann soll \(A_r\) eine Hurwitz-Matrix sein und die stationa&#x0308;ren Antworten fu&#x0308;r sinusfo&#x0308;rmige Einga&#x0308;nge sollen sich
u&#x0308;ber die Frequenz kaum unterscheiden, d.&#x202f;h. \(\exists _{\gamma &gt; 0 \text { klein}} \forall _{\omega \in \real }\; \norm {C (\iu \omega I - A)^{-1} B - C_r (\iu \omega I -
A_r)^{-1} B_r} \le \gamma \), wobei \(\norm {\cdot }\) die Spektralnorm ist. Das bedeutet, dass der Abstand von \(G(s)\) und \(G_r(s)\) in der \(H_\infty \)-Norm klein ist.
</p>

<p>
<b>\(RH_\infty ^{k \times m}\)</b>: Mit \(RH_\infty ^{k \times m}\) wird der Vektorraum aller reellen, rationalen, properen und stabilen U&#x0308;bertragungsmatrizen der Gro&#x0308;ße \(k \times m\) bezeichnet.
</p>

<p>
\(RH_\infty ^{m \times m}\) ist sogar eine Algebra. Allgemeiner gilt \((RH_\infty ^{k \times \ell }) (RH_\infty ^{\ell \times m}) \subset (RH_\infty ^{k \times m})\).
</p>

<p>
<b>\(H_\infty \)-Norm</b>: Die \(H_\infty \)-Norm auf \(RH_\infty ^{k \times m}\) ist definiert durch<br />
\(\norm {G}_\infty := \sup _{\omega \in \real } \norm {G(\iu \omega )} = \sup _{\omega \in \real } \sqrt {\lambda _{\max }(G(\iu \omega )^\ast G(\iu \omega ))}\).
</p>

<p>
\(RH_\infty ^{m \times m}\) ist also eine normierte Algebra. Diese ist allerdings nicht vollsta&#x0308;ndig. Zwei Matrizen \(G, H \in RH_\infty ^{k \times m}\) sind sich nahe in der \(H_\infty \)-Norm, falls \(\norm {G
- H}_\infty \) klein ist. Fu&#x0308;r \(k = m = 1\) bedeutet das, dass die Bode-Plots fu&#x0308;r alle Frequenzen nahe beieinander sind.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Unregelbare oder unbeobachtbare Systeme ko&#x0308;nnen einfach reduziert werden. Dies kann man auch noch anders sehen, wenn man Gram-Matrizen mit unendlicher Grenze betrachtet.
</p>

<p>
<b>Regelbarkeits-/Beobachtbarkeits-<span class="textsc" >Gram</span>-Matrix</b>:<br />
Sei \((A, B, C)\) ein System mit \(A\) einer Hurwitz-Matrix.<br />
Dann ist die <em><span class="dashuline" >Regelbarkeits-<span class="textsc" >Gram</span>-Matrix (controllability <span class="textsc" >Gram</span>ian)</span></em> \(P\) von \((A, B)\) definiert durch die
Lo&#x0308;sung der CGE \(AP + PA^T + BB^T = 0\) und<br />
die <em><span class="dashuline" >Beobachtbarkeits-<span class="textsc" >Gram</span>-Matrix (observability <span class="textsc" >Gram</span>ian)</span></em> \(Q\) von \((A, C)\) definiert durch die
Lo&#x0308;sung der OGE \(A^T Q + QA + C^T C = 0\).
</p>

<p>
\(P, Q \in \real ^{n \times n}\) sind symmetrisch. Nach dem Beweis des Satzes u&#x0308;ber die Lyapunov-Gleichung gilt<br />
\(P = \int _0^\infty e^{At} BB^T e^{A^T t} \dt = \int _0^\infty (e^{At} B) (e^{At} B)^T \dt \) sowie<br />
\(Q = \int _0^\infty e^{A^T t} C^T C e^{At} \dt = \int _0^\infty (C e^{At})^T (C e^{At}) \dt \). Wegen \(BB^T, C^T C \psd \) gilt \(P, Q \psd \).
</p>

<p>
<b>Satz (nicht-triviale Kerne von \(P\) oder \(Q\) ermo&#x0308;glichen eine Modellreduktion)</b>:<br />
\(R(P)\) ist gleich dem regelbaren Unterraum von \((A, B)\) und<br />
\(N(Q)\) ist gleich dem unbeobachtbaren Unterraum von \((A, C)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Im Folgenden nimmt man an, dass \((A, B, C)\) minimal ist. In diesem Fall gilt nach dem Satz \(R(P) = \real ^n\) und \(N(Q) = \{0\}\) (also \(P\) und \(Q\) invertierbar), d.&#x202f;h. \(P, Q \pd \).
</p>

<p>
<b><span class="textsc" >Hankel</span>-Singula&#x0308;rwerte</b>: Sei \((A, B, C)\) eine minimale Realisierung von \(G \in RH_\infty ^{k \times m}\).<br />
Dann sind die <em><span class="dashuline" ><span class="textsc" >Hankel</span>-Singula&#x0308;rwerte</span></em> von \(G\) definiert durch \(\{\sigma _1, \dotsc , \sigma _n\} := \sqrt {\Eig (PQ)}\).<br
/>
Die <em><span class="dashuline" ><span class="textsc" >Hankel</span>-Norm</span></em> von \(G\) ist definiert als \(\max _{\ell =1,\dotsc ,n} \sigma _\ell \).
</p>

<p>
Die Hankel-Singula&#x0308;rwerte sind wohldefiniert, weil \(\Eig (PQ)\) unter Zustandskoordinaten-Transformation invariant bleibt: Seien \(\widetilde {A} := TAT^{-1}\), \(\widetilde {B} := TB\) und \(\widetilde {C}
:= CT^{-1}\) fu&#x0308;r ein \(T \in \GL _n(\real )\). Dann gilt \(\widetilde {P} := \int _0^\infty (e^{\widetilde {A} t} \widetilde {B}) (e^{\widetilde {A} t} \widetilde {B})^T \dt = TPT^T\) sowie
\(\widetilde {Q} = T^{-T} Q T^{-1}\), daher \(\widetilde {P} \widetilde {Q} = T(PQ)T^{-1}\).
</p>

<p>
Eine Matrix \(P\) ist positiv semidefinit genau dann, wenn es eine positiv semidefinite Matrix \(\sqrt {P}\) mit \(\sqrt {P}^2 = P\) gibt. In obigem Fall ist sogar \(P \pd \), d.&#x202f;h. auch \(\sqrt {P} \pd \) (aus \(\sqrt
{P}x = 0\) folgt \(Px = 0\), also \(x = 0\)). Daraus folgt, dass die Eigenwerte von \(PQ\) nicht negativ sind, weil \(PQ = \sqrt {P} \sqrt {P} Q\) und gilt, dass \(\sqrt {P}^{-1} (\sqrt {P} \sqrt {P} Q) \sqrt {P} =
\sqrt {P}^T Q \sqrt {P} \psd \) wegen \(P = P^T\).
</p>



<h2 id="balancierte-realisationen-und-modellreduktion-durch-balanciertes-streichen">Balancierte Realisationen und Modellreduktion durch balanciertes Streichen</h2>

</p>


<p>
Betrachtet wird weiterhin das System \(\dot {x} = Ax + Bu\), \(y = Cx\) mit \(A\) einer Hurwitz-Matrix.
</p>

<p>
<b>Lemma (dynamische Interpretation von \(P\))</b>: \(\xi ^T P^{-1} \xi \) ist die minimale Regelungsenergie \(\int _{-\infty }^0 \norm {u(t)}^2 \dt \), um von \(x(-\infty ) = 0\) zum Zustand \(x(0) = \xi
\) zu kommen.
</p>

<p>
<b>Lemma (dynamische Interpretation von \(Q\))</b>: \(\xi ^T Q \xi \) ist die Ausgangsenergie \(\int _0^\infty \norm {y(t)}^2 \dt \) fu&#x0308;r das ungeregelte System (d.&#x202f;h. \(u \equiv 0\)) mit
Anfangszustand \(x(0) = \xi \).
</p>

<p>
Betrachtet man nur normierte Anfangszusta&#x0308;nde \(\xi \), dann wird \(\max _{\norm {\xi }=1} \xi ^T P^{-1} \xi \) nach dem Lemma von den Anfangszusta&#x0308;nden angenommen, die die meiste Energie
beno&#x0308;tigen, um erreicht zu werden, d.&#x202f;h. diese Zusta&#x0308;nde werden durch Regelungen in der Vergangenheit mit einer bestimmten Energie so wenig wie mo&#x0308;glich beeinflusst. Andererseits wird
\(\min _{\norm {\xi }=1} \xi ^T Q\xi \) von den Anfangszusta&#x0308;nden erreicht, die den Ausgang des ungeregelten Systems in der Zukunft so wenig wie mo&#x0308;glich beeinflussen.
</p>

<p>
Fu&#x0308;r \(P = Q\) sind die normierten Vektoren \(\xi \), die \(\xi ^T P^{-1} \xi \) maximieren, dieselben wie die, die \(\xi ^T Q\xi \) minimieren (weil \(\xi ^T P^{-1} \xi \) genau von den normierten
Eigenvektoren von \(P^{-1}\) zum gro&#x0308;ßten Eigenwert maximiert und \(\xi ^T Q\xi \) genau von den normierten Eigenvektoren von \(Q\) zum kleinsten Eigenwert minimiert wird, fu&#x0308;r \(P = Q\) ist \(\lambda
\in \Eig (Q) \iff \frac {1}{\lambda } \in \Eig (P^{-1})\)).
</p>

<p>
Daher sind die Zusta&#x0308;nde, die von einer Regelung in der Vergangenheit am wenigsten beeinflusst werden, identisch mit denen, die den Ausgang in der Zukunft am wenigsten beeinflussen. Das motiviert die Definition der
balancierten Realisierung. Außerdem kann man erwarten, dass diese Zusta&#x0308;nde mit dem geringsten Einfluss auf das Ein-/Ausgangsverhalten weggelassen werden ko&#x0308;nnen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>balanciert</b>: Eine minimale Realisierung \((A, B, C)\) einer stabilen U&#x0308;bertragungsmatrix \(G\) heißt <em><span class="dashuline" >balanciert</span></em>, falls \(P = Q\).
</p>

<p>
Etwas u&#x0308;berraschend ist der folgende Satz: Es gibt stets eine balancierte Realisierung. Diese kann sogar so gewa&#x0308;hlt werden, dass die zugeho&#x0308;rigen Gram-Matrizen \(P\) und \(Q\) diagonal sind.
</p>

<p>
<b>Satz (Existenz von balancierten Realisierungen mit diagonalen <span class="textsc" >Gram</span>-Matrizen)</b>:<br />
Es gibt eine balancierte Realisierung von \(G\) mit \(P = Q = \Sigma = \diag (\sigma _1, \dotsc , \sigma _n)\), \(\sigma _1 \ge \dotsb \ge \sigma _n\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Wenn die Realisierung balanciert und \(\sigma _{k+1}\) ein kleiner Hankel-Singula&#x0308;rwert ist, dann deutet obige Diskussion an, dass Einheitsvektoren in \(\{(0, \dotsc , 0, \xi _{k+1}, \dotsc , \xi _n) \;|\;
\xi _{k+1}, \dotsc , \xi _n \in \real \}\) keinen großen Einfluss auf das Ein-/Ausgangsverhalten haben.
</p>

<p>
<b>Modellreduktion durch balanciertes Streichen</b>: Seien \((A, B, C)\) eine balancierte Realisierung der stabilen U&#x0308;bertragungsmatrix \(G\) und \(\Sigma = \smallpmatrix {\Sigma _1 &amp; 0 \\ 0 &amp;
\Sigma _2}\) eine Aufteilung von \(\Sigma \) mit \(\min (\Eig (\Sigma _1)) &gt; \max (\Eig (\Sigma _2))\). Wenn man nun \(A = \smallpmatrix {A_1 &amp; A_{12} \\ A_{21} &amp; A_2}\), \(B = \smallpmatrix
{B_1 \\ B_2}\) und \(C = \smallpmatrix {C_1 &amp; C_2}\) entsprechend aufteilt, dann erha&#x0308;lt man die U&#x0308;bertragungsmatrix \(G_1(s) := C_1 (sI - A_1)^{-1} B_1\) von reduziertem Grad durch
<em><span class="dashuline" >Modellreduktion durch balanciertes Streichen</span></em>.
</p>

<p>
<b>Satz (\(A_1\) <span class="textsc" >Hurwitz</span>)</b>: \(A_1\) beim balancierten Streichen ist eine Hurwitz-Matrix.
</p>

<p>
<b>Satz (Fehlerschranke fu&#x0308;r \(\norm {G - G_1}_\infty \))</b>:<br />
Seien \(\lambda _1, \dotsc , \lambda _g\) die paarweise verschiedenen Eigenwerte von \(\Sigma _2\).<br />
Dann gilt \(\norm {G - G_1}_\infty = \sup _{\omega \in \real } \norm {G(\iu \omega ) - G_1(\iu \omega )} \le 2(\lambda _1 + \dotsb + \lambda _g)\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
