
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\renewcommand {\F }{\mathcal {F}}\)

\(\renewcommand {\K }{\mathcal {K}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\newcommand {\T }{\mathcal {T}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\renewcommand {\V }{\mathcal {V}}\)

\(\newcommand {\kk }[1]{\overline {#1}}\)

\(\newcommand {\orth }{\mathbin {\bot }}\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\Lip }{\text {Lip}}\)

\(\newcommand {\unif }{\text {unif}}\)

\(\newcommand {\supp }{\operatorname {supp}}\)

\(\newcommand {\BUC }{\text {BUC}}\)

\(\newcommand {\interior }[1]{\operatorname {int}(#1)}\)

\(\newcommand {\Kern }{\text {Kern}}\)

\(\newcommand {\Bild }{\text {Bild}}\)

\(\newcommand {\pot }{\mathfrak {P}}\)

\(\newcommand {\Lin }{\operatorname {Lin}}\)

\(\newcommand {\id }{\text {id}}\)

\(\newcommand {\dist }{\operatorname {dist}}\)

\(\let \oldorth \orth \renewcommand {\orth }{{\oldorth }}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\renewcommand {\graph }{\text {graph}}\)

\(\newcommand {\codim }{\operatorname {codim}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="poisson-gleichung-mit-dirichlet-randbedingungen"><span style="font-variant: small-caps;">Poisson</span>-Gleichung mit <span style="font-variant: small-caps;">Dirichlet</span>-Randbedingungen</h2>

</p>


<p>
<em>Bemerkung</em>: Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes <em><span class="dashuline" >Normalgebiet</span></em>, d.&#x202f;h. eine beschra&#x0308;nkte, offene, nicht-leere und
zusammenha&#x0308;ngende Teilmenge von \(\real ^n\), sodass der Gaußsche Integralsatz anwendbar ist. Fu&#x0308;r \(f \in \C ^0(\overline {\Omega })\) sei außerdem \(E(w) := \int _\Omega (\frac {1}{2}
|\nabla w|^2 - fw) \dx \).<br />
Zusa&#x0308;tzlich sei \(\A _g := \C ^1_g(\overline {\Omega }) \cap \C ^2(\Omega )\), wobei \(g \in \C ^0(\partial \Omega )\) und \(\C ^1_g(\overline {\Omega }) := \{w \in \C ^1(\overline {\Omega })
\;|\; w|_{\partial \Omega } = g\}\).<br />
Das <em><span class="dashuline" >Minimumproblem</span></em> lautet nun: Nimmt \(E\) auf \(\A _g\) ein Minimum an?
</p>

<p>
Beispiele aus der Physik beinhalten eingespannte Membranen im Schwerefeld der Erde, elektrische Potentiale oder stationa&#x0308;re Temperaturverteilungen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Die Lo&#x0308;sung (falls existent) la&#x0308;sst sich wie folgt charakterisieren.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Charakterisierung der Lo&#x0308;sung des Minimumproblems</span>):</span> Fu&#x0308;r \(u \in \A _g\) sind a&#x0308;quivalent:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(E(u) = \min _{w \in \A _g} E(w)\)
</p>
</li>
<li class="list-item-f1"><p>\(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; \int _\Omega (\nabla u \nabla \varphi - f \varphi )\dx = 0\)
</p>
</li>
<li class="list-item-f2"><p>\(-\Delta u = f\) in \(\Omega \), \(u = g\) auf \(\partial \Omega \)
</p>
</li>
</ul>

<p>
<em>Lemma</em> (<span class="textsl" >Fundamentallemma der Variationsrechnung</span>): Sei \(f \in \C ^0(\Omega )\).<br />
Dann gilt \(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; \int _\Omega f\varphi \dx = 0\) genau dann, wenn \(f \equiv 0\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" ><span class="textsc" >Green</span>sche Formel</span>): Fu&#x0308;r alle \(u, w \in \C ^2(\overline {\Omega })\) gilt<br />
\(\int _\Omega \nabla u \nabla w \dx = -\int _\Omega (\Delta u) w \dx + \int _{\partial \Omega } \frac {\partial u}{\partial \nu } w do\), wobei \(\frac {\partial u}{\partial \nu }\) die Ableitung
von \(u\) in Richtung des a&#x0308;ußeren Einheitsnormalenvektors ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: „<em>(1)</em> \(\Rightarrow \) <em>(2)</em>“ kann man wie folgt beweisen: Fu&#x0308;r \(\varphi \in \C ^\infty _c(\Omega )\) und \(h &gt; 0\) gilt<br />
\(E(u) \le E(u \pm h\varphi ) = \int _\Omega (\frac {1}{2} |\nabla (u \pm h\varphi )|^2 - f(u \pm h\varphi )) \dx \)<br />
\(= \int _\Omega (\frac {1}{2} |\nabla u|^2 + \frac {h^2}{2} |\nabla \varphi |^2 \pm h \nabla u \nabla \varphi - fu \mp h f\varphi ) \dx = E(u) \pm h \int _\Omega (\nabla u \nabla \varphi -
f\varphi ) \dx + \frac {h^2}{2} \int _\Omega |\nabla \varphi |^2 \dx \), also \(0 \le \pm \int _\Omega (\nabla u \nabla \varphi - f\varphi ) \dx + \frac {h}{2} \int _\Omega |\nabla \varphi |^2
\dx \). Fu&#x0308;r \(h \to 0\) fa&#x0308;llt der zweite Summand weg und man erha&#x0308;lt \(0 \le \pm \int _\Omega (\nabla u \nabla \varphi - f\varphi ) \dx \).
</p>

<p>
„<em>(2)</em> \(\iff \) <em>(3)</em>“ sieht man wie folgt: Mit der Greenschen Formel ist (2) a&#x0308;quivalent zu<br />
\(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; 0 = \int _\Omega (\nabla u \nabla \varphi - f\varphi ) \dx = \int _\Omega (-\Delta u - f) \varphi \dx \), weil das Integral u&#x0308;ber \(\partial
\Omega \) wegfa&#x0308;llt (da \(\varphi = 0\) auf \(\partial \Omega \)). Nach dem Fundamentallemma der Variationsrechnung ist dies a&#x0308;quivalent zu \(-\Delta u = f\) in \(\Omega \). \(u = g\) auf \(\partial
G\) gilt immer, da \(u \in \A _g\) nach Voraussetzung.
</p>

<p>
„<em>(3)</em> \(\Rightarrow \) <em>(1)</em>“ zeigt man folgendermaßen: Fu&#x0308;r \(w \in \A _g\) beliebig gilt nach der Greenschen Formel \(\int _\Omega (\nabla u \nabla (u - w) - f(u - w))\dx = \int
_\Omega ((-\Delta u)(u - w) - f(u - w)) \dx + \int _{\partial \Omega } \frac {\partial u}{\partial \nu } (u - w) do = 0\), weil \(-\Delta u = f\) in \(\Omega \) und \(u|_{\partial \Omega } =
w|_{\partial \Omega } = g\). Daraus folgt<br />
\(\int _\Omega (|\nabla u|^2 - fu) \dx = \int _\Omega (\nabla u \nabla w - fw) \dx \le \frac {1}{2} \int _\Omega |\nabla u|^2 \dx + \frac {1}{2} \int _\Omega |\nabla w|^2 \dx - \int _\Omega
fw \dx \) wegen der Ungleichung \(0 \le |\nabla u - \nabla w|^2 = |\nabla u|^2 + |\nabla w|^2 - 2 \nabla u \nabla w\).<br />
Damit gilt \(E(u) = \int _\Omega (\frac {1}{2} |\nabla u|^2 - fu) \dx \le \int _\Omega (\frac {1}{2} |\nabla w|^2 - fw) \dx = E(w)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Notwendige Bedingung fu&#x0308;r die Existenz einer Lo&#x0308;sung von <em>(3)</em> (<em><span class="dashuline" ><span class="textsc" >Poisson</span>-Gleichung mit inhomogenen <span
class="textsc" >Dirichlet</span>-Randbedingungen</span></em>) ist die Existenz einer Funktion \(u_g \in \A _g\) (d.&#x202f;h. \(\A _g = \C ^1_g(\overline {\Omega }) \cap \C ^2(\Omega ) \not = \emptyset
\)). Existiert eine solche Funktion, dann ist <em>(3)</em> a&#x0308;quivalent zu \(-\Delta \widetilde {u} = \widetilde {f}\) in \(\Omega \), \(\widetilde {u} = 0\) auf \(\partial \Omega \) mit \(\widetilde {u} :=
u - u_g\), \(\widetilde {f} := f + \Delta u_g\). Daher genu&#x0308;gt es, wenn im Folgenden nur homogene Dirichlet-Randbedingungen (also \(g \equiv 0\)) betrachtet werden. (Achtung: \(\C ^1_g = \C ^1_0\) darf
nicht mit \(\C ^1_c\) verwechselt werden!)
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Nun zeigt man, dass das Minimum u&#x0308;berhaupt existiert.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Poincaré</span>-Ungleichung</span>):</span> Sei \(\Omega \subset \real ^n\) ein Gebiet, das zwischen zwei parallelen
Hyperebenen mit Abstand \(C\) liegt. Dann gilt \(\forall _{u \in \C ^1_0(\overline {\Omega })}\; \norm {u}_{L^2} \le \frac {C}{\sqrt {2}} \norm {\nabla u}_{L^2}\).
</p>

<p>
<em>Bemerkung</em>: Dabei gilt \(\norm {\nabla u}_{L^2}^2 = \sum _{i=1}^n \int _\Omega |\partial _{x_i} u|^2 \dx = \sum _{i=1}^n \norm {\partial _{x_i} u}_{L^2}^2\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >\(\varepsilon \)-Ungleichung</span>): Fu&#x0308;r \(a, b \in \real \) und \(\varepsilon &gt; 0\) gilt \(ab \le \varepsilon a^2 + \frac {b^2}{4\varepsilon }\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Beschra&#x0308;nktheit nach unten</span>):</span> \(E\) ist auf \(\A _0\) nach unten beschra&#x0308;nkt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Da \(E\) auf \(\A _0\) nach unten beschra&#x0308;nkt ist, existiert eine Minimalfolge \((u_n)_{n \in \natural }\) in \(\A _0\). Weil \(\A _0\) konvex ist, kann man wie im Beweis des Projektionssatzes
mithilfe der Parallelogrammgleichung zeigen, dass \((\partial _{x_i} u_n)_{n \in \natural }\) fu&#x0308;r alle \(i = 1, \dotsc , n\) eine Cauchy-Folge bzgl. \(\norm {\cdot }_{L^2}\) ist. Aufgrund der
Poincaré-Ungleichung folgt, dass auch \((u_n)_{n \in \natural }\) eine Cauchy-Folge bzgl. \(\norm {\cdot }_{L^2}\) ist.
</p>

<p>
(\((u_n)_{n \in \natural }\) ist auch eine Cauchy-Folge bzgl. der Norm \(\norm {\cdot }_{H^1}\) mit \(\norm {f}_{H^1} := \norm {f}_{L^2} + \norm {\nabla f}_{L^2}\) sowie bzgl. der (in diesem Fall zur
\(H_1\)-Norm a&#x0308;quivalenten) Norm \(\norm {\cdot }_{H^1_0}\) mit \(\norm {f}_{H^1_0} := \norm {\nabla f}_{L^2}\). Allerdings ist \(\A _0\) bzgl. dieser Normen nicht vollsta&#x0308;ndig.)
</p>

<p>
\(L^2\) ist vollsta&#x0308;ndig, daher existieren \(u \in L^2\) mit \(u_n \xrightarrow {\norm {\cdot }_{L^2}} u\) und „\(\partial _{x_i} u\)“ mit \(\partial _{x_i} u_n \xrightarrow {\norm {\cdot }_{L^2}}
\partial _{x_i} u\). „\(\partial _{x_i} u\)“ ist aber nur eine Schreibweise, i.&#x202f;A. besitzt \(u\) keine partiellen Ableitungen. Zwischen \(u\) und den Funktionen „\(\partial _{x_i} u\)“ besteht folgende Beziehung:
\(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; \int _\Omega (\partial _{x_i} u) \varphi \dx = -\int _\Omega u \partial _{x_i} \varphi \dx \) (weil \(\int _\Omega (\partial _{x_i} u) \varphi
\dx = \lim _{n \to \infty } \int _\Omega (\partial _{x_i} u_n) \varphi \dx = -\lim _{n \to \infty } \int _\Omega u_n (\partial _{x_i} \varphi ) \dx = -\int _\Omega u \partial _{x_i} \varphi
\dx \)). Dies motiviert die Definition der Sobolevra&#x0308;ume.
</p>



<h2 id="sobolevraeume-und-schwache-ableitungen"><span style="font-variant: small-caps;">Sobolev</span>räume und schwache Ableitungen</h2>

</p>


<p>
<b><span class="textsc" >Sobolev</span>raum</b>:&#x2003; Seien \(\Omega \subset \real ^n\) offen, \(m \in \natural \) und \(p \in [1, \infty ]\).<br />
Dann heißt der Vektorraum \(W^{m,p}(\Omega ) := \{f \in L^p(\Omega ) \;|\; \forall _{s \in \natural _0^n,\, |s| \le m} \exists _{f^{(s)} \in L^p(\Omega )}\; f^{(0)} = f,\)<br />
\(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; \int _\Omega (\partial _x^s \varphi ) f \dx = (-1)^{|s|} \int _\Omega \varphi f^{(s)} \dx \}\) <em><span class="dashuline" ><span
class="textsc" >Sobolev</span>raum</span></em> der Ordnung \(m\) mit Exponent \(p\).<br />
\(W^{m,p}(\Omega )\) wird mit der Norm \(\norm {f}_{W^{m,p}(\Omega )} := \sum _{|s| \le m} \norm {f^{(s)}}_{L^p(\Omega )}\) versehen. Fu&#x0308;r \(p = 2\) schreibt man auch \(H^m(\Omega ) :=
W^{m,2}(\Omega )\) bzw. \(\norm {\cdot }_{H^m(\Omega )} := \norm {\cdot }_{W^{m,2}(\Omega )}\).
</p>

<p>
<b>schwache Ableitung</b>:&#x2003; Die Funktionen \(f^{(s)}\) fu&#x0308;r \(|s| \ge 1\) heißen <em><span class="dashuline" >schwache Ableitungen</span></em> von \(f\) und werden mit \(\partial _x^s f :=
f^{(s)}\) bezeichnet.
</p>

<p>
<em>Bemerkung</em>: Eine alternative Definition der Norm lautet \(\norm {f}_{W^{m,p}(\Omega )}’ := \left (\sum _{|s| \le m} \norm {\partial _x^s f}_{L^p(\Omega )}^p\right )^{1/p}\) (bzw. fu&#x0308;r \(p
= \infty \) das Maximum \(\norm {f}_{W^{m,\infty }(\Omega )}’ := \max _{|s| \le m} \norm {\partial _x^s f}_{L^\infty (\Omega )}\)). Allerdings kann man zeigen, dass \(\norm {\cdot }_{W^{m,p}(\Omega
)}\) und \(\norm {\cdot }_{W^{m,p}(\Omega )}’\) a&#x0308;quivalent sind.
</p>

<p>
<b><span class="textsc" >Sobolev</span>raum mit Nullrandwerten</b>:&#x2003; Der Raum \(W_0^{m,p}(\Omega ) := \overline {\C ^\infty _c(\Omega )}^{\norm {\cdot }_{W^{m,p}(\Omega )}}\)
fu&#x0308;r<br />
\(p \in [1, \infty )\) heißt <em><span class="dashuline" ><span class="textsc" >Sobolev</span>raum mit (verallgemeinerten) Nullrandwerten</span></em> der Ordnung \(m\) mit Exponent \(p\). Fu&#x0308;r \(p =
2\) schreibt man auch \(H_0^m(\Omega ) := W_0^{m,2}(\Omega )\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(m = 1\) gilt \(W_0^{1,p}(\Omega ) = \{f \in W^{1,p}(\Omega ) \;|\; f|_{\partial \Omega } = 0\}\).<br />
Fu&#x0308;r \(p = 2\) ist \(\innerproduct {f, g}_{H^m(\Omega )} := \sum _{|s| \le m} \innerproduct {\partial _x^s f, \partial _x^s g}_{L^2(\Omega )} = \sum _{|s| \le m} \int _\Omega (\partial
_x^s f) (\partial _x^s g) \dx \) ein Skalarprodukt auf \(H^m(\Omega )\). Fu&#x0308;r \(m = 1\) und \(p = 2\) ist \(\innerproduct {f, g}_{H^1_0(\Omega )} := \innerproduct {\nabla f, \nabla g}_{L^2(\Omega
)} := \sum _{i=1}^n \int _\Omega (\partial _x^{e_i} f) (\partial _x^{e_i} g) \dx \) mit \(e_i := (0, \dotsc , 0, 1, 0, \dotsc , 0) \in \natural _0^n\) ein Skalarprodukt auf \(H^1_0(\Omega )\).<br />
Es gilt \(\innerproduct {f, g}_{H^1(\Omega )} = \innerproduct {f, g}_{L^2(\Omega )} + \innerproduct {\nabla f, \nabla g}_{L^2(\Omega )}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >schwache Ableitungen</span>):</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Alle schwachen Ableitungen sind eindeutig bestimmt (wenn sie existieren).
</p>
</li>
<li class="list-item-f4"><p>Besitzt \(f \in W^{m,p}(\Omega )\) eine partielle Ableitung \(\partial _x^s f\) mit \(|s| \le m\), dann stimmt \(\partial _x^s f\) fast u&#x0308;berall mit der schwachen Ableitung \(f^{(s)}\)
u&#x0308;berein.
</p>
</li>
</ul>

<p>
<em>Lemma</em> (<span class="textsl" >verallgemeinertes Fundamentallemma der Variationsrechnung</span>):<br />
Seien \(\Omega \subset \real ^n\) offen und \(f \in L^1(\Omega )\).<br />
Dann gilt \(\forall _{\varphi \in \C ^\infty _c(\Omega )}\; \int _\Omega f\varphi \dx = 0\) genau dann, wenn \(f = 0\) f.u&#x0308;.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenschaften der <span class="textsc" >Sobolev</span>ra&#x0308;ume</span>):</span>
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>\((W^{m,p}(\Omega ), \norm {\cdot }_{W^{m,p}(\Omega )})\) ist ein Banachraum. \((H^m(\Omega ), \norm {\cdot }_{H^m(\Omega )})\) ist ein Hilbertraum.
</p>
</li>
<li class="list-item-f6"><p>Fu&#x0308;r \(p \in [1, \infty )\) ist \(W^{m,p}(\Omega )\) separabel.
</p>
</li>
<li class="list-item-f7"><p>\((W^{m,p}(\Omega ), \norm {\cdot }_{W^{m,p}(\Omega )})\) ist (bis auf isometrische Isomorphie) die Vervollsta&#x0308;ndigung der Ra&#x0308;ume \(W^{m,p}(\Omega ) \cap \C ^\infty (\Omega ) =
\{f \in \C ^\infty (\Omega ) \;|\; \norm {f}_{W^{m,p}(\Omega )} &lt; \infty \}\).
</p>
</li>
<li class="list-item-f8"><p>Fu&#x0308;r \(p \in [1, \infty )\) und alle \(f \in W^{m,p}(\Omega )\) gibt es eine Folge \((f_n)_{n \in \natural }\) in \(W^{m,p}(\Omega ) \cap \C ^\infty (\Omega )\) mit \(f_n \xrightarrow
{\norm {\cdot }_{W^{m,p}(\Omega )}} f\), es gilt also \(W^{m,p}(\Omega ) = \overline {W^{m,p}(\Omega ) \cap \C ^\infty (\Omega )}^{\norm {\cdot }_{W^{m,p}(\Omega )}}\) fu&#x0308;r \(p \in [1, \infty
)\).
</p>
</li>
</ul>



<h2 id="schwache-loesung-der-poisson-gleichung-mit-dirichlet-rb">Schwache Lösung der <span style="font-variant: small-caps;">Poisson</span>-Gleichung mit <span style="font-variant: small-caps;">Dirichlet</span>-RB</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >verallgemeinerte <span class="textsc" >Poincaré</span>-Ungleichung</span>):</span> Sei \(\Omega \subset \real ^n\) ein Gebiet, das zwischen zwei
parallelen Hyperebenen mit Abstand \(C\) liegt. Dann gilt \(\forall _{u \in H^1_0(\Omega )}\; \norm {u}_{L^2} \le \frac {C}{\sqrt {2}} \norm {\nabla u}_{L^2}\),<br />
wobei \(\norm {\nabla u}_{L^2} := \left (\sum _{i=1}^n \norm {\partial _{x_i} u}_{L^2}^2\right )^{1/2}\).
</p>

<p>
<b>Folgerung</b>: Die Normen \(\norm {\cdot }_{H^1(\Omega )}\) und \(\norm {\cdot }_{H_0^1(\Omega )}\) auf \(H_0^1(\Omega )\) sind a&#x0308;quivalent, wenn \(\Omega \) ein Gebiet wie im vorherigen Satz ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >schwache Lo&#x0308;sung</span>):</span><br />
Seien \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes Normalgebiet, \(f \in L^2(\Omega )\) und \(E(w) := \int _\Omega (\frac {1}{2} |\nabla w|^2 - fw)\dx \).<br />
Dann besitzt \(E\) auf \(H_0^1(\Omega )\) eine eindeutige Minimalstelle \(u\) und \(u\) ist die eindeutige schwache Lo&#x0308;sung des Dirichlet-Problems fu&#x0308;r die Poisson-Gleichung \(-\Delta u = f\) in \(\Omega
\), \(u = 0\) auf \(\partial \Omega \), d.&#x202f;h. es gilt \(\forall _{\varphi \in H_0^1(\Omega )}\; \int _\Omega (\nabla u \nabla \varphi - f\varphi )\dx = 0\).
</p>

<p>
<em>Bemerkung</em>: Es gibt eine nur von \(\Omega \) abha&#x0308;ngige Konstante \(C &gt; 0\) mit \(\norm {u}_{H^1} \le C \norm {f}_{L^2}\).
</p>



<h2 id="zusatz-poisson-gleichung-mit-neumann-randbedingungen">Zusatz: <span style="font-variant: small-caps;">Poisson</span>-Gleichung mit <span style="font-variant: small-caps;">Neumann</span>-Randbedingungen</h2>

</p>


<p>
<em>Bemerkung</em>: Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes Normalgebiet.<br />
Fu&#x0308;r \(f \in \C ^0(\overline {\Omega })\) und \(g \in \C ^0(\partial \Omega )\) sei außerdem \(E_g(w) := \int _\Omega (\frac {1}{2} |\nabla w|^2 - fw) \dx - \int _{\partial \Omega } gw
do\).<br />
Zusa&#x0308;tzlich sei \(\A := \C ^1(\overline {\Omega }) \cap \C ^2(\Omega )\).
</p>

<p>
Das <em><span class="dashuline" >Minimumproblem</span></em> lautet nun: Nimmt \(E_g\) auf \(\A \) ein Minimum an?
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Charakterisierung der Lo&#x0308;sung des Minimumproblems</span>):</span> Sei \(u \in \A \). Dann sind a&#x0308;quivalent:
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>\(E_g(u) = \min _{w \in \A } E_g(w)\)
</p>
</li>
<li class="list-item-f10"><p>\(\forall _{\varphi \in \C ^\infty (\Omega )}\; \int _\Omega (\nabla u \nabla \varphi - f \varphi )\dx - \int _{\partial \Omega } g\varphi do = 0\)
</p>
</li>
<li class="list-item-f11"><p>\(-\Delta u = f\) in \(\Omega \), \(\frac {\partial u}{\partial \nu } = g\) auf \(\partial \Omega \)
</p>
</li>
</ul>

<p>
In diesem Fall gilt notwendigerweise \(\int _\Omega f\dx + \int _{\partial \Omega } g do = 0\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Poincaré</span>-Ungleichung mit Mittelwert</span>):</span> Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und
konvexes Gebiet mit Durchmesser \(h\). Dann gibt es ein \(C &gt; 0\) mit \(\forall _{u \in \C ^1(\overline {\Omega })}\; \norm {u - Mu}_{L^2} \le Ch \norm {\nabla u}_{L^2}\), wobei \(Mu := \frac {\int
_\Omega u\dx }{\int _\Omega 1\dx }\) der <em><span class="dashuline" >Mittelwert</span></em> von \(u\) auf \(\Omega \) ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Beschra&#x0308;nktheit nach unten</span>):</span> Seien \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und konvexes Normalgebiet und \(\int
_\Omega f\dx + \int _{\partial \Omega } g do = 0\). Dann ist \(E_g\) auf \(\A \) nach unten beschra&#x0308;nkt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >schwache Lo&#x0308;sung</span>):</span> Seien \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und konvexes Normalgebiet,<br />
\(f \in L^2(\Omega )\) mit \(\int _\Omega f\dx = 0\) und \(E_0(w) := \int _\Omega (\frac {1}{2} |\nabla w|^2 - fw)\dx \).<br />
Dann besitzt \(E_0\) auf \(H^1(\Omega )\) eine eindeutige Minimalstelle \(u\) und \(u\) ist die eindeutige schwache Lo&#x0308;sung des Neumann-Problems fu&#x0308;r die Poisson-Gleichung \(-\Delta u = f\) in \(\Omega
\), \(\frac {\partial f}{\partial \nu } = 0\) auf \(\partial \Omega \), d.&#x202f;h. es gilt \(\forall _{\varphi \in H^1(\Omega )}\; \int _\Omega (\nabla u \nabla \varphi - f\varphi )\dx = 0\).
</p>



<h2 id="verallgemeinerung-auf-elliptische-randwertprobleme">Verallgemeinerung auf elliptische Randwertprobleme</h2>

</p>


<p>
<b>elliptische DGL</b>:&#x2003; Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes Normalgebiet.<br />
Gesucht sind Funktionen \(u \in \C ^2(\Omega )\), die die <em><span class="dashuline" >elliptische DGL</span></em> \(-\div (A \nabla u + h) + bu + f = 0\)<br />
(d.&#x202f;h. \(-\sum _{i=1}^n \partial _{x_i} \!\left (\sum _{j=1}^n a_{ij} \partial _{x_j} u + h_i\right ) + bu + f = 0\)) erfu&#x0308;llen.<br />
Dabei ist \(a_{ij}, h_i \in \C ^1(\Omega )\) fu&#x0308;r \(i, j = 1, \dotsc , n\), \(f, b \in \C ^0(\Omega )\) und \((a_{ij}(x))_{i,j=1,\dotsc ,n}\) sei <em><span class="dashuline" >gleichma&#x0308;ßig
elliptisch in \(x\)</span></em>, d.&#x202f;h. \(\exists _{c_0 &gt; 0} \forall _{x \in \Omega } \forall _{\xi \in \real ^n}\; \xi ^T A(x) \xi = \sum _{i,j=1}^n a_{ij}(x) \xi _i \xi _j \ge c_0 |\xi
|^2\). (Fu&#x0308;r jedes \(c &gt; 0\) und \(x \in \Omega \) beschreibt die Menge \(\left \{\xi \in \real ^n \;\left |\; \xi ^T A(x) \xi = c\right .\right \}\) eine Ellipse.)<br />
Die Matrix \((a_{ij}(x))_{i,j=1,\dotsc ,n}\) kann auch unsymmetrisch sein.
</p>

<p>
<em>Bemerkung</em>: Ohne zusa&#x0308;tzliche Bedingungen sind elliptische DGL nicht eindeutig lo&#x0308;sbar. Meist bekommt man die eindeutige Lo&#x0308;sbarkeit durch Einfu&#x0308;hrung von Randbedingungen. Es
folgen die beiden Randbedingungen, die in der mathematischen Physik am ha&#x0308;ufigsten vorkommen.
</p>

<p>
<b><span class="textsc" >Dirichlet</span>-Randbedingungen</b>:&#x2003;<br />
\(u\) lo&#x0308;st die elliptische DGL in \(\Omega \) und erfu&#x0308;llt \(u = g\) auf \(\partial \Omega \) mit \(g \in \C ^0(\partial \Omega )\).
</p>

<p>
<b><span class="textsc" >Neumann</span>-Randbedingungen</b>:&#x2003;<br />
\(u\) lo&#x0308;st die elliptische DGL in \(\Omega \) und erfu&#x0308;llt \(-\nu (A \nabla u + h) = -\sum _{i=1}^n \nu _i \left (\sum _{j=1}^n a_{ij} \partial _{x_j} u + h_i\right ) = g\) auf \(\partial
\Omega \) mit \(g \in \C ^0(\partial \Omega )\), wobei \(\nu \) der a&#x0308;ußere Einheitsnormalenvektor an \(\partial \Omega \) ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Wie bei der Poisson-Gleichung fu&#x0308;hrt man den Begriff einer schwachen Lo&#x0308;sung ein. Seien dafu&#x0308;r nun \(a_{ij} \in L^\infty (\Omega )\) und \((a_{ij}(x))_{i,j=1,\dotsc
,n}\) erfu&#x0308;lle die Bedingung der gleichma&#x0308;ßigen Elliptizita&#x0308;t fast u&#x0308;berall auf \(\Omega \), \(b \in L^\infty (\Omega )\) und \(h_i, f \in L^2(\Omega )\). Aus denselben
Gru&#x0308;nden wie bei der Poisson-Gleichung genu&#x0308;gt es, wenn man nur den Fall \(g = 0\) betrachtet.
</p>

<p>
<b>schwache Lo&#x0308;sung des <span class="textsc" >Dirichlet</span>-Problems</b>:&#x2003; \(u \in H_0^1(\Omega )\) heißt <em><span class="dashuline" >schwache Lo&#x0308;sung des<br />
<span class="textsc" >Dirichlet</span>-Problems</span></em>, falls \(\forall _{\varphi \in H_0^1(\Omega )}\; \int _\Omega (\nabla \varphi (A \nabla u + h) + \varphi (bu + f))\dx = 0\).
</p>

<p>
<b>schwache Lo&#x0308;sung des <span class="textsc" >Neumann</span>-Problems</b>:&#x2003; \(u \in H^1(\Omega )\) heißt <em><span class="dashuline" >schwache Lo&#x0308;sung des<br />
<span class="textsc" >Neumann</span>-Problems</span></em>, falls \(\forall _{\varphi \in H^1(\Omega )}\; \int _\Omega (\nabla \varphi (A \nabla u + h) + \varphi (bu + f))\dx = 0\).
</p>

<p>
<em>Bemerkung</em>: Zusa&#x0308;tzlich sei vorausgesetzt, dass \(b \ge 0\) fu&#x0308;r das Dirichlet-Problem und \(b \ge b_0 &gt; 0\) fu&#x0308;r das Neumann-Problem gilt. Dann gilt folgender Satz.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >eindeutige Lo&#x0308;sung von elliptischen DGL</span>):</span> Unter obigen Voraussetzungen existiert genau eine schwache Lo&#x0308;sung des Dirichlet-
bzw. des Neumann-Problems.
</p>

<p>
<em>Bemerkung</em>: Unter zusa&#x0308;tzlichen Regularita&#x0308;tsannahmen an die Daten \(a_{ij}\), \(h_i\), \(b\), \(f\) und \(\partial \Omega \) kann man zeigen, dass die schwache Lo&#x0308;sung so
regula&#x0308;r ist, dass sie auch eine klassische Lo&#x0308;sung ist. Beispielsweise folgt aus \(a_{ij} \in \C ^{m,1}(\Omega )\), \(h_i \in H^{m+1}(\Omega )\), \(f \in H^m(\Omega )\) und \(\partial \Omega \) lokal
als Graph von \(\C ^{m+1,1}\)-Funktionen darstellbar, dass \(u \in H^{m+2}(\Omega )\), und damit fu&#x0308;r hinreichend großes \(m = m(n)\), dass \(u \in \C ^2(\Omega )\). Details siehe elliptische
Regularita&#x0308;tstheorie (\(L^2\)-, \(L^p\)- und \(\C ^{0,\alpha }\)-Theorie) mithilfe der Sobolevschen Einbettungssa&#x0308;tze (siehe Funktionalanalysis 2).
</p>



<h2 id="ritz-galerkin-approximation-fuer-elliptische-rwp"><span style="font-variant: small-caps;">Ritz</span>-<span style="font-variant: small-caps;">Galerkin</span>-Approximation für elliptische RWP</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" ><span class="textsc" >Ritz</span>-<span class="textsc" >Galerkin</span>-Approximation</span>):</span> Sei \(u \in H^1_0(\Omega )\) bzw. \(u
\in H^1(\Omega )\) die schwache Lo&#x0308;sung des Dirichlet- bzw. Neumann-Problems. Fu&#x0308;r \(N \in \natural \) sei \(X_N\) ein \(N\)-dimensionaler Unterraum von \(H_0^1(\Omega )\) bzw. von \(H^1(\Omega
)\) mit der Basis \(\{\varphi _k^{(N)} \;|\; k = 1, \dotsc , N\}\).<br />
Dann existiert genau ein \(u_N \in X_N\) (<em><span class="dashuline" ><span class="textsc" >Ritz</span>-<span class="textsc" >Galerkin</span>-Approximation</span></em>), sodass<br />
\(\forall _{\varphi \in X_n}\; \int _\Omega (\nabla \varphi (A \nabla u + h) + \varphi (bu_N + f))\dx = 0\).<br />
Es gilt \(u_N = \sum _{k=1}^N u_{N,k} \varphi _k^{(N)}\), wobei sich die Koeffizienten \(u_{N,k} \in \real \) als eindeutige Lo&#x0308;sung des LGS \(\sum _{\ell =1}^N a_{k\ell }^{(N)} u_{N,\ell } +
c_k^{(N)} = 0\), \(k = 1, \dotsc , N\) mit \(c_k^{(N)} := \int _\Omega (\nabla \varphi _k^{(N)} h + \varphi _k^{(N)} f)\dx \) und \(a_{k\ell }^{(N)} := \int _\Omega (A \nabla \varphi _k^{(N)}
\nabla \varphi _\ell ^{(N)} + b\varphi _k^{(N)} \varphi _\ell ^{(N)}) \dx \) bestimmen lassen.
</p>

<p>
<em>Bemerkung</em>: Die Nachweis der Struktur des LGS erfolgt durch direktes Nachrechnen. Der Beweis der eindeutigen Existenz von \(u_N\) kann man mit Lax-Milgram (angewendet im Hilbertraum \(X_N\))
durchfu&#x0308;hren oder man zeigt, dass die Voraussetzungen an \(a_{ij}\), insbesondere die gleichma&#x0308;ßige Elliptizita&#x0308;tsbedingung, die Invertierbarkeit der Matrix des LGS implizieren.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Lemma</em> (<span class="textsl" ><span class="textsc" >Céa</span>-Lemma</span>): Es gilt \(\norm {u - u_N}_{H^1} \le C \cdot \inf _{v \in X_N} \norm {u - v}_{H^1}\), wobei die Konstante \(C
&gt; 0\) nur von den Konstanten im Satz von Lax-Milgram abha&#x0308;ngt.
</p>

<p>
<em>Bemerkung</em>: Das Céa-Lemma ist die zentrale Fehlerabscha&#x0308;tzung fu&#x0308;r Ritz-Galerkin-Approximationen. Es besagt, dass die Ritz-Galerkin-Approximation bis auf eine multiplikative Konstante die beste
Approximation ist. Weil \(H^1\) separabel ist, ko&#x0308;nnen die \(X_N\) so gewa&#x0308;hlt werden, dass \(\inf _{v \in X_N} \norm {u - v}_{H^1} \xrightarrow {N \to \infty } 0\).<br />
Fu&#x0308;r weitere Fehlerabscha&#x0308;tzungen bzgl. numerischer Verfahren, die bei der numerischen Berechnung der Ritz-Galerkin-Approximation eingesetzt werden (Interpolation, numerische Integration, iterative
LGS-Lo&#x0308;ser) siehe Numerik-Veranstaltungen.
</p>

{% endraw %}
</div>
{:/nomarkdown}
