
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\KK }{\mathbb {K}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\renewcommand {\F }{\mathcal {F}}\)

\(\renewcommand {\K }{\mathcal {K}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\R }{\mathcal {R}}\)

\(\newcommand {\T }{\mathcal {T}}\)

\(\renewcommand {\U }{\mathcal {U}}\)

\(\renewcommand {\V }{\mathcal {V}}\)

\(\newcommand {\kk }[1]{\overline {#1}}\)

\(\newcommand {\orth }{\mathbin {\bot }}\)

\(\newcommand {\iu }{\mathrm {i}}\)

\(\newcommand {\Lip }{\text {Lip}}\)

\(\newcommand {\unif }{\text {unif}}\)

\(\newcommand {\supp }{\operatorname {supp}}\)

\(\newcommand {\BUC }{\text {BUC}}\)

\(\newcommand {\interior }[1]{\operatorname {int}(#1)}\)

\(\newcommand {\Kern }{\text {Kern}}\)

\(\newcommand {\Bild }{\text {Bild}}\)

\(\newcommand {\pot }{\mathfrak {P}}\)

\(\newcommand {\Lin }{\operatorname {Lin}}\)

\(\newcommand {\id }{\text {id}}\)

\(\newcommand {\dist }{\operatorname {dist}}\)

\(\let \oldorth \orth \renewcommand {\orth }{{\oldorth }}\)

\(\renewcommand {\Re }{\operatorname {Re}}\)

\(\renewcommand {\Im }{\operatorname {Im}}\)

\(\renewcommand {\graph }{\text {graph}}\)

\(\newcommand {\codim }{\operatorname {codim}}\)

\(\renewcommand {\div }{\operatorname {div}}\)

\(\newcommand {\loc }{{\text {loc}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(d)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(a)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(b)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(c)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  font-style:italic;
  content:'(6)\00a0\00a0';
}
.lwarp-contents li.list-item-f26::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f27::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f28::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f29::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f30::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f31::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="hilbertraum-adjungierte"><span style="font-variant: small-caps;">Hilbert</span>raum-Adjungierte</h2>

</p>


<p>
<em>Bemerkung</em>: Seien \(H_1, H_2\) Hilbertra&#x0308;ume und \(T \in \Lin (H_1, H_2)\). Fu&#x0308;r \(y \in H_2\) ist die Abbildung \(x \mapsto \innerproduct {Tx, y}_{H_2}\) ein Element des Dualraums von
\(H_1\). Nach dem Rieszschen Darstellungssatz gibt es daher genau ein \(T^\ast y \in H_1\) mit \(\forall _{x \in H_1}\; \innerproduct {Tx, y}_{H_2} = \innerproduct {x, T^\ast y}_{H_1}\). Somit existiert die
Hilbertraum-Adjungierte \(T^\ast \) und ist eindeutig.
</p>

<p>
<b><span class="textsc" >Hilbert</span>raum-Adjungierte</b>:&#x2003; Seien \(H_1, H_2\) Hilbertra&#x0308;ume und \(T \in \Lin (H_1, H_2)\). Dann heißt die Abbildung \(T^\ast \colon H_2 \rightarrow
H_1\) mit \(\forall _{x \in H_1,\, y \in H_2}\; \innerproduct {Tx, y}_{H_2} = \innerproduct {x, T^\ast y}_{H_1}\) <em><span class="dashuline" ><span class="textsc"
>Hilbert</span>raum-Adjungierte</span></em> von \(T\).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Eigenschaften der <span class="textsc" >Hilbert</span>raum-Adjungierten</span>):
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(T^\ast \in \Lin (H_2, H_1)\) mit \(\norm {T^\ast } = \norm {T}\)
</p>
</li>
<li class="list-item-f1"><p>\((T + S)^\ast = T^\ast + S^\ast \), \((\alpha T)^\ast = \overline {\alpha } T^\ast \), \((T \circ S)^\ast = S^\ast \circ T^\ast \)
</p>
</li>
<li class="list-item-f2"><p>\(T^{\ast \ast } = T\)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Fu&#x0308;r \(H_1 = H_2 = \real ^n\) (mit eukl. Skalarprodukt) und \(T = (a_{ij})_{i,j=1,\dotsc ,n}\) ist \(T^\ast = (a_{ji})_{i,j=1,\dotsc ,n}\).
</p>
</li>
<li class="list-item-f4"><p>Fu&#x0308;r \(H_1 = H_2 = \complex ^n\) ist \(T^\ast = (\overline {a_{ji}})_{i,j=1,\dotsc ,n}\).
</p>
</li>
<li class="list-item-f5"><p>Fu&#x0308;r \(H_1 = H_2 = \ell ^2_\real \) und \(T((x_n)_{n \in \natural }) := (a_n x_n)_{n \in \natural }\) fu&#x0308;r eine Folge \((a_n)_{n \in \natural }\), \(\sup _{n \in \natural }
|a_n| &lt; \infty \), ist \(T^\ast ((x_n)_{n \in \natural }) = (a_n x_n)_{n \in \natural } = T((x_n)_{n \in \natural })\).
</p>
</li>
<li class="list-item-f6"><p>Fu&#x0308;r \(H_1 = H_2 = \ell ^2_\complex \) ist \(T^\ast ((x_n)_{n \in \natural }) = (\overline {a_n} x_n)_{n \in \natural }\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Seien \(H_1 = L^2(\Omega _1, \complex )\) und \(H_2 = L^2(\Omega _2, \complex           )\), wobei \(\Omega _1 \subset \real ^n\) und \(\Omega _2 \subset \real ^m\) messbar seien. Außerdem sei
\(K\colon \Omega _1 \times \Omega _2 \rightarrow \complex \) messbar mit \(\norm {K} := \left              (\int _{\Omega _1} \int _{\Omega _2} |K(x, y)|^2 \dy \dx \right )^{1/2} &lt; \infty \). Sei
fu&#x0308;r \(f \in L^2(\Omega _1, \complex )\) die Abbildung \(Tf\colon \Omega _2 \rightarrow             \complex \) definiert durch \((Tf)(y) := \int _{\Omega _1} K(x, y)f(x)\dx \).<br />
Dann ist \(T \in \Lin (H_1, H_2)\) und \(\norm {T} \le \norm {K}\). Außerdem gilt \((T^\ast g)(x)          = \int _{\Omega _2} \overline {K(x, y)} g(y) \dy \), wenn \(n = m\) und \(\Omega _1 = \Omega _2\).
</p>

<p>
Dies sieht man wie folgt: Es gilt \(\norm {Tf}_{H_2}^2 = \int _{\Omega _2} |(Tf)(y)|^2 \dy = \int _{\Omega _2} \left |\int _{\Omega _1} K(x, y)f(x)\dx \right |^2 \dy \\ = \int _{\Omega _2} \left
|\innerproduct {K(\cdot , y), f}_{H_1}\right |^2 \dy \le \int _{\Omega _2} \norm {K(\cdot , y)}_{H_1}^2 \norm {f}_{H_1}^2 \dy = \norm {K}^2 \norm {f}_{H_1}^2\), also \(Tf \in H_2\),<br />
\(T \in \Lin (H_1, H_2)\) und \(\norm {T} \le \norm {K}\). Die Adjungierte \(T^\ast \) erha&#x0308;lt man durch direktes Nachrechnen (wobei man die konjugierte Linearita&#x0308;t im zweiten Argument beachten
muss). Ersetzt man \(\complex \) durch \(\real \), so ist \(T^\ast = T\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>selbstadjungiert</b>:&#x2003; Sei \(H\) ein Hilbertraum.<br />
Dann heißt \(T \in \Lin (H)\) <em><span class="dashuline" >selbstadjungiert</span></em>, falls \(T^\ast = T\) (d.&#x202f;h. \(\forall _{x, y \in H}\; \innerproduct {Tx, y} = \innerproduct {x, Ty}\)).
</p>

<p>
<em>Bemerkung</em>: Ist \(T \in \Lin (H)\) selbstadjungiert, so gilt fu&#x0308;r \(x = y\), dass \(\innerproduct {Tx, x} = \innerproduct {x, Tx} = \overline {\innerproduct {Tx, x}}\), also \(\innerproduct
{Tx, x} = \innerproduct {x, Tx} \in \real \) fu&#x0308;r alle \(x \in H\). Manchmal ist Selbstadjungiertheit eine zu starke Eigenschaft, in diesem Fall verwendet man die Verallgemeinerung von normalen Abbildungen.
</p>

<p>
<b>normal</b>:&#x2003; Sei \(H\) ein Hilbertraum. Dann heißt \(T \in \Lin (H)\) <em><span class="dashuline" >normal</span></em>, falls \(T^\ast T = TT^\ast \).
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Charakterisierung</span>): \(T\) ist normal genau dann, wenn \(\forall _{x \in H}\; \norm {Tx} = \norm {T^\ast x}\).
</p>



<h2 id="kompakte-operatoren">Kompakte Operatoren</h2>

</p>


<p>
<b>kompakter Operator</b>:&#x2003; Seien \(E, F\) Banachra&#x0308;ume.<br />
Dann heißt \(T \in \Lin (E, F)\) <em><span class="dashuline" >kompakt</span></em>, falls \(\overline {T B_E} = \overline {\{Tx \;|\; \norm {x}_E \le 1\}}\) kompakt in \(F\) ist.<br />
A&#x0308;quivalent dazu sind:
</p>
<ul style="list-style-type:none">

<li class="list-item-f7"><p>Fu&#x0308;r jede Folge \((x_n)_{n \in \natural }\) in \(B_E\) besitzt \((Tx_n)_{n \in \natural }\) eine konvergente Teilfolge in \(F\).
</p>
</li>
<li class="list-item-f8"><p>Fu&#x0308;r alle \(\varepsilon &gt; 0\) gibt es eine endliche Menge \(M \subset F\) mit \(TB_E \subset M + \varepsilon B_F\).
</p>
</li>
</ul>

<p>
Die <em><span class="dashuline" >Menge aller kompakten Operatoren</span></em> von \(E\) nach \(F\) bezeichnet man mit \(\K (E, F)\) und man schreibt \(\K (E) := \K (E, E)\).
</p>

<p>
<em>Bemerkung</em>: Ist \(X\) ein Banachraum, dann gilt \(\id \in \K (X) \iff X \;\text {endl.-dim.}\)
</p>

<p>
<em>Lemma</em> (<span class="textsl" >\(\K (E, F)\) abg. UVR</span>): \(\K (E, F)\) ist ein abgeschlossener Unterraum von \(\Lin (E, F)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Operator mit endlichem Rang</b>:&#x2003; Seien \(E, F\) Banachra&#x0308;ume. Die <em><span class="dashuline" >Menge aller Operatoren mit endlichem Rang</span></em> ist definiert durch \(\F (E, F) := \{T
\in \Lin (E, F) \;|\; \dim TE &lt; \infty \}\).
</p>

<p>
<em>Beispiel</em>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>Fu&#x0308;r \(T \in \F (E, F)\) gilt \(T \in \K (E, F)\), denn \(TB_E\) ist beschra&#x0308;nkt in \(TE\) (fu&#x0308;r alle \(x \in B_E\) gilt \(\norm {Tx}_F \le \norm {T} \norm {x}_E \le \norm
{T}\)) und somit ist \(\overline {TB_E}\) beschra&#x0308;nkt und abgeschlossen. Damit ist \(\overline {TB_E}\) kompakt in \(TE\) (wegen \(\dim TE &lt; \infty \)) und insbesondere kompakt in \(F\).
</p>
</li>
<li class="list-item-f10"><p>Fu&#x0308;r \(\dim E &lt; \infty \) ist \(\dim TE &lt; \infty \) fu&#x0308;r alle \(T \in \Lin (E, F)\), also gilt<br />
\(\Lin (E, F) \subset \F (E, F) \subset \K (E, F) \subset \Lin (E, F)\), d.&#x202f;h. jeder lineare, stetige Operator ist kompakt, wenn \(E\) endlich-dimensional ist.
</p>
</li>
<li class="list-item-f11"><p>Es gilt \(\overline {\F (E, F)} \subset \K (E, F)\), weil \(\K (E, F)\) abgeschlossen ist.
</p>
</li>
</ul>

<p>
<em>Bemerkung</em>: Lange war ungekla&#x0308;rt, ob die Umkehrung auch gilt, d.&#x202f;h. ob \(\overline {\F (E, F)} = \K (E, F)\). Die Frage war also, ob jeder kompakte Operator durch Operatoren von endlichem
Rang approximiert werden kann. Per Enflo konnte als Erster ein Gegenbeispiel liefern (1973). Allerdings stimmt die Aussage, wenn \(F\) ein Hilbertraum ist.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >kpkt.e Operatoren als GW von Operatoren mit endl. Rang</span>):<br />
Seien \(E\) ein Banachraum und \(F\) ein Hilbertraum. Dann gilt \(\overline {\F (E, F)} = \K (E, F)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Obiger Integraloperator \(T \in \Lin (H_1, H_2)\) ist kompakt. Wa&#x0308;hlt man ein vollsta&#x0308;ndiges ONS \((e_k)_{k \in \natural }\) von \(H_1\), dann gilt nach Parseval \(\norm {K}^2 =
\int _{\Omega _2} \norm {\overline {K(\cdot , y)}}_{H_1}^2 \dy \)<br />
\(= \int _{\Omega _2} \sum _{k \in \natural } \left |\innerproduct {\overline {K(\cdot , y)}, e_k}_{H_1}\right |^2 \dy = \int _{\Omega _2} \sum _{k \in \natural } |(Te_k)(y)|^2 \dy = \sum _{k
\in \natural } \norm {Te_k}_{H_2}^2\).<br />
Sei \(P_n\) die orthogonale Projektion von \(H_1\) auf \([e_1, \dotsc , e_n]\), d.&#x202f;h. \(P_n f := \sum _{k=1}^n \innerproduct {f, e_k}_{H_1} e_k\).<br />
Dann gilt \(\norm {(T - TP_n) f}_{H_2}^2 = \norm {T (f - P_n f)}_{H_2}^2 = \norm {T\!\left (\sum _{k &gt; n} \innerproduct {f, e_k}_{H_1} e_k\right )}_{H_2}^2\)<br />
\(= \norm {\sum _{k &gt; n} \innerproduct {f, e_k}_{H_1} Te_k}_{H_2}^2 \le \left (\sum _{k &gt; n} \left |\innerproduct {f, e_k}_{H_1}\right | \norm {Te_k}_{H_2}\right )^2\)<br />
\(\le \sum _{k &gt; n} \left |\innerproduct {f, e_k}_{H_1}\right |^2 \cdot \sum _{k &gt; n} \norm {Te_k}_{H_2}^2\) wegen der Cauchy-Schwarz-Ungleichung fu&#x0308;r \(\ell ^2\). Der erste Faktor ist mit
Parseval durch \(\norm {f}_{H_1}^2\) nach oben beschra&#x0308;nkt, wa&#x0308;hrend der zweite fu&#x0308;r \(n \to \infty \) gegen Null geht (weil \(\sum _{k \in \natural } \norm {Te_k}_{H_2}^2 = \norm
{K}^2 &lt; \infty \)). Damit gilt<br />
\(\norm {(T - TP_n) f}_{H_2}^2 \le \sum _{k &gt; n} \norm {Te_k}_{H_2}^2 \norm {f}_{H_1}^2\) und somit \(\norm {T - TP_n}^2 \le \sum _{k &gt; n} \norm {Te_k}_{H_2}^2 \to 0\) fu&#x0308;r \(n \to
\infty \). Wegen \(\Bild (TP_n) = T(\Bild (P_n))\) endlich-dimensional fu&#x0308;r alle \(n \in \natural \) ist \(T\) kompakt.
</p>

<p>
<em>Bemerkung</em>: Man kann bei Vorhandensein entsprechender Integrabilita&#x0308;t von \(K\) auch Integraloperatoren \(T^{p,q} \in \Lin (L^p(\Omega _1, \KK ), L^q(\Omega _2, \KK ))\) fu&#x0308;r \(\frac
{1}{p} + \frac {1}{q} = 1\) bekommen. Auch sie sind stetig (Nachweis mit Ho&#x0308;lder statt Cauchy-Schwarz, a&#x0308;hnlich wie fu&#x0308;r \(p = q = 2\)) und kompakt (Nachweis mithilfe von Fréchet-Kolmogorov,
Riesz). Man nennt diese Operatoren<br />
<em><span class="dashuline" ><span class="textsc" >Hilbert</span>-<span class="textsc" >Schmidt</span>-Integraloperatoren</span></em>.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Lemma</em> (<span class="textsl" >Komposition kpkt.</span>): Seien \(X, Y, Z\) Banachra&#x0308;ume, \(T_1 \in \Lin (X, Y)\) und \(T_2 \in \Lin (Y, Z)\).<br />
Dann folgt aus \(T_1\) kompakt oder \(T_2\) kompakt, dass \(T_2 T_1\) kompakt ist.
</p>

<p>
<em>Bemerkung</em>: Algebraisch la&#x0308;sst sich das fu&#x0308;r \(X = Y = Z\) wie folgt ausdru&#x0308;cken: Mit der Verkettung \(\circ           \) als Multiplikation ist der Vektorraum \((\Lin (X), +, \circ )\) eine
nicht-kommutative Algebra, d.&#x202f;h. \(\circ \) ist assoziativ (aber i.&#x202f;A. nicht-kommutativ), \(+\) und \(\circ \) sind distributiv und   fu&#x0308;r alle \(\alpha \in \KK \) gilt \(\alpha (f \circ g) = (\alpha
f) \circ g = f \circ (\alpha g)\). Fu&#x0308;r \(S, T \in \Lin (X)\) gilt außerdem \(\norm {S \circ T} \le \norm {S} \cdot \norm                     {T}\). Ein Banachraum, der eine Algebra ist und dessen Multiplikation diese
Beziehung erfu&#x0308;llt, heißt <em><span class="dashuline" ><span class="textsc" >Banach</span>algebra</span></em>. \((\Lin (X),                  +, \circ )\) ist also eine Banachalgebra und obiges Lemma besagt nun, dass
\(\K (X)\) ein Ideal in \(\Lin (X)\) ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenwerte kompakter Operatoren</span>):</span><br />
Seien \(X\) ein Banachraum, \(T \in \K (X)\) und \(\lambda \in \KK \setminus \{0\}\). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f12"><p>\(\dim \Kern (\lambda \id - T) &lt; \infty \)
</p>
</li>
<li class="list-item-f13"><p>\(\Bild (\lambda \id - T) \subset X\) abgeschlossen
</p>
</li>
<li class="list-item-f14"><p>\(\lambda \id - T\) injektiv \(\iff \) \(\lambda \id - T\) surjektiv
</p>
</li>
</ul>



<h2 id="das-spektrum-linearer-abbildungen-ueber-banachraeumen">Das Spektrum linearer Abbildungen über Banachräumen</h2>
<em>Bemerkung</em>: Im Folgenden seien \(X\) ein \(\complex \)-Banachraum und \(T \in \Lin (X)\).
</p>

<p>
<b>Resolventenmenge</b>:&#x2003;<br />
Die Menge \(\varrho (T) := \{\lambda \in \complex \;|\; \lambda \id - T \text { bijektiv}\}\) heißt <em><span class="dashuline" >Resolventenmenge</span></em> von \(T\).
</p>

<p>
<b>Spektrum</b>:&#x2003; Die Menge \(\sigma (T) := \complex \setminus \varrho (T)\) heißt <em><span class="dashuline" >Spektrum</span></em> von \(T\). Es kann zerlegt werden in
</p>
<ul style="list-style-type:none">

<li class="list-item-f15"><p>das <em><span class="dashuline" >Punktspektrum</span></em><br />
\(\sigma _p(T) := \{\lambda \in \complex \;|\; \lambda \id - T \text { nicht injektiv}\}\),
</p>
</li>
<li class="list-item-f16"><p>das <em><span   class="dashuline" >kontinuierliche Spektrum</span></em><br />
\(\sigma _c(T)    := \{\lambda \in \complex \;|\; \lambda \id - T \text { injektiv, aber nicht surjektiv und } \overline {\Bild (\lambda \id - T)} = X\}\) und
</p>
</li>
<li class="list-item-f17"><p>das <em><span   class="dashuline" >Residualspektrum</span></em><br />
\(\sigma _r(T)    := \{\lambda \in \complex \;|\; \lambda \id - T \text { injektiv und } \overline {\Bild (\lambda \id - T)} \not = X\}\).
</p>
</li>
</ul>

<p>
<b>Eigenvektor, Eigenwert, Eigenraum</b>:&#x2003;<br />
Fu&#x0308;r \(\lambda \in \complex \) gilt \(\lambda \in \sigma _p(T)\) genau dann, wenn \(\exists _{x \in X \setminus \{0\}}\; Tx = \lambda x\). In diesem Fall heißt \(x\) <em><span class="dashuline"
>Eigenvektor</span></em> von \(T\) zum <em><span class="dashuline" >Eigenwert</span></em> \(\lambda \). Ist \(X\) ein Funktionenraum, so heißt \(x\) auch <em><span class="dashuline" >Eigenfunktion</span></em>.
Der Unterraum \(\Kern (\lambda \id - T)\) von \(X\) heißt <em><span class="dashuline" >Eigenraum</span></em> von \(T\) zum Eigenwert \(\lambda \). Seine Dimension heißt <em><span class="dashuline"
>Vielfachheit</span></em> des Eigenwerts \(\lambda \). Der Eigenraum ist ein \(T\)-invarianter Unterraum, d.&#x202f;h. \(T(\Kern (\lambda \id - T)) \subset \Kern (\lambda \id - T)\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(\dim (X) &lt; \infty \) gilt \(\sigma (T) = \sigma _p(T)\) fu&#x0308;r alle \(T \in \Lin (X)\) (da in diesem Fall \(\lambda \id - T\) injektiv \(\iff \) \(\lambda \id - T\)
surjektiv fu&#x0308;r alle \(\lambda \in \complex \)).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Im weiteren Verlauf wird der folgende (nicht-triviale) Satz aus der Banachraum-Theorie beno&#x0308;tigt, der spa&#x0308;ter bewiesen wird.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Umkehrabbildung stetig</span>):</span> Seien \(E\) und \(F\) Banachra&#x0308;ume und \(L \in \Lin (E, F)\) bijektiv.<br />
Dann gilt \(L^{-1} \in \Lin (F, E)\).
</p>

<p>
<b>Resolvente</b>:&#x2003; Sei \(\lambda \in \varrho (T)\). Dann heißt \(R(\lambda , T) := (\lambda \id - T)^{-1} \in \Lin (X)\) <em><span class="dashuline" >Resolvente</span></em> von \(T\) in
\(\lambda \) und \(R(\cdot , T)\colon \varrho (T) \rightarrow \Lin (X)\), \(\lambda \mapsto R(\lambda , T)\) heißt <em><span class="dashuline" >Resolventenfunktion</span></em>.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Resolventenfunktion holomorph</span>):</span> \(\varrho (T) \subset \complex \) ist offen und \(R(\cdot , T)\colon \varrho (T) \rightarrow
\Lin (X)\) ist holomorph, d.&#x202f;h. \(\lim _{h \to 0} \frac {R(\lambda + h, T) - R(\lambda , T)}{h}\) existiert in \(\Lin (X)\).<br />
Außerdem gilt \(\forall _{\lambda \in \varrho (T)}\; \norm {R(\lambda , T)}^{-1} \le \dist (\lambda , \sigma (T))\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Spektralradius</b>:&#x2003; \(\sup _{\lambda \in \sigma (T)} |\lambda |\) heißt <em><span class="dashuline" >Spektralradius</span></em> von \(T\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektrum kompakt</span>):</span> \(\sigma (T)\) ist kompakt und fu&#x0308;r \(X \not = \{0\}\) auch nicht-leer mit<br />
\(\sup _{\lambda \in \sigma (T)} |\lambda | = \lim _{m \to \infty } \norm {T^m}^{1/m} \le \norm {T}\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektralradius normaler Operatoren u&#x0308;ber Hilbertra&#x0308;ume</span>):</span><br />
Sei \(X \not = \{0\}\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (X)\) normal. Dann gilt \(\sup _{\lambda \in \sigma (T)} |\lambda | = \norm {T}\).
</p>



<h2 id="das-spektrum-kompakter-operatoren-und-der-spektralsatz">Das Spektrum kompakter Operatoren und der Spektralsatz</h2>

</p>


<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektrum kompakter Operatoren</span>):</span> Sei \(T \in \K (X)\).<br />
Dann stimmt \(\sigma (T)\) mit den Eigenwerten \(\sigma _p(T)\) bis auf \(0\) u&#x0308;berein, d.&#x202f;h. \(\sigma (T) \setminus \{0\} = \sigma _p(T) \setminus \{0\}\).<br />
Außerdem besteht \(\sigma (T) \setminus \{0\}\)
</p>
<ul style="list-style-type:none">

<li class="list-item-f18"><p>aus endlich vielen Eigenwerten oder
</p>
</li>
<li class="list-item-f19"><p>aus abza&#x0308;hlbar unendlich vielen Eigenwerten mit \(0\) als einzigem Ha&#x0308;ufungspunkt.
</p>
</li>
</ul>

<p>
Die Vielfachheit jeden von \(0\) verschiedenen Eigenwerts \(\lambda \in \sigma (T) \setminus \{0\}\) ist endlich.<br />
Fu&#x0308;r \(\dim X = \infty \) ist \(0 \in \sigma (T)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>positiv semidefinit</b>:&#x2003; Seien \(H\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (H)\) selbstadjungiert.<br />
Dann heißt \(T\) <em><span class="dashuline" >positiv semidefinit</span></em>, falls \(\forall _{x \in H}\; \innerproduct {x, Tx} \ge 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektralsatz fu&#x0308;r kompakte, selbstadjungierte Operatoren</span>):</span><br />
Seien \(H\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (H) \setminus \{0\}\) kompakt und selbstadjungiert. Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f20"><p>\(\sigma _p(T) \setminus \{0\} = \{\lambda _k \;|\; k \in N\}\) mit \(N = \{1, \dotsc , n\}\) oder \(N = \natural \) und \(\lambda _k\) paarweise verschieden.<br />
Fu&#x0308;r alle \(k \in N\) gilt \(\dim (\Kern (\lambda _k \id - T)) &lt; \infty \) und gibt es Eigenvektoren \(e_{k,j_k}\),<br />
\(j_k = 1, \dotsc , \dim (\Kern (\lambda _k \id - T))\), von \(T\) zu \(\lambda _k\), sodass \((e_{k,j_k})_{k,j_k}\) ein ONS in \(H\) ist.<br />
Fu&#x0308;r \(N = \natural \) gilt \(\lim _{k \to \infty } \lambda _k = 0\).
</p>
</li>
<li class="list-item-f21"><p>\(H = \Kern (T) \oplus \overline {[\{e_{k,j_k} \;|\; k, j_k\}]}\) mit \(\Kern (T) \,\orth \, \overline {[\{e_{k,j_k} \;|\; k, j_k\}]}\)
</p>
</li>
<li class="list-item-f22"><p>\(\forall _{x \in H}\; Tx = \sum _k \sum _{j_k} \lambda _k \innerproduct {x, e_{k,j_k}} e_{k,j_k}\)
</p>
</li>
<li class="list-item-f23"><p>\(\sigma _p(T) \subset [-\norm {T}, \norm {T}] \subset \real \)
</p>
</li>
<li class="list-item-f24"><p>\(\norm {T} \in \sigma _p(T)\) oder \(-\norm {T} \in \sigma _p(T)\)
</p>
</li>
<li class="list-item-f25"><p>Ist \(T\) positiv semidefinit, dann gilt \(\sigma _p(T) \subset [0, \norm {T}]\).
</p>
</li>
</ul>

<p>
<em>Bemerkung</em>: Dieser Satz ist eine unendlich-dimensionale Verallgemeinerung des Theorems aus der linearen Algebra, dass jede symmetrische Matrix mithilfe von ONBen aus Eigenvektoren reell diagonalisierbar ist.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektralsatz fu&#x0308;r kompakte, normale Operatoren</span>):</span><br />
Seien \(H\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (H) \setminus \{0\}\) kompakt und normal.<br />
Dann gelten die Aussagen <em>(1)</em>, <em>(2)</em> und <em>(3)</em> aus obigem Satz.
</p>

<p>
<em>Bemerkung</em>: Anhand des Beweises erkennt man, dass die Aussagen <em>(4)</em> und <em>(6)</em> gelten, wenn \(T\) nur selbstadjungiert (und stetig) ist, aber nicht kompakt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Ist \(X\) ein \(\real \)-Banachraum, so kann man \(X\) <em><span class="dashuline" >komplexifizieren</span></em>, d.&#x202f;h. \(\widetilde {X} := X \times X\) mit \(\alpha \cdot (x_1,
x_2) := (a x_1 - b x_2, a x_2 + b x_1)\) und \(\overline {(x_1, x_2)} := (x_1, -x_2)\) fu&#x0308;r \((x_1, x_2) \in \widetilde {X}\) und \(\alpha := a + \iu b \in \complex \) mit \(a, b \in \real
\). Damit wird \(\widetilde {X}\) ein \(\complex \)-Vektorraum.<br />
Mit \(\norm {x}_{\widetilde {X}} := \sup _{\theta \in \real } \left (\norm {\cos (\theta )x_1 - \sin (\theta )x_2}_X^2 + \norm {\sin (\theta )x_1 + \cos (\theta )x_2}_X^2\right )^{1/2}\) gilt
dann<br />
\(\forall _{x \in \widetilde {X}} \forall _{\theta \in \real }\; \norm {e^{\iu \theta }x}_{\widetilde {X}} = \norm {x}_{\widetilde {X}}\) und \(\widetilde {X}\) ist ein \(\complex \)-Banachraum.<br
/>
Falls \(X\) ein \(\real \)-Hilbertraum ist, so ist \(\widetilde {X}\) ein \(\complex \)-Hilbertraum sowie \(\norm {x}_{\widetilde {X}} = \left (\norm {x_1}_X^2 + \norm {x_2}_X^2\right )^{1/2}\).<br />
Fu&#x0308;r \(T \in \Lin (X)\) ist \(\widetilde {T} \in \Lin (\widetilde {X})\) mit \(\widetilde {T}x := (Tx_1, Tx_2)\). Zusa&#x0308;tzliche Eigenschaften wie Kompaktheit oder Selbstadjungiertheit von \(T\)
u&#x0308;bertragen sich auf \(\widetilde {T}\). Somit kann man mit dieser Komplexifizierung Spektralsa&#x0308;tze wie oben auch auf reelle Hilbertra&#x0308;ume u&#x0308;bertragen (analog auch von komplexen auf
reelle Banachra&#x0308;ume).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Rayleigh</span>-Quotient</b>:&#x2003; Seien \(H\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (H)\) selbstadjungiert.<br />
Dann heißt \(R_T(u) := \frac {\innerproduct {Tu, u}}{\innerproduct {u, u}}\) der <em><span class="dashuline" ><span class="textsc" >Rayleigh</span>-Quotient</span></em> von \(u \in H \setminus
\{0\}\).
</p>

<p>
<em>Bemerkung</em>: Der Rayleigh-Quotient von Eigenvektoren ist gleich dem jeweiligen Eigenwert.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenwerte kompakter, selbstadjungierter Operatoren</span>):</span><br />
Seien \(H\) ein \(\complex \)-Hilbertraum und \(T \in \Lin (H) \setminus \{0\}\) kompakt und selbstadjungiert. Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f26"><p>Wenn \(\lambda \not = 0\) mit \(\lambda := \sup _{u \in H \setminus \{0\}} R_T(u) = \sup _{u \in H,\;\norm {u}=1} \innerproduct {Tu, u}\) gilt, dann ist<br />
\(\lambda = \max (\sigma _p(T) \setminus \{0\})\). Das Supremum wird in diesem Fall von allen Eigenvektoren zum Eigenwert \(\lambda \) angenommen.
</p>
</li>
<li class="list-item-f27"><p>Wenn \(\mu \not = 0\) mit \(\mu := \inf _{u \in H \setminus \{0\}} R_T(u) = \inf _{u \in H,\;\norm {u}=1} \innerproduct {Tu, u}\) gilt, dann ist<br />
\(\mu = \min (\sigma _p(T) \setminus \{0\})\). Das Infimum wird in diesem Fall von allen Eigenvektoren zum Eigenwert \(\lambda \) angenommen.
</p>
</li>
<li class="list-item-f28"><p>Fu&#x0308;r \(\sup _{u \in \Kern (\lambda \id - T)^\orth \setminus \{0\}} R_T(u) \not = 0\) ist dies der zweitgro&#x0308;ßte von \(0\) verschiedene Eigenwert usw.
</p>
</li>
</ul>

<p>
<em>Bemerkung</em>: Fu&#x0308;r alle von \(0\) verschiedenen Eigenwerte sind die Lo&#x0308;sungen der jeweiligen Eigenwert-Gleichungen die Lo&#x0308;sungen von Variationsproblemen mit Nebenbedingungen, wobei die
Eigenwerte als Lagrange-Parameter auftreten.
</p>



<h2 id="der-spektralsatz-fuer-den-laplace-operator">Der Spektralsatz für den <span style="font-variant: small-caps;">Laplace</span>-Operator</h2>

</p>


<p>
<b>inverser <span class="textsc" >Laplace</span>-Operator</b>:&#x2003; Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und stu&#x0308;ckweise \(\C ^1\)-berandetes Gebiet. Dann ist der <em><span
class="dashuline" >(schwache) inverse <span class="textsc" >Laplace</span>-Operator (mit homogenen <span class="textsc" >Dirichlet</span>-RB)</span></em><br />
\(\Delta ^{-1}\colon L^2(\Omega ) \rightarrow H_0^1(\Omega )\) definiert durch die fu&#x0308;r \(f \in L^2(\Omega )\) eindeutige Lo&#x0308;sung \(-\Delta ^{-1} f \in H_0^1(\Omega )\) von \(\forall
_{\varphi \in H_0^1(\Omega )}\; \int _\Omega (\nabla (-\Delta ^{-1} f) \nabla \varphi - f \varphi ) \dx = 0\) (schwache Lo&#x0308;sung des Dirichlet-Problems fu&#x0308;r die Poisson-Gleichung mit
homogenen Randbedingungen).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenschaften von \(-\Delta ^{-1}\)</span>):</span> \(-\Delta ^{-1}\colon L^2(\Omega ) \rightarrow L^2(\Omega )\) ist linear, stetig, injektiv,
kompakt, selbstadjungiert und positiv semidefinit.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Satz von &#x202f;<span class="textsc" >Rellich</span></span>):</span> Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und
stu&#x0308;ckweise \(\C ^1\)-berandetes Gebiet. Dann ist die Einbettung \(\id \colon H^1(\Omega ) \hookrightarrow L^2(\Omega )\) ein kompakter Operator, d.&#x202f;h. jede in \(H^1(\Omega )\) beschra&#x0308;nkte
Folge entha&#x0308;lt eine in \(L^2(\Omega )\) konvergente Teilfolge.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>schwacher <span class="textsc" >Laplace</span>-Operator</b>:&#x2003;<br />
\(\Delta := (\Delta ^{-1})^{-1}\colon \Delta ^{-1}(L^2(\Omega )) \rightarrow L^2(\Omega )\) heißt <em><span class="dashuline" >schwacher <span class="textsc" >Laplace</span>-Operator</span></em>.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Spektralsatz fu&#x0308;r den <span class="textsc" >Laplace</span>-Operator</span>):</span><br />
Sei \(\Omega \subset \real ^n\) ein beschra&#x0308;nktes und stu&#x0308;ckweise \(\C ^1\)-berandetes Gebiet. Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f29"><p>\(\sigma _p(-\Delta ) = \{\lambda _k \;|\; k \in \natural \}\) mit \(0 &lt; \lambda _1 \le \lambda _2 \le \dotsb \), \(\dim (\Kern (\lambda _k\id + \Delta )) &lt; \infty \) und<br />
\(\lim _{k \to \infty } \lambda _k = \infty \)
</p>
</li>
<li class="list-item-f30"><p>Es gibt eine Folge \((e_k)_{k \in \natural }\) in \(H_0^1(\Omega )\), sodass \((e_k)_{k \in \natural }\) ein vollsta&#x0308;ndiges ONS in \(L^2(\Omega )\) aus Eigenvektoren von \(-\Delta \) ist,
d.&#x202f;h. \(\forall _{\varphi \in H_0^1(\Omega )}\; \innerproduct {e_k, \varphi }_{H_0^1} = \lambda _k \innerproduct {e_k, \varphi }_{L^2}\) und<br />
\(\forall _{u \in L^2(\Omega )}\; u \overset {L^2}{=} \sum _{k=1}^\infty \innerproduct {u, e_k}_{L^2} e_k,\; \norm {u}_{L^2}^2 = \sum _{k=1}^\infty |\innerproduct {u, e_k}_{L^2}|^2\).
</p>
</li>
<li class="list-item-f31"><p>Fu&#x0308;r \(k \in \natural \) gilt \(\lambda _k = \min \left \{\left .\frac {\norm {u}_{H_0^1}^2}{\norm {u}_{L^2}^2} \;\right |\; u \in H_0^1 \setminus \{0\},\; u \;\orth \; [e_1,
\dotsc , e_{k-1}]\right \}\).
</p>
</li>
</ul>

{% endraw %}
</div>
{:/nomarkdown}
