
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<p>

</p>



<h2 id="aufbau-nach-elementen">Aufbau nach Elementen</h2>

</p>


<p>
<b>Auf bau der Erde nach Elementen</b>: nach Atom-Prozent besteht die gesamte Erde nur aus sechs Elementen \(\ge \SI {1}{\percent }\), na&#x0308;mlich <span
    id="lateximage-basic-principles-of-geosciences-1"
    class="lateximagesource"
><!--
O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B72B0BED5B4ADEDE6C89F87E907E3C2B.svg"
   alt="\ce{O}"
   style=""
   class="lateximage"
></span> (50&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-2"
   class="lateximagesource"
><!--
Mg
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/41D28FB397A786AFFF3CA71AA307506A.svg"
   alt="\ce{Mg}"
   style=""
   class="lateximage"
></span> (16&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-3"
   class="lateximagesource"
><!--
Si
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/F48F3C4218D92CABFC9662A2E7A5241B.svg"
   alt="\ce{Si}"
   style=""
   class="lateximage"
></span> (16&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-4"
   class="lateximagesource"
><!--
Fe
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/3092FCB1CDCEEE175D41A0CBB6F65B19.svg"
   alt="\ce{Fe}"
   style=""
   class="lateximage"
></span> (14&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-5"
   class="lateximagesource"
><!--
Al
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/532E1ABA432EB22EEABEE64D2C1EC5F3.svg"
   alt="\ce{Al}"
   style=""
   class="lateximage"
></span> (2&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-6"
   class="lateximagesource"
><!--
Ca
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/100B13D0D317E26ADDD435419081870A.svg"
   alt="\ce{Ca}"
   style=""
   class="lateximage"
></span> (1&#x202f;%)
</p>

<p>
<b>Auf bau der kontinentalen Kruste nach Elementen</b>: in der kontinentalen Kruste sieht die Situation anders aus, na&#x0308;mlich <span
    id="lateximage-basic-principles-of-geosciences-7"
    class="lateximagesource"
><!--
O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B72B0BED5B4ADEDE6C89F87E907E3C2B.svg"
   alt="\ce{O}"
   style=""
   class="lateximage"
></span> (63&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-8"
   class="lateximagesource"
><!--
Si
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/F48F3C4218D92CABFC9662A2E7A5241B.svg"
   alt="\ce{Si}"
   style=""
   class="lateximage"
></span> (23&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-9"
   class="lateximagesource"
><!--
Al
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/532E1ABA432EB22EEABEE64D2C1EC5F3.svg"
   alt="\ce{Al}"
   style=""
   class="lateximage"
></span> (6&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-10"
   class="lateximagesource"
><!--
Na
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B5B07280B109A10D688FB08C0A29A56F.svg"
   alt="\ce{Na}"
   style=""
   class="lateximage"
></span> (2&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-11"
   class="lateximagesource"
><!--
Ca
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/100B13D0D317E26ADDD435419081870A.svg"
   alt="\ce{Ca}"
   style=""
   class="lateximage"
></span> (2&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-12"
   class="lateximagesource"
><!--
K
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/776AF1424BFCF85297167BA26A89FBE4.svg"
   alt="\ce{K}"
   style=""
   class="lateximage"
></span> (2&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-13"
   class="lateximagesource"
><!--
Mg
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/41D28FB397A786AFFF3CA71AA307506A.svg"
   alt="\ce{Mg}"
   style=""
   class="lateximage"
></span> (1&#x202f;%), <span
   id="lateximage-basic-principles-of-geosciences-14"
   class="lateximagesource"
><!--
Fe
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/3092FCB1CDCEEE175D41A0CBB6F65B19.svg"
   alt="\ce{Fe}"
   style=""
   class="lateximage"
></span> (1&#x202f;%)
</p>

<p>
<b>Element-Anreicherungen in der kontinentalen Kruste</b>: viele fu&#x0308;r die Biospha&#x0308;re wichtige Elemente haben sich in der kontinentalen Kruste massiv angereichert, darunter <span
    id="lateximage-basic-principles-of-geosciences-15"
    class="lateximagesource"
><!--
N
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/CE65DE9473324D1F2A242230B54AFE83.svg"
   alt="\ce{N}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-16"
   class="lateximagesource"
><!--
B
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/1C3097B9B1DE66D406D0C8AC0201C82B.svg"
   alt="\ce{B}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-17"
   class="lateximagesource"
><!--
C
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/7B04EA2938B416EE18ACC86DA2EC08DF.svg"
   alt="\ce{C}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-18"
   class="lateximagesource"
><!--
Cl
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/DFA5950E749C68257DABEB6CCD0BB766.svg"
   alt="\ce{Cl}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-19"
   class="lateximagesource"
><!--
H
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/92DC997A8F37AA9B6BBF97921F79C423.svg"
   alt="\ce{H}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-20"
   class="lateximagesource"
><!--
K
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/776AF1424BFCF85297167BA26A89FBE4.svg"
   alt="\ce{K}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-21"
   class="lateximagesource"
><!--
P
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/9068A1897FF42CA8E9493FB0B09F73F8.svg"
   alt="\ce{P}"
   style=""
   class="lateximage"
></span>, andere Elemente sind im Vergleich zur Gesamterde ungefa&#x0308;hr gleich stark vertreten, darunter <span
   id="lateximage-basic-principles-of-geosciences-22"
   class="lateximagesource"
><!--
Ca
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/100B13D0D317E26ADDD435419081870A.svg"
   alt="\ce{Ca}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-23"
   class="lateximagesource"
><!--
S
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/92DC68CA9E38CB8EDA24A1FD855270CC.svg"
   alt="\ce{S}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-24"
   class="lateximagesource"
><!--
O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B72B0BED5B4ADEDE6C89F87E907E3C2B.svg"
   alt="\ce{O}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-25"
   class="lateximagesource"
><!--
Fe
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/3092FCB1CDCEEE175D41A0CBB6F65B19.svg"
   alt="\ce{Fe}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-26"
   class="lateximagesource"
><!--
Mn
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/652671A43B6C84C56987F5A8DAB18D3C.svg"
   alt="\ce{Mn}"
   style=""
   class="lateximage"
></span>, nur <span
   id="lateximage-basic-principles-of-geosciences-27"
   class="lateximagesource"
><!--
Mg
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/41D28FB397A786AFFF3CA71AA307506A.svg"
   alt="\ce{Mg}"
   style=""
   class="lateximage"
></span> kommt deutlich seltener in der kontinentalen Kruste vor
</p>



<h2 id="differentiation">Differentiation</h2>

</p>


<p>
<b>treibende Kra&#x0308;fte der Evolution</b>: treibende Kraft inorganischer Evolution ist chemische Differentiation, d.&#x202f;h. die Aufteilung eines urspru&#x0308;nglich homogenen Gemisches nach Elementen,
fu&#x0308;r organische Evolution ist zusa&#x0308;tzlich Plattentektonik wichtig
</p>

<p>
<b>Magmendifferentiation</b>: durch fraktionierte Kristallisation im offenen System findet Magmendifferentiation statt
</p>

<p>
<b>trockene partielle Aufschmelzung von Mantelgestein</b>: Aufschmelzung von Mantelgestein findet immer nur in Teilschmelzen statt, da die fu&#x0308;r vollsta&#x0308;ndige Schmelzen beno&#x0308;tigte Temperatur auf
der Erde zu niedrig ist (es gibt ho&#x0308;chstens 35&#x202f;%-ige Teilschmelzen)
</p>

<p>
<b>Silikate</b>: Silikate sind Polymere, die aus Tetraedern der Form <span
    id="lateximage-basic-principles-of-geosciences-28"
    class="lateximagesource"
><!--
(Si4+ O42 – )4 –
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/8B7FA60F612EBC07A96F9B8E26A11096.svg"
   alt="\ce{(Si^{4+}O4^{2-})^4-}"
   style=""
   class="lateximage"
></span> aufgebaut sind (Siliziumatom in der Mitte), durch zunehmende chemische Differentiation (Voraussetzung dafu&#x0308;r: Gesteinsschmelzen) entstehen immer la&#x0308;ngere Ketten und Moleku&#x0308;le, bei
100&#x202f;% vernetzten <span
   id="lateximage-basic-principles-of-geosciences-29"
   class="lateximagesource"
><!--
SiO4
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/0A4B5EFF3F1D6127AA1A65C202D93B1E.svg"
   alt="\ce{SiO4}"
   style=""
   class="lateximage"
></span>-Tetraedern erha&#x0308;lt man Quarz (<span
   id="lateximage-basic-principles-of-geosciences-30"
   class="lateximagesource"
><!--
SiO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/ACC8970813EB100D3D61D6BEB822A10F.svg"
   alt="\ce{SiO2}"
   style=""
   class="lateximage"
></span>)
</p>



<h2 id="erdkruste-erdmantel-und-erdkern">Erdkruste, Erdmantel und Erdkern</h2>

</p>


<p>
<b>Steinplaneten entwickeln hoch differenzierte Kruste</b>: in der Erdkruste gibt es viel <span
    id="lateximage-basic-principles-of-geosciences-31"
    class="lateximagesource"
><!--
H2 O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/122995D39D4783400E1F12EAFFB41DB1.svg"
   alt="\ce{H2O}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-32"
   class="lateximagesource"
><!--
C
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/7B04EA2938B416EE18ACC86DA2EC08DF.svg"
   alt="\ce{C}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-33"
   class="lateximagesource"
><!--
N
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/CE65DE9473324D1F2A242230B54AFE83.svg"
   alt="\ce{N}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-34"
   class="lateximagesource"
><!--
P
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/9068A1897FF42CA8E9493FB0B09F73F8.svg"
   alt="\ce{P}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-35"
   class="lateximagesource"
><!--
S
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/92DC68CA9E38CB8EDA24A1FD855270CC.svg"
   alt="\ce{S}"
   style=""
   class="lateximage"
></span> und Silikate, der obere Erdmantel besteht hauptsa&#x0308;chlich aus Silikaten (<span
   id="lateximage-basic-principles-of-geosciences-36"
   class="lateximagesource"
><!--
Si
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/F48F3C4218D92CABFC9662A2E7A5241B.svg"
   alt="\ce{Si}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-37"
   class="lateximagesource"
><!--
O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B72B0BED5B4ADEDE6C89F87E907E3C2B.svg"
   alt="\ce{O}"
   style=""
   class="lateximage"
></span> und Metalle), im unteren Erdmantel gibt es Oxide von Eisen und Magnesium (<span
   id="lateximage-basic-principles-of-geosciences-38"
   class="lateximagesource"
><!--
FeO
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/42E8FFCA0AC9990BC0006A33B6F4FEF6.svg"
   alt="\ce{FeO}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-39"
   class="lateximagesource"
><!--
MgO
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/B51CADAF6E266427AA402D4012FC9E6D.svg"
   alt="\ce{MgO}"
   style=""
   class="lateximage"
></span> usw.), der Erdkern besteht aus Eisen
</p>

<p>
<b>Eisenkern</b>: entstand in den ersten 33 Millionen Jahren, besteht aus a&#x0308;ußerem Kern (du&#x0308;nnflu&#x0308;ssiger als Wasser) und innerem Kern (fest), starkes Magnetfeld durch Turbulenzen
</p>

<p>
<b>Erdmantel</b>: eigene radiogene Wa&#x0308;rmeproduktion aus <span
    id="lateximage-basic-principles-of-geosciences-40"
    class="lateximagesource"
><!--
K
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/776AF1424BFCF85297167BA26A89FBE4.svg"
   alt="\ce{K}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-41"
   class="lateximagesource"
><!--
Th
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/1C0BD80EF062F864E31F93E9C8F266BB.svg"
   alt="\ce{Th}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-42"
   class="lateximagesource"
><!--
U
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/35E73AD9772F4E5F1402A5EF10815F5C.svg"
   alt="\ce{U}"
   style=""
   class="lateximage"
></span>, Ku&#x0308;hlung von außen erzeugt Konvektion, Konvektion treibt Plattentektonik an und bildet Hotspots
</p>

<p>
<b>Erdkruste</b>: ozeanische Kruste (Dichte 3,0&#x202f;g/cm<sup>3</sup>) entsteht im Scheitel von Konvektionszellen und wird im Mantel recycelt, dabei nimmt sie Wasser mit, welches sich im daru&#x0308;berliegenden
Mantel lo&#x0308;st und Magmen bildet, so entsteht kontinentale Kruste<br />
(Dichte 2,7&#x202f;g/cm<sup>3</sup> bis 2,8&#x202f;g/cm<sup>3</sup>)
</p>

<p>
<b>Atmospha&#x0308;re</b>: entha&#x0308;lt hauptsa&#x0308;chlich <span
    id="lateximage-basic-principles-of-geosciences-43"
    class="lateximagesource"
><!--
N2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/1C7248C6C9F1266AF5FB530CADC9F523.svg"
   alt="\ce{N2}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-44"
   class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/ABFFEBD824382D4EEEE8C01C494A4C72.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-45"
   class="lateximagesource"
><!--
H2 O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/122995D39D4783400E1F12EAFFB41DB1.svg"
   alt="\ce{H2O}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-46"
   class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-47"
   class="lateximagesource"
><!--
Ar
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/7B72343CCBCE4AC26DE4B5440460181A.svg"
   alt="\ce{Ar}"
   style=""
   class="lateximage"
></span> (Anteil <span
   id="lateximage-basic-principles-of-geosciences-48"
   class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>: 390&#x202f;ppm = 0,039&#x202f;%)
</p>



<h2 id="plattentektonik">Plattentektonik</h2>

</p>


<p>
<b>Fru&#x0308;hzeit (4,0&#x202f;Ga bis 2,5&#x202f;Ga)</b>: heiße ozeanische Lithospha&#x0308;re schwimmt oben, Stapelung von Kruste und Mantelspa&#x0308;nen, wa&#x0308;ssrige Schmelzen erzeugen
granita&#x0308;hnliche Magmen, Gebirge nicht ho&#x0308;her als 2,5&#x202f;km, keine Plattentektonik, da Wa&#x0308;rmefluss zu groß (ozeanische Kruste zu heiß), archaische Gru&#x0308;nstein-Gu&#x0308;rtel
</p>

<p>
<b>Plattentektonik-Zeit (seit 2,5&#x202f;Ga)</b>: ka&#x0308;ltere und weniger hydratisierte Kruste, Basalt wird zu Eklogit, daher tiefreichende Subduktion (da Eklogit dichter ist), wa&#x0308;ssrige Schmelzen erzeugen
granita&#x0308;hnliche Magmen, Nettowachstum der Kontinente, Gebirge bis 10&#x202f;km, heutige Ozeane und Kontinente
</p>

<p>
<b>Plattentektonik-Fenster</b>: bestimmtes Zeitfenster, in dem Plattentektonik stattfinden kann, Mars, Merkur und Mond haben das Fenster vor langer Zeit schnell durchlaufen, da sie aufgrund ihrer kleinen Gro&#x0308;ße zu
schnell ausgeku&#x0308;hlt sind, die Venus war zwar la&#x0308;ngere Zeit im Fenster, aber ist seit ca. 1&#x202f;Ga außerhalb, die Erde befindet sich als einziger Planet im Sonnensystem noch innerhalb des Fensters
</p>

<p>
<b>treibende Kra&#x0308;fte</b>: treibende Kraft der Plattentektonik ist die Mantelkonvektion, treibende Kraft von Klimavera&#x0308;nderungen ist die Plattentektonik
</p>

<p>
<b>Plattentektonik und Klima</b>: driftende und wachsende Kontinente fu&#x0308;hren zu einer wechselnden Verteilung von Land und Meer und wechselnden Stro&#x0308;mungs- und Verwitterungsmustern, die zwei stabilen
globalen Klimazusta&#x0308;nde des Treibhausklimas und des akzentuierten Klimas (mit vereisten Polkappen) ko&#x0308;nnen durch Plattentektonik erreicht werden, a&#x0308;quatorparallele Kontinent-Barrieren verhinden
Nord-Su&#x0308;d-Zirkulation und fu&#x0308;hren zu globaler Erwa&#x0308;rmung, Superkontinente oder Kontinente an den Polen fu&#x0308;hren zu globaler Abku&#x0308;hlung, die sta&#x0308;ndig wechselnden
Umweltbedingungen liefern Evolutionsanreize
</p>



<h2 id="atmosphaere">Atmosphäre</h2>

</p>


<p>
<b>Uratmospha&#x0308;re</b>: enthielt keinen Sauerstoff, sondern <span
    id="lateximage-basic-principles-of-geosciences-49"
    class="lateximagesource"
><!--
N
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/CE65DE9473324D1F2A242230B54AFE83.svg"
   alt="\ce{N}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-50"
   class="lateximagesource"
><!--
CO
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/061C8807A3D6822D7772B4ED466FC746.svg"
   alt="\ce{CO}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-51"
   class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-52"
   class="lateximagesource"
><!--
CH4
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/449C3B0A51994DB9438EC4A099641782.svg"
   alt="\ce{CH4}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-53"
   class="lateximagesource"
><!--
H2 O
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/122995D39D4783400E1F12EAFFB41DB1.svg"
   alt="\ce{H2O}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-54"
   class="lateximagesource"
><!--
H2 S
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/88B848297C8573DC283A6D2BBA3EAE17.svg"
   alt="\ce{H2S}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-55"
   class="lateximagesource"
><!--
HCN
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/426B651C15A1864D2C9EAAB2DB1BFB73.svg"
   alt="\ce{HCN}"
   style=""
   class="lateximage"
></span> (Blausa&#x0308;ure, wichtig fu&#x0308;r Bildung von Leben, aber flu&#x0308;chtig), also mehr Treibhausgase als heute, aggressive Verwitterung und rasche Mineralisierung der Ozeane sind Voraussetzungen
fu&#x0308;r die Entstehung von Leben
</p>

<p>
<b>Energieausstoß der Sonne</b>: Sonne steigert Energieausstoß um 10&#x202f;%/Ga, Oberfla&#x0308;chentemperatur der Erde vor 3,8&#x202f;Ga war wahrscheinlich ca. 40&#x202f;&deg;C (ohne Treibhausgase
wa&#x0308;re sie gleich −19&#x202f;&deg;C gewesen), wichtig, dass es nicht zu viel und nicht zu wenig Treibhausgase gibt, eine weitere Temperatursenkung ist nur mo&#x0308;glich, wenn <span
    id="lateximage-basic-principles-of-geosciences-56"
    class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span> entnommen und <span
   id="lateximage-basic-principles-of-geosciences-57"
   class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/ABFFEBD824382D4EEEE8C01C494A4C72.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span> hinzugefu&#x0308;gt wird
</p>

<p>
<b>Fotosynthese</b>: <span
    id="lateximage-basic-principles-of-geosciences-58"
    class="lateximagesource"
><!--
CO2 + H2 O −−→ organische Substanz + O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/17BE25B6619FDF44097285AB4B3D9800.svg"
   alt="\ce{CO2 + H2O -&gt; \text {organische Substanz} + O2}"
   style=""
   class="lateximage"
></span>, Fotosynthese-Leistung steigt mit Energieausstoß der Sonne, Senkung des Treibhauseffekts, selbstregelndes System, das den steigenden Energieausstoß der Sonne u&#x0308;ber mindestens 5 Milliarden Jahre hinweg
kompensiert
</p>

{% endraw %}
</div>
{:/nomarkdown}
