
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f26::marker {
  content:'•\00a0\00a0';
}
</style>
<h2 id="erdbeben">Erdbeben</h2>
<b>Erdbeben</b>: Bruchfestigkeit der Gesteine wird u&#x0308;berschritten (spro&#x0308;d nahe der Oberfla&#x0308;che, duktil in der Tiefe), Spannung in der Kruste durch Plattentektonik aufgrund inhomogenen
Wa&#x0308;rmestroms fu&#x0308;hrt zum Bruch von Gestein am Hypozentrum, Epizentrum liegt direkt u&#x0308;ber Hypozentrum auf der Oberfla&#x0308;che, kann durch Laufzeituntersuchung ermittelt werden
</p>

<p>
<b>Richterskala</b>: eine Stufe mehr bedeutet 30 Mal mehr freigesetzte Energie, maximale Sta&#x0308;rke von 9,4 wegen Maximum der Bruchfestigkeit der Gesteine in der Kruste
</p>

<p>
<b>konvergente Plattenra&#x0308;nder</b>: in Subduktionszonen (auch Wadati-Benioff-Zonen), wo eine Platte sich unter eine andere schiebt, entstehen tiefliegende Erdbeben
</p>

<p>
<b>Raumwellen</b>: gehen von der Quelle des Erdbeben in der Masse aus, gehen bei U&#x0308;bertritt zur Oberfla&#x0308;che in eine Oberfla&#x0308;chenwelle u&#x0308;ber, Geschwindigkeitsbereich in km/s, zwei Arten
von Raumwellen: Longitudialwellen (Prima&#x0308;rwellen, Ausbreitung in La&#x0308;ngsrichtung durch alles, abwechselnde Kompression und Dehnung der Partikel) und Scherwellen (Sekunda&#x0308;rwellen, senkrecht zur
Ausbreitungsrichtung, nicht durch Flu&#x0308;ssigkeiten und Gase, langsamer als Prima&#x0308;rwellen), Wellen bewegen sich schneller durch dichtere Materie
</p>

<p>
<b>Ausbreitungsbereich von Raumwellen</b>: direkte P-Wellen, die nicht durch den Kern laufen, haben einen Ausbreitungsbereich von 0&deg; bis 103&deg;, gebeugte P-Wellen, die durch den Kern laufen: 143&deg; bis 180&deg;,
Schattenzone der P-Wellen: 103&deg; bis 143&deg;, direkte S-Wellen: 0&deg; bis 103&deg;, Schattenzone der S-Wellen: 103&deg; bis 180&deg; (S-Wellen laufen nicht durch den Kern und ho&#x0308;ren an der Kern-Mantel-Grenze
auf)
</p>

<p>
<b>Oberfla&#x0308;chenwellen</b>: zwei Arten von Oberfla&#x0308;chenwellen: Love-Wellen (entstehen aus horizontal polarisierten S-Wellen, Schwingung parallel zur Oberfla&#x0308;che, treten nur in geschichteten
Gesteinen auf) und Rayleigh-Wellen (entstehen aus der Interferenz von P- und S-Wellen, Schwingung senkrecht zur Oberfla&#x0308;che, Rollbewegung gegenla&#x0308;ufig zur Ausbreitungsrichtung der Welle, treten in homogenen
und geschichteten Gesteinen auf)
</p>

<p>
<b>Dichte der Erde</b>: Durchschnitt 5,5&#x202f;g/cm<sup>3</sup>, ozeanische Kruste 3,0&#x202f;g/cm<sup>3</sup>, kontinentale Kruste 2,6&#x202f;g/cm<sup>3</sup> bis 2,7&#x202f;g/cm<sup>3</sup>
</p>

<p>
<b>Auf bau der Erdkruste und des oberen Mantels</b>: Lithospha&#x0308;re 0&#x202f;km bis 100&#x202f;km und spro&#x0308;d, Asthenospha&#x0308;re 100&#x202f;km bis 300&#x202f;km und duktil,
Mesospha&#x0308;re \(&gt; \SI {300}{\kilo \meter }\) und spro&#x0308;d
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f0"><p><b>um welchen Betrag steigt die Freisetzung der Energie bei einer Stufe mehr auf der Richterskala</b>: <em>um 30 Mal</em>
</p>
</li>
<li class="list-item-f1"><p><b>Arten von Raumwellen</b>: <em>P- und S-Wellen</em>
</p>
</li>
<li class="list-item-f2"><p><b>Arten von Oberfla&#x0308;chenwellen</b>: <em>Love- und Rayleigh-Wellen</em>
</p>
</li>
<li class="list-item-f3"><p><b>Wellen sind schneller, wenn das Medium</b>: <em>dichter ist</em>
</p>
</li>
<li class="list-item-f4"><p><b>Geschwindigkeitsbereich einer Welle</b>: <em>km/s</em>
</p>
</li>
<li class="list-item-f5"><p><b>S-Wellen durchlaufen nicht</b>: <em>Flu&#x0308;ssigkeiten und Gase</em>
</p>
</li>
<li class="list-item-f6"><p><b>Durchschnittsdichte von kontinentaler Kruste</b>: <em>ca. 2,7&#x202f;g/cm<sup>3</sup></em>
</p>
</li>
<li class="list-item-f7"><p><b>Durchschnittsdichte von ozeanischer Kruste</b>: <em>ca. 3,0&#x202f;g/cm<sup>3</sup></em>
</p>
</li>
</ul>

</div>



<h2 id="waermefluss">Wärmefluss</h2>
<b>Wa&#x0308;rmefluss</b>: u&#x0308;berhitzter Eisenkern, Konvektion ist effektiver Wa&#x0308;rmetransport, aber Abstrahlung des Kerns, inkompatible Elemente (z.&#x202f;B. zu groß) gehen in die Schmelze und wandern
mit nach oben, so entsteht die Wa&#x0308;rmeproduktion in der Kruste
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f8"><p><b>Ursachen des Wa&#x0308;rmeflusses im Inneren der Erde</b>:<br />
<em>radioaktiver Zerfall von <span
      id="lateximage-basic-principles-of-geosciences-107"
      class="lateximagesource"
><!--
K
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/03F89F59E9A85235BAB6FD3EB0639924.svg"
   alt="\ce{K}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-108"
   class="lateximagesource"
><!--
Th
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/BA53F381CE3F47F04E5DBF904E5DFAA8.svg"
   alt="\ce{Th}"
   style=""
   class="lateximage"
></span>, <span
   id="lateximage-basic-principles-of-geosciences-109"
   class="lateximagesource"
><!--
U
--><img
    src="/class-notes/images/lectures/basic-principles-of-geosciences/B03790C21CD0C0589DC5F539A370100B.svg"
    alt="\ce{U}"
    style=""
    class="lateximage"
></span>,<br />
Aufprallenergie aus der Kollision mit Himmelsko&#x0308;rpern in der Fru&#x0308;hzeit,<br />
Rotationsenergieverlust des Systems Erde – Mond</em>
</p>
</li>
</ul>

</div>



<h2 id="gravimetrie">Gravimetrie</h2>
<b>Schwimmgleichgewicht von Krusten</b>: die kontinentale Kruste (Dicke von 35&#x202f;km) schwimmt aufgrund der geringeren Dichte von 2,8&#x202f;g/cm<sup>3</sup> u&#x0308;ber der ozeanischen Kruste und dem
daru&#x0308;berliegenden Ozean (Dicke von 4,7&#x202f;km bzw. 8&#x202f;km) mit einer Krustendichte von 3,0&#x202f;g/cm<sup>3</sup>
</p>

<p>
<b>Geoid</b>: Abbild des Schwerefelds der Erde
</p>

<p>
<b>Ursache von Schwereanomalien</b>: unterschiedliche Gesteinszusammensetzung in der Kruste
</p>

<p>
<b>Bestimmung von Schwereanomalien</b>: Schweremessung an der Oberfla&#x0308;che, Freiluft-Korrektur fu&#x0308;r die topografische Ho&#x0308;he u&#x0308;ber dem Referenz-Geoid, Bouguer-Korrektur fu&#x0308;r
die Massenanziehung des Gebirges u&#x0308;ber dem Referenz-Geoid, verbleibt nach Beru&#x0308;cksichtigung beider Korrekturen eine Abweichung vom globalen Mittelwert (Schwereanomalie), so muss die Ursache
dafu&#x0308;r in der Gesteinszusammensetzung der Kruste liegen
</p>

<p>
<b>positive/negative Schwereanomalien</b>: Mantelgesteine und ozeanische Kruste bzw. Sedimentgesteine, auch auf der Ozeanoberfla&#x0308;che gibt es Berge und Ta&#x0308;ler
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f9"><p><b>positive Schwereanomalien werden verursacht durch</b>: <em>ozeanische Kruste</em>
</p>
</li>
<li class="list-item-f10"><p><b>auch auf der Ozeanoberfla&#x0308;che gibt es</b>: <em>Berge und Ta&#x0308;ler</em>
</p>
</li>
</ul>

</div>



<h2 id="magnetismus">Magnetismus</h2>
<b>Magnetit</b>: Bildung von <span
    id="lateximage-basic-principles-of-geosciences-110"
    class="lateximagesource"
><!--
Fe3 O4
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/7FE5ACF7A42C31369865A2748F74095C.svg"
   alt="\ce{Fe3O4}"
   style=""
   class="lateximage"
></span> durch Vulkanismus, ungeordnete Ausrichtung von Magnetkristallen (Elementarmagneten) in Magnetitschmelzen bei Temperaturen u&#x0308;ber 500&#x202f;&deg;C, bei Abku&#x0308;hlung ohne Magnetfeld Bildung
von gleichorientierten Bereichen, die aber keine gemeinsame Orientierung haben, mit Magnetfeld (fast) alle in dieselbe Richtung ausgerichtet
</p>

<p>
<b>Bildung des Erdmagnetfelds im Erdkern</b>: Entstehung von ringfo&#x0308;rmigen, torodialen Magnetfeldern durch meridionale Ringstro&#x0308;me im a&#x0308;ußeren Erdkern, Verdrillung der torodialen Magnetfelder
durch die Coriolis-Kraft (Taylor-Sa&#x0308;ulen)
</p>

<p>
<b>Ursache der hohen Feldsta&#x0308;rke</b>: flu&#x0308;ssiger a&#x0308;ußerer Kern und fester innerer Kern, rasche Rotation der Erde
</p>

<p>
<b>Verteilung des Magnetfelds</b>: Bereiche ho&#x0308;herer und niedrigerer Intensita&#x0308;t, a&#x0308;ndert sich sta&#x0308;ndig, Wanderung des magnetischen Nordpols durch Kanada
</p>

<p>
<b>Deklination/Inklination</b>: horizontale/vertikale Komponente des Magnetfelds
</p>

<p>
<b>Polarita&#x0308;tswechsel</b>: Erdmagnetfeld wechselt Polarita&#x0308;t o&#x0308;fters, durch pala&#x0308;omagnetische Untersuchungen von ozeanischen Ru&#x0308;cken ist daher eine Altersbestimmung der Kruste
mo&#x0308;glich (Unterteilung in Gilbert-, Gauß-, Matuyama- und Brunhes-Epoche), aus pala&#x0308;o&#x0308;magnetischen Daten geht hervor, dass die heutigen Ozeanbo&#x0308;den nicht a&#x0308;lter sind als ca.
180&#x202f;Ma (dann sind sie so kalt und dicht, dass sie im Mantel recycelt werden)
</p>

<p>
<b>Superkontiente</b>: Rodinia vor 800&#x202f;Ma, Gondwana vor 450&#x202f;Ma, Panga&#x0308;a vor 220&#x202f;Ma
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f11"><p><b>Ursache der hohen Feldsta&#x0308;rke</b>:<br />
<em>flu&#x0308;ssiger a&#x0308;ußerer Kern und fester innerer Kern,<br />
rasche Rotation der Erde</em>
</p>
</li>
<li class="list-item-f12"><p><b>aus palo&#x0308;magnetischen Daten geht hervor, dass die heutigen Ozeanbo&#x0308;den nicht a&#x0308;lter sind als</b>: <em>ca. 180&#x202f;Ma</em>
</p>
</li>
</ul>

</div>



<h2 id="rotation-und-gezeiten">Rotation und Gezeiten</h2>
<b>Milankovitch-Parameter</b>: Exzentrizita&#x0308;t, Ekliptikschiefe, Pra&#x0308;zession
</p>

<p>
<b>Exzentrizita&#x0308;t</b>: Abweichung der Erdbahn von einem Kreis, Periode von 100&#x202f;ka, starke Klimawirksamkeit
</p>

<p>
<b>Ekliptikschiefe</b>: Neigung der Rotationsachse gegenu&#x0308;ber der Erdbahn (heute 23,5&deg;), Periode von 40&#x202f;ka, mittlere Klimawirksamkeit
</p>

<p>
<b>Pra&#x0308;zession</b>: Kreisbewegung der Erdachse (Ursache: A&#x0308;quatorwulst), Periode von 20&#x202f;ka, schwache Klimawirksamkeit
</p>

<p>
<b>Ursache des bidiurnalen Gezeitenregimes</b>: zentripetal-gravitativer Flutberg (ho&#x0308;her) auf der dem Mond zugewandten Seite, zentripetaler Flutberg (niedriger) auf der dem Mond abgewandten Seite
</p>

<p>
<b>Abweichungen von der Tagesla&#x0308;nge in den letzten 300&#x202f;a</b>: Massenverlagerung wegen Verlagerung des Wassers
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f13"><p><b>Vera&#x0308;nderung wichtiger planetarer Kenngro&#x0308;ßen im Lauf der Erdgeschichte</b>:<br />
<em>die Rotation der Erde wird langsamer,<br />
die Entfernung zum Mond wird gro&#x0308;ßer,<br />
die Gezeitenkra&#x0308;fte werden schwa&#x0308;cher,<br />
die Tage werden la&#x0308;nger,<br />
die Wa&#x0308;rmeproduktion wird geringer,<br />
die ozeanische Kruste wird dichter,<br />
die Ozeane daher tiefer und Gebirge ho&#x0308;her</em>
</p>
</li>
</ul>

</div>



<h2 id="atmosphaere">Atmosphäre</h2>
<b>Licht- und Radiowellenfenster der Erdatmospha&#x0308;re</b>: Durchla&#x0308;ssigkeit fu&#x0308;r sichtbares Licht (400&#x202f;nm bis 700&#x202f;nm Wellenla&#x0308;nge) und Radiowellen (5&#x202f;cm bis
10&#x202f;m Wellenla&#x0308;nge), der Rest wird relativ gut abgeschirmt
</p>

<p>
<b>Auf bau der Atmospha&#x0308;re</b>: Tropospha&#x0308;re, Tropopause (10&#x202f;km), Stratospha&#x0308;re,<br />
Stratopause (50&#x202f;km), Mesospha&#x0308;re, Mesopause (80&#x202f;km), Thermospha&#x0308;re, Exospha&#x0308;re (ab 500&#x202f;km), Ozonschicht in Ho&#x0308;he von 25&#x202f;km bis 30&#x202f;km,
Meso- und Thermospha&#x0308;re geho&#x0308;ren zur Ionospha&#x0308;re
</p>

<p>
<b>globale atmospha&#x0308;rische Konvektionszellen</b>: am A&#x0308;quator steht die Sonne am ho&#x0308;chsten, daher wird Luft stark erwa&#x0308;rmt, kann viel Feuchtigkeit aufnehmen, in großer Ho&#x0308;he
ku&#x0308;hlt sie sich ab und es regnet, dann wandert die trockene Luft nach Norden und Su&#x0308;den und sinkt in den Ross-Breiten zu Boden, diese Luft stro&#x0308;mt als Nordost- bzw. Su&#x0308;dostpasst wieder zum
A&#x0308;quator (Hadley-Zelle), analog Ferrel-Zellen zwischen Breiten von 30&deg; bis 60&deg;, Westwinde in mittleren Breiten, polare Ostwinde
</p>

<p>
<b>Coriolis-Kraft</b>: Scheinkraft aufgrund der Erdrotation, la&#x0308;sst Winde Richtung A&#x0308;quator als Ostwinde wehen (Passate)
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f14"><p><b><span
      id="lateximage-basic-principles-of-geosciences-111"
      class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/E1C35C1B8508026182732D5B6849200B.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span>-Gehalt heute</b>: <em>21&#x202f;%</em>
</p>
</li>
<li class="list-item-f15"><p><b><span
      id="lateximage-basic-principles-of-geosciences-112"
      class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/E1C35C1B8508026182732D5B6849200B.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span>-Gehalt urspru&#x0308;nglich</b>: <em>0&#x202f;%</em>
</p>
</li>
<li class="list-item-f16"><p><b><span
      id="lateximage-basic-principles-of-geosciences-113"
      class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/3A08432C0511AC3361CB020E72E41EF8.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>-Gehalt heute</b>: 0,0390&#x202f;%
</p>
</li>
<li class="list-item-f17"><p><b><span
      id="lateximage-basic-principles-of-geosciences-114"
      class="lateximagesource"
><!--
CO2
--><img
    src="/class-notes/images/lectures/basic-principles-of-geosciences/3A08432C0511AC3361CB020E72E41EF8.svg"
    alt="\ce{CO2}"
    style=""
    class="lateximage"
></span>-Gehalt urspru&#x0308;nglich</b>: <em>ho&#x0308;her</em>
</p>
</li>
<li class="list-item-f18"><p><b>Passatwinde wehen auf der Nord-/Su&#x0308;dhalbkugel aus</b>: <em>Nord-/Su&#x0308;dost</em>
</p>
</li>
<li class="list-item-f19"><p><b>der meiste Niederschlag fa&#x0308;llt</b>: <em>in den Tropen</em>
</p>
</li>
</ul>

</div>



<h2 id="ozeane-und-meeresstroemungen">Ozeane und Meeresströmungen</h2>
<b>Zusammensetzung von Meerwasser</b>: 96,5&#x202f;% Wasser und 3,5&#x202f;% gelo&#x0308;ste Salze, davon 55&#x202f;% Chlorid, 31&#x202f;% Natrium und 8&#x202f;% Sulfat
</p>

<p>
<b>Meeresstro&#x0308;mungen</b>: Antrieb durch Passatwinde (rechtsdrehend auf der Nordhalbkugel)
</p>

<p>
<b>Golfstrom</b>: oberfla&#x0308;chlicher Warmwasserstrom mit wenig Salzgehalt, gibt es seit 3,4&#x202f;Ma (Bildung der Landbru&#x0308;cke von Mittelamerika), warmes Wasser kommt aus dem Pazifik, wandert zwischen
Australien und Asien an der Su&#x0308;dspitze von Afrika vorbei, wird in der Karibik nochmals erwa&#x0308;rmt und gelangt in die Nordsee, gibt dort Wa&#x0308;rme ab und sinkt ab, wandert als kalter, salzhaltiger Tiefenstrom
wieder zuru&#x0308;ck (diesmal su&#x0308;dlich von Australien vorbei)
</p>

<p>
<b>Versiegen des Golfstroms</b>: Golfstrom bewirkt wa&#x0308;rmeres Klima, wenn das Klima noch weiter erwa&#x0308;rmt wird, dann ergibt sich ein gro&#x0308;ßerer Su&#x0308;ßwasserzustrom im arktischen Ozean
(Flu&#x0308;sse in Russland), was zum Versiegen des Golfstroms fu&#x0308;hren ko&#x0308;nnte
</p>

<p>
<b>Vertikalprofil der ozeanischen Wassersa&#x0308;ule</b>: der <span
    id="lateximage-basic-principles-of-geosciences-115"
    class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/ABFFEBD824382D4EEEE8C01C494A4C72.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span>-Gehalt erreicht in 1&#x202f;km Tiefe sein Minimum (Plankton-Regen wird oxidiert und verbraucht Sauerstoff), steigt in tieferem Wasser wieder an (wegen arktischen, <span
   id="lateximage-basic-principles-of-geosciences-116"
   class="lateximagesource"
><!--
O2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/ABFFEBD824382D4EEEE8C01C494A4C72.svg"
   alt="\ce{O2}"
   style=""
   class="lateximage"
></span>-gesa&#x0308;ttigten Tiefenstro&#x0308;mungen)
</p>

<p>
<b>Ekman-Stro&#x0308;mung an den Westku&#x0308;sten der Su&#x0308;dkontinente</b>: Stro&#x0308;mung weg von der Ku&#x0308;ste bei vorherrschender Windrichtung aus Su&#x0308;den (kaltes Tiefenwasser
erzeugt Ku&#x0308;stenwu&#x0308;sten), Stro&#x0308;mung hin zu Ku&#x0308;ste bei vorherrschender Windrichtung aus Norden (warmes Oberfla&#x0308;chenwasser)
</p>

<p>
<b>El Nin&#x0303;o</b>: Ursache ist autozyklisch
</p>

<p>
<b>Meeresspiegel</b>: Temperaturschwankungen haben dazu gefu&#x0308;hrt, dass der Meeresspiegel wa&#x0308;hrend der letzten Eiszeit um 130&#x202f;m tiefer war
</p>

<p>
<b>Vereisung</b>: Su&#x0308;dpol ist kontinuierlich vereist seit 34&#x202f;Ma (Vereisungsschwelle 750&#x202f;ppm <span
    id="lateximage-basic-principles-of-geosciences-117"
    class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>), Nordpol ist kontinuierlich vereist seit 3,4&#x202f;Ma (Vereisungsschwelle 280&#x202f;ppm <span
   id="lateximage-basic-principles-of-geosciences-118"
   class="lateximagesource"
><!--
CO2
--><img
   src="/class-notes/images/lectures/basic-principles-of-geosciences/725A4192A256649862D52FF3824F9588.svg"
   alt="\ce{CO2}"
   style=""
   class="lateximage"
></span>)
</p>
<div class="framed" >

<ul style="list-style-type:none">

<li class="list-item-f20"><p><b>Salzgehalt</b>: <em>3,5&#x202f;%</em>
</p>
</li>
<li class="list-item-f21"><p><b>Golfstrom gibt es seit</b>: <em>3,4&#x202f;Ma (Landbru&#x0308;cke Mittelamerika)</em>
</p>
</li>
<li class="list-item-f22"><p><b>Auftriebsgebiete von kaltem Tiefenwasser erzeugen</b>: <em>Ku&#x0308;stenwu&#x0308;sten</em>
</p>
</li>
<li class="list-item-f23"><p><b>Ursache fu&#x0308;r El-Nin&#x0303;o-Pha&#x0308;nomen</b>: <em>autozyklisch</em>
</p>
</li>
<li class="list-item-f24"><p><b>Su&#x0308;dpol ist kontinuierlich vereist</b>: <em>seit 34&#x202f;Ma</em>
</p>
</li>
<li class="list-item-f25"><p><b>Nordpol ist kontinuierlich vereist</b>: <em>seit 3,4&#x202f;Ma</em>
</p>
</li>
<li class="list-item-f26"><p><b>Milankovitch-Parameter mit dem sta&#x0308;rksten Klimaeinfluss</b>: <em>Exzentrizita&#x0308;t</em>
</p>
</li>
</ul>

</div>

{% endraw %}
</div>
{:/nomarkdown}
