
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\Vb }{\ensuremath {\operatorname {Vb}}}\)

\(\newcommand {\Nb }{\ensuremath {\operatorname {Nb}}}\)

\(\newcommand {\card }{\ensuremath {\operatorname {card}}}\)

\(\renewcommand {\Re }{\ensuremath {\operatorname {Re}}}\)

\(\renewcommand {\Im }{\ensuremath {\operatorname {Im}}}\)

\(\newcommand {\Ln }{\ensuremath {\operatorname {Ln}}}\)

\(\newcommand {\CF }{\ensuremath {\operatorname {CF}}}\)

\(\newcommand {\acc }{\ensuremath {\operatorname {acc}}}\)

\(\newcommand {\iso }{\ensuremath {\operatorname {iso}}}\)

\(\newcommand {\interior }{\ensuremath {\operatorname {int}}}\)

\(\newcommand {\exterior }{\ensuremath {\operatorname {ext}}}\)

\(\newcommand {\sgn }{\ensuremath {\operatorname {sgn}}}\)

\(\newcommand {\arccot }{\ensuremath {\operatorname {arccot}}}\)

\(\newcommand {\arsinh }{\ensuremath {\operatorname {arsinh}}}\)

\(\newcommand {\arcosh }{\ensuremath {\operatorname {arcosh}}}\)

\(\newcommand {\artanh }{\ensuremath {\operatorname {artanh}}}\)

\(\newcommand {\arcoth }{\ensuremath {\operatorname {arcoth}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="die-definition-der-ableitung">Die Definition der Ableitung</h2>

</p>


<p>
Sei \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\) eine Funktion mit \(X\) offen, d.&#x202f;h. fu&#x0308;r einen Punkt \(x_0 \in X\) ist<br />
\(\exists _{\varepsilon &gt; 0}\; U_\varepsilon (x_0) \subset X\). Daraus folgt \(x_0 + h \in X\) fu&#x0308;r \(|h| &lt; \varepsilon \).<br />
\(\varphi (h, x_0) =\) \(\frac {f(x_0 + h) - f(x_0)}{h}\) heißt <b>Differenzenquotient</b> (\(|h| &lt; \varepsilon \), \(h \not = 0\)).
</p>

<p>
\(f\) heißt im Punkt \(x_0 \in X\) <b>differenzierbar</b>, falls der Grenzwert<br />
\(\lim _{h \to 0} \varphi (h, x_0) =: f’(x_0) = f’|_{x=x_0} =\) \(\frac {df}{dx}\)\(\big |_{x=x_0}\) existiert.<br />
\(f\) heißt differenzierbar in \(X\), falls \(f\) in allen Punkten \(x_0 \in X\) differenzierbar ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Fu&#x0308;r Funktionen \(f: X \subset \mathbb {C} \rightarrow \mathbb {C}\) kann man fu&#x0308;r \(x_0 \in X \cap \mathbb {R}\) die <b>komplexe bzw. reelle Ableitung</b> \((\mathbb {C}) - f’(x_0) =
\lim _{h \to 0,\; h \in \mathbb {C}} \frac {f(x_0 + h) - f(x_0)}{h}\) bzw. \((\mathbb {R}) - f’(x_0) = \lim _{h \to 0,\; h \in \mathbb {R}} \frac {f|_{\mathbb {R}}(x_0 + h) - f|_{\mathbb
{R}}(x_0)}{h}\) betrachten. Existieren die Grenzwerte, so heißt \(f\) <b>komplex bzw. reell differenzierbar</b>.
</p>

<p>
<b>Satz</b>: Ist \(f: X \subset \mathbb {C} \rightarrow \mathbb {C}\) in \(x_0 \in \mathbb {R} \cap X\) \((\mathbb {C})\)-differenzierbar, so ist sie auch \((\mathbb {R})\)-differenzierbar und \((\mathbb {C}) -
f’(x_0) = (\mathbb {R}) - f’(x_0)\). <em>Die Umkehrung gilt nicht!</em>
</p>

<p>
<b>Satz</b>: Eine komplexwertige Funktion \(f: X \subset \mathbb {R} \rightarrow \mathbb {C}\), \(f = g + ik\) (\(g,k: X \subset \mathbb {R} \rightarrow \mathbb {R}\)) ist genau dann reell differenzierbar,
wenn Real- und Imagina&#x0308;rteil reell differenzierbar sind.
</p>

<p>
<b>Satz</b>: Ist \(f: X \subset \mathbb {C} \rightarrow \mathbb {R}\) in \(z_0 \in X\) komplex differenzierbar, so ist \((\mathbb {C}) - f’(z_0) = 0\).
</p>



<h2 id="die-landau-symbole">Die <span style="font-variant: small-caps;">Landau</span>-Symbole</h2>

</p>


<p>
Seien \(M\) ein metrischer Raum, \(f, g: X \subset M \rightarrow \mathbb {K}^n\) sowie \(x_0 \in \acc (X)\).
</p>

<p>
<b><span class="textsc" >Landau</span>-Symbole</b>: \(f \overset {x \to x_0}{=} \mathcal {O}(g) \;\Leftrightarrow \; \exists _{C \in \mathbb {R}} \exists _{\delta &gt; 0} \forall _{x \in X
\cap U_\delta (x_0)}\; \Vert f(x) \Vert \le C \Vert g(x) \Vert \),<br />
\(f \overset {x \to x_0}{=} o(g) \;\Leftrightarrow \; \forall _{\varepsilon &gt; 0} \exists _{\delta = \delta (\varepsilon )} \forall _{x \in X \cap U_\delta (x_0)}\; \Vert f(x) \Vert \le
\varepsilon \Vert g(x) \Vert \) &#x2003;&#x2003;(in \(\mathbb {K}\) ist die Norm der Betrag)
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Satz</b>: Sei \(x \to x_0 \in \acc (X)\). &#x2003;&#x2003;Dann gilt \(f = o(g) \;\Rightarrow \; f = \mathcal {O}(g)\),<br />
\(f_1 = \mathcal {O}(g) \land f_2 = \mathcal {O}(g) \;\Rightarrow \; f_1 \pm f_2 = \mathcal {O}(g)\), &#x2003;&#x2003;\(f_1 = o(g) \land f_2 = o(g) \;\Rightarrow \; f_1 \pm f_2 = o(g)\) sowie
\(f_1 = o(g) \land f_2 = \mathcal {O}(g) \;\Rightarrow \; f_1 \pm f_2 = \mathcal {O}(g)\).
</p>

<p>
<b>Satz</b>: Seien \(f, g: X \subset M \rightarrow \mathbb {K}^n\), \(\gamma , \psi : X \subset M \rightarrow \mathbb {K}\). Dann gilt<br />
\(\psi = \mathcal {O}(\gamma ) \land f = \mathcal {O}(g) \;\Rightarrow \; \psi f = \mathcal {O}(\gamma g)\), &#x2003;&#x2003;\(\psi = o(\gamma ) \land f = \mathcal {O}(g) \;\Rightarrow \; \psi
f = o(\gamma g)\) sowie<br />
\(\psi = \mathcal {O}(\gamma ) \land f = o(g) \;\Rightarrow \; \psi f = o(\gamma g)\).
</p>

<p>
<b>Schreibweise</b>: \(f_1 - f_2 = \mathcal {O}(g) \;\Leftrightarrow \; f_1 = f_2 + \mathcal {O}(g)\), &#x2003;&#x2003;\(f_1 - f_2 = o(g) \;\Leftrightarrow \; f_1 = f_2 + o(g)\)
</p>

<p>
<b>Anmerkung</b>: Ist \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\) und \(x \to x_0 = 0\), dann ist \(f(x) = o(x) \;\Leftrightarrow \; f(x) = x \tilde {f}(x)\) mit \(\tilde {f}(x) = o(1)\)
&#x2003;(bzw. \(f(x) = \mathcal {O}(x) \;\Leftrightarrow \; f(x) = x \tilde {f}(x)\) mit \(\tilde {f}(x) = \mathcal {O}(1)\)).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Anwendungen</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(f \overset   {x \to x_0}{=} \mathcal {O}(1)\) \(\;\Leftrightarrow \;\) \(f\) ist in einer geeigneten \(\delta \)-Umgebung von \(x_0\) beschra&#x0308;nkt
</p>
</li>
<li class="list-item-f1"><p>\(f \overset   {x \to x_0}{=} o(1)\) \(\;\Leftrightarrow \;\) \((\lim _{x \to x_0} f(x) = 0) \land (x_0 \in X \Rightarrow f(x_0) = 0)\)
</p>
</li>
<li class="list-item-f2"><p>\(f(x_0 + h)   \overset {h \to 0}{=} f(x_0) + o(1)\) \(\;\Leftrightarrow \;\) \(f\) ist stetig in \(x_0\)
</p>
</li>
<li class="list-item-f3"><p>\(f(x_0 + h)   - f(x_0) \overset {h \to 0}{=} hF + o(h)\) \(\;\Leftrightarrow \;\) \(f\) ist in \(x_0\) differenzierbar und \(f’(x_0) = F\)
</p>
</li>
</ul>

<p>
<b>Folgerung</b>: Ist \(f\) im Punkt \(x_0\) differenzierbar, so ist \(f\) im Punkt \(x_0\) stetig.<br />
Die Umkehrung gilt nicht!
</p>



<h2 id="das-rechnen-mit-ableitungen">Das Rechnen mit Ableitungen</h2>

</p>


<p>
Seien \(\mathbb {K} \in \{\mathbb {R}, \mathbb {C}\}\), \(X \subset \mathbb {K}\) offen, \(x_0 \in X\), &#x2003;\(f, f_1, f_2: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\), \(g: X \subset
\mathbb {K} \rightarrow \mathbb {K}\),<br />
\(f, f_1, f_2, g\) im Punkt \(x_0 \in X\) differenzierbar,<br />
\(\psi : Y \subset \mathbb {K} \rightarrow \mathbb {K}\), \(Y\) offen, \(y_0 \in Y\) mit \(\psi (y_0) = x_0\), \(\psi \) im Punkt \(y_0 \in Y\) differenzierbar.
</p>

<p>
Dann ist \((f_1 + f_2)’|_{x=x_0} = f_1’|_{x=x_0} + f_2’|_{x=x_0}\), &#x2003;\((\alpha f)’|_{x=x_0} = \alpha (f’|_{x=x_0})\),<br />
\((gf)’|_{x=x_0} = g’|_{x=x_0} f(x_0) + g(x_0) f’|_{x=x_0}\) &#x2003;sowie &#x2003;\((f \circ \psi )’|_{y=y_0} = f’|_{x=x_0=\psi (y_0)} \cdot \psi ’|_{y=y_0}\).
</p>

<p>
<b>Folgerung</b>: Seien \(X \subset \mathbb {K}\) offen, \(x_0 \in X\), \(f, g: X \subset \mathbb {K} \rightarrow \mathbb {K}\), \(g(x) \not = 0\) fu&#x0308;r alle \(x \in X\),<br />
\(f, g\) differenzierbar in \(x_0 \in X\). &#x2003;Dann ist \(\left (\frac {f}{g}\right )’\Big |_{x=x_0} = \frac {f’(x_0) g(x_0) - f(x_0) g’(x_0)}{(g(x_0))^2}\).
</p>

<p>
<b>Satz</b>: Seien \(X, Y \subset \mathbb {K}\) offen, \(x_0 \in X\), \(y_0 \in Y\), \(f: X \rightarrow Y\) bijektiv mit \(y_0 = f(x_0)\),<br />
\(f^{-1}\) stetig im Punkt \(y_0\) sowie \(f\) differenzierbar in \(x_0\) mit \(f’(x_0) \not = 0\).<br />
Dann ist \(f^{-1}\) in \(y_0\) differenzierbar mit \((f^{-1})’(y_0) =\) \(\frac {1}{f’(x_0)}\).
</p>



<h2 id="ableitungen-wichtiger-funktionen">Ableitungen wichtiger Funktionen</h2>

</p>
<table>

<tr>
<td class="tdl">\((\text {const.})’ = 0\)</td>
<td class="tdl">\((z)’ = 1\)</td>
<td class="tdl">\((z^\alpha )’ = \alpha z^{\alpha - 1}\)</td>
<td class="tdl"></td>
<td class="tdl"></td>
</tr>


<tr>
<td class="tdl">\((e^z)’ = e^z\)</td>
<td class="tdl">\((\Ln z)’ =\) \(\frac {1}{z}\)</td>
<td class="tdl"></td>
<td class="tdl"></td>
<td class="tdl"></td>
</tr>


<tr class="hline" >
<td class="tdl">\((\sin     z)’   = \cos z\)</td>
<td class="tdl">\((\cos     z)’   = -\sin z\)</td>
<td class="tdl">\((\tan     z)’   =\) \(\frac {1}{\cos ^2 z}\)</td>
<td class="tdl">\((\cot     z)’   =\) \(-\frac {1}{\sin ^2 z}\)</td>
<td class="tdl"></td>
</tr>


<tr>
<td class="tdl">\((\sinh      z)’   = \cosh z\)</td>
<td class="tdl">\((\cosh      z)’   = \sinh z\)</td>
<td class="tdl">\((\tanh      z)’   =\) \(\frac {1}{\cosh ^2 z}\)</td>
<td class="tdl">\((\coth      z)’   =\) \(-\frac {1}{\sinh ^2 z}\)</td>
<td class="tdl"></td>
</tr>


<tr class="hline" >
<td class="tdl">\((\arcsin      z)’   =\)   \(\frac {1}{\sqrt {1 - z^2}}\)</td>
<td class="tdl">\((\arccos      z)’   =\)   \(-\frac {1}{\sqrt {1 - z^2}}\)</td>
<td class="tdl">\((\arctan      z)’   =\)   \(\frac {1}{1 + z^2}\)</td>
<td class="tdl">\((\arccot      z)’   =\)   \(-\frac {1}{1 + z^2}\)</td>
<td class="tdl"></td>
</tr>


<tr>
<td class="tdl">\((\arsinh      z)’   =\)   \(\frac   {1}{\sqrt {z^2 + 1}}\)</td>
<td class="tdl">\((\arcosh      z)’   =\)   \(\frac   {1}{\sqrt {z^2 - 1}}\)</td>
<td class="tdl">\((\artanh      z)’   =\)   \(\frac   {1}{1 - z^2}\)</td>
<td class="tdl">\((\arcoth      z)’   =\)   \(\frac   {1}{1 - z^2}\)</td>
<td class="tdl"></td>
</tr>

</table>



<h2 id="die-saetze-von-fermat-rolle-cauchy-und-lagrange">Die Sätze von <span style="font-variant: small-caps;">Fermat</span>, <span style="font-variant: small-caps;">Rolle</span>, <span style="font-variant: small-caps;">Cauchy</span> und <span style="font-variant: small-caps;">Lagrange</span></h2>

</p>


<p>
Wir betrachten nun reelle Ableitungen: \(f: [a,b] \rightarrow \mathbb {R}\), \(a &lt; b\).
</p>

<p>
<b>Satz von <span class="textsc" >Fermat</span></b>: Sei \(f \in C([a,b])\), \(c \in \left ]a,b\right [\) mit \(f\) in \(c\) diffb. sowie<br />
\(f(c) = \max _{x \in [a,b]} f(x)\) bzw. \(f(c) = \min _{x \in [a,b]} f(x)\). &#x2003;&#x2003;Dann ist \(f’(c) = 0\).
</p>

<p>
<b>Satz von <span class="textsc" >Rolle</span></b>: Sei \(f \in C([a,b])\), \(f\) in \(\left ]a,b\right [\) diffb. sowie \(f(a) = f(b)\).<br />
Dann gibt es ein \(c \in \left ]a,b\right [\), sodass \(f’(c) = 0\).
</p>

<p>
<b>Satz von <span class="textsc" >Cauchy</span></b>: Seien \(f,g \in C([a,b])\), \(f,g\) in \(\left ]a,b\right [\) diffb. sowie \(g’(x) \not = 0\) fu&#x0308;r alle \(x \in \left ]a,b\right [\).<br />
Dann gibt es ein \(c \in \left ]a,b\right [\), sodass \(\frac {f(b) - f(a)}{g(b) - g(a)} = \frac {f’(c)}{g’(c)}\).
</p>

<p>
<b>Satz von <span class="textsc" >Lagrange</span></b>: Sei \(f \in C([a,b])\) in \(\left ]a,b\right [\) diffb.<br />
Dann gibt es ein \(c \in \left ]a,b\right [\), sodass \(f(b) - f(a) = (b - a) \cdot f’(c)\).
</p>



<h2 id="hauptsatz-der-differentialrechnung">Hauptsatz der Differentialrechnung</h2>

</p>


<p>
Sei \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\), mit \(X\) offen und \(\overline {ab} \subset X\), wobei \(\overline {ab}\) fu&#x0308;r \(a, b \in X\) definiert ist als \(\overline {ab} = \{x \in
\mathbb {K} \;|\; x = a +\) \(\frac {b - a}{|b - a|}\) \(t,\; t \in [0, |b - a|]\}\) und \(\overset {\circ }{\overline {ab}}\) \(= \overline {ab} \setminus \{a, b\}\).
</p>

<p>
<b>Hauptsatz der Differentialrechnung</b>: Sei \(f \circ \psi \) stetig auf \([0, |b - a|]\) und differenzierbar fu&#x0308;r \(t \in \left ]0, |b - a|\right [\) (d.&#x202f;h. \(f\) stetig auf \(\overline {ab}\)
und differenzierbar auf \(\overset {\circ }{\overline {ab}}\)), wobei \(\psi (t) = a +\) \(\frac {b - a}{|b - a|}\) \(t\).<br />
Dann ist \(\Vert f(b) - f(a) \Vert \le \sup _{x \in \overset {\circ }{\overline {ab}}} \Vert f’(x) \Vert \cdot |b - a|\).
</p>



<h2 id="ableitungen-hoeherer-ordnung">Ableitungen höherer Ordnung</h2>

</p>


<p>
Sei \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\) mit \(X\) offen. Ist diese Funktion in einer \(\varepsilon \)-Umgebung von \(x_0 \in X\) mit \(U_\varepsilon (x_0) \subset X\) diffb., so kann die
Ableitung als Funktion \(f’: U_\varepsilon (x_0) \rightarrow \mathbb {K}^n\) dargestellt werden.
</p>

<p>
<b>ho&#x0308;here Ableitungen</b>: Ist \(f’: U_\varepsilon (x_0) \rightarrow \mathbb {K}^n\) im Punkt \(x_0\) differenzierbar, so heißt \((f’)’(x_0) =:\) \(\frac {d^2 f}{dx^2}\)\(\big |_{x=x_0} = f’’(x_0)
= f^{(2)}(x_0)\) die <b>zweite Ableitung von \(f\)</b>.<br />
Die Definition kann iterativ fortgesetzt werden: Ist \(f^{(m-1)}: U_\varepsilon (x_0) \rightarrow \mathbb {K}^n\) in \(x_0\) differenzierbar, so ist analog \((f^{(m-1)})’(x_0) =:\) \(\frac {d^m f}{dx^m}\)\(\big
|_{x=x_0} = f^{(m)}(x_0)\) die <b>\(m\)-te Ableitung von \(f\)</b>.
</p>

<p>
<b>Schreibweise</b>:<br />
\(C^m(X, \mathbb {K}^n) = \{f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n \;|\; f \text { auf } X \text { } m \text {-fach differenzierbar},\; f^{(m)} \text { auf } X \text {
stetig}\}\),<br />
\(C^\infty (X, \mathbb {K}^n) = \{f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n \;|\; f \text { beliebig oft auf } X \text { differenzierbar}\}\)
</p>

<p>
<b>Satz von <span class="textsc" >Leibniz</span></b>: Seien \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\) und \(g: X \subset \mathbb {K} \rightarrow \mathbb {K}\) (\(X\) offen) \(m\)-fach diffb.
in \(X\).<br />
Dann ist auch \((g \cdot f)\) \(m\)-fach differenzierbar und \((gf)^{(m)}(x_0) = \sum _{k=0}^m \binom {m}{k} g^{(k)}(x_0) f^{(m-k)}(x_0)\) (dabei sei \(g^{(0)} = g\) und \(f^{(0)} = f\)).
</p>



<h2 id="der-satz-von-taylor">Der Satz von <span style="font-variant: small-caps;">Taylor</span></h2>

</p>


<p>
Sei \(f: X \subset \mathbb {K} \rightarrow \mathbb {K}^n\) (\(X\) offen) in \(x_0 \in X\) \(m\)-fach differenzierbar.<br />
Dann ist \(f(x_0 + h) = f(x_0) + \sum _{k=1}^m \frac {1}{k!} f^{(k)}(x_0) h^k + r_m(h)\) mit \(r_m(h) = o(h^m)\) fu&#x0308;r \(h \to 0\).
</p>



<h2 id="monotonie-und-extremwerte-von-funktionen">Monotonie und Extremwerte von Funktionen</h2>

</p>


<p>
<b>Satz</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}^n\) stetig auf \([a,b]\) und differenzierbar in \(\left ]a,b\right [\).<br />
Dann ist \(f\) konstant auf \([a,b]\) genau dann, wenn \(f’(x) = 0\) fu&#x0308;r alle \(x \in \left ]a,b\right [\) ist.
</p>

<p>
<b>Folgerung</b>: Seien \(f, g: [a,b] \rightarrow \mathbb {R}^n\) stetig auf \([a,b]\) und differenzierbar in \(\left ]a,b\right [\).<br />
Dann folgt aus \(f’(x) = g’(x)\) fu&#x0308;r alle \(x \in \left ]a,b\right [\), dass \(f(x) = g(x) + \text {const.}\) ist.
</p>

<p>
<b>Monotonie von Funktionen</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}\).<br />
\(f\!\!\uparrow \quad \Leftrightarrow \quad (x_1 &lt; x_2 \;\Rightarrow \; f(x_1) \le f(x_2))\), &#x2003;&#x2003;\(f\!\!\upuparrows \quad \Leftrightarrow \quad (x_1 &lt; x_2 \;\Rightarrow \;
f(x_1) &lt; f(x_2))\)
</p>

<p>
<b>Satz</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}\) stetig auf \([a,b]\) sowie differenzierbar in \(\left ]a,b\right [\).<br />
Dann ist \(f\!\!\uparrow \quad \Leftrightarrow \quad \forall _{x \in \left ]a,b\right [}\; f’(x) \ge 0\) &#x2003;sowie<br />
\(f\!\!\upuparrows \quad \Leftrightarrow \quad (\forall _{x \in \left ]a,b\right [}\; f’(x) \ge 0) \land \lnot (\exists _{\alpha , \beta \in \left ]a,b\right [,\; \alpha &lt; \beta } \forall
_{x \in [\alpha , \beta ]}\; f’(x) = 0)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>globale Extremwerte</b>: \(f: X \subset \mathbb {R} \rightarrow \mathbb {R}\) nimmt im Punkt \(c \in X\) ein globales Maximum (bzw. Minimum) an, falls \(f(c) \ge f(x)\) (bzw. \(f(c) \le f(x)\))
fu&#x0308;r alle \(x \in X\).
</p>

<p>
<b>notwendige Bedingung (globale Extrema)</b> (Satz von <span class="textsc" >Fermat</span>): Seien \(f: [a,b] \rightarrow \mathbb {R}\) stetig, in \(\left ]a,b\right [\) diffb. und \(c \in \left
]a,b\right [\) mit \(f(c) = \max _{x \in [a,b]} f(x)\). &#x2003;&#x2003;Dann ist \(f’(c) = 0\).
</p>

<p>
<b>hinreichende Bedingung (globale Extrema)</b>: Seien \(f: [a,b] \rightarrow \mathbb {R}\) stetig, in \(\left ]a,b\right [\) diffb. und \(c \in \left ]a,b\right [\) mit \(f’(c) = 0\), wobei \(f’(x) \ge 0\)
fu&#x0308;r \(x &lt; c\) und \(f’(x) \le 0\) fu&#x0308;r \(x &gt; c\) (\(x \in \left ]a,b\right [\)).<br />
Dann ist \(f(c) = \max _{x \in [a,b]} f(x)\).
</p>

<p>
<b>Folgerung (doppelte Ableitung)</b>: Seien \(f: [a,b] \rightarrow \mathbb {R}\) stetig, in \(\left ]a,b\right [\) 2-fach diffb. und \(c \in \left ]a,b\right [\) mit \(f’(c) = 0\) sowie \(f’’(x) \le 0\)
fu&#x0308;r alle \(x \in \left ]a,b\right [\). &#x2003;&#x2003;Dann ist \(f(c) = \max _{x \in [a,b]} f(x)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>lokale Extremwerte</b>: \(f: X \subset \mathbb {R} \rightarrow \mathbb {R}\) nimmt im Punkt \(c \in X\) ein lokales Maximum (bzw. Minimum) an, falls \(\exists _{\varepsilon &gt; 0} \forall _{x \in X
\cap U_\varepsilon (c)}\; f(c) \ge f(x)\) (bzw. \(f(c) \le f(x)\)).
</p>

<p>
<b>notwendige Bedingung (lokale Extrema)</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}\) stetig, in \(\left ]a,b\right [\) diffb. und \(c \in \left ]a,b\right [\), wobei \(f\) in \(c\) einen lokalen Extremwert
annimmt. &#x2003;&#x2003;Dann ist \(f’(c) = 0\).
</p>

<p>
<b>hinreichende Bedingung (lokale Extrema)</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}\) stetig, in \(\left ]a,b\right [\) diffb. sowie in \(c \in \left ]a,b\right [\) 2-fach diffb., wobei \(f’(c) = 0\) und
\(f’’(c) &lt; 0\).<br />
Dann nimmt \(f\) in \(c\) ein lokales Maximum an.
</p>

<p>
<b>\(n\)-fache Ableitung (Extrema)</b>: Sei \(f: [a,b] \rightarrow \mathbb {R}\) in \(\left ]a,b\right [\) \(n-1\)-fach diffb. sowie in \(c \in \left ]a,b\right [\) \(n\)-fach diffb., wobei \(f’(c) = \cdots =
f^{(n-1)}(c) = 0\) und \(f^{(n)} \not = 0\).<br />
Dann ist, falls \(n\) gerade ist, \(c\) ein lokales Maximum falls \(f^{(n)}(c) &lt; 0\) bzw. ein lokales Minimum falls \(f^{(n)}(c) &gt; 0\). &#x2003;&#x2003;Ist \(n\) ungerade, so ist \(c\) kein lokaler Extremwert.
</p>



<h2 id="konvexe-und-konkave-funktionen">Konvexe und konkave Funktionen</h2>

</p>


<p>
Sei \(f: [a,b] \rightarrow \mathbb {R}\).
</p>

<p>
<b>konvexe und konkave Funktionen</b>: \(f\) heißt konvex<br />
\(\;\Leftrightarrow \; \forall _{x_1, x_2 \in [a,b],\; x_1 &lt; x_2} \forall _{t \in [0,1]}\; f(tx_1 + (1 - t)x_2) \le t f(x_1) + (1 - t) f(x_2)\).<br />
\(f\) heißt konkav \(\;\Leftrightarrow \;\) \(-f\) ist konvex.
</p>

<p>
<b>A&#x0308;quivalente Definition (Ableitung)</b>: Sei \(f\) stetig auf \([a,b]\) und differenzierbar in \(\left ]a,b\right [\).<br />
Dann ist \(f\) konvex \(\;\Leftrightarrow \; f’\!\!\uparrow \) &#x2003;&#x2003;und &#x2003;&#x2003;\(f\) konkav \(\;\Leftrightarrow \; f’\!\!\downarrow \).
</p>

<p>
<b>doppelte Ableitung</b>: Sei \(f\) stetig auf \([a,b]\), 2-fach diffb. in \(\left ]a,b\right [\) sowie \(f’’(x) \ge 0\) fu&#x0308;r alle \(x \in \left ]a,b\right [\). &#x2003;&#x2003;Dann ist \(f\) konvex.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Wendepunkt</b>: Sei \(f\) in \(\left ]a,b\right [\) differenzierbar.<br />
\(c \in \left ]a,b\right [\) heißt Wendepunkt, falls \(f’(c)\) ein lokales Extremum ist.
</p>

<p>
<b>notwendige Bedingung (Wendepunkte)</b>: Seien \(f\) in \(\left ]a,b\right [\) 2-fach diffb. und \(c \in \left ]a,b\right [\) ein Wendepunkt. &#x2003;&#x2003;Dann ist \(f’’(c) = 0\).
</p>

<p>
<b>\(n\)-fache Ableitung (Wendepunkte)</b>: Sei \(f\) in \(\left ]a,b\right [\) \(n\)-fach diffb. sowie in \(c \in \left ]a,b\right [\) \(n+1\)-fach diffb., wobei \(f^{(2)}(c) = \cdots = f^{(n)}(c) = 0\) und
\(f^{(n+1)}(c) \not = 0\).<br />
Dann ist \(c\) ein Wendepunkt, falls \(n\) gerade, und kein Wendepunkt, falls \(c\) ungerade ist.
</p>



<h2 id="das-aufloesen-von-unbestimmtheiten-vom-typ-00-und-inftyinfty">Das Auflösen von Unbestimmtheiten vom Typ 0/0 und ∞/∞</h2>

</p>


<p>
<b>Typ \(0/0\)</b>: Seien \(f, g: [a,b] \rightarrow \mathbb {R}\) (\(\mathbb {C}\), \(\mathbb {R}^n\), \(\mathbb {C}^n\)) und \(x_0 \in \left ]a,b\right [\) mit \(f, g\) in \(x_0\) diffb.,<br />
\(f(x_0) = g(x_0) = 0\) sowie \(g’(x_0) \not = 0\). &#x2003;&#x2003;Dann existiert der Grenzwert \(\lim _{x \to x_0}\) \(\frac {f(x)}{g(x)} = \frac {f’(x_0)}{g’(x_0)}\).
</p>

<p>
<b>Verallgemeinerung</b>: Seien \(f, g: [a,b] \rightarrow \mathbb {R}\) (\(\mathbb {C}\)) und \(x_0 \in \left ]a,b\right [\) mit \(f(x_0) = g(x_0) = 0\), \(f’(x_0) = g’(x_0) = 0\), &#x2026;,
\(f^{(n-1)}(x) = g^{(n-1)}(x) = 0\), \(\exists f^{(n)}(x_0)\), \(\exists g^{(n)}(x_0)\), wobei \(g^{(n)}(x_0) \not = 0\). Dann existiert der Grenzwert \(\lim _{x \to x_0}\) \(\frac {f(x)}{g(x)} = \frac
{f^{(n)}(x_0)}{g^{(n)}(x_0)}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Regel von <span class="textsc" >Bernoulli</span> und <span class="textsc" >l’Ho&#x0302;spital</span></b>: Seien \(f, g: \left ]a,b\right [ \rightarrow \mathbb {R}\) in \(\left ]a,b\right [\)
diffb.,<br />
\(\lim _{x \to a} f(x) = \lim _{x \to a} g(x) = 0\) und \(g’(x) \not = 0\) fu&#x0308;r \(x \in \left ]a,b\right [\). Außerdem existiere der Grenzwert \(\lim _{x \to a}\)\(\frac {f’(x)}{g’(x)}\) \(=: A\).
&#x2003;&#x2003;Dann existiert der Grenzwert \(\lim _{x \to a}\)\(\frac {f(x)}{g(x)}\) \(= A\).
</p>

<p>
Dieser Satz gilt nur fu&#x0308;r reellwertige (nicht fu&#x0308;r komplexwertige) Funktionen!
</p>

<p>
Anwendung: bei Funktionen \(f, g: \left [b,+\infty \right [ \rightarrow \mathbb {R}\), \(b &gt; 0\), wobei<br />
\(\lim _{x \to +\infty } f(x) = \lim _{x \to +\infty } g(x) = 0\) und \(A = \lim _{x \to +\infty } \frac {f’(x)}{g’(x)}\). Dann ist \(\lim _{x \to +\infty } \frac {f(x)}{g(x)} = A\).<br />
(<em>Variablentransformation</em> mit \(x = \frac {1}{t}\))
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Typ \(\infty /\infty \)</b>: Seien \(f, g: \left ]a,b\right [ \rightarrow \mathbb {R}\) in \(\left ]a,b\right [\) diffb., \(\lim _{x \to a} f(x) = \infty \), \(\lim _{x \to a} g(x) = \infty \) und es
existiere der Grenzwert \(\lim _{x \to a}\)\(\frac {f’(x)}{g’(x)}\) \(=: A\). &#x2003;&#x2003;Dann existiert der Grenzwert \(\lim _{x \to a}\)\(\frac {f(x)}{g(x)}\) \(= A\).
</p>

<p>
Grenzwerte \(f(x) \cdot g(x)\) vom Typ \(\mathrel {\widehat {=}} 0 \cdot \infty \mathrel {\widehat {=}}\) \(\frac {f(x)}{\frac {1}{g(x)}}\) kann man auf \(0/0\) zuru&#x0308;ckfu&#x0308;hren.
Grenzwerte \(f(x)^{g(x)}\) mit \(1^\infty \), \(0^0\) oder \(\infty ^0\) kann man mit \(f(x)^{g(x)} = e^{g(x) \cdot \ln f(x)}\) auf \(0 \cdot \infty \) zuru&#x0308;ckfu&#x0308;hren.
</p>



<h2 id="weitere-anwendungen-der-differentialrechnung">Weitere Anwendungen der Differentialrechnung</h2>

</p>


<p>
<b>Tangente</b>: \(y = f’(x_0) \cdot (x - x_0) + y_0\), &#x2003;&#x2003;<b>Normale</b>: \(y = -\)\(\frac {1}{f’(x_0)}\) \(\cdot \; (x - x_0) + y_0\)
</p>

<p>
<b>Differentiation parametrisch gegebener Kurven</b>: Gegeben seien die differenzierbaren Funktionen \(\psi : \left ]\alpha ,\beta \right [ \rightarrow \left ]a,b\right [\) sowie \(f: \left ]a,b\right [
\rightarrow \mathbb {R}\). Durch \(x(t) = \psi (t)\) und \(y(t) = f(\psi (t))\) sei fu&#x0308;r \(t \in \left ]\alpha , \beta \right [\) eine Kurve gegeben. Dann ist \(f’(x_0) =\) \(\frac {\dot
{y}(t_0)}{\dot {x}(t_0)}\) fu&#x0308;r \(x_0 = x(t_0)\).
</p>

<p>
<b>geradlinige Asymptote</b>: \(g(x) = ax + b\) ist eine (lokale) <em>geradlinige Asymptote</em> von \(f(x)\) fu&#x0308;r \(x \to +\infty \) (bzw. \(x \to -\infty \)), falls \(\lim _{x \to +\infty \; (\text {bzw.
}-\infty )} (f(x) - g(x)) = 0\).<br />
Dann ist \(a = \lim _{x \to \pm \infty } \frac {f(x)}{x}\) und \(b = \lim _{x \to \pm \infty } (f(x) - ax)\).
</p>



<h2 id="der-satz-von-darboux">Der Satz von <span style="font-variant: small-caps;">Darboux</span></h2>

</p>


<p>
<b>Satz</b>: Seien \(f: \left ]a,b\right [ \rightarrow \mathbb {R}\) diffb. und \(x_1, x_2 \in \left ]a,b\right [\) mit \(x_1 &lt; x_2\), wobei \(f’(x_1) \cdot f’(x_2) &lt; 0\) ist.<br />
Dann gibt es ein \(x_0 \in \left ]x_1,x_2\right [\), sodass \(f’(x_0) = 0\).
</p>

<p>
<b>Satz von <span class="textsc" >Darboux</span></b>: Seien \(f: \left ]a,b\right [ \rightarrow \mathbb {R}\) diffb. und \(x_1, x_2 \in \left ]a,b\right [\) mit \(x_1 &lt; x_2\), wobei \(f’(x_1) \not =
f’(x_2)\). Sei außerdem \(\lambda \in \mathbb {R}\) mit \(f’(x_1) &lt; \lambda &lt; f’(x_2)\) bzw. \(f’(x_2) &lt; \lambda &lt; f’(x_1)\).<br />
Dann gibt es ein \(x_0 \in \left ]x_1,x_2\right [\), sodass \(f’(x_0) = \lambda \).
</p>

<p>
<b>Satz</b>: Sei \(f: \left ]a,b\right [ \rightarrow \mathbb {R}\) differenzierbar. &#x2003;Dann besitzt \(f’\) keine Unstetigkeit der ersten Art.
</p>



<h2 id="nullstellenberechnung">Nullstellenberechnung</h2>

</p>


<p>
Gegeben sei eine Funktion \(f: [a,b] \rightarrow \mathbb {R}\) stetig mit \(f(a) f(b) &lt; 0\), \(f\) zweimal stetig diffb. und \(f’(x) \not = 0\), \(f’’(x) \not = 0\) fu&#x0308;r alle \(x \in \left ]a,b\right
[\) (d.&#x202f;h. \(f’, f’’\) haben konstantes Vorzeichen).
</p>

<p>
<b>Satz</b>: \(\exists !_{\xi \in \left ]a,b\right [}\; f(\xi ) = 0\)
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Regula falsi (Sehnenmethode)</b>: Bei der <em>Sehnenmethode</em> versucht man, \(f\) durch die Sehne durch \((a, f(a))\) und \((b, f(b))\) anzuna&#x0308;hern. Deren Gleichung lautet \(g(x) = f(a) +\) \(\frac
{f(b) - f(a)}{b - a}\) \((x - a)\).<br />
Fu&#x0308;r die Nullstelle \(x_1 = a \;-\) \(\frac {b - a}{f(b) - f(a)}\) \(f(a) \in \left ]a,b\right [\) gilt, dass \(\xi \in \left ]x_1,b\right [\) bzw. \(\xi \in \left ]a,x_1\right [\) (wenn \(f’, f’’\)
die gleichen bzw. unterschiedliche Vorzeichen haben). Nun muss man nur noch in dem Intervall \([x_1,b]\) bzw. \([a,x_1]\) nach der Nullstelle \(\xi \) suchen.
</p>

<p>
<b>Fehlerabscha&#x0308;tzung</b>: Sei \(x_0 = a\), \(x_n = x_{n-1} \;-\) \(\frac {b - x_{n-1}}{f(b) - f(x_{n-1})}\) \(f(x_{n-1})\) bzw.<br />
\(x_0 = b\), \(x_n = x_{n-1} \;-\) \(\frac {x_{n-1} - a}{f(x_{n-1}) - f(a)}\) \(f(x_{n-1})\).<br />
Dann ist \(\lim _{n \to \infty } x_n = \xi \), wobei \(|x_n - \xi | \le \) \(\frac {|f(x_n)|}{\min _{x \in [a,b]} |f’(x)|}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Newton</span>-Verfahren (Tangentenmethode)</b>: Beim <em>Newton-Verfahren</em> versucht man, die Nullstelle \(\xi \) durch Nullstellen der Ableitung zu bestimmen. Fu&#x0308;r den Fall
\(\sgn (f’) = \sgn (f’’)\) gilt fu&#x0308;r die Tangentengleichung in \(x_0 = b\), dass \(g(x) = f(b) + f’(b) \cdot (x - b)\), deren Nullstelle ist \(x_1 = b \;-\) \(\frac {f(b)}{f’(b)}\). Es gilt \(x_1 \in
[a,b]\). Analog ist \(x_1 = a \;-\) \(\frac {f(a)}{f’(a)}\) \(\in [a,b]\) fu&#x0308;r \(\sgn (f’) \not = \sgn (f’’)\) (dann muss die Tangente in \(x_0 = a\) bestimmt werden). Wiederum muss nun nur noch im
Intervall \([a,x_1]\) bzw. \([x_1,b]\) nach der Nullstelle \(\xi \) gesucht werden.
</p>

<p>
<b>Fehlerabscha&#x0308;tzung</b>: Sei \(x_0 = b\) bzw. \(x_0 = a\) und \(x_n = x_{n-1} \;-\) \(\frac {f(x_{n-1})}{f’(x_{n-1})}\).<br />
Dann ist \(\lim _{n \to \infty } x_n = \xi \), wobei \(\exists _{M &gt; 0} \forall _{n \in \mathbb {N}}\; |x_{n+1} - \xi | \le M |x_n - \xi |^2\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
