
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\O }{\ensuremath {\mathcal {O}}}\)

\(\renewcommand {\P }{\ensuremath {\mathbb {P}}}\)

\(\renewcommand {\i }{\ensuremath {\mathrm {i}}}\)

\(\newcommand {\area }{\ensuremath {\mathrm {area}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="kontrollpolygon">Kontrollpolygon</h2>

</p>


<p>
<b><span class="textsc" >Bézier</span>-Kurve</b>: Eine <em><span class="dashuline" ><span class="textsc" >Bézier</span>-Kurve</span></em> \(p\) vom Grad \(\le n\) in \(\real ^d\) besitzt eine
Parametrisierung mit Bernstein-Polynomen
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                             n
                                                                                                                             X
                                                                                                                p(t) :=             ck bkn (t),        t ∈ [0, 1].
                                                                                                                              k=0



-->


<p>

\begin{align*}
p(t) := \sum _{k=0}^n c_k b_k^n(t),\quad t \in [0, 1].
\end{align*}
Die Koeffizienten \(c_k = (c_{k,1}, \dotsc , c_{k,d})\) ko&#x0308;nnen in einer \(((n + 1) \times d)\)-Matrix \(C\) kombiniert werden. Sie heißen <em><span class="dashuline" >Kontrollpunkte</span></em> und
formen das <em><span class="dashuline" >Kontrollpolygon</span></em> \(c\) fu&#x0308;r \(p\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel (lineare und quadratische <span class="textsc" >Bézier</span>-Parametrisierung)</b>: Eine lineare Bézier-Parametrisierung \(p(t) = c_0 b_0^1(t) + c_1 b_1^1(t) = c_0 (1 - t) + c_1 t\) stellt die
Strecke \([c_0, c_1]\) dar. Der Punkt \(p(t)\) teilt dabei die Strecke im Verha&#x0308;ltnis \(t : (1 - t)\).<br />
Wenn die Kontrollpunkte nicht auf einer Gerade liegen, dann beschreibt eine quadratische Bézier-Parametrisierung \(p = \sum _{k=0}^2 c_k b_k^2\) ein Parabelstu&#x0308;ck. Das sieht man am einfachsten, wenn man zur
Monom-Darstellung u&#x0308;bergeht: \(p(t) = (c_0 - 2c_1 + c_2)t^2 + (-2c_0 + 2c_1)t + c_0\). Fu&#x0308;r eine quadratische Kurve ist der Koeffizient von \(t^2\) nicht Null und parallel zur Symmetrieachse der
Parabel.
</p>



<h2 id="eigenschaften-von-bezier-kurven">Eigenschaften von <span style="font-variant: small-caps;">Bézier</span>-Kurven</h2>

</p>


<p>
<b>Eigenschaften von <span class="textsc" >Bézier</span>-Kurven</b>: Die Form einer Bézier-Kurve, parametrisiert durch<br />
\(p = \sum _{k=0}^n c_k b_k^n\), wird qualitativ durch ihr Kontrollpolygon \(c\) modelliert. Genauer gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(p(t)\) liegt in der konvexen Hu&#x0308;lle von \(c_0, \dotsc , c_n\)
</p>
</li>
<li class="list-item-f1"><p>\(p(0) = c_0\) und \(p(1) = c_n\)
</p>
</li>
<li class="list-item-f2"><p>\(p’(0) = n(c_1 - c_0)\) und \(p’(1) = n(c_n - c_{n-1})\)
</p>
</li>
</ul>

<p>
Die letzten beiden Eigenschaften werden auch <em><span class="dashuline" >Endpunktinterpolation</span></em> bezeichnet, da das Kontrollpolygon tangential zur Bézier-Kurve ist, was sehr nu&#x0308;tzlich fu&#x0308;r
Design-Zwecke ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel (Bounding-Boxes)</b>: Eine wichtige Anwendung der Konvexhu&#x0308;llen-Eigenschaft ist die Konstruktion von <em><span class="dashuline" >Bounding-Boxes</span></em>. Die konvexe Hu&#x0308;lle der
Kontrollpunkte \(c_0, \dotsc , c_n \in \real ^d\) ist in der Box \([c_1^-, c_1^+] \times \dotsb \times [c_d^-, c_d^+]\) enthalten, wobei \(c_\nu ^- := \min _{k=0,\dotsc ,n} c_{k,\nu }\) und \(c_\nu ^+ :=
\max _{k=0,\dotsc ,n} c_{k,\nu }\).<br />
Bounding-Boxes werden o&#x0308;fters in numerischen Algorithmen gebraucht. Ein typisches Beispiel ist die Bestimmung von Kurvenschnittpunkten. Bounding-Boxes zu schneiden ist ein schneller Test, ob Bézier-Kurven
Schnittpunkte haben ko&#x0308;nnen.
</p>



<h2 id="algorithmus-von-de-casteljau">Algorithmus von <span style="font-variant: small-caps;">de Casteljau</span></h2>

</p>


<p>
<b>Algorithmus von <span class="textsc" >de Casteljau</span></b>: Ein Punkt \(p(t) = \sum _{k=0}^n c_k b_k^n(t)\), \(t \in [0, 1]\), auf einer Bézier-Kurve kann durch aufeinanderfolgendes Teilen der Kanten des
Kontrollpolygons im Verha&#x0308;ltnis \(t : (1 - t)\) bestimmt werden.
</p>

<p>
Die Berechnungen ko&#x0308;nnen in einem dreieckigen Schema angeordnet werden. Der Punkt \(p(t)\) wird in \(n\) Schritten bestimmt. In jedem Schritt werden Konvexkombinationen von benachbarten Kontrollpunkten
berechnet:
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                      pkm := (1 − t)pkm−1 + t pk+1
                                                                                                                                               m−1




-->


<p>

\begin{align*}
p_k^m := (1 - t) p_k^{m-1} + t p_{k+1}^{m-1}
\end{align*}
mit \(p_k^0 := c_k\) und \(p_0^n = p(t)\).
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                 p00                            p10                   ...                    0
                                                                                                                                                            pn−1                              pn0
                                                                                       &              .                  &                         .                        &             .
                                                                                              p01                                     ...                                          1
                                                                                                                                                                                  pn−1
                                                                                                      &                                                                     .
                                                                                                                                       ..
                                                                                                                                        .
                                                                                                                       1−t   &                 .t
                                                                                                                                      p0n


-->


<p>

\begin{align*}
\begin{array}{ccccccccccccc} p_0^0 &amp; &amp; &amp; &amp; p_1^0 &amp; &amp; \dots &amp; &amp; p_{n-1}^0 &amp; &amp; &amp; &amp; p_n^0\\ &amp; \searrow &amp; &amp; \swarrow &amp; &amp;
\searrow &amp; &amp; \swarrow &amp; &amp; \searrow &amp; &amp; \swarrow \\ &amp; &amp; p_0^1 &amp; &amp; &amp; &amp; \dots &amp; &amp; &amp; &amp; p_{n-1}^1\\ &amp; &amp; &amp; \searrow &amp;
&amp; &amp; &amp; &amp; &amp; \swarrow \\ &amp; &amp; &amp; &amp; &amp; &amp; \vdots &amp; &amp; \\ &amp; &amp; &amp; &amp; &amp; {}_{1-t}\searrow &amp; &amp; \swarrow _{t\hspace {4mm}}\\
&amp; &amp; &amp; &amp; &amp; &amp; p_0^n \end {array}
\end{align*}

</p>



<h2 id="differentiation-von-bezier-kurven">Differentiation von <span style="font-variant: small-caps;">Bézier</span>-Kurven</h2>

</p>


<p>
<b>Ableitung einer <span class="textsc" >Bézier</span>-Kurve</b>: Die Parametrisierung \(p = \sum _{k=0}^n c_k b_k^n\) einer Bézier-Kurve wird abgeleitet, indem Differenzen zwischen benachbarten Kontrollpunkten
gebildet werden:
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                n−1
                                                                                                                X
                                                                                                     p0 = n         (∆ck )bkn−1              mit ∆ck := ck+1 − ck .
                                                                                                                k=0



-->


<p>

\begin{align*}
p’ = n \sum _{k=0}^{n-1} (\Delta c_k) b_k^{n-1}\quad \text {mit}\quad \Delta c_k := c_{k+1} - c_k.
\end{align*}
Die \(m\)-te Ableitung parametrisiert eine Bézier-Kurve vom Grad \(\le n - m\) mit Kontrollpunkten
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                 n!
                                                                                                                       ∆m ck ,                k = 0, . . . , n − m.
                                                                                                              (n − m)!


-->


<p>

\begin{align*}
\frac {n!}{(n - m)!} \Delta ^m c_k,\quad k = 0, \dotsc , n - m.
\end{align*}
Insbesondere sind
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                             
                                                                                                       n                       n
                                                                                                         ∆ m c0 ,                ∆m cn−m ,                m = 0, . . . , n,
                                                                                                       m                       m


-->


<p>

\begin{align*}
\binom {n}{m} \Delta ^m c_0,\quad \binom {n}{m} \Delta ^m c_{n-m},\quad m = 0, \dotsc , n,
\end{align*}
die Taylor-Koeffizienten von \(p\) an den Endpunkten, d.&#x202f;h. \(p(t) = \sum _{m=0}^n \binom {n}{m} (\Delta ^m c_0) t^m\) und<br />
\(p(t) = \sum _{m=0}^n \binom {n}{m} (\Delta ^m c_{n-m}) (1 - t)^m\)
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel (Entfernung eines Punktes zu einer <span class="textsc" >Bézier</span>-Kurve)</b>: Ein zu einem Punkt \(q\) na&#x0308;chster Punkt \(p(t) = \sum _{k=0}^n c_k b_k^n(t)\) einer Bézier-Kurve ist einer
der Endpunkte (\(t = 0\) oder \(t = 1\)) oder erfu&#x0308;llt die Orthogonalita&#x0308;tsbedingung \(\varphi (t) = \innerproduct {q - p(t), p’(t)} = 0\). Darum mu&#x0308;ssen fu&#x0308;r eine numerische
Lo&#x0308;sung nur die Nullstellen des Polynoms \(\varphi \) bestimmt werden. Das Polynom \(\varphi \) hat Grad \(\le 2n - 1\). Weil eine direkte, allgemeine Bestimmung von \(\varphi (t)\) zu aufwa&#x0308;ndig
wa&#x0308;re, benutzt man polynomiale Interpolation. Zuerst errechnet man die Kontrollpunkte \(n \Delta c_k\) von \(p’\). Dann wertet man \(p(t)\) und \(p’(t)\) an \(2n\) Stellen aus, z.&#x202f;B. an \(t_\ell = \ell
/(2n - 1)\), \(\ell = 0, \dotsc , 2n - 1\). Die Werte \(\varphi (t_\ell ) = \sum _{\nu =1}^d (q_\nu - p_\nu (t_\ell )) p_\nu ’(t_\ell )\) lassen sich leicht bestimmen. Durch sie kann man die Koeffizienten von
\(\varphi \) durch Interpolation errechnen.
</p>



<h2 id="kruemmung-von-bezier-kurven">Krümmung von <span style="font-variant: small-caps;">Bézier</span>-Kurven</h2>

</p>


<p>
<b>Kru&#x0308;mmung</b>: Der <em><span class="dashuline" >Kru&#x0308;mmungsvektor</span></em> einer Kurve ist die Ableitung des normierten Tangentialvektors. Die La&#x0308;nge des Kru&#x0308;mmungsvektors
beschreibt die <em><span class="dashuline" >Kru&#x0308;mmung</span></em> \(\kappa \). Im dreidimensionalen Raum gilt fu&#x0308;r eine durch \(r(t)\) regula&#x0308;r parametrisierte Kurve
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                                     kr 0 (t) × r 00 (t)k
                                                                                                                       κ(t) =                                    .
                                                                                                                                            kr 0 (t)k3


-->


<p>

\begin{align*}
\kappa (t) = \frac {\norm {r’(t) \times r’’(t)}}{\norm {r’(t)}^3}.
\end{align*}

</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Kru&#x0308;mmung einer <span class="textsc" >Bézier</span>-Kurve</b>: Die Kru&#x0308;mmungen \(\kappa \) an den Endpunkten einer Bézier-Kurve, die durch \(p = \sum _{k=0}^n c_k b_k^n\) parametrisiert
wird, hat die folgende geometrische Interpretation. Wenn \(p’(0) \not = 0\) und \(p’(1) \not = 0\) gilt, dann ist
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                           2(n − 1) area[c0 , c1 , c2 ]                                  2(n − 1) area[cn , cn−1 , cn−2 ]
                                                                                 κ(0) =                                 ,                   κ(1) =                                        ,
                                                                                              n        |c1 − c0 |3                                          n        |cn−1 − cn |3


-->


<p>

\begin{align*}
\kappa (0) = \frac {2(n - 1)}{n} \frac {\area [c_0, c_1, c_2]}{|c_1 - c_0|^3},\quad \kappa (1) = \frac {2(n - 1)}{n} \frac {\area [c_n, c_{n-1}, c_{n-2}]}{|c_{n-1} - c_n|^3},
\end{align*}
wobei \([a_0, a_1, a_2]\) das durch \(a_0, a_1, a_2\) bestimmte Dreieck bezeichnet und \(|v|\) die La&#x0308;nge des Vektors \(v\) ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel (glattes Anfu&#x0308;gen von <span class="textsc" >Bézier</span>-Kurven)</b>: Bézier-Kurven gehen glatt ineinander u&#x0308;ber, wenn die Kontrollpunkte richtig gewa&#x0308;hlt werden. Seien dazu
\(p^\pm \) zwei regula&#x0308;re Parametrisierungen mit einem gemeinsamen Endpunkt \(c_n^- = p^-(1) = p^+(0) = c_0^+\) gegeben. Stetige Differenzierbarkeit ist a&#x0308;quivalent zu Stetigkeit des
Einheits-Tangentenvektors \(p’/|p’|\). Aufgrund der Ableitungsformel ist dies der Fall, wenn
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                        c1+ − c0+ = δ(cn− − cn−1
                                                                                                                                             −
                                                                                                                                                 )



-->


<p>

\begin{align*}
c_1^+ - c_0^+ = \delta (c_n^- - c_{n-1}^-)
\end{align*}
fu&#x0308;r ein \(\delta &gt; 0\).
</p>

<p>
Fu&#x0308;r zweifache stetige Differenzierbarkeit mu&#x0308;ssen zusa&#x0308;tzlich die Kru&#x0308;mmungen mit dem Kehrwert des Kru&#x0308;mmungsradius \(r\) u&#x0308;bereinstimmen, also \(\kappa ^-(1) =
1/r = \kappa ^+(0)\). Mit der Formel fu&#x0308;r Kru&#x0308;mmung von Bézier-Kurven ist diese Bedingung a&#x0308;quivalent zu
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                −
                                                                                                       δ3 area[cn−2    −
                                                                                                                    , cn−1 , cn− ] = area[c0+ , c1+ , c2+ ],



-->


<p>

\begin{align*}
\delta ^3 \area [c_{n-2}^-, c_{n-1}^-, c_n^-] = \area [c_0^+, c_1^+, c_2^+],
\end{align*}
wobei \(\delta \) obiges Verha&#x0308;ltnis der La&#x0308;ngen der Tangentenvektoren ist.
</p>



<h2 id="subdivision-von-bezier-kurven">Subdivision von <span style="font-variant: small-caps;">Bézier</span>-Kurven</h2>

</p>


<p>
<b>Subdivision einer <span class="textsc" >Bézier</span>-Kurve</b>: Eine Bézier-Kurve, die durch \(p(t) = \sum _{k=0}^n c_k b_k^n(t)\),<br />
\(t \in [0, 1]\), parametrisiert wird, kann mithilfe des Algorithmus von de Casteljau in zwei Bézier-Kurven aufgespalten werden, die zu den Teilintervallen \([0, s]\) und \([s, 1]\) geho&#x0308;ren. Die ersten und letzten
Kontrollpunkte \(p_0^m\) und \(p_{n-m}^m\), die beim \(m\)-ten de-Casteljau-Schritt erzeugt werden, ergeben die Kontrollpunkte des linken bzw. rechten Kurvensegments:
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                                                         n
                                                                                                                                                         X
                                                                                                                       pleft (t) := p(st) =                    p0m bm
                                                                                                                                                                    n
                                                                                                                                                                      (t),
                                                                                                                                                         m=0
                                                                                                                                                         Xn
                                                                                                      pright (t) := p(s + (1 − s)t) =                              bm (t).
                                                                                                                                                                n−m n
                                                                                                                                                               pm
                                                                                                                                                         m=0



-->


<p>

\begin{align*}
p^{\text {left}}(t) := p(st) &amp;= \sum _{m=0}^n p_0^m b_m^n(t),\\ p^{\text {right}}(t) := p(s + (1 - s)t) &amp;= \sum _{m=0}^n p_m^{n-m} b_m^n(t).
\end{align*}
Daher geho&#x0308;ren die linken und rechten Kontrollpunkte zur linken bzw. rechten Diagonale des Schemas von de Casteljau.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Beispiel (Subdivision am Mittelpunkt)</b>: Die Subdivision am Mittelpunkt \(s = 1/2\) ist am gebra&#x0308;ulichsten und findet ihre Anwendungen z.&#x202f;B. in der Computergrafik. Im quadratischen Fall ergibt sich
\(c_1^{\text {left}} = \frac {1}{2} c_0 + \frac {1}{2} c_1\) und \(c_2^{\text {left}} = \frac {1}{4} c_0 + \frac {1}{2} c_1 + \frac {1}{4} c_2\) fu&#x0308;r die Kontrollpunkte \(c_k^{\text {left}}\)
des linken Segments. In der Praxis verwendet man Matrixoperationen: Punkte werden liegend in einer Matrix gespeichert und Operationen werden als Matrix von links multipliziert. Somit ist
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                                              
                                                                                                                1              0             0     c0,1              c0,2   ...
                                                                                                     C left = 1/2            1/2            0  c1,1               c1,2   . . . .
                                                                                                               1/4            2/4           1/4    c2,1              c2,2   ...
                                                                                                                                                 |                   {z          }
                                                                                                                                                                     C



-->


<p>

\begin{align*}
C^{\text {left}} = \begin{pmatrix}1 &amp; 0 &amp; 0\\1/2&amp; 1/2 &amp; 0\\1/4 &amp; 2/4 &amp; 1/4\end {pmatrix} \underbrace {\begin{pmatrix}c_{0,1} &amp; c_{0,2} &amp; \dots \\c_{1,1} &amp;
c_{1,2} &amp; \dots \\ c_{2,1} &amp; c_{2,2} &amp; \dots \end {pmatrix}}_C.
\end{align*}
Im kubischen Fall ist die Matrix-Form des Subdivisionsschrittes
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                               
                                                                                                                         1              0           0        0
                                                                                                                        1/2            1/2          0        0 
                                                                                                             C left =                                            C.
                                                                                                                      
                                                                                                                        1/4            2/4         1/4       0 
                                                                                                                        1/8            3/8         3/8      1/8


-->


<p>

\begin{align*}
C^{\text {left}} = \begin{pmatrix}1 &amp; 0 &amp; 0 &amp; 0\\1/2&amp; 1/2 &amp; 0 &amp; 0\\1/4 &amp; 2/4 &amp; 1/4 &amp; 0\\ 1/8 &amp; 3/8 &amp; 3/8 &amp; 1/8\end {pmatrix} C.
\end{align*}
Man erkennt schnell das allgemeine Muster
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                                             m  
                                                                                                                         left
                                                                                                                                             X  m
                                                                                                                        cm    = 2−m                       ck ,
                                                                                                                                             k=0
                                                                                                                                                     k


-->


<p>

\begin{align*}
c_m^{\text {left}} = 2^{-m} \sum _{k=0}^m \binom {m}{k} c_k,
\end{align*}
das fu&#x0308;r alle Bézier-Kurven unabha&#x0308;ngig vom Grad gilt.
</p>
<h2 id="geometrische-hermite-interpolation">Geometrische <span style="font-variant: small-caps;">Hermite</span>-Interpolation</h2>

</p>


<p>
<b>vorzeichenbehaftete Kru&#x0308;mmung</b>: Die <em><span class="dashuline" >vorzeichenbehaftete Kru&#x0308;mmung</span></em> ist die Kru&#x0308;mmung versehen mit einem Vorzeichen, und zwar mit einem
Minus genau dann, wenn die Kurve eine Rechtskurve beschreibt.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>geometrische <span class="textsc" >Hermite</span>-Interpolation</b>: Die Kontrollpunkte \(c_0, \dotsc , c_3\) einer ebenen kubischen Bézier-Kurve, die die Punkte \(p_j\) interpoliert, die normierten
Tangentenrichtungen \(d_j\) und die vorzeichenbehafteten Kru&#x0308;mmungen \(\kappa _j\) (\(j = 0, 1\)) an den Endpunkten \(t = 0, 1\) des Parameterintervalls erfu&#x0308;llen
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                      c0 = p0 , c3 = p1 ,             c1 = p0 + α0 d0 /3, c2 = p1 − α1 d1 /3.



-->


<p>

\begin{align*}
c_0 = p_0,\; c_3 = p_1,\quad c_1 = p_0 + \alpha _0 d_0 / 3,\; c_2 = p_1 - \alpha _1 d_1 / 3.
\end{align*}
Die La&#x0308;ngen \(\alpha _j\) der Tangentenvektoren sind die positiven Lo&#x0308;sungen des nicht-linearen Systems
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                        κ0 α20 = d0 × (6(p1 − p0 ) − 2α1 d1 )
                                                                                                                        κ1 α21 = d1 × (2α0 d0 − 6(p1 − p0 ))



-->


<p>

\begin{align*}
\kappa _0 \alpha _0^2 &amp;= d_0 \times (6(p_1 - p_0) - 2 \alpha _1 d_1)\\ \kappa _1 \alpha _1^2 &amp;= d_1 \times (2 \alpha _0 d_0 - 6(p_1 - p_0))
\end{align*}
mit \(f \times g\) dem Kreuzprodukt der zwei Vektoren \(f\) und \(g\).
</p>

<p>
Wenn die Daten zu einer glatten Kurve mit nicht-verschwindender Kru&#x0308;mmung geho&#x0308;ren, dann hat das nicht-lineare System fu&#x0308;r einen hinreichend kleinen Abstand \(|p_1 - p_0|\) eine Lo&#x0308;sung
und der Fehler der kubischen Bézier-Approximation ist von Ordnung \(\O (|p_1 - p_0|^6)\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
