
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\E }{\ensuremath {\operatorname {E}}}\)

\(\newcommand {\eps }{\ensuremath {\operatorname {eps}}}\)

\(\renewcommand {\O }{\ensuremath {\operatorname {\mathcal {O}}}}\)

\(\newcommand {\cond }{\ensuremath {\operatorname {cond}}}\)

\(\newcommand {\sgn }{\ensuremath {\operatorname {sgn}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\renewcommand {\ker }{\ensuremath {\operatorname {ker}}}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\left \langle #1\right \rangle }}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
</style>
<p>

</p>


<h2 id="lineares-programm-und-basisloesungen">Lineares Programm und Basislösungen</h2>

</p>

<p>
<b>Standardform eines linearen Programms</b>: Ein <em>lineares Programm</em> in Standardform ist ein Optimierungsproblem mit linearer Zielfunktion, linearen Gleichungsnebenbedingungen und nicht-negativen
Unbekannten:
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                              c t x → min,                          Ax = b,                      x ≥ 0.



-->


<p>

\begin{align*}
c^t x \rightarrow \min , \qquad Ax = b, \qquad x \ge 0.
\end{align*}
Man nimmt an, dass die \(m \times n\)-Matrix \(A\) vollen Rang \(m \le n\) hat.
</p>
<p>
<b>allgemeines Problem auf Standardform bringen</b>: Sind nur allgemeine lineare Nebenbedingungen \(Py = q\), \(Ry \le s\) mit den Unbekannten \(y_i\) gegeben, so kann man das Problem durch
Einfu&#x0308;hrung zusa&#x0308;tzlicher Variablen auf die Standardform bringen:<br />
Man schreibt \(y = u - v\) als Differenz nicht-negativer Vektoren \(u, v \ge 0\) und fu&#x0308;hrt nicht-negative Schlupfvariablen \(w\) ein, um die Ungleichungsnebenbedingungen zu entfernen.<br />
Genauer gesagt werden die Nebenbedingungen ersetzt durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                   Pu − P v = q,                   Ru − Rv + w = s,                                   (u, v, w) ≥ 0.



-->


<p>

\begin{align*}
Pu - Pv = q, \qquad Ru - Rv + w = s, \qquad (u, v, w) \ge 0.
\end{align*}
Ist \(c^t x \rightarrow \max \) als Maximimierungsproblem gegeben, so kann man mit \(d^t x \rightarrow \min \), \(d = -c\) ein a&#x0308;quivalentes Minimierungsproblem erzeugen.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Basislo&#x0308;sung</b>: Ein Vektor \(x\) heißt <em>Basislo&#x0308;sung</em> eines linearen Programms \(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) mit \(m \times n\)-Matrix \(A\) vollen
Ranges, falls es einen Indexvektor \(I \subset \{1, \dotsc , n\}\) der La&#x0308;nge \(m\) gibt, sodass \(A_I = A(:, I)\) invertierbar ist und \(A_I x_I = b\) mit \(x_I = x(I)\) und \(x_k = 0\)
fu&#x0308;r \(k \notin I\).
</p>
<p>
<b>zula&#x0308;ssig/unzula&#x0308;ssig</b>: Die Basislo&#x0308;sung \(x\) heißt <em>zula&#x0308;ssig</em>, falls \(x_I \ge 0\) ist. Ansonsten heißt sie nicht <em>nicht zula&#x0308;ssig</em> oder
<em>unzula&#x0308;ssig</em>.
</p>
<p>
Eine Basislo&#x0308;sung ist demnach eine Lo&#x0308;sung mit einer mo&#x0308;glichst großen Anzahl an Nullen. Die Indexmenge legt die Basislo&#x0308;sung eindeutig fest. Umgekehrt kann es jedoch zu einer
Basislo&#x0308;sung mehrere Indexmengen mit derselben Basislo&#x0308;sung geben, falls \(x_i = 0\) fu&#x0308;r bestimmte \(i \in I\).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Satz zur optimalen Lo&#x0308;sung linearer Programme</b>:<br />
Sei ein lineare Programm \(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) gegeben. Ist die zula&#x0308;ssige Lo&#x0308;sungsmenge \(D = \{x \in \mathbb {R}^n \;|\; Ax = b,\; x \ge
0\}\) nicht-leer und ist die Zielfunktion \(c^t x\) auf \(D\) nach unten beschra&#x0308;nkt, so existiert eine optimale zula&#x0308;ssige Basislo&#x0308;sung \(x^\ast \) mit \(c^t x^\ast = \inf _{x \in D}
c^t x\).
</p>
<p>
Gibt es also Lo&#x0308;sungen und die Zielfunktion ist auf \(D\) nach unten beschra&#x0308;nkt, so ist die zula&#x0308;ssige Basislo&#x0308;sung mit dem kleinsten Zielfunktionswert optimal.
</p>
<h2 id="pivotschritt-fuer-ein-lineares-programm-und-rang-1-modifikation-einer-inversen-matrix">Pivotschritt für ein lineares Programm und Rang-1-Modifikation einer inversen Matrix</h2>

</p>

<p>
<b>Pivotschritt</b>: Ein Pivotschritt fu&#x0308;r ein lineares Programm \(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) beno&#x0308;tigt die Indexmenge \(I\) einer zula&#x0308;ssigen
Basislo&#x0308;sung \(x\) und vera&#x0308;ndert diese zu einer Indexmenge \(J\) einer neuen zula&#x0308;ssigen Basislo&#x0308;sung \(y\), sodass der Zielfunktionswert nicht ansteigt, d.&#x202f;h.
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                              I → J = (I \ j) ∪ k                       mit            c t y ≤ c t x.



-->


<p>

\begin{align*}
I \rightarrow J = (I \setminus j) \cup k \quad \text { mit }\quad c^t y \le c^t x.
\end{align*}
Der Pivotschritt tauscht also ein Index der Basislo&#x0308;sung mit einem anderen aus, sodass die Lo&#x0308;sung nicht schlechter wird.
</p>
<p>
<b>Bestimmung der Indizes</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p><b>Bestimmung von \(k\)</b>: Sei \(K = \{1, \dotsc , n\} \setminus I\) das Komplement von \(I\).<br />
Dann berechnet man
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>

<!--


                                                                                                                                dKt = cKt − c It A−1
                                                                                                                                                  I AK



-->

<p>

\begin{align*}
d_K^t = c_K^t - c_I^t A_I^{-1} A_K
\end{align*}
und man wa&#x0308;hlt den kleinsten Eintrag von \(d_K\). \(k \in K\) ist dann der zugeho&#x0308;rige Index.<br />
Fu&#x0308;r \(d_K \ge 0\) ist \(x\) eine optimale Lo&#x0308;sung des linearen Programms.
</p>
</li>
<li class="list-item-f1"><p><b>Bestimmung von \(j\)</b>: Sei \(A_k = A(:, k)\). Man berechnet nun
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>

<!--


                                                                                                                                       z I = A−1
                                                                                                                                              I Ak .



-->

<p>

\begin{align*}
z_I = A_I^{-1} A_k.
\end{align*}
Ist \(z_I \le 0\), so ist die Zielfunktion nach unten unbeschra&#x0308;nkt und daher das lineare Programm unlo&#x0308;sbar. Andernsfalls muss \(j \in I\) so gewa&#x0308;hlt werden, sodass
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>

<!--

                                                                                                                                xj
                                                                                                                                           mit              zj > 0
                                                                                                                                zj

-->

<p>

\begin{align*}
\frac {x_j}{z_j} \quad \text { mit }\quad z_j &gt; 0
\end{align*}
minimal wird.
</p>
</li>
</ul>
<p>
Bei Uneindeutigkeit wird fu&#x0308;r \(k\) und \(j\) jeweils der kleinstmo&#x0308;gliche Index gewa&#x0308;hlt.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Rang-1-Modifikation einer inversen Matrix</b>: Sei eine invertierbare Matrix \(A\) mit ihrer Inversen \(A^{-1}\) gegeben. Die Matrix \(B\) entsteht aus \(A\), indem man die \(j\)-te Spalte durch den Vektor \(v\)
ersetzt.<br />
Gilt nun
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                                             Au = v             mit             u j 6= 0,



-->


<p>

\begin{align*}
Au = v \quad \text { mit }\quad u_j \not = 0,
\end{align*}
so ist \(B\) invertierbar und fu&#x0308;r die inverse Matrix \(B^{-1}\) gilt
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                                       1
                                                                                                           B −1 = QA−1                mit            Q=E+                 (e j − u)e tj .
                                                                                                                                                                       uj


-->


<p>

\begin{align*}
B^{-1} = QA^{-1} \quad \text { mit }\quad Q = E + \frac {1}{u_j} (e_j - u) e_j^t.
\end{align*}

</p>


<h2 id="simplex-tableau-und-simplex-algorithmus">Simplex-Tableau und Simplex-Algorithmus</h2>

</p>

<p>
<b>Simplex-Tableau</b>: Sei ein lineares Programm \(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) gegeben. Dann kann ein Pivot-Schritt \(I \rightarrow J = (I \setminus j) \cup k\)
mithilfe des Tableaus \(T_I = (A_I^{-1}, x_I)\) durchgefu&#x0308;hrt werden. Um das Tableau \(T_J = (A_J^{-1}, y_J)\) zu erhalten, wird \(T_I\) wie folgt vera&#x0308;ndert:
</p>
<ul style="list-style-type:none">

<li class="list-item-f2"><p>Man berechnet \(z_I = A_I^{-1} A_k\).
</p>
</li>
<li class="list-item-f3"><p>Die Zeile mit Index \(j\) von \(T_I\) wird durch \(z_j\) dividiert.
</p>
</li>
<li class="list-item-f4"><p>Fu&#x0308;r alle \(i \in I \setminus J\) wird die modifizierte Zeile mit Index \(j\) mit \(z_i\) multipliziert und von der Zeile mit Index \(i\) subtrahiert.
</p>
</li>
</ul>
<p>
Dabei sind die Matrizen und Vektoren entsprechend \(I\) und \(J\) indiziert, d.&#x202f;h. die Zeile mit Index \(i\) ist die \(\ell \)-te Zeile, wobei \(i\) der \(\ell \)-te Index in \(I\) ist.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Simplex-Algorithmus</b>: Der Simplex-Algorithmus zur Lo&#x0308;sung eines linearen Programms<br />
\(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) modifiziert eine zula&#x0308;ssige Basislo&#x0308;sung \(x_I\) mit aufeinanderfolgenden Pivot-Operationen, bis ein optimaler Vektor \(x\) gefunden ist.
</p>
<p>
Ein Schritt \(x_I \rightarrow x_J\) mit \(J = (I \setminus j) \cup k\), der das Simplex-Tableau \(T_I = (A_I^{-1}, x_I)\) verwendet, verla&#x0308;uft wie folgt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f5"><p>Man berechnet \(d_K^t = c_K^t - c_I^t A_I^{-1} A_K\) mit \(K = \{1, \dotsc , n\} \setminus I\) und wa&#x0308;hlt \(k\) kleinstmo&#x0308;glich, sodass \(d_K\) sein Minimum
annimmt. Fu&#x0308;r \(d_k \ge 0\) ist die aktuelle Basislo&#x0308;sung \(x_I\) optimal.
</p>
</li>
<li class="list-item-f6"><p>Ist \(z_I = A_I^{-1} A_k \le 0\), so ist \(\inf _{x \in D} c^t x = -\infty \) und das lineare Programm hat keine Lo&#x0308;sung. Andernfalls wa&#x0308;hlt man \(j\)
kleinstmo&#x0308;glich, sodass \(\frac {x_i}{z_i}\) mit \(z_i &gt; 0\) und \(i \in I\) minimal wird.
</p>
</li>
<li class="list-item-f7"><p>Das Tableau \(T_I\) wird aktualisiert mit \(T_I = (A_I^{-1}, x_I) \rightarrow T_J = (A_J^{-1}, y_J)\), indem die Zeile mit Index \(j\) durch \(z_j\) dividiert und fu&#x0308;r jedes \(i
\in I \setminus j\) von der Zeile mit Index \(i\) die modifizierte Zeile mit Index \(j\) multipliziert mit \(z_i\) subtrahiert wird.
</p>
</li>
</ul>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Hilfsproblem fu&#x0308;r ein lineares Programm</b>:<br />
Der Simplex-Algorithmus zur Lo&#x0308;sung eines linearen Programms \(c^t x \rightarrow \min \), \(Ax = b\), \(x \ge 0\) beno&#x0308;tigt anfangs eine zula&#x0308;ssige Basislo&#x0308;sung.<br />
Ist \(b = (b_1, \dotsc , b_m) \ge 0\), so kann eine solche durch Lo&#x0308;sen des Hilfsproblems
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                                  y1 + · · · + ym → min,                              Ax + y = b,                       x, y ≥ 0



-->


<p>

\begin{align*}
y_1 + \dotsb + y_m \rightarrow \min , \qquad Ax + y = b, \qquad x, y \ge 0
\end{align*}
bestimmt werden. Um dieses Hilfproblem wiederum mit dem Simplex-Algorithmus zu lo&#x0308;sen, beno&#x0308;tigt man wieder eine zula&#x0308;ssige Basislo&#x0308;sung zum Start, die jedoch durch \((x^t, y^t) =
(0, b^t)\) einfach gegeben ist.<br />
Ist nun \((x^t, y^t)\) eine Lo&#x0308;sung des Hilfsproblems, so ist \(x\) eine zula&#x0308;ssige Basislo&#x0308;sung fu&#x0308;r das Ausgangsproblem, falls \(y = 0\) ist.<br />
\(y \not = 0\) ist genau dann der Fall, wenn das Ausgangsproblem keine zula&#x0308;ssigen Punkte hat.
</p>


<h2 id="beispiel-polynomiale-approximierung-einer-funktion">Beispiel: Polynomiale Approximierung einer Funktion</h2>

</p>

<p>
Gegeben seien Messpunkte \((t_j, f_j)\) fu&#x0308;r \(j = 1, \dotsc , m\). Sie sollen durch ein Polynom \(n\)-ten Grades approximiert werden. Als Approximationsfehler soll hier der gro&#x0308;ßte Abstand des
Polynoms zu einem Punkt minimiert werden: \(\max _{j=1,\dotsc ,m} \left |f_j - \sum _{k=0}^n p_k t_j^k\right | \rightarrow \min \).
</p>
<p>
Dies la&#x0308;sst sich in Ungleichungen durch \(\sum _{k=0}^n p_k t_j^k - e \le f_j\) und \(\sum _{k=0}^n p_k t_j^k + e \ge f_j\) mit \(e \rightarrow \min \) darstellen. Die
Einfu&#x0308;hrung von Schlupfvariablen fu&#x0308;hrt zu<br />
\(\sum _{k=0}^n p_k t_j^k - e + \delta _j^+ = f_j\) und \(\sum _{k=0}^n p_k t_j^k + e = f_j + \delta _j^-\).
</p>
<p>
Setzt man \(p_k = p_k^+ - p_k^-\) mit \(p_k^+, p_k^- \ge 0\) und trennt Variablen und Konstanten, so erha&#x0308;lt man<br />
\(-e + p_0^+ t_j^0 + \dotsb + p_n^+ t_j^n - p_0^- t_j^0 - \dotsb - p_n^- t_j^n + \delta _j^+ = f_j\) und<br />
\(-e - p_0^+ t_j^0 - \dotsb - p_n^+ t_j^n + p_0^- t_j^0 + \dotsb + p_n^- t_j^n + \delta _j^- = -f_j\) fu&#x0308;r \(j = 1, \dotsc , m\).
</p>
<p>
So erha&#x0308;lt man die Nebenbedingungen
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                                                                            
                                                                                                                                                                                                    e
                                                                                                                                                                                                  p0+       
                                                                                                                                                                                                      ..
                                                                                                                                                                                                            
                                                                                                                                                                                                       .
                                                                                                                                                                                                            
                                                                                                                                                                                                            
                                                                                                                                                                                                   pn+
                                                                                                                                                                                                            
                                                                         −1      t 10            t 1n       −t 10               −t 1n
                                                                                                                                                                                                                               
                                                                                          ...                          ...                      1                 0     0      ...       0                        f1
                                                                                                                                                                                                   p0−
                                                                                                                                                                                                            
                                                                          ..      ..              ..          ..                  ..                   ..               ..               ..    
                                                                                                                                                                                                               ..
                                                                                                                                                                                                             
                                                                     
                                                                           .       .               .           .                   .                        .            .                .
                                                                                                                                                                                                     ..      .
                                                                                                                                                                                                                                    
                                                                                                                                                                                                        .
                                                                                                                                                                                                                                 
                                                                                    0               n             0                   n
                                                                         −1      tm       ...    tm         −t m       ...      −t m            0                 1     0      ...       0                     fm
                                                                                                                                                                                                                               
                                                                                                                                                                                                   pn−       =                    .
                                                                                                                                                                                                                                 
                                                                         −1     −t 10     ...   −t 1n        t1  0
                                                                                                                       ...       t1  n
                                                                                                                                                0      ...        0     1                0                     − f1
                                                                                                                                                                                             
                                                                                                                                                                                                   δ1+
                                                                                                                                                                                                                                 
                                                                           ..      ..              ..          ..                  ..           ..                ..           ..                              .
                                                                                                                                                                                                               .
                                                                                                                                                                                                                                 
                                                                           .       .               .           .                   .            .                 .                .             ..             .                
                                                                                      0               n         0                   n
                                                                                                                                                                                               
                                                                                                                                                                                                     .       
                                                                         −1     −t m      ...   −t m         tm        ...       tm             0      ...        0     0                1     
                                                                                                                                                                                                         +
                                                                                                                                                                                                                − fm
                                                                     |                                                  {z
                                                                                                                                                                                               
                                                                                                                                                                                              }   δm        
                                                                                                                                                                                                              | {z                 }
                                                                                                                         A                                                                        δ1−           b
                                                                                                                                                                                                     ..
                                                                                                                                                                                                            
                                                                                                                                                                                                            
                                                                                                                                                                                                     .      
                                                                                                                                                                                                   δm    −
                                                                                                                                                                                               |   {z        }
                                                                                                                                                                                                     x



-->


<p>

\begin{align*}
\underbrace {\left (\begin{array}{ccccccccccccc} -1 &amp; t_1^0 &amp; \dots &amp; t_1^n &amp; -t_1^0 &amp; \dots &amp; -t_1^n &amp; 1 &amp; &amp; 0 &amp; 0
&amp; \dots &amp; 0 \\ \vdots &amp; \vdots &amp; &amp; \vdots &amp; \vdots &amp; &amp; \vdots &amp; &amp; \ddots &amp; &amp; \vdots &amp; &amp; \vdots \\
-1 &amp; t_m^0 &amp; \dots &amp; t_m^n &amp; -t_m^0 &amp; \dots &amp; -t_m^n &amp; 0 &amp; &amp; 1 &amp; 0 &amp; \dots &amp; 0 \\ -1 &amp; -t_1^0 &amp;
\dots &amp; -t_1^n &amp; t_1^0 &amp; \dots &amp; t_1^n &amp; 0 &amp; \dots &amp; 0 &amp; 1 &amp; &amp; 0 \\ \vdots &amp; \vdots &amp; &amp; \vdots &amp;
\vdots &amp; &amp; \vdots &amp; \vdots &amp; &amp; \vdots &amp; &amp; \ddots &amp; \\ -1 &amp; -t_m^0 &amp; \dots &amp; -t_m^n &amp; t_m^0 &amp; \dots
&amp; t_m^n &amp; 0 &amp; \dots &amp; 0 &amp; 0 &amp; &amp; 1 \end {array}\right )}_{A} \underbrace {\left (\begin{array}{c} e \\ p_0^+ \\ \vdots \\ p_n^+
\\ p_0^- \\ \vdots \\ p_n^- \\ \delta _1^+ \\ \vdots \\ \delta _m^+ \\ \delta _1^- \\ \vdots \\ \delta _m^- \end {array}\right )}_{x} = \underbrace {\left
(\begin{array}{c} f_1 \\ \vdots \\ f_m \\ - f_1 \\ \vdots \\ - f_m \end {array}\right )}_{b}.
\end{align*}

</p>
<p>
Eine Startlo&#x0308;sung erha&#x0308;lt man mit dem Polynom \(p = 0\) (\(p_k^+ = p_k^- = 0\), \(e = \max _{j=1,\dotsc ,m} |f_j|\)).
</p>

{% endraw %}
</div>
{:/nomarkdown}
