
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\E }{\ensuremath {\operatorname {E}}}\)

\(\newcommand {\eps }{\ensuremath {\operatorname {eps}}}\)

\(\renewcommand {\O }{\ensuremath {\operatorname {\mathcal {O}}}}\)

\(\newcommand {\cond }{\ensuremath {\operatorname {cond}}}\)

\(\newcommand {\sgn }{\ensuremath {\operatorname {sgn}}}\)

\(\newcommand {\rg }{\ensuremath {\operatorname {rg}}}\)

\(\newcommand {\im }{\ensuremath {\operatorname {im}}}\)

\(\renewcommand {\ker }{\ensuremath {\operatorname {ker}}}\)

\(\newcommand {\aufspann }[1]{\ensuremath {\left \langle #1\right \rangle }}\)

\(\newcommand {\diag }{\ensuremath {\operatorname {diag}}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
</style>
<p>

</p>


<h2 id="allgemeines-gauss-jordan-algorithmus-und-fehlerabschaetzung">Allgemeines, <span style="font-variant: small-caps;">Gauß</span>-<span style="font-variant: small-caps;">Jordan</span>-Algorithmus und Fehlerabschätzung</h2>

</p>

<p>
Ein <b>LGS</b> besteht aus \(m\) Gleichungen in \(n\) Unbestimmten. Es kann durch die Koeffizientenmatrix \(A\), den Unbekannten \(x_j\) und einer rechten Seite \(b\) dargestellt werden. Fu&#x0308;r \(b = 0\) heißt
das LGS <b>homogen</b>, sonst <b>inhomogen</b>. Ein LGS ohne Lo&#x0308;sung heißt <b>u&#x0308;berbestimmt</b>, ein LGS mit mehreren Lo&#x0308;sungen heißt <b>unterbestimmt</b>.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b><span class="textsc" >Gauß</span>-<span class="textsc" >Jordan</span>-Algorithmus</b>:<br />

</p>
<table>
<tr>
<td class="tdp">
<p>
\(\left (\begin {array}{cccccc|c} 1 &amp; \cdots &amp; 0 &amp; w_{1, \ell } &amp; \cdots &amp; w_{1, n} &amp; w_{1, n + 1} \\ \vdots &amp; \ddots &amp;
\vdots &amp; \vdots &amp; &amp; \vdots &amp; \vdots \\ 0 &amp; \cdots &amp; 1 &amp; &amp; &amp; &amp; \\ 0 &amp; \cdots &amp; 0 &amp; w_{\ell , \ell }
&amp; \cdots &amp; w_{\ell , n} &amp; w_{\ell , n + 1} \\ \vdots &amp; &amp; \vdots &amp; \vdots &amp; &amp; \vdots &amp; \vdots \\ 0 &amp; \cdots &amp; 0
&amp; w_{n, \ell } &amp; \cdots &amp; w_{n, n} &amp; w_{n, n + 1} \end {array}\right )\)
</p>
</td>
<td class="tdp">
<div class="minipage" style="vertical-align:middle ; justify-content:flex-start ; ">
<p>
Durch Umformen wird die Matrix eines LGS \(Ax = b\) in die Einheitsmatrix u&#x0308;berfu&#x0308;hrt. Vor dem \(\ell \)-ten Eliminationsschritt sieht die Matrix wie links angegeben aus, dieser verla&#x0308;uft wie folgt:
</p>


</div>
</td>
</tr>
</table>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>Bestimmung des Maximums \(|w_{i,\ell }|\) der Betra&#x0308;ge von \(w_{\ell ,\ell }, \ldots , w_{n,\ell }\) und Vertauschen der Zeilen \(\ell \) und \(i\),
</p>
</li>
<li class="list-item-f1"><p>Division der Zeile \(\ell \) durch \(w_{\ell ,\ell }\) und
</p>
</li>
<li class="list-item-f2"><p>Subtraktion des \(w_{j, \ell }\)-fachen der Zeile \(\ell \) von allen Zeilen \(j\) mit \(j \not = l\), d.&#x202f;h.<br />
\(w_{j,k} \leftarrow w_{j,k} - w_{j,\ell } \cdot w_{\ell ,k}\) fu&#x0308;r \(k = \ell , \ldots , n + 1\).
</p>
</li>
</ul>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Vektor- und Matrixnormen</b>: Fu&#x0308;r zwei Matrizen oder Vektoren gilt stets \(\norm {A \cdot B} \le \norm {A} \cdot \norm {B}\).
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                            vX                                                                         X                       vX
                                                                                                                                                                               u
                                                                   kxk2 =        |x k |2 ,   kxk∞ = max |x k |,                   kAk∞ = max                |a jk |,   kAk F = t  |a jk |2
                                                                            t
                                                                                                          k                                      j
                                                                             k                                                                          k                          i, j




-->


<p>

\begin{align*}
\norm {x}_2 = \sqrt {\sum _k |x_k|^2}, \quad \norm {x}_\infty = \max _k |x_k|, \qquad \qquad \norm {A}_\infty = \max _j \sum _k |a_{jk}|, \quad \norm {A}_F
= \sqrt {\sum _{i,j} |a_{jk}|^2}
\end{align*}

</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                   p
                                                                                             kAk2 = max kAxk2 = max{                   λ | λ EW von A∗ A}
                                                                                                      kxk2 =1




-->


<p>

\begin{align*}
\norm {A}_2 = \max _{\norm {x}_2 = 1} \norm {Ax}_2 = \max \{\sqrt {\lambda } \;|\; \lambda \text { EW von } A^\ast A\}
\end{align*}

</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Fehler bei LGS</b>: Ist \(\widetilde {x}\) die numerische berechnete Lo&#x0308;sung eines regula&#x0308;ren linearen LGS \(Ax = b\) sowie \(A\widetilde {x} = \widetilde {b}\), dann gilt
fu&#x0308;r den Fehler \(\Delta x = \widetilde {x} - x\), dass
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                k∆bk   k∆xk             k∆bk
                                                                                              cond(A)−1 ·            ≤      ≤ cond(A) ·      ,
                                                                                                                 kbk    kxk              kbk


-->


<p>

\begin{align*}
\cond (A)^{-1} \cdot \frac {\Vert \Delta b \Vert }{\Vert b \Vert } \le \frac {\Vert \Delta x \Vert }{\Vert x \Vert } \le \cond (A) \cdot \frac {\Vert
\Delta b \Vert }{\Vert b \Vert },
\end{align*}
wobei \(\cond (A) = \Vert A \Vert \cdot \Vert A^{-1} \Vert \) die <b>Kondition</b> der Matrix \(A\) ist. Beide Ungleichungen sind bestmo&#x0308;glich, d.&#x202f;h. Gleichheit kann durch konkrete
Beispiele erreicht werden.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Ru&#x0308;ckwa&#x0308;rtseinsetzen</b>: Bei einem LGS \(R = (r_{i,j})_{ij}\) in oberer Dreiecksform mit \(r_{1,1}, \dotsc , r_{n,n} \not = 0\) ko&#x0308;nnen die Unbekannten \(x_n,
\dotsc , x_1\) nacheinander bestimmt werden durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--



                                                                                  x n = bn /rn,n      sowie          x ` = (b` − r`,`+1 x `+1 − · · · − r`,n x n )/r`,` ,



-->


<p>

\begin{align*}
x_n = b_n / r_{n,n} \quad \text { sowie }\quad x_\ell = (b_\ell - r_{\ell ,\ell +1} x_{\ell +1} - \dotsb - r_{\ell ,n} x_n) / r_{\ell ,\ell },
\end{align*}
wobei die schon berechneten Werte \(x_{\ell +1}, \dotsc , x_n\) verwendet werden (\(\ell = n - 1, \dotsc , 1\)).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b><span class="textsc" >Cramer</span>sche Regel</b>: Sei \(A\) eine \(n \times n\)-Matrix und \(b\) ein \(n\)-zeiliger Spaltenvektor. Dann la&#x0308;sst sich die Lo&#x0308;sung des LGS \(Ax = b\)
berechnen durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                            x1
                                                                                                                               
                                                                                                      det Ai                  .
                                                                                               xi =          ,         x =  ..  ,          i = 1, . . . , n,
                                                                                                      det A
                                                                                                                            xn


-->


<p>

\begin{align*}
x_i = \frac {\det A_i}{\det A}, \qquad x = \begin{pmatrix}x_1 \\ \vdots \\ x_n\end {pmatrix}, \qquad i = 1, \dotsc , n,
\end{align*}
wobei \(A_i\) die Matrix ist, die aus \(A\) entsteht, wenn man die \(i\)-te Spalte durch \(b\) ersetzt.
</p>


<h2 id="householder-transformation-und-qr-zerlegung"><span style="font-variant: small-caps;">Householder</span>-Transformation und QR-Zerlegung</h2>

</p>

<p>
<b>Spiegelung eines Vektors an einer Hyperebene</b>: Sei \(d\) ein zu einer Hyperebene orthogonaler Vektor, dann ist \(Q = E - \frac {2}{\norm {d}_2^2} d d^t\) die Transformationsmatrix der Spiegelung
eines Vektors \(x\) an der Hyperebene, da \(Qx = x - \frac {2}{\norm {d}_2^2} d d^t x = x - 2 \frac {d}{\norm {d}_2} \cdot \innerproduct {\frac {d}{\norm {d}_2}, x}\),
wobei \(\innerproduct {\frac {d}{\norm {d}_2}, x}\) der Abstand von \(x\) zur Hyperebene ist.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b><span class="textsc" >Householder</span>-Transformation</b>: Die Transformation
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                              c1 + σ kck2
                                                                                                                         
                                                                                                                                               ¨
                                                                               1 t                               c2                               sgn(c1 )     c1 6= 0
                                                                    7 Qx = x −
                                                                   x→            d x · d,                d =       .     ,             σ=                               ,   r = |d1 | kck2
                                                                               r                                   ..                              1            c1 = 0
                                                                                                                   cn


-->


<p>

\begin{align*}
x \mapsto Qx = x - \frac {1}{r} \left (d^t x\right ) \cdot d, \qquad d = \begin{pmatrix}c_1 + \sigma \norm {c}_2 \\ c_2 \\ \vdots \\ c_n\end {pmatrix},
\quad \sigma = \begin{cases}\sgn (c_1) &amp; c_1 \not = 0 \\ 1 &amp; c_1 = 0\end {cases}, \quad r = |d_1| \norm {c}_2
\end{align*}
ist eine Spiegelung, die den Vektor \(c\) auf \(-\sigma \norm {c}_2 \cdot e_1\) (also auf ein Vielfaches des ersten Einheitsvektors) abbildet. Sie wird <em>Householder-Transformation</em> genannt.
</p>
<p>
Normalerweise wird die Householder-Transformation durch
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                 1 t 
                                                                                                                 A 7→ A − d ·      d A
                                                                                                                                 r


-->


<p>

\begin{align*}
A \mapsto A - d \cdot \frac {1}{r} \left (d^t A\right )
\end{align*}
gleichzeitig auf alle Spalten einer Matrix \(A\) angewandt, wobei \(c = A(:, 1)\) die erste Spalte von \(A\) ist. Dadurch werden die Eintra&#x0308;ge \(a_{2,1}, a_{3,1}, \dotsc \) zu \(0\).
</p>
<p>
Die Matrix \(Q\) einer Householder-Transformation ist symmetrisch (\(Q^t = Q\)),<br />
orthogonal (\(Q^{-1} = Q^t\)) und involutorisch (\(Q^2 = E\)).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Permutation bei LGS</b>: Bei einem LGS \(Ax = b\) a&#x0308;ndert eine Permutation \((1, 2, \dotsc ) \rightarrow I\)<br />
(\(I\) Indexvektor) der Zeilen der Matrix die rechte Seite (\(A(I,:) x = b(I)\)) und eine Permutation der Spalten die Lo&#x0308;sung (\(A(:,I) x(I) = b\)).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>QR-Faktorisierung</b>: Eine \(m \times n\)-Matrix \(A\) kann, ggf. nach einer Permutation der Spalten, als Produkt einer orthogonalen Matrix \(Q\) und einer oberen Dreiecksmatrix \(R\) geschrieben werden:
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                 
                                                                                                                                        R       S
                                                                                                      A(:, I) = QR         mit      R=
                                                                                                                                         e
                                                                                                                                                    ,
                                                                                                                                         0      0


-->


<p>

\begin{align*}
A(:,I) = QR \quad \text { mit }\quad R = \begin{pmatrix}\widetilde {R} &amp; S \\ 0 &amp; 0\end {pmatrix},
\end{align*}
wobei \(I\) ein Indexvektor und \(\widetilde {R}\) eine quadratische invertierbare obere Dreiecksmatrix mit Zeilen-/Spaltenzahl \(\rg A\) ist.<br />
Die QR-Zerlegung la&#x0308;sst sich mit maximal \(\min \{m - 1, n\}\) Householder-Transformationen \(Q_k\) konstruieren: \(Q = (\dotsc Q_2 Q_1)^{-1} = Q_1 Q_2 \dotsc \) (\(Q_i\) sind orthogonal
und symmetrisch).
</p>
<p>
<b>Ablauf der QR-Faktorisierung</b>:<br />

</p>
<table>
<tr>
<td class="tdp">
<p>
\(\left (\begin {array}{ccc|ccc} \ast &amp; \cdots &amp; \ast &amp; \ast &amp; \cdots &amp; \ast \\ &amp; \ddots &amp; \vdots &amp; \vdots &amp; &amp;
\vdots \\ 0 &amp; &amp; \ast &amp; \ast &amp; \cdots &amp; \ast \\ \hline &amp; &amp; &amp; &amp; &amp; \\ &amp; 0 &amp; &amp; &amp; B &amp; \\ &amp; &amp;
&amp; &amp; &amp; \\ \end {array}\right )\)
</p>
</td>
<td class="tdp">
<div class="minipage" style="vertical-align:middle ; justify-content:flex-start ; ">
<p>
Ist die Matrix \(Q_{\ell - 1} \dotsm Q_1 A(:,I)\) vor dem \(\ell \)-ten Transformationsschritt von der Form wie links angegeben, so verla&#x0308;uft der na&#x0308;chste Schritt wie folgt:
</p>


</div>
</td>
</tr>
</table>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>Ist \(B = 0\), so ist die Transformation abgeschlossen. Fu&#x0308;r \(B \not = 0\) tauscht man die erste Spalte mit der Spalte, die die maximale \(2\)-Norm hat (\(c = B(:,1)\)). Die Permutation muss
durch entsprechenden Tausch in I gespeichert werden.
</p>
</li>
<li class="list-item-f4"><p>Falls \(B\) mehr als eine Zeile hat, wendet man nun die Householder-Transformation auf \(B\) an, sodass unterhalb von Position \((\ell , \ell )\) Nullen sind.
</p>
</li>
</ul>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Lo&#x0308;sen eines LGS durch QR-Faktorisierung</b>: Ein LGS \(Ax = b\) mit einer \(m \times n\)-Matrix \(A\) kann mithilfe der QR-Zerlegung \(A(:,I) = QR\) gelo&#x0308;st werden. Nach Anwendung der
Householder-Transformationen auf \(A(:,I)\) (d.&#x202f;h. Multiplikation mit \(Q^{-1} = Q^t\)) hat das System \(A(:,I) x(I) = b\) die Form
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                                                                                                                                                                   
                                                                                                                                                                    R            S     u   c                                     R      S
                                                                                              A(:, I)x(I) = b ⇔ R y = Q t b ⇔                                                            =                               R=
                                                                                                                                                                     e                                                            e
                                                                                                                                                                                              ,                                             ,
                                                                                                                                                                     0           0     v   d                                      0     0


-->


<p>

\begin{align*}
A(:,I) x(I) = b \;\Leftrightarrow \; Ry = Q^t b \;\Leftrightarrow \; \begin{pmatrix}\widetilde {R} &amp; S \\ 0 &amp; 0\end {pmatrix} \begin{pmatrix}u \\
v\end {pmatrix} = \begin{pmatrix}c \\ d\end {pmatrix}, \qquad R = \begin{pmatrix}\widetilde {R} &amp; S \\ 0 &amp; 0\end {pmatrix},
\end{align*}
wobei \(\widetilde {R}\) eine quadratische, invertierbare, obere Dreiecksmatrix (Zeilen-/Spaltenzahl \(= \rg A\)), \(y = x(I)\), \(u = y(1:k)\), \(v = y(k+1:n)\) und \(Q^t b = \begin {pmatrix}c
\\ d\end {pmatrix}\) ist.
</p>
<p>
<b>Lo&#x0308;sungen</b>: Eine Lo&#x0308;sung existiert genau dann, wenn \(d = 0\) ist. In diesem Fall kann sie durch Ru&#x0308;ckwa&#x0308;rtseinsetzen bzw. Lo&#x0308;sung des Systems \(\widetilde {R}u
+ Sv = c\) berechnet werden. Fu&#x0308;r \(k = n\) ist die Lo&#x0308;sung ist eindeutig, fu&#x0308;r \(k &lt; n\) sind die Komponenten \(y(k+1:n)\) frei wa&#x0308;hlbar.<br />
Fu&#x0308;r \(d \not = 0\) ist das LGS nicht lo&#x0308;sbar.
</p>
<p>
<b>Fehlerminimierung</b>: Da orthogonale Transformationen (also auch Householder-Transformationen) die \(2\)-Norm invariant lassen, kann man durch die ermittelte Faktorisierung und den Fehler \(e = \norm {Ax -
b}_2 = \norm {Q^tAx - Q^tb}_2\) minimieren. Der Vektor \(x\), der den Fehler \(e\) minimiert, ergibt sich durch obige Lo&#x0308;sung \(\widetilde {R}u + Sv = c\). Der minimale Fehler ist dann
\(e_{min} = \norm {d}_2\).
</p>
<p>
<b>regula&#x0308;res System</b>: Ist \(Ax = b\) mit einer invertierbaren \(n \times n\)-Matrix \(A\), dann ist die Zeilen-/Spaltenzahl von \(\widetilde {R}\) gleich \(\rg A = n\). Die QR-Zerlegung
\(A(:,I) = QR\) ergibt in diesem Fall \(R = \widetilde {R}\) als invertierbare obere Dreiecksmatrix (\(n \times n\)).
</p>


<h2 id="pade-approximation"><span style="font-variant: small-caps;">Padé</span>-Approximation</h2>

</p>

<p>
<b><span class="textsc" >Padé</span>-Approximation</b>: Die Padé-Approximation einer Funktion \(f(x) = f_0 + f_1 x + f_2 x^2 + \dotsb \) ist eine rationale Funktion
</p>
<span class="hidden" > \(\seteqnumber{0}{}{0}\)</span>


<!--


                                                                                           p(x)
                                                                                                ≈ f (x),                 p(x) = p0 + p1 x + · · · + pm x m ,                                     q(x) = q0 + q1 x + · · · + qm x m
                                                                                           q(x)


-->


<p>

\begin{align*}
\frac {p(x)}{q(x)} \approx f(x), \qquad p(x) = p_0 + p_1 x + \dotsb + p_m x^m, \quad q(x) = q_0 + q_1 x + \dotsb + q_m x^m
\end{align*}
mit Za&#x0308;hlergrad \(m\) und Nennergrad \(n\), die mit \(f\) fu&#x0308;r \(z \to 0\) in den Termen der Ordnung bis einschließlich \(m + n\) u&#x0308;bereinstimmt, d.&#x202f;h. \(\frac {p(x)}{q(x)} -
f(x) = \O (x^{m+n+1})\).
</p>
<p>
<b>Beispiel fu&#x0308;r \(m = n = 2\)</b>: Zur Bestimmung der Koeffizienten von \(p\) und \(q\) kann man \(f\) z.&#x202f;B. in eine Taylor-Reihe \(f(x) = f_0 + f_1 x + f_2 x^2 + \dotsb \) im Punkt
\(0\) entwickeln, damit \(f\) eine Potenzreihe ist. Durch Ausmultiplizieren von \(f(x) q(x) \approx p(x)\) bzw.<br />
\((f_0 + f_1 x + f_2 x^2 + \dotsb ) (1 + q_1 x + q_2 x^2) = (p_0 + p_1 x + p_2 x^2)\) (\(q_0\) kann durch Ku&#x0308;rzen immer auf \(1\) gesetzt werden) und Sammeln der Terme
gleicher Ordnung auf der linken Seite entsteht ein LGS mit den \(m + n + 1\) Unbestimmten \(p_0, p_1, p_2, q_1, q_2\) in \(m + n + 1\) Gleichungen, wobei \(f_0, f_1, f_2, f_3, f_4\) auf der rechten
Seite steht.
</p>

{% endraw %}
</div>
{:/nomarkdown}
