
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\AA }{\mathbb {A}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\newcommand {\UU }{\mathbb {U}}\)

\(\newcommand {\XX }{\mathbb {X}}\)

\(\renewcommand {\C }{\mathcal {C}}\)

\(\renewcommand {\F }{\mathcal {F}}\)

\(\renewcommand {\H }{\mathcal {H}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\renewcommand {\S }{\mathcal {S}}\)

\(\newcommand {\GL }{\mathrm {GL}}\)

\(\newcommand {\eps }{\mathrm {eps}}\)

\(\renewcommand {\div }{\mathrm {div}}\)

\(\newcommand {\rot }{\mathrm {rot}}\)

\(\newcommand {\D }{\mathop {}\!\mathrm {D}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\tr }{\text {tr}}\)

\(\newcommand {\Vor }{\mathrm {Vor}}\)

\(\newcommand {\Del }{\mathrm {Del}}\)

\(\newcommand {\Rang }{\text {Rang}}\)

\(\newcommand {\id }{\text {id}}\)

\(\newcommand {\sinc }{\operatorname {sinc}}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<p>

</p>



<h2 id="1d-polynom-interpolation">1D-Polynom-Interpolation</h2>

</p>


<p>
<b>Satz (Polynom-Interpolation)</b>: Seien \((x_i, y_i) \in \real ^2\) fu&#x0308;r \(i = 0, \dotsc , n\) gegeben, wobei \(x_i \not = x_j\) fu&#x0308;r \(i \not = j\). Dann gibt es genau ein interpolierendes
Polynom \(P_n(x) = \sum _{j=0}^n a_j x^j\) vom Grad \(\le n\).
</p>

<p>
<b><span class="textsc" >Vandermonde</span>-Matrix</b>: Die Koeffizienten \(a_0, \dotsc , a_n\) lassen sich als Lo&#x0308;sung des LGS<br />
\(\smallpmatrix {1&amp;x_0&amp;\dots &amp;x_0^n\\\vdots &amp;\vdots &amp;&amp;\vdots \\1&amp;x_n&amp;\dots &amp;x_n^n} \smallpmatrix {a_0\\\vdots \\a_n} = \smallpmatrix {y_0\\\vdots \\y_n}
\iff V\vec {a} = \vec {y}\) bestimmen. \(V\) heißt <em><span class="dashuline" ><span class="textsc" >Vandermonde</span>-Matrix</span></em>. Allerdings ist \(V\) schwierig und teuer zu berechnen und weitere
Interpolationspkt.e sind aufwendig.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Lagrange</span>-Interpolation</b>: Die <em><span class="dashuline" ><span class="textsc" >Lagrange</span>-Interpolation</span></em> bestimmt \(P_n\) durch den Ansatz \(P_n(x) =
\sum _{i=0}^n y_i L_i(x)\) mit den <em><span class="dashuline" ><span class="textsc" >Lagrange</span>-Polynomen</span></em> \(L_i(x) := \prod _{j\not =i} \frac {x - x_j}{x_i - x_j}\). \(L_i\) ist ein
Polynom vom Grad \(n\) mit \(L_i(x_k) = \delta _{i,k}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b><span class="textsc" >Newton</span>-Interpolation</b>: Die <em><span class="dashuline" ><span class="textsc" >Newton</span>-Interpolation</span></em> bestimmt \(P_n\) durch den Ansatz<br />
\(P_n(x) = \sum _{i=0}^n a_i N_i(x)\) mit den <em><span class="dashuline" ><span class="textsc" >Newton</span>-Polynomen</span></em> \(N_0(x) := 1\) und \(N_i(x) := \prod _{j=0}^{i-1} (x - x_j)\)
fu&#x0308;r \(i = 1, \dotsc , n\). Wegen der rekursiven Definition (\(N_i(x) = (x - x_{i-1}) N_{i-1}(x)\)) gilt \(N_i(x_k) = 0\) fu&#x0308;r \(i &gt; k\). Damit ist das resultierende LGS fu&#x0308;r die \(a_i\) in
unterem Dreiecksformat und ein zusa&#x0308;tzlicher Samplepunkt \(x_{n+1}\) vera&#x0308;ndert \(a_0, \dotsc , a_n\) nicht. Außerdem ist dieser Ansatz numerisch stabiler.
</p>



<h2 id="kubische-1d-interpolation">Kubische 1D-Interpolation</h2>

</p>


<p>
<b>kubische 1D-Interpolation</b>: Seien \(y_0, y_0’, y_1, y_1’ \in \real \) gegeben. Gesucht ist ein ho&#x0308;chstens kubisches Polynom \(f(x) = ax^3 + bx^2 + cx + d\) mit \(f(i) = y_i\) und \(f’(i) =
y_i’\) fu&#x0308;r \(i = 0, 1\). Man erha&#x0308;lt das regula&#x0308;re LGS \(A (a, b, c, d)^\tp = \vec {v}\) mit \(A := \smallpmatrix
{0&amp;0&amp;0&amp;1\\0&amp;0&amp;1&amp;0\\3&amp;2&amp;1&amp;0\\1&amp;1&amp;1&amp;1}\) und \(\vec {v} := (y_0, y_0’, y_1’, y_1)^\tp \). Damit bekommt man \(f(x) = (a, b, c, d) (x^3, x^2, x,
1)^\tp = \vec {v}^\tp A^{-\tp } (x^3, x^2, x, 1)^\tp \) mit den<br />
<em><span class="dashuline" >kubischen <span class="textsc" >Hermite</span>-Polynomen</span></em> \(\smallpmatrix {H_0^3(x)\\H_1^3(x)\\H_2^3(x)\\H_3^3(x)} = A^{-\tp } (x^3, x^2, x, 1)^\tp =
\smallpmatrix {(2x+1)(1-x)^2\\x(1-x)^2\\-x^2(1-x)\\(3-2x)x^2}\)
</p>



<h2 id="bikubische-interpolation">Bikubische Interpolation</h2>

</p>


<p>
<b>bikubische Interpolation</b>: Gegeben seien \(\vecs {f}{i,j} = (x_i, y_j)^\tp \) fu&#x0308;r \(x_i, y_j \in \{0, 1\}\) und Werte<br />
\(z_{i,j}, \partial _x z_{i,j}, \partial _y z_{i,j}, \partial _x \partial _y z_{i,j} \in \real \). Gesucht ist bei der <em><span class="dashuline" >bikubischen Interpolation</span></em> das bikubische
Polynom \(f(x, y) = \sum _{n=0}^3 \sum _{m=0}^3 a_{n,m} x^n y^m\) mit \(f(\vecs {p}{i,j}) = z_{i,j}\), \(\partial _x f(\vecs {p}{i,j}) = \partial _x z_{i,j}\), \(\partial _y f(\vecs {p}{i,j}) =
\partial _y z_{i,j}\) und \(\partial _x \partial _y f(\vecs {p}{i,j}) = \partial _x \partial _y z_{i,j}\). Schreibt man \(\vec {\alpha } := (a_{0,0}, a_{1,0}, a_{2,0}, a_{3,0}, a_{0,1}, \dotsc ,
a_{3,3})^\tp \) und<br />
\(\vec {z} = (z_{0,0}, z_{1,0}, z_{0,1}, z_{1,1}, \partial _x z_{0,0}, \dotsc , \partial _x \partial _y z_{1,1})^\tp \), dann erha&#x0308;lt man ein LGS \(B\vec {\alpha } = \vec {z}\) mit einer \((16
\times 16)\)-Matrix \(B\). Es gilt dann \(\vec {\alpha } = B^{-1} \vec {z}\).
</p>

<p>
<b>bikubische Interpolation mit <span class="textsc" >Hermite</span>-Polynomen</b>: Man kann den Ansatz auch schreiben als \(f(x, y) = \vec {y}^\tp A \vec {x}\) mit \(\vec {x} := (1, x, x^2, x^3)^\tp =
C^\tp \vecs {h}{x}\), \(\vecs {h}{x} := (H_0^3(x), \dotsc , H_3^3(x))^\tp \) und einer bestimmten Basiswechsel-Matrix \(C = \smallpmatrix
{1&amp;0&amp;0&amp;0\\0&amp;1&amp;0&amp;0\\0&amp;1&amp;2&amp;3\\1&amp;1&amp;1&amp;1}\), die man aus \(C^{-1} = \smallpmatrix
{1&amp;0&amp;0&amp;0\\0&amp;1&amp;0&amp;0\\-3&amp;-2&amp;-1&amp;3\\2&amp;1&amp;1&amp;-2}\) erha&#x0308;lt (analog \(\vec {y} = C^\tp \vecs {h}{y}\)). Damit bekommt man \(f(x, y) = \vecs {h}{y}^\tp
C A C^\tp \vecs {h}{x}\). Man kann zeigen, dass<br />
\(CAC^\tp = F := \smallpmatrix {f(0,0)&amp;f_x(0,0)&amp;f_x(1,0)&amp;f(1,0)\\ f_y(0,0)&amp;f_{xy}(0,0)&amp;f_{xy}(1,0)&amp;f_y(1,0)\\ f_y(0,1)&amp;f_{xy}(0,1)&amp;f_{xy}(1,1)&amp;f_y(1,1)\\
f(0,1)&amp;f_x(0,1)&amp;f_x(1,1)&amp;f(1,1)}\) bzw. \(A = C^{-1} F C^{-\tp }\).
</p>



<h2 id="interpolation-auf-dreiecken">Interpolation auf Dreiecken</h2>

</p>


<p>
<b>baryzentrische Koordinaten</b>: Seien \(\vec {a}, \vec {b}, \vec {c} \in \real ^2\) nicht kollinear. Dann gibt es fu&#x0308;r \(\vec {p} \in \real ^2\) <em><span class="dashuline" >baryzentrische
Koordinaten</span></em> \(\alpha _1, \alpha _2, \alpha _3 \in \real \) mit \(\vec {p} = \alpha _1 \vec {a} + \alpha _2 \vec {b} + \alpha _3 \vec {c}\) und \(\alpha _1 + \alpha _2 + \alpha _3 =
1\).<br />
Durch Umschreiben \(\vec {p} - \vec {c} = \alpha _1 (\vec {a} - \vec {c}) + \alpha _2 (\vec {b} - \vec {c})\) erha&#x0308;lt man \((\alpha _1, \alpha _2)^\tp = T^{-1} (\vec {p} - \vec {c})\) mit
\(T := \smallpmatrix {\vec {a} - \vec {c} &amp; \vec {b} - \vec {c}}\). Durch Ausschreiben der Inverse und Multiplikation bekommt man<br />
\(\alpha _1 = \frac {1}{D} \det (\smallpmatrix {\vec {p} - \vec {c} &amp; \vec {b} - \vec {c}})\), \(\alpha _2 = \frac {1}{D} \det (\smallpmatrix {\vec {a} - \vec {c} &amp; \vec {p} - \vec
{c}})\) und \(\alpha _3 = \frac {1}{D} \det (\smallpmatrix {\vec {b} - \vec {a} &amp; \vec {p} - \vec {a}})\) mit der Determinate \(D := \det (T)\) (doppelter Fla&#x0308;cheninhalt des Dreiecks).
</p>

<p>
<b>geometrische Interpretation</b>: \(\alpha _1\) ist der Anteil der Fla&#x0308;che des Dreiecks mit der zu \(\vec {a}\) gegenu&#x0308;ber liegender Kante \(\vec {b} - \vec {c}\) als Kante und Ecke \(\vec {p}\) am
gesamten Dreieck (falls \(\vec {p}\) im Dreieck liegt). Ob \(\vec {p}\) im Dreieck, auf einer Ecke/Kante oder außerhalb liegt, kann man leicht an den baryzentrischen Koordinaten ablesen.
</p>

<p>
<b>Transformation zu Einheitsdreieck</b>: Mit der Transformation \(x = a_x + (b_x - a_x) \xi + (c_x - a_x)\eta \) und \(y = a_y + (b_y - a_y) \xi + (c_y - a_y)\eta \) transformiert man ein Dreieck mit den
Ecken \(\vec {a}, \vec {b}, \vec {c}\) auf das Einheitsdreieck. Im Einheitsdreieck gilt \(\alpha _1 = 1 - \xi - \eta \), \(\alpha _2 = \xi \) und \(\alpha _3 = \eta \).
</p>

<p>
<b>baryzentrische Interpolation</b>: Seien Werte \(f_1, f_2, f_3 \in \real \) an den Ecken des Dreiecks gegeben. Dann erha&#x0308;lt man <em><span class="dashuline" >baryzentrische Interpolation</span></em>
durch \(f(\vec {p}) = \sum _{i=1}^3 \alpha _i(\vec {p}) f_i\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>quadratische Interpolation</b>: Fu&#x0308;r quadr. Interpolation im Standarddreieck sei der Ansatz \(\vec {f}(\xi , \eta ) = \sum _{i=1}^6 f_i N_i(\xi , \eta )\) gegeben mit \(N_i(\xi _j, \eta _j) =
\delta _{i,j}\) fu&#x0308;r \((\xi _1, \eta _1) := (0, 0)\), \((\xi _2, \eta _2) := (1, 0)\), \((\xi _3, \eta _3) := (0, 1)\), \((\xi _4, \eta _4) := (1/2, 0)\), \((\xi _5, \eta _5) := (1/2, 1/2)\)
und \((\xi _6, \eta _6) := (0, 1/2)\).<br />
Man erha&#x0308;lt \(N_1(\xi , \eta ) = (1 - \xi - \eta ) (1 - 2\xi - 2\eta )\), \(N_2(\xi , \eta ) = \xi (2\xi - 1)\), \(N_3(\xi , \eta ) = \eta (2\eta - 1)\), \(N_4(\xi , \eta ) = 4\xi (1 - \xi -
\eta )\), \(N_5(\xi , \eta ) = 4\xi \eta \) und \(N_6(\xi , \eta ) = 4\eta (1 - \xi - \eta )\).
</p>

<p>
<b>kubische Interpolation</b>: Man kann den Ansatz auch fu&#x0308;r ho&#x0308;here Ordnungen verallgemeinern. Zum Beispiel wa&#x0308;re der kubische Ansatz<br />
\(u(\xi , \eta ) = c_1 + c_2\xi + c_3\eta + c_4\xi ^2 + c_5\xi \eta + c_6\eta ^2 + c_7\xi ^3 + c_8\xi ^2\eta + c_9\xi \eta ^2 + c_{10}\eta ^3\).
</p>



<h2 id="bikubische-interpolation-auf-krummlinigen-gittern">Bikubische Interpolation auf krummlinigen Gittern</h2>

</p>


<p>
<b>krummlinige Gitter</b>: Zur Interpolation auf krummlinigen Gittern muss man die Ableitungen, die im <em><span class="dashuline" >physischen Raum (P-Raum)</span></em> mit Koord.en \((x, y)\) gegeben sind,
umrechnen auf den <em><span class="dashuline" >Berechnungsraum (C-Raum)</span></em> mit Koord.en \((\xi , \eta )\). Im C-Raum sollte das Gitter ein uniformes 2D-Rechtecksgitter mit Gitterabsta&#x0308;nden
\(\Delta \xi = 1 = \Delta \eta \) sein.
</p>

<p>
<b>Umrechnung der Ableitungen</b>: Fu&#x0308;r \(\vecs {\partial }{xy} := (\partial _x, \partial _y, \partial _x^2, \partial _x \partial _y, \partial _y^2)^\tp \) und<br />
\(\vecs {\partial }{\xi \eta } := (\partial _\xi , \partial _\eta , \partial _\xi ^2, \partial _\xi \partial _\eta , \partial _\eta ^2)^\tp \) erha&#x0308;lt man \(\vecs {\partial }{xy} = B\vecs
{\partial }{\xi \eta }\) mit \(B := \smallpmatrix {B_1&amp;0\\B_2&amp;B_3}\) und<br />
\(B_1 := \smallpmatrix {\partial _x \xi &amp;\partial _x \eta \\\partial _y \xi &amp;\partial _y \eta }\), \(B_2 := \smallpmatrix {\partial _x^2 \xi &amp;\partial _x^2 \eta \\\partial _x
\partial _y \xi &amp; \partial _x \partial _y \eta \\\partial _y^2 \xi &amp;\partial _y^2 \eta }\) sowie \(B_3 := \smallpmatrix {(\partial _x \xi )^2&amp;2\partial _x \xi \cdot \partial _x \eta
&amp; (\partial _x \eta )^2\\ \partial _x \xi \cdot \partial _y \xi &amp; \partial _x \xi \cdot \partial _y \eta + \partial _x \eta \cdot \partial _y \xi &amp; \partial _x \eta \cdot \partial
_y \eta \\ (\partial _y \xi )^2&amp;2\partial _y \xi \cdot \partial _y \eta &amp;(\partial _y \eta )^2}\).<br />
Umgekehrt gilt \(\vecs {\partial }{\xi \eta } = C\vecs {\partial }{xy}\) mit \(C := B^{-1} = \smallpmatrix {C_1&amp;0\\C_2&amp;C_3}\) und<br />
\(C_1 := B_1^{-1} = \smallpmatrix {\partial _\xi x&amp;\partial _\xi y\\\partial _\eta x&amp;\partial _\eta y}\), \(C_2 := -B_3^{-1} B_2 B_1^{-1} = \smallpmatrix {\partial _x^2 x&amp;\partial
_\xi ^2 y\\\partial _\xi \partial _\eta x&amp; \partial _\xi \partial _\eta y\\\partial _\eta ^2 x&amp;\partial _\eta ^2 y}\) sowie<br />
\(C_3 := B_3^{-1} = \smallpmatrix {(\partial _\xi x)^2&amp;2\partial _\xi x \cdot \partial _\xi y&amp; (\partial _\xi y)^2\\ \partial _\xi x \cdot \partial _\eta x&amp; \partial _\xi x \cdot
\partial _\eta y + \partial _\xi y \cdot \partial _\eta x&amp; \partial _\xi y \cdot \partial _\eta y\\ (\partial _\eta x)^2&amp;2\partial _\eta x \cdot \partial _\eta y&amp;(\partial _\eta
y)^2}\).
</p>

{% endraw %}
</div>
{:/nomarkdown}
