
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\code }[1]{\lstinline [basicstyle=\ttfamily ]{#1}}\)

\(\renewcommand {\O }{\ensuremath {\mathcal {O}}}\)

\(\newcommand {\source }{\ensuremath {\operatorname {source}}}\)

\(\newcommand {\target }{\ensuremath {\operatorname {target}}}\)

\(\renewcommand {\num }{\ensuremath {\operatorname {num}}}\)

\(\newcommand {\indeg }{\ensuremath {\operatorname {indeg}}}\)

\(\newcommand {\mycap }{\ensuremath {\operatorname {cap}}}\)

\(\newcommand {\cost }{\ensuremath {\operatorname {cost}}}\)

\(\newcommand {\pot }{\ensuremath {\operatorname {pot}}}\)

\(\newcommand {\ccost }{\ensuremath {\operatorname {ccost}}}\)

\(\newcommand {\dcost }{\ensuremath {\operatorname {dcost}}}\)

\(\newcommand {\icost }{\ensuremath {\operatorname {icost}}}\)

\(\newcommand {\qed }{\hfill $\Box $}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'•\00a0\00a0';
}
</style>
<h2 id="allgemeines-zu-suchbaeumen">Allgemeines zu Suchbäumen</h2>
Gegeben sei eine Teilmenge \(S = \{a_1, \dotsc , a_n\}\) eines geordneten Universums \(U\).<br />
Gesucht ist eine Organisation von \(S\) in einem bina&#x0308;ren Baum, wobei
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>der Baum \(n\) Knoten und eine ausgezeichnete Wurzel besitzt,
</p>
</li>
<li class="list-item-f1"><p>jedes \(a_i\) mit einem Knoten asoziiert ist,
</p>
</li>
<li class="list-item-f2"><p>jeder innere Knoten maximal einen linken und maximal einen rechten Kindknoten hat sowie
</p>
</li>
<li class="list-item-f3"><p>fu&#x0308;r jeden Knoten \(a_v\) des Baums sind alle Knoten im Teilbaum eines linken/rechten Kindes von \(a_v\) kleiner/gro&#x0308;ßer als \(a_v\).
</p>
</li>
</ul>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
Die Suche nach einem Schlu&#x0308;ssel \(x\) im Suchbaum verla&#x0308;uft wie folgt:<br />
<span class="inlineprogramlisting">search</span>(\(x, a_{root}\)<span class="inlineprogramlisting"></span>) gibt das gro&#x0308;ßte \(a_\ell \) mit \(a_\ell \le x\) im
Baum zuru&#x0308;ck, sonst \(-\infty \).
</p>
<pre class="programlisting">
search(x, {}) = -unendlich

search(x, a)
   if x &lt;a
      return search(x, a_L)
   else if x = a
      return a
   else
      return max(a, search(a, a_R))
</pre>


<p>
Suchba&#x0308;ume ko&#x0308;nnen, falls der Baum ausbalanciert ist, dabei helfen, sehr „billig“ nach einem Knoten zu suchen. In diesem Fall ist die Suchzeit fu&#x0308;r ein Knoten \(\O (\log n)\). Das Problem ist, dass
das Lo&#x0308;schen und Einfu&#x0308;gen von Elementen den Baum wieder unbalanciert machen kann – der Extremfall ist ein „ausgearteter Baum“, bei dem in jeder Ebene nur ein Knoten ist. Daher nutzt man spezielle
Datenstrukturen, die den Baum automatisch ausbalancieren.
</p>


<h2 id="2-4-baeume">(2, 4)-Bäume</h2>

</p>

<p>
Gegeben sei wieder eine linear geordnete Menge \(S = \{a_1, \dotsc , a_n\}\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f4"><p>\(S\) soll nur in den Bla&#x0308;ttern des Baums gespeichert werden.<br />
Die Bla&#x0308;tter mu&#x0308;ssen sortiert sein.
</p>
</li>
<li class="list-item-f5"><p>Die Bla&#x0308;tter des Baums sollen alle die gleiche Tiefe haben.
</p>
</li>
<li class="list-item-f6"><p>Jeder innere Knoten hat zwischen zwei und vier Kinder.
</p>
</li>
<li class="list-item-f7"><p>Jede innere Knoten mit \(i\) Kindern entha&#x0308;lt selbst \(i - 1\) Schlu&#x0308;ssel, dabei ist der \(j\)-te Schlu&#x0308;ssel das gro&#x0308;ßte Element des \(j\)-ten Teilbaums des Knotens (\(j = 1, \dotsc
, i - 1\)).
</p>
</li>
</ul>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Suche nach einem Schlu&#x0308;ssel \(k\)</b>:
</p>
<pre class="programlisting">
v := wurzel
while v kein Blatt do
   bestimme l mit k_{l-1}(v) &lt;k &lt;= k_l(v) (wobei k_0(v) = -unendlich und k_grad(v) = +unendlich gesetzt wird)
   v := l-tes Kind von v
od
</pre>


<p>
Die Suche in einem Blatt \(v\), wobei \(Schl&quot;ussel(linkerNachbar) &lt; k \le Schl&quot;ussel(v)\) ist. Ist \(k &gt; \max S\), dann endet die Suche in dem Blatt, das am weitesten rechts liegt.
Die Laufzeit ist \(\O (h)\), wenn \(h\) die Tiefe des Baums ist.
</p>
<p>
<b>Lemma</b>: Sei \(T\) ein (2, 4)-Baum der Ho&#x0308;he \(h\) mit \(n\) Bla&#x0308;ttern.<br />
Dann gilt \(2^h \le n \le 4^h\) und daher \(\frac {1}{2} \log n \le h \le \log n\).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Einfu&#x0308;gen eines Elements \(k\)</b>:<br />
Angenommen wird, dass ein Verweis auf das Blatt \(v\) mit \(Schl&quot;ussel(linkerNachbar) &lt; k \le Schl&quot;ussel(v)\) vorliegt (kann durch Suchen nach \(k\) erreicht werden).
</p>
<ul style="list-style-type:none">

<li class="list-item-f8"><p><em>Einfu&#x0308;gen</em>: Fu&#x0308;ge \(k\) links von \(v\) als neues Blatt hinzu und fu&#x0308;ge \(k\) als Schlu&#x0308;ssel in den Vaterknoten vor den Schlu&#x0308;ssel von \(v\) ein.
</p>
</li>
<li class="list-item-f9"><p><em>Spalten</em>: Wenn der Vaterknoten nun fu&#x0308;nf Knoten hat, muss er aufgespaltet werden, d.&#x202f;h. er wird in zwei Knoten aufgeteilt, wobei der linke Knoten die ersten zwei und der rechte
Knoten die letzten drei Kinder entha&#x0308;lt. Wenn die Wurzel gespalten werden muss, muss eine neue Wurzel erzeugt werden, sodass die Tiefe um \(1\) steigt.
</p>
<pre class="programlisting">
v := vater(v)
while v hat fuenf Kinder do
   spalte(v)
   v := vater(v)
od
</pre>

</li>
</ul>
<p>
Die Laufzeit ist \(\O (1 + \text {Anzahl Spaltungen}) = \O (\log n)\).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Lo&#x0308;schen eines Elements \(k\)</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f10"><p><em>Lo&#x0308;schen</em>: Ist \(k\) kein am weitesten rechts liegendes Kind, so kann es einfach mit dem zugeho&#x0308;rigen Schlu&#x0308;ssel in seinem Vaterknoten gelo&#x0308;scht werden. Liegt
\(k\) am weitesten rechts, so muss der zugeho&#x0308;rige Schlu&#x0308;ssel vera&#x0308;ndert werden, der allerdings nicht im Vaterknoten liegt, sondern in einem daru&#x0308;ber liegenden indirekten Vaterknoten.
</p>
</li>
<li class="list-item-f11"><p><em>Verschmelzen</em>/<em>Stehlen</em>: Hat der Vaterknoten von \(k\) nach dem Lo&#x0308;schen nur noch ein Kind, so muss entweder der Knoten mit einem Nachbarn verschmolzen werden oder er muss
einen Knoten von einem Nachbarknoten stehlen. Verschmolzen wird, falls der Nachbarknoten \(2\) Knoten hat, hat er \(3\) oder \(4\) Knoten, so wird gestohlen.
</p>
</li>
</ul>
<p>
Dies kann bis zur Wurzel fortgesetzt werden, daher betra&#x0308;gt die Laufzeit \(\O (\log n)\).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Warum benutzt man nicht (2, 3)-Ba&#x0308;ume?</b><br />
Hat ein Knoten drei Kinder, so wu&#x0308;rde dieser nach einer Einfu&#x0308;geoperation gespalten werden. Ist jedoch der Baum „voll“, d.&#x202f;h. jeder Knoten hat drei Kinder, so mu&#x0308;sste jeder gespalten werden,
sodass nun alle Knoten zwei Kinder haben. Wird nun wieder ein Knoten gelo&#x0308;scht, so mu&#x0308;ssten wieder alle Kinder verschmolzen werden und die Ausgangssituation wa&#x0308;re wiederhergestellt. Der
Zeitaufwand von (2, 3)-Ba&#x0308;umen ist also gro&#x0308;ßer (analog zum Bina&#x0308;rza&#x0308;hler).
</p>
<p>
<b>Laufzeit</b>: Jede beliebige Sequenz aus Einfu&#x0308;gen und Lo&#x0308;schen beno&#x0308;tigt in einem (2, 4)-Baum amortisiert \(\O (1)\) Operationen.
</p>
<p>
<b>Beweis</b>: ? &#x2003;&#x2003;
</p>
<p>
<b>Potential</b>: Das Potential eines (2, 4)-Baums \(T\) mit maximal einem Knoten vom Grad 1 oder 5 ist \(\pot (T) = (2 \cdot \#1) + (1 \cdot \#2) + (0 \cdot \#3) + (2 \cdot \#4) + (4
\cdot \#5)\), wobei \(\#i\) die Anzahl der Knoten vom Grad \(i\) bedeutet.
</p>


<h2 id="anwendungen-von-2-4-baeumen">Anwendungen von (2, 4)-Bäumen</h2>

</p>

<p>
<b>Sortieren „leicht“ vorsortierter Folgen</b>:<br />
Gegeben sei eine Folge \(x_1, \dotsc , x_n\). Die Anzahl der Inversionen (Fehlsta&#x0308;nde) ist dann<br />
\(F = \Big |\big \{(i, j) \;|\; i &lt; j,\; x_i &gt; x_j\big \}\Big |\), es gilt \(0 \le F \le \binom {n}{2}\).
</p>
<p>
<b>Behauptung</b>: Man kann mit (2, 4)-Ba&#x0308;umen in Zeit \(\O (n \max \{1, \log \frac {F}{n}\})\) sortieren.<br />
Ist \(F = n\) bzw. \(F = n^2\), so kann man in \(\O (n)\) bzw. \(\O (n \log n)\) sortieren.
</p>
<p>
<b>Beweis</b>: Man sortiert durch Einfu&#x0308;gen in einen (2, 4)-Baum. Angenommen, \(x_1, \dotsc , x_i\) sind schon sortiert eingefu&#x0308;gt und \(x_{i+1}\) soll nun eingefu&#x0308;gt werden. Der
Abstand von rechts zur eigentlich richtigen Position von \(x_{i+1}\) ist \(f_{i+1} = |\{j \;|\; j &lt; i + 1,\; x_j &gt; x_{i+1}\}|\), wobei \(\sum _i f_i = F\) ist.
</p>
<p>
\(x_{i+1}\) kann nun in amortisierter Zeit \(\O (1 + \max \{1, \log f_{i+1}\})\) eingefu&#x0308;gt werden:<br />
Man la&#x0308;uft vom rechten Blatt (am weitesten rechts) bis ein Knoten \(v\) erreicht wird mit \(x_{i+1} &gt;\) gro&#x0308;ßter Schlu&#x0308;ssel \(k\) in \(v\). Dafu&#x0308;r wird \(\O (1 + h)\) Zeit
beno&#x0308;tigt, wenn \(h\) die Ho&#x0308;he von \(v\) von unten gesehen ist. Ist \(v’\) das rechte Kind von \(v\) und \(k’\) der gro&#x0308;ßte Schlu&#x0308;ssel von \(v’\), so ist \(k &lt; x_{i+1} &lt; k’\)
und \(x_{i+1}\) wird in einem Kind von \(v’\) eingefu&#x0308;gt, aber nicht im rechten Knoten \(v”\) von \(v’\).<br />
Daher gilt \(f_{i+1} \ge \text {Anzahl Bl&quot;atter unterhalb von } v” \ge 2^{h-2}\), weil \(v”\) Ho&#x0308;he \(h - 2\) hat (Bla&#x0308;tter Ho&#x0308;he \(0\)). Es folgt \(h \le 2 +
\log f_{i+1}\). Die Einfu&#x0308;gung selbst (ohne Lokalisation) hat amortisierte Kosten \(\O (1)\). Daher kann \(x_{i+1}\) in \(\O (1 + \max \{1, \log f_{i+1}\})\) eingefu&#x0308;gt werden.
</p>
<p>
Damit ist die Gesamtlaufzeit \(\O (\sum _i (1 + \max \{1, \log f_i\})) = \O (n + \sum _i \max \{1, \log f_i\}) \\ = \O (n + \sum _i (1 + \log f_i)) = \O (n + \sum _i
\log f_i) = \O (n + n \log \frac {F}{n}) = \O (n \max \{1, \log \frac {F}{n}\})\).<br />
Die vorletzte Gleichheit erha&#x0308;lt man mit \((\prod _i f_i)^{1/n} \le \frac {\sum _i f_i}{n} \quad |\log \)<br />
(geometrisches Mittel ist kleiner/gleich arithmetisches Mittel). &#x2003;&#x2003;
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Fingersuche</b> (ein Finger ist ein Zeiger auf ein Blatt):
</p>
<p>
<b>Lemma</b>: In niveau-verbundenen (2, 4)-Ba&#x0308;umen kann man Fingersuche in \(\O (\log \min \{d, n - d\})\) durchfu&#x0308;hren, wobei \(d\) der Abstand des Fingers zum Ziel der Suche ist.<br />
Niveau-verbunden heißt, dass die Kanten jeder Ebene in einer zirkula&#x0308;ren Liste stehen, d.&#x202f;h. zu jedem Knoten ist der linke und rechte Nachbar bekannt (auch wenn Vaterknoten anders ist) und zu einem Knoten ganz
rechts ist der rechte Nachbar der Knoten der Ebene ganz links.
</p>
<p>
Suche von \(x\) von einem Finger aus: Laufe von dem Finger in Richtung Wurzel, bis ein Knoten \(v\) erreicht wird, sodass \(x\) unterhalb dem \(v\), dem linken Nachbar oder dem rechten Nachbar von \(v\) liegt. Dann dreht
man um und sucht ganz normal.<br />
Die Laufzeit ist \(\O (\text {H&quot;ohe des erreichten Knotens})\), diese ist \(\log (\min \{1 + d, n - d + 1\})\).
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>schnelles Mischen und Sortieren durch Mischen</b>:<br />
Gegeben seien sortierte Folgen \(S_1, S_2, \dotsc \) als (2, 4)-Ba&#x0308;ume.<br />
Ziel: Mische \(S_1\) und \(S_2\) zu \(S\) in einen (2, 4)-Baum, wobei \(|S_1| = n\) und \(|S_2| = m\) mit \(m \le n\) ist.
</p>
<p>
<b>naiv</b>: Fu&#x0308;ge \(S_2\) nacheinander in \(S_1\) ein. Die Laufzeit dafu&#x0308;r ist \(\O (m \cdot \log (m + n))\), dies ist schlecht fu&#x0308;r \(m \approx n\) (gut fu&#x0308;r \(m \ll n\)).
</p>
<p>
<b>Satz</b>: Man kann \(S_1\) und \(S_2\) in Zeit \(\O (m \cdot \log \frac {m + n}{m}) = \O (\log \binom {m + n}{m})\) zu einem (2, 4)-Baum mischen, der \(S_1\) und \(S_2\)
entha&#x0308;lt.
</p>
<pre class="programlisting">
finger := "linkestes" Blatt in S_1
i := 1
while i &lt;= m do
   suche nach x_i von finger aus
   fuege x_i ein
   finger := Zeiger auf neues Blatt
   i++
od
</pre>




<h2 id="alternativen-fuer-2-4-baeume">Alternativen für (2, 4)-Bäume</h2>
<b>Rot-Schwarz-Ba&#x0308;ume</b>, <b>AVL-Ba&#x0308;ume</b> und <b>Skip Lists</b> ko&#x0308;nnen immer dann benutzt werden, wenn Elemente mit einer Ordnung verwaltet werden sollen. Sie
ermo&#x0308;glichen das Suchen, Einfu&#x0308;gen und Lo&#x0308;schen in logarithmischer Zeit.
</p>
<p>
Manchmal kann <b>Hashing</b> jedoch effizienter sein, denn so ist Suchen, Einfu&#x0308;gen und Lo&#x0308;schen in \(\O (1)\) mo&#x0308;glich. Dies geht aber nur, wenn die zuverwaltende Menge aus ganzen Zahlen
besteht. Außerdem ko&#x0308;nnen keine Anfragen der Art „gro&#x0308;ßtes Element kleiner \(10\)“ beantwortet werden.
</p>


<h2 id="einschub-amortisierte-analyse">Einschub: Amortisierte Analyse</h2>

</p>

<p>
<b>Sinn und Zweck</b>: Man mo&#x0308;chte zeigen, dass nicht alle Operationen auf einer bestimmten Datenstruktur teuer sind, d.&#x202f;h. im Durchschnitt sind die Operationen billig, auch wenn eine einzelne Operation
teuer sein kann.
</p>
<p>
<b>Intuition</b>: Mit jeder Operation auf der Datenstruktur wird eine konstante Zahl von Euros einbezahlt, die fu&#x0308;r den tatsa&#x0308;chlichen Aufwand einer Operation bezahlt werden mu&#x0308;ssen, dessen Rest
aber bei billigen Operationen angespart werden kann, um teurere Operationen zu bezahlen.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Beispiel 1: Inkrementierung im Bina&#x0308;rregister</b><br />
Hier entspricht der Aufwand der Anzahl der U&#x0308;bertra&#x0308;ge. Im schlimmsten Fall mu&#x0308;ssen \(\log _2 n\) U&#x0308;bertra&#x0308;ge gemacht werden (\(n\) gro&#x0308;ßte speicherbare Zahl).<br
/>
Man kann zeigen: Wenn man bei Null anfa&#x0308;ngt und bei jeder Inkrementierung immer \(1\) Euro einbezahlen, so hat die Datenstruktur immer genu&#x0308;gend Geld, um die U&#x0308;bertra&#x0308;ge zu bezahlen
(ein U&#x0308;bertrag kostet \(1\) Euro).
</p>
<p>
Hier kommt die <b>Potentialfunktion</b> ins Spiel: Sie ist eine untere Schranke fu&#x0308;r den Kontostand und entspricht hier der Anzahl Einsen in der aktuellen Zahl (dies mu&#x0308;sste man zeigen).
</p>
<p>
Nach \(i\) Inkrementierungen hat man \(i\) Euro eingezahlt, der Kontostand ist nicht-negativ, d.&#x202f;h. man hat nicht mehr als \(i\) Euro fu&#x0308;r U&#x0308;bertra&#x0308;ge ausgegeben. Im Durchschnitt/amortisiert
wurden also \(\le 1\) U&#x0308;bertra&#x0308;ge gemacht.
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Beispiel 2: Konstruktion eines Heaps in \(\O (n)\) Zeit</b>
</p>
<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<p>
<b>Beispiel 3: Spalten und Vertauschen in (2, 4)-Ba&#x0308;umen</b><br />
(Stehlen ist uninteressant, da nicht propagierend.)
</p>
<p>
Die Potentialfunktion (untere Schranke fu&#x0308;r Kontostand) ist hier<br />
\(\phi = 2 \cdot \#1 + 1 \cdot \#2 + 0 \cdot \#3 + 2 \cdot \#4 + 4 \cdot \#5\).
</p>
<p>
Pro Einfu&#x0308;gen und Lo&#x0308;schen werden \(5\) Euro auf das Konto des (2, 4)-Baums bezahlt, die gespart werden ko&#x0308;nnen, aber auch fu&#x0308;r Spalt-/Verschmelzoperationen ausgegeben werden
mu&#x0308;ssen. Behauptung: Der (2, 4)-Baum hat immer genu&#x0308;gend Geld, um Spalten/Verschmelzen zu bezahlen.
</p>
<p>
Hat man dies gezeigt, so hat man, wenn man mit einem leeren Baum anfa&#x0308;ngt, nach \(i\) Operationen einen Kontostand von ho&#x0308;chstens \(5i\) Euro. Weil der Kontostand nicht-negativ ist, ist der Aufwand
fu&#x0308;r Spalten und Verschmelzen \(\le 5i\).
</p>
<p>
<b>Beweis</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f12"><p>Durch das bloße Einfu&#x0308;gen bzw. Lo&#x0308;schen eines Blattes erho&#x0308;ht sich das Potential um maximal \(2\) bzw. \(1\). Also ist \(\phi \) weiterhin eine gu&#x0308;ltige untere Schranke (\(5\) Euro wurden
eingezahlt).
</p>
</li>
<li class="list-item-f13"><p>Beim Spalten eines Knotens mit \(5\) Kindern erho&#x0308;ht sich das Potential des Vaterknotens um max. \(2\), aus dem Kind mit Potential \(4\) entstehen zwei Kinder mit Potential \(1\) und \(0\). Also nimmt das Potential
des Baums um mindestens \(1\) ab. Mit diesem Euro kann die Operation bezahlt werden und \(\phi \) bleibt untere Schranke fu&#x0308;r den Kontostand.
</p>
</li>
<li class="list-item-f14"><p>Beim Verschmelzen zweier Knoten mit \(1\) Kind und \(2\) Kindern erho&#x0308;ht sich das Potential des Vaterknotens um max. \(1\), das Potential der Kinder \(2\) und \(1\) a&#x0308;ndert sich zu \(0\), da ein Knoten mit
drei Kindern entsteht. Also nimmt das Potential um mindestens \(2\) ab. Die Operation kann bezahlt werden und \(\phi \) bleibt untere Schranke fu&#x0308;r den Kontostand.
</p>
</li>
<li class="list-item-f15"><p>Beim Stehlen sind zwei Knoten mit \(1\) bzw. \(3\) oder \(4\) Kinder vorhanden. Deren Potential a&#x0308;ndert sich von \(2\) bzw. \(0\) oder \(2\) zu \(1\) bzw. \(1\) oder \(0\). Sonst vera&#x0308;ndert sich kein
Knoten, daher auch nicht das Potential. Also nimmt bleibt das Potential gleich oder sinkt um \(3\). \(\phi \) ist weiterhin untere Schranke fu&#x0308;r Kontostand, denn es muss beim Stehlen nichts bezahlt werden.
</p>
</li>
</ul>
<p>
Also bleibt \(\phi \) durchga&#x0308;ngig untere Schranke fu&#x0308;r den Kontostand.<br />
Beim Verschmelzen/Spalten ist immer Geld vorhanden, um die Operation zu bezahlen. &#x2003;&#x2003;
</p>

{% endraw %}
</div>
{:/nomarkdown}
