
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\renewcommand {\Re }{\text {Re}}\)

\(\renewcommand {\Im }{\text {Im}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f26::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f27::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f28::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f29::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f30::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f31::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f32::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f33::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f34::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f35::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f36::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f37::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f38::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f39::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f40::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f41::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f42::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f43::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f44::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f45::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f46::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f47::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f48::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f49::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f50::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f51::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f52::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f53::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f54::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="modelle-und-simulationen">Modelle und Simulationen</h2>

</p>


<p>
<b>wissenschaftlicher Erkenntniserwerb</b>: Die zwei klassischen Sa&#x0308;ulen des Erkenntniserwerbs sind Theorie (analytische Berechnungen, Gedankenexperimente) und Experiment (zur Verfikation der Theorie/wo keine
Theorie vorhanden). Allerdings versagen beide Methoden oft, denn die Theorie lo&#x0308;st meist nur einfache Szenarien explizit und Experimente ko&#x0308;nnen unmo&#x0308;glich, gefa&#x0308;hrlich,
unerwu&#x0308;nscht oder zu teuer sein. Daher hat sich als 3. Sa&#x0308;ule die Simulation etabliert.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Modell</b>: Ein <em><span class="dashuline" >Modell</span></em> ist ein vereinfachendes Abbild einer partiellen Realita&#x0308;t.<br />
Man unterscheidet zwischen <em><span class="dashuline" >konkreten</span></em> (Modellbau, Windkanal usw.) und <em><span class="dashuline" >abstrakten</span></em> (formale, mathematische Beschreibung)
Modellen.
</p>

<p>
<b>mathematische Modellierung</b>: Die Herleitung/Analyse eines math. Modells ist eine Formalisierung/Mathematisierung des Problems durch zur besseren Lo&#x0308;sbarkeit.
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>informale Bescheibung des Problems in Prosaform
</p>
</li>
<li class="list-item-f1"><p>semiformale Beschreibung mit dem Instrumentarium der Anwendungswissenschaft
</p>
</li>
<li class="list-item-f2"><p>streng formale, konsistente Beschreibung
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Simulation</b>: Eine <em><span class="dashuline" >Simulation</span></em> ist ein virtuelles (i.&#x202f;A. rechnergestu&#x0308;tztes) Experiment am Modell. Die Simulation ist das eigentliche Ziel der Modellierung.
</p>

<p>
<b>Modellbildung in versch. Wissenschaften</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p><em>exakte Naturwissenschaften</em>: lange Tradition, z.&#x202f;B. Physik, Modellbildung i.&#x202f;A. anerkannt
</p>
</li>
<li class="list-item-f4"><p><em>staatliche Wirtschaftspolitik</em>: stark umstritten, verschiedene Lager erstellen „ihre“ Modelle
</p>
</li>
<li class="list-item-f5"><p><em>Klimapolitik</em>: stark voneinander abweichende Theorien zu Ozonloch/globaler Erwa&#x0308;rmung
</p>
</li>
<li class="list-item-f6"><p><em>Spieltheorie</em>: von Neumanns Min-Max-Prinzip kaum realistisch fu&#x0308;r Zocker
</p>
</li>
</ul>

<p>
<b>Ziele von Simulation</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f7"><p><em>besseres Versta&#x0308;ndnis</em> (Erdbeben, Einsturz des WTC an 9/11)
</p>
</li>
<li class="list-item-f8"><p><em>Optimierung</em> (Flugeinsatzplan, Wa&#x0308;rmeabtransport, Rechensystem-Durchsatz)
</p>
</li>
<li class="list-item-f9"><p><em>Vorhersage</em> (Klimavera&#x0308;nderungen, Wetter, Bevo&#x0308;lkerungswachstum)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Simulationspipeline</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f10"><p><em>Modellierung</em>: vereinfachende formale Beschreibung eines geeigneten Ausschnitts
</p>
</li>
<li class="list-item-f11"><p><em>Berechnung/Simulation im engeren Sinn</em>: geeignete Aufbereitung des Modells
</p>
</li>
<li class="list-item-f12"><p><em>Implementierung</em>: effiziente Umsetzung der Berechnungsalgorithmen
</p>
</li>
<li class="list-item-f13"><p><em>Visualierung/Datenexploration</em>: Interpretation der Ergebnisse eines Simulationslaufs
</p>
</li>
<li class="list-item-f14"><p><em>Validierung</em>: Abgleich von Simulationergebnissen z.&#x202f;B. mit Experimenten
</p>
</li>
<li class="list-item-f15"><p><em>Einbettung</em>: Integration in Simulationskontext
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Anwendungen</b>: Physik, Chemie, Biologie, Materialwissenschaften, Klima/Wetter, Automobilindustrie, Nationalo&#x0308;konomie, Finanzwirtschaft, Halbleiterindustrie, Computergrafik, Logistik/Ablaufplanung,
Verkehrstheorie, Strategie, Wahl-/Meinungsforschung, Codierungstheorie
</p>



<h2 id="herleitung-von-modellen">Herleitung von Modellen</h2>

</p>


<p>
<b>Fragen</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f16"><p><em>Was genau soll modelliert werden?</em> (Wirkungsgrad eines Katalysators oder die detaillierten Reaktionsvorga&#x0308;nge, Bevo&#x0308;lkerungswachstum in Afrika oder nur in Kairo, Durchsatz durch ein Rechnernetz
oder die mittlere Durchlaufzeit eines Pakets)
</p>
</li>
<li class="list-item-f17"><p><em>Welche Gro&#x0308;ßen spielen eine Rolle (qualitativ) und wie groß ist ihr Einfluss (quantitativ)?</em> (Raumschiff-Flugbahn: Gravitation von Mond, Pluto, Dow Jones morgen: A&#x0308;ußerungen von Bernanke, uns)
</p>
</li>
<li class="list-item-f18"><p><em>In welcher Beziehung stehen die Gro&#x0308;ßen zueinander?</em> (qualitativ, quantitativ)
</p>
</li>
<li class="list-item-f19"><p><em>Mit welchem Instrumentarium lassen sich die Abha&#x0308;ngigkeiten beschreiben?</em>
</p>
</li>
</ul>

<p>
Fru&#x0308;he Festlegungen bestimmen dabei spa&#x0308;tere Simulationsergebnisse!
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Instrumentarien zur Beschreibung von Beziehungen</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f20"><p><em>algebraische Gleichungen und Ungleichungen</em>: \(E = mc^2\), \(w^\tp x \le 10\)
</p>
</li>
<li class="list-item-f21"><p><em>Systeme gewo&#x0308;hnlicher Diferentialgleichungen</em>: \(\ddot {y} + y = 0\) (Oszillation eines linearen Pendels), \(\dot {y} = y\) (exponentielles Wachstum), \(\dot {x} = -mx + ay + c\), \(\dot {y} = bx -
ny + d\) mit \(a, b, c, d, m, n \ge 0\) (Wettru&#x0308;sten zweier Großma&#x0308;chte)
</p>
</li>
<li class="list-item-f22"><p><em>Systeme partieller Diferentialgleichungen</em>: \(u_xx + u_yy = f\) fu&#x0308;r \((x, y) \in \Omega \), \(u = 0\) fu&#x0308;r \((x, y) \in \partial \Omega \) (Verformung einer am Rand eingespanntne
Membran unter Last \(f\))
</p>
</li>
<li class="list-item-f23"><p><em>Automaten/Zustandsu&#x0308;bergangsdiagramme</em>:<br />
Warteschlangen, Texterkennung, Wachstumsprozesse mit zellula&#x0308;ren Automaten
</p>
</li>
<li class="list-item-f24"><p><em>Graphen</em>: Rundreisen (TSP), Reihenfolgeprobleme, Rechensysteme, Abla&#x0308;ufe
</p>
</li>
<li class="list-item-f25"><p><em>Wahrscheinlichkeitsverteilungen</em>: Ankunft in Warteschlange, Zustimmung zur Politik in Abh. von Arbeitslosenquote, Kontrolltheorie (Sto&#x0308;rungen), randomisierte Heuristiken
</p>
</li>
<li class="list-item-f26"><p><em>Fuzzy Logic</em>: Regelungen von Wasch-/Spu&#x0308;lmaschinen, Fotoapparate
</p>
</li>
<li class="list-item-f27"><p><em>neuronale Netze</em>
</p>
</li>
<li class="list-item-f28"><p><em>Sprachkonzepte</em>: UML
</p>
</li>
<li class="list-item-f29"><p><em>algebraische Strukturen</em>: Gruppen in der Quantenmechanik, endliche Ko&#x0308;rper (Kryptologie)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Simulationsaufgabe</b>: Welche Gestalt hat die resultierende Aufgabenstellung?
</p>
<ul style="list-style-type:none">

<li class="list-item-f30"><p><em>Finde eine Lo&#x0308;sung des LGS</em> (gu&#x0308;ltige Startlo&#x0308;sung fu&#x0308;r lineare Optimierung).
</p>
</li>
<li class="list-item-f31"><p><em>Finde die Lo&#x0308;sung des LGS</em> (eindeutig lo&#x0308;sbare PDE).
</p>
</li>
<li class="list-item-f32"><p><em>Gibt es eine Lo&#x0308;sung</em> (Hamilton-Weg im Graphen)?
</p>
</li>
<li class="list-item-f33"><p><em>Lo&#x0308;se eine unbeschra&#x0308;nkte Extremalaufgabe</em> (ku&#x0308;rzester Weg Quelle – Senke).
</p>
</li>
<li class="list-item-f34"><p><em>Lo&#x0308;se eine beschra&#x0308;nkte Extramalaufgabe</em> (Rucksackproblem, lineare Optimierung).
</p>
</li>
<li class="list-item-f35"><p><em>Ermittle den Sto&#x0308;renfried bzw. den Flaschenhals</em> (Komponente maximaler Auslastung).
</p>
</li>
</ul>



<h2 id="analyse">Analyse</h2>
<b>Beispiele zu Aussagen zur Handhab- und Lo&#x0308;sbarkeit</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f36"><p><em>Existenz von Lo&#x0308;sungen</em>: Populationsdynamik (Gibt es einen stationa&#x0308;ren Grenzzustand, wenn ja, wird dieser erreicht?), Reihenfolgeproblem (Ist der Pra&#x0308;zedenzgraph zyklenfrei?), Minimierung
(Gibt es Minima oder nur Sattelpunkte?)
</p>
</li>
<li class="list-item-f37"><p><em>Eindeutigkeit von Lo&#x0308;sungen</em>: Minimierung (Lokales oder globales Minimierung?), Molekulardynamik (Stabile Zusta&#x0308;nde oder Oszillationen zwischen verschiedenen Lo&#x0308;sungen?), alle
Lo&#x0308;sungen gleichwertig?
</p>
</li>
<li class="list-item-f38"><p><em>stetige Abha&#x0308;ngigkeit der Resultate von den Eingabedaten</em> (Eingabe entha&#x0308;lt Anfangs- und Randwerte, Startzusta&#x0308;nde usw., entspricht Kondition/Sensitivita&#x0308;t)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>sachgema&#x0308;ß gestellt</b>: Ein Problem heißt <em><span class="dashuline" >sachgema&#x0308;ß gestellt</span></em>, wenn es stets eine eindeutige Lo&#x0308;sung gibt und diese stetig von den Eingabedaten
abha&#x0308;ngt. Die meisten Probleme sind allerdings unsachgema&#x0308;ß gestellt.
</p>

<p>
<b>inverses Problem</b>: Bei einem <em><span class="dashuline" >inversen Problem</span></em> ist ein Ergebnis vorgegeben, gesucht ist die Anfangseinstellung (z.&#x202f;B. Wirtschaftspolitik, Technik, Rechnernetz).
Strategien zur Lo&#x0308;sung umfassen sinnvolles Ausprobieren und Anpassen (Folge von Vorwa&#x0308;rtsproblemen) und die Lo&#x0308;sung eines verwandten, regularisierten Problems, das sachgema&#x0308;ß gestellt ist.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Eignung fu&#x0308;r weitere Verarbeitung</b>: Ist das Modell fu&#x0308;r automatisierte Lo&#x0308;sung geeignet?
</p>
<ul style="list-style-type:none">

<li class="list-item-f39"><p><em>Verfu&#x0308;gbarkeit/Genauigkeit der Eingabedaten</em>
</p>
</li>
<li class="list-item-f40"><p><em>Implementierungsaufwand</em>: Verfu&#x0308;gbarkeit notwendiger Software
</p>
</li>
<li class="list-item-f41"><p><em>erforderlicher Rechen-/Speicheraufwand absolut</em>: NP-vollsta&#x0308;ndige Probleme, Wetter
</p>
</li>
<li class="list-item-f42"><p><em>erforderlicher Rechen-/Speicheraufwand relativ</em>: Ist das Modell kompetitiv?
</p>
</li>
<li class="list-item-f43"><p><em>Empfindlichkeit</em>
</p>
</li>
</ul>



<h2 id="loesungsmoeglichkeiten">Lösungsmöglichkeiten</h2>
<b>analytisch</b>: Bei einer <em><span class="dashuline" >analytischen Lo&#x0308;sung</span></em> erfolgen Existenz- und Eindeutigkeitsbeweis sowie Konstruktion direkt. Dies ist das Bestmo&#x0308;gliche, denn es muss
nichts vereinfacht/approximiert werden, allerdings geht das allermeistens nur in einfachen Spezialfa&#x0308;llen.
</p>

<p>
<b>heuristisch</b>: Bei einer <em><span class="dashuline" >heuristischen Lo&#x0308;sung</span></em> fu&#x0308;hrt man Versuch-und-Irrtum gema&#x0308;ß einer bestimmen Strategie durch, um die optimale
Lo&#x0308;sung durch eine gute Lo&#x0308;sung anzuna&#x0308;hern. Das ist vor allem bei Problem der diskreten Optimierung nu&#x0308;tzlich. Die Frage ist jedoch, ob die heuristisch gefundene Lo&#x0308;sung gegen die
Optimallo&#x0308;sung konvergiert und wenn ja, wie schnell.
</p>

<p>
<b>direkt-numerisch</b>: Bei einer <em><span class="dashuline" >direkt-numerischen Lo&#x0308;sung</span></em> liefert ein numerischer Algorithmus eine exakte Lo&#x0308;sung (mit Rundungsfehler). Der Vorteil
gegenu&#x0308;ber Heuristiken ist, dass die Lo&#x0308;sung in jedem Fall erreicht wird (z.&#x202f;B. Simplex-Algorithmus).
</p>

<p>
<b>approximativ-numerisch</b>: Bei einer <em><span class="dashuline" >approximativ-numerischen Lo&#x0308;sung</span></em> fu&#x0308;hrt man ein iteratives Na&#x0308;herungsverfahren fu&#x0308;r
gena&#x0308;herte Gleichungen durch. Hier ist das Erreichen einer beliebig genauen Approximation sichergestellt. Allerdings ist die Frage, wie schnell das Verfahren konvergiert (z.&#x202f;B. CG-Verfahren fu&#x0308;r
LGS-Lo&#x0308;sungen und Newton-Verfahren fu&#x0308;r Nullstellen).
</p>



<h2 id="bewertung">Bewertung</h2>

</p>


<p>
<b>Validierung</b>: Stimmt das Modell?
</p>
<ul style="list-style-type:none">

<li class="list-item-f44"><p><em>Vergleich mit Experimenten</em>: Windkanal, Laborexperimente an verkleinerten Prototypen
</p>
</li>
<li class="list-item-f45"><p><em>A-posteriori-Beobachtungen</em>: Realita&#x0308;tstest (Wetter, Bo&#x0308;rse), Zufriedenheitstest (Verkehr)
</p>
</li>
<li class="list-item-f46"><p><em>Plausibilita&#x0308;tstest</em>: Test der Ergebnisse auf Konsistenz zu bestehenden Theorien
</p>
</li>
<li class="list-item-f47"><p><em>Modellvergleich</em>: Vergleich mit auf anderen Modellen basierenden Simulationen
</p>
</li>
</ul>

<p>
<b>Genauigkeit</b>: Wie pra&#x0308;zise ist das Modell?
</p>
<ul style="list-style-type:none">

<li class="list-item-f48"><p><em>bzgl. der Qualita&#x0308;t der Eingabedaten</em>
</p>
</li>
<li class="list-item-f49"><p><em>bzgl. der Fragestellung</em> (z.&#x202f;B. Bundestagswahl und 5-%-Hu&#x0308;rde)
</p>
</li>
<li class="list-item-f50"><p><em>Sicherheit</em> (Aussagen zu Worst-Case oder Average-Case?)
</p>
</li>
</ul>



<h2 id="klassifikation-von-modellen">Klassifikation von Modellen</h2>
<b>diskret vs. kontinuierlich</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f51"><p><em>diskret</em>: diskrete/kombinatorische Beschreibung (bina&#x0308;re/ganzzahlige Gro&#x0308;ßen, Graphen)
</p>
</li>
<li class="list-item-f52"><p><em>kontinuierlich</em>: kontinuerliche/reellwertige Beschreibung (reelle Zahlen, physikalische Gro&#x0308;ßen, algebraische Gleichungen, DGLs)
</p>
</li>
</ul>

<p>
Dasselbe Pha&#x0308;nomen kann aber sowohl diskret als auch kontinuierlich modelliert werden (z.&#x202f;B. Verkehrsfluss in der Stadt).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>deterministisch vs. stochastisch</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f53"><p><em>deterministisch</em> (z.&#x202f;B. Crash-Test)
</p>
</li>
<li class="list-item-f54"><p><em>stochastisch</em> (z.&#x202f;B. Wu&#x0308;rfeln)
</p>
</li>
</ul>

<p>
Auch hier kann das Pha&#x0308;nomen sowohl deterministisch als auch stochastisch modelliert werden. Beispiele sind die Wettervorhersage und die Internet-Paketankunft an einer Bedieneinheit.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Betrachtungsebene/Hierarchie</b>: Selten gibt es „ein korrektes Modell“. Meistens gibt es eine Modellhierarchie (Wechselspiel aus Aufwand und Genauigkeit), die man durch schrittweise Verfeinerung des Modells
durchla&#x0308;uft. Welche Auflo&#x0308;sung gewa&#x0308;hlt werden soll, ha&#x0308;ngt vom gewu&#x0308;nschten Resultat und dem erforderlichen Lo&#x0308;sungsaufwand ab. Beispiele beinhalten die
Stro&#x0308;mung durch einen Zylinder (1D/2D/3D?) und die Populationsdynamik (in den USA rein zeitabha&#x0308;ngig als \(p(t)\) oder Ost-West-Siederstrom als \(p(x, t)\)?).
</p>

<p>
<b>Multiskaleneigenschaft</b>: Die auftretenden Skalen ko&#x0308;nnen meist nicht ohne einen inakzeptablen Genauigkeitsverlust getrennt werden. Ein Beispiel sind turbulente Stro&#x0308;mungen: Hier mu&#x0308;ssten
(abha&#x0308;ngig von der Viskosita&#x0308;t des Fluids) auch in einem großen Gebiet kleinste Wirbel mitberechnet werden, weil die sich zu gro&#x0308;ßeren Verwirbelungen beitragen ko&#x0308;nnen. Abhilfe schaffen
Turbulenzmodelle, die feinskalige Einflu&#x0308;sse in grobe Parameter packen und eine Mittelung bzgl. Raum und Zeit durchfu&#x0308;hren.
</p>

{% endraw %}
</div>
{:/nomarkdown}
