
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\renewcommand {\Re }{\text {Re}}\)

\(\renewcommand {\Im }{\text {Im}}\)

\(\newcommand {\iu }{\text {i}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  content:'•\00a0\00a0';
}
</style>
<p>

</p>


<p>
Im Folgenden geht es um <em><span class="dashuline" >Scheduling</span></em>, d.&#x202f;h. die mo&#x0308;glichst optimale Zuordnung von Ressourcen (Personal, Zeit, Auftra&#x0308;ge, Maschinen usw.) zu Aufgaben mit
Abha&#x0308;ngigkeiten (Reihenfolge, begrenzte Ressourcen usw.). Beispiele sind Projektplanung, Stundenplanerstellung und die Produktion in einer Fabrik.
</p>
<h2 id="prozess-scheduling">Prozess-Scheduling</h2>

</p>


<p>
<b>erstes Modell</b>: Ein <em><span class="dashuline" >Prozess</span></em> bestehe aus \(n\) <em><span class="dashuline" >Auftra&#x0308;gen</span></em> \(A_1, \dotsc , A_n\). Jeder Auftrag \(A_i\)
beno&#x0308;tigt eine (deterministische) Bearbeitungszeit \(t_i \ge 0\). Ein <em><span class="dashuline" >Zeitplan</span></em> ist eine Abb. \(\{A_1, \dotsc , A_n\} \to [0, \infty )^n\),<br />
\(A_i \mapsto s_i\), die jedem Auftrag \(A_i\) eine Startzeit \(s_i\) zuordnet. Ein Zeitplan definiert die <em><span class="dashuline" >Fertigstellungszeiten</span></em> \(c_i := s_i + t_i\) (die Auftra&#x0308;ge
werden also am Stu&#x0308;ck abgearbeitet). Die <em><span class="dashuline" >Kosten</span></em> eines Zeitplans sind gegeben durch \(\max _{i=1,\dotsc ,n} c_i\).
</p>

<p>
<b>Pra&#x0308;zendenzrelation</b>: Es sei eine <em><span class="dashuline" >Pra&#x0308;zendenzrelation</span></em> „\(\to \)“ gegeben, wobei \(A_i \to A_j\) bedeutet, dass \(A_j\) von \(A_i\) abha&#x0308;ngt.
Ein Zeitplan heißt <em><span class="dashuline" >zula&#x0308;ssig</span></em>, falls \(\forall _{i,j=1,\dotsc ,n}\; [A_i \to A_j \;\Rightarrow \; c_i \le s_j]\).
</p>

<p>
„\(\to \)“ kann durch die transitive Hu&#x0308;lle ersetzt werden, ohne dass sich die zula&#x0308;ssigen Zeitpla&#x0308;ne a&#x0308;ndern. Das Ziel ist es nun, einen zula&#x0308;ssigen Zeitplan mit minimalen Kosten zu
finden.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Scheduling-Problem als Graph</b>: Das Scheduling-Problem kann als Graph \(G := (V, E)\) modelliert werden mit Knoten \(V := \{A_S, A_1, \dotsc , A_n, A_E\}\) und Kanten \(E := \{(A_i, A_j) \;|\; A_i \to
A_j\}\)<br />
\(\cup \; \{(A_S, A_i) \;|\; \text {$A_i$ hat keine eingehende Kante}\} \cup \{(A_i, A_E) \;|\; \text {$A_i$ hat keine ausgehende Kante}\}\),<br />
wobei \(S := 0\), \(t_S := 0\), \(E := n+1\) und \(t_E := 0\).
</p>

<p>
<b>Pfad</b>: Ein <em><span class="dashuline" >Pfad</span></em> ist eine Folge von Auftra&#x0308;gen \(A_{i_1}, \dotsc , A_{i_k}\) mit \(A_{i_1} \to \dotsb \to A_{i_k}\). Die La&#x0308;nge des Pfades
\(A_{i_1} \to \dotsb \to A_{i_k}\) ist \(\sum _{j=1}^k t_{i_j}\). In jedem zula&#x0308;ssigen Zeitplan gilt \(c_{i_k} \ge s_{i_1} + \sum _{j=1}^k t_{i_j}\) fu&#x0308;r jeden Pfad \(A_{i_1} \to \dotsb \to
A_{i_k}\) (weil \(c_{i_k} = s_{i_k} + t_{i_k} \ge c_{i_{k-1}} + t_{i_k} \ge s_{i_1} + \sum _{j=1}^k t_{i_j}\)).
</p>

<p>
<b>Zyklen</b>: Ein <em><span class="dashuline" >Zyklus</span></em> ist ein Pfad \(A_{i_1} \to \dotsb \to A_{i_k} \to A_{i_1}\). In jedem zula&#x0308;ssigen Zeitplan gilt \(s_{i_1} \ge c_{i_k} \ge s_{i_1} +
\sum _{j=1}^k t_{i_j}\), also \(t_{i_1} = \dotsb = t_{i_k} = 0\). OBdA kann man also annehmen, dass der Graph zyklenfrei ist. Er ist dann ein DAG (gerichteter azyklischer Graph).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Konstruktion eines opt. Zeitplans fu&#x0308;r DAGs</b>: Ein optimaler Zeitplan kann fu&#x0308;r DAGS wie folgt konstruiert werden. Seien \(s_i’\) die <em><span class="dashuline" >Vorlaufzeit</span></em>
(fru&#x0308;hest mo&#x0308;glicher Startpunkt) und \(c_i’ := s_i’ + t_i\) die <em><span class="dashuline" >Fertigstellungszeit</span></em> von \(A_i\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>Setze \(s_S’ := c_S’ := 0\).
</p>
</li>
<li class="list-item-f1"><p>Solange es noch unbearbeitete Knoten gibt, wiederhole Folgendes:
</p>
<ul style="list-style-type:none">

<li class="list-item-f2"><p>Wa&#x0308;hle einen unbearbeiteten Knoten \(A_i\), bei dem alle \(A_j\) mit \(A_j \to A_i\) bereits bearbeitet wurden (der Knoten existiert aufgrund der Zyklenfreiheit).
</p>
</li>
<li class="list-item-f3"><p>Setze \(s_i’ := \max \{c_j’ \;|\; A_j \to A_i\}\) und \(c_i’ := s_i’ + t_i\).
</p>
</li>
</ul>
</li>
</ul>

<p>
DAGs ko&#x0308;nnen per modifizierte Tiefensuche topologisch so sortiert werden, dass \(A_i \to A_j\) nur fu&#x0308;r \(i &lt; j\) gelten kann. In diesem Fall kann man die Knoten in der Reihenfolge \(1, \dotsc , n +
1\) bearbeiten.
</p>

<p>
<b>Eigenschaften des Zeitplans</b>: Kein Auftrag kann fru&#x0308;her gestartet werden (insb. \(A_E\)). Wenn man einen Auftrag \(A_i\) spa&#x0308;ter startet, kann das \(c_E’\) nicht verbessern.
</p>

<p>
<b>alternativ u&#x0308;ber Restlaufzeit</b>: Seien \(c_i’’\) die spa&#x0308;teste Fertigstellungszeit von \(A_i\), sodass die optimale Gesamtfertigstellungszeit \(c_E’\) erreicht wird, und \(s_i’’ := c_i’’ - t_i\) die
spa&#x0308;teste Startzeit. Dann ist \(c_E’ - s_i’’\) die <em><span class="dashuline" >Restlaufzeit</span></em> von Auftrag \(A_i\). Die Berechnung erfolgt analog zur Vorlaufzeit, außer dass man mit \(c_E’’ := s_E’’
:= c_E’\) startet und umgekehrt vorgeht.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>kritischer Knoten</b>: Ist \(s_i’ = s_i’’\), dann ist \(A_i\) ein <em><span class="dashuline" >kritischer Knoten</span></em> und es gilt \(s_i = s_i’ = s_i’’\) fu&#x0308;r jeden optimalen Zeitplan. Jeder kritische
Knoten liegt auf einem <em><span class="dashuline" >kritischem Pfad</span></em> von \(A_S\) nach \(A_E\), der nur aus kritischen Knoten besteht. Fu&#x0308;r jede Kante \(A_k \to A_\ell \) eines kritischen Pfades gilt
\(c_k’ = s_\ell ’’\).
</p>

<p>
<b>Schlupf</b>: Ist \(s_i’ &lt; s_i’’\), so heißt die Differenz \(s_i’’ - s_i’\) <em><span class="dashuline" >Schlupf</span></em> von \(A_i\). Fu&#x0308;r jeden optimalen Zeitplan gilt \(s_i \in [s_i’, s_i’’]\).
</p>

<p>
<b>Kritischer-Pfad-Methode</b>: Es gibt immer mindestens einen kritischen Pfad. Wenn es mehrere gibt, so haben sie dieselbe La&#x0308;nge. Die La&#x0308;nge eines kritischen Pfads ist eine untere Schranke fu&#x0308;r
\(c_E\) fu&#x0308;r jeden zula&#x0308;ssigen Zeitplan. Das Vorgehen heißt <em><span class="dashuline" >Kritischer-Pfad-Methode (CPM)</span></em>. Werkzeuge sind z.&#x202f;B. Gantt-Diagramme und
Netzpla&#x0308;ne. Die Optimierung von Auftra&#x0308;gen setzt u&#x0308;blicherweise beim kritischem Pfad an.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>
<div class="marginblock" style="width:199pt">



<div class="displaymath" >

<a id="autoid-1" ></a >

<p>
<span
    id="lateximage-modeling-and-simulation-1"
    class="lateximagesource"
><!--
                     /                  /
          <1
            [3]
                         <3
                           [2]
                                            4[3]
                                    "                 "
    [0]   /    [2]                              [2]       /      [0]
S             2                             5                 9E
          "
                         /
              6[4]           7[4]
--><img
   src="/class-notes/images/lectures/modeling-and-simulation/image-1.svg"
   alt="(4.1–4.0) \{begin}{align*} \xymatrix @R=3mm@C=6mm{ &amp; *=&lt;2em&gt;[Fo]{1^{[3]}}\ar [r]&amp; *=&lt;2em&gt;[Fo]{3^{[2]}}\ar [r]\ar [rd]&amp; *=&lt;2em&gt;[Fo]{4^{[3]}}\ar [rd] \\
*=&lt;2em&gt;[Fo]{S^{[0]}}\ar [ru]\ar [r]\ar [rd]&amp; *=&lt;2em&gt;[Fo]{2^{[2]}}\ar [ru]&amp;&amp; *=&lt;2em&gt;[Fo]{5^{[2]}}\ar [r]&amp; *=&lt;2em&gt;[Fo]{E^{[0]}}\\ &amp;
*=&lt;2em&gt;[Fo]{6^{[4]}}\ar [r]&amp; *=&lt;2em&gt;[Fo]{7^{[4]}}\ar @/_/[rru] } \{end}{align*} "
   style=""
   class="lateximage"
></span>
</p>
</div>
<table>

<tr class="tbrule">
<td class="tdp">

<p>
\(i\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(1\)
</p>
</td>
<td class="tdp">

<p>
\(2\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(6\)
</p>
</td>
<td class="tdp">

<p>
\(7\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(t_i\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(2\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(2\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(s_i’\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
\(c_i’\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(2\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
<td class="tdp">

<p>
\(7\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
</tr>


<tr class="hline" >
<td class="tdp">

<p>
\(s_i’’\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">
<p>
\(1\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(6\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
</tr>


<tr>
<td class="tdp">

<p>
\(c_i’’\)
</p>
</td>
<td class="tdp">

<p>
\(0\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(3\)
</p>
</td>
<td class="tdp">

<p>
\(5\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
<td class="tdp">

<p>
\(4\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
<td class="tdp">

<p>
\(8\)
</p>
</td>
</tr>


<tr class="tbrule">
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
<td class="tdp">

</td>
</tr>

</table>

</div>

<p>
<b>Beispiel</b>: Rechts sind die Bedingungen gegeben durch \(\{A_1 \to A_3, A_2 \to A_3, A_3 \to A_4, A_3 \to A_5, A_6 \to A_7\}\) und die Bearbeitungszeiten stehen in eckigen Klammern. In der Tabelle stehen die
Werte von \(s_i’, c_i’, s_i’’, c_i’’\), wenn man den Algorithmus oben anwendet. Wie man leicht sieht, gibt es hier zwei kritische Pfade, na&#x0308;mlich \(A_S \to A_1 \to A_3 \to A_4 \to A_E\), \(A_S \to A_6 \to
A_7 \to A_E\).
</p>



<h2 id="job-shop-probleme">Job-Shop-Probleme</h2>

</p>


<p>
Das Modell soll nun so erweitert werden, dass Ressourcen beschra&#x0308;nkt sind, d.&#x202f;h. es ko&#x0308;nnen nicht mehr beliebig viele Auftra&#x0308;ge parallel abgearbeitet werden.
</p>

<p>
<b>Job-Shop-Problem</b>: Es gibt \(n\) Auftra&#x0308;ge \(A_1, \dotsc , A_n\) und \(m\) Maschinen \(1, \dotsc , m\). Jeder Auftrag \(A_i\) zerfa&#x0308;llt nun in \(n_i\) Teilauftra&#x0308;ge \(A_{i,j}\), \(j = 1,
\dotsc , n_i\), wobei ein Teilauftrag \(A_{i,j}\) die Zeit \(t_{i,j}\) und die Maschine \(m_{i,j} \in \{1, \dotsc , m\}\) zur Bearbeitung beno&#x0308;tigt. Pro Maschine darf immer nur ein Teilauftrag gleichzeitig
bearbeitet werden. Zur Vereinfachung wird einschra&#x0308;nkend angenommen, dass fu&#x0308;r jeden Auftrag \(A_i\) jede Maschine nur von ho&#x0308;chstens einem Teilauftrag \(A_{i,j}\) beno&#x0308;tigt wird (also
\(m_{i,j} \not = m_{i,j’}\) fu&#x0308;r \(j \not = j’\)).
</p>

<p>
<b>Flow-Shop-Modell</b>: Bei einem <em><span class="dashuline" >Flow-Shop-Modell</span></em> werden die Maschinen von den Teilauftra&#x0308;gen in gleicher Reihenfolge beno&#x0308;tigt.
</p>

<p>
<b>Matrixnotation</b>: Mit \(A_i = \smallpmatrix {m_{i,1} &amp; \dots &amp; m_{i,n_i} \\ t_{i,1} &amp; \dots &amp; t_{i,n_i}}\) wird das Problem vollsta&#x0308;ndig beschrieben.
</p>

<p>
<b>Zeitplan</b>: Ein <em><span class="dashuline" >Zeitplan</span></em> ist eine Abbildung \(A_{i,j} \mapsto s_{i,j}\) fu&#x0308;r \(i = 1, \dotsc , n\), \(j = 1, \dotsc , n_i\), wobei \(s_{i,j} \ge 0\). Der
Zeitplan heißt <em><span class="dashuline" >zula&#x0308;ssig</span></em>, falls
</p>
<ul style="list-style-type:none">

<li class="list-item-f4"><p>kein Teilauftrag \(A_{i,j}\) gestartet wird, bevor der Vorga&#x0308;nger \(A_{i,j-1}\) beendet ist, und
</p>
</li>
<li class="list-item-f5"><p>zu keinem Zeitpunkt mehrere Teilauftra&#x0308;ge auf derselben Maschine angesetzt sind.
</p>
</li>
</ul>

<p>
Gesucht ist ein optimaler Zeitplan hinsichtlich der spa&#x0308;testen Fertigstellungszeit.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Pra&#x0308;zedenzgraph</b>: Um die Abha&#x0308;ngigkeiten in einem Graph zu modellieren, erstellt man wieder einen <em><span class="dashuline" >Pra&#x0308;zedenzgraphen</span></em>, wobei die
Teilauftra&#x0308;ge \(A_{i,j}\) zusammen mit \(A_S\) und \(A_E\) die Knoten sind.
</p>

<p>
<b>Konjunktivkanten</b>: Die Reihenfolge innerhalb von Auftra&#x0308;gen wird durch die <em><span class="dashuline" >Konjunktivkanten</span></em> \(A_{i,j-1} \to A_{i,j}\) fu&#x0308;r \(i = 1, \dotsc ,
n\), \(j = 2, \dotsc , n_i\) sowie \(A_S \to A_{i,1}\) und \(A_{i,n_i} \to A_E\) fu&#x0308;r \(i = 1, \dotsc , n\) modelliert.
</p>

<p>
<b>Disjunktivkanten</b>: Die Abha&#x0308;ngigkeiten mit den Maschinen modelliert man mit <em><span class="dashuline" >Disjunktivkanten</span></em>: Betrachte fu&#x0308;r \(k \in \{1, \dotsc , m\}\) die
Teilauftra&#x0308;ge \(M(k) := \{A_{i,j} \;|\; m_{i,j} = k\}\), die Maschine \(k\) beno&#x0308;tigen. Dann du&#x0308;rfen sich die Bearbeitungszeiten fu&#x0308;r Teilauftragspaare \(A_{i,j}, A_{i’,j’} \in
M(k)\) nicht u&#x0308;berlappen. Ein zula&#x0308;ssiger Zeitplan muss deswegen eine der beiden Pra&#x0308;zendenzkanten \(A_{i,j} \to A_{i’,j’}\) oder \(A_{i’,j’} \to A_{i,j}\) auswa&#x0308;hlen. Weil aber
nicht im Voraus bekannt ist, welche Kante am besten gewa&#x0308;hlt werden soll, fu&#x0308;gt man zuna&#x0308;chst beide Kanten als Disjunktivkanten ein und ein Optimierungsalgorithmus wa&#x0308;hlt dann eine Kante
aus.
</p>

<p>
<b>Disjunktivkanten-Belegung</b>: Eine <em><span class="dashuline" >Disjunktivkanten-Belegung (DKB)</span></em> ist eine Auswahl genau einer Kante aus jedem Paar von Disjunktivkanten. Sie heißt <em><span
class="dashuline" >zula&#x0308;ssig</span></em>, falls der entstehende Pra&#x0308;zedenzgraph zyklenfrei ist (muss nicht notwendigerweise gelten).
</p>

<p>
Wenn eine zula&#x0308;ssige DKB gegeben ist, dann kann ein optimaler Zeitplan mit der Kritischer-Pfad-Methode bestimmt werden. Es gibt immer eine zula&#x0308;ssige DKB, die folgendermaßen bestimmt werden kann:
</p>
<ul style="list-style-type:none">

<li class="list-item-f6"><p>Starte \(A_{i,j}\), wenn \(A_{i,j-1}\) beendet und \(m_{i,j}\) frei ist.
</p>
</li>
<li class="list-item-f7"><p>Kommen mehrere Teilauftra&#x0308;ge fu&#x0308;r eine Maschine in Frage, wa&#x0308;hle eine aus.
</p>
</li>
</ul>

<p>
Die Ermittlung einer optimalen DKB ist schwierig: Gibt es \(k\) Disjunktivkanten, so gibt es \(2^k\) DKBs und es mu&#x0308;ssen \(2^k\) CPE-La&#x0308;ufe durchgefu&#x0308;hrt werden. Fu&#x0308;r große Probleme ist das
unrealistisch. Das Problem kann, wie viele Probleme aus der diskreten Optimierung, i.&#x202f;A. nicht in unabha&#x0308;ngige Teilprobleme zerlegt werden. Weil auch Branch-and-Bound zu teuer ist, mu&#x0308;ssen Heuristiken
verwendet werden (z.&#x202f;B. <em><span class="dashuline" >Shifting Bottleneck</span></em>), d.&#x202f;h. man gibt die Optimalita&#x0308;t auf.
</p>



<h2 id="stochastisches-scheduling">Stochastisches Scheduling</h2>

</p>


<p>
Dass die Bearbeitungszeit von Auftra&#x0308;gen deterministisch ist, ist unrealistisch. Vielmehr sind verschieden lange Verzo&#x0308;gerungen mit unterschiedlichen Wahrscheinlichkeiten mo&#x0308;glich. Zur Vereinfachung
seien die Ressourcen wieder unbeschra&#x0308;nkt, d.&#x202f;h. es werden Job-Shop-Probleme betrachtet.
</p>

<p>
Die Bearbeitungszeiten der Auftra&#x0308;ge \(A_i\) sind nicht mehr deterministisch, sondern Zufallsvariablen \(T_i\). Die optimale Gesamtfertigstellungszeit \(C_E\) ist dann ebenfalls eine Zufallsvariable. Mo&#x0308;gliche
Fragen sind nun z.&#x202f;B.:
</p>
<ul style="list-style-type:none">

<li class="list-item-f8"><p>Welche Verteilung hat \(C_E\)?
</p>
</li>
<li class="list-item-f9"><p>In welcher Zeit ist der Prozess mit 95&#x202f;% Wahrscheinlichkeit abgeschlossen?
</p>
</li>
<li class="list-item-f10"><p>Wo ist der kritische Pfad?
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>gemeinsame Verteilungfunktion</b>: Die <em><span class="dashuline" >gemeinsame Verteilungfkt.</span></em> der Auftra&#x0308;ge \(A_1, \dotsc , A_n\) ist die Verteilungsfunktion \(F_{T_1,\dotsc ,T_n}(t_1,
\dotsc , t_n) := \PP (T_1 \le T_1, \dotsc , T_n \le t_n)\) des Zufallsvektors \((T_1, \dotsc , T_n)\). Die Verteilungsfunktion beschreibt die Abha&#x0308;ngigkeiten zwischen den \(T_i\). Im Folgenden wird als
Modellvereinfachung angenommen, dass die \(T_i\) unabha&#x0308;ngig sind, d.&#x202f;h.<br />
\(\PP (T_1 \le T_1, \dotsc , T_n \le t_n) = \prod _{i=1}^n \PP (T_i \le t_i)\).
</p>

<p>
<b>optimale Gesamtfertigstellungszeit</b>: Die optimale Gesamtfertigstellungszeit \(C_E\) ist eine Zufallsvariable und ha&#x0308;ngt von \(T_1, \dotsc , T_n\) ab. Ist eine konkrete Realisierung \(t_1, \dotsc , t_n\)
bekannt, so bestimmt sich \(c_E\) mit der CPM. Allerdings kann man nicht einfach alle Realisierungen ausprobieren: Selbst wenn jedes \(T_i\) diskret verteilt ist und nur drei Werte annimmt, so gibt es \(3^n\) Kombinationen und es
mu&#x0308;ssen \(3^n\) viele CPM-La&#x0308;ufe durchgefu&#x0308;hrt werden. Eine Abhilfe kann es sein, die \(t_i\) durch \(\EE (T_i)\) zu ersetzen und das resultierende \(c_E\) als Scha&#x0308;tzung fu&#x0308;r
\(\EE (c_E)\) zu benutzen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>serielle Bearbeitung</b>: Werden die Auftra&#x0308;ge seriell bearbeitet (\(A_S \to A_1 \to \dotsb \to A_n \to A_E\)), so ist \(C_E = \sum _{i=1}^n T_i\). Wegen der Linearita&#x0308;t des Erwartungswerts gilt
\(\EE (C_E) = \sum _{i=1}^n \EE (T_i)\), d.&#x202f;h. obige Scha&#x0308;tzung ist exakt.
</p>

<p>
<b>parallele Bearbeitung</b>: Werden die Auftra&#x0308;ge parallel bearbeitet (\(A_S \to A_i \to A_E\)), so ist \(C_E = \max _{i=1,\dotsc ,n} T_i\). Allerdings gilt i.&#x202f;A. nur \(\EE (C_E) \ge \max
_{i=1,\dotsc ,n} \EE (T_i)\) (<em><span class="dashuline" ><span class="textsc" >jensen</span>sche Ungleichung</span></em>), d.&#x202f;h. obige Scha&#x0308;tzung ist i.&#x202f;A. zu optimistisch. Dass die
Scha&#x0308;tzung schon bei mittelgroßen \(n\) viel zu optimistisch ist, sieht man z.&#x202f;B. bei auf \([0, 1]\) gleichverteilten \(T_i\). Dann ist \(\EE (C_E) = \frac {n}{n+1}\), aber die Scha&#x0308;tzung ist stets
\(\frac {1}{2}\).
</p>

<p>
Die Scha&#x0308;tzung ist nicht einmal sinnvoll nutzbar fu&#x0308;r die Bestimmung des kritischen Pfades. Als Beispiel betrachte man die parallelen Auftra&#x0308;ge \(A_1, A_2\) mit \(\PP (T_1 = 0) = \PP (T_1 = 8) =
\frac {1}{2}\), \(\PP (T_2 = 1) = \frac {3}{4}\) und \(\PP (T_2 = 9) = \frac {1}{4}\). Der Pfad u&#x0308;ber \(A_1\) ist kritisch genau dann, wenn \(T_1 = 8\) und \(T_2 = 1\), was mit Wahrscheinlichkeit \(\frac
{1}{2} \cdot \frac {3}{4} = \frac {3}{8}\) passiert. Somit ist der Pfad u&#x0308;ber \(A_2\) mit Wahrscheinlichkeit \(\frac {5}{8}\) kritisch. Betrachtet man allerdings die Erwartungswerte \(\EE (T_1) = 4\) und \(\EE
(T_2) = 3\), so sieht man, dass hier der obere Pfad kritisch wa&#x0308;re, wenn man die Erwartungswerte als Scha&#x0308;tzung nutzen wu&#x0308;rde.
</p>

{% endraw %}
</div>
{:/nomarkdown}
