
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\renewcommand {\A }{\mathcal {A}}\)

\(\newcommand {\D }{\mathcal {D}}\)

\(\renewcommand {\H }{\mathcal {H}}\)

\(\renewcommand {\L }{\mathcal {L}}\)

\(\renewcommand {\O }{\mathcal {O}}\)

\(\renewcommand {\P }{\mathcal {P}}\)

\(\newcommand {\T }{\mathcal {T}}\)

\(\newcommand {\EE }{\mathbb {E}}\)

\(\newcommand {\PP }{\mathbb {P}}\)

\(\newcommand {\DT }{\operatorname {DT}}\)

\(\newcommand {\dcup }{\mathbin {\dot {\cup }}}\)

\(\newcommand {\parent }{\operatorname {parent}}\)

\(\newcommand {\cc }{\operatorname {cc}}\)

\(\newcommand {\interior }{\operatorname {int}}\)

\(\newcommand {\CH }{\operatorname {CH}}\)

\(\newcommand {\sgn }{\operatorname {sgn}}\)

\(\newcommand {\zone }{\operatorname {zone}}\)

\(\newcommand {\code }[1]{\texttt {#1}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  font-style:italic;
  content:'(5)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  font-style:italic;
  content:'(6)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  font-style:italic;
  content:'(7)\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f26::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f27::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f28::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f29::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f30::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f31::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f32::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f33::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f34::marker {
  content:'•\00a0\00a0';
}
.lwarp-contents li.list-item-f35::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f36::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f37::marker {
  content:'–\00a0\00a0';
}
.lwarp-contents li.list-item-f38::marker {
  content:'–\00a0\00a0';
}
.lwarp-contents li.list-item-f39::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f40::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f41::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="motivation">Motivation</h2>

</p>


<p>
<b>Dia&#x0308;tproblem</b>: Beim Dia&#x0308;tproblem beno&#x0308;tigt ein Mensch am Tag 10/15/5 Einheiten Kohlenhydrate/Proteine/Fett. Um diesen Bedarf zu decken, stehen drei Lebensmittel zur Auswahl: Eine Pizza
kostet 3 Euro und liefert 4/1/3 Einheiten. Ein Sandwich kostet 4 Euro und liefert 5/1/2 Einheiten. Ein Proteinshake kostet 6 Euro und liefert 2/10/0 Einheiten. Die Aufgabe ist es nun, solche Anzahlen \(x_p, x_s, x_o\) von Pizzen,
Sandwiches und Proteinshakes zu finden, die unter den Anzahlen, die den Tagesbedarf abdecken, die Kosten minimieren.
</p>

<p>
Das Problem kann man in eine lineare Kostenfunktion (Zielfunktion) mit einem linearen Ungleichungssystem (Nebenbedingungen) u&#x0308;bersetzen, d.&#x202f;h. einem Halbraumschnitt. Fu&#x0308;r \(d\) groß kann man
diesen wie oben erkla&#x0308;rt nicht vollsta&#x0308;ndig ausrechnen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Problem der linearen Programmierung</b>: Gegeben seien \(c \in \real ^d\), \(A \in \real ^{n \times d}\) und \(b \in \real ^n\).<br />
Gesucht ist \(x \in \real ^d\) mit \(c^T x \to \min \), wobei \(Ax \le b\) (<em><span class="dashuline" >Problem der linearen Programmierung</span></em>).
</p>

<p>
\(c^T x\) heißt <em><span class="dashuline" >Zielfunktion</span></em>, die \(n\) Ungleichungen \(Ax \le b\) heißen <em><span class="dashuline" >Nebenbedingungen (NBen)</span></em> und alle Punkte \(x \in
\real ^d\) mit \(Ax \le b\) heißen <em><span class="dashuline" >zula&#x0308;ssig</span></em> bzw. der Bereich heißt <em><span class="dashuline" >Zielbereich</span></em>.
</p>

<p>
Es gibt Algorithmen, die das Problem sowohl linear in \(n\) als auch linear in \(d\) lo&#x0308;sen. Im Folgenden geht es aber nur um Algorithmen, die das Problem linear in \(n\) lo&#x0308;sen, aber mindestens exponentiell in
\(d\) arbeiten.
</p>

<p>
Die optimale Lo&#x0308;sung des Problems muss nicht eindeutig sein. Es gibt jedoch immer eine optimale Lo&#x0308;sung, die eine Ecke des Zielbereichs ist (d.&#x202f;h. Schnitt von \(d\) zu den NBen geho&#x0308;rigen
Hyperebenen mit linear unabha&#x0308;ngigen Normalenvektoren). Eine optimale Lo&#x0308;sung wird durch ho&#x0308;chstens \(d\) Bedingungen bestimmt.
</p>

<p>
Im Folgenden wird nur \(c := (0, \dotsc , 0, 1)\) betrachtet, d.&#x202f;h. man sucht den untersten Punkt des Zielbereichs (oBdA durch Rotation mo&#x0308;glich). Außerdem soll die optimale Lo&#x0308;sung immer
eindeutig sein (oBdA durch kleine Rotation von \(c\) mo&#x0308;glich).
</p>



<h2 id="prune-and-search-algorithmus">Prune-and-Search-Algorithmus</h2>

</p>


<h3 id="zweidimensionaler-fall">Zweidimensionaler Fall</h3>

</p>


<p>
<b>Prune-and-Search-Algorithmus</b>: Seien \(\H \) die \(n\) zu den NBen geho&#x0308;rigen Hyperebenen in \(\real ^2\).<br />
Der <em><span class="dashuline" >Prune-and-Search-Algorithmus</span></em> unterteilt die NBen in <em><span class="dashuline" >Oben-NBen</span></em> \(\H ^+\) ((\(\smallpmatrix {0 &amp; 1} a_i &lt; 0\))
und <em><span class="dashuline" >Unten-NBen</span></em> \(\H ^-\) (\(\smallpmatrix {0 &amp; 1} a_i &gt; 0\)).
</p>

<p>
<b>Prune-Schritt</b>: Beim <em><span class="dashuline" >Prune-Schritt</span></em> werden zwei NBen vom gleichen Typ betrachtet, also z.&#x202f;B. \(h_1, h_2 \in \H ^+\). Sei \(\ell \) die vertikale Gerade durch
den Schnittpunkt von \(h_1\) und \(h_2\). Angenommen, es ga&#x0308;be ein Orakel, welches mit Sicherheit entscheiden ko&#x0308;nnte, auf welcher Seite von \(\ell \) das Optimum liegt, dann kann man eine
Nebenbedingung weglassen (fu&#x0308;r \(h_1, h_2 \in \H ^+\) kann man die Hyperebene weglassen, die auf der Optimum-Seite von \(\ell \) unterhalb der anderen liegt).
</p>

<p>
<b>Search-Schritt</b>: Der <em><span class="dashuline" >Search-Schritt</span></em> implementiert das Orakel, d.&#x202f;h. in diesem Schritt wird fu&#x0308;r eine vertikale Gerade \(\ell \) entschieden, auf welcher
Seite von \(\ell \) das Optimum liegt.<br />
Sei dazu \(p^\pm \) der oberste bzw. unterste Schnittpunkt von \(\ell \) mit Hyperebenen \(h \in \H ^\pm \).
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>Liegt \(p^+\) unterhalb \(p^-\), dann schneidet \(\ell \) den Zielbereich (der Teil von \(\ell \) zwischen \(p^+\) und \(p^-\) ist zula&#x0308;ssig). Die Steigungen der Geraden durch \(p^+\) entscheiden nun, ob das
Optimum links oder rechts von \(\ell \) (oder auf \(\ell \)) liegt.
</p>
</li>
<li class="list-item-f1"><p>Liegt \(p^+\) oberhalb \(p^-\), dann schneidet \(\ell \) den Zielbereich nicht, dieser liegt dann vollsta&#x0308;ndig auf einer Seite von \(\ell \). Das Optimum liegt nun auf der Seite von \(\ell \), auf der der Schnittpunkt
der Geraden durch \(p^\pm \) liegt (sind diese parallel, so ist der Zielbereich leer).
</p>
</li>
</ul>

<p>
<b>Zeitbedarf eines Search-Schritts</b>: \(\O (n)\) mit \(n\) der aktuellen Anzahl an NBen
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>naive Vorgehensweise</b>: Wa&#x0308;hle ein Paar von Hyperebenen, wende den Prune-Schritt an, um eine NB wegzulassen, und wiederhole. Die Laufzeit ist dann jedoch \(\sum _{i=1}^n \O (i) = \O (n^2)\).
</p>

<p>
<b>besser</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f2"><p>Unterteile \(\H ^+\) und \(\H ^-\) jeweils in Hyperebenen-Paare desselben Typs.
</p>
</li>
<li class="list-item-f3"><p>Berechne den Schnittpunkt von jedem Hyperebenen-Paar sowie den \(x\)-Median der<br />
Schnittpunkte.
</p>
</li>
<li class="list-item-f4"><p>Wende den Search-Schritt mit der vertikalen Geraden \(\ell \) durch den \(x\)-Median an.
</p>
</li>
<li class="list-item-f5"><p>Entscheidet das Orakel, dass das Optimum auf einer Seite liegt (z.&#x202f;B. rechts), so gilt dies auch fu&#x0308;r alle Vertikalen durch die Schnittpunkte auf der anderen Seite von \(\ell \) (z.&#x202f;B. links).
Daher kann man fu&#x0308;r alle Hyperebenen-Paare auf der anderen Seite den Prune-Schritt anwenden, d.&#x202f;h. es ko&#x0308;nnen \(\approx \frac {1}{4}\) der NBen weggelassen werden.
</p>
</li>
<li class="list-item-f6"><p>Wiederhole.
</p>
</li>
</ul>

<p>
<b>Zeitbedarf</b>: \(\O (n)\)
</p>

<p>
<b>Beweis</b>: Die Berechnung des \(x\)-Medians und das Befragen des Orakels sind linear in der Anzahl an NBen. In jedem Schritt reduziert sich die Anzahl an NBen ungefa&#x0308;hr um den Faktor \(\frac {1}{4}\). Damit
ist der Zeitbedarf \(\O (\sum _{i=0}^\infty n (\frac {3}{4})^i) = \O (n)\). &#x2003;&#x2003;
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
Der Algorithmus funktioniert auch, wenn der Zielbereich leer ist oder nach unten unbeschra&#x0308;nkt ist (dazu speichert man ein Intervall \([L, R]\), sodass das Optimum in \([L, R]\) ist, falls es existiert, anfangs \([L, R] =
[-\infty , \infty ]\), dann immer weiter verkleinern). Im ersten Fall liefert der Algorithmus ein <em><span class="dashuline" >Zertifikat</span></em> der Unzula&#x0308;ssigkeit (d.&#x202f;h. drei Halbra&#x0308;ume
mit leerem Schnitt).
</p>



<h3 id="dreidimensionaler-fall">Dreidimensionaler Fall</h3>

</p>


<p>
<b>dreidimensionaler Fall</b>: Unterteile \(\H \) wie im \(\real ^2\)-Fall in \(\H ^+\) und \(\H ^-\).
</p>

<p>
<b>Search-Schritt</b>: Es werden wieder zwei Hyperebenen vom gleichen Typ betrachtet (z.&#x202f;B.<br />
\(h_1, h_2 \in \H ^+\)). Berechne die Schnittgerade der beiden Ebenen und bilde die vertikale Ebene durch die Schnittgerade. Schneide nun alle Hyperebenen mit der vertikalen Ebene, dabei kommt ein zweidimensionales
LP-Problem heraus, was mit obigem Algorithmus gelo&#x0308;st werden kann.
</p>
<ul style="list-style-type:none">

<li class="list-item-f7"><p>Gibt es eine Lo&#x0308;sung, so schneide die beiden \(\real ^3\)-Hyperebenen, die zu den beiden Geraden geho&#x0308;ren, welche die \(\real ^2\)-Lo&#x0308;sung definieren. Auf der Seite der vertikalen Ebene, auf der
die Schnittgerade „nach unten“ geht, liegt das \(\real ^3\)-Optimum (falls es existiert).
</p>
</li>
<li class="list-item-f8"><p>Gibt es keine Lo&#x0308;sung, dann liefert der \(\real ^2\)-Algorithmus ein Zertifikat der Unzula&#x0308;ssigkeit. Schneide die drei \(\real ^3\)-Hyperebenen, die zu den drei Geraden des Zertifikats geho&#x0308;ren. Auf
der Seite der vertikalen Ebene, auf der der Schnittpunkt liegt, liegt das \(\real ^3\)-Optimum (falls es existiert), denn der Zielbereich liegt vollsta&#x0308;ndig auf dieser Seite der vertikalen Ebene.
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>naive Vorgehensweise</b>: Wa&#x0308;hle ein Paar von Hyperebenen, wende einen Prune-Schritt analog zum \(\real ^2\)-Fall an, um eine NB wegzulassen, und wiederhole. Die Laufzeit ist dann jedoch \(\sum _{i=1}^n \O
(i) = \O (n^2)\).
</p>

<p>
<b>besser</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>    Teile jeweils \(\H ^+\) und \(\H ^-\) in Paare auf, schneide die Hyperebenen und erhalte \(\frac {n}{2}\) Geraden im Raum.
</p>
</li>
<li class="list-item-f10"><p>    Projiziere die Geraden in die \(x\)-\(y\)-Ebene.
</p>
</li>
<li class="list-item-f11"><p>    Drehe die \(x\)-\(y\)-Ebene, sodass ungefa&#x0308;hr \(\frac {n}{4}\) Geraden Steigung \(&gt; 0\) haben und \(\frac {n}{4}\) Geraden Steigung \(&lt; 0\).
</p>
</li>
<li class="list-item-f12"><p>    Paare jeweils eine Gerade mit Steigung \(&gt; 0\) mit einer Geraden mit Steigung \(&lt; 0\) und erhalte \(\frac {n}{4}\) Kreuzchen (und berechne deren Schnittpunkte).
</p>
</li>
<li class="list-item-f13"><p>    Befrage das Orakel mit der vertikalen Ebene im Raum durch den \(y\)-Median der Kreuzchen-Schnittpunkte.
</p>
</li>
<li class="list-item-f14"><p>    Bilde von den Kreuzchen-Schnittpunkten auf der „falschen“ Seite des Orakels den \(x\)-Median und befrage das Orakel mit der vertikalen Ebene durch diesen Schnittpunkt (aber mit allen Hyperebenen).
</p>
</li>
<li class="list-item-f15"><p>    Ist das Optimum z.&#x202f;B. „rechts unten“, so kann im Ka&#x0308;stchen „links oben“ bei jedem Kreuzchen von den vier beteiligten NBen jeweils eine NB weggelassen werden.
</p>
</li>
</ul>

<p>
<b>Zeitbedarf</b>: \(\O (n)\)
</p>

<p>
<b>Beweis</b>: In jedem Schritt reduziert sich die Anzahl an NBen um den Faktor \(\frac {1}{16}\), d.&#x202f;h. es bleiben nur \(\frac {15}{16}\) der NBen u&#x0308;brig. Damit ist der Zeitbedarf \(\O (\sum
_{i=0}^\infty n(\frac {15}{16})^i) = \O (n)\). &#x2003;&#x2003;
</p>

<p>
<b>Zeitbedarf in \(d\) Dimensionen</b>: \(\O (2^{\O (2^d)} n)\)
</p>



<h2 id="ric-algorithmus-seidlp">RIC-Algorithmus (SeidLP)</h2>

</p>


<p>
<b>RIC-Algorithmus fu&#x0308;r LP (SeidLP)</b>: Der Einfachheit halber wird hier nur der \(\real ^2\)-Fall betrachtet. Der <em><span class="dashuline" >SeidLP-Algorithmus</span></em> ist nach Raimund Seidel benannt
und funktioniert wie folgt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f16"><p>Permutiere die Halbra&#x0308;ume zufa&#x0308;llig zu \(h_1, \dotsc , h_n\). Nimm an, dass die \(y\)-Koordinate von \(v_2\) endlich ist, wobei \(v_i := v(\{h_1, \dotsc , h_i\}) \in \real ^2\) das
Optimum der ersten \(i\) NBen sei (d.&#x202f;h. erste beide NBen nach oben offen und Steigung von \(h_1\) positiv und die von \(h_2\) negativ).
</p>
</li>
<li class="list-item-f17"><p>Fu&#x0308;ge \(h_3, \dotsc , h_n\) nacheinander hinzu und stelle sicher, dass das Optimum der bislang betrachteten NBen aufrecht erhalten wird.
</p>
</li>
</ul>

<p>
<b>Beobachtung</b>: Gilt \(v_i \in h_{i+1}\), dann gilt \(v_{i+1} = v_i\).<br />
Gilt \(v_i \notin h_{i+1}\), dann gilt \(v_{i+1} \in \partial h_{i+1}\), d.&#x202f;h. \(v_{i+1}\) ist der Punkt auf \(\partial h_{i+1}\) mit minimaler \(y\)-Koordinate, der die NBen \(h_1, \dotsc , h_i\)
erfu&#x0308;llt. In diesem Fall lo&#x0308;st man daher ein eindimensionales LP-Problem durch den Schnitt von \(\{h_1, \dotsc , h_i\}\) mit \(h_{i+1}\) in der Zeit \(\O (i)\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Worst-Case-Laufzeit</b>: \(\O (n^2)\) (wenn in jedem Schritt der zweite Fall eintritt)
</p>

<p>
Durch die Randomisierung tritt dieser Fall jedoch sehr selten ein.
</p>

<p>
<b>Zeitbedarf</b>: \(\O (n)\)
</p>

<p>
<b>Beweis</b>: Sei \(T(n)\) die Zeit, die der Algorithmus fu&#x0308;r \(n\) Hyperebenen beno&#x0308;tigt. Dann gilt<br />
\(T(n) = \O (1) + \sum _{i=3}^n (\PP (v_{i-1} \in h_i) \cdot \O (1) + \PP (v_{i-1} \notin h_i) \cdot \O (i)) = \O (n) + \sum _{i=3}^n \PP (v_{i-1} \notin h_i) \cdot \O (i)\), wobei \(\PP
(v_{i-1} \notin h_i)\) die Wahrscheinlichkeit ist, dass \(v_{i-1}\) nicht die \(i\)-te NB erfu&#x0308;llt (d.&#x202f;h. dass der zweite Fall eintritt).
</p>

<p>
Das Optimum \(v_{i-1}\) ist immer durch genau zwei bestimmte Hyperebenen definiert. Mit Ru&#x0308;ckwa&#x0308;rtsanalyse ist die gesuchte Wahrscheinlichkeit gleich der, dass nach dem Einfu&#x0308;gen der \(i\)-ten
Hyperebene die letzte eingefu&#x0308;gte Hyperebene eine von diesen zwei Hypereben war. Weil die Hyperebenen zufa&#x0308;llig permutiert sind, folgt daher \(\PP (v_{i-1} \notin h_i) = \frac {2}{i}\).
</p>

<p>
Man erha&#x0308;lt damit \(T(n) = \O (n) + \sum _{i=3}^n \frac {2}{i} \cdot \O (i) = \O (n)\). &#x2003;&#x2003;
</p>



<h2 id="lp-artige-probleme">LP-artige Probleme</h2>

</p>


<h3 id="beispiele">Beispiele</h3>

</p>


<p>
<b>Beispiele fu&#x0308;r LP-artige Probleme</b>: Folgende Probleme haben viele Gemeinsamkeiten. Dazu sei \(\delta \) die Zahl an Objekten, die die optimale Lo&#x0308;sung bestimmen (d.&#x202f;h. wenn man eines von
den Objekten wegla&#x0308;sst, verbessert sich die Lo&#x0308;sung).
</p>
<ul style="list-style-type:none">

<li class="list-item-f18"><p><em>kleinster einschließender Ball</em>: Gegeben sind \(n\) Punkte in \(\real ^d\).<br />
Gesucht ist der kleinste \(d\)-dimensionale (abgeschlossene) Ball, der alle Punkte entha&#x0308;lt.<br />
Es gilt \(\delta \le d + 1\).
</p>
</li>
<li class="list-item-f19"><p><em>lineare Programmierung</em>: Gegeben sind \(n\) Halbra&#x0308;ume in \(\real ^d\).<br />
Gesucht ist der unterste Punkt im Schnitt aller Halbra&#x0308;ume.<br />
Es gilt \(\delta = d\).
</p>
</li>
<li class="list-item-f20"><p><em>kleinste einschließende Ellipse</em>: Gegeben sind \(n\) Punkte in \(\real ^d\).<br />
Gesucht ist die kleinste \(d\)-dimensionale (abgeschlossene) Ellipse, die alle Punkte entha&#x0308;lt.<br />
Es gilt \(\delta = \frac {d(d+3)}{2}\).
</p>
</li>
<li class="list-item-f21"><p><em>kleinster einschließender Donut</em>: Gegeben sind \(n\) Punkte in \(\real ^d\).<br />
Gesucht ist der kleinste \(d\)-dimensionale (abgeschlossene) Donut, die alle Punkte entha&#x0308;lt (d.&#x202f;h. mengentheoretische Differenz zweier konzentrische Ba&#x0308;lle).<br />
Es gilt \(\delta = d + 2\).
</p>
</li>
<li class="list-item-f22"><p><em>Polyederdistanz</em>: Gegeben sind zwei disjunkte Polyeder im \(\real ^d\) durch ihre Halbra&#x0308;ume.<br />
Gesucht ist die Distanz der beiden Polyeder zueinander.<br />
Es gilt \(\delta = d + 1\).
</p>
</li>
</ul>
<p>
Manche Probleme, wie den kleinsten einschließenden Donut, kann man als LP-Problem darstellen, andere jedoch nicht, wie den kleinsten einschließenden Ball. Die Probleme sind jedoch alle „LP-artig“.
</p>

<p>
<b>Gemeinsamkeiten</b>:
</p>
<ul style="list-style-type:none">

<li class="list-item-f23"><p><em>kleine Basis</em>: Die optimale Lo&#x0308;sung wird nur durch wenige Eingabeobjekte bestimmt, deren Anzahl \(\delta \) von der Gesamtzahl \(n\) an Objekten unabha&#x0308;ngig ist.
</p>
</li>
<li class="list-item-f24"><p><em>Monotonizita&#x0308;t</em>: Die Lo&#x0308;sung wird nicht besser, wenn Objekte hinzugefu&#x0308;gt werden.
</p>
</li>
<li class="list-item-f25"><p><em>Lokalita&#x0308;t</em>: Wenn sich die Lo&#x0308;sung \(\L \) durch Hinzufu&#x0308;gung eines Objekts verschlechtert, verschlechtert sich auch die Lo&#x0308;sung, wenn man das Objekt zu den \(\delta \) Objekten
hinzufu&#x0308;gt, die \(\L \) definieren (die beiden „neuen“ Lo&#x0308;sungen stimmen i.&#x202f;A. nicht u&#x0308;berein!).
</p>
</li>
</ul>



<h3 id="definition">Definition</h3>
<b>LP-artiges Problem</b>: Ein <em><span class="dashuline" >LP-artiges Problem</span></em> ist ein Paar \((H, w)\) mit
</p>
<ul style="list-style-type:none">

<li class="list-item-f26"><p>\(H\) einer endlichen Menge an <em><span class="dashuline" >Nebenbedingungen</span></em> und
</p>
</li>
<li class="list-item-f27"><p>\(w\colon \P (H) \to W \cup \{\pm \infty \}\) der <em><span class="dashuline" >Zielfunktion</span></em> mit \(W\) einer total geordneten Menge,
</p>
</li>
</ul>

<p>
sodass fu&#x0308;r alle \(F, G \subset H\) mit \(F \subset G\) gilt, dass
</p>
<ul style="list-style-type:none">

<li class="list-item-f28"><p>\(w(F) \le w(G)\) (<em><span class="dashuline" >Monotonizita&#x0308;t</span></em>) und
</p>
</li>
<li class="list-item-f29"><p>aus \(w(F) = w(G) &gt; -\infty \) und \(w(G \cup \{h\}) &gt; w(G)\) fu&#x0308;r ein \(h \in H\) folgt,<br />
dass \(w(F \cup \{h\}) &gt; w(F)\) (<em><span class="dashuline" >Lokalita&#x0308;t</span></em>).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Basis</b>: Sei \(G \subset H\). Dann heißt die kleinste Teilmenge \(B\) von \(G\) mit \(w(B) = w(G)\) <em><span class="dashuline" >Basis</span></em> von \(G\).
</p>

<p>
<b>kombinatorische Dimension</b>: Die <em><span class="dashuline" >komb. Dimension</span></em> von \((H, w)\) ist \(\delta := \max _{\text {Basis $B$}} |B|\).
</p>

<p>
<b>basisregula&#x0308;r</b>: \((H, w)\) heißt <em><span class="dashuline" >basisregula&#x0308;r</span></em>, falls \(|B| = \delta \) fu&#x0308;r jede Basis \(B\).
</p>



<h3 id="lptype-algorithmus">lp_type-Algorithmus</h3>

</p>


<p>
<b>Grundoperationen auf LP-artigen Problemen</b>: Es wird angenommen, dass folgende Grundoperationen in \(\O (1)\) Zeit zur Verfu&#x0308;gung stehen. Gegeben sei eine Basis \(B\) und eine NB \(h \in H\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f30"><p><em>Test auf Verletzung</em>: Gilt \(w(B \cup \{h\}) &gt; w(B)\)?
</p>
</li>
<li class="list-item-f31"><p><em>Basis-Berechnung</em>: Berechne die Basis von \(B’\) von \(B \cup \{h\}\).
</p>
</li>
</ul>

<p>
<b><kbd>lp_type</kbd>-Algorithmus</b>: Der <em><span class="dashuline" ><kbd>lp_type</kbd>-Algorithmus</span></em> berechnet aus einer Teilmenge \(G \subset H\) und einer Basis \(C \subset G\) einer
Teilmenge \(G’ \subset G\) eine Basis von \(G\) und gibt sie zuru&#x0308;ck.
</p>
<ul style="list-style-type:none">

<li class="list-item-f32"><p>Pru&#x0308;fe, ob \(G = C\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f33"><p>Falls ja, so gebe \(C\) zuru&#x0308;ck.
</p>
</li>
<li class="list-item-f34"><p>Falls nein, so mache Folgendes:
</p>
<ul style="list-style-type:none">

<li class="list-item-f35"><p>Wa&#x0308;hle \(h \in G \setminus C\) zufa&#x0308;llig und berechne \(C’ := \code {lp\_type}(G \setminus \{h\}, C)\).
</p>
</li>
<li class="list-item-f36"><p>Pru&#x0308;fe, ob \(w(C’ \cup \{h\}) &gt; w(C’)\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f37"><p>Falls ja, so berechne eine Basis \(C’’\) von \(C’ \cup \{h\}\) und gebe \(\code {lp\_type}(G, C’’)\) zuru&#x0308;ck.
</p>
</li>
<li class="list-item-f38"><p>Falls nein, so gebe \(C’\) zuru&#x0308;ck.
</p>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>

<p>
<b>Satz (Korrektheit)</b>: Der Algorithmus terminiert stets und arbeitet korrekt.
</p>

<p>
<b>Beweis</b>: Beim ersten rekursiven Aufruf von <kbd>lp_type</kbd> verkleinert sich \(|G|\) und \(C\) bleibt gleich. Induktiv terminiert dieser Aufruf. Beim zweiten rekursiven Aufruf bleibt zwar \(G\) gleich, aber die
„Lu&#x0308;cke“ \(w(G) - w(C)\) zum Optimum verkleinert sich, da<br />
\(w(C’’) = w(C’ \cup \{h\}) &gt; w(C’) = w(G \setminus \{h\}) \ge w(C)\).<br />
Weil das Bild von \(\P (H)\) unter \(w\) endlich ist, kann \(w(G) - w(C)\) nur endlich viele Werte annehmen, womit dieser Aufruf induktiv ebenfalls terminiert.
</p>

<p>
Die Korrektheit des Algorithmus ist klar: Im ersten Fall wird korrekterweise \(G = C\) zuru&#x0308;ckgegeben, im zweiten Fall \(\code {lp\_type}(G, C’’)\) (was induktiv korrekt ist) oder \(C’\), was ebenfalls korrekt ist, da in
diesem Fall \(w(C’ \cup \{h\}) = w(C’)\) gilt und nach der Lokalita&#x0308;t<br />
\(w(G) = w((G \setminus \{h\}) \cup \{h\}) = w(G \setminus \{h\})\) folgt (d.&#x202f;h. \(C’\) ist auch eine Basis von \(G\)). &#x2003;&#x2003;
</p>



<h3 id="laufzeit-des-lptype-algorithmus">Laufzeit des lp_type-Algorithmus</h3>

</p>


<p>
<b>Lemma</b>: Sei \(w(C’ \cup \{h\}) &gt; w(C’)\) im <kbd>lp_type</kbd>-Algorithmus.<br />
Dann ist \(h \in C’’\) und \(h\) taucht in allen Basen aller rekursiven Aufrufe auf.
</p>

<p>
<b>Beweis</b>: Angenommen, es gilt \(h \notin C’’\), dann wa&#x0308;re \(C’’ \subset C’\) und daher \(w(C’’) \le w(C’)\), ein Widerspruch zu \(w(C’’) = w(C’ \cup \{h\}) &gt; w(C’)\).
</p>

<p>
Seien \(C_0 \subset G \setminus \{h\}\) eine Basis, die \(h\) nicht entha&#x0308;lt, und \(C_1\) eine Basis, die wa&#x0308;hrend \(\code {lp\_type}(G, C’’)\) auftritt. Dann gilt \(w(C_1) \ge w(C’’) = w(C’ \cup
\{h\}) &gt; w(C’) = w(G \setminus \{h\}) \ge w(C_0)\), d.&#x202f;h. \(C_0\) und \(C_1\) ko&#x0308;nnen nicht gleich sein. &#x2003;&#x2003;
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>erzwungen</b>: Seien \(C \subset G \subset H\) und \(h \in G\).<br />
Dann heißt \(h\) in \((G, C)\) <em><span class="dashuline" >erzwungen</span></em>, falls \(w(C) &gt; w(G \setminus \{h\})\).
</p>

<p>
Wenn \(h\) in \((G, C)\) erzwungen ist, dann gilt zwangsla&#x0308;ufig \(h \in C\). Die erzwungenen Elemente von \(C\) sind die Elemente, von denen man bereits weiß, dass sie zur Basis von \(G\) geho&#x0308;ren.
</p>

<p>
<b>versteckte Dimension</b>: Seien \(C \subset G \subset H\) und \(h \in G\). Dann heißt<br />
\(\delta (G, C) := \delta - |\{h \in G \;|\; \text {$h$ erzwungen in $(G, C)$}\}\) die <em><span class="dashuline" >versteckte Dimension</span></em> von \((G, C)\).
</p>

<p>
Nach obigem Lemma reduziert sich die versteckte Dimension bei jedem rekursiven Aufruf um mindestens \(1\). Man kann zeigen, dass sich die versteckte Dimension erwartet sogar halbiert.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Lemma</b>: Sei \(t(k, n)\) die erwartete Anzahl an Verletzungstests bei Aufruf von \(\code {lp\_type}(G, C)\) mit \(|G| = n\) und \(\delta (G, C) = k\). Dann gilt
</p>
<ul style="list-style-type:none">

<li class="list-item-f39"><p>\(t(\delta , 0) = 0\),
</p>
</li>
<li class="list-item-f40"><p>\(t(n, 0) = n - \delta \) und
</p>
</li>
<li class="list-item-f41"><p>\(t(n, k) \le t(n - 1, k) + 1 + \frac {k}{n - \delta } t(n, k - 1)\).
</p>
</li>
</ul>

<p>
<b>Folgerung</b>: Es gilt \(t(n, k) \le \sum _{j=1}^k \frac {1}{j!} k! (n - \delta ) \le e k! (n - \delta ) = \O (n)\).
</p>

<p>
Als Konsequenz daraus ergibt sich, dass jedes lineare Programm in \(d\) Variablen mit \(n\) Nebenbedingungen erwartet in der Zeit \(\O (d! d^3 n)\) gelo&#x0308;st werden kann.
</p>

<a id="algorithmic-geometry-autofile-last"></a>
{% endraw %}
</div>
{:/nomarkdown}
