
{::nomarkdown}
<div class="lwarp-contents">
{% raw %}
<div class="hidden" >

\(\newcommand{\footnotename}{footnote}\)

\(\def \LWRfootnote {1}\)

\(\newcommand {\footnote }[2][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand {\footnotemark }[1][\LWRfootnote ]{{}^{\mathrm {#1}}}\)

\(\newcommand \ensuremath [1]{#1}\)

\(\newcommand {\LWRframebox }[2][]{\fbox {#2}} \newcommand {\framebox }[1][]{\LWRframebox } \)

\(\newcommand {\setlength }[2]{}\)

\(\newcommand {\addtolength }[2]{}\)

\(\newcommand {\setcounter }[2]{}\)

\(\newcommand {\addtocounter }[2]{}\)

\(\newcommand {\cline }[1]{}\)

\(\newcommand {\directlua }[1]{\text {(directlua)}}\)

\(\newcommand {\luatexdirectlua }[1]{\text {(directlua)}}\)

\(\newcommand {\protect }{}\)

\(\def \LWRabsorbnumber #1 {}\)

\(\def \LWRabsorbquotenumber &quot;#1 {}\)

\(\def \mathchar {\ifnextchar &quot;\LWRabsorbquotenumber \LWRabsorbnumber }\)

\(\def \mathcode #1={\mathchar }\)

\(\let \delcode \mathcode \)

\(\let \delimiter \mathchar \)

\(\let \LWRref \ref \)

\(\renewcommand {\ref }{\ifstar \LWRref \LWRref }\)

\(\newcommand {\intertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\mathllap }[2][]{{#1#2}}\)

\(\newcommand {\mathrlap }[2][]{{#1#2}}\)

\(\newcommand {\mathclap }[2][]{{#1#2}}\)

\(\newcommand {\mathmbox }[1]{#1}\)

\(\newcommand {\clap }[1]{#1}\)

\(\newcommand {\LWRmathmakebox }[2][]{#2}\)

\(\newcommand {\mathmakebox }[1][]{\LWRmathmakebox }\)

\(\newcommand {\cramped }[2][]{{#1#2}}\)

\(\newcommand {\crampedllap }[2][]{{#1#2}}\)

\(\newcommand {\crampedrlap }[2][]{{#1#2}}\)

\(\newcommand {\crampedclap }[2][]{{#1#2}}\)

\(\newenvironment {crampedsubarray}[1]{}{}\)

\(\newcommand {\crampedsubstack }{}\)

\(\newcommand {\smashoperator }[2][]{#2\limits }\)

\(\newcommand {\adjustlimits }{}\)

\(\newcommand {\SwapAboveDisplaySkip }{}\)

\(\require {extpfeil}\)

\(\Newextarrow \xleftrightarrow {10,10}{0x2194}\)

\(\Newextarrow \xLeftarrow {10,10}{0x21d0}\)

\(\Newextarrow \xhookleftarrow {10,10}{0x21a9}\)

\(\Newextarrow \xmapsto {10,10}{0x21a6}\)

\(\Newextarrow \xRightarrow {10,10}{0x21d2}\)

\(\Newextarrow \xLeftrightarrow {10,10}{0x21d4}\)

\(\Newextarrow \xhookrightarrow {10,10}{0x21aa}\)

\(\Newextarrow \xrightharpoondown {10,10}{0x21c1}\)

\(\Newextarrow \xleftharpoondown {10,10}{0x21bd}\)

\(\Newextarrow \xrightleftharpoons {10,10}{0x21cc}\)

\(\Newextarrow \xrightharpoonup {10,10}{0x21c0}\)

\(\Newextarrow \xleftharpoonup {10,10}{0x21bc}\)

\(\Newextarrow \xleftrightharpoons {10,10}{0x21cb}\)

\(\newcommand {\LWRdounderbracket }[3]{\underset {#3}{\underline {#1}}}\)

\(\newcommand {\LWRunderbracket }[2][]{\LWRdounderbracket {#2}}\)

\(\newcommand {\underbracket }[1][]{\LWRunderbracket }\)

\(\newcommand {\LWRdooverbracket }[3]{\overset {#3}{\overline {#1}}}\)

\(\newcommand {\LWRoverbracket }[2][]{\LWRdooverbracket {#2}}\)

\(\newcommand {\overbracket }[1][]{\LWRoverbracket }\)

\(\newcommand {\LaTeXunderbrace }[1]{\underbrace {#1}}\)

\(\newcommand {\LaTeXoverbrace }[1]{\overbrace {#1}}\)

\(\newenvironment {matrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {pmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {smallmatrix*}[1][]{\begin {matrix}}{\end {matrix}}\)

\(\newenvironment {psmallmatrix*}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix*}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix*}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix*}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix*}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newenvironment {psmallmatrix}[1][]{\begin {pmatrix}}{\end {pmatrix}}\)

\(\newenvironment {bsmallmatrix}[1][]{\begin {bmatrix}}{\end {bmatrix}}\)

\(\newenvironment {Bsmallmatrix}[1][]{\begin {Bmatrix}}{\end {Bmatrix}}\)

\(\newenvironment {vsmallmatrix}[1][]{\begin {vmatrix}}{\end {vmatrix}}\)

\(\newenvironment {Vsmallmatrix}[1][]{\begin {Vmatrix}}{\end {Vmatrix}}\)

\(\newcommand {\LWRmultlined }[1][]{\begin {multline*}}\)

\(\newenvironment {multlined}[1][]{\LWRmultlined }{\end {multline*}}\)

\(\let \LWRorigshoveleft \shoveleft \)

\(\renewcommand {\shoveleft }[1][]{\LWRorigshoveleft }\)

\(\let \LWRorigshoveright \shoveright \)

\(\renewcommand {\shoveright }[1][]{\LWRorigshoveright }\)

\(\newenvironment {dcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {dcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {rcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {drcases*}{\begin {cases}}{\end {cases}}\)

\(\newenvironment {cases*}{\begin {cases}}{\end {cases}}\)

\(\newcommand {\MoveEqLeft }[1][]{}\)

\(\def \LWRAboxed #1&amp;#2&amp;#3!|!{\fbox {\(#1\)}&amp;\fbox {\(#2\)}} \newcommand {\Aboxed }[1]{\LWRAboxed #1&amp;&amp;!|!} \)

\( \newcommand {\LWRABLines }[1][\Updownarrow ]{#1 \notag \\}\newcommand {\ArrowBetweenLines }{\ifstar \LWRABLines \LWRABLines } \)

\(\newcommand {\shortintertext }[1]{\text {#1}\notag \\}\)

\(\newcommand {\vdotswithin }[1]{\hspace {.5em}\vdots }\)

\(\newcommand {\LWRshortvdotswithinstar }[1]{\vdots \hspace {.5em} &amp; \\}\)

\(\newcommand {\LWRshortvdotswithinnostar }[1]{&amp; \hspace {.5em}\vdots \\}\)

\(\newcommand {\shortvdotswithin }{\ifstar \LWRshortvdotswithinstar \LWRshortvdotswithinnostar }\)

\(\newcommand {\MTFlushSpaceAbove }{}\)

\(\newcommand {\MTFlushSpaceBelow }{\\}\)

\(\newcommand \lparen {(}\)

\(\newcommand \rparen {)}\)

\(\newcommand {\ordinarycolon }{:}\)

\(\newcommand {\vcentcolon }{\mathrel {\mathop \ordinarycolon }}\)

\(\newcommand \dblcolon {\vcentcolon \vcentcolon }\)

\(\newcommand \coloneqq {\vcentcolon =}\)

\(\newcommand \Coloneqq {\dblcolon =}\)

\(\newcommand \coloneq {\vcentcolon {-}}\)

\(\newcommand \Coloneq {\dblcolon {-}}\)

\(\newcommand \eqqcolon {=\vcentcolon }\)

\(\newcommand \Eqqcolon {=\dblcolon }\)

\(\newcommand \eqcolon {\mathrel {-}\vcentcolon }\)

\(\newcommand \Eqcolon {\mathrel {-}\dblcolon }\)

\(\newcommand \colonapprox {\vcentcolon \approx }\)

\(\newcommand \Colonapprox {\dblcolon \approx }\)

\(\newcommand \colonsim {\vcentcolon \sim }\)

\(\newcommand \Colonsim {\dblcolon \sim }\)

\(\newcommand {\nuparrow }{\mathrel {\cancel {\uparrow }}}\)

\(\newcommand {\ndownarrow }{\mathrel {\cancel {\downarrow }}}\)

\(\newcommand {\bigtimes }{\mathop {\Large \times }\limits }\)

\(\newcommand {\prescript }[3]{{}^{#1}_{#2}#3}\)

\(\newenvironment {lgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newenvironment {rgathered}{\begin {gathered}}{\end {gathered}}\)

\(\newcommand {\splitfrac }[2]{{}^{#1}_{#2}}\)

\(\let \splitdfrac \splitfrac \)

\(\newcommand {\LWRoverlaysymbols }[2]{\mathord {\smash {\mathop {#2\strut }\limits ^{\smash {\lower 3ex{#1}}}}\strut }}\)

\(\newcommand{\alphaup}{\unicode{x03B1}}\)

\(\newcommand{\betaup}{\unicode{x03B2}}\)

\(\newcommand{\gammaup}{\unicode{x03B3}}\)

\(\newcommand{\digammaup}{\unicode{x03DD}}\)

\(\newcommand{\deltaup}{\unicode{x03B4}}\)

\(\newcommand{\epsilonup}{\unicode{x03F5}}\)

\(\newcommand{\varepsilonup}{\unicode{x03B5}}\)

\(\newcommand{\zetaup}{\unicode{x03B6}}\)

\(\newcommand{\etaup}{\unicode{x03B7}}\)

\(\newcommand{\thetaup}{\unicode{x03B8}}\)

\(\newcommand{\varthetaup}{\unicode{x03D1}}\)

\(\newcommand{\iotaup}{\unicode{x03B9}}\)

\(\newcommand{\kappaup}{\unicode{x03BA}}\)

\(\newcommand{\varkappaup}{\unicode{x03F0}}\)

\(\newcommand{\lambdaup}{\unicode{x03BB}}\)

\(\newcommand{\muup}{\unicode{x03BC}}\)

\(\newcommand{\nuup}{\unicode{x03BD}}\)

\(\newcommand{\xiup}{\unicode{x03BE}}\)

\(\newcommand{\omicronup}{\unicode{x03BF}}\)

\(\newcommand{\piup}{\unicode{x03C0}}\)

\(\newcommand{\varpiup}{\unicode{x03D6}}\)

\(\newcommand{\rhoup}{\unicode{x03C1}}\)

\(\newcommand{\varrhoup}{\unicode{x03F1}}\)

\(\newcommand{\sigmaup}{\unicode{x03C3}}\)

\(\newcommand{\varsigmaup}{\unicode{x03C2}}\)

\(\newcommand{\tauup}{\unicode{x03C4}}\)

\(\newcommand{\upsilonup}{\unicode{x03C5}}\)

\(\newcommand{\phiup}{\unicode{x03D5}}\)

\(\newcommand{\varphiup}{\unicode{x03C6}}\)

\(\newcommand{\chiup}{\unicode{x03C7}}\)

\(\newcommand{\psiup}{\unicode{x03C8}}\)

\(\newcommand{\omegaup}{\unicode{x03C9}}\)

\(\newcommand{\Alphaup}{\unicode{x0391}}\)

\(\newcommand{\Betaup}{\unicode{x0392}}\)

\(\newcommand{\Gammaup}{\unicode{x0393}}\)

\(\newcommand{\Digammaup}{\unicode{x03DC}}\)

\(\newcommand{\Deltaup}{\unicode{x0394}}\)

\(\newcommand{\Epsilonup}{\unicode{x0395}}\)

\(\newcommand{\Zetaup}{\unicode{x0396}}\)

\(\newcommand{\Etaup}{\unicode{x0397}}\)

\(\newcommand{\Thetaup}{\unicode{x0398}}\)

\(\newcommand{\Varthetaup}{\unicode{x03F4}}\)

\(\newcommand{\Iotaup}{\unicode{x0399}}\)

\(\newcommand{\Kappaup}{\unicode{x039A}}\)

\(\newcommand{\Lambdaup}{\unicode{x039B}}\)

\(\newcommand{\Muup}{\unicode{x039C}}\)

\(\newcommand{\Nuup}{\unicode{x039D}}\)

\(\newcommand{\Xiup}{\unicode{x039E}}\)

\(\newcommand{\Omicronup}{\unicode{x039F}}\)

\(\newcommand{\Piup}{\unicode{x03A0}}\)

\(\newcommand{\Varpiup}{\unicode{x03D6}}\)

\(\newcommand{\Rhoup}{\unicode{x03A1}}\)

\(\newcommand{\Sigmaup}{\unicode{x03A3}}\)

\(\newcommand{\Tauup}{\unicode{x03A4}}\)

\(\newcommand{\Upsilonup}{\unicode{x03A5}}\)

\(\newcommand{\Phiup}{\unicode{x03A6}}\)

\(\newcommand{\Chiup}{\unicode{x03A7}}\)

\(\newcommand{\Psiup}{\unicode{x03A8}}\)

\(\newcommand{\Omegaup}{\unicode{x03A9}}\)

\(\newcommand{\alphait}{\unicode{x1D6FC}}\)

\(\newcommand{\betait}{\unicode{x1D6FD}}\)

\(\newcommand{\gammait}{\unicode{x1D6FE}}\)

\(\newcommand{\digammait}{\mathit{\unicode{x03DD}}}\)

\(\newcommand{\deltait}{\unicode{x1D6FF}}\)

\(\newcommand{\epsilonit}{\unicode{x1D716}}\)

\(\newcommand{\varepsilonit}{\unicode{x1D700}}\)

\(\newcommand{\zetait}{\unicode{x1D701}}\)

\(\newcommand{\etait}{\unicode{x1D702}}\)

\(\newcommand{\thetait}{\unicode{x1D703}}\)

\(\newcommand{\varthetait}{\unicode{x1D717}}\)

\(\newcommand{\iotait}{\unicode{x1D704}}\)

\(\newcommand{\kappait}{\unicode{x1D705}}\)

\(\newcommand{\varkappait}{\unicode{x1D718}}\)

\(\newcommand{\lambdait}{\unicode{x1D706}}\)

\(\newcommand{\muit}{\unicode{x1D707}}\)

\(\newcommand{\nuit}{\unicode{x1D708}}\)

\(\newcommand{\xiit}{\unicode{x1D709}}\)

\(\newcommand{\omicronit}{\unicode{x1D70A}}\)

\(\newcommand{\piit}{\unicode{x1D70B}}\)

\(\newcommand{\varpiit}{\unicode{x1D71B}}\)

\(\newcommand{\rhoit}{\unicode{x1D70C}}\)

\(\newcommand{\varrhoit}{\unicode{x1D71A}}\)

\(\newcommand{\sigmait}{\unicode{x1D70E}}\)

\(\newcommand{\varsigmait}{\unicode{x1D70D}}\)

\(\newcommand{\tauit}{\unicode{x1D70F}}\)

\(\newcommand{\upsilonit}{\unicode{x1D710}}\)

\(\newcommand{\phiit}{\unicode{x1D719}}\)

\(\newcommand{\varphiit}{\unicode{x1D711}}\)

\(\newcommand{\chiit}{\unicode{x1D712}}\)

\(\newcommand{\psiit}{\unicode{x1D713}}\)

\(\newcommand{\omegait}{\unicode{x1D714}}\)

\(\newcommand{\Alphait}{\unicode{x1D6E2}}\)

\(\newcommand{\Betait}{\unicode{x1D6E3}}\)

\(\newcommand{\Gammait}{\unicode{x1D6E4}}\)

\(\newcommand{\Digammait}{\mathit{\unicode{x03DC}}}\)

\(\newcommand{\Deltait}{\unicode{x1D6E5}}\)

\(\newcommand{\Epsilonit}{\unicode{x1D6E6}}\)

\(\newcommand{\Zetait}{\unicode{x1D6E7}}\)

\(\newcommand{\Etait}{\unicode{x1D6E8}}\)

\(\newcommand{\Thetait}{\unicode{x1D6E9}}\)

\(\newcommand{\Varthetait}{\unicode{x1D6F3}}\)

\(\newcommand{\Iotait}{\unicode{x1D6EA}}\)

\(\newcommand{\Kappait}{\unicode{x1D6EB}}\)

\(\newcommand{\Lambdait}{\unicode{x1D6EC}}\)

\(\newcommand{\Muit}{\unicode{x1D6ED}}\)

\(\newcommand{\Nuit}{\unicode{x1D6EE}}\)

\(\newcommand{\Xiit}{\unicode{x1D6EF}}\)

\(\newcommand{\Omicronit}{\unicode{x1D6F0}}\)

\(\newcommand{\Piit}{\unicode{x1D6F1}}\)

\(\newcommand{\Rhoit}{\unicode{x1D6F2}}\)

\(\newcommand{\Sigmait}{\unicode{x1D6F4}}\)

\(\newcommand{\Tauit}{\unicode{x1D6F5}}\)

\(\newcommand{\Upsilonit}{\unicode{x1D6F6}}\)

\(\newcommand{\Phiit}{\unicode{x1D6F7}}\)

\(\newcommand{\Chiit}{\unicode{x1D6F8}}\)

\(\newcommand{\Psiit}{\unicode{x1D6F9}}\)

\(\newcommand{\Omegait}{\unicode{x1D6FA}}\)

\(\let \digammaup \Digammaup \)

\(\renewcommand {\digammait }{\mathit {\digammaup }}\)

\(\newcommand {\smallin }{\unicode {x220A}}\)

\(\newcommand {\smallowns }{\unicode {x220D}}\)

\(\newcommand {\notsmallin }{\LWRoverlaysymbols {/}{\unicode {x220A}}}\)

\(\newcommand {\notsmallowns }{\LWRoverlaysymbols {/}{\unicode {x220D}}}\)

\(\newcommand {\rightangle }{\unicode {x221F}}\)

\(\newcommand {\intclockwise }{\unicode {x2231}}\)

\(\newcommand {\ointclockwise }{\unicode {x2232}}\)

\(\newcommand {\ointctrclockwise }{\unicode {x2233}}\)

\(\newcommand {\oiint }{\unicode {x222F}}\)

\(\newcommand {\oiiint }{\unicode {x2230}}\)

\(\newcommand {\ddag }{\unicode {x2021}}\)

\(\newcommand {\P }{\unicode {x00B6}}\)

\(\newcommand {\copyright }{\unicode {x00A9}}\)

\(\newcommand {\dag }{\unicode {x2020}}\)

\(\newcommand {\pounds }{\unicode {x00A3}}\)

\(\newcommand {\iddots }{\unicode {x22F0}}\)

\(\newcommand {\utimes }{\overline {\times }}\)

\(\newcommand {\dtimes }{\underline {\times }}\)

\(\newcommand {\udtimes }{\overline {\underline {\times }}}\)

\(\newcommand {\leftwave }{\left \{}\)

\(\newcommand {\rightwave }{\right \}}\)

\(\newcommand {\toprule }[1][]{\hline }\)

\(\let \midrule \toprule \)

\(\let \bottomrule \toprule \)

\(\newcommand {\cmidrule }[2][]{}\)

\(\newcommand {\morecmidrules }{}\)

\(\newcommand {\specialrule }[3]{\hline }\)

\(\newcommand {\addlinespace }[1][]{}\)

\(\newcommand {\LWRsubmultirow }[2][]{#2}\)

\(\newcommand {\LWRmultirow }[2][]{\LWRsubmultirow }\)

\(\newcommand {\multirow }[2][]{\LWRmultirow }\)

\(\newcommand {\mrowcell }{}\)

\(\newcommand {\mcolrowcell }{}\)

\(\newcommand {\STneed }[1]{}\)

\( \newcommand {\multicolumn }[3]{#3}\)

\(\newcommand {\tothe }[1]{^{#1}}\)

\(\newcommand {\raiseto }[2]{{#2}^{#1}}\)

\(\newcommand {\ang }[2][]{(\mathrm {#2})\degree }\)

\(\newcommand {\num }[2][]{\mathrm {#2}}\)

\(\newcommand {\si }[2][]{\mathrm {#2}}\)

\(\newcommand {\LWRSI }[2][]{\mathrm {#1\LWRSInumber \,#2}}\)

\(\newcommand {\SI }[2][]{\def \LWRSInumber {#2}\LWRSI }\)

\(\newcommand {\numlist }[2][]{\mathrm {#2}}\)

\(\newcommand {\numrange }[3][]{\mathrm {#2\,\unicode {x2013}\,#3}}\)

\(\newcommand {\SIlist }[3][]{\mathrm {#2\,#3}}\)

\(\newcommand {\SIrange }[4][]{\mathrm {#2\,#4\,\unicode {x2013}\,#3\,#4}}\)

\(\newcommand {\tablenum }[2][]{\mathrm {#2}}\)

\(\newcommand {\ampere }{\mathrm {A}}\)

\(\newcommand {\candela }{\mathrm {cd}}\)

\(\newcommand {\kelvin }{\mathrm {K}}\)

\(\newcommand {\kilogram }{\mathrm {kg}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\mole }{\mathrm {mol}}\)

\(\newcommand {\second }{\mathrm {s}}\)

\(\newcommand {\becquerel }{\mathrm {Bq}}\)

\(\newcommand {\degreeCelsius }{\unicode {x2103}}\)

\(\newcommand {\coulomb }{\mathrm {C}}\)

\(\newcommand {\farad }{\mathrm {F}}\)

\(\newcommand {\gray }{\mathrm {Gy}}\)

\(\newcommand {\hertz }{\mathrm {Hz}}\)

\(\newcommand {\henry }{\mathrm {H}}\)

\(\newcommand {\joule }{\mathrm {J}}\)

\(\newcommand {\katal }{\mathrm {kat}}\)

\(\newcommand {\lumen }{\mathrm {lm}}\)

\(\newcommand {\lux }{\mathrm {lx}}\)

\(\newcommand {\newton }{\mathrm {N}}\)

\(\newcommand {\ohm }{\mathrm {\Omega }}\)

\(\newcommand {\pascal }{\mathrm {Pa}}\)

\(\newcommand {\radian }{\mathrm {rad}}\)

\(\newcommand {\siemens }{\mathrm {S}}\)

\(\newcommand {\sievert }{\mathrm {Sv}}\)

\(\newcommand {\steradian }{\mathrm {sr}}\)

\(\newcommand {\tesla }{\mathrm {T}}\)

\(\newcommand {\volt }{\mathrm {V}}\)

\(\newcommand {\watt }{\mathrm {W}}\)

\(\newcommand {\weber }{\mathrm {Wb}}\)

\(\newcommand {\day }{\mathrm {d}}\)

\(\newcommand {\degree }{\mathrm {^\circ }}\)

\(\newcommand {\hectare }{\mathrm {ha}}\)

\(\newcommand {\hour }{\mathrm {h}}\)

\(\newcommand {\litre }{\mathrm {l}}\)

\(\newcommand {\liter }{\mathrm {L}}\)

\(\newcommand {\arcminute }{^\prime }\)
\(\newcommand {\minute }{\mathrm {min}}\)

\(\newcommand {\arcsecond }{^{\prime \prime }}\)

\(\newcommand {\tonne }{\mathrm {t}}\)

\(\newcommand {\astronomicalunit }{au}\)

\(\newcommand {\atomicmassunit }{u}\)

\(\newcommand {\bohr }{\mathit {a}_0}\)

\(\newcommand {\clight }{\mathit {c}_0}\)

\(\newcommand {\dalton }{\mathrm {D}_\mathrm {a}}\)

\(\newcommand {\electronmass }{\mathit {m}_{\mathrm {e}}}\)

\(\newcommand {\electronvolt }{\mathrm {eV}}\)

\(\newcommand {\elementarycharge }{\mathit {e}}\)

\(\newcommand {\hartree }{\mathit {E}_{\mathrm {h}}}\)

\(\newcommand {\planckbar }{\mathit {\unicode {x210F}}}\)

\(\newcommand {\angstrom }{\mathrm {\unicode {x212B}}}\)

\(\let \LWRorigbar \bar \)

\(\newcommand {\bar }{\mathrm {bar}}\)

\(\newcommand {\barn }{\mathrm {b}}\)

\(\newcommand {\bel }{\mathrm {B}}\)

\(\newcommand {\decibel }{\mathrm {dB}}\)

\(\newcommand {\knot }{\mathrm {kn}}\)

\(\newcommand {\mmHg }{\mathrm {mmHg}}\)

\(\newcommand {\nauticalmile }{\mathrm {M}}\)

\(\newcommand {\neper }{\mathrm {Np}}\)

\(\newcommand {\yocto }{\mathrm {y}}\)

\(\newcommand {\zepto }{\mathrm {z}}\)

\(\newcommand {\atto }{\mathrm {a}}\)

\(\newcommand {\femto }{\mathrm {f}}\)

\(\newcommand {\pico }{\mathrm {p}}\)

\(\newcommand {\nano }{\mathrm {n}}\)

\(\newcommand {\micro }{\mathrm {\unicode {x00B5}}}\)

\(\newcommand {\milli }{\mathrm {m}}\)

\(\newcommand {\centi }{\mathrm {c}}\)

\(\newcommand {\deci }{\mathrm {d}}\)

\(\newcommand {\deca }{\mathrm {da}}\)

\(\newcommand {\hecto }{\mathrm {h}}\)

\(\newcommand {\kilo }{\mathrm {k}}\)

\(\newcommand {\mega }{\mathrm {M}}\)

\(\newcommand {\giga }{\mathrm {G}}\)

\(\newcommand {\tera }{\mathrm {T}}\)

\(\newcommand {\peta }{\mathrm {P}}\)

\(\newcommand {\exa }{\mathrm {E}}\)

\(\newcommand {\zetta }{\mathrm {Z}}\)

\(\newcommand {\yotta }{\mathrm {Y}}\)

\(\newcommand {\percent }{\mathrm {\%}}\)

\(\newcommand {\meter }{\mathrm {m}}\)

\(\newcommand {\metre }{\mathrm {m}}\)

\(\newcommand {\gram }{\mathrm {g}}\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\of }[1]{_{\mathrm {#1}}}\)

\(\newcommand {\squared }{^2}\)

\(\newcommand {\square }[1]{\mathrm {#1}^2}\)

\(\newcommand {\cubed }{^3}\)

\(\newcommand {\cubic }[1]{\mathrm {#1}^3}\)

\(\newcommand {\per }{/}\)

\(\newcommand {\celsius }{\unicode {x2103}}\)

\(\newcommand {\fg }{\femto \gram }\)

\(\newcommand {\pg }{\pico \gram }\)

\(\newcommand {\ng }{\nano \gram }\)

\(\newcommand {\ug }{\micro \gram }\)

\(\newcommand {\mg }{\milli \gram }\)

\(\newcommand {\g }{\gram }\)

\(\newcommand {\kg }{\kilo \gram }\)

\(\newcommand {\amu }{\mathrm {u}}\)

\(\newcommand {\nm }{\nano \metre }\)

\(\newcommand {\um }{\micro \metre }\)

\(\newcommand {\mm }{\milli \metre }\)

\(\newcommand {\cm }{\centi \metre }\)

\(\newcommand {\dm }{\deci \metre }\)

\(\newcommand {\m }{\metre }\)

\(\newcommand {\km }{\kilo \metre }\)

\(\newcommand {\as }{\atto \second }\)

\(\newcommand {\fs }{\femto \second }\)

\(\newcommand {\ps }{\pico \second }\)

\(\newcommand {\ns }{\nano \second }\)

\(\newcommand {\us }{\micro \second }\)

\(\newcommand {\ms }{\milli \second }\)

\(\newcommand {\s }{\second }\)

\(\newcommand {\fmol }{\femto \mol }\)

\(\newcommand {\pmol }{\pico \mol }\)

\(\newcommand {\nmol }{\nano \mol }\)

\(\newcommand {\umol }{\micro \mol }\)

\(\newcommand {\mmol }{\milli \mol }\)

\(\newcommand {\mol }{\mol }\)

\(\newcommand {\kmol }{\kilo \mol }\)

\(\newcommand {\pA }{\pico \ampere }\)

\(\newcommand {\nA }{\nano \ampere }\)

\(\newcommand {\uA }{\micro \ampere }\)

\(\newcommand {\mA }{\milli \ampere }\)

\(\newcommand {\A }{\ampere }\)

\(\newcommand {\kA }{\kilo \ampere }\)

\(\newcommand {\ul }{\micro \litre }\)

\(\newcommand {\ml }{\milli \litre }\)

\(\newcommand {\l }{\litre }\)

\(\newcommand {\hl }{\hecto \litre }\)

\(\newcommand {\uL }{\micro \liter }\)

\(\newcommand {\mL }{\milli \liter }\)

\(\newcommand {\L }{\liter }\)

\(\newcommand {\hL }{\hecto \liter }\)

\(\newcommand {\mHz }{\milli \hertz }\)

\(\newcommand {\Hz }{\hertz }\)

\(\newcommand {\kHz }{\kilo \hertz }\)

\(\newcommand {\MHz }{\mega \hertz }\)

\(\newcommand {\GHz }{\giga \hertz }\)

\(\newcommand {\THz }{\tera \hertz }\)

\(\newcommand {\mN }{\milli \newton }\)

\(\newcommand {\N }{\newton }\)

\(\newcommand {\kN }{\kilo \newton }\)

\(\newcommand {\MN }{\mega \newton }\)

\(\newcommand {\Pa }{\pascal }\)

\(\newcommand {\kPa }{\kilo \pascal }\)

\(\newcommand {\MPa }{\mega \pascal }\)

\(\newcommand {\GPa }{\giga \pascal }\)

\(\newcommand {\mohm }{\milli \ohm }\)

\(\newcommand {\kohm }{\kilo \ohm }\)

\(\newcommand {\Mohm }{\mega \ohm }\)

\(\newcommand {\pV }{\pico \volt }\)

\(\newcommand {\nV }{\nano \volt }\)

\(\newcommand {\uV }{\micro \volt }\)

\(\newcommand {\mV }{\milli \volt }\)

\(\newcommand {\V }{\volt }\)

\(\newcommand {\kV }{\kilo \volt }\)

\(\newcommand {\W }{\watt }\)

\(\newcommand {\uW }{\micro \watt }\)

\(\newcommand {\mW }{\milli \watt }\)

\(\newcommand {\kW }{\kilo \watt }\)

\(\newcommand {\MW }{\mega \watt }\)

\(\newcommand {\GW }{\giga \watt }\)

\(\newcommand {\J }{\joule }\)

\(\newcommand {\uJ }{\micro \joule }\)

\(\newcommand {\mJ }{\milli \joule }\)

\(\newcommand {\kJ }{\kilo \joule }\)

\(\newcommand {\eV }{\electronvolt }\)

\(\newcommand {\meV }{\milli \electronvolt }\)

\(\newcommand {\keV }{\kilo \electronvolt }\)

\(\newcommand {\MeV }{\mega \electronvolt }\)

\(\newcommand {\GeV }{\giga \electronvolt }\)

\(\newcommand {\TeV }{\tera \electronvolt }\)

\(\newcommand {\kWh }{\kilo \watt \hour }\)

\(\newcommand {\F }{\farad }\)

\(\newcommand {\fF }{\femto \farad }\)

\(\newcommand {\pF }{\pico \farad }\)

\(\newcommand {\K }{\mathrm {K}}\)

\(\newcommand {\dB }{\mathrm {dB}}\)

\(\newcommand {\kibi }{\mathrm {Ki}}\)

\(\newcommand {\mebi }{\mathrm {Mi}}\)

\(\newcommand {\gibi }{\mathrm {Gi}}\)

\(\newcommand {\tebi }{\mathrm {Ti}}\)

\(\newcommand {\pebi }{\mathrm {Pi}}\)

\(\newcommand {\exbi }{\mathrm {Ei}}\)

\(\newcommand {\zebi }{\mathrm {Zi}}\)

\(\newcommand {\yobi }{\mathrm {Yi}}\)

\(\require {mhchem}\)

\(\require {cancel}\)

\(\newcommand {\fint }{âĺŊ}\)

\(\newcommand {\hdots }{\cdots }\)

\(\newcommand {\mathnormal }[1]{#1}\)

\(\newcommand {\vecs }[2]{\vec {#1}_{#2}}\)

\(\newcommand {\fracsize }[1]{{\large #1}}\)

\(\newcommand {\matrixsize }[1]{{\scriptsize #1}}\)

\(\newcommand {\extreal }{\ensuremath {\widehat {\mathbb {R}}}}\)

\(\renewcommand {\A }{\ensuremath {\mathcal {A}}}\)

\(\newcommand {\B }{\ensuremath {\mathcal {B}}}\)

\(\renewcommand {\C }{\ensuremath {\mathcal {C}}}\)

\(\newcommand {\E }{\ensuremath {\mathcal {E}}}\)

\(\newcommand {\EW }{\ensuremath {\mathbb {E}}}\)

\(\renewcommand {\L }{\ensuremath {\mathcal {L}}}\)

\(\newcommand {\M }{\ensuremath {\mathcal {M}}}\)

\(\renewcommand {\H }{\ensuremath {\mathcal {H}}}\)

\(\renewcommand {\N }{\ensuremath {\mathcal {N}}}\)

\(\renewcommand {\O }{\ensuremath {\mathcal {O}}}\)

\(\renewcommand {\P }{\ensuremath {\mathcal {P}}}\)

\(\newcommand {\T }{\ensuremath {\mathcal {T}}}\)

\(\renewcommand {\U }{\ensuremath {\mathcal {U}}}\)

\(\renewcommand {\1}{\ensuremath {𝟙}}\)

\(\newcommand {\Pois }{\ensuremath {\text {Pois}}}\)

\(\newcommand {\Var }{\ensuremath {\text {Var}}}\)

\(\newcommand {\Exp }{\ensuremath {\text {Exp}}}\)

\(\newcommand {\id }{\ensuremath {\text {id}}}\)

\(\newcommand {\name }[1]{\textsc {#1}}\)

\(\newcommand {\smallpmatrix }[1]{\left (\begin {smallmatrix}#1\end {smallmatrix}\right )}\)

\(\newcommand {\matlab }{{\fontfamily {bch}\scshape \selectfont {}Matlab}}\)

\(\newcommand {\innerproduct }[1]{\left \langle {#1}\right \rangle }\)

\(\newcommand {\norm }[1]{\left \Vert {#1}\right \Vert }\)

\(\renewcommand {\natural }{\mathbb {N}}\)

\(\newcommand {\integer }{\mathbb {Z}}\)

\(\newcommand {\rational }{\mathbb {Q}}\)

\(\newcommand {\real }{\mathbb {R}}\)

\(\newcommand {\complex }{\mathbb {C}}\)

\(\renewcommand {\d }{\mathop {}\!\mathrm {d}}\)

\(\newcommand {\dr }{\d {}r}\)

\(\newcommand {\ds }{\d {}s}\)

\(\newcommand {\dt }{\d {}t}\)

\(\newcommand {\du }{\d {}u}\)

\(\newcommand {\dv }{\d {}v}\)

\(\newcommand {\dw }{\d {}w}\)

\(\newcommand {\dx }{\d {}x}\)

\(\newcommand {\dy }{\d {}y}\)

\(\newcommand {\dz }{\d {}z}\)

\(\newcommand {\dsigma }{\d {}\sigma }\)

\(\newcommand {\dphi }{\d {}\phi }\)

\(\newcommand {\dvarphi }{\d {}\varphi }\)

\(\newcommand {\dtau }{\d {}\tau }\)

\(\newcommand {\dxi }{\d {}\xi }\)

\(\newcommand {\dtheta }{\d {}\theta }\)

\(\newcommand {\tp }{\mathrm {T}}\)

</div>

<style type="text/css">
.lwarp-contents li.list-item-f0::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f1::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f2::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f3::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f4::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f5::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f6::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f7::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f8::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f9::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f10::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f11::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f12::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f13::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f14::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f15::marker {
  font-style:italic;
  content:'(4)\00a0\00a0';
}
.lwarp-contents li.list-item-f16::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f17::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f18::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f19::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f20::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f21::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f22::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
.lwarp-contents li.list-item-f23::marker {
  font-style:italic;
  content:'(3)\00a0\00a0';
}
.lwarp-contents li.list-item-f24::marker {
  font-style:italic;
  content:'(1)\00a0\00a0';
}
.lwarp-contents li.list-item-f25::marker {
  font-style:italic;
  content:'(2)\00a0\00a0';
}
</style>
<p>

</p>



<h2 id="das-null-eins-gesetz-von-kolmogorov">Das Null-Eins-Gesetz von <span style="font-variant: small-caps;">Kolmogorov</span></h2>

</p>


<p>
<b>terminale \(\sigma \)-Algebra</b>:&#x2003;<br />
Seien \((\Omega , \A )\) ein Messraum und \((\A _n)_{n \in \natural }\) eine Folge von \(\sigma \)-Algebren \(\A _n \subset \A \) auf \(\Omega \).<br />
Sei \(\T _n := \sigma (\bigcup _{k=n}^\infty \A _k)\) fu&#x0308;r \(n \in \natural \) die von \(\A _n, \A _{n+1}, \dotsc \) erzeugte \(\sigma \)-Algebra.<br />
Dann heißt \(\T _\infty := \bigcap _{n=1}^\infty \T _n\) die <em><span class="dashuline" >terminale \(\sigma \)-Algebra</span></em> von \((\A _n)_{n \in \natural }\).<br />
Jedes Ereignis \(A \in \T _\infty \) heißt <em><span class="dashuline" >terminales Ereignis</span></em> von \((\A _n)_{n \in \natural }\).
</p>

<p>
<em>Beispiel</em>: Seien \((\Omega , \A )\) und \((\Omega ’, \A ’)\) zwei Messra&#x0308;ume und \((X_n)_{n \in \natural }\) eine Folge von Zufallsvariablen \(X_n\colon \Omega \rightarrow \Omega ’\). Dann ist
die Folge \((\A _n)_{n \in \natural }\) mit \(\A _n \subset \A \) definiert durch<br />
\(\A _n := \sigma (X_n) := \{X_n^{-1}(A’) \;|\; A’ \in \A ’\}\).<br />
Die terminale \(\sigma \)-Algebra dieser Folge wird mit \(\T _\infty ((\A _n)_{n \in \natural })\) bezeichnet.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Eigenschaften</span>):</span> Seien \((\Omega , \A )\) ein Messraum und \((X_n)_{n \in \natural }\) eine Folge reeller Zufallsvariablen \(X_n\colon
\Omega \rightarrow \real \). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f0"><p>\(\{\omega \in \Omega \;|\; (X_n(\omega ))_{n \in \natural } \text { konv. in } \real \} \in \T _\infty ((X_n)_{n \in \natural })\)
</p>
</li>
<li class="list-item-f1"><p>\(\{\omega \in \Omega \;|\; \limsup _{n \to \infty } X_n(\omega ) \le \alpha \} \in \T _\infty ((X_n)_{n \in \natural })\) fu&#x0308;r \(\alpha \in \real \)
</p>
</li>
<li class="list-item-f2"><p>\(\{\omega \in \Omega \;|\; \liminf _{n \to \infty } X_n(\omega ) \le \alpha \} \in \T _\infty ((X_n)_{n \in \natural })\) fu&#x0308;r \(\alpha \in \real \)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>(stochastisch) unabha&#x0308;ngig</b>:&#x2003; Seien \((\Omega , \A , P)\) ein W-Raum und \((\C _i)_{i \in I}\) eine Familie von Systemen messbarer Mengen \(\C _i \subset \A \) mit \(I \not = \emptyset
\).<br />
Dann heißt \((C_i)_{i \in I}\) <em><span class="dashuline" >(stochastisch) unabha&#x0308;ngig</span></em>, falls fu&#x0308;r jede Wahl von Mengen \(C_i \in \C _i\) die Familie \((C_i)_{i \in I}\) stochastisch
unabha&#x0308;ngig ist.
</p>

<p>
<em>Beispiel</em>: Seien \((\Omega , \A )\) und \((\Omega ’, \A ’)\) zwei Messra&#x0308;ume und \((X_n)_{n \in \natural }\) eine Folge von Zufallsvariablen \(X_n\colon \Omega \rightarrow \Omega ’\). Dann ist
die Folge \((\A _n)_{n \in \natural }\) mit \(\A _n \subset \A \) definiert durch<br />
\(\A _n := \sigma (X_n) := \{X_n^{-1}(A’) \;|\; A’ \in \A ’\}\).<br />
Wenn die \((X_n)_{n \in \natural }\) unabha&#x0308;ngig sind, dann auch die Familie \((\A _n)_{n \in \natural }\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Unabha&#x0308;ngigkeit erweiterbar</span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum und \((\H _i)_{i \in I}\) eine Familie von Halbringen
\(\H _i \subset \A \) mit \(I \not = \emptyset \). Wenn \((\H _i)_{i \in I}\) stochastisch unabha&#x0308;ngig ist, dann auch \((\sigma (\H _i))_{i \in I}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Null-Eins-Gesetz von <span class="textsc" >Kolmogorov</span></span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum, \((\A _n)_{n \in
\natural }\) eine unabha&#x0308;ngige Folge von \(\sigma \)-Algebren \(\A _n \subset \A \) und \(\T _\infty \) die terminale \(\sigma \)-Algebra von \((\A _n)_{n \in \natural }\).<br />
Dann gilt fu&#x0308;r jedes \(A \in \T _\infty \), dass \(P(A) \in \{0, 1\}\).
</p>

<p>
<b>Folgerung</b>: Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge unabha&#x0308;ngiger reeller Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \). Dann gilt fu&#x0308;r
die folgenden Ereignisse \(A \in \A \) immer \(P(A) \in \{0, 1\}\):
</p>
<ul style="list-style-type:none">

<li class="list-item-f3"><p>\(\{\omega \in \Omega \;|\; (X_n(\omega ))_{n \in \natural } \text { konv. in } \real \}\)
</p>
</li>
<li class="list-item-f4"><p>\(\{\omega \in \Omega \;|\; \limsup _{n \to \infty } X_n(\omega ) \le \alpha \}\) fu&#x0308;r \(\alpha \in \real \)
</p>
</li>
<li class="list-item-f5"><p>\(\{\omega \in \Omega \;|\; \liminf _{n \to \infty } X_n(\omega ) \le \alpha \}\) fu&#x0308;r \(\alpha \in \real \)
</p>
</li>
</ul>



<h2 id="konvergenzbegriffe">Konvergenzbegriffe</h2>
<em>Bemerkung</em>: Im Folgenden werden verschiedene Grenzwertsa&#x0308;tze (mehrere Gesetze der großen Zahlen, zentraler Grenzwertsatz) vorgestellt. Dafu&#x0308;r werden verschiedene Konvergenzbegriffe
beno&#x0308;tigt, um zu definieren, wann in einem Maßraum \((\Omega , \A , \mu \) eine Folge \((X_n)_{n \in \natural }\) von reellen Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) gegen eine
Grenzfunktion \(X\colon \Omega \rightarrow \real \) konvergiert. Die bekanntesten Konvergenzbegriffe aus der Analysis, die gleichma&#x0308;ßige und die punktweise Konvergenz, sind zu stark: Die gleichma&#x0308;ßige
Konvergenz ist schon von vorneherein ungeeignet, weil sie einen Zusammenhang zwischen verschiedenen Punkten von \(\Omega \) bzgl. der Konvergenzgeschwindigkeit fordert.
</p>

<p>
Auch die punktweise Konvergenz ist schon zu fordernd: Seien \(X_n\) unabha&#x0308;ngige, identisch Bernoulli-verteilte reelle Zufallsvariablen (d.&#x202f;h. die \(X_n\) nehmen nur die Werte \(0\) und \(1\) an und \(1\) mit
Wahrscheinlichkeit \(p \in (0, 1)\)). Wenn fu&#x0308;r diese Folge \((X_n)_{n \in \natural }\) von Zufallsvariablen das Gesetz der großen Zahlen, also \(Y_n \xrightarrow {n \to \infty } Y\) mit \(Y_n := \frac
{1}{n} \sum _{k=1}^n X_k\) mit \(Y :\equiv \EW (X_n) = p\), gelten soll, dann ist punktweise Konvergenz zu stark, denn es wa&#x0308;re ja durchaus mo&#x0308;glich, dass alle \(X_n\) den Wert \(1\) annehmen. Anders
gesagt gibt es ein \(\omega _0 \in \Omega \) mit \(X_1(\omega _0) = X_2(\omega _0) = \dotsb = 1\), d.&#x202f;h. \(Y_n(\omega _0) \to 1 \not = p = \EW (X_n)\). Somit gilt das Gesetz der großen Zahlen bzgl.
punktweiser Konvergenz i.&#x202f;A. nicht.
</p>

<p>
Daher mu&#x0308;ssen neue Konvergenzbegriffe eingefu&#x0308;hrt werden, die die Wahrscheinlichkeit von unterschiedlichen Ereignissen nutzen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>\(P\)-fast sichere Konvergenz</b>:&#x2003; Seien \((\Omega , \A , P)\) ein W-Raum, \((X_n)_{n \in \natural }\) eine Folge reeller Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) und \(X\colon
\Omega \rightarrow \real \) eine reelle Zufallsvariable.<br />
\((X_n)_{n \in \natural }\) konvergiert <em><span class="dashuline" >\(P\)-fast sicher</span></em> gegen \(X\) (\(X_n \xrightarrow {P\text {-f.s.}} X\)), falls fu&#x0308;r \(X_n(\omega ) \to X(\omega )\)
fu&#x0308;r \(P\)-fast alle \(\omega \in \Omega \), d.&#x202f;h. \(P(\{\omega \in \Omega \;|\; \lim _{n \to \infty } X_n(\omega ) = X(\omega )\}) = 1\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Aussagen u&#x0308;ber \(P\)-fast sichere Konvergenz</span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum, \((X_n)_{n \in \natural }\) eine Folge
reeller Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) und \(X, Y\colon \Omega \rightarrow \real \) reelle Zufallsvariablen. Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f6"><p>Wenn \(X_n \xrightarrow {P\text {-f.s.}} X\) und \(X_n \xrightarrow {P\text {-f.s.}} Y\), dann gilt \(X \underset {P}{=} Y\).
</p>
</li>
<li class="list-item-f7"><p>\(X_n \xrightarrow {P\text {-f.s.}} X\)<br />
\(\iff \forall _{\varepsilon &gt; 0}\; \lim _{n \to \infty } P(\sup _{m \ge n} |X_m - X| &gt; \varepsilon ) = 0\)<br />
\(\iff \forall _{\varepsilon &gt; 0}\; \lim _{n \to \infty } P(\sup _{m \ge n} |X_m - X_n| &gt; \varepsilon ) = 0\) (<em><span class="dashuline" >Cauchy-Kriterium</span></em>)
</p>
</li>
<li class="list-item-f8"><p>Sei \(\exists _{(\varepsilon _n)_{n \in \natural },\; \varepsilon _n &gt; 0}\; \lim _{n \to \infty } \varepsilon _n = 0,\; \sum _{n=1}^\infty P(|X_n - X| \ge \varepsilon _n) &lt;
\infty \).<br />
Dann gilt \(X_n \xrightarrow {P\text {-f.s.}} X\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>stochastische Konvergenz</b>:&#x2003;<br />
\((X_n)_{n \in \natural }\) konvergiert <em><span class="dashuline" >im Maß \(P\)</span></em>/<em><span class="dashuline" >stochastisch</span></em> gegen \(X\) (\(X_n \xrightarrow {\text {stoch.}} X\)),
falls<br />
\(\forall _{\varepsilon &gt; 0}\; \lim _{n \to \infty } P(|X_n - X| &gt; \varepsilon ) = 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Aussagen u&#x0308;ber stochastische Konvergenz</span>):</span> Unter den gleichen Voraussetzungen gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f9"><p>Wenn \(X_n \xrightarrow {P\text {-f.s.}} X\) gilt, dann auch \(X_n \xrightarrow {\text {stoch.}} X\).
</p>
</li>
<li class="list-item-f10"><p>\(X_n \xrightarrow {\text {stoch.}} X \iff \forall _{(X_{n_k})_{k \in \natural } \text { Teilfolge von } (X_n)_{n \in \natural }}\; \exists _{(X_{n_{k_\ell }})_{l \in \natural }
\text { Teilfolge von } (X_{n_k})_{k \in \natural }}\; X_{n_{k_\ell }} \xrightarrow {P\text {-f.s.}} X\)
</p>
</li>
<li class="list-item-f11"><p>Wenn \(X_n \xrightarrow {\text {stoch.}} X\) und \(X_n \xrightarrow {\text {stoch.}} Y\), dann gilt \(X \underset {P}{=} Y\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>\(\L ^p(P)\)-Konvergenz</b>:&#x2003;<br />
\((X_n)_{n \in \natural }\) konvergiert fu&#x0308;r \(p \ge 1\) <em><span class="dashuline" >im \(p\)-Mittel</span></em>/<em><span class="dashuline" >in \(\L ^p(P)\)</span></em> gegen \(X\) (\(X_n
\xrightarrow {\L ^p(P)} X\)), falls<br />
\(X_n, X \in \L ^p(P)\) und \(\lim _{n \to \infty } \norm {X_n - X}_p = \lim _{n \to \infty } \left (\int _\Omega |X_n - X|^p dP\right )^{1/p} = 0\),<br />
d.&#x202f;h. \(\lim _{n \to \infty } \EW (|X_n - X|^p) = 0\).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Aussagen u&#x0308;ber \(\L ^p(P)\)-Konvergenz</span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum, \(p &gt; 0\), \((X_n)_{n \in \natural }\)
eine Folge reeller Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) mit \(X_n \in \L ^p(P)\) und \(X, Y\colon \Omega \rightarrow \real \) reelle Zufallsvariablen mit \(X, Y \in \L ^p(P)\). Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f12"><p>Wenn \(X_n \xrightarrow {\L ^p(P)} X\) gilt, dann auch \(X_n \xrightarrow {\text {stoch.}} X\).
</p>
</li>
<li class="list-item-f13"><p>Wenn \(X_n \xrightarrow {\L ^p(P)} X\) und \(X_n \xrightarrow {\L ^p(P)} Y\), dann gilt \(X \underset {P}{=} Y\).
</p>
</li>
<li class="list-item-f14"><p>\(\L ^p(P)\) ist bzgl. der Halbnorm \(\norm {\cdot }_p\) vollsta&#x0308;ndig, d.&#x202f;h.<br />
\(X_n \xrightarrow {\L ^p(P)} X \iff \forall _{\varepsilon &gt; 0} \exists _{n_0 \in \natural } \forall _{n, m \in n_0}\; \norm {X_n - X_m}_p &lt; \varepsilon \) (<em><span class="dashuline"
>Satz von <span class="textsc" >Riesz</span>-<span class="textsc" >Fischer</span></span></em>).
</p>
</li>
<li class="list-item-f15"><p>Fu&#x0308;r \(0 &lt; q &lt; p\) gilt: Wenn \(X_n \xrightarrow {\L ^p(P)} X\) gilt, dann auch \(X_n \xrightarrow {\L ^q(P)} X\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Konvergenz in Verteilung</b>:&#x2003;<br />
\((X_n)_{n \in \natural }\) konvergiert <em><span class="dashuline" >in Verteilung</span></em> gegen \(X\) (\(X_n \xrightarrow {\text {(d)}} X\)), falls<br />
\(\lim _{n \to \infty } \int _\real f dP_{X_n} = \int _\real f dP_X\) fu&#x0308;r jede stetige beschra&#x0308;nkte Funktion \(f\colon \real \rightarrow \real \),<br />
d.&#x202f;h. \(\lim _{n \to \infty } \int _\Omega (f \circ X_n) dP = \int _\Omega (f \circ X) dP\) (die Folge \((P_{X_n})_{n \in \natural }\) der Verteilungen von \(X_n\) konvergiert <em><span
class="dashuline" >schwach</span></em> gegen die Verteilung \(P_X\) von \(X\)).
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Aussagen u&#x0308;ber Konvergenz in Verteilung</span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum, \((X_n)_{n \in \natural }\) eine Folge
reeller Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) und \(X, Y\colon \Omega \rightarrow \real \) reelle Zufallsvariablen. Fu&#x0308;r eine reelle Zufallsvariable \(Z\) sei \(P_Z\) ihre Verteilung und
\(F_Z\) die Verteilungsfunktion. Dann gilt:
</p>
<ul style="list-style-type:none">

<li class="list-item-f16"><p>Wenn \(X_n \xrightarrow {\text {stoch.}} X\) gilt, dann auch \(X_n \xrightarrow {\text {(d)}} X\).
</p>
</li>
<li class="list-item-f17"><p>Wenn \(X_n \xrightarrow {\text {(d)}} X\) und \(X_n \xrightarrow {\text {(d)}} Y\), dann gilt \(P_X = P_Y\) (d.&#x202f;h. \(X\) und \(Y\) sind identisch verteilt).
</p>
</li>
<li class="list-item-f18"><p>\(X_n \xrightarrow {\text {(d)}} X \iff \forall _{x \in \real ,\; F_X \text { stetig in } x}\; \lim _{n \to \infty } F_{X_n}(x) = F_X(x)\)
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Es gelten also folgende Beziehungen:
</p>


<div class="displaymath" >

<a id="autoid-1" ></a >

<p>
<span
    id="lateximage-probability-theory-1"
    class="lateximagesource"
><!--
                                 L p (P)-Konv.
                                           q<p
                                       
P -f.s. Konv.                    L q (P)-Konv.

                  $,       rz
                stoch. Konv.

                       
                Konv. in Vert.
--><img
   src="/class-notes/images/lectures/probability-theory/image-1.svg"
   alt="(3.1–3.0) \{begin}{align*} \begin{xy} \xymatrix { &amp; &amp; \L ^p(P)\text {-Konv.} \ar @{=&gt;}[d]^{\;q &lt; p}\\ P\text {-f.s. Konv.} \ar @{=&gt;}[dr] &amp; &amp; \L ^q(P)\text
{-Konv.} \ar @{=&gt;}[dl]\\ &amp; \text {stoch. Konv.} \ar @{=&gt;}[d] &amp;\\ &amp; \text {Konv. in Vert.} } \end {xy} \{end}{align*} "
   style=""
   class="lateximage"
></span>
</p>
</div>



<h2 id="gesetze-der-grossen-zahlen">Gesetze der großen Zahlen</h2>

</p>


<p>
<em>Bemerkung</em>: Man kann die Wahrscheinlichkeitstheorie durch zwei verschiedene unterschiedliche Sichtweisen begru&#x0308;nden. Einmal kann man Wahrscheinlichkeit eines Ereignisses \(A\) bei einem
Laplace-Experiment mit \(n\) gleichwahrscheinlichen Versuchsausga&#x0308;ngen als Quotient der Anzahlen der Ergebnisse, bei denen \(A\) eintrifft, durch \(n\) betrachten. Daraus wurde ganz am Anfang die axiomatische
Definition des Wahrscheinlichkeitsraums nach Kolmogorov gewonnen.
</p>

<p>
Andererseits kann man allerdings Wahrscheinlichkeit als Grenzwert relativer Ha&#x0308;ufigkeiten betrachten. Man fu&#x0308;hrt das Experiment unendlich oft durch und bezeichnet mit \(k_A(n)\) die Anzahl der Ergebnisse
unter den ersten \(n\), bei denen \(A\) eingetreten ist. Dann ist die Wahrscheinlichkeit nach Monte-Carlo der Grenzwert \(p(A) = \lim _{n \to \infty } \frac {k_A(n)}{n}\).
</p>

<p>
Mit dem Gesetz der großen Zahlen lassen sich diese beiden Sichtweise vereinen, denn ausgehend von der axiomatischen Definition des Wahrscheinlichkeitsraums kann man mit ihnen die statistische Stabilita&#x0308;t der relativen
Ha&#x0308;ufigkeiten von Ereignissen beweisen.
</p>

<p>
Dazu sei \((\Omega , \A , P)\) ein W-Raum, bei dem man sich vorstellt, dass er die abza&#x0308;hlbar unendlich ha&#x0308;ufige, unabha&#x0308;ngige Wiederholung eines Einzelexperiments modelliert, und \(A\) ein
Ereignis zu diesem Einzelexperiment. Fu&#x0308;r \(k \in \natural \) sei \(X_k\colon \Omega \rightarrow \real \) die Funktion, sodass \(X_k(\omega ) = 1\) fu&#x0308;r \(A\) in \(\omega \in \Omega \) eingetreten
und \(X_k(\omega ) = 0\) sonst. Seien diese \(X_k\) messbar und sogar \(X_k \in \L ^1(P)\) (d.&#x202f;h. die \(X_k\) sind integrierbare, reelle Zufallsvariablen).
</p>

<p>
Weil die Einzelexperimente voneinander unabha&#x0308;ngig und gleichartig sind, sind die \(X_k\) unabha&#x0308;ngige Zufallsvariablen mit identischer Verteilung sowie \(\EW (X_k)\) ist die Wahrscheinlichkeit, dass \(A\) im
Einzelexperiment eintritt. \(k_A(n) := \sum _{k=1}^n X_k(\omega )\) sei nun die Ha&#x0308;ufigkeit von \(A\) unter den ersten \(n\) Experimenten in der Realisierung \(\omega \in \Omega \). Wenn nun die relative
Ha&#x0308;ufigkeit von \(A\) gegen die Wahrscheinlichkeit konvergieren soll, muss \(\frac {1}{n} \sum _{k=1}^n X_k(\omega ) \xrightarrow {n \to \infty } \EW (X_1)\) gelten. A&#x0308;quivalent dazu ist \(\frac
{1}{n} \sum _{k=1}^n (X_k - \EW (X_k)) \xrightarrow {n \to \infty } 0\). Das ist die Formulierung des Gesetzes der großen Zahlen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<b>Gesetz der großen Zahlen</b>:&#x2003; Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge von reellen Zufallsvariablen mit \(X_n \in \L ^1(P)\).
</p>
<ul style="list-style-type:none">

<li class="list-item-f19"><p>\((X_n)_{n \in \natural }\) <em><span class="dashuline" >genu&#x0308;gt dem Gesetz der großen Zahlen bzgl. eines bestimmten Konvergenzbegriffs</span></em>, falls \(\frac {1}{n} \sum _{k=1}^n (X_k -
\EW (X_k)) \xrightarrow {n \to \infty } 0\) bzgl. dieses Konvergenzbegriffs.
</p>
</li>
<li class="list-item-f20"><p>\((X_n)_{n \in \natural }\) <em><span class="dashuline" >genu&#x0308;gt dem schwachen/starken Gesetz der großen Zahlen</span></em>, falls \((X_n)_{n \in \natural }\) dem Gesetz der großen Zahlen
bzgl. stoch./\(P\)-fast sicherer Konvergenz genu&#x0308;gt.
</p>
</li>
</ul>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >schwaches Gesetz der großen Zahlen</span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge von reellen
Zufallsvariablen \(X_n\colon \Omega \rightarrow \real \) mit \(X_n \in \L ^2(P)\), die paarweise unkorreliert sind (d.&#x202f;h. \(\EW (X_k \cdot X_\ell ) = \EW (X_k) \cdot \EW (X_\ell )\) fu&#x0308;r \(k
\not = \ell \)). Außerdem gelte \(\lim _{n \to \infty } \frac {1}{n^2} \sum _{k=1}^n \Var (X_k) = 0\).<br />
Dann genu&#x0308;gt \((X_n)_{n \in \natural }\) dem Gesetz der großen Zahlen bzgl. \(\L ^2(P)\)-Konvergenz, d.&#x202f;h. insbesondere dem schwachen Gesetz der großen Zahlen.<br />
Bzgl. der Konvergenzgeschwindigkeit gilt fu&#x0308;r \(n \in \natural \), dass<br />
\(\norm {\frac {1}{n} \sum _{k=1}^n (X_k - \EW (X_k))}_2 \le \frac {1}{n} \sqrt {\sum _{k=1}^n \Var (X_k)}\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >starkes Gesetz der großen Zahlen mit \(\L ^2\)-Integrierbarkeit</span>):</span> Seien \((\Omega , \A , P)\) ein<br />
W-Raum und \((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^2(P)\). Dann genu&#x0308;gt \((X_n)_{n \in \natural }\) dem
starken Gesetz der großen Zahlen.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >starkes Gesetz der großen Zahlen von &#x202f;<span class="textsc" >Etemadi</span></span>):</span> Seien \((\Omega , \A , P)\) ein<br />
W-Raum und \((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^1(P)\). Dann genu&#x0308;gt \((X_n)_{n \in \natural }\) dem
starken Gesetz der großen Zahlen.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Beim Beweis des starken Gesetzes der großen Zahlen von Etemadi muss man mit abgeschnittenen Zufallsvariablen rechnen.
</p>

<p>
<em>Lemma</em> (<span class="textsl" >abgeschnittene Zufallsvariablen</span>): Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge von identisch verteilten, reellen Zufallsvariablen
\(X_n \in \L ^1(P)\). Fu&#x0308;r \(n \in \natural \) sei<br />
\(\widehat {X}_n := X_n \cdot \1_{\{|X_n| \le n\}}\colon \Omega \rightarrow \real \), \(\omega \mapsto X_n(\omega )\) fu&#x0308;r \(X_n(\omega ) \le n\) und \(\omega \mapsto 0\) sonst<br />
die <em><span class="dashuline" >abgeschnittene Zufallsvariable</span></em>.
</p>
<ul style="list-style-type:none">

<li class="list-item-f21"><p>Es gilt \(\widehat {X}_n \in \L ^2(P)\).
</p>
</li>
<li class="list-item-f22"><p>Wenn fu&#x0308;r die Folge \((\widehat {X}_n)_{n \in \natural }\) von Zufallsvariablen die Beziehung \(\frac {1}{n} \sum _{k=1}^n \widehat {X}_k \xrightarrow {P\text {-f.s.}} \EW (X_1)\)
gilt, so genu&#x0308;gt \((X_n)_{n \in \natural }\) dem starken Gesetz der großen Zahlen.
</p>
</li>
<li class="list-item-f23"><p>Es gilt \(\sum _{n=1}^\infty \frac {\EW (\widehat {X}_n)}{n^2} \le 4 \EW (|X_1|)\).
</p>
</li>
</ul>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Eine <em><span class="dashuline" >Monte-Carlo-Methode</span></em> ist ein randomisierter Algorithmus, der durch Zufallszahlen versucht, ein exaktes Ergebnis anzuna&#x0308;hern.
Monte-Carlo-Methoden gibt es zum Beispiel bei der numerischen Quadratur, also bei der na&#x0308;herungsweisen Berechnung eines eindimensionalen Integrals.
</p>

<p>
Sei dazu \(f\colon [0, 1] \rightarrow [0, 1]\) ein integrierbare Funktion (ansonsten transformiert man um). Man kann zwei verschiedene Integrationsmethoden betrachten:
</p>
<ul style="list-style-type:none">

<li class="list-item-f24"><p>Seien \(X\) und \(Y\) zwei unabha&#x0308;ngige, auf \([0, 1]\) kontinuierlich gleichverteilte Zufallsvariablen. Definiere \(Z := \1_{\{f(X) \ge Y\}}\). Weil \(Z\) nur die Werte \(0\) und \(1\) annehmen kann,
gilt<br />
\(\EW (Z) = P(Z = 1) = P(f(X) \ge Y) = \int _\Omega \1_{\{f(X) \ge Y\}} dP = \int _{[0, 1]^1} \1_{\{f(x) \ge y\}} d\lambda ^2(x, y)\)<br />
\(= \int _0^1 \int _0^{f(x)} 1 \dy \dx = \int _0^1 f(x)\dx \) (wegen \(X\) und \(Y\) unabha&#x0308;ngig besitzt die \([0, 1]^2\)-wertige Zufallsvariable \((X, y)\) die Verteilung \(\lambda _{[0, 1]} \otimes
\lambda _{[0, 1]} = \lambda _{[0, 1]^2}\)).
</p>
<p>
Ist \((Z_n)_{n \in \natural }\) eine Folge von unabha&#x0308;ngigen, auf diese Weise konstruierten Zufallsvariablen, so gilt daher nach dem starken Gesetz der großen Zahlen \(\frac {1}{n} \sum _{k=1}^n Z_k
\xrightarrow {\lambda _{[0,1]^2}\text {-f.s.}} \int _0^1 f(x)\dx \).
</p>
</li>
<li class="list-item-f25"><p>Sei \(X\) eine auf \([0, 1]\) gleichverteilte Zufallsvariable und \(Y := f \circ X\). Dann ist auch \(Y\) integrierbar und es gilt \(\EW (Y) = \EW (f \circ X) = \int _\Omega (f \circ X)dP = \int _{[0,
1]} fd\lambda = \int _0^1 f(x)\dx \).
</p>
<p>
Ist \((Y_n)_{Y \in \natural }\) eine Folge von unabha&#x0308;ngigen, auf diese Weise konstruierten Zufallsvariablen, so gilt daher nach dem starken Gesetz der großen Zahlen \(\frac {1}{n} \sum _{k=1}^n Y_k
\xrightarrow {\lambda _{[0,1]^2}\text {-f.s.}} \int _0^1 f(x)\dx \).
</p>
</li>
</ul>

<p>
In der Praxis realisiert man die na&#x0308;herungsweise Berechnung von \(\int _0^1 f(x)\dx \) mit<br />
(Pseudo-)Zufallszahlen.
</p>



<h2 id="der-zentrale-grenzwertsatz">Der zentrale Grenzwertsatz</h2>

</p>


<p>
<em>Bemerkung</em>: Sei \((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^2(P)\) gegeben. Nach dem starken Gesetz der großen
Zahlen gilt \(\frac {1}{n} \sum _{k=1}^n X_k \xrightarrow {P\text {-f.s.}} \mu := \EW (X_1)\). Nun soll untersucht werden, wie der Mittelwert um den Grenzwert schwankt. Dazu definiert man \(Y_n := \frac
{1}{n} \sum _{k=1}^n X_k - \mu \). Aufgrund \(\Var (Y_n) \to 0\) fu&#x0308;r \(n \to \infty \) nomriert man die \(Y_n\) noch, d.&#x202f;h. man geht zur Folge \((Z_n)_{n \in \natural }\) mit \(Z_n := \frac
{Y_n}{\sqrt {\Var (Z_n)}} = \frac {\sum _{k=1}^n X_k - n \mu } {\sqrt {n \sigma ^2}}\) mit \(\sigma ^2 := \Var (X_1)\) u&#x0308;ber (wobei momentan \(\sigma ^2 \not = 0\) vorausgesetzt wird).
</p>

<p>
Wenn die \(X_n\) Bernoulli-verteilt sind, so kann man durch Rechnung mithilfe der Stirling-Formel zeigen, dass die \(Z_n\) in Verteilung gegen eine Zufallsvariable \(Z\) konvergieren, die standard-normalverteilt ist (\(Z \sim \N
(0, 1)\)). Diese Aussage ist der <em><span class="dashuline" >Satz von <span class="textsc" >Moivre</span>-<span class="textsc" >Laplace</span></span></em>.
</p>

<p>
In Wirklichkeit stimmt diese Aussage aber immer, unabha&#x0308;ngig von der gemeinsamen Verteilung der \(X_n\). Damit erha&#x0308;lt man den zentralen Grenzwertsatz.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >zentraler Grenzwertsatz</span>):</span><br />
Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^2(P)\) mit \(\mu := \EW (X_1)\)
und \(\sigma ^2 := \Var (X_1) &gt; 0\).<br />
Dann gilt \(Z_n \xrightarrow {\text {(d)}} Z\) mit \(Z ~ \N (0, 1)\) und \(Z_n := \frac {1}{\sqrt {n \sigma ^2}} \sum _{k=1}^n (X_k - \mu )\).
</p>

<p>
<em>Bemerkung</em>: Fu&#x0308;r \(\sigma ^2 = 0\) sind die \(X_k\) alle \(P\)-f.u&#x0308;. gleich \(\mu \). Daher konvergiert \(\frac {1}{n} \sum _{k=1}^n (X_k - \mu )\) \(P\)-f.s., d.&#x202f;h. insbesondere in
Verteilung, gegen \(0\), also gegen eine Dirac-verteilte Zufallsvariable (z.&#x202f;B. \(\delta _{\{0\}}\)).<br />
Mit folgendem Korollar kann man die Schwankungsbreite der Konvergenz abscha&#x0308;tzen.
</p>

<p>
<b>Folgerung</b>:<br />
Seien \((\Omega , \A , P)\) ein W-Raum und \((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^2(P)\) mit \(\mu := \EW (X_1)\)
und \(\sigma ^2 := \Var (X_1) &gt; 0\).<br />
Außerdem seien \(\alpha , \beta \in \extreal \) mit \(\alpha &lt; \beta \).<br />
Dann gilt \(\lim _{n \to \infty } P(\{\alpha &lt; \frac {1}{\sqrt {n\sigma ^2}} \sum _{k=1}^n (X_k - \mu ) &lt; \beta \}) = \frac {1}{\sqrt {2\pi }} \int _\alpha ^\beta e^{-t^2/2} \dt \). Die
Gleichung beha&#x0308;lt auch durch Ersetzen von „\(&lt;\)“ mit „\(\le \)“ an einer oder beiden Stellen ihre Gu&#x0308;ltigkeit.
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Beispiel</em>: Wenn man eine physikalische Gro&#x0308;ße messen will, kann man \(n\) voneinander unabha&#x0308;ngige Messungen durchfu&#x0308;hren und den Mittelwert bilden. Der Erwartungswert jeder Messung
sei der tatsa&#x0308;chliche Wert \(\mu \) und die Varianz \(\sigma ^2 &gt; 0\) sei positiv (d.&#x202f;h. eine gewisse Messungenauigkeit ist vorhanden). Wie viele Messungen mu&#x0308;ssen durchgefu&#x0308;hrt werden,
damit man mit einer Wahrscheinlichkeit von mindestens \(p\) ausschließen kann, dass die Abweichung des Ergebnisses vom tatsa&#x0308;chlichen Wert \(\mu \) gro&#x0308;ßer als \(\varepsilon \) ist?
</p>

<p>
Seien \(X_1, \dotsc , X_n\) die \(n\) Messungen in Form von Zufallsvariablen (paarweise unabha&#x0308;ngig, identisch verteilt, \(\mu := \EW (X_1)\) und \(\sigma ^2 := \Var (X_1) &gt; 0\)). Es gilt
\(P(\{-\varepsilon &lt; \frac {1}{n} \sum _{k=1}^n X_k - \mu &lt; \varepsilon \}) = P(\{(-\varepsilon \sqrt {\frac {n}{\sigma ^2}} &lt; \frac {1}{\sqrt {n\sigma ^2}} \sum _{k=1}^n (X_k - \mu
) &lt; \varepsilon \sqrt {\frac {n}{\sigma ^2}}\})\). Nach obigem Korollar ist dies fu&#x0308;r große \(n\) ungefa&#x0308;hr gleich \(\frac {1}{\sqrt {2\pi }} \int _{-\varepsilon \sqrt {n/\sigma
^2}}^{\varepsilon \sqrt {n/\sigma ^2}} e^{-t^2/2} \dt = \frac {2}{2\pi } \int _{-\infty }^{\varepsilon \sqrt {n/\sigma ^2}} e^{-t^2/2} \dt - 1\). Um zu bestimmen, wann das gro&#x0308;ßer als \(p\)
ist, kann man in Quantiltabellen fu&#x0308;r die Standard-Normalverteilung den Wert der Verteilungsfunktion nachschlagen.
</p>

<p>
Fu&#x0308;r \(\sigma ^2 = 4\), \(\varepsilon = \frac {1}{2}\) und \(p = \frac {19}{20}\) erha&#x0308;lt man z.&#x202f;B. \(n &gt; 61{,}47\).
</p>

<p>
<span
    class="textcolor"
    style="color:#808080"
>
</span>
</p>

<p>
<em>Bemerkung</em>: Wenn zusa&#x0308;tzlich zu den Voraussetzungen vom zentralen Grenzwertsatz \(X_n \in \L ^3(P)\) gilt, dann ist die Konvergenz im zentralen Grenzwertsatz gleichma&#x0308;ßig und die
Konvergenzgeschwindigkeit ist mindestens \(\O (\frac {1}{\sqrt {n}})\), wie der folgende Satz zeigt.
</p>

<p>
<span class="uline" ><em>Satz</em> (<span class="textsl" >Satz von <span class="textsc" >Berry</span>-<span class="textsc" >Esseen</span></span>):</span> Seien \((\Omega , \A , P)\) ein W-Raum und
\((X_n)_{n \in \natural }\) eine Folge von paarweise unabha&#x0308;ngigen, identisch verteilten, reellen Zufallsvariablen \(X_n \in \L ^3(P)\) mit \(\mu := \EW (X_1)\) und \(\sigma ^2 := \Var (X_1) &gt; 0\).<br
/>
Seien außerdem \(F_n(x) := P(\{Z_n \le x\})\) und \(F(x) := \frac {1}{\sqrt {2\pi }} \int _{-\infty }^x e^{-t^2/2} \dt \) die Verteilungsfunktionen von \(Z_n\) und der Standard-Normalverteilung \(\N (0,
1)\).<br />
Dann gilt \(\sup _{x \in \real } |F_n(x) - F(x)| \le \frac {4 \EW (|X_1|^3)}{5 \sigma ^3} \cdot \frac {1}{\sqrt {n}}\).
</p>

<a id="probability-theory-autofile-last"></a>
{% endraw %}
</div>
{:/nomarkdown}
